<template>
  <div class="bg6">
    <div>
      <q-toolbar class="bg-black text-white">
        <q-toolbar-title>ระดับการเรียน > เนื้อหา</q-toolbar-title>
        <q-btn @click="printBtn()" dense round class="bg1 cl2 q-mx-md" icon="fas fa-print"></q-btn>
        <q-btn @click="closetBtn()" dense round class="bg1 cl2 q-ml-sm" icon="fas fa-times"></q-btn>
      </q-toolbar>
    </div>
    <div align="center" class="q-py-lg">
      <div class="bg7 shadow-1 paper q-my-lg cl2">
        <div>Unit</div>
        <div style="height:1px ; width:100%" class="hr2"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    closetBtn() {
      this.$router.push("/level");
    }
  }
};
</script>

<style scoped>
.paper {
  width: 210mm;
  height: 297mm;
}
.hr2 {
  background-color: #5c5c5c;
}
</style>