<template>
  <div>
    <div align="center">
      <div style="width:100% ; max-width:650px" class="row q-px-md">
        <div align="center" class="col-11 q-py-lg text-h5">ระดับการเรียน</div>
        <div class="col-1 q-py-lg">
          <q-btn @click="addBtn()" round class="bg1 cl2" icon="fas fa-plus"></q-btn>
        </div>
      </div>
    </div>
    <div align="center">
      <div class="q-pa-md" style="width:100% ; max-width:650px">
        <q-table
          :data="data"
          :columns="columns"
          row-key="name"
          :pagination.sync="pagination"
          square
          dark
          hide-bottom
        >
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="level" :props="props">{{props.row.level}}</q-td>
              <q-td key="unit" :props="props">{{props.row.unit}}</q-td>
              <q-td
                style="width:100px"
                @click="deleteBtn(props.row.key)"
                key="delete"
                :props="props"
              >
                <q-icon class="cl1 cursor-pointer" size="18px" name="fas fa-trash-alt" />
              </q-td>
              <q-td style="width:100px" @click="editBtn(props.row.key)" key="edit" :props="props">
                <q-icon class="cl1 cursor-pointer" size="18px" name="fas fa-edit" />
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>
    </div>
    <!-- dialog add -->
    <q-dialog v-model="prompt" persistent content-class="backdrop">
      <q-card class="bg3" style="width:400px;">
        <q-card-section class="row items-center">
          <q-space />
          <div class="text-h6">เพิ่มระดับการเรียน</div>
          <q-space />
        </q-card-section>

        <q-card-section align="center">
          <div class="q-pb-lg">
            <q-select
              dark
              dense
              color="amber-13"
              square
              outlined
              v-model="levelData.level"
              :options="levelOptions"
              label="level"
            />
          </div>
          <div class="q-pb-lg">
            <q-select
              dark
              dense
              color="amber-13"
              square
              outlined
              v-model="levelData.unit"
              :options="unitOptions"
              label="unit"
            />
          </div>
        </q-card-section>

        <q-card-actions class="cl2" align="center">
          <div class="row q-pb-lg">
            <div class="col-6 q-pr-sm">
              <q-btn flat label="ยกเลิก" class="bg7" v-close-popup style="width:140px;" />
            </div>
            <div class="col-6 q-pl-sm">
              <q-btn
                @click="saveBtn()"
                flat
                label="บันทึก"
                class="bg1"
                v-close-popup
                style="width:140px;"
              />
            </div>
          </div>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- DIALOG EDIT -->
    <q-dialog v-model="dialogEdit" persistent>
      <q-card class="bg3" style="width:400px;">
        <q-card-section class="row items-center">
          <q-space />
          <div class="text-h6">แก้ไขระดับการเรียน</div>
          <q-space />
        </q-card-section>

        <q-card-section align="center">
          <div class="q-pb-lg">
            <q-select
              dark
              dense
              color="amber-13"
              square
              outlined
              v-model="levelData.level"
              :options="levelOptions"
              label="level"
            />
          </div>
          <div class="q-pb-lg">
            <q-select
              dark
              dense
              color="amber-13"
              square
              outlined
              v-model="levelData.unit"
              :options="unitOptions"
              label="unit"
            />
          </div>
        </q-card-section>

        <q-card-actions class="cl2" align="center">
          <div class="row q-pb-lg">
            <div class="col-6 q-pr-sm">
              <q-btn flat label="ยกเลิก" class="bg7" v-close-popup style="width:140px;" />
            </div>
            <div class="col-6 q-pl-sm">
              <q-btn
                @click="saveEditBtn()"
                flat
                label="บันทึก"
                class="bg1"
                v-close-popup
                style="width:140px;"
              />
            </div>
          </div>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import router, { db } from "../../router/index.js";
export default {
  data() {
    return {
      userKey: "",

      dialogEdit: false,
      pagination: {
        rowsPerPage: 0
      },
      levelData: {
        level: "1",
        unit: "1"
      },
      levelOptions: [
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9",
        "10",
        "11",
        "12",
        "13",
        "14",
        "15",
        "16",
        "17",
        "18",
        "19",
        "20"
      ],

      unitOptions: [
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9",
        "10",
        "11",
        "12",
        "13",
        "14",
        "15",
        "16",
        "17",
        "18",
        "19",
        "20"
      ],

      prompt: false,
      columns: [
        {
          name: "level",
          align: "center",
          label: "level",
          field: "level"
        },
        {
          name: "unit",
          align: "center",
          label: "unit",
          field: "unit"
        },

        {
          name: "delete",
          align: "center",
          label: "ลบ",
          field: "delete"
        },
        {
          name: "edit",
          align: "center",
          label: "แก้ไข",
          field: "edit"
        }
      ],
      data: [],
      useDel: true,
      levelList: []
    };
  },
  methods: {
    contentLink(key) {
      this.$router.push("/level/content/" + key);
    },
    addBtn() {
      this.prompt = true;
      this.levelOptions = [];
      let count = 0;
      for (let index = 1; index <= 20; index++) {
        if (index == this.data[count].level) {
          if (count == this.data.length - 1) {
          } else {
            count++;
          }
        } else {
          this.levelOptions.push(index.toString());
        }
      }
      this.levelData.level = this.levelOptions[0];
      this.levelData.unit = "1";
    },
    saveBtn() {
      db.collection("level")
        .add(this.levelData)
        .then(() => {
          this.notifyGreen("บันทึกข้อมูลสำเร็จ");
          this.levelData.unit = "1";
          this.loadData();
        });
    },

    loadData() {
      this.loadingShow();
      this.data = [];
      this.levelList = [];
      db.collection("level")
        .orderBy("level")
        .get()
        .then(doc => {
          doc.forEach(element => {
            let datakey = {
              key: element.id
            };
            let final = {
              ...datakey,
              ...element.data()
            };
            this.data.push(final);
          });
          this.data.sort((a, b) => {
            return Number(a.level) - Number(b.level);
          });
          this.data.forEach(x => {
            let temp = {
              label: x.level,
              value: x.key
            };
            this.levelList.push(temp);
          });
          // console.log(this.levelList);
          // this.$q.localStorage.remove("levelList");
          this.$q.localStorage.set("levelList", this.levelList);
          this.loadingHide();
        });
    },

    async deleteBtn(key) {
      if (!this.useDel) {
        return;
      }
      this.useDel = false;
      let mapData = this.data.map(x => {
        return x.key;
      });
      let indexOf = mapData.indexOf(key);
      let currentLevel = this.data[indexOf].level;

      await db
        .collection("practicepool_draft")
        .where("level", "==", currentLevel.toString())
        .get()
        .then(doc => {
          // return;
          this.useDel = true;
          if (doc.size > 0) {
            // ถ้ามีแบบฝึกหัดอยู่ไม่สามารถลบได้
            this.loadingHide();
            this.$q.dialog({
              title: "แจ้งเตือน",
              message:
                "ไม่สามารถลบ Level นี้ได้ มีแบบฝึกหัดใช้งาน Level " +
                currentLevel +
                " อยู่",
              ok: "ตกลง",
              // cancel: "ยกเลิก",
              dark: true,
              persistent: true
            });
            return;
          } else {
            this.loadingHide();
            this.$q
              .dialog({
                title: "ลบข้อมูล",
                message: "ต้องการที่จะลบข้อมูลใช่หรือไม่",
                ok: "ตกลง",
                cancel: "ยกเลิก",
                dark: true,
                persistent: true
              })
              .onOk(async () => {
                // ลบชื่อแบบฝึกหัดและแบบฝึกหัด ไม่ให้้างในระบบ แล้วลบเลเวล
                let practiceListName = await db
                  .collection("practiceListName")
                  .where("level", "==", currentLevel)
                  .get();

                let practicelist = await db
                  .collection("practicelist")
                  .where("level", "==", currentLevel)
                  .get();

                practiceListName.forEach(element1 => {
                  db.collection("practiceListName")
                    .doc(element1.id)
                    .delete();
                });

                practicelist.forEach(element2 => {
                  db.collection("practicelist")
                    .doc(element2.id)
                    .delete();
                });

                db.collection("level")
                  .doc(key)
                  .delete()
                  .then(() => {
                    this.notifyGreen("ลบข้อมูลเรียบร้อยแล้ว");
                    this.loadData();
                  });
              });
          }
        });
    },
    editBtn(key) {
      this.userKey = key;
      this.loadEdit(key);
    },
    loadEdit(key) {
      this.levelOptions = [];
      for (let i = 1; i <= 20; i++) {
        this.levelOptions.push(i);
      }
      db.collection("level")
        .doc(key)
        .get()
        .then(doc => {
          let levelMap = this.data.map(data => {
            return Number(data.level);
          });
          let levelCopy = this.levelOptions.slice();
          levelCopy = levelCopy.filter(x => {
            return !levelMap.includes(x);
          });
          levelCopy.push(Number(doc.data().level));
          levelCopy.sort((a, b) => {
            return a - b;
          });
          this.levelOptions = levelCopy;

          this.levelData.level = doc.data().level.toString();
          this.levelData = doc.data();
          this.dialogEdit = true;
        });
    },
    saveEditBtn() {
      db.collection("level")
        .doc(this.userKey)
        .update(this.levelData)
        .then(() => {
          this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
          this.loadData();
        });
    }
  },
  mounted() {
    this.loadData();
  }
};
</script>

<style scoped>
</style>