
<template>
  <div class="bg6 window-height">
    <div id="printBtn">
      <q-toolbar class="bg-black text-white">
        <q-toolbar-title>
          <span>โรงเรียน > พิมพ์ส่งของ</span>
        </q-toolbar-title>
        <q-btn
          class="q-mr-md"
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-print"
          @click="printBtn()"
        />
        <q-btn
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-times"
          @click="closeBtn()"
        />
      </q-toolbar>
    </div>
    <div align="center">
      <div class="bg7 printMe shadow-1 portrait paper-a5 q-my-lg cl2 row">
        <div class="q-pl-xl q-pt-lg col" style="width:350px" align="left">
          <span>ผู้ส่ง</span>
          <div class="q-my-sm" style="border: 1px solid black; "></div>
          <span class="text-h6">
            Winner English
            <br />Tel. 095-509-9659
          </span>
          <br />
          <span>35/207 คอนโดศุภาลัยวิสต้า แยกติวานนท์</span>
          <br />
          <span>ตำบลตลาดขวัญ อำเภอเมือง</span>
          <br />
          <span>นนทบุรี 11000</span>
        </div>
        <div class="col-6"></div>
        <div class="col-6"></div>
        <div class="col-6" style="width:350px" align="left">
          <span>ผู้รับ</span>
          <div class="q-my-sm" style="border: 1px solid black; "></div>

          <span class="text-h6">{{teacherData.label}}</span>
          <br />
          <span
            class="text-h6"
          >Tel. {{teacherData.tel.substring(0,3) + "-" + teacherData.tel.substring(3,6) + "-" + teacherData.tel.substring(6) }}</span>
          <br />
          <span>โรงเรียน{{schoolData.name}}</span>
          <br />
          <span>
            {{schoolData.address1}}
            <span v-if="schoolData.provinceKey != 'กรุงเทพมหานคร'">ตำบล</span>
            <span v-else>แขวง</span>
            {{schoolData.address2}}
            <br />
            <span v-if="schoolData.provinceKey != 'กรุงเทพมหานคร'">อำเภอ</span>
            <span v-else>เขต</span>
            {{schoolData.address3}}
          </span>
          <br />
          <span>{{schoolData.provinceKey}} {{schoolData.zipCode}}</span>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      schoolData: this.$route.params.schoolData,
      teacherData: this.$route.params.teacherData
    };
  },
  methods: {
    printBtn() {
      window.print();
    },
    closeBtn() {
      this.$router.go(-1);
    }
  },
  mounted() {
    if (this.$route.params.schoolData == undefined) {
      this.$router.go(-1);
    }
  }
};
</script>

<style scoped>
.paper-a4 {
  width: 297mm;
  height: 210mm;
}
.paper-a5 {
  width: 210mm;
  height: 148mm;
}
.hr2 {
  background-color: #5c5c5c;
}
@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }
  .landscape {
    width: 297mm;
    height: 210mm;
  }
  .portrait {
    width: 210mm;
    height: 148mm;
  }
  #printBtn {
    display: none;
  }
  .bg6 {
    background: #ffffff;
  }
}
@page {
  margin: 0mm;
  /* size: landscape; portrait */
}
</style>