<template>
  <div>
    <!-- หัวข้อจัดการโรงเรียน -->
    <div class="row q-pa-md">
      <div style="width:200px"></div>
      <div class="col text-center text-h5">โรงเรียน</div>
      <div style="width:200px" align="right">
        <q-btn @click="setAllBtn()" round class="q-mr-md bg1 cl2" icon="fas fa-cog"></q-btn>

        <!-- หน้าจัดการโรงเรียนทั้งหมด -->
        <q-dialog v-model="setAll" persistent content-class="backdrop">
          <q-card style="width:600px;" class="bg3 cl7">
            <q-card-section class="row items-center">
              <div class="text-h6 col text-center">จัดการโรงเรียนทั้งหมด</div>
              <q-space />
            </q-card-section>

            <q-card-section>
              <div class="row">
                <div class="col-4 q-py-md">สถานะ</div>
                <div class="col-8">
                  <q-btn-toggle
                    :disable="setDataAll.placement"
                    v-model="setDataAll.statusType"
                    push
                    no-caps
                    glossy
                    color="grey-8"
                    toggle-color="amber-13"
                    toggle-text-color="black"
                    :options="[
                      { label: 'Pre-test', value: 'pretest' },
                      { label: 'เรียน', value: 'study' },
                      { label: 'Post-test', value: 'posttest' }
                    ]"
                  />
                </div>
                <div class="col-4 q-py-md">แบบสอบถาม</div>
                <div class="col-8">
                  <q-toggle
                    :disable="setDataAll.placement"
                    color="amber-13"
                    dark
                    class="q-py-sm"
                    v-model="setDataAll.questionNaire"
                  />
                </div>
              </div>

              <div align="center">
                <q-btn
                  label="ยกเลิก"
                  class="bg7 cl3 q-mt-md q-mr-sm"
                  style="width:160px"
                  @click="closeSetAllBtn()"
                />
                <q-btn
                  label="บันทึก"
                  class="bg1 cl3 q-mt-md q-ml-sm"
                  style="width:160px"
                  @click="openConfirmSetBtn()"
                />
              </div>
            </q-card-section>
          </q-card>
        </q-dialog>
        <!-- จบหน้าจัดการเรียนโรงเรียนทั้งหมด -->

        <!-- หน้ายืนยันจัดการโรงเรียน -->
        <q-dialog v-model="confirmSetAll" persistent content-class="backdrop">
          <q-card style="width:550px;" class="bg3 cl5">
            <q-card-section class="row items-center">
              <div class="text-h6 col text-center">จัดการโรงเรียนทั้งหมด</div>
              <q-space />
            </q-card-section>

            <q-card-section>
              <div align="center">
                <span>การตั้งค่านี้มีผลกับทุกโรงเรียนในกลุ่มโรงเรียนที่เลือก</span>
                <br />
                <span>
                  หากต้องการดำเนินการต่อกรุณาพิมพ์
                  <span class="cl1">ดำเนินการ</span>
                </span>
                <q-input
                  dark
                  dense
                  v-model="textConfirmSet"
                  autofocus
                  @keyup.enter="prompt = false"
                  style="width:70%"
                />
                <q-btn
                  label="ยกเลิก"
                  class="bg7 cl3 q-mt-md q-mr-sm"
                  style="width:160px"
                  @click="closeConfirmSetAllBtn()"
                />
                <q-btn
                  label="ตกลง"
                  class="bg1 cl3 q-mt-md q-ml-sm"
                  style="width:160px"
                  @click="confirmSaveSetAllBtn()"
                />
              </div>
            </q-card-section>
          </q-card>
        </q-dialog>
        <!-- จบหน้ายืนยันการจัดการโรงเรียน -->

        <q-btn @click="addBtn()" round class="bg1 cl2" icon="fas fa-plus"></q-btn>
      </div>
    </div>
    <!-- กลุ่มโรงเรียน -->
    <div class="q-pa-md" align="center">
      <div class="row justify-center">
        <div style="width:400px;">
          <q-select
            label="กลุ่มโรงเรียน"
            color="amber-13"
            v-model="schoolTypeChoose"
            dark
            emit-value
            map-options
            :options="schoolType"
            @input="loadDataSchool();"
          />
        </div>
        <div style="width:150px;" class="q-pt-md">
          <q-btn @click="showSchoolType()" round class="bg1 cl2" icon="fas fa-pen"></q-btn>

          <!-- หน้ารายการกลุ่มโรงเรียน -->
          <q-dialog v-model="listSchoolType" persistent content-class="backdrop">
            <q-card style="width:700px;" class="bg3">
              <q-card-section class="row items-center">
                <div class="q-pl-xl"></div>
                <q-space />
                <div class="text-h6">จัดการกลุ่มโรงเรียน</div>
                <q-space />
                <div class="q-pl-md">
                  <q-btn @click="addSchoolTypeMenu()" round class="bg1 cl2" icon="fas fa-plus"></q-btn>
                </div>
              </q-card-section>

              <q-card-section>
                <q-table
                  :data="data"
                  :columns="columns"
                  row-key="index"
                  :pagination.sync="pagination"
                  square
                  dark
                >
                  <template v-slot:body="props">
                    <q-tr :props="props">
                      <q-td key="item" :props="props" style="width:100px;">
                        {{
                        props.row.order
                        }}
                      </q-td>
                      <q-td key="schooltypename" :props="props">
                        {{
                        props.row.name
                        }}
                      </q-td>
                      <q-td key="delete" :props="props" style="width: 80px;">
                        <q-icon
                          class="cl1 cursor-pointer"
                          size="18px"
                          name="fas fa-trash-alt"
                          @click="delSchoolTypeMenu(props.row.key)"
                        />
                      </q-td>
                      <q-td key="edit" :props="props" style="width: 80px;">
                        <q-icon
                          class="cl1 cursor-pointer"
                          size="18px"
                          name="fas fa-edit"
                          @click="
                            editSchoolTypeMenu(
                              props.row.key,
                              props.row.order,
                              props.row.name
                            )
                          "
                        />
                      </q-td>
                    </q-tr>
                  </template>
                </q-table>

                <div class="q-mt-md" align="center">
                  <q-btn label="ปิด" style="width:150px;" class="bg7 cl3" flat v-close-popup />
                </div>
              </q-card-section>
            </q-card>
          </q-dialog>
          <!-- จบหน้ากลุ่มโรงเรียน -->

          <!-- หน้าเพิ่มกลุ่มโรงเรียน -->
          <q-dialog v-model="addSchoolType" persistent content-class="backdrop">
            <q-card style="width:700px;" class="bg3 cl5">
              <q-card-section class="row items-center">
                <div class="text-h6" style="width:100%" align="center">เพิ่มกลุ่มโรงเรียน</div>
                <q-space />
              </q-card-section>

              <q-card-section>
                <q-input
                  outlined
                  dark
                  color="amber-13"
                  label="ลำดับ"
                  v-model.number="schoolTypeOrder"
                  type="number"
                  class="q-mb-md"
                />
                <q-input
                  outlined
                  color="amber-13"
                  dark
                  label="ชื่อกลุ่มโรงเรียน"
                  v-model.trim="schoolTypeName"
                />
                <div align="center">
                  <q-btn
                    label="ยกเลิก"
                    class="bg7 cl3 q-mt-md q-mr-sm"
                    style="width:160px"
                    @click="closeAddSchoolTypeBtn()"
                  />
                  <q-btn
                    label="บันทึก"
                    class="bg1 cl3 q-mt-md q-ml-sm"
                    style="width:160px"
                    :disable="isSave"
                    @click="saveSchoolTypeBtn()"
                  />
                </div>
              </q-card-section>
            </q-card>
          </q-dialog>

          <!-- หน้าแก้ไขกลุ่มโรงเรียน -->
          <q-dialog v-model="editSchoolType" persistent content-class="backdrop">
            <q-card style="width:700px;" class="bg3 cl5">
              <q-card-section class="row items-center">
                <div class="text-h6" style="width:100%" align="center">แก้ไขกลุ่มโรงเรียน</div>
                <q-space />
              </q-card-section>

              <q-card-section>
                <q-input
                  outlined
                  color="amber-13"
                  dark
                  label="ลำดับ"
                  v-model.number="schoolTypeOrder"
                  type="number"
                  class="q-mb-md"
                />
                <q-input
                  outlined
                  color="amber-13"
                  dark
                  label="ชื่อกลุ่มโรงเรียน"
                  v-model.trim="schoolTypeName"
                />
                <div align="center">
                  <q-btn
                    label="ยกเลิก"
                    class="bg7 cl3 q-mt-md q-mr-sm"
                    style="width:160px"
                    @click="closeEditSchoolTypeBtn()"
                  />
                  <q-btn
                    label="บันทึก"
                    class="bg1 cl3 q-mt-md q-ml-sm"
                    style="width:160px"
                    :disable="isSave"
                    @click="saveEditSchoolTypeBtn()"
                  />
                </div>
              </q-card-section>
            </q-card>
          </q-dialog>
        </div>
      </div>
    </div>

    <!-- ตารางแสดงข้อมูล -->
    <div class="q-pa-md">
      <q-table
        dark
        :data="dataSchool"
        :columns="columnsMain"
        :pagination.sync="pagination"
        :rows-per-page-options="[0]"
        :filter="search"
        row-key="name"
      >
        <template v-slot:top-right>
          <q-input
            dark
            rounded
            outlined
            dense
            color="amber-13"
            v-model="search"
            placeholder="รหัสโรงเรียน / โรงเรียน"
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>
        <template v-slot:header-cell="props">
          <q-th :props="props">{{ props.col.label }}</q-th>
        </template>
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="schoolCode" :props="props">
              <div class="q-py-sm">{{ props.row.schoolCode }}</div>
            </q-td>

            <!-- ชื่อโรงเรียน  -->
            <q-td style="width:100%" key="name" :props="props">
              <div>{{ props.row.name }}</div>
            </q-td>
            <!-- การใช้งาน  -->
            <q-td key="status" :props="props">
              <q-chip v-show="props.row.status" label="เปิด" outline color="amber-13" />
              <q-chip v-show="!props.row.status" label="ปิด" outline class="cl5" />
            </q-td>
            <!-- วัดระดับ -->
            <q-td key="placement" :props="props">
              <q-toggle
                :disable="!props.row.status"
                dark
                color="amber-13"
                v-model="props.row.placement"
                @input="setPlacement(props.row.key,props.row.placement)"
              />
            </q-td>
            <!-- pre psot test  -->
            <q-td key="prePostStatus" :props="props">
              <q-btn-toggle
                :disable="!props.row.status"
                v-model="props.row.prePostStatus"
                push
                no-caps
                glossy
                color="grey-8"
                toggle-color="amber-13"
                toggle-text-color="black"
                :options="[
                  { label: 'Pre-test', value: 'pretest' },
                  { label: 'เรียน', value: 'study' },
                  { label: 'Post-test', value: 'posttest' }
                ]"
                @click="setPrePost(props.row.key,props.row.prePostStatus)"
              />
            </q-td>
            <!-- ประเมินผล  -->
            <q-td key="questionNaire" :props="props">
              <q-toggle
                :disable="!props.row.status"
                dark
                color="amber-13"
                v-model="props.row.questionNaire"
                @input="setQuestionNaire(props.row.key,props.row.questionNaire)"
              />
            </q-td>
            <q-td key="delete" :props="props">
              <div>
                <q-icon
                  @click="deleteBtn(props.row.key)"
                  class="cl1 cursor-pointer"
                  size="18px"
                  name="fas fa-trash-alt"
                />
              </div>
            </q-td>
            <q-td key="edit" :props="props">
              <div>
                <q-icon
                  @click="editBtn(props.row.key)"
                  class="cl1 cursor-pointer"
                  size="18px"
                  name="fas fa-edit"
                />
              </div>
            </q-td>
            <q-td key="print" :props="props">
              <div>
                <q-icon
                  @click="printBtn(props.row.key,props.row.contactName)"
                  class="cl1 cursor-pointer"
                  size="18px"
                  name="fas fa-print"
                />
              </div>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>

    <!-- หน้าตั้งค่าการปริ้น -->
    <q-dialog v-model="setPrint" persistent content-class="backdrop">
      <q-card style="width:550px;" class="bg3 cl5">
        <q-card-section class="row items-center">
          <div class="text-h6 col text-center">พิมพ์ใบส่งของ</div>
          <q-space />
        </q-card-section>

        <q-card-section>
          <div align="center">
            <div class="row">
              <div class="col-12">
                <q-select
                  dark
                  outlined
                  square
                  color="amber-13"
                  v-model="printTeacher"
                  :options="optionsTeacher"
                  map-options
                  label="ชื่อผู้ส่งของ"
                />
              </div>
            </div>
            <div>
              <q-btn
                label="ยกเลิก"
                class="bg7 cl3 q-mt-md q-mr-sm"
                style="width:160px"
                v-close-popup
              />
              <q-btn
                :disable="printTeacher?false : true"
                @click="printContact(printSchoolArray)"
                label="พิมพ์"
                class="bg1 cl3 q-mt-md q-ml-sm"
                style="width:160px"
              />
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
import schoolOption from "../../components/schooloption.vue";
export default {
  data() {
    return {
      dbSchool: db.collection("school"),
      search: "", // รับค่าการค้นหา
      addSchoolType: false,
      editSchoolType: false,
      listSchoolType: false,
      setAll: false,
      confirmSetAll: false,
      setPrint: false,
      textConfirmSet: "",
      // print
      isSave: false,
      printTeacher: "",
      printSchoolArray: "",
      optionsTeacher: [],
      // ประเภท
      schoolTypeChoose: "", //เลือกกลุ่มโรงเรียน
      schoolType: [],
      schoolTypeName: "", //สำหรับการ add ค่ากลุ่มโรงเรียน
      schoolTypeOrder: "", //สำหรับการ edit ค่ากลุ่มโรงเรียน
      schoolTypeKey: "", //สำหรับ schooltypekey
      schoolTypeNameOld: "", //ชื่อ schooltype ก่อนการเปลี่ยนแปลง
      data: [], // ข้อมูลกลุ่มโรงเรียนทั้งหมด
      dataSchool: [],
      setDataAll: {
        // placement: false,
        statusType: "study",
        questionNaire: false
      },
      pagination: {
        rowsPerPage: 10
      },
      columnsMain: [
        {
          name: "schoolCode",
          label: "รหัสโรงเรียน",
          sortable: true,
          align: "center",
          field: row => row.schoolCode
        },

        {
          name: "name",
          label: "โรงเรียน",
          align: "left",
          sortable: true,
          field: row => row.name
        },
        {
          name: "status",
          label: "การใช้งาน",
          align: "center"
        },
        {
          name: "placement",
          label: "วัดระดับ",
          align: "center"
        },
        {
          name: "prePostStatus",
          label: "Pre-test / เรียน / Post-test",
          align: "center"
        },
        {
          name: "questionNaire",
          label: "แบบสอบถาม",
          align: "center"
        },
        {
          name: "delete",
          label: "ลบ",
          align: "center"
        },
        {
          name: "edit",
          label: "แก้ไข",
          align: "center"
        },
        {
          name: "print",
          label: "พิมพ์ใบส่งของ",
          align: "center"
        }
      ],
      columns: [
        { name: "item", label: "ลำดับ", align: "center" },
        { name: "schooltypename", label: "กลุ่มโรงเรียน", align: "left" },
        {
          name: "delete",
          label: "ลบ",
          align: "center"
        },
        {
          name: "edit",
          label: "แก้ไข",
          align: "center"
        }
      ]
    };
  },
  methods: {
    // ปุ่มเพิ่มข้อมูลโรงเรียน
    addBtn() {
      this.$q.localStorage.set("typeKey", this.schoolTypeChoose);
      this.$router.push("/school/add");
    },

    // แสดงหน้า Dialog รายการกลุ่มโรงเรียน
    showSchoolType() {
      this.listSchoolType = true;
    },

    // แสดงหน้า Dialog เพิ่มกลุ่มโรงเรียน
    addSchoolTypeMenu() {
      this.listSchoolType = false;
      this.addSchoolType = true;
    },

    // ปิดหน้า Dialog เพิ่มกลุ่มโรงเรียน
    closeAddSchoolTypeBtn() {
      this.listSchoolType = true;
      this.addSchoolType = false;
      this.schoolTypeOrder = "";
      this.schoolTypeName = "";
      this.schoolTypeKey = "";
    },

    // เพิ่มกลุ่มโรงเรียน เข้าฐานข้อมูล
    saveSchoolTypeBtn() {
      this.isSave = true;
      //ตรวจสอบว่ามีค่าในการกรอกหรือเปล่า
      if (this.schoolTypeName.length == 0) {
        this.notifyRed("กรุณากรอกชื่อกลุ่มโรงเรียน");
        this.isSave = false;
        return;
      }
      //ตรวจสอบว่ามีค่าในการกรอกหรือเปล่า
      if (!(this.schoolTypeOrder > 0)) {
        this.notifyRed("กรุณากรอกลำดับ");
        this.isSave = false;
        return;
      }
      //ตรวจสอบว่ามีชื่อซ้ำหรือเปล่าว

      db.collection("schooltype")
        .where("name", "==", this.schoolTypeName)
        .get()
        .then(doc => {
          if (doc.size > 0) {
            this.notifyRed("มีชื่อกลุ่มโรงเรียนนี้แล้ว");
            this.isSave = false;
            return;
          } else {
            //ทำการบันทึกข้อมูล
            db.collection("schooltype")
              .add({
                name: this.schoolTypeName,
                order: this.schoolTypeOrder
              })
              .then(() => {
                //ทำการ reset ค่า schoolTypeName
                this.schoolTypeName = "";
                this.schoolTypeOrder = "";

                //ปิดหน้าต่างแสดงหน้ารายชื่อกลุ่มโรงเรียน
                this.listSchoolType = true;
                this.addSchoolType = false;
                this.isSave = false;

                this.loadSchoolTypeList();
                this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
              });
          }
        });
    },

    // ปิดหน้า Dialog แก้ไขกลุ่มโรงเรียน
    closeEditSchoolTypeBtn() {
      this.listSchoolType = true;
      this.editSchoolType = false;
      this.schoolTypeOrder = "";
      this.schoolTypeName = "";
      this.schoolTypeKey = "";
    },

    //เปิดหน้าแก้ไขข้อมูลกลุ่มโรงเรียน
    editSchoolTypeMenu(key, order, name) {
      this.listSchoolType = false;
      this.editSchoolType = true;
      this.schoolTypeKey = key;
      this.schoolTypeName = name;
      this.schoolTypeNameOld = name;
      this.schoolTypeOrder = order;
    },

    //บันทึกการแก้ไขข้อมูลกลุ่มโรงเรียน
    saveEditSchoolTypeBtn() {
      this.isSave = true;
      //ตรวจสอบว่ามีการกรอกข้อมูลครบถ้วน
      if (this.schoolTypeName.length == 0) {
        this.notifyRed("กรุณากรอกกลุ่มโรงเรียน");
        this.isSave = false;
        return;
      }
      //ตรวจสอบว่ามีค่าในการกรอกหรือเปล่า
      if (!(this.schoolTypeOrder > 0)) {
        this.notifyRed("กรุณากรอกลำดับ");
        this.isSave = false;
        return;
      }
      //ตรวจสอบการเปลี่ยนชื่อกลุ่มโรงเรียน
      if (this.schoolTypeNameOld != this.schoolTypeName) {
        //กรณีเปลี่ยนชื่อกลุ่มโรงเรียน
        //ถ้ามีการเปลี่ยนชื่อให้ตรวจสอบว่าชื่อไม่ซ้ำ
        db.collection("schooltype")
          .where("name", "==", this.schoolTypeName)
          .get()
          .then(doc => {
            if (doc.size > 0) {
              //ถ้าชื่อซ้ำขึ้นคำเตือนแล้ว break
              this.notifyRed("มีชื่อกลุ่มโรงเรียนนี้แล้ว");
              this.isSave = false;
              return;
            } else {
              //ถ้าไม่ซ้ำก็ทำการบันทึก แก้ไขข้อมูล database
              db.collection("schooltype")
                .doc(this.schoolTypeKey)
                .set({
                  name: this.schoolTypeName,
                  order: this.schoolTypeOrder
                })
                .then(() => {
                  this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
                  this.schoolTypeOrder = "";
                  this.schoolTypeName = "";
                  this.schoolTypeKey = "";
                  this.listSchoolType = true;
                  this.editSchoolType = false;
                  this.isSave = false;
                  this.loadSchoolTypeList();
                });
            }
          });
      } else {
        //กรณีไม่เปลี่ยนชื่อกลุ่มโรงเรียน  แก้ไขข้อมูล database
        db.collection("schooltype")
          .doc(this.schoolTypeKey)
          .set({
            name: this.schoolTypeName,
            order: this.schoolTypeOrder
          })
          .then(() => {
            this.isSave = false;
            this.listSchoolType = true;
            this.editSchoolType = false;
            this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
            this.loadSchoolTypeList();
          });
      }
    },

    //ลบกลุ่มโรงเรียน
    delSchoolTypeMenu(key) {
      this.$q
        .dialog({
          dark: true,
          message: "ยืนยันการลบข้อมูล",
          cancel: true,
          persistent: true
        })
        .onOk(() => {
          db.collection("school")
            .where("typeKey", "==", key)
            .get()
            .then(doc => {
              // เช็คว่ามีการใช้งานกลุ่มโรงเรียนอยู่
              if (doc.size == 0) {
                // ไม่มีการใช้งาน
                db.collection("schooltype")
                  .doc(key)
                  .delete()
                  .then(() => {
                    this.notifyGreen("ลบข้อมูลเรียบร้อยแล้ว");
                    this.loadSchoolTypeList();
                  });
              } else {
                // มีการใช้งานอยู่
                this.notifyRed(
                  "ไม่สามารถลบข้อมูลได้ เนื่องจากกลุ่มโรงเรียนนี้มีการถูกใช้งานอยู่"
                );
              }
            });
        });
    },

    // load รายชื่อกลุ่มโรงเรียน
    loadSchoolTypeList() {
      this.data = [];
      db.collection("schooltype")
        .orderBy("order")
        .get()
        .then(doc => {
          this.schoolType = [{ value: "all", label: "ทั้งหมด" }];
          this.schoolTypeChoose = "all";
          if (this.$route.params.typeKey) {
            this.schoolTypeChoose = this.$route.params.typeKey;
          }
          let tempdata = [];
          doc.forEach(data => {
            let temp = {
              value: data.id,
              label: data.data().name
            };
            let dataFinal = { ...temp };
            this.schoolType.push(dataFinal);

            let schoolTpyeData = {
              key: data.id,
              name: data.data().name,
              order: data.data().order
            };
            this.data.push(schoolTpyeData);
          });
          this.loadDataSchool();
        });
    },

    //เปิดหน้า Dialog จัดการโรงเรียนทั้งหมด
    setAllBtn() {
      this.setAll = true;
    },
    // ปิดหน้า ตั้งค่าทั้งหมด
    closeSetAllBtn() {
      this.setAll = false;
      this.setDataAll.placement = false;
      this.setDataAll.questionNaire = false;
      this.setDataAll.statusType = "study";
    },
    // แสดงหน้า dialog ยืนยันของจัดการโรงเรียน
    openConfirmSetBtn() {
      this.setAll = false;
      this.confirmSetAll = true;
    },
    // ยืนยันการตั้งค่า ทั้งหมดของจัดการโรงเรียน
    confirmSaveSetAllBtn() {
      // ตั้งค่าโรงเรียนทุกโรงเรียนตามการเซท
      if (this.textConfirmSet == "ดำเนินการ") {
        let dbSchoolType;
        // จะเลือกตามกลุ่มโรงเรียน
        if (this.schoolTypeChoose == "all") {
          // แก้ไขข้อมูล ทุกโรงเรียน
          dbSchoolType = db
            .collection("school")
            .where("placement", "==", false)
            .get();
        } else {
          // กลุ่มโรงเรียนอื่นๆ
          dbSchoolType = db
            .collection("school")
            .where("placement", "==", false)
            .where("typeKey", "==", this.schoolTypeChoose)
            .get();
        }

        // ทำการอัตเดตข้อมูลเข้าตาราง
        dbSchoolType.then(doc => {
          doc.forEach(element => {
            // console.log(element.id);

            db.collection("school")
              .doc(element.id)
              .update({
                prePostStatus: this.setDataAll.statusType,
                questionNaire: this.setDataAll.questionNaire
              });
          });
          this.notifyGreen("ทำการเปลี่ยนข้อมูลเรียบร้อยแล้ว");
          this.confirmSetAll = "";
          this.setDataAll.questionNaire = false;
          this.loadDataSchool();
          this.confirmSetAll = false;
          this.textConfirmSet = "";
          this.setDataAll.statusType = "study";
        });
      } else {
        this.notifyRed("กรุณาพิมพ์ 'ดำเนินการ'");
        this.textConfirmSet = "";
      }
    },
    // ยกเลิกหน้ายืนยันการตั้งค่า
    closeConfirmSetAllBtn() {
      this.textConfirmSet = "";
      this.setAll = true;
      this.confirmSetAll = false;
    },

    // โหลดข้อมูลโรงเรียนมาแสดง
    loadDataSchool() {
      // เคียร์ค่า
      this.loadingShow();
      this.dataSchool = [];
      let typeChoose = "";
      if (this.schoolTypeChoose == "all") {
        typeChoose = db.collection("school");
      } else {
        typeChoose = db
          .collection("school")
          .where("typeKey", "==", this.schoolTypeChoose);
      }

      // โหลดข้อมูลใส่ตาราง
      typeChoose.get().then(doc => {
        doc.forEach(element => {
          let key = {
            key: element.id
          };
          let final = { ...key, ...element.data() };
          this.dataSchool.push(final);
        });
        this.dataSchool.sort((a, b) => {
          return a.schoolCode - b.schoolCode;
        });
        this.loadingHide();
      });
    },

    // ตั้งค่าวัดระดับ
    setPlacement(key, type) {
      this.$q
        .dialog({
          dark: true,
          message: 'คุณต้องการเปลี่ยนการตั้งค่า "การวัดระดับ" ใช่หรือไม่',
          cancel: {
            label: "ยกเลิก",
            color: "white",
            textColor: "black"
          },
          ok: {
            label: "ตกลง",
            color: "amber-13",
            textColor: "black"
          },
          persistent: true
        })
        .onOk(() => {
          // เปลี่ยนค่าสถานการวัดระดับ
          db.collection("school")
            .doc(key)
            .update({
              placement: type
            });
        })
        .onCancel(() => {
          // หาค่าอินเด็ก
          let findIndex = this.dataSchool
            .map(data => {
              return data.key;
            })
            .indexOf(key);

          this.dataSchool[findIndex].placement = !type;
        });
    },
    // ตั้งค่าPretest posttest เรียน
    setPrePost(key, type) {
      let statusOld;
      let findIndex = this.dataSchool
        .map(data => {
          return data.key;
        })
        .indexOf(key);
      db.collection("school")
        .doc(key)
        .get()
        .then(doc => {
          statusOld = doc.data().prePostStatus;
        });

      this.$q
        .dialog({
          dark: true,
          message: 'คุณต้องการเปลี่ยนการตั้งค่า "การวัดระดับ" ใช่หรือไม่',
          cancel: {
            label: "ยกเลิก",
            color: "white",
            textColor: "black"
          },
          ok: {
            label: "ตกลง",
            color: "amber-13",
            textColor: "black"
          },
          persistent: true
        })
        .onOk(() => {
          // เปลี่ยนค่าสถานการPretest posttext
          // เมื่อมีการเปลี่ยนสถานะจากแบบเก่า
          db.collection("school")
            .doc(key)
            .update({
              prePostStatus: type
            });
        })
        .onCancel(() => {
          this.dataSchool[findIndex].prePostStatus = statusOld;
        });
    },
    // ตั้งค่าประเมินผล
    setQuestionNaire(key, type) {
      this.$q
        .dialog({
          dark: true,
          message: 'คุณต้องการเปลี่ยนการตั้งค่า "แบบสอบถาม" ใช่หรือไม่',
          cancel: {
            label: "ยกเลิก",
            color: "white",
            textColor: "black"
          },
          ok: {
            label: "ตกลง",
            color: "amber-13",
            textColor: "black"
          },
          persistent: true
        })
        .onOk(() => {
          // เปลี่ยนค่าสถานการวัดระดับ
          db.collection("school")
            .doc(key)
            .update({
              questionNaire: type
            });
        })
        .onCancel(() => {
          //หาค่าอินเด็ก
          let findIndex = this.dataSchool
            .map(data => {
              return data.key;
            })
            .indexOf(key);

          this.dataSchool[findIndex].questionNaire = !type;
        });
    },
    // ปุ่มลบ
    deleteBtn(key) {
      // ลบปกติออกจากดาต้าเบส
      this.$q
        .dialog({
          dark: true,
          message: "คุณต้องการลบโรงเรียนใช่หรือไม่",
          cancel: {
            label: "ยกเลิก",
            color: "white",
            textColor: "black"
          },
          ok: {
            label: "ตกลง",
            color: "amber-13",
            textColor: "black"
          },
          persistent: true
        })
        .onOk(() => {
          // ลบโรงเรียน
          ///ตรวจสอบว่ามีนักเรียนอยู่หรือเปล่าว
          this.loadingShow();
          db.collection("student")
            .where("schoolKey", "==", key)
            .get()
            .then(doc => {
              if (doc.size > 0) {
                this.notifyRed(
                  "ไม่สามารถลบโรงเรียนนี้ เนื่องจากมีข้อมูลนักเรียนอยู่"
                );
                this.loadingHide();
                return;
              } else {
                //ตรวจสอบว่ามีครูหรือเปล่าว
                db.collection("teacher")
                  .where("schoolKey", "==", key)
                  .get()
                  .then(doc2 => {
                    if (doc2.size > 0) {
                      this.notifyRed(
                        "ไม่สามารถลบโรงเรียนนี้ เนื่องจากมีข้อมูลคุณครูอยู่"
                      );
                      this.loadingHide();
                      return;
                    } else {
                      // ลบข้อมูลโรงเรียน
                      db.collection("school")
                        .doc(key)
                        .delete()
                        .then(() => {
                          this.$q.localStorage.remove("studentSchoolCheck");
                          db.collection("schooltestlog")
                            .where("schoolKey", "==", key)
                            .get()
                            .then(doc => {
                              doc.forEach(element => {
                                db.collection("schooltestlog")
                                  .doc(element.id)
                                  .delete();
                              });
                            });
                          db.collection("studentpracticelog")
                            .where("schoolKey", "==", key)
                            .get()
                            .then(doc => {
                              doc.forEach(element => {
                                db.collection("studentpracticelog")
                                  .doc(element.id)
                                  .delete();
                              });
                            });
                          db.collection("studentprepostlog")
                            .where("schoolKey", "==", key)
                            .get()
                            .then(doc => {
                              doc.forEach(element => {
                                db.collection("studentprepostlog")
                                  .doc(element.id)
                                  .delete();
                              });
                            });
                          db.collection("studentquestionnairelog")
                            .where("schoolKey", "==", key)
                            .get()
                            .then(doc => {
                              doc.forEach(element => {
                                db.collection("studentquestionnairelog")
                                  .doc(element.id)
                                  .delete();
                              });
                            });
                          db.collection("studentplacementlog")
                            .where("schoolKey", "==", key)
                            .get()
                            .then(doc => {
                              doc.forEach(element => {
                                db.collection("studentplacementlog")
                                  .doc(element.id)
                                  .delete();
                              });
                            });

                          db.collection("classroomPracticeLog")
                            .where("schoolKey", "==", key)
                            .get()
                            .then(doc => {
                              doc.forEach(element => {
                                db.collection("classroomPracticeLog")
                                  .doc(element.id)
                                  .delete();
                              });
                            });

                          db.collection("classroomMission")
                            .where("schoolKey", "==", key)
                            .get()
                            .then(doc => {
                              doc.forEach(element => {
                                db.collection("classroomMission")
                                  .doc(element.id)
                                  .delete();
                              });
                            });

                          db.collection("classroomLessonLog")
                            .where("schoolKey", "==", key)
                            .get()
                            .then(doc => {
                              doc.forEach(element => {
                                db.collection("classroomLessonLog")
                                  .doc(element.id)
                                  .delete();
                              });
                            });

                          db.collection("placementMark")
                            .where("schoolKey", "==", key)
                            .get()
                            .then(doc => {
                              doc.forEach(element => {
                                db.collection("placementMark")
                                  .doc(element.id)
                                  .delete();
                              });
                            });

                          db.collection("synchronize")
                            .where("schoolKey", "==", key)
                            .get()
                            .then(doc => {
                              doc.forEach(element => {
                                db.collection("placementMark")
                                  .doc(element.id)
                                  .delete();
                              });
                            });

                          db.collection("missionvote")
                            .where("schoolKey", "==", key)
                            .get()
                            .then(doc => {
                              doc.forEach(element => {
                                db.collection("placementMark")
                                  .doc(element.id)
                                  .delete();
                              });
                            });

                          this.notifyGreen("ทำการลบข้อมูลเรียบร้อยแล้ว");
                          this.loadingHide();
                          this.loadDataSchool();
                        });
                    }
                  });
              }
            });
        });
    },
    // ปุ่มแก้ไข
    editBtn(key) {
      // ไปยังหน้าแกไขข้อมูลโรงเรียน
      this.$router.push("/school/edit/" + key);
      this.$q.localStorage.set("typeKey", this.schoolTypeChoose);
    },
    // โหลดข้อมูลครูจาก โรงเรียน
    loadOptionTeacher(key) {
      let keyTeacher;
      db.collection("school")
        .doc(key)
        .get()
        .then(doc => {
          keyTeacher = doc.data().contactName;
          for (let i = 0; i < keyTeacher.length; i++) {
            db.collection("teacher")
              .doc(keyTeacher[i])
              .get()
              .then(doc => {});
          }
          //
        });
    },
    // ปุ่มปริ้น
    printBtn(key, contact) {
      //***************************************************************************
      // ปริ้นที่อยู่โดยมีการเลือกชื่อครูก่อน
      // เมื่อกดแล้วไปหน้าปริ้น
      this.setPrint = true;
      this.optionsTeacher = [];
      this.printTeacher = "";
      let findIndex = this.dataSchool
        .map(data => {
          return data.key;
        })
        .indexOf(key);

      this.printSchoolArray = findIndex;

      for (let i = 0; i < contact.length; i++) {
        db.collection("teacher")
          .doc(contact[i])
          .get()
          .then(doc => {
            if (doc.exists) {
              let final = {
                value: doc.id,
                label: doc.data().name + " " + doc.data().surname,
                tel: doc.data().userName
              };

              this.optionsTeacher.push(final);
              // เรียงชื่อครูจากA-Z
              this.optionsTeacher.sort((a, b) => {
                return a.label > b.label ? 1 : -1;
              });
              this.printTeacher = this.optionsTeacher[0];
              this.paperSize = "A4";
            }
          });
      }
    },
    // พิมพ์ใบแปะหน้า
    printContact(key) {
      this.$router.push({
        name: "schoolprint",
        params: {
          schoolData: this.dataSchool[key],
          teacherData: this.printTeacher
        }
      });
    }
  },
  components: {
    schoolOption
  },
  mounted() {
    this.loadSchoolTypeList();
  }
};
</script>

<style scoped></style>
