<template>
  <div class="row q-px-sm" style="max-width: 1000px; margin: auto">
    <div class="relative-position text-center text-h5 text-white col-12 q-py-md">
      <span class="absolute-center">{{ pageName }}</span>
      <toggle-button
        class="float-right"
        :labels="{ checked: 'เปิด', unchecked: 'ปิด' }"
        :height="30"
        :width="75"
        :sync="true"
        :color="{
          checked: ['#388E3C'],
          unchecked: ['#909090']
        }"
        :font-size="16"
        v-model="school.status"
        @change="changeStatus()"
      />
    </div>
    <!-- ข้อมูลทั่วไปของโรงเรียน -->
    <div class="col-12">
      <div class="q-py-sm">
        <q-input
          color="amber-13"
          v-model="school.schoolCode"
          dark
          outlined
          square
          mask="###"
          label="รหัสโรงเรียน"
        />
      </div>
      <div class="q-py-sm">
        <q-input
          color="amber-13"
          v-model.trim="school.name"
          dark
          outlined
          square
          label="ชื่อโรงเรียน"
        />
      </div>
      <div class="q-py-sm">
        <q-select
          color="amber-13"
          dark
          outlined
          square
          v-model="school.typeKey"
          :options="optionsType"
          emit-value
          map-options
          label="กลุ่มโรงเรียน"
        />
      </div>
    </div>
    <div class="col-12">
      <hr />
    </div>
    <!-- ส่วนของที่อยู่ -->
    <div class="col-12">
      <div class="q-py-sm">
        <q-input
          color="amber-13"
          v-model="school.address1"
          dark
          outlined
          square
          label="บ้านเลขที่"
        />
      </div>
      <div class="q-py-sm">
        <q-input color="amber-13" v-model="school.address2" dark outlined square label="แขวง/ตำบล" />
      </div>
      <div class="q-py-sm">
        <q-input color="amber-13" v-model="school.address3" dark outlined square label="เขต/อำเภอ" />
      </div>
      <div class="q-py-sm">
        <q-select
          dark
          outlined
          square
          color="amber-13"
          v-model="school.provinceKey"
          :options="optionsProvince"
          emit-value
          map-options
          label="จังหวัด"
        />
      </div>
      <div class="q-py-sm">
        <q-input
          color="amber-13"
          v-model="school.zipCode"
          dark
          outlined
          square
          mask="#####"
          label="รหัสไปรษณีย์"
        />
      </div>
    </div>

    <!-- ส่วนของชื่อผู้รับของ แสดงข้อมูลเฉพาะตอนedit ดึงชื่อจาก teacher -->
    <div class="col-12" v-show="$route.name == 'schooledit'">
      <div>
        <hr />
      </div>
      <div class="q-py-sm">
        <q-select
          color="amber-13"
          dark
          outlined
          square
          v-model="school.contactName[0]"
          :options="optionsTeacher"
          emit-value
          map-options
          label="ชื่อผู้รับของ #1"
        />
      </div>
      <div class="q-py-sm">
        <q-select
          color="amber-13"
          dark
          outlined
          square
          v-model="school.contactName[1]"
          :options="optionsTeacher"
          emit-value
          map-options
          label="ชื่อผู้รับของ #2"
        />
      </div>
      <div class="q-py-sm">
        <q-select
          color="amber-13"
          dark
          outlined
          square
          v-model="school.contactName[2]"
          :options="optionsTeacher"
          emit-value
          map-options
          label="ชื่อผู้รับของ #3"
        />
      </div>
    </div>

    <div class="col-12 q-pb-md" align="center">
      <q-btn
        label="ยกเลิก"
        class="bg7 cl3 q-mt-md q-mr-sm"
        style="width:160px"
        @click="cancelBtn()"
      />
      <q-btn label="บันทึก" class="bg1 cl3 q-mt-md q-ml-sm" style="width:160px" @click="saveBtn()" />
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      schooltype: this.$q.localStorage.getItem("typeKey"),
      dbSchool: db.collection("school"),
      pageName: "",
      schoolCodeOld: "",
      nameOld: "",
      school: {
        status: false,
        schoolCode: "",
        name: "",
        typeKey: "",

        address1: "",
        address2: "",
        address3: "",
        provinceKey: "",
        zipCode: "",
        contactName: [],
        placement: false,
        prePostStatus: "study",
        questionNaire: false,
        placementSuccess: []
      },
      optionsType: [],
      optionsProvince: [],
      optionsTeacher: [],
      useSave: true
    };
  },
  methods: {
    // ยกเลิกไม่มีการบันทึกกลับไปยังหน้าโรงเรียน
    cancelBtn() {
      // this.$router.push("/school");
      this.$router.push({
        name: "school",
        params: {
          typeKey: this.schooltype
        }
      });
    },
    // บันทึกข้อมูลทั้งหมดของโรงเรียน
    async saveBtn() {
      if (!this.useSave) {
        return;
      }

      // กรอกข้อมูลให้ครบที่ทุกช่อง เว้น contactName -> แจ้งเตือน
      if (
        this.school.schoolCode == "" ||
        this.school.name == "" ||
        this.school.address2 == "" ||
        this.school.address3 == "" ||
        this.school.zipCode == ""
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
        return;
      }
      // รหัสโรงเรียนต้องมี 3 ตัว -> แจ้งเตือน
      if (this.school.schoolCode.length != 3) {
        this.notifyRed("กรุณากรอกรหัสโรงเรียนเป็นเลข 3 หลัก");
        return;
      }
      // รหัสไปรษณีย์ต้องมี 5 ตัว -> แจ้งเตือน
      if (this.school.zipCode.length < 5) {
        this.notifyRed("กรุณากรอกรหัสไปรษณีย์ให้ครบ 5 ตัว");
        return;
      }

      this.useSave = false;
      this.loadingShow();
      if (this.$route.name == "schooladd") {
        // *********************** หน้าเพิ่มข้อมูล ***********************
        // เช็คเลขโรงเรียนซ้ำ -> แจ้งเตือน
        this.dbSchool
          .where("schoolCode", "==", this.school.schoolCode)
          .get()
          .then(doc => {
            if (doc.size > 0) {
              this.notifyRed("รหัสโรงเรียนนี้มีการใช้งานแล้ว");
              this.useSave = true;
              this.loadingHide();
              return;
            }
            // เช็คชื่อโรงเรียนซ้ำ -> แจ้งเตือน
            this.dbSchool
              .where("name", "==", this.school.name)
              .get()
              .then(doc => {
                if (doc.size > 0) {
                  this.notifyRed("ชื่อโรงเรียนนี้มีการใช้งานแล้ว");
                  return;
                }
                // บันทึกเข้าฐานข้อมูล
                this.dbSchool.add(this.school).then(() => {
                  this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
                  this.$router.push({
                    name: "school",
                    params: {
                      typeKey: this.schooltype
                    }
                  });
                });
                this.useSave = true;
                this.loadingHide();
              });
          });
      } else {
        // *********************** หน้าแก้ไข ***********************
        // เช็คโรงเรียนซ้ำ -> แจ้งเตือน
        if (this.school.schoolCode != this.schoolCodeOld) {
          let checkSchoolCode = await this.dbSchool
            .where("schoolCode", "==", this.school.schoolCode)
            .get();
          if (checkSchoolCode.size > 0) {
            this.notifyRed("รหัสโรงเรียนนี้มีการใช้งานแล้ว");
            this.useSave = true;
            this.loadingHide();
            return;
          }
        }

        // เช็คชื่อโรงเรียนซ้ำ -> แจ้งเตือน
        if (this.school.name != this.nameOld) {
          let checkName = await this.dbSchool
            .where("name", "==", this.school.name)
            .get();
          if (checkName.size > 0) {
            this.notifyRed("ชื่อโรงเรียนนี้มีการใช้งานแล้ว");
            this.useSave = true;
            this.loadingHide();
            return;
          }
        }
        // บันทึกเข้าฐานข้อมูล
        this.dbSchool
          .doc(this.$route.params.key)
          .update(this.school)
          .then(() => {
            this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
            this.$router.push({
              name: "school",
              params: {
                typeKey: this.schooltype
              }
            });
            this.useSave = true;
            this.loadingHide();
          });
      }
    },
    // โหลดประเภทของโรงเรียน
    loadSchoolType() {
      db.collection("schooltype")
        .get()
        .then(doc => {
          doc.forEach(element => {
            let key = {
              value: element.id
            };
            let data = {
              label: element.data().name,
              order: element.data().order
            };
            let final = { ...key, ...data };
            this.optionsType.push(final);
          });
          this.optionsType.sort((a, b) => {
            return a.order - b.order;
          });
          if (this.schooltype == "all") {
            this.school.typeKey = this.optionsType[0].value;
          } else {
            this.school.typeKey = this.schooltype;
          }
        });
    },
    // โหลดจังหวัด
    loadProvicne() {
      db.collection("province")
        .get()
        .then(doc => {
          doc.forEach(element => {
            let key = {
              value: element.id,
              label: element.data().name
            };
            let final = { ...key };
            this.optionsProvince.push(final);
          });
          this.optionsProvince.sort((a, b) => {
            return a.name > b.name ? -1 : 1;
          });
          this.school.provinceKey = "กรุงเทพมหานคร";
        });
    },
    // โหลดชื่อคุณครู
    loadTeacherName() {
      db.collection("teacher")
        .where("schoolKey", "==", this.$route.params.key)
        .get()
        .then(doc => {
          doc.forEach(element => {
            let key = {
              value: element.id,
              label: element.data().name + " " + element.data().surname
            };
            let final = { ...key };
            this.optionsTeacher.push(final);
          });
          // เรียงชื่อครูจากA-Z
          this.optionsTeacher.sort((a, b) => {
            return a.label > b.label ? 1 : -1;
          });
          this.optionsTeacher.unshift({
            value: "0",
            label: "ไม่ระบุ"
          });
          this.school.contactName[0] = this.optionsTeacher[0];
        });
    },

    // โหลดข้อมูลโรงเรียน
    loadDataSchool() {
      this.dbSchool
        .doc(this.$route.params.key)
        .get()
        .then(doc => {
          // console.log(doc.data());
          this.school = doc.data();
          if (!this.school.contactName[0]) {
            this.school.contactName[0] = "0";
          }
          if (!this.school.contactName[1]) {
            this.school.contactName[1] = "0";
          }
          if (!this.school.contactName[2]) {
            this.school.contactName[2] = "0";
          }

          this.schoolCodeOld = this.school.schoolCode;
          this.nameOld = this.school.name;
        });
    },
    // เปลี่ยนสถานการเปิใช้งานโรงเรียน
    changeStatus() {
      // มีแจ้งเตือนเวลาปิด
      this.school.status == !this.school.status;
    }
  },
  mounted() {
    this.loadSchoolType();
    this.loadProvicne();
    if (this.$route.name == "schooledit") {
      this.pageName = "แก้ไขโรงเรียน";
      this.loadTeacherName();
      this.loadDataSchool();
    } else {
      // กรณีเพิ่มข้อมูล สั่งเปิดโรงเรียนไว้เลย
      this.school.status = true;
      this.pageName = "เพิ่มโรงเรียน";
    }
  }
};
</script>

<style scoped></style>
