<template>
  <div class="q-pa-md">
    <div class="text-h6">Generate Study Progress</div>
    <div style="width: 400px;">
      <q-select
        label="ชื่อโรงเรียน"
        color="amber-13"
        v-model="schoolKey"
        dark
        :options="schoolOption"
        emit-value
        map-options
      />
    </div>
    <div class="q-mb-md">
      <a href="../../statics/files/sample.xlsx">
        <q-btn
          label="Load Initial Student Data"
          color="amber-6 text-black"
          push
          no-caps
          class="btn q-mt-md"
        />
      </a>

      <q-btn
        label="Reset Student Data"
        color="amber-6 text-black"
        push
        no-caps
        class="btn q-mt-md q-mx-md"
        @click="resetStudentData()"
      />
    </div>

    <hr />
    <!-- placement menu -->
    <div>
      <q-btn
        label="placement ป.6/1"
        color="amber-6 text-black"
        push
        no-caps
        class="q-my-md q-mr-md btn-short"
        @click="genPlacement(1)"
      />
      <q-btn
        label="placement ป.6/2"
        color="amber-6 text-black"
        push
        no-caps
        class="q-my-md q-mr-md btn-short"
        @click="genPlacement(2)"
      />
      <q-btn
        label="placement ม.1/1"
        color="amber-6 text-black"
        push
        no-caps
        class="q-my-md q-mr-md btn-short"
        @click="genPlacement(3)"
      />
      <q-btn
        label="placement ม.2/1"
        color="amber-6 text-black"
        push
        no-caps
        class="q-my-md q-mr-md btn-short"
        @click="genPlacement(4)"
      />
      <q-btn
        label="reset placement"
        color="amber-6 text-black"
        push
        no-caps
        class="q-my-md q-mr-md btn-short"
        @click="resetPlacementBtn()"
      />
    </div>

    <!-- เลือก Level -->
    <div>
      <q-btn
        label="เลือก Level ป.6"
        color="amber-6 text-black"
        push
        no-caps
        class="q-mb-md q-mr-md btn-short"
        @click="setLevel(1)"
      />

      <q-btn
        label="เลือก Level ม.1"
        color="amber-6 text-black"
        push
        no-caps
        class="q-mb-md q-mr-md btn-short"
        @click="setLevel(3)"
      />
      <q-btn
        label="เลือก Level ม.2"
        color="amber-6 text-black"
        push
        no-caps
        class="q-mb-md q-mr-md btn-short"
        @click="setLevel(4)"
      />
      <q-btn
        label="reset placement"
        color="amber-6 text-black"
        push
        no-caps
        class="q-mb-md q-mr-md btn-short"
        @click="resetLevelBtn()"
      />
    </div>

    <!-- pretest -->
    <div>
      <q-btn
        label="pretest ป.6/1"
        color="amber-6 text-black"
        push
        no-caps
        class="q-mr-md btn-short"
        @click="genPrePosttest(1,1)"
      />
      <q-btn
        label="pretest ป.6/2"
        color="amber-6 text-black"
        push
        no-caps
        class="q-mr-md btn-short"
        @click="genPrePosttest(2,1)"
      />
      <q-btn
        label="pretest ม.1/1"
        color="amber-6 text-black"
        push
        no-caps
        class="q-mr-md btn-short"
        @click="genPrePosttest(3,1)"
      />
      <q-btn
        label="pretest ม.2/1"
        color="amber-6 text-black"
        push
        no-caps
        class="q-mr-md btn-short"
        @click="genPrePosttest(4,1)"
      />
      <q-btn
        @click="resetPrePostBtn(1)"
        label="reset pretest"
        color="amber-6 text-black"
        push
        no-caps
        class="q-mr-md btn-short"
      />
    </div>

    <!-- posttest -->
    <div>
      <q-btn
        label="post-test ป.6/1"
        color="amber-6 text-black"
        push
        no-caps
        class="q-mr-md q-my-md btn-short"
        @click="genPrePosttest(1,2)"
      />
      <q-btn
        label="post-test ป.6/2"
        color="amber-6 text-black"
        push
        no-caps
        class="q-mr-md btn-short"
        @click="genPrePosttest(2,2)"
      />
      <q-btn
        label="post-test ม.1/1"
        color="amber-6 text-black"
        push
        no-caps
        class="q-mr-md btn-short"
        @click="genPrePosttest(3,2)"
      />
      <q-btn
        label="post-test ม.2/1"
        color="amber-6 text-black"
        push
        no-caps
        class="q-mr-md btn-short"
        @click="genPrePosttest(4,2)"
      />
      <q-btn
        label="reset post-test"
        color="amber-6 text-black"
        push
        no-caps
        class="q-mr-md btn-short"
        @click="resetPrePostBtn(2)"
      />
    </div>

    <!-- questionnaire -->
    <div class="q-mb-md">
      <q-btn
        label="แบบสอบถาม ป.6/1"
        color="amber-6 text-black"
        push
        no-caps
        class="q-mr-md btn-short"
        @click="genQuestionnair(1)"
      />
      <q-btn
        label="แบบสอบถาม ป.6/2"
        color="amber-6 text-black"
        push
        no-caps
        class="q-mr-md btn-short"
        @click="genQuestionnair(2)"
      />
      <q-btn
        label="แบบสอบถาม ม.1/1"
        color="amber-6 text-black"
        push
        no-caps
        class="q-mr-md btn-short"
        @click="genQuestionnair(3)"
      />
      <q-btn
        label="แบบสอบถาม ม.2/1"
        color="amber-6 text-black"
        push
        no-caps
        class="q-mr-md btn-short"
        @click="genQuestionnair(4)"
      />
      <q-btn
        label="reset แบบสอบถาม"
        color="amber-6 text-black"
        push
        no-caps
        class="q-mr-md btn-short"
        @click="resetQuestionnair(1)"
      />
    </div>

    <hr />
    <div class="text-h6">Generate Classroom Progress</div>
    <div>
      <div class="row">
        <div style="width:100px;">
          <q-select
            label="Level"
            color="amber-13"
            v-model="levelChoose"
            dark
            :options="levelOption"
          />
        </div>
        <div style="width:100px;" class="q-mx-lg">
          <q-select label="unit" color="amber-13" v-model="unitChoose" dark :options="levelOption" />
        </div>
        <div style="width:100px;" class="q-mr-lg">
          <q-select
            label="ระดับชั้น"
            color="amber-13"
            v-model="classChoose"
            dark
            :options="classOption"
          />
        </div>
        <div style="width:100px;" class="q-mr-lg">
          <q-select label="ห้อง" color="amber-13" v-model="roomChoose" dark :options="levelOption" />
        </div>
        <div class="q-my-md">
          <q-date v-model="dateChoose" color="orange" text-color="black" dark mask="DD-MM-YYYY" />
        </div>
        <div>
          <q-btn
            label="add new class"
            color="amber-6 text-black"
            push
            no-caps
            class="q-mx-md btn-short"
            @click="genClassSet()"
          />
          <q-btn
            label="reset class"
            color="amber-6 text-black"
            push
            no-caps
            class="q-mr-md btn-short"
            @click="resetClassSet()"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      schoolKey: "",
      schoolOption: [],
      levelChoose: "1",
      unitChoose: "1",
      roomChoose: "1",
      levelOption: [
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9",
        "10",
        "11",
        "12",
        "13",
        "14",
        "15",
        "16"
      ],
      dateChoose: "",
      classChoose: "ป.1",
      classOption: [
        "ป.1",
        "ป.2",
        "ป.3",
        "ป.4",
        "ป.5",
        "ป.6",
        "ม.1",
        "ม.2",
        "ม.3",
        "ม.4",
        "ม.5",
        "ม.6"
      ],
      practiceListData: [],
      practiceListTemp: []
    };
  },
  methods: {
    loadPracticeListData() {
      this.practiceListData = [];
      db.collection("practicelist")
        .get()
        .then(doc => {
          doc.forEach(data => {
            let dataKey = {
              key: data.id
            };
            let dataFinal = {
              ...data.data(),
              ...dataKey
            };
            this.practiceListData.push(dataFinal);
          });
        });
    },
    genClassSet() {
      db.collection("classroomPracticeLog")
        .where("class", "==", this.classChoose)
        .where("term", "==", "2")
        .where("year", "==", "2562")
        .where("level", "==", this.levelChoose)
        .where("unit", "==", this.unitChoose)
        .get()
        .then(doc => {
          if (doc.size > 0) {
            let count = 0;
            doc.forEach(data => {
              db.collection("classroomPracticeLog")
                .doc(data.id)
                .delete()
                .then(() => {
                  count++;
                  if (count == doc.size) {
                    this.addClassSet();
                  }
                });
            });
          } else {
            this.addClassSet();
          }
          // this.addClassSet();
        });
    },
    addClassSet() {
      // return;
      this.practiceListTemp = [];
      // convert dateChoose to timestamp
      let dateData = this.dateChoose.split("-");
      let dateInput = new Date(
        dateData[2] + "-" + dateData[1] + "-" + dateData[0]
      );
      let startTime = dateInput.getTime();
      this.practiceListTemp = this.practiceListData.filter(
        x => x.level == this.levelChoose && x.unit == this.unitChoose
      );
      this.practiceListTemp.sort((a, b) => a.order - b.order);

      this.practiceListTemp.forEach(x => {
        let temp = {
          class: this.classChoose,
          date: {
            date: this.dateChoose,
            microtime: startTime
          },
          level: this.levelChoose,
          order: x.order,
          practiceKey: x.key,
          practiceListName: "test",
          practiceType: x.practicetype,
          room: this.roomChoose,
          skill: x.skill,
          term: "2",
          timeIn: startTime,
          timeOut: startTime + 8 * 60 * 1000,
          unit: this.unitChoose,
          useTime: "8:00",
          year: "2562",
          schoolKey: this.schoolKey
        };
        db.collection("classroomPracticeLog").add(temp);
      });
    },
    loadSchoolOption() {
      this.schoolOption = [];
      db.collection("school")
        .get()
        .then(doc => {
          doc.forEach(data => {
            let temp = {
              label: data.data().schoolCode + "-" + data.data().name,
              value: data.id
            };
            this.schoolOption.push(temp);
          });
          this.schoolOption.sort((a, b) => (a.label > b.label ? 1 : -1));
          this.schoolKey = this.schoolOption[0].value;
        });
    },
    setLevel(roomInput) {
      let classRoom = "";
      if (roomInput == 1) {
        classRoom = "ป.6";
      } else if (roomInput == 3) {
        classRoom = "ม.1";
      } else if (roomInput == 4) {
        classRoom = "ม.2";
      }
      let tempData = {
        class: classRoom,
        isPlacement: true,
        schoolKey: this.schoolKey,
        term: "2",
        year: "2562"
      };
      db.collection("placementMark").add(tempData);
    },
    resetLevelBtn() {
      db.collection("placementMark")
        .where("schoolKey", "==", this.schoolKey)
        .get()
        .then(doc => {
          doc.forEach(data => {
            db.collection("placementMark")
              .doc(data.id)
              .delete();
          });
        });
    },
    resetStudentData() {
      db.collection("student")
        .where("schoolKey", "==", this.schoolKey)
        .get()
        .then(doc => {
          doc.forEach(data => {
            db.collection("student")
              .doc(data.id)
              .delete();
          });
          this.notifyGreen("Reset student data done!!!");
        });
    },
    genPrePosttest(roomInput, type) {
      let classRoom = "";
      let room = "";
      let testType = "";
      if (roomInput == 1) {
        classRoom = "ป.6";
        room = "1";
      } else if (roomInput == 2) {
        classRoom = "ป.6";
        room = "2";
      } else if (roomInput == 3) {
        classRoom = "ม.1";
        room = "1";
      } else if (roomInput == 4) {
        classRoom = "ม.2";
        room = "1";
      }
      if (type == 1) {
        testType = "pretest";
      } else {
        testType = "posttest";
      }
      db.collection("student")
        .where("schoolKey", "==", this.schoolKey)
        .where("classRoom", "==", classRoom)
        .where("room", "==", room)
        .get()
        .then(doc => {
          doc.forEach(data => {
            let correct = Math.floor(Math.random() * Math.floor(30));
            let tempdata = {
              year: "2562",
              term: "2",
              class: classRoom,
              correct: correct,
              currentQuestion: 30,
              incorrect: 30 - correct,
              room: room,
              schoolKey: this.schoolKey,
              studentName: data.data().name + " " + data.data().surname,
              studentNo: data.data().no,
              status: true,
              studentKey: data.id,
              totalQuestion: 30,
              type: testType
            };
            db.collection("studentprepostlog").add(tempdata);
          });
        });

      //update schooltestlog
      let dataInputForSchooltestlog = {
        class: classRoom,
        room: room,
        schoolKey: this.schoolKey,
        status: true,
        term: "2",
        year: "2562",
        testtype: testType
      };
      db.collection("schooltestlog").add(dataInputForSchooltestlog);
    },
    resetPrePostBtn(type) {
      let testType = "";
      if (type == 1) {
        testType = "pretest";
      } else {
        testType = "posttest";
      }
      db.collection("studentprepostlog")
        .where("schoolKey", "==", this.schoolKey)
        .where("type", "==", testType)
        .get()
        .then(doc => {
          doc.forEach(data => {
            db.collection("studentprepostlog")
              .doc(data.id)
              .delete();
          });
        });

      db.collection("schooltestlog")
        .where("schoolKey", "==", this.schoolKey)
        .where("testtype", "==", testType)
        .get()
        .then(doc => {
          doc.forEach(data => {
            db.collection("schooltestlog")
              .doc(data.id)
              .delete();
          });
        });
    },
    genPlacement(roomInput) {
      let classRoom = "";
      let room = "";
      let levelSet = [];
      let totalQuestion = 0;
      if (roomInput == 1) {
        classRoom = "ป.6";
        room = "1";
      } else if (roomInput == 2) {
        classRoom = "ป.6";
        room = "2";
      } else if (roomInput == 3) {
        classRoom = "ม.1";
        room = "1";
      } else if (roomInput == 4) {
        classRoom = "ม.2";
        room = "1";
      }
      db.collection("student")
        .where("schoolKey", "==", this.schoolKey)
        .where("classRoom", "==", classRoom)
        .where("room", "==", room)
        .get()
        .then(doc => {
          doc.forEach(data => {
            let correct = 0;
            if (roomInput == 1 || roomInput == 2) {
              levelSet = [
                { level: 3, summary: this.genCorrectNumber(7) },
                { level: 4, summary: this.genCorrectNumber(7) },
                { level: 5, summary: this.genCorrectNumber(7) },
                { level: 6, summary: this.genCorrectNumber(7) }
              ];
              totalQuestion = 28;
            } else if (roomInput == 3) {
              levelSet = [
                { level: 3, summary: this.genCorrectNumber(7) },
                { level: 4, summary: this.genCorrectNumber(7) },
                { level: 5, summary: this.genCorrectNumber(7) },
                { level: 6, summary: this.genCorrectNumber(7) },
                { level: 7, summary: this.genCorrectNumber(7) },
                { level: 8, summary: this.genCorrectNumber(7) }
              ];
              totalQuestion = 42;
            } else if (roomInput == 4) {
              levelSet = [
                { level: 5, summary: this.genCorrectNumber(7) },
                { level: 6, summary: this.genCorrectNumber(7) },
                { level: 7, summary: this.genCorrectNumber(7) },
                { level: 8, summary: this.genCorrectNumber(7) },
                { level: 9, summary: this.genCorrectNumber(7) },
                { level: 10, summary: this.genCorrectNumber(7) }
              ];
              totalQuestion = 42;
            }

            levelSet.map(x => {
              correct += x.summary;
            });

            //update studentplacementlog
            let tempdata = {
              class: classRoom,
              correct: correct,
              currentQuestion: totalQuestion,
              incorrect: totalQuestion - correct,
              schoolKey: this.schoolKey,
              status: true,
              studentKey: data.id,
              room: room,
              totalQuestion: 30,
              studentName: data.data().name + " " + data.data().surname,
              studentNo: data.data().no,
              term: data.data().term,
              year: data.data().year,
              levelSet: levelSet
            };

            db.collection("studentplacementlog").add(tempdata);
          });
          //update schooltestlog
          let dataInputForSchooltestlog = {
            class: classRoom,
            room: room,
            schoolKey: this.schoolKey,
            status: true,
            term: "2",
            year: "2562",
            testtype: "placement"
          };
          db.collection("schooltestlog").add(dataInputForSchooltestlog);
        });
    },
    resetPlacementBtn() {
      db.collection("studentplacementlog")
        .where("schoolKey", "==", this.schoolKey)

        .get()
        .then(doc => {
          doc.forEach(data => {
            db.collection("studentplacementlog")
              .doc(data.id)
              .delete();
          });
        });

      db.collection("schooltestlog")
        .where("schoolKey", "==", this.schoolKey)
        .where("testtype", "==", "placement")
        .get()
        .then(doc => {
          doc.forEach(data => {
            db.collection("schooltestlog")
              .doc(data.id)
              .delete();
          });
        });
    },
    genCorrectNumber(maxNumber) {
      return Math.floor(Math.random() * Math.floor(maxNumber));
    },
    genQuestionnair(roomInput) {
      let classRoom = "";
      let room = "";
      if (roomInput == 1) {
        classRoom = "ป.6";
        room = "1";
      } else if (roomInput == 2) {
        classRoom = "ป.6";
        room = "2";
      } else if (roomInput == 3) {
        classRoom = "ม.1";
        room = "1";
      } else if (roomInput == 4) {
        classRoom = "ม.2";
        room = "1";
      }
      db.collection("student")
        .where("schoolKey", "==", this.schoolKey)
        .where("classRoom", "==", classRoom)
        .where("room", "==", room)
        .get()
        .then(doc => {
          doc.forEach(data => {
            let answer = [
              this.genCorrectNumber(5) + 1,
              this.genCorrectNumber(5) + 1,
              this.genCorrectNumber(5) + 1,
              this.genCorrectNumber(5) + 1,
              this.genCorrectNumber(5) + 1,
              this.genCorrectNumber(5) + 1,
              this.genCorrectNumber(5) + 1,
              this.genCorrectNumber(5) + 1,
              this.genCorrectNumber(5) + 1,
              this.genCorrectNumber(5) + 1
            ];
            let tempdata = {
              class: classRoom,
              currentQuestion: 10,
              room: room,
              questionSet: "muJO9yz8qWlkTh3HrEnl",
              schoolKey: this.schoolKey,
              studentKey: data.id,
              studentName: data.data().name + " " + data.data().surname,
              studentNo: data.data().no,
              totalQuestion: 10,
              term: data.data().term,
              year: data.data().year,
              answer: answer
            };
            db.collection("studentquestionnairelog").add(tempdata);
          });
        });

      //update schooltestlog
      let dataInputForSchooltestlog = {
        class: classRoom,
        room: room,
        schoolKey: this.schoolKey,
        status: true,
        term: "2",
        year: "2562",
        testtype: "questionnaire"
      };
      db.collection("schooltestlog").add(dataInputForSchooltestlog);
    },
    resetQuestionnair() {
      db.collection("studentquestionnairelog")
        .where("schoolKey", "==", this.schoolKey)

        .get()
        .then(doc => {
          doc.forEach(data => {
            db.collection("studentquestionnairelog")
              .doc(data.id)
              .delete();
          });
        });

      db.collection("schooltestlog")
        .where("schoolKey", "==", this.schoolKey)
        .where("testtype", "==", "questionnaire")
        .get()
        .then(doc => {
          doc.forEach(data => {
            db.collection("schooltestlog")
              .doc(data.id)
              .delete();
          });
        });
    }
  },
  mounted() {
    this.loadSchoolOption();
    this.loadPracticeListData();
  }
};
</script>

<style scoped>
.btn {
  width: 500px;
}
.btn-short {
  width: 250px;
}
</style>