<template>
  <div class="bg6">
    <div id="printBtn">
      <q-toolbar class="bg-black text-white">
        <q-toolbar-title>
          <span>ผลคะแนน post-test > พิมพ์ผลคะแนน post-test</span>
        </q-toolbar-title>
        <q-btn
          class="q-mr-md"
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-print"
          @click="printBtn()"
        />
        <q-btn
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-times"
          @click="closeBtn()"
        />
      </q-toolbar>
    </div>
    <div align="center">
      <div class="bg7 printMe shadow-1 paper-a4 q-my-lg cl2">
        <!-- หัวกระดาษ -->
        <div class="q-pa-md">
          <div class="box q-py-md row rounded-borders">
            <div class="col-4 relative-position">
              <div class="absolute-center">
                <img align="left" style="width:200px" src="../../statics/image/logowinner.png" />
              </div>
            </div>
            <div class="col-8 items-center row">
              <div class="items-center col-12" align="center">
                <span class="text-h6">ผลคะแนน pre-test/post-test&nbsp;</span>
                <hr style="width: 300px" />
                <span>{{ schoolName }}</span>
                - ปีการศึกษา
                <span>{{ year }}</span>
                ชั้น
                <span>{{ room }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="q-px-md">
          <table style="width:100%; border-collapse: collapse;">
            <thead>
              <tr style="height: 15px;" align="center">
                <td class="box q-py-sm">
                  <span>เลขที่</span>
                </td>
                <td class="box">
                  <span>ชื่อ-นามสกุล</span>
                </td>
                <td style="width:120px" class="box">
                  <span>Pre-test</span>
                </td>
                <td style="width:120px" class="box">
                  <span>Post-test</span>
                </td>
                <td style="width:120px" class="box">
                  <span>ผลต่างคะแนน</span>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr align="center" v-for="(item, index) in data" :key="index">
                <td class="box q-py-sm">{{ item.no }}</td>
                <td class="text-left q-pl-lg box">{{ item.name }}</td>
                <td class="box">{{ item.pretest }}</td>
                <td class="box">{{ item.posttest }}</td>
                <td class="box">
                  {{ item.diff == "0%" ? "-" : item.diff }}
                  <span
                    v-if="
                      item.diff.substr(0, 1) != '-' &&
                        item.diff.substr(0, 1) != '0'
                    "
                    class="fas fa-caret-up cl9 f20"
                  ></span>
                  <span
                    v-if="
                      item.diff.substr(0, 1) == '-'
                    "
                    class="fas fa-caret-down cl8 f20"
                  ></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: this.$route.params.data,
      schoolName: this.$route.params.schoolName,
      year: this.$route.params.year,
      room: this.$route.params.room
    };
  },
  methods: {
    printBtn() {
      window.print();
    },

    closeBtn() {
      this.$router.push("/monitor/posttest");
    }
  },
  mounted() {
    if (this.$route.params.data == undefined) {
      this.$router.push("/monitor/posttest");
    }
  }
};
</script>

<style scoped>
.box {
  border: 1px solid #5c5c5c;
}
.paper-a4 {
  background: #ffffff;
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}
@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }

  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  width: 210mm;
  height: 297mm;
  /* size: landscape; portrait */
}
</style>
