<template>
  <div class="bg6">
    <div id="printBtn">
      <q-toolbar class="bg-black text-white">
        <q-toolbar-title>
          <span>ผลแบบสอบถาม > พิมพ์ผลแบบสอบถาม</span>
        </q-toolbar-title>
        <q-btn
          class="q-mr-md"
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-print"
          @click="printBtn()"
        />
        <q-btn
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-times"
          @click="closeBtn()"
        />
      </q-toolbar>
    </div>
    <div align="center">
      <div class="bg7 printMe shadow-1 paper-a4 q-my-lg cl2">
        <!-- หัวกระดาษ -->
        <div class="q-px-md q-pt-md">
          <div class="box q-pa-md row rounded-borders">
            <div class="col-4 relative-position">
              <div class="absolute-center">
                <img align="left" style="width:200px" src="../../statics/image/logowinner.png" />
              </div>
            </div>
            <div class="col-8 items-center row">
              <div class="items-center col-12" align="center">
                <span class="text-h6">ผลแบบสอบถาม ชุดคำถาม ทั่วไป&nbsp;</span>
                <!-- <span>| L{{level}}&nbsp;</span>
                <span>U{{unit}}</span>-->
                <hr style="width: 300px" />
                <span>{{schoolName}}</span>
                - ปีการศึกษา
                <span>{{academicYear}}</span>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="q-pa-md">
            <table style="width:100%; border-collapse: collapse;">
              <thead>
                <tr style="height:15px;"></tr>
              </thead>
              <tbody>
                <tr v-for="(item,index) in result" :key="index+'a'">
                  <div class="text-left">{{index +1 }}. {{item.question}}</div>
                  <td class="row q-py-md">
                    <div
                      align="center"
                      style="vertical-align:top;width:50px"
                      class="col box q-pa-sm"
                    >ระดับชั้น</div>
                    <div
                      align="center"
                      style="vertical-align:top;width:20px"
                      class="col box q-pa-sm"
                    >จำนวน</div>
                    <div
                      align="center"
                      style="vertical-align:top;width:20px"
                      class="col box q-pa-sm"
                      v-for="(item2,index2) in item.answer"
                      :key="index2 + 'b'"
                    >{{item2}}</div>
                    <div class="row col-12" v-for="(item3,index3) in item.poll" :key="index3 + 'c'">
                      <div
                        align="center"
                        style="vertical-align:top;width:20px"
                        class="col box q-pa-sm"
                      >{{item3.label}}</div>
                      <div
                        align="center"
                        style="vertical-align:top;width:20px"
                        class="col box q-pa-sm"
                      >{{item3.no}}</div>
                      <div
                        align="center"
                        style="vertical-align:top;width:20px"
                        class="col box q-pa-sm"
                        v-for="(item4,index4) in item3.score"
                        :key="index4 + 'd'"
                      >{{item4}}%</div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      schoolName: this.$route.params.schoolName,
      academicYear: this.$route.params.academicYear,
      result: this.$route.params.result
    };
  },
  methods: {
    printBtn() {
      window.print();
    },
    closeBtn() {
      this.$router.push("/monitor/questionnaire");
    }
  },
  mounted() {
    if (this.$route.params.result == undefined) {
      this.$router.push("/monitor/questionnaire");
    }
  }
};
</script>

<style scoped>
tr td {
  /* border: 1px solid #5c5c5c; */
  text-align: center;
}
.box {
  border: 1px solid #5c5c5c;
}
.paper-a4 {
  background: #ffffff;
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}
@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }

  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  width: 210mm;
  height: 297mm;
  /* size: landscape; portrait */
}
</style>