<template>
  <div>
    <div class="text-h5 q-pt-lg" align="center">ระบบติดตาม</div>
    <!-- tap Manu -->
    <div class="row">
      <div class="col-1"></div>
      <div class="col-2">
        <q-select
          label="กลุ่มโรงเรียน"
          color="amber-13"
          @input="showList()"
          v-model="schoolTypeChoose"
          dark
          :options="schoolType"
        />
      </div>
      <q-separator vertical inset />
      <div class="col q-px-md q-pt-md">
        <q-btn-group class="full-width">
          <q-btn
            to="/monitor/placement"
            glossy
            class="fit"
            color="grey-8"
            text-color="white"
            label="วัดระดับ"
          />
          <q-separator vertical inset />
          <q-btn
            to="/monitor/pretest"
            glossy
            class="fit"
            color="grey-8"
            text-color="white"
            no-caps
            label="Pre-test"
          />
          <q-separator vertical inset />
          <q-btn
            to="/monitor/study"
            glossy
            color="grey-8"
            text-color="white"
            class="fit"
            label="เรียน"
          />
          <q-separator vertical inset />
          <q-btn glossy color="amber-13" text-color="black" class="fit" no-caps label="Post-test" />
          <q-separator vertical inset />
          <q-btn
            to="/monitor/questionnaire"
            glossy
            class="fit"
            color="grey-8"
            text-color="white"
            label="แบบสอบถาม"
          />
        </q-btn-group>
      </div>
      <div class="col-1"></div>
    </div>
    <!-- tap แสดงจำนวน -->
    <div class="q-pa-xl row items-center">
      <div style="width:90%; height:35px;" class="row">
        <div
          style=" height:35px;"
          :style="{
            width: (inactiveRoom / (inactiveRoom + finishRoom)) * 100 + '%'
          }"
          class="redbar q-py-sm"
          align="center"
          v-if="inactiveRoom > 0"
        >{{ inactiveRoom }} ห้อง</div>
        <div
          style=" height:35px;"
          :style="{
            width: (finishRoom / (inactiveRoom + finishRoom)) * 100 + '%'
          }"
          class="greenbar q-py-sm"
          align="center"
          v-if="finishRoom > 0"
        >{{ finishRoom }} ห้อง</div>
      </div>
      <div class="col q-pl-sm">
        <q-btn @click="dialogReportBtn()" class="text-black bg1 btnbar" square label="รายงาน"></q-btn>
      </div>
    </div>
    <!-- จุดสีบอกลักษณะ -->
    <div class="row justify-center q-px-xl">
      <div class="row col-2 q-px-md">
        <div class="redbox"></div>
        <div class="q-pl-md">ยังไม่ดำเนินการ</div>
      </div>
      <div class="row q-px-md col-2">
        <div class="greenbox"></div>
        <div class="q-pl-md">เสร็จสิ้นแล้ว</div>
      </div>
    </div>
    <!-- ยังไม่ดำเนินการ -->
    <div class="row q-pa-xl items-start">
      <div class="row col-6 q-pr-md">
        <div align="center" class="col-12 q-pb-lg">ยังไม่ดำเนินการ</div>
        <div class="col-12 boxgrey" style="max-width: 100% ">
          <q-list>
            <q-expansion-item
              group="leftGroup"
              class="lined"
              dense-toggle
              switch-toggle-side
              expand-separator
              v-for="(i, index) in this.inactiveList"
              :key="index"
            >
              <template v-slot:header>
                <div class="row items-center text-white q-mr-md">({{ i.progressList }})</div>
                <q-item-section>{{ i.label }}</q-item-section>

                <q-item-section side></q-item-section>
              </template>

              <q-card class="bg4" v-for="(i2, index2) in i.room" :key="index2">
                <q-card-section class="q-pl-xl lined">
                  <div class="q-pl-xl">{{ i2 }}</div>
                </q-card-section>
                <q-separator v-if="i.room.length - 1 != index2" />
              </q-card>
            </q-expansion-item>
          </q-list>
        </div>
      </div>

      <!-- รอเลือก level -->
      <div class="row col-6 q-pl-md">
        <div align="center" class="col-12 q-pb-lg">เสร็จสิ้นแล้ว</div>
        <div class="col-12 boxgrey" style="max-width: 100% ">
          <q-list>
            <q-expansion-item
              group="rightGroup"
              class="lined"
              label
              dense-toggle
              switch-toggle-side
              expand-separator
              v-for="(i, index) in this.finishList"
              :key="index"
            >
              <template v-slot:header>
                <div class="row items-center text-white q-mr-md">({{ i.progressList }})</div>
                <q-item-section>{{ i.label }}</q-item-section>

                <q-item-section side>
                  <!-- เลือก Level -->
                  <div class="row items-center">
                    <!-- <q-btn
                      @click="dialogSetLevel(i.schoolKey,i.classRoom)"
                      label="เลือก Level"
                      color="amber-13"
                      text-color="black"
                      style="height:35px"
                    />-->
                  </div>
                </q-item-section>
              </template>
              <q-separator />
              <q-card class="bg4" v-for="(i2, index2) in i.room" :key="index2">
                <q-card-section class="q-pl-xl lined row items-center justify-between">
                  <div class="q-pl-xl">{{ i2 }}</div>
                  <q-item-section>
                    <div class="row items-center justify-end">
                      <q-btn
                        @click="dialogResetBtn(i.schoolKey, i2)"
                        round
                        icon="fas fa-redo"
                        color="amber-13"
                        text-color="black"
                        size="12px"
                      />
                    </div>
                  </q-item-section>
                </q-card-section>
                <q-separator v-if="i.room.length - 1 != index2" />
              </q-card>
            </q-expansion-item>
          </q-list>
        </div>
      </div>
    </div>
    <!-- -----------------------------dialog------------------------------- -->
    <!-- dialog ResetScore -->
    <div>
      <q-dialog v-model="resetScore" persistent content-class="backdrop">
        <q-card dark style="min-width: 450px">
          <q-card-section>
            <div class="text-h6" align="center">Reset post-test</div>
            <div align="center">{{ resetSchoolName }} {{ resetRoom }}</div>
            <br />

            <div align="center">หากต้องการดำเนินการต่อพิมพ์ "ดำเนินการ"</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <div class="q-mx-md" align="center">
              <q-input dark v-model.trim="resetTextCheck" color="grey-4" />
            </div>
          </q-card-section>

          <q-card-actions align="center" class="q-mb-md">
            <q-btn
              class="q-mx-md"
              label="ยกเลิก"
              color="white"
              text-color="black"
              style="width:140px"
              v-close-popup
            />
            <q-btn
              class="q-mx-md"
              label="ตกลง"
              color="amber-13"
              text-color="black"
              style="width:140px"
              @click="resetBtn()"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
    <!-- dialog รายงาน Reprot -->
    <div>
      <q-dialog v-model="reportScore" persistent content-class="backdrop">
        <q-card dark style="min-width: 700px">
          <q-card-section>
            <div class="text-h6" align="center">ผลคะแนน Post-test</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <!-- ปีการศึกษา -->
            <div class="q-ma-md" align="center">
              <q-select
                dark
                :options="yearList"
                v-model="reportInput.year"
                label="ปีการศึกษา"
                color="grey-4"
                outlined
                @input="changeYear()"
              />
            </div>
            <!-- โรงเรียน -->
            <div class="q-ma-md" align="center">
              <q-select
                dark
                emit-value
                map-options
                :options="schoolNameList"
                v-model="reportInput.schoolName"
                label="โรงเรียน"
                color="grey-4"
                @input="loadClassPrint()"
                outlined
              />
            </div>
            <!-- ระดับชั้น -->
            <div class="q-ma-md" align="center">
              <q-select
                dark
                :options="classList"
                v-model="reportInput.class"
                label="ระดับชั้น"
                color="grey-4"
                outlined
                @input="loadRoomPrint()"
              />
            </div>
            <!-- ห้อง -->
            <div class="q-ma-md" align="center">
              <q-select
                dark
                :options="roomList"
                v-model="reportInput.room"
                label="ผลคะแนน"
                color="grey-4"
                outlined
                @input="resultPrint()"
              />
            </div>
            <!-- คะแนน Posttest  -->
            <div v-if="left == 0" class="q-mx-md row justify-between items-center" align="center">
              <div style="width:60px"></div>

              <!-- slide1 -->
              <div v-if="left == 0">
                <div class="q-mb-xs">ผลคะแนน Post-test</div>
                <div class="q-mb-xs">ค่าเฉลี่ย {{ avgScore }}%</div>
                <div>ค่าเบี่ยงเบนมาตราฐาน {{ sdScore }}%</div>
              </div>

              <!-- slideRight-BTN -->
              <div v-if="left == 0">
                <q-btn
                  v-show="showDiffGraph"
                  @click="slideRight()"
                  flat
                  color="amber-13"
                  icon="fas fa-caret-right"
                />
                <div style="width:60px" v-show="!showDiffGraph"></div>
              </div>
            </div>
            <!-- คะแนน Pretest-Posttest -->
            <div v-if="left != 0" class="q-mx-md row justify-between items-center" align="center">
              <!-- slideLeft-BTN -->
              <div>
                <q-btn
                  @click="slideRight()"
                  v-model="left"
                  flat
                  color="amber-13"
                  icon="fas fa-caret-left"
                />
              </div>

              <!-- slide2 -->
              <div>
                <div class="q-mb-xs">ผลต่างของ Pre-test / Post-test</div>
                <div class="q-mb-xs">ค่าเฉลี่ย {{ avgDiffScore }}%</div>
                <div>ค่าเบี่ยงเบนมาตราฐาน {{ sdDiffScore }}%</div>
              </div>
              <!-- slideRight-BTN -->
              <div style="width:50px"></div>
            </div>
            <!-- ----------------------กราฟ posttest----------------- -->
            <!-- กราฟ -->
            <div v-if="left == 0" class="greybox q-mt-md q-mx-md" align="center">
              <div class="row justify-between items-end" style="height:300px">
                <div class="q-mx-xs" v-for="(i, index) in levelResultGraph" :key="index">
                  <div>{{ i.no }}</div>
                  <div
                    style="width:50px"
                    :style="{ height: (i.no / maxStudentNo) * 250 + 10 + 'px' }"
                    class="bg-grey-8"
                  ></div>
                </div>
              </div>
            </div>
            <!-- เลขใต้กราฟ -->
            <div v-if="left == 0">
              <div class="q-ma-xs row q-mx-md justify-between items-start">
                <div
                  class="q-mx-xs"
                  style="width:50px"
                  v-for="(i, index) in levelResultGraph"
                  :key="index"
                  align="center"
                >
                  <div class="text-caption q-pl-xs">{{ i.score }}</div>
                </div>
              </div>
            </div>
            <!-- ----------------------กราฟ pretest-posttest----------------- -->
            <!-- กราฟ -->
            <div v-if="left != 0" class="greybox q-mt-md q-mx-md" align="center">
              <div class="row justify-between items-end" style="height:300px">
                <div class="q-mx-xs" v-for="(i, index) in diffResultGraph" :key="index">
                  <div>{{ i.no }}</div>
                  <div
                    style="width:70px"
                    :style="{
                      height: (i.no / maxDiffStudentNo) * 250 + 10 + 'px'
                    }"
                    :class="{ 'bg-red': index == 0, 'bg-grey-8': index != 0 }"
                  ></div>
                </div>
              </div>
            </div>
            <!-- เลขใต้กราฟ -->
            <div v-if="left != 0">
              <div class="q-ma-xs row q-mx-md justify-between items-start">
                <div
                  class="q-mx-xs"
                  style="width:70px"
                  v-for="(i, index) in diffResultGraph"
                  :key="index"
                  align="center"
                >
                  <div class="text-caption q-pl-xs">{{ i.score }}</div>
                </div>
              </div>
            </div>
          </q-card-section>

          <q-card-actions align="center" class="q-mb-lg">
            <q-btn
              class="q-mx-md"
              label="ยกเลิก"
              color="white"
              text-color="black"
              style="width:140px"
              v-close-popup
            />
            <q-btn
              @click="printBtn()"
              class="q-mx-md"
              label="พิมพ์ผลคะแนน"
              color="amber-13"
              text-color="black"
              style="width:140px"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      left: 0,
      // Dialog
      resetScore: false, //ตัวแปรเปิด Dialog Reset
      reportScore: false, //ตัวแปรเปิด dialog รายงานผลคะแนน
      testType: "posttest",
      // กลุ่มโรงเรียน
      schoolTypeChoose: "ทั้งหมด",
      schoolType: [],
      roomListData: [],
      term: "", //เทอมปัจจุบัน
      year: "", //ปีการศึกษาปัจจุบัน

      studentData: [], //ข้อมูลนักเรียนทั้งหมด
      schoolData: [], //ข้อมูลโรงเรียน
      schoolTestLogData: [], //ข้อมูลกการสอบ test
      studentPrepostData: [], //ข้อมูลคะแนน prepost

      //***ข้อมูลสำหรับการวิเคราะห์ชั่วคราว */
      schoolList: [], //รายชื่อโรงเรียนที่แสดงผล

      //ข้อมูลกำลังดำเนินงาน
      inactiveList: [
        {
          progressList: "0/0",
          label: "รอโหลดสักครู่...",
          room: ["ม.1/1", "ม.1/2", "ม.1/4"]
        }
      ],
      //ข้อมูลสำหรับรอเลือก Level
      finishList: [
        {
          progressList: "0/0",
          label: "รอโหลดสักครู่...",
          schoolKey: "xddgtsfeuwhfsfhosd",
          classRoom: "m1",
          room: [{ roomName: "ม.1/3", level: 3, room: 3 }]
        }
      ],

      //ข้อมูลสำหรับแสดงสถานะ
      finishRoom: 1, //จำนวนห้องทั้งหมดที่เสร็จแล้ว
      inactiveRoom: 1, //จำนวนห้องเรียนที่ยังไม่ดำเนินการ

      //reset btn
      resetTextCheck: "", //เก็บค่าคำว่าดำเนินการ Dialog Reset
      resetSchoolKey: "", // school key โรงเรียนที่จะ reset
      resetRoom: "", //room โรงเรียนที่จะ reset
      resetSchoolName: "", //ชื่อโรงเรียนที่จะ reset

      // print
      yearList: [
        "2/2562",
        "1/2563",
        "2/2563",
        "1/2564",
        "2/2564",
        "1/2565",
        "2/2565",
        "1/2566",
        "2/2566",
        "1/2567",
        "2/2567",
        "1/2568",
        "2/2568",
        "1/2569",
        "2/2569",
        "1/2570",
        "2/2570"
      ],
      schoolNameList: [],
      classList: [],
      roomList: [],

      reportInput: {
        year: "",
        schoolName: "",
        class: "",
        room: ""
      },
      showDiffGraph: true,

      levelResultGraph: [
        { score: "0-10", no: 0 },
        { score: "11-20", no: 0 },
        { score: "21-30", no: 0 },
        { score: "31-40", no: 0 },
        { score: "41-50", no: 0 },
        { score: "51-60", no: 0 },
        { score: "61-70", no: 0 },
        { score: "71-80", no: 0 },
        { score: "81-90", no: 0 },
        { score: "91-100", no: 0 }
      ], //ข้อมูลสำหรับสร้างกราฟ

      diffResultGraph: [
        { score: "<0", no: 10 },
        { score: "0-10", no: 8 },
        { score: "11-20", no: 12 },
        { score: "21-30", no: 10 },
        { score: "31-40", no: 5 },
        { score: "41-50", no: 10 },
        { score: "50+", no: 8 }
      ], //ข้อมูลสำหรับสร้างกราฟ ผลต่าง

      maxStudentNo: 10,
      maxDiffStudentNo: 12,
      avgScore: 0,
      sdScore: 0,
      avgDiffScore: 0,
      sdDiffScore: 0
    };
  },
  methods: {
    async loadTermYear() {
      this.loadingShow();
      await db
        .collection("term")
        .doc("data")
        .get()
        .then(data => {
          this.term = data.data().term;
          this.year = data.data().year;
        });
    },

    //โหลดนักเรียทั้งหมด
    loadStudentData() {
      this.studentData = [];
      db.collection("student")
        .where("year", "==", this.year)
        .where("term", "==", this.term)
        .get()
        .then(doc => {
          doc.forEach(data => {
            let temp = {
              key: data.id
            };
            let tempFinal = { ...temp, ...data.data() };
            this.studentData.push(tempFinal);
          });
        });
    },

    // --------slide-------------
    slideRight() {
      if (this.left == 0) {
        this.left = 1;
      } else {
        this.left = 0;
      }
    },

    //โหลดรายชื่อโรงเรียน
    loadSchoolData() {
      this.schoolData = [];
      db.collection("school")
        .get()
        .then(doc => {
          doc.forEach(data => {
            let temp = {
              key: data.id
            };
            let tempFinal = { ...temp, ...data.data() };
            this.schoolData.push(tempFinal);
          });
        });
    },

    // load รายชื่อประเภทโรงเรียน
    loadSchoolTypeList() {
      this.schoolType = [];
      let tempdata = {
        label: "ทั้งหมด",
        value: "all"
      };
      this.schoolType.push(tempdata);
      db.collection("schooltype")
        .orderBy("order")
        .get()
        .then(doc => {
          doc.forEach(data => {
            tempdata = {
              label: data.data().name,
              value: data.id
            };
            this.schoolType.push(tempdata);
            this.schoolTypeChoose = this.schoolType[0];
          });
        });
    },

    loadStudentPrepostData() {
      this.studentPrepostData = [];
      db.collection("studentprepostlog")

        .get()
        .then(doc => {
          if (doc.size > 0) {
            doc.forEach(data => {
              let temp = {
                key: data.id
              };
              let tempFinal = { ...temp, ...data.data() };
              this.studentPrepostData.push(tempFinal);
            });
          }
        });
    },

    //โหลด schooltestlog
    loadSchoolTestLog() {
      this.schoolTestLogData = [];
      db.collection("schooltestlog")
        .where("testtype", "==", this.testType)
        .get()
        .then(doc => {
          if (doc.size > 0) {
            doc.forEach(data => {
              let temp = {
                key: data.id
              };
              let tempFinal = { ...temp, ...data.data() };
              this.schoolTestLogData.push(tempFinal);
            });
          }
          this.loadingHide();
          this.showList();
        });
    },

    showList() {
      let typeKey = this.schoolTypeChoose.value;
      this.inactiveList = [];
      this.finishList = [];
      this.finishRoom = 0;
      this.inactiveRoom = 0;
      //หาชื่อโรงเรียนที่ต้องแสดง
      if (typeKey == undefined) {
        typeKey = "all";
      }
      if (typeKey != "all") {
        this.schoolList = this.schoolData.filter(
          x => x.typeKey == typeKey && x.prePostStatus == this.testType
        );
      } else {
        this.schoolList = this.schoolData.filter(
          x => x.prePostStatus == this.testType
        );
      }

      this.schoolList.forEach(x => {
        //หาว่ามีเรียนชั้นไหนบ้าง
        let studentInThisSchool = this.studentData.filter(
          x1 => x1.schoolKey == x.key
        );

        let classRoomInThisSchool = [
          ...new Set(studentInThisSchool.map(x => x.classRoom))
        ];
        //ทำการเรียงระดับชั้นในโรงเรียนนั้น
        classRoomInThisSchool.sort((a, b) => {
          return a > b ? 1 : -1;
        });
        //สร้าง ยังไม่ดำเนินการ
        classRoomInThisSchool.forEach(className => {
          //check ว่ามีห้องอะไรบ้าง
          // console.log(x.key, className);
          let roomData = this.studentData.filter(
            x1 => x1.schoolKey == x.key && x1.classRoom == className
          );
          let roomInThisClass = [...new Set(roomData.map(x => x.room))];
          roomInThisClass.sort((a, b) => Number(a) - Number(b));
          // console.log(roomInThisClass);

          //วน check ว่าห้องชั้นดังกล่าวทำ questionNaire หรือยัง
          let roomInactive = [];
          let roomActive = [];
          roomInThisClass.forEach(classRawData => {
            // console.log(x.key, className, classRawData);
            let schoolTestLogCheck = this.schoolTestLogData.filter(
              logData =>
                logData.class == className &&
                logData.room == classRawData &&
                logData.schoolKey == x.key
            );
            // console.log(schoolTestLogCheck.length);

            if (schoolTestLogCheck.length) {
              roomActive.push(className + "/" + classRawData);
            } else {
              roomInactive.push(className + "/" + classRawData);
            }
          });

          // console.log(roomActive, roomInactive);
          if (roomInactive.length) {
            this.inactiveRoom += roomInactive.length;
            let tempData = {
              progressList:
                roomInactive.length +
                "/" +
                (roomInactive.length + roomActive.length),
              label: x.name + " " + className,
              room: roomInactive
            };
            this.inactiveList.push(tempData);
          }
          if (roomActive.length) {
            this.finishRoom += roomActive.length;
            let tempData = {
              progressList:
                roomActive.length +
                "/" +
                (roomInactive.length + roomActive.length),
              label: x.name + " " + className,
              schoolKey: x.key,
              room: roomActive
            };
            this.finishList.push(tempData);
          }
        });
      });
      this.loadingHide();
    },

    dialogResetBtn(schoolKey, room) {
      this.resetSchoolName = this.schoolData.filter(x => x.key == schoolKey);
      this.resetTextCheck = "";
      this.resetSchoolName = this.resetSchoolName[0].name;
      this.resetSchoolKey = schoolKey;
      this.resetRoom = room;
      this.resetScore = true;
    },
    resetBtn() {
      if (this.resetTextCheck != "ดำเนินการ") {
        this.notifyRed("กรุณาพิมพ์ข้อความ 'ดำเนินการ'");
        return;
      } else {
        this.loadingShow();
        //ทำการลบข้อมูลนักเรียน จาก studentplacementlog
        let roomDataTemp = this.resetRoom.split("/");
        // console.log(roomDataTemp[0], roomDataTemp[1]);
        db.collection("studentprepostlog")
          .where("class", "==", roomDataTemp[0])
          .where("room", "==", roomDataTemp[1].toString())
          .where("schoolKey", "==", this.resetSchoolKey)
          .where("year", "==", this.year)
          .where("term", "==", this.term)
          .where("type", "==", this.testType)
          .get()
          .then(doc => {
            // console.log(doc.size);
            return;
            doc.forEach(data => {
              db.collection("studentprepostlog")
                .doc(data.id)
                .delete();
            });
          });

        db.collection("schooltestlog")
          .where("class", "==", roomDataTemp[0])
          .where("room", "==", roomDataTemp[1].toString())
          .where("schoolKey", "==", this.resetSchoolKey)
          .where("year", "==", this.year)
          .where("term", "==", this.term)
          .where("testtype", "==", this.testType)
          .get()
          .then(doc => {
            // console.log(doc)
            doc.forEach(data => {
              db.collection("schooltestlog")
                .doc(data.id)
                .delete();
            });
            this.loadSchoolTestLog();
          });

        this.resetScore = false;
      }
    },
    dialogReportBtn() {
      this.reportInput.year = this.term + "/" + this.year;
      this.loadSchoolPrint(this.term, this.year);
      this.reportScore = true;
    },
    changeYear() {
      let academicYearData = this.reportInput.year.split("/");
      this.loadSchoolPrint(academicYearData[0], academicYearData[1]);
    },
    loadSchoolPrint(term, year) {
      this.schoolNameList = [];
      let inputSchoolKey = [];
      this.questionnaireList = [];

      let schoolTestRawData = this.schoolTestLogData.filter(
        x => x.term == term && x.year == year && x.testtype == this.testType
      );

      schoolTestRawData.forEach(data => {
        inputSchoolKey.push(data.schoolKey);
      });
      inputSchoolKey = [...new Set(inputSchoolKey)];

      inputSchoolKey.forEach(schoolKey => {
        let schoolNameInput = this.schoolData.filter(x => x.key == schoolKey);
        let inputSchoolName = {
          label: schoolNameInput[0].name,
          value: schoolKey
        };
        this.schoolNameList.push(inputSchoolName);
      });
      this.schoolNameList.sort((a, b) => {
        return a > b ? -1 : 1;
      });

      if (this.schoolNameList.length) {
        this.reportInput.schoolName = this.schoolNameList[0].value;

        this.loadClassPrint();
      } else {
        this.reportInput.schoolName = "ไม่มีข้อมูล";
        this.classList = [];
        this.roomList = [];
        this.reportInput.class = "ไม่มีข้อมูล";
        this.reportInput.room = "ไม่มีข้อมูล";
      }
    },
    loadClassPrint() {
      this.classList = [];
      let schoolTestRawData = this.schoolTestLogData.filter(
        x =>
          x.term == this.term &&
          x.year == this.year &&
          x.testtype == this.testType &&
          x.schoolKey == this.reportInput.schoolName
      );
      schoolTestRawData.forEach(data => {
        this.classList.push(data.class);
      });
      this.classList = [...new Set(this.classList)];
      //ทำการเรียงระดับชั้นในโรงเรียนนั้น
      this.classList.sort((a, b) => {
        return a > b ? 1 : -1;
      });
      if (this.classList.length) {
        this.reportInput.class = this.classList[0];
        this.loadRoomPrint();
      }
    },
    loadRoomPrint() {
      this.roomList = [];
      let schoolTestRawData = this.schoolTestLogData.filter(
        x =>
          x.term == this.term &&
          x.year == this.year &&
          x.testtype == this.testType &&
          x.schoolKey == this.reportInput.schoolName &&
          x.class == this.reportInput.class
      );
      schoolTestRawData.forEach(data => {
        this.roomList.push("ผลคะแนนรายบุคคลห้อง " + data.room);
      });
      this.roomList = [...new Set(this.roomList)];
      //ทำการเรียงระดับชั้นในโรงเรียนนั้น
      this.roomList.sort((a, b) => {
        return a > b ? 1 : -1;
      });
      if (this.roomList.length) {
        this.roomList.unshift("ผลคะแนนภาพรวม");
        this.reportInput.room = this.roomList[0];
        this.resultPrint();
      }
    },
    resultPrint() {
      let scoreRawData = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
      let studentRawData = [];
      let scoreAllStudent = [];
      let studentPretestRawData = [];
      //ดึงข้อมูลนักเรียน
      if (this.reportInput.room == "ผลคะแนนภาพรวม") {
        studentRawData = this.studentPrepostData.filter(
          x =>
            x.schoolKey == this.reportInput.schoolName &&
            x.term == this.term &&
            x.year == this.year &&
            x.type == this.testType &&
            x.class == this.reportInput.class
        );
        studentPretestRawData = this.studentPrepostData.filter(
          x =>
            x.schoolKey == this.reportInput.schoolName &&
            x.term == this.term &&
            x.year == this.year &&
            x.type == "pretest" &&
            x.class == this.reportInput.class
        );
        this.left = 0;
        if (studentPretestRawData.length) {
          this.showDiffGraph = true;
        } else {
          this.showDiffGraph = false;
        }
      } else {
        let roomIndex = this.reportInput.room.substr(
          this.reportInput.room.length - 1
        );
        studentRawData = this.studentPrepostData.filter(
          x =>
            x.schoolKey == this.reportInput.schoolName &&
            x.term == this.term &&
            x.year == this.year &&
            x.type == this.testType &&
            x.class == this.reportInput.class &&
            x.room == roomIndex
        );
        studentPretestRawData = this.studentPrepostData.filter(
          x =>
            x.schoolKey == this.reportInput.schoolName &&
            x.term == this.term &&
            x.year == this.year &&
            x.type == "pretest" &&
            x.class == this.reportInput.class &&
            x.room == roomIndex
        );
        this.left = 0;
        if (studentPretestRawData.length) {
          this.showDiffGraph = true;
        } else {
          this.showDiffGraph = false;
        }
      }
      //วน loop เก็บคะแนนแต่ละคน
      studentRawData.forEach(data => {
        let scoreFinal = (data.correct / data.totalQuestion) * 100;
        let scoreCat = Math.floor(scoreFinal / 10);

        if (scoreCat != 10) {
          scoreRawData[scoreCat] += 1;
        }

        scoreAllStudent.push(scoreFinal);
      });

      this.maxStudentNo = Math.max.apply(null, scoreRawData);

      let sum = scoreAllStudent.reduce(
        (previous, current) => (current += previous)
      );

      this.avgScore = (sum / scoreAllStudent.length).toFixed(2);
      this.sdScore = Math.sqrt(
        scoreAllStudent.reduce((sq, n) => {
          return sq + Math.pow(n - this.avgScore, 2);
        }, 0) /
          (scoreAllStudent.length - 1)
      ).toFixed(2);
      this.levelResultGraph = [
        { score: "0-10", no: scoreRawData[0] },
        { score: "11-20", no: scoreRawData[1] },
        { score: "21-30", no: scoreRawData[2] },
        { score: "31-40", no: scoreRawData[3] },
        { score: "41-50", no: scoreRawData[4] },
        { score: "51-60", no: scoreRawData[5] },
        { score: "61-70", no: scoreRawData[6] },
        { score: "71-80", no: scoreRawData[7] },
        { score: "81-90", no: scoreRawData[8] },
        { score: "91-100", no: scoreRawData[9] }
      ];

      if (this.showDiffGraph) {
        // หาผลต่าง Pretest - Posttest

        let studentScoreDiffData = [];
        let scoreDiffCat = [0, 0, 0, 0, 0, 0, 0];

        studentRawData.forEach(data => {
          let posttestScore = studentPretestRawData.filter(
            data2 => data2.studentKey == data.studentKey
          );

          if (posttestScore.length) {
            posttestScore = posttestScore.map(
              x => (x.correct / x.totalQuestion) * 100
            );
            let pretestScore = (data.correct / data.totalQuestion) * 100;
            let diffScore = posttestScore[0] - pretestScore;
            if (diffScore < 0) {
              scoreDiffCat[0] += 1;
            } else if (diffScore <= 10) {
              scoreDiffCat[1] += 1;
            } else if (diffScore <= 20) {
              scoreDiffCat[2] += 1;
            } else if (diffScore <= 30) {
              scoreDiffCat[3] += 1;
            } else if (diffScore <= 40) {
              scoreDiffCat[4] += 1;
            } else if (diffScore <= 50) {
              scoreDiffCat[5] += 1;
            } else {
              scoreDiffCat[6] += 1;
            }
            studentScoreDiffData.push(diffScore);
          }
        });
        // console.log(scoreDiffCat);
        this.maxDiffStudentNo = Math.max.apply(null, scoreDiffCat);

        console.log(scoreDiffCat);

        console.log(studentScoreDiffData);

        let sum2 = studentScoreDiffData.reduce(
          (previous, current) => (current += previous)
        );
        this.avgDiffScore = (sum2 / studentScoreDiffData.length).toFixed(2);
        this.sdDiffScore = Math.sqrt(
          studentScoreDiffData.reduce((sq, n) => {
            return sq + Math.pow(n - this.avgDiffScore, 2);
          }, 0) /
            (studentScoreDiffData.length - 1)
        ).toFixed(2);
        this.diffResultGraph = [
          { score: "<0", no: scoreDiffCat[0] },
          { score: "0-10", no: scoreDiffCat[1] },
          { score: "11-20", no: scoreDiffCat[2] },
          { score: "21-30", no: scoreDiffCat[3] },
          { score: "31-40", no: scoreDiffCat[4] },
          { score: "41-50", no: scoreDiffCat[5] },
          { score: "50+", no: scoreDiffCat[6] }
        ]; //ข้อมูลสำหรับสร้างกราฟ ผลต่าง
      }
    },
    printBtn() {
      let studentRawData = [];
      if (this.showDiffGraph == false) {
        if (this.reportInput.room == "ผลคะแนนภาพรวม") {
          //แสดงกราฟภาพรวม
          let data = [];
          data.push({
            title: "ผลคะแนนภาพรวม",
            mean: this.avgScore,
            sd: this.sdScore,
            graph: this.levelResultGraph,
            maxstudent: this.maxStudentNo
          });
          studentRawData = this.studentPrepostData.filter(
            x =>
              x.schoolKey == this.reportInput.schoolName &&
              x.term == this.term &&
              x.year == this.year &&
              x.type == this.testType &&
              x.class == this.reportInput.class
          );

          let roomInThisClass = [...new Set(studentRawData.map(x => x.room))];
          roomInThisClass.forEach(room => {
            let scoreRawData = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

            let scoreAllStudent = [];
            let avgScorePage = 0;
            let sdScorePage = 0;
            let maxStudent = 0;
            // console.log(room);
            let studentRoomData = studentRawData.filter(x1 => x1.room == room);
            // console.log(studentRoomData);
            studentRoomData.forEach(data => {
              let scoreFinal = (data.correct / data.totalQuestion) * 100;
              let scoreCat = Math.floor(scoreFinal / 10);
              // console.log(scoreFinal);
              scoreRawData[scoreCat] += 1;
              scoreAllStudent.push(scoreFinal);
            });
            maxStudent = Math.max.apply(null, scoreRawData);
            let sum = scoreAllStudent.reduce(
              (previous, current) => (current += previous)
            );
            avgScorePage = (sum / scoreAllStudent.length).toFixed(2);
            sdScorePage = Math.sqrt(
              scoreAllStudent.reduce((sq, n) => {
                return sq + Math.pow(n - avgScorePage, 2);
              }, 0) /
                (scoreAllStudent.length - 1)
            ).toFixed(2);
            let scoreGraph = [
              { score: "0-10", no: scoreRawData[0] },
              { score: "11-20", no: scoreRawData[1] },
              { score: "21-30", no: scoreRawData[2] },
              { score: "31-40", no: scoreRawData[3] },
              { score: "41-50", no: scoreRawData[4] },
              { score: "51-60", no: scoreRawData[5] },
              { score: "61-70", no: scoreRawData[6] },
              { score: "71-80", no: scoreRawData[7] },
              { score: "81-90", no: scoreRawData[8] },
              { score: "91-100", no: scoreRawData[9] }
            ];
            data.push({
              title: "ผลคะแนน " + this.reportInput.class + "/" + room,
              mean: avgScorePage,
              sd: sdScorePage,
              graph: scoreGraph,
              maxstudent: maxStudent
            });
          });
          let schoolNameData = this.schoolData.filter(
            x => x.key == this.reportInput.schoolName
          );
          schoolNameData = schoolNameData[0].name;
          this.$router.push({
            name: "monitorposttestgraph",
            params: {
              data: data,
              schoolName: schoolNameData,
              year: this.reportInput.year,
              class: this.reportInput.class
            }
          });
        } else {
          console.clear();
          //แสดงคะแนนรายบุคคล
          let roomIndex = this.reportInput.room.substr(
            this.reportInput.room.length - 1
          );

          let studentInRoom = this.studentData.filter(
            x =>
              x.schoolKey == this.reportInput.schoolName &&
              x.classRoom == this.reportInput.class &&
              x.term == this.term &&
              x.year == this.year &&
              x.room == roomIndex
          );

          studentInRoom.sort((a, b) => {
            return Number(a.no) - Number(b.no);
          });

          // console.log(studentInRoom);

          // let data = [];
          // studentInRoom.forEach(result => {
          //   let dataTemp = null;
          //   studentRawData = this.studentPrepostData.filter(
          //     x => x.studentKey == result.key
          //   );

          //   if (studentRawData.length) {
          //     studentRawData.forEach(x => {
          //       dataTemp = {
          //         no: x.studentNo,
          //         name: x.studentName,
          //         score: ((x.correct / x.totalQuestion) * 100).toFixed(0) + "%"
          //       };
          //     });
          //   } else {
          //     dataTemp = {
          //       no: x.studentNo,
          //       name: x.studentName,
          //       score: "-"
          //     };
          //   }

          //   data.push(dataTemp);
          // });

          // return;

          let schoolNameData = this.schoolData.filter(
            x => x.key == this.reportInput.schoolName
          );
          schoolNameData = schoolNameData[0].name;
          this.$router.push({
            name: "monitorposttesttable",
            params: {
              data: data,
              schoolName: schoolNameData,
              year: this.reportInput.year,
              room: this.reportInput.class + "/" + roomIndex
            }
          });
        }
      } else {
        // กรณีที่มีผลต่างคะแนน;

        if (this.reportInput.room == "ผลคะแนนภาพรวม") {
          //*********************Working */
          //แสดงกราฟภาพรวม
          // หาผลต่าง Pretest - Posttest
          let studentScoreDiffData = [];
          let data = [];
          let avgDiff = 0;
          let sdDiff = 0;
          let diffResult = [];
          let scoreDiffCat = [0, 0, 0, 0, 0, 0, 0];
          let studentRawData = [];
          let maxDiff = 0;
          studentRawData = this.studentPrepostData.filter(
            x =>
              x.schoolKey == this.reportInput.schoolName &&
              x.term == this.term &&
              x.year == this.year &&
              x.type == this.testType &&
              x.class == this.reportInput.class
          );
          let studentPretestRawData = this.studentPrepostData.filter(
            x =>
              x.schoolKey == this.reportInput.schoolName &&
              x.term == this.term &&
              x.year == this.year &&
              x.type == "pretest" &&
              x.class == this.reportInput.class
          );
          studentRawData.forEach(data => {
            let posttestScore = studentPretestRawData.filter(
              data2 => data2.studentKey == data.studentKey
            );
            if (posttestScore.length) {
              posttestScore = posttestScore.map(
                x => (x.correct / x.totalQuestion) * 100
              );
              let pretestScore = (data.correct / data.totalQuestion) * 100;
              let diffScore = posttestScore[0] - pretestScore;
              if (diffScore < 0) {
                scoreDiffCat[0] += 1;
              } else if (diffScore <= 10) {
                scoreDiffCat[1] += 1;
              } else if (diffScore <= 20) {
                scoreDiffCat[2] += 1;
              } else if (diffScore <= 30) {
                scoreDiffCat[3] += 1;
              } else if (diffScore <= 40) {
                scoreDiffCat[4] += 1;
              } else if (diffScore <= 50) {
                scoreDiffCat[5] += 1;
              } else {
                scoreDiffCat[6] += 1;
              }
              studentScoreDiffData.push(diffScore);
            }
          });
          // console.log(scoreDiffCat);
          maxDiff = Math.max.apply(null, scoreDiffCat);

          let sum2 = studentScoreDiffData.reduce(
            (previous, current) => (current += previous)
          );
          avgDiff = (sum2 / studentScoreDiffData.length).toFixed(2);
          sdDiff = Math.sqrt(
            studentScoreDiffData.reduce((sq, n) => {
              return sq + Math.pow(n - avgDiff, 2);
            }, 0) /
              (studentScoreDiffData.length - 1)
          ).toFixed(2);
          diffResult = [
            { score: "<0", no: scoreDiffCat[0] },
            { score: "0-10", no: scoreDiffCat[1] },
            { score: "11-20", no: scoreDiffCat[2] },
            { score: "21-30", no: scoreDiffCat[3] },
            { score: "31-40", no: scoreDiffCat[4] },
            { score: "41-50", no: scoreDiffCat[5] },
            { score: "50+", no: scoreDiffCat[6] }
          ]; //ข้อมูลสำหรับสร้างกราฟ ผลต่าง
          data.push({
            title: "ผลคะแนนภาพรวม",
            mean: this.avgScore,
            sd: this.sdScore,
            graph: this.levelResultGraph,
            maxstudent: this.maxStudentNo
          });
          let dataTemp = {
            title: "ผลต่างคะแนน Pre-test / Post-test",
            mean: avgDiff,
            sd: sdDiff,
            graph: diffResult,
            maxstudent: maxDiff
          };
          data.push(dataTemp);

          /// ทำการวนทีละห้อง

          let roomInThisClass = [...new Set(studentRawData.map(x => x.room))];
          roomInThisClass.forEach(room => {
            let scoreRawData = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

            let scoreAllStudent = [];
            let avgScorePage = 0;
            let sdScorePage = 0;
            let maxStudent = 0;
            // console.log(room);
            let studentRoomData = studentRawData.filter(x1 => x1.room == room);
            // console.log(studentRoomData);
            studentRoomData.forEach(data => {
              let scoreFinal = (data.correct / data.totalQuestion) * 100;
              let scoreCat = Math.floor(scoreFinal / 10);
              // console.log(scoreFinal);
              scoreRawData[scoreCat] += 1;
              scoreAllStudent.push(scoreFinal);
            });
            maxStudent = Math.max.apply(null, scoreRawData);
            let sum = scoreAllStudent.reduce(
              (previous, current) => (current += previous)
            );
            avgScorePage = (sum / scoreAllStudent.length).toFixed(2);
            sdScorePage = Math.sqrt(
              scoreAllStudent.reduce((sq, n) => {
                return sq + Math.pow(n - avgScorePage, 2);
              }, 0) /
                (scoreAllStudent.length - 1)
            ).toFixed(2);
            let scoreGraph = [
              { score: "0-10", no: scoreRawData[0] },
              { score: "11-20", no: scoreRawData[1] },
              { score: "21-30", no: scoreRawData[2] },
              { score: "31-40", no: scoreRawData[3] },
              { score: "41-50", no: scoreRawData[4] },
              { score: "51-60", no: scoreRawData[5] },
              { score: "61-70", no: scoreRawData[6] },
              { score: "71-80", no: scoreRawData[7] },
              { score: "81-90", no: scoreRawData[8] },
              { score: "91-100", no: scoreRawData[9] }
            ];
            data.push({
              title: "ผลคะแนน " + this.reportInput.class + "/" + room,
              mean: avgScorePage,
              sd: sdScorePage,
              graph: scoreGraph,
              maxstudent: maxStudent
            });

            // console.log(studentRoomData);
            let studentpreData = studentPretestRawData.filter(
              x => x.room == room
            );
            // console.log(studentpreData);
            // console.log(data);
            // console.log(room);

            scoreDiffCat = [0, 0, 0, 0, 0, 0, 0];
            studentScoreDiffData = [];
            studentRawData.forEach(data => {
              let posttestScore = studentpreData.filter(
                data2 => data2.studentKey == data.studentKey
              );
              if (posttestScore.length) {
                posttestScore = posttestScore.map(
                  x => (x.correct / x.totalQuestion) * 100
                );
                let pretestScore = (data.correct / data.totalQuestion) * 100;
                let diffScore = posttestScore[0] - pretestScore;
                if (diffScore < 0) {
                  scoreDiffCat[0] += 1;
                } else if (diffScore <= 10) {
                  scoreDiffCat[1] += 1;
                } else if (diffScore <= 20) {
                  scoreDiffCat[2] += 1;
                } else if (diffScore <= 30) {
                  scoreDiffCat[3] += 1;
                } else if (diffScore <= 40) {
                  scoreDiffCat[4] += 1;
                } else if (diffScore <= 50) {
                  scoreDiffCat[5] += 1;
                } else {
                  scoreDiffCat[6] += 1;
                }
                studentScoreDiffData.push(diffScore);
              }
            });
            // console.log(scoreDiffCat);
            // console.log(studentScoreDiffData);
            // return;
            maxDiff = Math.max.apply(null, scoreDiffCat);

            let sum2 = studentScoreDiffData.reduce(
              (previous, current) => (current += previous)
            );
            avgDiff = (sum2 / studentScoreDiffData.length).toFixed(2);
            sdDiff = Math.sqrt(
              studentScoreDiffData.reduce((sq, n) => {
                return sq + Math.pow(n - avgDiff, 2);
              }, 0) /
                (studentScoreDiffData.length - 1)
            ).toFixed(2);
            diffResult = [
              { score: "<0", no: scoreDiffCat[0] },
              { score: "0-10", no: scoreDiffCat[1] },
              { score: "11-20", no: scoreDiffCat[2] },
              { score: "21-30", no: scoreDiffCat[3] },
              { score: "31-40", no: scoreDiffCat[4] },
              { score: "41-50", no: scoreDiffCat[5] },
              { score: "50+", no: scoreDiffCat[6] }
            ]; //ข้อมูลสำหรับสร้างกราฟ ผลต่าง

            let dataTemp = {
              title: "ผลต่างคะแนน Pre-test / Post-test",
              mean: avgDiff,
              sd: sdDiff,
              graph: diffResult,
              maxstudent: maxDiff,
              classroom: this.reportInput.class + "/" + room
            };
            data.push(dataTemp);
          });

          let schoolNameData = this.schoolData.filter(
            x => x.key == this.reportInput.schoolName
          );
          schoolNameData = schoolNameData[0].name;
          // console.log(data);
          // return;
          this.$router.push({
            name: "monitorposttesgraphdiff",
            params: {
              data: data,
              schoolName: schoolNameData,
              year: this.reportInput.year,
              classRiin: this.reportInput.class
            }
          });
        } else {
          //แสดงผลคะแนนรายบุคคล
          let studentPretestRawData = [];
          let roomIndex = this.reportInput.room.substr(
            this.reportInput.room.length - 1
          );

          console.clear();

          let studentInRoom = this.studentData.filter(
            x =>
              x.schoolKey == this.reportInput.schoolName &&
              x.classRoom == this.reportInput.class &&
              x.room == roomIndex
          );

          studentInRoom.sort((a, b) => {
            return Number(a.no) - Number(b.no);
          });

          studentInRoom.forEach(result => {
            studentRawData = this.studentPrepostData.filter(
              x => x.type == this.testType && x.studentKey == result.key
            );

            if (studentRawData.length) {
              result.correct = studentRawData[0].correct;
              result.totalQuestion = studentRawData[0].totalQuestion;
            }
          });

          // studentRawData = this.studentPrepostData.filter(
          //   x =>
          //     x.schoolKey == this.reportInput.schoolName &&
          //     x.term == this.term &&
          //     x.year == this.year &&
          //     x.type == this.testType &&
          //     x.class == this.reportInput.class &&
          //     x.room == roomIndex
          // );
          // studentRawData.sort((a, b) => {
          //   return Number(a.studentNo) - Number(b.studentNo);
          // });

          studentPretestRawData = this.studentPrepostData.filter(
            x =>
              x.schoolKey == this.reportInput.schoolName &&
              x.term == this.term &&
              x.year == this.year &&
              x.type == "pretest" &&
              x.class == this.reportInput.class &&
              x.room == roomIndex
          );

          let data = [];
          let dataTemp = [];

          studentInRoom.forEach(x => {
            let pretestScore = studentPretestRawData.filter(
              data2 => data2.studentKey == x.key
            );

            if (pretestScore.length) {
              pretestScore = pretestScore.map(
                x2 => (x2.correct / x2.totalQuestion) * 100
              );
              pretestScore = pretestScore[0];
              let posttestScore =
                x.totalQuestion == 0 || x.totalQuestion == undefined
                  ? 0
                  : (x.correct / x.totalQuestion) * 100;

              // TODO : อาร์มเพิ่มข้อมูล
              let sumPrePost = 0;
              if (
                posttestScore.toFixed(0) != 0 &&
                pretestScore.toFixed(0) != 0
              ) {
                sumPrePost = posttestScore.toFixed(0) - pretestScore.toFixed(0);
              }
              // TODO : สิ้นสุดอาร์มเพิ่มข้อมูล

              dataTemp = {
                no: x.no,
                name: x.name + " " + x.surname,
                posttest:
                  x.totalQuestion == 0 || x.totalQuestion == undefined
                    ? "-"
                    : ((x.correct / x.totalQuestion) * 100).toFixed(0) + "%",
                pretest: pretestScore.toFixed(0) + "%",
                diff: sumPrePost + "%"
              };
            } else {
              dataTemp = {
                no: x.no,
                name: x.name + " " + x.surname,
                posttest:
                  x.totalQuestion == 0 || x.totalQuestion == undefined
                    ? "-"
                    : ((x.correct / x.totalQuestion) * 100).toFixed(0) + "%",
                pretest: "-",
                diff: "0%"
              };
            }

            data.push(dataTemp);
          });

          // console.log(data);
          let schoolNameData = this.schoolData.filter(
            x => x.key == this.reportInput.schoolName
          );
          schoolNameData = schoolNameData[0].name;
          // console.log(data);
          // return;
          this.$router.push({
            name: "monitorposttesttablediff",
            params: {
              data: data,
              schoolName: schoolNameData,
              year: this.reportInput.year,
              room: this.reportInput.class + "/" + roomIndex
            }
          });
        }
      }
    }
  },
  async mounted() {
    await this.loadTermYear();
    this.loadStudentData();
    this.loadSchoolData();
    this.loadSchoolTypeList();

    this.loadStudentPrepostData();
    this.loadSchoolTestLog();
  }
};
</script>

<style scoped>
.greybox {
  outline: 1px solid gray;
}
.redbar {
  background-color: red;
}
.bluebar {
  background-color: blue;
}
.greenbar {
  background-color: green;
}
.btnbar {
  width: 100%;
}
.redbox {
  width: 25px;
  height: 25px;
  background-color: red;
}
.bluebox {
  width: 25px;
  height: 25px;
  background-color: blue;
}
.greenbox {
  width: 25px;
  height: 25px;
  background-color: green;
}
.lined {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.boxgrey {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
</style>
