<template>
  <div>
    <div class="text-h5 q-pt-lg" align="center">ระบบติดตาม</div>
    <!-- tab Manu -->
    <div class="row">
      <div class="col-1"></div>
      <div class="col-2">
        <q-select
          label="กลุ่มโรงเรียน"
          color="amber-13"
          @input="showList()"
          v-model="schoolTypeChoose"
          dark
          :options="schoolType"
        />
      </div>
      <q-separator vertical inset />
      <div class="col q-px-md q-pt-md">
        <q-btn-group class="full-width">
          <q-btn
            to="/monitor/placement"
            glossy
            class="fit"
            color="grey-8"
            text-color="white"
            label="วัดระดับ"
          />
          <q-separator vertical inset />
          <q-btn
            to="/monitor/pretest"
            glossy
            class="fit"
            color="grey-8"
            text-color="white"
            no-caps
            label="Pre-test"
          />
          <q-separator vertical inset />
          <q-btn
            to="/monitor/study"
            glossy
            color="grey-8"
            text-color="white"
            class="fit"
            label="เรียน"
          />
          <q-separator vertical inset />
          <q-btn
            to="/monitor/posttest"
            glossy
            color="grey-8"
            text-color="white"
            class="fit"
            no-caps
            label="Post-test"
          />
          <q-separator vertical inset />
          <q-btn
            to="/monitor/questionnaire"
            glossy
            class="fit"
            color="amber-13"
            text-color="black"
            label="แบบสอบถาม"
          />
        </q-btn-group>
      </div>
      <div class="col-1"></div>
    </div>
    <!-- tab แสดงจำนวน -->
    <div class="q-pa-xl row items-center">
      <div style="width:90%; height:35px;" class="row">
        <div
          style=" height:35px;"
          :style="{width: inactiveRoom /(inactiveRoom  + finishRoom) *100 + '%'}"
          class="redbar q-py-sm"
          align="center"
          v-if="inactiveRoom > 0"
        >{{inactiveRoom}} ห้อง</div>
        <div
          style=" height:35px;"
          :style="{width: finishRoom /(inactiveRoom  + finishRoom) *100 + '%'}"
          class="greenbar q-py-sm"
          align="center"
          v-if="finishRoom > 0"
        >{{finishRoom}} ห้อง</div>
      </div>
      <div class="col q-pl-sm">
        <q-btn @click="dialogReportBtn()" class="text-black bg1 btnbar" square label="รายงาน"></q-btn>
      </div>
    </div>
    <!-- จุดสีบอกลักษณะ -->
    <div class="row justify-center q-px-xl">
      <div class="row col-2 q-px-md">
        <div class="redbox"></div>
        <div class="q-pl-md">ยังไม่ดำเนินการ</div>
      </div>
      <div class="row q-px-md col-2">
        <div class="greenbox"></div>
        <div class="q-pl-md">เสร็จสิ้นแล้ว</div>
      </div>
    </div>
    <!-- ยังไม่ดำเนินการ  / เสร็จสิ้น-->
    <div class="row q-pa-xl items-start">
      <div class="row col-6 q-pr-md">
        <div align="center" class="col-12 q-pb-lg">ยังไม่ดำเนินการ</div>
        <div class="col-12 boxgrey" style="max-width: 100% ">
          <q-list>
            <q-expansion-item
              group="leftGroup"
              class="lined"
              dense-toggle
              switch-toggle-side
              expand-separator
              v-for="(i,index) in this.inactiveList"
              :key="index"
            >
              <template v-slot:header>
                <div class="row items-center text-white q-mr-md">({{i.progressList}})</div>
                <q-item-section>{{i.label}}</q-item-section>

                <q-item-section side></q-item-section>
              </template>

              <q-card class="bg4" v-for="(i2,index2) in i.room" :key="index2">
                <q-card-section class="q-pl-xl lined">
                  <div class="q-pl-xl">{{i2}}</div>
                </q-card-section>
                <q-separator v-if="(i.room.length-1) != index2" />
              </q-card>
            </q-expansion-item>
          </q-list>
        </div>
      </div>

      <!-- เสร็จสิ้นแล้ว -->
      <div class="row col-6 q-pl-md">
        <div align="center" class="col-12 q-pb-lg">เสร็จสิ้นแล้ว</div>
        <div class="col-12 boxgrey" style="max-width: 100% ">
          <q-list>
            <q-expansion-item
              group="rightGroup"
              class="lined"
              label
              dense-toggle
              switch-toggle-side
              expand-separator
              v-for="(i,index) in this.finishList"
              :key="index"
            >
              <template v-slot:header>
                <div class="row items-center text-white q-mr-md">({{i.progressList}})</div>
                <q-item-section>{{i.label}}</q-item-section>

                <q-item-section side>
                  <!-- เลือก Level -->
                  <div class="row items-center">
                    <!-- <q-btn
                      @click="dialogSetLevel(i.schoolKey,i.classRoom)"
                      label="เลือก Level"
                      color="amber-13"
                      text-color="black"
                      style="height:35px"
                    />-->
                  </div>
                </q-item-section>
              </template>
              <q-separator />
              <q-card class="bg4" v-for="(i2,index2) in i.room" :key="index2">
                <q-card-section class="q-pl-xl lined row items-center justify-between">
                  <div class="q-pl-xl">{{i2}}</div>
                  <q-item-section>
                    <div class="row items-center justify-end">
                      <q-btn
                        @click="dialogResetBtn(i.schoolKey,  i2)"
                        round
                        icon="fas fa-redo"
                        color="amber-13"
                        text-color="black"
                        size="12px"
                      />
                    </div>
                  </q-item-section>
                </q-card-section>
                <q-separator v-if="(i.room.length-1) != index2" />
              </q-card>
            </q-expansion-item>
          </q-list>
        </div>
      </div>
    </div>
    <!-- -----------------------------dialog------------------------------- -->
    <!-- dialog ResetScore -->
    <div>
      <q-dialog v-model="resetScore" persistent content-class="backdrop">
        <q-card dark style="min-width: 450px">
          <q-card-section>
            <div class="text-h6" align="center">Reset ความพึงพอใจ</div>
            <div align="center">{{resetSchoolName}} {{resetRoom}}</div>
            <br />

            <div align="center">หากต้องการดำเนินการต่อพิมพ์ "ดำเนินการ"</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <div class="q-mx-md" align="center">
              <q-input dark v-model.trim="resetTextCheck" color="grey-4" />
            </div>
          </q-card-section>

          <q-card-actions align="center" class="q-mb-md">
            <q-btn
              class="q-mx-md"
              label="ยกเลิก"
              color="white"
              text-color="black"
              style="width:140px"
              v-close-popup
            />
            <q-btn
              class="q-mx-md"
              label="ตกลง"
              color="amber-13"
              text-color="black"
              style="width:140px"
              @click="resetBtn()"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
    <!-- dialog รายงาน Reprot -->
    <div>
      <q-dialog v-model="reportScore" persistent content-class="backdrop">
        <q-card dark style="min-width: 450px">
          <q-card-section>
            <div class="text-h6" align="center">แบบสอบถาม</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <!-- ปีการศึกษา -->
            <div class="q-ma-md" align="center">
              <q-select
                dark
                :options="yearList"
                v-model="reportInput.year"
                label="ปีการศึกษา"
                color="grey-4"
                outlined
                @input="changeYear()"
              />
            </div>
            <!-- โรงเรียน -->
            <div class="q-ma-md" align="center">
              <q-select
                dark
                emit-value
                map-options
                :options="schoolNameList"
                v-model="reportInput.schoolName"
                label="โรงเรียน"
                color="grey-4"
                outlined
              />
            </div>
            <!-- ชื่อแบบสอบถาม -->
            <div class="q-ma-md" align="center">
              <q-select
                dark
                emit-value
                map-options
                :options="questionnaireList"
                v-model="reportInput.questionnaireKey"
                label="ชุดแบบสอบถาม"
                color="grey-4"
                outlined
              />
            </div>
          </q-card-section>

          <q-card-actions align="center" class="q-mb-lg">
            <q-btn
              class="q-mx-md"
              label="ยกเลิก"
              color="white"
              text-color="black"
              style="width:140px"
              v-close-popup
            />
            <q-btn
              @click="printBtn()"
              class="q-mx-md"
              label="พิมพ์ผลคะแนน"
              color="amber-13"
              text-color="black"
              style="width:140px"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      // Dialog
      reportScore: false, //ตัวแปรเปิด dialog รายงานผลคะแนน
      resetScore: false, //ตัวแปร reset pretest
      // กลุ่มโรงเรียน
      schoolTypeChoose: "ทั้งหมด",
      schoolType: [],
      term: "", //เทอมปัจจุบัน
      year: "", //ปีการศึกษาปัจจุบัน

      studentData: [], //ข้อมูลนักเรียนทั้งหมด
      schoolData: [], //ข้อมูลโรงเรียน
      schoolTestLogData: [], //ข้อมูลกการสอบ test
      schoolList: [], //รายชื่อโรงเรียนที่แสดงผล
      questionnairlogData: [], //ข้อมูลนักเรียนที่สอบ questionnaire
      questionnairSetData: [], //ข้อมูล questionnaire set
      questionnaireData: [], //ข้อมูลโจทย์ questionnaire

      //ข้อมูลกำลังดำเนินงาน
      inactiveList: [
        {
          progressList: "0/0",
          label: "รอโหลดสักครู่...",
          room: ["ม.1/1", "ม.1/2", "ม.1/4"]
        }
      ],
      //ข้อมูลสำหรับรอเลือก Level
      finishList: [
        {
          progressList: "0/0",
          label: "รอโหลดสักครู่...",
          schoolKey: "xddgtsfeuwhfsfhosd",
          room: ["ม.1/3", "ม.1/6"]
        }
      ],

      //ข้อมูลสำหรับแสดงสถานะ
      finishRoom: 1, //จำนวนห้องทั้งหมดที่เสร็จแล้ว
      inactiveRoom: 1, //จำนวนห้องเรียนที่ยังไม่ดำเนินการ

      //reset btn
      resetTextCheck: "", //เก็บค่าคำว่าดำเนินการ Dialog Reset
      resetSchoolKey: "", // school key โรงเรียนที่จะ reset
      resetRoom: "", //room โรงเรียนที่จะ reset
      resetSchoolName: "", //ชื่อโรงเรียนที่จะ reset

      //report
      yearList: [
        "2/2562",
        "1/2563",
        "2/2563",
        "1/2564",
        "2/2564",
        "1/2565",
        "2/2565",
        "1/2566",
        "2/2566",
        "1/2567",
        "2/2567",
        "1/2568",
        "2/2568",
        "1/2569",
        "2/2569",
        "1/2570",
        "2/2570"
      ],
      schoolNameList: [],
      questionnaireList: [],

      reportInput: {
        year: "",
        schoolName: "",
        questionnaireKey: ""
      },
      printData: {
        name: "test",
        title: {
          schoolName: "เตรียมอุดม",
          academicYear: "2/2562",
          result: [
            {
              question: "คุณรักหมูยอไหม",
              answer: ["ไม่ชอบมาก", "ไม่ชอบ", "เฉยๆ", "ชอบ", "ชอบมาก"],

              poll: [
                { label: "ป.6", score: [10, 20, 5, 6, 18], no: 40 },
                { label: "ม.1", score: [12, 22, 15, 6, 18], no: 26 },
                { label: "รวม", score: [22, 42, 20, 12, 36], no: 66 }
              ]
            },
            {
              question: "คุณรักหมูทอดไหม",
              answer: ["ไม่ชอบมาก", "ไม่ชอบ", "เฉยๆ", "ชอบ", "ชอบมาก"],

              poll: [
                { label: "ป.6", score: [10, 20, 5, 6, 18], no: 40 },
                { label: "ม.1", score: [12, 22, 15, 6, 18], no: 26 },
                { label: "รวม", score: [22, 42, 20, 12, 36], no: 66 }
              ]
            }
          ]
        }
      }
    };
  },
  methods: {
    async loadTermYear() {
      this.loadingShow();
      await db
        .collection("term")
        .doc("data")
        .get()
        .then(data => {
          this.term = data.data().term;
          this.year = data.data().year;
        });
    },
    //โหลดนักเรียทั้งหมด
    loadStudentData() {
      this.studentData = [];
      db.collection("student")
        .where("year", "==", this.year)
        .where("term", "==", this.term)
        .get()
        .then(doc => {
          doc.forEach(data => {
            let temp = {
              key: data.id
            };
            let tempFinal = { ...temp, ...data.data() };
            this.studentData.push(tempFinal);
          });
        });
    },

    loadQuestionSet() {
      this.questionnairSetData = [];
      db.collection("questionnaireset")
        .get()
        .then(doc => {
          if (doc.size > 0) {
            doc.forEach(data => {
              let temp = {
                key: data.id
              };
              let tempFinal = { ...temp, ...data.data() };
              this.questionnairSetData.push(tempFinal);
            });
          }
        });
    },
    //load ข้อมูลจาก studentquestionnairelog
    loadStudentQuestionnaireLog() {
      this.questionnairlogData = [];
      db.collection("studentquestionnairelog")
        .get()
        .then(doc => {
          if (doc.size > 0) {
            doc.forEach(data => {
              let temp = {
                key: data.id
              };
              let tempFinal = { ...temp, ...data.data() };
              this.questionnairlogData.push(tempFinal);
            });
          }
        });
    },
    loadQuestionnaire() {
      this.questionnaireData = [];
      db.collection("questionnaire")
        .get()
        .then(doc => {
          if (doc.size > 0) {
            doc.forEach(data => {
              let temp = {
                key: data.id
              };
              let tempFinal = { ...temp, ...data.data() };
              this.questionnaireData.push(tempFinal);
            });
          }
        });
    },

    // load รายชื่อประเภทโรงเรียน
    loadSchoolTypeList() {
      let tempdata = {
        label: "ทั้งหมด",
        value: "all"
      };
      this.schoolType.push(tempdata);
      db.collection("schooltype")
        .orderBy("order")
        .get()
        .then(doc => {
          doc.forEach(data => {
            tempdata = {
              label: data.data().name,
              value: data.id
            };
            this.schoolType.push(tempdata);
            this.schoolTypeChoose = this.schoolType[0];
          });
        });
    },

    //โหลดรายชื่อโรงเรียน
    loadSchoolData() {
      // this.loadingShow();
      this.schoolData = [];
      db.collection("school")
        .get()
        .then(doc => {
          if (doc.size > 0) {
            doc.forEach(data => {
              let temp = {
                key: data.id
              };
              let tempFinal = { ...temp, ...data.data() };
              this.schoolData.push(tempFinal);
            });
          }
        });
    },

    //โหลด schooltestlog
    loadSchoolTestLog() {
      this.schoolTestLogData = [];
      db.collection("schooltestlog")
        .where("testtype", "==", "questionnaire")
        .get()
        .then(doc => {
          if (doc.size > 0) {
            doc.forEach(data => {
              let temp = {
                key: data.id
              };
              let tempFinal = { ...temp, ...data.data() };
              this.schoolTestLogData.push(tempFinal);
            });
          }
          this.loadingHide();
          this.showList();
        });
    },

    //แสดงข้อมูล
    showList() {
      let typeKey = this.schoolTypeChoose.value;
      this.inactiveList = [];
      this.finishList = [];
      this.finishRoom = 0;
      this.inactiveRoom = 0;
      //หาชื่อโรงเรียนที่ต้องแสดง
      if (typeKey == undefined) {
        typeKey = "all";
      }
      if (typeKey != "all") {
        this.schoolList = this.schoolData.filter(
          x => x.typeKey == typeKey && x.questionNaire == true
        );
      } else {
        this.schoolList = this.schoolData.filter(x => x.questionNaire == true);
      }

      this.schoolList.forEach(x => {
        //หาว่ามีเรียนชั้นไหนบ้าง
        let studentInThisSchool = this.studentData.filter(
          x1 => x1.schoolKey == x.key
        );

        let classRoomInThisSchool = [
          ...new Set(studentInThisSchool.map(x => x.classRoom))
        ];
        //ทำการเรียงระดับชั้นในโรงเรียนนั้น
        classRoomInThisSchool.sort((a, b) => {
          return a > b ? 1 : -1;
        });
        //สร้าง ยังไม่ดำเนินการ
        classRoomInThisSchool.forEach(className => {
          //check ว่ามีห้องอะไรบ้าง
          // console.log(x.key, className);
          let roomData = this.studentData.filter(
            x1 => x1.schoolKey == x.key && x1.classRoom == className
          );
          let roomInThisClass = [...new Set(roomData.map(x => x.room))];
          roomInThisClass.sort((a, b) => Number(a) - Number(b));

          //วน check ว่าห้องชั้นดังกล่าวทำ questionNaire หรือยัง
          let roomInactive = [];
          let roomActive = [];
          roomInThisClass.forEach(classRawData => {
            // console.log(x.key, className, classRawData);
            let schoolTestLogCheck = this.schoolTestLogData.filter(
              logData =>
                logData.class == className &&
                logData.room == classRawData &&
                logData.schoolKey == x.key
            );
            // console.log(schoolTestLogCheck.length);

            if (schoolTestLogCheck.length) {
              roomActive.push(className + "/" + classRawData);
            } else {
              roomInactive.push(className + "/" + classRawData);
            }
          });

          // console.log(roomActive, roomInactive);
          if (roomInactive.length) {
            this.inactiveRoom += roomInactive.length;
            let tempData = {
              progressList:
                roomInactive.length +
                "/" +
                (roomInactive.length + roomActive.length),
              label: x.name + " " + className,
              room: roomInactive
            };
            this.inactiveList.push(tempData);
          }
          if (roomActive.length) {
            this.finishRoom += roomActive.length;
            let tempData = {
              progressList:
                roomActive.length +
                "/" +
                (roomInactive.length + roomActive.length),
              label: x.name + " " + className,
              schoolKey: x.key,
              room: roomActive
            };
            this.finishList.push(tempData);
          }
        });
      });
      this.loadingHide();
    },
    dialogResetBtn(schoolKey, room) {
      this.resetTextCheck = "";
      this.resetSchoolName = this.schoolData.filter(x => x.key == schoolKey);
      this.resetSchoolName = this.resetSchoolName[0].name;
      this.resetSchoolKey = schoolKey;
      this.resetRoom = room;
      this.resetScore = true;
    },
    resetBtn() {
      if (this.resetTextCheck != "ดำเนินการ") {
        this.notifyRed("กรุณาพิมพ์ข้อความ 'ดำเนินการ'");
        return;
      } else {
        this.loadingShow();
        //ทำการลบข้อมูลนักเรียน จาก studentplacementlog
        let roomDataTemp = this.resetRoom.split("/");
        // console.log(roomDataTemp[0], roomDataTemp[1]);
        db.collection("studentquestionnairelog")
          .where("class", "==", roomDataTemp[0])
          .where("room", "==", roomDataTemp[1].toString())
          .where("schoolKey", "==", this.resetSchoolKey)
          .where("year", "==", this.year)
          .where("term", "==", this.term)
          .get()
          .then(doc => {
            // console.log(doc.size);
            return;
            doc.forEach(data => {
              db.collection("studentquestionnairelog")
                .doc(data.id)
                .delete();
            });
          });

        db.collection("schooltestlog")
          .where("class", "==", roomDataTemp[0])
          .where("room", "==", roomDataTemp[1].toString())
          .where("schoolKey", "==", this.resetSchoolKey)
          .where("year", "==", this.year)
          .where("term", "==", this.term)
          .where("testtype", "==", "questionnaire")
          .get()
          .then(doc => {
            // console.log(doc)
            doc.forEach(data => {
              db.collection("schooltestlog")
                .doc(data.id)
                .delete();
            });
            this.loadSchoolTestLog();
          });

        this.resetScore = false;
      }
    },
    dialogReportBtn() {
      this.reportInput.year = this.term + "/" + this.year;
      this.loadSchoolPrint(this.term, this.year);
      this.reportScore = true;
    },
    changeYear() {
      let academicYearData = this.reportInput.year.split("/");
      this.loadSchoolPrint(academicYearData[0], academicYearData[1]);
    },
    loadSchoolPrint(term, year) {
      this.schoolNameList = [];
      let inputSchoolKey = [];
      this.questionnaireList = [];
      // console.log(term);
      // console.log(year);
      // console.log(this.schoolNameList);
      // console.log(this.schoolTestLogData);
      // return;
      let schoolTestRawData = this.schoolTestLogData.filter(
        x => x.term == term && x.year == year && x.testtype == "questionnaire"
      );

      schoolTestRawData.forEach(data => {
        inputSchoolKey.push(data.schoolKey);
      });
      inputSchoolKey = [...new Set(inputSchoolKey)];

      inputSchoolKey.forEach(schoolKey => {
        let schoolNameInput = this.schoolData.filter(x => x.key == schoolKey);
        let inputSchoolName = {
          label: schoolNameInput[0].name,
          value: schoolKey
        };
        this.schoolNameList.push(inputSchoolName);
      });

      this.schoolNameList.sort((a, b) => {
        return a > b ? -1 : 1;
      });

      if (this.schoolNameList.length) {
        this.reportInput.schoolName = this.schoolNameList[0].value;
        this.loadQuestionSetPrint();
      } else {
        this.reportInput.schoolName = "ไม่มีข้อมูล";
        this.questionnaireList.push({
          label: "ไม่มีข้อมูล",
          value: "none"
        });
        this.reportInput.questionnaireKey = this.questionnaireList[0].value;
      }
    },

    loadQuestionSetPrint() {
      let schoolKey = this.reportInput.schoolName;
      let academicYear = this.reportInput.year;
      this.questionnaireList = [];
      let academicYearData = academicYear.split("/");
      //check questionnaireset
      let questionnaireSet = this.questionnairlogData.filter(
        x =>
          x.schoolKey == schoolKey &&
          x.term == academicYearData[0] &&
          x.year == academicYearData[1]
      );
      questionnaireSet = [...new Set(questionnaireSet.map(x => x.questionSet))];

      questionnaireSet.forEach(x => {
        let questionnaireSetName = this.questionnairSetData.filter(
          x1 => x1.key == x
        );

        let tempData = {
          label: questionnaireSetName[0].questionSetName,
          value: x
        };
        this.questionnaireList.push(tempData);
      });
      if (this.questionnaireList.length) {
        this.reportInput.questionnaireKey = this.questionnaireList[0].value;
      }
    },
    printBtn() {
      let schoolKey = this.reportInput.schoolName;
      let academicYear = this.reportInput.year;
      let academicYearData = academicYear.split("/");
      let totalQuestion = 0;
      let schoolName = this.schoolData.filter(x => x.key == schoolKey);
      this.printData = [];
      schoolName = schoolName[0].name;

      let resultRawData = this.questionnairlogData.filter(
        x =>
          x.schoolKey == schoolKey &&
          x.questionSet == this.reportInput.questionnaireKey &&
          x.term == academicYearData[0] &&
          x.year == academicYearData[1]
      );
      //list ระดับชั้น
      let classRawData = resultRawData.map(x2 => x2.class);
      classRawData = [...new Set(classRawData)];
      classRawData.sort((a, b) => {
        return a > b ? 1 : -1;
      });
      // console.log(classRawData);

      //ดึงข้อมูลคำถาม
      let questionnairerawData = this.questionnaireData.filter(
        x => x.set == this.reportInput.questionnaireKey
      );
      questionnairerawData.sort((a, b) => {
        return Number(a.order) - Number(b.order);
      });
      let questionCount = 0;
      let result = [];
      questionnairerawData.forEach(x => {
        let resultTemp = [];

        resultTemp.question = x.question;
        resultTemp.answer = x.choices;

        questionCount += 1;
        let poll = [];
        let scoreTotalTemp = [];
        for (let i = 0; i < x.choices.length; i++) {
          scoreTotalTemp[i] = 0;
        }
        let totalAll = 0;
        classRawData.forEach(classData => {
          let scoreTemp = [];
          for (let i = 0; i < x.choices.length; i++) {
            scoreTemp[i] = 0;
          }
          let tempRawData = resultRawData.filter(x3 => x3.class == classData);
          tempRawData = tempRawData.map(x4 => x4.answer[questionCount - 1]);
          tempRawData.forEach(x5 => {
            scoreTemp[Number(x5) - 1] += 1;
            scoreTotalTemp[Number(x5) - 1] += 1;
          });
          let totalNo = scoreTemp.reduce((x, y) => x + y);
          totalAll += totalNo;
          scoreTemp = scoreTemp.map(x9 => ((x9 / totalNo) * 100).toFixed(0));
          let pollTemp = {
            label: classData,
            score: scoreTemp,
            no: totalNo
          };

          poll.push(pollTemp);

          // console.log(scoreTemp);
        });
        scoreTotalTemp = scoreTotalTemp.map(x10 =>
          ((x10 / totalAll) * 100).toFixed(0)
        );
        poll.push({
          label: "รวม",
          score: scoreTotalTemp,
          no: totalAll
        });

        // console.log(scoreTotalTemp);

        resultTemp = {
          question: resultTemp.question,
          answer: resultTemp.answer,
          poll: poll
        };
        result.push(resultTemp);
      });
      this.printData = {
        name: "monitorquestionnaireprint",
        params: {
          schoolName: schoolName,
          academicYear: this.reportInput.year,
          result: result
        }
      };
      this.$router.push(this.printData);
    }
  },
  async mounted() {
    await this.loadTermYear();
    this.loadStudentData();
    this.loadQuestionSet();
    this.loadStudentQuestionnaireLog();
    this.loadQuestionnaire();
    this.loadSchoolTypeList();
    this.loadSchoolData();
    this.loadSchoolTestLog();

    // this.loadSchool();
  }
};
</script>

<style scoped>
.greybox {
  outline: 1px solid gray;
}
.redbar {
  background-color: red;
}
.bluebar {
  background-color: blue;
}
.greenbar {
  background-color: green;
}
.btnbar {
  width: 100%;
}
.redbox {
  width: 25px;
  height: 25px;
  background-color: red;
}
.bluebox {
  width: 25px;
  height: 25px;
  background-color: blue;
}
.greenbox {
  width: 25px;
  height: 25px;
  background-color: green;
}
.lined {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.boxgrey {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
</style>