<template>
  <div>
    <!-- {{$q.localStorage.has('termYear')}} -->
    <div class="text-h5 q-pt-lg" align="center">ระบบติดตาม</div>
    <!-- tap Manu -->
    <div class="row">
      <div class="col-1"></div>
      <div class="col-2">
        <q-select
          label="กลุ่มโรงเรียน"
          color="amber-13"
          v-model="schoolTypeChoose"
          dark
          :options="schoolType"
          disable
        />
      </div>
      <div class="col q-px-md q-pt-md">
        <q-btn-group class="full-width">
          <q-btn
            to="/monitor/placement"
            glossy
            class="fit"
            color="grey-8"
            text-color="white"
            label="วัดระดับ"
          />
          <q-separator vertical inset />
          <q-btn
            to="/monitor/pretest"
            glossy
            class="fit"
            color="grey-8"
            text-color="white"
            no-caps
            label="Pre-test"
          />
          <q-separator vertical inset />
          <q-btn
            to="/monitor/study"
            glossy
            color="grey-8"
            text-color="white"
            class="fit"
            label="เรียน"
          />
          <q-separator vertical inset />
          <q-btn
            to="/monitor/posttest"
            glossy
            color="grey-8"
            text-color="white"
            class="fit"
            no-caps
            label="Post-test"
          />
          <q-separator vertical inset />
          <q-btn
            to="/monitor/questionnaire"
            glossy
            class="fit"
            color="grey-8"
            text-color="white"
            label="แบบสอบถาม"
          />
        </q-btn-group>
      </div>
      <div class="col-1"></div>
    </div>
    <!-- โปรดเลือกหัวข้อ -->
    <div class="txtdiv cl6 text-h6" align="center">
      <q-icon name="fas fa-arrow-up" class="q-px-md" />โปรดเลือกหัวข้อเพื่อดูรายละเอียด
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      schoolTypeChoose: "ทั้งหมด",
      schoolType: ["ทั้งหมด"]
    };
  }
};
</script>

<style scoped>
.txtdiv {
  position: relative;
  top: 300px;
}
.greybox {
  outline: 1px solid gray;
}

.btnbar {
  width: 100%;
}

.lined {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.boxgrey {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
</style>