<template>
  <div>
    <div class="text-h5 q-pt-lg" align="center">ระบบติดตาม</div>
    <!-- tap Manu -->
    <div class="row">
      <div class="col-1"></div>
      <div class="col-2">
        <q-select
          label="กลุ่มโรงเรียน"
          color="amber-13"
          v-model="schoolTypeChoose"
          dark
          :options="schoolType"
          @input="changeSchoolType()"
        />
      </div>
      <div class="col q-px-md q-pt-md">
        <q-btn-group class="full-width">
          <q-btn
            to="/monitor/placement"
            glossy
            class="fit"
            color="grey-8"
            text-color="white"
            label="วัดระดับ"
          />
          <q-separator vertical inset />
          <q-btn
            to="/monitor/pretest"
            glossy
            class="fit"
            color="grey-8"
            text-color="white"
            no-caps
            label="Pre-test"
          />
          <q-separator vertical inset />
          <q-btn glossy class="fit" color="amber-13" text-color="black" label="เรียน" />
          <q-separator vertical inset />
          <q-btn
            to="/monitor/posttest"
            glossy
            class="fit"
            color="grey-8"
            text-color="white"
            no-caps
            label="Post-test"
          />
          <q-separator vertical inset />
          <q-btn
            to="/monitor/questionnaire"
            glossy
            class="fit"
            color="grey-8"
            text-color="white"
            label="แบบสอบถาม"
          />
        </q-btn-group>
      </div>
      <div class="col-1"></div>
    </div>
    <br />
    <!-- -----------------row 1----------------- -->
    <div class="row q-ma-md justify-center">
      <!-- การเข้าเรียนประจำสัปดาห์ที่ -->
      <div class="col-3 bg-grey-10 q-mr-md" align="center">
        <div class="q-ma-md">การเข้าเรียนประจำสัปดาห์ที่ {{weekCurrent}}</div>
        <div>{{weekStartDate}} - {{weekEndDate}}</div>
        <div class="text-h1 q-mt-xl">{{precentAttendantInThisWeek}}</div>
        <div
          @click="dailogStudyOnThisWeek()"
          class="q-mt-xl q-mb-md text-amber-13 cursor-pointer"
          v-show="showNotAttendantClassInThisWeek"
        >
          <u>รายละเอียด</u>
        </div>
        <div class="q-mt-xl q-mb-md text-grey" v-show="!showNotAttendantClassInThisWeek">
          <u>รายละเอียด</u>
        </div>
      </div>
      <!-- อัตราการเข้าเรียนแต่ละสัปดาห์ -->
      <div class="col-5 bg-grey-10">
        <div align="center" class="q-ma-md">การเข้าเรียนแต่ละสัปดาห์</div>
        <div class="q-pa-lg">
          <!-- กราฟ การเข้าเรียนแต่ละสัปดาห์ -->
          <div class="row justify-between items-end" align="center" style="height:200px">
            <div>
              <div>{{attendantGraph[4]}} %</div>
              <div
                @click="dialogAttendantStudyInWeek(4)"
                class="bg-red q-mx-lg cursor-pointer"
                style="width:70px"
                :style="{height: attendantGraphheight[4] + 'px'}"
              ></div>
            </div>
            <div>
              <div>{{attendantGraph[3]}} %</div>
              <div
                @click="dialogAttendantStudyInWeek(3)"
                class="bg-amber q-mx-lg cursor-pointer"
                style="width:70px"
                :style="{height: attendantGraphheight[3] + 'px'}"
              ></div>
            </div>

            <div>
              <div>{{attendantGraph[2]}} %</div>
              <div
                @click="dialogAttendantStudyInWeek(2)"
                class="bg-amber q-mx-lg cursor-pointer"
                style="width:70px"
                :style="{height: attendantGraphheight[2] + 'px'}"
              ></div>
            </div>

            <div>
              <div>{{attendantGraph[1]}} %</div>
              <div
                @click="dialogAttendantStudyInWeek(1)"
                class="bg-amber q-mx-lg cursor-pointer"
                style="width:70px"
                :style="{height: attendantGraphheight[1] + 'px'}"
              ></div>
            </div>

            <div>
              <div>{{attendantGraph[0]}} %</div>
              <div
                @click="dialogAttendantStudyInWeek(0)"
                class="bg-green q-ml-lg q-mr-md cursor-pointer"
                style="width:70px"
                :style="{height: attendantGraphheight[0] + 'px'}"
              ></div>
            </div>
          </div>
          <hr />
          <!-- week -->
          <div class="row justify-between" align="center">
            <div class="q-mx-md">
              <div>> 3 อาทิตย์</div>
            </div>
            <div class="q-mx-md">
              <div>3 อาทิตย์</div>
            </div>
            <div class="q-mx-md">
              <div>2 อาทิตย์</div>
            </div>
            <div class="q-mx-lg">
              <div>1 อาทิตย์</div>
            </div>
            <div class="q-mx-lg">
              <div>ปัจจุบัน</div>
            </div>
          </div>
        </div>
      </div>
      <!-- group3 -->
      <div class="q-ml-md col-3">
        <div class="bg-grey-10 q-pb-md" align="center">
          <!-- box1 -->
          <div class="q-pt-md">ข้อมูลสำหรับการวิเคราะห์</div>
          <div class="q-my-md">
            <q-btn
              @click="goToOverviewPage()"
              label="ระดับห้อง"
              color="amber-13"
              text-color="black"
              style="width:140px"
            />
          </div>
          <div class="q-mb-md">
            <q-btn
              @click="goTOExercisePage()"
              label="รายบุคคล"
              color="amber-13"
              text-color="black"
              style="width:140px"
            />
          </div>
        </div>
        <!-- box2 -->
        <div class="bg-grey-10 q-mt-md" align="center">
          <div class="q-pt-lg">ห้องที่ไม่เคยเข้าเรียน</div>
          <div class="q-my-md text-h3">{{notStudyRoomCount}}</div>
          <div @click="dailogAbsend()" class="q-pb-md text-amber-13 cursor-pointer">
            <u>รายละเอียด</u>
          </div>
        </div>
      </div>
    </div>
    <!-- -----------------row 2------------------- -->
    <div class="row q-ma-md justify-center">
      <!-- เกณฑ์ความก้าวหน้า -->
      <div class="col-6 bg-grey-10 q-mx-md">
        <div class="row justify-between">
          <div class="q-ml-xl q-pl-xl"></div>
          <div align="center" class="q-ma-md q-pl-md">ความก้าวหน้า</div>
          <div
            @click=" dialogCalander()"
            class="bg-amber-13 text-black q-ma-md cursor-pointer"
            style="width:120px;height:45px"
          >
            <div class="text-caption q-ml-sm">วันปิดเทอม</div>
            <div class="q-ml-sm">{{startDateInput}}</div>
          </div>
        </div>
        <!-- กราฟ เกณฑ์ความก้าวหน้า -->
        <div class="q-py-lg">
          <div
            class="row justify-center items-end"
            align="center"
            style="width:100%; height:220px;"
          >
            <div v-for="index in 10" :key="index" style="width:10%">
              <div>{{progressGhaphData[index-1]}}%</div>
              <div
                @click="dialogProgressShow(index-1)"
                class="bg-white cursor-pointer"
                style="width:50px;"
                :style="{height: progressGraphHeight[index-1] + 'px'}"
                :class="progressClass[index-1]"
              ></div>
              <div>{{(index-1)*10}}-{{(index)*10}}%</div>
            </div>
          </div>
        </div>
      </div>
      <!-- โรงเรียนที่ต้องจับตามอง -->
      <div class="col-5 q-mx-md" style="height:350px;overflow-y:auto">
        <div class="row items-center justify-center bg-grey-10">
          <div class="q-ma-md">โรงเรียนที่ต้องจับตามอง</div>
        </div>
        <div class="q-m-md">
          <q-table
            dark
            :data="dataWatchingList"
            :columns="columnWatchingList"
            row-key="name"
            :pagination="pagination"
          >
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="order" :props="props">{{ props.row.schoolCode }}</q-td>
                <q-td key="school" :props="props">{{ props.row.schoolName }}</q-td>
                <q-td key="class" :props="props">{{ props.row.classRoom }}</q-td>
                <q-td key="cause" :props="props">{{ props.row.cause }}</q-td>
              </q-tr>
            </template>
          </q-table>
        </div>
      </div>
    </div>
    <!-- -------------------dialog--------------------- -->

    <!-- dialog ปฏิทินวันที่เปิดเรียน -->
    <div>
      <q-dialog v-model="calander" persistent content-class="backdrop">
        <q-card dark style="min-width: 350px">
          <q-card-section>
            <div class="text-h6" align="center">วันที่เปิดเรียน</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <div class="q-gutter-md" align="center">
              <q-date
                v-model="startDate"
                color="yellow"
                class="text-black"
                text-color="black"
                mask="DD-MM-YYYY"
              />
            </div>
          </q-card-section>

          <q-card-actions align="center" class="q-mb-md">
            <q-btn
              label="ยกเลิก"
              text-color="black"
              color="white"
              style="width:100px"
              v-close-popup
            />
            <q-btn
              @click="saveCalander()"
              label="บันทึก"
              color="amber-13"
              text-color="black"
              style="width:100px"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
    <!-- dialog โรงเรียนที่ไม่เข้าเรียน (การเข้าเรียนประจำสัปดาห์) -->
    <div>
      <q-dialog v-model="studyOnThisWeek" persistent content-class="backdrop">
        <q-card dark style="min-width: 500px">
          <q-card-section>
            <div class="text-h6" align="center">โรงเรียนที่ไม่เข้าเรียนประจำสัปดาห์</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <div class="col-6 q-mx-md" style="height:350px;overflow-y:auto">
              <div class="q-m-md">
                <q-table
                  dark
                  :data="notAttendantClassInThisWeek"
                  :columns="columnStudyOnThisWeek"
                  row-key="name"
                  :pagination="pagination"
                >
                  <template v-slot:body="props">
                    <q-tr :props="props">
                      <q-td key="order" :props="props">{{ props.row.schoolCode }}</q-td>
                      <q-td key="school" :props="props">{{ props.row.schoolName }}</q-td>
                      <q-td key="class" :props="props">{{ props.row.classRoom }}/{{props.row.room}}</q-td>
                      <q-td key="time" :props="props">{{ props.row.lastWeekLogIn}} สัปดาห์</q-td>
                    </q-tr>
                  </template>
                </q-table>
              </div>
            </div>
          </q-card-section>

          <q-card-actions align="center" class="q-mb-md">
            <q-btn
              label="ปิด"
              color="amber-13"
              text-color="black"
              style="width:140px"
              v-close-popup
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
    <!-- dialog การเข้าเรียนแต่ละสัปดาห์ -->
    <div>
      <q-dialog v-model="showDialogAttendantTable" persistent content-class="backdrop">
        <q-card dark style="min-width: 500px">
          <q-card-section>
            <div class="text-h6" align="center">{{titleAttendantTable}}</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <div class="col-6 q-mx-md" style="max-height:350px;overflow-y:auto">
              <div class="q-m-md">
                <q-table
                  dark
                  :data="dataAttendantInWeek"
                  :columns="columnAttendantInWeek"
                  row-key="name"
                  :pagination="pagination"
                >
                  <template v-slot:body="props">
                    <q-tr :props="props">
                      <q-td key="code" :props="props">{{ props.row.schoolCode }}</q-td>
                      <q-td key="school" :props="props">{{ props.row.schoolName }}</q-td>
                      <q-td key="class" :props="props">{{ props.row.classRoom }}/{{props.row.room}}</q-td>
                    </q-tr>
                  </template>
                </q-table>
              </div>
            </div>
          </q-card-section>

          <q-card-actions align="center" class="q-mb-md">
            <q-btn
              label="ปิด"
              color="amber-13"
              text-color="black"
              style="width:140px"
              v-close-popup
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
    <!-- dialog นักเรียนที่ไม่เข้าเรียน -->
    <div>
      <q-dialog v-model="absent" persistent>
        <q-card dark style="min-width: 500px">
          <q-card-section>
            <div class="text-h6" align="center">นักเรียนที่ไม่เข้าเรียน</div>
            <div class="text-h6" align="center">14 คน</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <div class="col-6 q-mx-md" style="height:350px;overflow-y:auto">
              <div class="q-m-md">
                <q-table
                  dark
                  :data="notStudyRoomData"
                  :columns="columnAbsend"
                  row-key="name"
                  :pagination="pagination"
                >
                  <template v-slot:body="props">
                    <q-tr :props="props">
                      <q-td key="order" :props="props">{{ props.row.schoolCode }}</q-td>
                      <q-td key="school" :props="props">{{ props.row.schoolName }}</q-td>

                      <q-td key="class" :props="props">{{ props.row.classRoom }}/{{props.row.room}}</q-td>
                    </q-tr>
                  </template>
                </q-table>
              </div>
            </div>
          </q-card-section>

          <q-card-actions align="center" class="q-mb-md">
            <q-btn
              label="ปิด"
              color="amber-13"
              text-color="black"
              style="width:140px"
              v-close-popup
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
    <!-- dialog ความก้าวหน้า -->
    <div>
      <q-dialog v-model="showProgressDialog" persistent content-class="backdrop">
        <q-card dark style="min-width: 500px">
          <q-card-section>
            <div class="text-h6" align="center">{{titleProgress}}</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <div class="col-6 q-mx-md" style="height:350px;overflow-y:auto">
              <div class="q-m-md">
                <q-table
                  dark
                  :data="dataProgress"
                  :columns="columnProgress"
                  row-key="name"
                  :pagination="pagination"
                >
                  <template v-slot:body="props">
                    <q-tr :props="props">
                      <q-td key="order" :props="props">{{ props.row.schoolCode }}</q-td>
                      <q-td key="school" :props="props">{{ props.row.schoolName }}</q-td>
                      <q-td key="class" :props="props">{{ props.row.classRoom }}/{{props.row.room}}</q-td>
                      <q-td key="criterion" :props="props">{{ Math.round(props.row.progress) }}%</q-td>
                    </q-tr>
                  </template>
                </q-table>
              </div>
            </div>
          </q-card-section>

          <q-card-actions align="center" class="q-mb-md">
            <q-btn
              label="ปิด"
              color="amber-13"
              text-color="black"
              style="width:140px"
              v-close-popup
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
import { date } from "quasar";
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      classroomPracticeLogData: [], //ข้อมูล classroompracticelog จากฐานข้อมูล
      schoolData: [], //ข้อมูลโรงเรียน จากฐานข้อมูล
      studentData: [], //ข้อมูลนักเรียน จากฐานข้อมูล
      practiceListData: [], //ข้อมูล practicelist
      practiceTotal: [], //แบบฝึกหัดที่มีในแต่ละ level

      calander: false, // เปิด Dialog วันที่เปิดเทอม
      startDate: "เลือกวันที่", //วันที่เปิดเทอมในรูปแบบ dd-mm-yyyy
      startTime: "", //วันที่เปิดเทอมในรูปแบบ number
      startDateInput: "", //ค่าที่ input สำหรับวันเปิดเทอม ใน dialog วันที่เปิดเทอม
      term: "", //เทอมปัจจุบัน ดึงจาก database
      year: "", //ปีการศึกษาปัจจุบัน ดึงจาก database

      //การเข้าเรียนประจำสัปดาห์
      weekCurrent: "", //จำนวน week ที่ผ่านมาจากวันเปิดเทอม เริ่มจาก week =1
      weekStartDate: "", //วันที่เริ่มของอาทิตย์ปัจจุบัน
      weekEndDate: "", //วันที่สุดท้ายของอาทิตย์ปัจจุบัน
      weekStartTime: "", //เวลาเริ่มของอาทิตย์ปัจจุบัน
      weekEndTime: "", //เวลาสุดท้ายของอาทิตย์ปัจจุบัน
      attendantList: [], //List การเข้าเรียนของแต่ละโรงเรียน
      precentAttendantInThisWeek: "", //อัตราการเข้าเรียนในสัปดาห์นี้
      notAttendantClassInThisWeek: [], //ข้อมูลโรงเรียนที่ไม่ได้เข้าเรียนในสัปดาห์นี้
      showNotAttendantClassInThisWeek: false, //disable / enable ปุ่มเข้ารายละเอียด
      studyOnThisWeek: false, // เปิด Dialog การเข้าเรียนประจำสัปดาห์
      columnStudyOnThisWeek: [
        {
          name: "order",
          label: "รหัส",
          align: "left",
          style: "width:50px"
        },
        {
          name: "school",
          label: "โรงเรียน",
          align: "left",
          style: "width:400px"
        },
        {
          name: "class",
          label: "ห้อง",

          align: "left",
          style: "width:300px"
        },
        {
          name: "time",
          label: "ระยเวลาที่ไม่ได้เรียน",

          align: "left"
        }
      ], // colomns การเข้าเรียนประจำสัปดาห์
      roomTotalInThisWeek: 0, //จำนวนห้องทั้งหมดที่มีในสัปดาห์นี้
      roomStudiedInThisWeek: 0, //จำนวนห้องที่เรียนทั้งหมดในสัปดาห์นี้

      //กลุ่มโรงเรียน
      schoolTypeChoose: "ทั้งหมด",
      schoolType: [], //กลุ่มโรงเรียนที่เลือก
      schoolSelected: [], //โรงเรียนในกลุ่มโรงเรียนที่เลือก

      //การเข้าเรียนแต่ละสัปดาห์
      attendantGraph: [0, 0, 0, 0, 0], //ข้อมูลสำหรับใช้ plot graph
      attendantData4: [], //ข้อมูลตารางของมากกว่า 4 week
      attendantData3: [], //ข้อมูลตารางของมากกว่า 3 week
      attendantData2: [], //ข้อมูลตารางของมากกว่า 2 week
      attendantData1: [], //ข้อมูลตารางของมากกว่า 1 week
      attendantData0: [], //ข้อมูลตารางของปัจจุบัน
      attendantGraphheight: [10, 10, 10, 10, 10], //ข้อมูลความสูงของกราฟ
      // ..................dialog การเข้าเรียนแต่ละสัปดาห์...................
      titleAttendantTable: "", //หัวข้อตาราง
      showDialogAttendantTable: false, //เปิดปิด dialog
      columnAttendantInWeek: [
        {
          name: "code",
          label: "รหัส",
          align: "left",
          style: "width:50px"
        },
        {
          name: "school",
          label: "โรงเรียน",
          align: "left",
          style: "width:500px"
        },
        {
          name: "class",
          label: "ห้อง",
          align: "left",
          style: "width:100px"
        }
      ], // colomns อัตราการเข้าเรียนแต่ละสัปดาห์
      dataAttendantInWeek: [], // data อัตราการเข้าเรียนแต่ละสัปดาห์

      // กำหนดตารางโรงเรียนที่ต้องจับตามองให้เปิด all data
      pagination: {
        rowsPerPage: 0
      },

      //ความก้าวหน้า
      progressGhaphData: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], //ข้อมูลกราฟ
      progressGraphHeight: [10, 10, 10, 10, 10, 10, 10, 10, 10, 10], //ความสูงกราฟ
      progressClass: [
        "bg-green",
        "bg-green",
        "bg-green",
        "bg-green",
        "bg-green",
        "bg-green",
        "bg-green",
        "bg-green",
        "bg-green",
        "bg-green"
      ], //สีของกราฟ
      progressByWeek: 6.25, //อัตราความก้าวหน้าต่ออาทิตย์
      titleProgress: "",
      showProgressDialog: false, // เปิด Dialog เกณฑ์ความก้าวหน้า

      columnProgress: [
        {
          name: "order",
          label: "รหัส",
          align: "left",
          style: "width:50px"
        },
        {
          name: "school",
          label: "โรงเรียน",
          align: "left"
        },
        {
          name: "class",
          label: "ระดับชั้น",
          align: "left",
          style: "width:100px"
        },
        {
          name: "criterion",
          label: "เปอร์เซ็นต์",

          align: "center",
          style: "width:100px"
        }
      ], // colomns เกณฑ์ความก้าวหน้า
      dataProgress0: [], // data ความก้าวหน้า0-10
      dataProgress10: [], // data ความก้าวหน้า10-20
      dataProgress20: [], // data ความก้าวหน้า20-30
      dataProgress30: [], // data ความก้าวหน้า30-40
      dataProgress40: [], // data ความก้าวหน้า40-50
      dataProgress50: [], // data ความก้าวหน้า50-60
      dataProgress60: [], // data ความก้าวหน้า60-70
      dataProgress70: [], // data ความก้าวหน้า70-80
      dataProgress80: [], // data ความก้าวหน้า80-90
      dataProgress90: [], // data ความก้าวหน้า90-100
      dataProgress: [], // data เกณฑ์ความก้าวหน้า

      // .................โรงเรียนที่ต้องจับตามอง..................

      columnWatchingList: [
        {
          name: "order",
          required: true,
          label: "รหัส",
          align: "left",
          style: "width:50px",
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: "school",
          required: true,
          label: "โรงเรียน",
          align: "left",
          style: "width:400px",
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: "class",
          label: "ระดับชั้น",
          field: "class",
          sortable: true,
          align: "left",
          style: "width:100px"
        },
        {
          name: "cause",
          label: "สาเหตุ",
          field: "cause",
          sortable: true,
          align: "left"
        }
      ], // colomns โรงเรียนที่ต้องจับตามอง
      dataWatchingList: [], // data โรงเรียนที่ต้องจับตามอง

      // ..................นักเรียนที่ไม่เข้าเรียน...................

      absent: false, // เปิด Dialog นักเรียนที่ไม่เข้าเรียน
      notStudyRoomCount: 0, //จำนวนห้องที่ไม่เคยเข้าเรียน
      // colomns นักเรียนที่ไม่เข้าเรียน
      columnAbsend: [
        {
          name: "order",
          label: "รหัส",
          align: "left",
          style: "width:50px"
        },
        {
          name: "school",
          label: "โรงเรียน",
          align: "left"
        },

        {
          name: "class",
          label: "ห้อง",
          align: "left",
          style: "width:100px"
        }
      ],
      // data นักเรียนที่ไม่เข้าเรียน
      notStudyRoomData: []
    };
  },
  methods: {
    // ------------------------LOAD-DATA------------------------
    async loadStartDate() {
      await db
        .collection("term")
        .doc("data")
        .get()
        .then(data => {
          this.startDateInput = data.data().startDate;
          this.startDate = this.startDateInput;
          this.startTime = data.data().startTime;
          this.term = data.data().term;
          this.year = data.data().year;
          this.changeWeek();
        });
    },

    async loadPracticeList() {
      this.practiceListData = [];
      await db
        .collection("practicelist")
        .get()
        .then(doc => {
          doc.forEach(data => {
            this.practiceListData.push(data.data());
          });
        });

      for (let i = 1; i <= 20; i++) {
        let psize = this.practiceListData.filter(x => x.level == i.toString());
        this.practiceTotal[i - 1] = psize.length;
      }
    },
    // load รายชื่อประเภทโรงเรียน
    loadSchoolTypeList() {
      let tempdata = {
        label: "ทั้งหมด",
        value: "all"
      };
      this.schoolType.push(tempdata);
      db.collection("schooltype")
        .orderBy("order")
        .get()
        .then(doc => {
          doc.forEach(data => {
            tempdata = {
              label: data.data().name,
              value: data.id
            };
            this.schoolType.push(tempdata);
          });
          this.schoolTypeChoose = this.schoolType[0];
        });
    },
    loadClassroomPracticeLog() {
      this.classroomPracticeLogData = [];
      db.collection("classroomPracticeLog")
        .where("term", "==", this.term)
        .where("year", "==", this.year)
        .get()
        .then(doc => {
          doc.forEach(data => {
            this.classroomPracticeLogData.push(data.data());
          });
        });
    },
    loadSchool() {
      this.schoolData = [];
      db.collection("school")
        .get()
        .then(doc => {
          doc.forEach(data => {
            let tempdata = {
              key: data.id
            };
            let finalData = { ...tempdata, ...data.data() };
            this.schoolData.push(finalData);
          });
        });
    },
    loadStudent() {
      this.studentData = [];
      db.collection("student")
        .where("term", "==", this.term)
        .where("year", "==", this.year)
        .get()
        .then(doc => {
          let count = 0;
          doc.forEach(data => {
            let temp = {
              key: data.id
            };
            let finalData = { ...temp, ...data.data() };
            this.studentData.push(finalData);
            count++;
            if (count == doc.size) {
              this.loadingHide();
              this.checkStudy();
            }
          });
        });
    },
    changeWeek() {
      //หาเวลาปัจจุบัน
      let currentDate = new Date();
      currentDate = currentDate.getTime();

      //หาเวลาที่แตกต่างจากเปิดเทอม
      let timeDiff = (currentDate - this.startTime) / (1000 * 60 * 60 * 24 * 7);
      this.weekCurrent = Math.floor(timeDiff) + 1;

      //วันที่เริ่มต้น และ สุดท้ายของสัปดาห์
      let startWeek =
        this.startTime + (this.weekCurrent - 1) * 1000 * 60 * 60 * 24 * 7;
      this.weekStartTime = startWeek;
      this.weekStartDate = date.formatDate(startWeek, "DD/MM/YYYY");
      let endWeek = this.startTime + this.weekCurrent * 1000 * 60 * 60 * 24 * 7;
      this.weekEndTime = endWeek;
      this.weekEndDate = date.formatDate(endWeek, "DD/MM/YYYY");
    },
    //การเปลี่ยนกลุ่มโรงเรียน
    changeSchoolType() {
      this.dataProgress0 = [];
      this.dataProgress10 = [];
      this.dataProgress20 = [];
      this.dataProgress30 = [];
      this.dataProgress40 = [];
      this.dataProgress50 = [];
      this.dataProgress60 = [];
      this.dataProgress70 = [];
      this.dataProgress80 = [];
      this.dataProgress90 = [];
      this.dataProgress = [];
      this.progressGhaphData = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
      this.progressGraphHeight = [10, 10, 10, 10, 10, 10, 10, 10, 10, 10];
      this.progressClass = [
        "bg-green",
        "bg-green",
        "bg-green",
        "bg-green",
        "bg-green",
        "bg-green",
        "bg-green",
        "bg-green",
        "bg-green",
        "bg-green"
      ];
      this.attendantGraph = [0, 0, 0, 0, 0];
      this.attendantData4 = [];
      this.attendantData3 = [];
      this.attendantData2 = [];
      this.attendantData1 = [];
      this.attendantData0 = [];
      this.dataWatchingList = [];
      this.attendantGraphheight = [10, 10, 10, 10, 10];

      this.checkStudy();
    },

    //ทำการสร้าง attendantList เก็บอัตราการเข้าเรียน
    checkStudy() {
      this.attendantList = [];
      this.schoolSelected = this.schoolData;
      //ทำการวนแต่ละโรงเรียนเพื่อหาห้องที่มีและ ห้องที่ได้เข้าเรียนในสัปดาห์นี้
      this.schoolSelected.forEach(data => {
        let schoolKey = data.key;
        let studentInThisSchool = this.studentData.filter(
          x => x.schoolKey == schoolKey
        );
        let classInThisSchool = [
          ...new Set(studentInThisSchool.map(x => x.classRoom))
        ];
        classInThisSchool.forEach(classData => {
          let studentInThisClass = studentInThisSchool.filter(
            x => x.classRoom == classData
          );

          let roomInThisClass = [
            ...new Set(studentInThisClass.map(x => x.room))
          ];
          this.roomTotalInThisWeek += roomInThisClass.length;
          //หาว่ามีการเรียนในสัปดานี้หรือเปล่าวในแต่ละห้อง
          roomInThisClass.forEach(roomData => {
            let classInThisWeek = this.classroomPracticeLogData.filter(
              logdata =>
                logdata.class == classData &&
                logdata.room == roomData &&
                logdata.schoolKey == schoolKey
            );

            let dataAdd = [];
            if (classInThisWeek.length > 0) {
              classInThisWeek.sort((a, b) => b.timeIn - a.timeIn);
              // console.log(classInThisWeek[0].level);
              // console.log(classData, roomData, classInThisWeek[0].timeIn);
              let currentDate = new Date();
              currentDate = currentDate.getTime();
              let weekDiff =
                (currentDate - classInThisWeek[0].timeIn) /
                (1000 * 60 * 60 * 24 * 7);
              let progressData = classInThisWeek.length;
              dataAdd = {
                schoolCode: data.schoolCode,
                schoolKey: schoolKey,
                schoolName: data.name,
                schoolType: data.typeKey,
                classRoom: classData,
                room: roomData,
                lastTimeLogIn: classInThisWeek[0].timeIn,
                lastWeekLogIn: Math.floor(weekDiff),
                finishedPractice: classInThisWeek.length,
                level: classInThisWeek[0].level,
                progress:
                  (classInThisWeek.length * 100) /
                  Number(this.practiceTotal[classInThisWeek[0].level - 1])
              };
            } else {
              dataAdd = {
                schoolCode: data.schoolCode,
                schoolKey: schoolKey,
                schoolName: data.name,
                schoolType: data.typeKey,
                classRoom: classData,
                room: roomData,
                lastTimeLogIn: 0,
                lastWeekLogIn: 999,
                finishedPractice: 0,
                level: 0,
                progress: 0
              };
            }
            this.attendantList.push(dataAdd);
          });
        });
      });
      this.calPercentAttendant();
    },

    calPercentAttendant() {
      // console.log(this.attendantList);
      let showResult = this.attendantList;
      if (this.schoolTypeChoose.value != "all") {
        showResult = this.attendantList.filter(
          x => x.schoolType == this.schoolTypeChoose.value
        );
      }

      if (showResult.length > 0) {
        let classTotal = showResult.length;
        this.notAttendantClassInThisWeek = showResult.filter(
          x => x.lastWeekLogIn != 0
        );
        this.precentAttendantInThisWeek =
          Math.floor(
            ((classTotal - this.notAttendantClassInThisWeek.length) /
              classTotal) *
              100
          ) + "%";
        this.showNotAttendantClassInThisWeek = true;
        //กราฟการเข้าเรียนแต่ละสัปดาห์
        this.attendantData0 = showResult.filter(x => x.lastWeekLogIn == 0);
        this.attendantGraph[0] = Math.round(
          (this.attendantData0.length / classTotal) * 100
        );
        this.attendantGraphheight[0] = Math.max(
          (this.attendantGraph[0] / 100) * 180,
          5
        );

        this.attendantData1 = showResult.filter(x => x.lastWeekLogIn == 1);
        this.attendantGraph[1] = Math.round(
          (this.attendantData1.length / classTotal) * 100
        );
        this.attendantGraphheight[1] = Math.max(
          (this.attendantGraph[1] / 100) * 180,
          5
        );

        this.attendantData2 = showResult.filter(x => x.lastWeekLogIn == 2);
        this.attendantGraph[2] = Math.round(
          (this.attendantData2.length / classTotal) * 100
        );
        this.attendantGraphheight[2] = Math.max(
          (this.attendantGraph[2] / 100) * 180,
          5
        );

        this.attendantData3 = showResult.filter(x => x.lastWeekLogIn == 3);
        this.attendantGraph[3] = Math.round(
          (this.attendantData3.length / classTotal) * 100
        );
        this.attendantGraphheight[3] = Math.max(
          (this.attendantGraph[3] / 100) * 180,
          5
        );

        this.attendantData4 = showResult.filter(x => x.lastWeekLogIn > 3);
        this.attendantData4.forEach(x => {
          let reason = "";
          if (x.lastWeekLogIn == 999) {
            reason = "ยังไม่เคยเข้าเรียน";
          } else {
            reason = "ไม่เข้าเรียนมา " + x.lastWeekLogIn + " สัปดาห์";
          }
          let temp = {
            schoolCode: x.schoolCode,
            schoolName: x.schoolName,
            classRoom: x.classRoom + "/" + x.room,
            cause: reason
          };
          this.dataWatchingList.push(temp);
        });
        this.attendantGraph[4] = Math.round(
          (this.attendantData4.length / classTotal) * 100
        );
        this.attendantGraphheight[4] = Math.max(
          (this.attendantGraph[4] / 100) * 180,
          5
        );

        //กราฟความก้าวหน้า
        let progressRawData = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
        showResult.forEach(data => {
          let progressInterval = Math.floor(data.progress / 10);
          if (progressInterval == 10) {
            progressInterval = 9;
          }
          switch (progressInterval) {
            case 0:
              this.dataProgress0.push(data);
              break;
            case 1:
              this.dataProgress10.push(data);
              break;
            case 2:
              this.dataProgress20.push(data);
              break;
            case 3:
              this.dataProgress30.push(data);
              break;
            case 4:
              this.dataProgress40.push(data);
              break;
            case 5:
              this.dataProgress50.push(data);
              break;
            case 6:
              this.dataProgress60.push(data);
              break;
            case 7:
              this.dataProgress70.push(data);
              break;
            case 8:
              this.dataProgress80.push(data);
              break;
            case 9:
              this.dataProgress90.push(data);
              break;
          }
          progressRawData[progressInterval] += 1;
        });

        this.progressGhaphData = progressRawData.map(x =>
          Math.round((x / classTotal) * 100)
        );
        this.progressGraphHeight = this.progressGhaphData.map(x =>
          Math.max((x / 100) * 180, 5)
        );
        let expectedProgress = Math.floor(
          (this.weekCurrent * this.progressByWeek) / 10
        );
        if (expectedProgress >= 10) {
          expectedProgress = 9;
        }
        let yellowProgress = expectedProgress - 3;
        if (yellowProgress < 0) {
          yellowProgress = 0;
        }
        for (let c = 0; c < yellowProgress; c++) {
          this.progressClass[c] = "bg-red";
          let dataSetAlert = [];
          switch (c) {
            case 0:
              dataSetAlert = this.dataProgress0;
              break;
            case 1:
              dataSetAlert = this.dataProgress10;
              break;
            case 2:
              dataSetAlert = this.dataProgress20;
              break;
            case 3:
              dataSetAlert = this.dataProgress30;
              break;
            case 4:
              dataSetAlert = this.dataProgress40;
              break;
            case 5:
              dataSetAlert = this.dataProgress50;
              break;
            case 6:
              dataSetAlert = this.dataProgress60;
              break;
            case 7:
              dataSetAlert = this.dataProgress70;
              break;
            case 8:
              dataSetAlert = this.dataProgress80;
              break;
            case 9:
              dataSetAlert = this.dataProgress90;
              break;
          }

          dataSetAlert.forEach(x => {
            let reason = "";
            if (x.level == 0) {
              reason = "รอผล placement";
            } else {
              reason = "ความก้าวหน้า " + Math.round(x.progress) + "%";
            }
            let temp = {
              schoolCode: x.schoolCode,
              schoolName: x.schoolName,
              classRoom: x.classRoom + "/" + x.room,
              cause: reason
            };
            this.dataWatchingList.push(temp);
          });
        }
        for (let c = yellowProgress; c < expectedProgress; c++) {
          this.progressClass[c] = "bg-amber";
        }
        for (let c = expectedProgress; c < 10; c++) {
          this.progressClass[c] = "bg-green";
        }
        //ห้องที่ไม่เคยเข้าเรียน
        this.notStudyRoomData = showResult.filter(x => x.lastWeekLogIn == 999);
        this.notStudyRoomCount = this.notStudyRoomData.length;
      } else {
        this.precentAttendantInThisWeek = "-";
        this.showNotAttendantClassInThisWeek = false;
        this.attendantGraph = [0, 0, 0, 0, 0];
        this.progressGhaphData = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
        this.progressGraphHeight = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
      }
    },

    // -------------------------GO-TO-PAGE---------------------
    goToOverviewPage() {
      this.$router.push("/monitor/studyoverview");
    },
    goTOExercisePage() {
      this.$router.push("/monitor/studyexercise");
    },
    // -------------------------DIALOG-------------------------
    // dialog วันที่เปิดเรียน
    dialogCalander() {
      this.startDate = this.startDateInput;
      this.calander = true;
    },
    saveCalander() {
      let dateData = this.startDate.split("-");
      let dateInput = new Date(
        dateData[2] + "-" + dateData[1] + "-" + dateData[0]
      );
      let startTime = dateInput.getTime();
      db.collection("term")
        .doc("data")
        .update({
          startDate: this.startDate,
          startTime: startTime
        })
        .then(() => {
          window.location.reload(true);
        });
      // this.startDateInput = this.startDate;
      // this.startTime = startTime;
      // this.changeWeek();

      this.calander = false;
    },
    // dialog การเข้าเรียนประจำสัปดาห์
    dailogStudyOnThisWeek() {
      this.studyOnThisWeek = true;
    },
    // dialog นักเรียนที่ไม่เข้าเรียน
    dailogAbsend() {
      this.absent = true;
    },
    // dialog อัตราการเข้าเรียน
    dialogAttendantStudyInWeek(week) {
      if (week == 0) {
        this.titleAttendantTable = "ห้องที่เข้าเรียนในสัปดาห์ปัจจุบัน";
        this.dataAttendantInWeek = this.attendantData0;
      } else if (week == 1) {
        this.titleAttendantTable = "ห้องที่ไม่ได้เข้าเรียน 1 สัปดาห์แล้ว";
        this.dataAttendantInWeek = this.attendantData1;
      } else if (week == 2) {
        this.titleAttendantTable = "ห้องที่ไม่ได้เข้าเรียน 2 สัปดาห์แล้ว";
        this.dataAttendantInWeek = this.attendantData2;
      } else if (week == 3) {
        this.titleAttendantTable = "ห้องที่ไม่ได้เข้าเรียน 3 สัปดาห์แล้ว";
        this.dataAttendantInWeek = this.attendantData3;
      } else {
        this.titleAttendantTable = "ห้องที่ไม่ได้เข้าเรียนมากกว่า 3 สัปดาห์";
        this.dataAttendantInWeek = this.attendantData4;
      }
      this.showDialogAttendantTable = true;
    },
    // dialog เกณฑ์ความก้าวหน้า
    dialogProgressShow(set) {
      switch (set) {
        case 0:
          this.titleProgress = "ห้องเรียนที่มีความก้าวหน้า 0-10%";
          this.dataProgress = this.dataProgress0;
          break;
        case 1:
          this.titleProgress = "ห้องเรียนที่มีความก้าวหน้า 10-20%";
          this.dataProgress = this.dataProgress10;
          break;
        case 2:
          this.titleProgress = "ห้องเรียนที่มีความก้าวหน้า 20-30%";
          this.dataProgress = this.dataProgress20;
          break;
        case 3:
          this.titleProgress = "ห้องเรียนที่มีความก้าวหน้า 30-40%";
          this.dataProgress = this.dataProgress30;
          break;
        case 4:
          this.titleProgress = "ห้องเรียนที่มีความก้าวหน้า 40-50%";
          this.dataProgress = this.dataProgress40;
          break;
        case 5:
          this.titleProgress = "ห้องเรียนที่มีความก้าวหน้า 50-60%";
          this.dataProgress = this.dataProgress50;
          break;
        case 6:
          this.titleProgress = "ห้องเรียนที่มีความก้าวหน้า 60-70%";
          this.dataProgress = this.dataProgress60;
          break;
        case 7:
          this.titleProgress = "ห้องเรียนที่มีความก้าวหน้า 70-80%";
          this.dataProgress = this.dataProgress70;
          break;
        case 8:
          this.titleProgress = "ห้องเรียนที่มีความก้าวหน้า 80-90%";
          this.dataProgress = this.dataProgress80;
          break;
        case 9:
          this.titleProgress = "ห้องเรียนที่มีความก้าวหน้า 90-100%";
          this.dataProgress = this.dataProgress90;
          break;
      }
      this.showProgressDialog = true;
    },
    //หาจำนวนสัปดาห์
    loadWeekData() {
      // console.log(this.startDate);
    }
  },
  async mounted() {
    this.loadingShow();
    this.loadSchoolTypeList();
    await this.loadStartDate();
    this.loadPracticeList();
    this.loadClassroomPracticeLog();
    this.loadSchool();
    this.loadStudent();
  }
};
</script>

<style scoped>
.redbar {
  background-color: red;
}
.bluebar {
  background-color: blue;
}
.greenbar {
  background-color: green;
}
.btnbar {
  width: 100%;
}
.redbox {
  width: 25px;
  height: 25px;
  background-color: red;
}
.bluebox {
  width: 25px;
  height: 25px;
  background-color: blue;
}
.greenbox {
  width: 25px;
  height: 25px;
  background-color: green;
}
.lined {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.boxgrey {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
</style>