<template>
  <div class="bg6">
    <div id="printBtn">
      <q-toolbar class="bg-black text-white">
        <q-toolbar-title>
          <span>ผลคะแนน pre-test > พิมพ์ผลคะแนน pre-test</span>
        </q-toolbar-title>
        <q-btn
          class="q-mr-md"
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-print"
          @click="printBtn()"
        />
        <q-btn
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-times"
          @click="closeBtn()"
        />
      </q-toolbar>
    </div>
    <div align="center">
      <div class="bg7 printMe shadow-1 paper-a4 q-my-lg cl2">
        <!-- หัวกระดาษ -->
        <div class="q-px-md q-pt-md">
          <div class="box q-py-md row rounded-borders">
            <div class="col-4 relative-position">
              <div class="absolute-center">
                <img
                  align="left"
                  style="width:200px"
                  src="../../statics/image/logowinner.png"
                />
              </div>
            </div>
            <div class="col-8 items-center row">
              <div class="items-center col-12" align="center">
                <span class="text-h6">ผลคะแนน pre-test&nbsp;</span>
                <hr style="width: 300px" />
                <span>{{ schoolName }}</span>
                - ปีการศึกษา
                <span>{{ year }}</span>
                ชั้น
                <span>{{ classroom }}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- เนิ้อหากระดาษ -->
        <div class="q-px-md">
          <table style="width:100%; border-collapse: collapse;">
            <thead>
              <tr>
                <td colspan="4">
                  <div class="q-mt-md"></div>
                </td>
              </tr>
              <tr
                class="text-center"
                style="width:100%:height: 15px; "
                v-for="(item, index) in data"
                :key="index"
              >
                <td
                  class="box q-py-sm"
                  style="width:60px"
                  v-if="item.no == '1'"
                >
                  <span>เลขที่</span>
                </td>
                <td v-if="item.no == '1'" class="box">
                  <span>ชื่อ-นามสกุล</span>
                </td>
                <td style="width:100px" v-if="item.no == '1'" class="box">
                  <span>คะแนน</span>
                </td>
              </tr>
            </thead>
            <tbody>
              <!-- เลือกเฉพาะห้องเรียน  -->
              <tr
                class="text-center"
                v-for="(item, index) in data"
                :key="index"
              >
                <td class="box q-py-sm">{{ item.no }}</td>
                <td class="box q-pl-md text-left">{{ item.name }}</td>
                <td class="box">{{ item.score }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      maxstudent: 10,
      data: this.$route.params.data,
      schoolName: this.$route.params.schoolName,
      year: this.$route.params.year,
      classroom: this.$route.params.room
    };
  },
  methods: {
    printBtn() {
      window.print();
    },
    closeBtn() {
      this.$router.push("/monitor/pretest");
    }
  },
  mounted() {
    if (this.$route.params.data == undefined) {
      this.$router.push("/monitor/pretest");
    }
  }
};
</script>

<style scoped>
.greybox {
  outline: 1px solid gray;
}
.box {
  border: 1px solid #5c5c5c;
}
.paper-a4 {
  background: #ffffff;
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}
@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }

  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  width: 210mm;
  height: 297mm;
  /* size: landscape; portrait */
}
</style>
