<template>
  <div>
    <div class="text-h5 q-pt-xl q-pb-xl" align="center">ข้อมูลสำหรับการวิเคราะห์รายบุคคล</div>
    <!-- ------------------tap Manu------------------ -->
    <div class="row items-center">
      <div style="width:270px"></div>
      <!-- ------------group1-------------- -->
      <div style="width:1040px">
        <!-- ROW1 -->
        <div class="row justify-center items-end">
          <!-- เลือกโรงเรียน -->
          <div class="q-mx-md" style="width:400px">
            <q-select
              label="โรงเรียน"
              color="amber-13"
              map-options
              emit-value
              v-model="schoolChoose"
              dark
              :options="schoolOption"
            />
          </div>
          <!-- เลือกปีการศึกษา -->
          <div class="q-mx-md" style="width:120px">
            <q-select
              label="ปีการศึกษา"
              color="amber-13"
              v-model="yearChoose"
              dark
              :options="yearOption"
            />
          </div>
          <!-- เลือกชั้นเรียน -->
          <div class="q-mx-md" style="width:100px">
            <q-select
              label="ชั้น"
              color="amber-13"
              v-model="classChoose"
              dark
              :options="classOption"
            />
          </div>

          <div class="q-mx-md"></div>
        </div>
        <!-- ROW2 -->
        <div class="q-mt-lg row justify-center items-end">
          <!-- เลือกทักษะ -->
          <div class="q-mx-md" style="width:200px">
            <q-select
              label="ทักษะ"
              color="amber-13"
              v-model="skillChoose"
              dark
              :options="skillType"
            />
          </div>

          <!-- เลือก Level -->
          <div class="q-mx-md" style="width:100px">
            <q-select
              label="Level"
              color="amber-13"
              v-model="levelChoose"
              dark
              :options="levelOption"
            />
          </div>
          <!-- Unit เริ่มต้น -->
          <div class="q-mx-md" style="width:140px">
            <q-select
              label="Unit เริ่มต้น"
              color="amber-13"
              v-model="firstUnitChoose"
              dark
              :options="unitOption"
            />
          </div>
          <!-- Unit สุดท้าย -->
          <div class="q-mx-md" style="width:140px">
            <q-select
              label="Unit สุดท้าย"
              color="amber-13"
              v-model="lastUnitChoose"
              dark
              :options="unitOption"
            />
          </div>
          <div class="q-mx-md"></div>
        </div>
      </div>
      <!-- -------------group2--------------- -->
      <div>
        <q-btn
          dark
          label="ประมวลผล"
          color="amber-13"
          text-color="black"
          style="width:120px"
          @click="runBtn()"
        />
      </div>
    </div>
    <br />
    <!-- -----------------ตารางข้อมูล----------------- -->
    <div class="q-mt-lg q-mx-lg justify-center bg-grey-9" style="height:70px">
      <!-- ปุ่มคัดลอกข้อมความ -->
      <div class="q-pa-md" align="right">
        <q-btn @click="copyBtn()" round color="amber-13" text-color="black">
          <q-icon center name="fas fa-copy" />
        </q-btn>
      </div>
    </div>
    <div class="q-px-lg" style="height:350px;overflow-y:auto;  overflow-x:auto; ">
      <div>
        <q-table :data="dataResult" :columns="columns" dark row-key="name" />
      </div>
    </div>

    <!-- ปุ่มกลับหน้าหลัก -->
    <div class="q-ma-lg" align="center">
      <q-btn
        @click="backToMianPage()"
        label="กลับหน้าหลัก"
        color="amber-13"
        text-color="black"
        size="16px"
        style="width:140px"
      />
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      schoolChoose: "",
      schoolData: [],
      schoolOption: [],
      yearChoose: "",
      yearOption: [
        "1/2562",
        "2/2562",
        "1/2563",
        "2/2563",
        "1/2564",
        "2/2564",
        "1/2565",
        "2/2565",
        "1/2566",
        "2/2566",
        "1/2567",
        "2/2567",
        "1/2568",
        "2/2568",
        "1/2569",
        "2/2569",
        "1/2570",
        "2/2570"
      ],
      classChoose: "ป.1",
      classOption: [
        "ป.1",
        "ป.2",
        "ป.3",
        "ป.4",
        "ป.5",
        "ป.6",
        "ม.1",
        "ม.2",
        "ม.3",
        "ม.4",
        "ม.5",
        "ม.6"
      ],

      skillType: [
        "Vocabulary",
        "Grammar",
        "Reading",
        "Writing",
        "Phonics",
        "Listening & Speaking"
      ],
      skillChoose: "Vocabulary",
      levelOption: [],
      levelChoose: "",
      firstUnitChoose: 1,
      lastUnitChoose: 1,
      unitOption: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
      dataTemp: [],
      dataResult: [],
      // กำหนดตารางข้อมูลให้เปิด all data

      // .................ตารางข้อมูล..................
      // colomns ตารางข้อมูล
      columns: [
        // ปีการศึกษา
        {
          name: "year",
          label: "ปีการศึกษา",
          align: "center",
          field: "year",
          style: "width: 100px"
        },
        // เทอม
        {
          name: "term",
          label: "เทอม",
          align: "center",
          field: "term",
          style: "width: 100px"
        },
        // รหัสโรงเรียน
        {
          name: "schoolCode",
          label: "รหัสโรงเรียน",
          align: "center",
          field: "schoolCode",
          style: "width: 100px"
        },
        // ชื่อโรงเรียน
        {
          name: "schoolName",
          label: "ชื่อโรงเรียน",
          align: "center",
          field: "schoolName",
          style: "width: 300px"
        },
        // ระดับชั้น
        {
          name: "class",
          label: "ระดับชั้น",
          align: "center",
          field: "class",
          style: "width: 100px"
        },
        // ห้อง
        {
          name: "room",
          label: "ห้อง",
          align: "center",
          field: "room",
          style: "width: 100px"
        },
        //เลขที่ในห้อง
        {
          name: "studentNo",
          label: "เลขที่",
          align: "center",
          field: "studentNo",
          style: "width: 100px"
        },
        //ชื่อนักเรียน
        {
          name: "studentName",
          label: "ชื่อ-นามสกุล",
          align: "center",
          field: "studentName",
          style: "width: 300px"
        },
        //studentKey
        {
          name: "studentKey",
          label: "รหัสนักเรียน",
          align: "center",
          field: "studentKey",
          style: "width: 150px"
        },
        //date
        {
          name: "date",
          label: "วันที่",
          align: "center",
          field: "date",
          style: "width: 150px"
        },
        //microtime
        {
          name: "microtime",
          label: "เวลา",
          align: "center",
          field: "microtime",
          style: "width: 150px"
        },
        //level
        {
          name: "level",
          label: "level",
          align: "center",
          field: "level",
          style: "width: 100px"
        },
        //unit
        {
          name: "unit",
          label: "unit",
          align: "center",
          field: "unit",
          style: "width: 100px"
        },
        //skill
        {
          name: "skill",
          label: "ทักษะ",
          align: "center",
          field: "skill",
          style: "width: 120px"
        },
        //order
        {
          name: "order",
          label: "ลำดับ",
          align: "center",
          field: "order",
          style: "width: 120px"
        },
        //skill
        {
          name: "practiceType",
          label: "ประเภท",
          align: "center",
          field: "practiceType",
          style: "width: 150px"
        },
        //skill
        {
          name: "practiceKey",
          label: "รหัสแบบฝึกหัด",
          align: "center",
          field: "practiceKey",
          style: "width: 120px"
        },
        //useTime
        {
          name: "useTime",
          label: "เวลาที่ใช้",
          align: "center",
          field: "useTime",
          style: "width: 120px"
        },
        //finish
        {
          name: "finish",
          label: "เสร็จสิ้น",
          align: "center",
          field: "finish",
          style: "width: 120px"
        },
        //correct
        {
          name: "correct",
          label: "จำนวนข้อถูก",
          align: "center",
          field: "correct",
          style: "width: 120px"
        },
        //incorrect
        {
          name: "incorrect",
          label: "จำนวนข้อผิด",
          align: "center",
          field: "incorrect",
          style: "width: 120px"
        },
        //ข้อปัจจุบัน
        {
          name: "finishQuestion",
          label: "ข้อปัจจุบัน",
          align: "center",
          field: "finishQuestion",
          style: "width: 120px"
        },
        //ข้อทั้งหมด
        {
          name: "totalQuestion",
          label: "ข้อทั้งหมด",
          align: "center",
          field: "totalQuestion",
          style: "width: 120px"
        }
      ] // data ตารางข้อมูล
    };
  },
  methods: {
    // ------------------------LOAD-DATA------------------------
    //โหลดปีการศึกษา
    loadYear() {
      db.collection("term")
        .doc("data")
        .get()
        .then(data => {
          this.yearChoose = data.data().term + "/" + data.data().year;
          this.startTime = data.data().startTime;
        });
    },
    async loadSchool() {
      this.schoolData = [];
      await db
        .collection("school")
        .get()
        .then(doc => {
          doc.forEach(data => {
            let temp = {
              key: data.id
            };
            let dataFinal = { ...temp, ...data.data() };
            this.schoolData.push(dataFinal);
          });
          this.schoolData.sort(
            (a, b) => Number(a.schoolCode) - Number(b.schoolCode)
          );
        });
    },

    setSchoolOption() {
      this.schoolOption = [{ value: "all", label: "ทั้งหมด" }];
      this.schoolData.forEach(x => {
        let temp = {
          value: x.key,
          label: x.schoolCode + "-" + x.name
        };
        this.schoolOption.push(temp);
      });
      this.schoolChoose = this.schoolOption[0].value;
    },

    loadLevel() {
      this.levelOption = [];
      db.collection("level")
        .get()
        .then(doc => {
          doc.forEach(data => {
            this.levelOption.push(data.data().level);
          });
          this.levelOption.sort((a, b) => Number(a) - Number(b));
          this.levelChoose = this.levelOption[0];
          this.loadingHide();
        });
    },

    // ---------------------------BTN--------------------------
    runBtn() {
      this.dataTemp = [];
      this.dataResult = [];
      let termYear = this.yearChoose.split("/");
      let term = termYear[0];
      let year = termYear[1];
      let loadDb = db
        .collection("studentpracticelog")
        .where("term", "==", term)
        .where("year", "==", year)
        .where("class", "==", this.classChoose)
        .where("skill", "==", this.skillChoose)
        .where("level", "==", this.levelChoose);

      if (this.schoolChoose != "all") {
        loadDb = loadDb.where("schoolKey", "==", this.schoolOption);
      }
      loadDb.get().then(doc => {
        doc.forEach(data => {
          // console.log(data.data().schoolKey);

          // console.log(temp);
          this.dataTemp.push(data.data());
        });
        this.dataTemp = this.dataTemp.filter(
          x =>
            Number(x.unit) >= this.firstUnitChoose &&
            Number(x.unit) <= this.lastUnitChoose
        );

        this.dataTemp.forEach(data => {
          let schoolGet = this.schoolData.filter(x => x.key == data.schoolKey);

          let temp = {
            year: year,
            term: term,
            schoolCode: schoolGet[0].schoolCode,
            schoolName: schoolGet[0].name,
            class: this.classChoose,
            room: data.room,
            studentNo: data.studentNo,
            studentName: data.studentName,
            studentKey: data.studentKey,
            date: data.date.date,
            microtime: data.date.microtime,
            level: this.levelChoose,
            unit: data.unit,
            skill: data.skill,
            order: data.order,
            practiceType: data.practiceType,
            practiceKey: data.practiceKey,
            useTime: data.useTime,
            finish: data.status,
            correct: data.correct,
            incorrect: data.incorrect,
            finishQuestion: data.currentQuestion,
            totalQuestion: data.totalQuestion
          };
          this.dataResult.push(temp);
        });
      });
    },
    copyBtn() {
      var dummy = document.createElement("input");

      // Add it to the document
      document.body.appendChild(dummy);

      // Set its ID
      dummy.setAttribute("id", "dummy_id");

      // Output the array into it
      document.getElementById("dummy_id").value = JSON.stringify(
        this.dataResult
      );

      // Select it
      dummy.select();

      // Copy its contents
      document.execCommand("copy");

      // Remove it as its not needed anymore
      document.body.removeChild(dummy);
    },
    // -------------------------GO-TO-PAGE---------------------

    backToMianPage() {
      this.$router.push("/monitor/study");
    }
  },
  async mounted() {
    this.loadingShow();
    await this.loadSchool();
    this.setSchoolOption();
    this.loadYear();
    this.loadLevel();
  }
};
</script>

<style scoped>
table {
  border-collapse: collapse;
}
td {
  text-align: center;
  border: 1px solid white;
  min-width: 100px;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
}
</style>

