<template>
  <div class="bg6">
    <div id="printBtn">
      <q-toolbar class="bg-black text-white">
        <q-toolbar-title>
          <span>ผลคะแนน post-test > พิมพ์ผลคะแนน post-test</span>
        </q-toolbar-title>
        <q-btn
          class="q-mr-md"
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-print"
          @click="printBtn()"
        />
        <q-btn
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-times"
          @click="closeBtn()"
        />
      </q-toolbar>
    </div>

    <div align="center">
      <div class="bg7 printMe shadow-1 paper-a4 q-my-md cl2">
        <!-- หัวกระดาษ -->
        <div class="q-px-md">
          <table style="width:100%; border-collapse: collapse;">
            <thead>
              <tr>
                <td>
                  <div class="q-pt-md">
                    <div class="box q-pa-md row rounded-borders">
                      <div class="col-4 relative-position">
                        <div class="absolute-center">
                          <img
                            align="left"
                            style="width:200px"
                            src="../../statics/image/logowinner.png"
                          />
                        </div>
                      </div>
                      <div class="col-8 items-center row">
                        <div class="items-center col-12" align="center">
                          <span class="text-h6">ผลคะแนน post-test&nbsp;</span>
                          <hr style="width: 300px" />
                          <span>{{schoolName}}</span>
                          - ปีการศึกษา
                          <span>{{year}}</span>
                          ชั้น
                          <span>{{classRiin}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item,index) in data" :key="index" align="center">
                <td class="q-pt-lg" style="width:760px">
                  <div>
                    <div class="text-h6">{{item.title}} {{item.classroom}}</div>
                    <div>ค่าเฉลี่ย {{item.mean}}% ค่าเบี่่ยงเบนมาตรฐาน {{item.sd}}%</div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div align="center">
                        <div style="height:15px" class="text-left">จำนวนนักเรียน (คน)</div>
                        <div style="height:15px" class="text-left">
                          <q-icon name="fas fa-caret-up" />
                        </div>

                        <div
                          style="height:350px"
                          class="row q-ml-sm boxGrap justify-between items-end"
                        >
                          <div
                            style="width:100%"
                            class="col"
                            v-for="(i,index) in  item.graph"
                            :key="index"
                          >
                            <div>{{i.no}}</div>
                            <div
                              v-if="item.title !='ผลต่างคะแนน Pre-test / Post-test'"
                              style="width:35px"
                              :style="{height:i.no/item.maxstudent*250 + 10 + 'px'}"
                              class="bg-grey-8"
                            ></div>
                            <div
                              v-if="item.title =='ผลต่างคะแนน Pre-test / Post-test'"
                              style="width:35px"
                              :style="{height:i.no/item.maxstudent*250 + 10 + 'px'}"
                              :class="{'bg-red':index == 0, 'bg-grey-8':index != 0}"
                            ></div>
                          </div>
                        </div>

                        <div class="row justify-between items-start">
                          <div
                            style="width:100%"
                            class="q-mx-xs col"
                            v-for="(i,index) in   item.graph"
                            :key="index"
                          >
                            <div class="text-caption">{{i.score}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      v-if="item.title !='ผลต่างคะแนน Pre-test / Post-test'"
                      class="col-4 q-pt-sm relative-position"
                    >
                      <div class="q-mt-md">
                        <div class="row box">
                          <div class="col-4 q-py-sm">
                            <span>คะแนน (%)</span>

                            <hr />
                            <div v-for="(l,index) in item.graph " :key="index">
                              <div>{{l.score}}</div>
                            </div>
                          </div>
                          <div class="col q-py-sm" style="border-left:1px solid gray;">
                            <span>จำนวนนักเรียน (คน)</span>
                            <hr />
                            <div v-for="(s,index) in item.graph " :key="index">
                              <div>{{s.no}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div style="padding-bottom:10px;" class="absolute-bottom-left q-py-sm">
                        <q-icon style="width:3px" name="fas fa-caret-right" />
                        <span class="q-px-sm">คะแนน (%)</span>
                      </div>
                    </div>
                    <div
                      v-if="item.title =='ผลต่างคะแนน Pre-test / Post-test'"
                      class="col-5 q-pt-sm relative-position"
                    >
                      <div class="q-mt-md">
                        <div class="row box">
                          <div class="col-5 q-py-sm">
                            <span>ผลต่างคะแนน (%)</span>

                            <hr />
                            <div v-for="(l,index) in item.graph " :key="index">
                              <div>{{l.score}}</div>
                            </div>
                          </div>
                          <div class="col q-py-sm" style="border-left:1px solid gray;">
                            <span>จำนวนนักเรียน (คน)</span>
                            <hr />
                            <div v-for="(s,index) in item.graph " :key="index">
                              <div>{{s.no}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div style="padding-bottom:9px;" class="absolute-bottom-left">
                        <q-icon style="width:3px" name="fas fa-caret-right" />
                        <span class="q-px-sm">ผลต่างคะแนน (%)</span>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: this.$route.params.data,
      schoolName: this.$route.params.schoolName,
      year: this.$route.params.year,
      classRiin: this.$route.params.classRiin
    };
  },
  methods: {
    test() {},
    printBtn() {
      window.print();
    },
    closeBtn() {
      this.$router.push("/monitor/posttest");
    }
  },
  mounted() {
    // if (this.$route.params.data == undefined) {
    //   this.$router.push("/monitor/posttest");
    // }
  }
};
</script>

<style scoped>
.greybox {
  outline: 1px solid gray;
}
.boxGrap {
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
}
.box {
  border-right: 1px solid gray;
  border: 1px solid #5c5c5c;
}
.paper-a4 {
  background: #ffffff;
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}
@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }

  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  width: 210mm;
  height: 297mm;
  /* size: landscape; portrait */
}
</style>