<template>
  <div>
    <div class="text-h5 q-pt-xl q-pb-xl" align="center">ข้อมูลสำหรับการวิเคราะห์ภาพรวม</div>
    <!-- ------------------tap Manu------------------ -->
    <div class="row justify-center items-end">
      <div class="col-1 q-mx-md"></div>
      <!-- เลือกโรงเรียน -->
      <div class="col-3 q-mx-md">
        <q-select
          label="โรงเรียน"
          color="amber-13"
          v-model="schoolChoose"
          dark
          emit-value
          map-options
          :options="schoolOption"
        />
      </div>
      <!-- เลือกปีการศึกษา -->
      <div class="col-1 q-mx-md">
        <q-select
          label="ปีการศึกษา"
          color="amber-13"
          v-model="yearChoose"
          dark
          :options="yearOption"
        />
      </div>
      <!-- เลือกชั้นเรียน -->
      <div class="col-1 q-mx-md">
        <q-select label="ชั้น" color="amber-13" v-model="classChoose" dark :options="classOption" />
      </div>
      <!-- สัปดาห์แรก -->
      <div class="col-1 q-mx-md">
        <q-select
          label="สัปดาห์แรก"
          color="amber-13"
          v-model="firstWeekChoose"
          dark
          :options="weekOption"
        />
      </div>
      <!-- สัปดาห์สุดท้าย -->
      <div class="col-1 q-mx-md">
        <q-select
          label="สัปดาห์สุดท้าย"
          color="amber-13"
          v-model="lastWeekChoose"
          dark
          :options="weekOption"
        />
      </div>
      <div class="col-1">
        <q-btn
          @click="resultBtn()"
          label="คำนวน"
          color="amber-13"
          text-color="black"
          style="width:100px"
        />
      </div>
      <div class="col-1 q-mx-md"></div>
    </div>
    <br />
    <!-- -----------------ตารางข้อมูล----------------- -->
    <div class="q-ma-lg justify-center bg-grey-9" style="height:100px">
      <!-- ปุ่มคัดลอกข้อมความ -->
      <div class="q-pa-md" align="right">
        <q-btn @click="copyBtn()" round color="amber-13" text-color="black">
          <q-icon center name="fas fa-copy" />
        </q-btn>
      </div>
      <div style="height:350px;overflow-y:auto;  overflow-x:auto; ">
        <div>
          <q-table :data="dataResult" :columns="columns" dark row-key="name" />
        </div>
      </div>
      <!-- ปุ่มกลับหน้าหลัก -->
      <div class="q-ma-lg" align="center">
        <q-btn
          @click="backToMianPage()"
          label="กลับหน้าหลัก"
          color="amber-13"
          text-color="black"
          size="16px"
          style="width:140px"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      schoolData: [],
      schoolOption: [],
      schoolChoose: "",
      yearChoose: "",
      yearOption: [
        "1/2562",
        "2/2562",
        "1/2563",
        "2/2563",
        "1/2564",
        "2/2564",
        "1/2565",
        "2/2565",
        "1/2566",
        "2/2566",
        "1/2567",
        "2/2567",
        "1/2568",
        "2/2568",
        "1/2569",
        "2/2569",
        "1/2570",
        "2/2570",
      ],
      classChoose: "ทั้งหมด",
      classOption: [
        "ทั้งหมด",
        "ป.1",
        "ป.2",
        "ป.3",
        "ป.4",
        "ป.5",
        "ป.6",
        "ม.1",
        "ม.2",
        "ม.3",
        "ม.4",
        "ม.5",
        "ม.6",
      ],
      firstWeekChoose: 1,
      lastWeekChoose: 1,
      weekOption: [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20,
        21,
        22,
        23,
        24,
        25,
        26,
      ],

      studentPracticeLogData: [],
      term: "",
      year: "",
      startTime: 0,
      // กำหนดตารางข้อมูลให้เปิด all data
      pagination: {
        rowsPerPage: 0,
      },
      // .................ตารางข้อมูล..................
      columns: [
        // ปีการศึกษา
        {
          name: "year",
          label: "ปีการศึกษา",
          align: "center",
          field: "year",
          style: "width: 100px",
        },
        // เทอม
        {
          name: "term",
          label: "เทอม",
          align: "center",
          field: "term",
          style: "width: 100px",
        },
        // รหัสโรงเรียน
        {
          name: "schoolCode",
          label: "รหัสโรงเรียน",
          align: "center",
          field: "schoolCode",
          style: "width: 100px",
        },
        // ชื่อโรงเรียน
        {
          name: "schoolName",
          label: "ชื่อโรงเรียน",
          align: "center",
          field: "schoolName",
          style: "width: 300px",
        },
        // ระดับชั้น
        {
          name: "class",
          label: "ระดับชั้น",
          align: "center",
          field: "class",
          style: "width: 100px",
        },
        // ห้อง
        {
          name: "room",
          label: "ห้อง",
          align: "center",
          field: "room",
          style: "width: 100px",
        },

        //date
        {
          name: "date",
          label: "วันที่",
          align: "center",
          field: "date",
          style: "width: 150px",
        },
        //microtime
        {
          name: "microtime",
          label: "เวลา",
          align: "center",
          field: "microtime",
          style: "width: 150px",
        },
        //level
        {
          name: "level",
          label: "level",
          align: "center",
          field: "level",
          style: "width: 100px",
        },
        //unit
        {
          name: "unit",
          label: "unit",
          align: "center",
          field: "unit",
          style: "width: 100px",
        },
        //skill
        {
          name: "skill",
          label: "ทักษะ",
          align: "center",
          field: "skill",
          style: "width: 120px",
        },
        //order
        {
          name: "order",
          label: "ลำดับ",
          align: "center",
          field: "order",
          style: "width: 120px",
        },
        //skill
        {
          name: "practiceType",
          label: "ประเภท",
          align: "center",
          field: "practiceType",
          style: "width: 150px",
        },
        //skill
        {
          name: "practiceKey",
          label: "รหัสแบบฝึกหัด",
          align: "center",
          field: "practiceKey",
          style: "width: 120px",
        },
        //เวลาเริ่ม
        {
          name: "timeIn",
          label: "เวลาเริ่ม",
          align: "center",
          field: "timeIn",
          style: "width: 120px",
        },
        //เวลาสิ้นสุด
        {
          name: "timeOut",
          label: "เวลาสิ้นสุด",
          align: "center",
          field: "timeOut",
          style: "width: 120px",
        },
        //useTime
        {
          name: "useTime",
          label: "เวลาที่ใช้",
          align: "center",
          field: "usedTime",
          style: "width: 120px",
        },
        //นักเรียนที่เรียน
        {
          name: "studentOnline",
          label: "นักเรียนเข้าเรียน",
          align: "center",
          field: "studentOnline",
          style: "width: 120px",
        },
        //นักเรียนทั้งหมด
        {
          name: "studentTotal",
          label: "นักเรียนทั้งหมด",
          align: "center",
          field: "studentTotal",
          style: "width: 120px",
        },
      ], // data ตารางข้อมูล
      // colomns ตารางข้อมูล

      dataTemp: [],
      dataResult: [],
    };
  },
  methods: {
    // ------------------------LOAD-DATA------------------------
    loadYear() {
      db.collection("term")
        .doc("data")
        .get()
        .then((data) => {
          this.yearChoose = data.data().term + "/" + data.data().year;
          this.startTime = data.data().startTime;
        });
    },
    async loadSchool() {
      this.schoolData = [];
      await db
        .collection("school")
        .get()
        .then((doc) => {
          doc.forEach((data) => {
            let temp = {
              key: data.id,
            };
            let dataFinal = { ...temp, ...data.data() };
            this.schoolData.push(dataFinal);
          });
          this.schoolData.sort(
            (a, b) => Number(a.schoolCode) - Number(b.schoolCode)
          );
        });
    },

    setSchoolOption() {
      this.schoolOption = [];
      this.schoolData.forEach((x) => {
        let temp = {
          value: x.key,
          label: x.schoolCode + "-" + x.name,
        };
        this.schoolOption.push(temp);
      });
      this.schoolChoose = this.schoolOption[0].value;
    },

    // ---------------------------BTN--------------------------
    resultBtn() {
      this.dataResult = [];
      this.dataTemp = [];
      let termYear = this.yearChoose.split("/");
      this.term = termYear[0];
      this.year = termYear[1];
      let startTimeInput =
        (this.firstWeekChoose - 1) * 24 * 7 * 60 * 60 * 1000 + this.startTime;
      let endTimeInput =
        this.lastWeekChoose * 24 * 7 * 60 * 60 * 1000 + this.startTime;
      let dbx = db
        .collection("classroomPracticeLog")
        .where("schoolKey", "==", this.schoolChoose)
        .where("term", "==", this.term)
        .where("year", "==", this.year);
      if (this.classChoose != "ทั้งหมด") {
        dbx = dbx.where("class", "==", this.classChoose);
      }
      dbx.get().then((doc) => {
        doc.forEach((data) => {
          this.dataTemp.push(data.data());
        });

        this.dataTemp = this.dataTemp.filter(
          (x) =>
            x.date.microtime >= startTimeInput &&
            x.date.microtime <= endTimeInput
        );

        this.dataTemp.forEach((data) => {
          let schoolGet = this.schoolData.filter(
            (x) => x.key == data.schoolKey
          );

          let temp = {
            year: this.year,
            term: this.term,
            schoolCode: schoolGet[0].schoolCode,
            schoolName: schoolGet[0].name,
            class: data.class,
            room: data.room,

            date: data.date.date,
            microtime: data.date.microtime,
            level: data.level,
            unit: data.unit,
            skill: data.skill,
            order: data.order,
            practiceType: data.practiceType,
            practiceKey: data.practiceKey,
            timeIn: data.timeIn,
            timeOut: data.timeOut,
            usedTime: data.useTime,
            studentOnline: data.onlineStudent,
            studentTotal: data.totalStudent,
          };
          this.dataResult.push(temp);
        });
        console.log(this.dataResult);
      });
    },
    copyBtn() {
      var dummy = document.createElement("input");

      // Add it to the document
      document.body.appendChild(dummy);

      // Set its ID
      dummy.setAttribute("id", "dummy_id");

      // Output the array into it
      document.getElementById("dummy_id").value = JSON.stringify(
        this.dataResult
      );

      // Select it
      dummy.select();

      // Copy its contents
      document.execCommand("copy");

      // Remove it as its not needed anymore
      document.body.removeChild(dummy);
    },
    // -------------------------GO-TO-PAGE---------------------

    backToMianPage() {
      this.$router.push("/monitor/study");
    },
  },
  async mounted() {
    await this.loadSchool();
    this.setSchoolOption();
    this.loadYear();
  },
};
</script>

<style scoped>
.redbar {
  background-color: red;
}
.bluebar {
  background-color: blue;
}
.greenbar {
  background-color: green;
}
.btnbar {
  width: 100%;
}
.redbox {
  width: 25px;
  height: 25px;
  background-color: red;
}
.bluebox {
  width: 25px;
  height: 25px;
  background-color: blue;
}
.greenbox {
  width: 25px;
  height: 25px;
  background-color: green;
}
.lined {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.boxgrey {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
</style>

