<template>
  <div>
    <!-- {{$q.localStorage.has('termYear')}} -->
    <div class="text-h5 q-pt-lg" align="center">ระบบติดตาม</div>
    <!-- tap Manu -->
    <div class="row">
      <div class="col-1"></div>
      <div class="col-2">
        <q-select
          label="กลุ่มโรงเรียน"
          color="amber-13"
          @input="showList()"
          v-model="schoolTypeChoose"
          dark
          :options="schoolType"
        />
      </div>
      <div class="col q-px-md q-pt-md">
        <q-btn-group class="full-width">
          <q-btn glossy class="fit" color="amber-13" text-color="black" label="วัดระดับ" />
          <q-separator vertical inset />
          <q-btn
            to="/monitor/pretest"
            glossy
            class="fit"
            color="grey-8"
            text-color="white"
            no-caps
            label="Pre-test"
          />
          <q-separator vertical inset />
          <q-btn
            to="/monitor/study"
            glossy
            color="grey-8"
            text-color="white"
            class="fit"
            label="เรียน"
          />
          <q-separator vertical inset />
          <q-btn
            to="/monitor/posttest"
            glossy
            color="grey-8"
            text-color="white"
            class="fit"
            no-caps
            label="Post-test"
          />
          <q-separator vertical inset />
          <q-btn
            to="/monitor/questionnaire"
            glossy
            class="fit"
            color="grey-8"
            text-color="white"
            label="แบบสอบถาม"
          />
        </q-btn-group>
      </div>
      <div class="col-1"></div>
    </div>

    <!-- tap แสดงจำนวน -->
    <div class="q-pa-xl row items-center">
      <div style="width:90%; height:35px;" class="row">
        <div
          style=" height:35px;"
          :style="{
            width:
              (inactiveRoom / (inactiveRoom + waitingRoom + finishRoom)) * 100 +
              '%'
          }"
          class="redbar q-py-sm"
          align="center"
          v-if="inactiveRoom > 0"
        >{{ inactiveRoom }} ห้อง</div>
        <div
          style=" height:35px;"
          :style="{
            width:
              (waitingRoom / (inactiveRoom + waitingRoom + finishRoom)) * 100 +
              '%'
          }"
          class="bluebar q-py-sm"
          align="center"
          v-if="waitingRoom > 0"
        >{{ waitingRoom }} ห้อง</div>
        <div
          style=" height:35px;"
          :style="{
            width:
              (finishRoom / (inactiveRoom + waitingRoom + finishRoom)) * 100 +
              '%'
          }"
          class="greenbar q-py-sm"
          align="center"
          v-if="finishRoom > 0"
        >{{ finishRoom }} ห้อง</div>
      </div>
      <div class="col q-pl-sm">
        <q-btn @click="dialogReportBtn()" class="text-black bg1 btnbar" square label="รายงาน"></q-btn>
      </div>
    </div>

    <!-- จุดสีบอกลักษณะ -->
    <div class="row justify-center q-px-xl">
      <div class="row col-2 q-px-md">
        <div class="redbox"></div>
        <div class="q-pl-md">ยังไม่ดำเนินการ</div>
      </div>
      <div class="row q-px-md col-2">
        <div class="bluebox"></div>
        <div class="q-pl-md">รอเลือก Level</div>
      </div>
      <div class="row q-px-md col-2">
        <div class="greenbox"></div>
        <div class="q-pl-md">เสร็จสิ้นแล้ว</div>
      </div>
    </div>
    <!-- ยังไม่ดำเนินการ / รอเลือก Level -->
    <div class="row q-pa-xl items-start">
      <!-- ยังไม่ดำเนินการ -->
      <div class="row col-6 q-pr-md">
        <div align="center" class="col-12 q-pb-lg">ยังไม่ดำเนินการ</div>
        <div class="col-12 boxgrey" style="max-width: 100% ">
          <q-list>
            <q-expansion-item
              group="leftGroup"
              class="lined"
              dense-toggle
              switch-toggle-side
              expand-separator
              v-for="(i, index) in this.inactiveList"
              :key="index"
            >
              <template v-slot:header>
                <q-item-section>({{ i.progressList }}) {{ i.label }}</q-item-section>
              </template>

              <q-card class="bg4" v-for="(i2, index2) in i.room" :key="index2">
                <q-card-section class="q-pl-xl lined">
                  <div class="q-pl-xl">{{ i2 }}</div>
                </q-card-section>
                <q-separator v-if="i.room.length - 1 != index2" />
              </q-card>
            </q-expansion-item>
          </q-list>
        </div>
      </div>

      <!-- รอเลือก level -->
      <div class="row col-6 q-pl-md">
        <div align="center" class="col-12 q-pb-lg">รอเลือก Level</div>
        <div class="col-12 boxgrey" style="max-width: 100% ">
          <q-list>
            <q-expansion-item
              group="rightGroup"
              class="lined"
              label
              dense-toggle
              switch-toggle-side
              expand-separator
              v-for="(i, index) in this.waitingList"
              :key="index"
            >
              <template v-slot:header>
                <q-item-section>({{ i.progressList }}) {{ i.label }}</q-item-section>

                <q-item-section side>
                  <!-- เลือก Level -->
                  <div class="row items-center">
                    <q-btn
                      @click="dialogSetLevel(i.schoolKey, i.classRoom)"
                      label="เลือก Level"
                      color="amber-13"
                      text-color="black"
                      style="height:35px"
                    />
                  </div>
                </q-item-section>
              </template>
              <q-separator />
              <q-card class="bg4" v-for="(i2, index2) in i.room" :key="index2">
                <q-card-section class="q-pl-xl lined row items-center justify-between">
                  <div class="q-pl-xl">{{ i2.roomName }}</div>
                  <q-item-section>
                    <div class="row items-center justify-end">
                      <q-btn
                        @click="
                          dialogResetBtn(i.schoolKey, i.classRoom, i2.room)
                        "
                        round
                        icon="fas fa-redo"
                        color="amber-13"
                        text-color="black"
                        size="12px"
                        class="q-mr-md"
                      />
                    </div>
                  </q-item-section>
                </q-card-section>
                <q-separator v-if="i.room.length - 1 != index2" />
              </q-card>
            </q-expansion-item>
          </q-list>
        </div>
      </div>
    </div>
    <!-- -----------------------------dialog------------------------------- -->
    <!-- dialog เลือก Level -->
    <div>
      <q-dialog v-model="waitingForLevel" persistent content-class="backdrop">
        <q-card dark style="min-width: 600px" class="q-pt-md">
          <div class="row">
            <div style="width:80px" align="center">
              <q-btn
                icon="fas fa-caret-left"
                style="top:300px;"
                size="18px"
                color="amber-13"
                flat
                v-if="resultPage == 2"
                @click="resultPage = 1"
              />
            </div>
            <div class="col">
              <div class="text-h6" align="center">เลือก Level</div>
              <div align="center">{{ titleSchoolName }}</div>
              <div align="center">ระดับชั้น {{ setLevelData.classRoom }}</div>
              <br />
              <div align="center">
                <q-select
                  dark
                  :options="levelList"
                  v-model="levelSelected"
                  label="เลือก Level ใช้เรียน"
                  color="grey-4"
                  outlined
                />
              </div>
              <!-- ตารางแสดงผลการวัดระดับ -->
              <div v-if="resultPage == 1" style="height:370px;">
                <div class="q-mt-md">
                  <q-table
                    :data="levelResultTable"
                    :columns="columnTableSetLevel"
                    row-key="name"
                    dark
                    color="amber"
                    bordered
                    separator="cell"
                  />
                </div>
              </div>
              <!-- กราฟแสดงผลการวัดระดับ -->

              <div v-if="resultPage == 2" style="height:370px;">
                <div class="greybox q-mt-md" align="center">
                  <div class="row justify-between items-end" style="height:300px">
                    <div class="q-mx-md" v-for="(i, index) in levelResultGraph" :key="index">
                      <div>{{ i.no }}</div>
                      <div
                        style="width:35px"
                        :style="{
                          height: (i.no / maxStudentNo) * 250 + 10 + 'px'
                        }"
                        class="bg-grey-8"
                      ></div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="q-ma-xs row justify-between items-start">
                    <div class="q-mx-md" v-for="(i, index) in levelResultGraph" :key="index">
                      <div>{{ i.level }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="width:80px" align="center">
              <q-btn
                icon="fas fa-caret-right"
                style="top:300px;"
                size="18px"
                color="amber-13"
                flat
                @click="resultPage = 2"
                v-if="resultPage == 1"
              />
            </div>
          </div>

          <q-card-actions align="center" class="q-mb-md">
            <q-btn
              class="q-mx-md"
              label="ยกเลิก"
              color="white"
              text-color="black"
              style="width:140px"
              v-close-popup
            />
            <q-btn
              class="q-mx-md"
              label="บันทึก"
              color="amber-13"
              text-color="black"
              style="width:140px"
              @click="chooseLevelBtn()"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
    <!-- dialog ResetScore -->
    <div>
      <q-dialog v-model="resetScore" persistent content-class="backdrop">
        <q-card dark style="min-width: 450px">
          <q-card-section>
            <div class="text-h5" align="center">Reset คะแนนวัดผล</div>

            <div align="center">{{ resetTitle }}</div>
            <br />
            <div class="text-body1" align="center">หากต้องการดำเนินการต่อพิมพ์ "ดำเนินการ"</div>
            <div class="q-mx-md" align="center">
              <q-input dark v-model.trim="resetTextCheck" class="text-h6" color="grey-4" />
            </div>
          </q-card-section>

          <q-card-actions align="center" class="q-mb-md">
            <q-btn
              class="q-mx-md"
              label="ยกเลิก"
              color="white"
              text-color="black"
              style="width:140px"
              v-close-popup
            />
            <q-btn
              class="q-mx-md"
              label="ตกลง"
              color="amber-13"
              text-color="black"
              style="width:140px"
              @click="resetBtn()"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
    <!-- dialog รายงาน Report -->
    <div>
      <q-dialog v-model="reportScore" persistent content-class="backdrop">
        <q-card dark style="min-width: 450px">
          <q-card-section>
            <div class="text-h6" align="center">ผลคะแนนวัดระดับ</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <!-- ปีการศึกษา -->
            <div class="q-ma-md" align="center">
              <q-select
                dark
                :options="yearList"
                v-model="reportInput.year"
                label="ปีการศึกษา"
                color="grey-4"
                @input="changeYear()"
                outlined
              />
            </div>
            <!-- โรงเรียน -->
            <div class="q-ma-md" align="center">
              <q-select
                dark
                :options="schoolNameList"
                emit-value
                map-options
                v-model="reportInput.schoolName"
                label="โรงเรียน"
                color="grey-4"
                @input="changeSchool()"
                outlined
              />
            </div>
            <!-- ระดับชั้น -->
            <div class="q-ma-md" align="center">
              <q-select
                dark
                :options="classList"
                v-model="reportInput.class"
                label="ระดับชั้น"
                color="grey-4"
                @input="changeClass()"
                outlined
              />
            </div>
            <!-- ห้อง -->
            <div class="q-ma-md" align="center">
              <q-select
                dark
                :options="roomList"
                v-model="reportInput.room"
                label="ผลคะแนน"
                color="grey-4"
                outlined
                @input="genGraphReport()"
              />
            </div>

            <div class="greybox q-mt-md q-mx-md" align="center">
              <div class="row justify-between items-end" style="height:300px">
                <div class="q-mx-md" v-for="(i, index) in levelResultGraph" :key="index">
                  <div>{{ i.no }}</div>
                  <div
                    style="width:35px"
                    :style="{ height: (i.no / maxStudentNo) * 250 + 10 + 'px' }"
                    class="bg-grey-8"
                  ></div>
                </div>
              </div>
            </div>
            <div>
              <div class="q-ma-xs row q-mx-md justify-between items-start">
                <div class="q-mx-md" v-for="(i, index) in levelResultGraph" :key="index">
                  <div>{{ i.level }}</div>
                </div>
              </div>
            </div>
          </q-card-section>

          <q-card-actions align="center" class="q-mb-md">
            <q-btn
              class="q-mx-md"
              label="ยกเลิก"
              color="white"
              text-color="black"
              style="width:140px"
              v-close-popup
            />
            <q-btn
              @click="printBtn()"
              class="q-mx-md"
              label="พิมพ์ผลคะแนน"
              color="amber-13"
              text-color="black"
              style="width:140px"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      // Dialog
      resetScore: false, //ตัวแปรเปิด Dialog Reset
      waitingForLevel: false, //ตัวแปรเปิด Dialog เลือก Level
      reportScore: false, //ตัวแปรเปิด dialog รายงานผลคะแนน

      //loading
      checkLoading: {
        studentPlacementData: true,
        studentData: false,
        schoolData: false,
        placementMark: false
      },
      // กลุ่มโรงเรียน
      schoolTypeChoose: "ทั้งหมด", //ค่ากลุ่มโรงเรียนที่ถูกเลือกอยู่
      schoolType: [], //เก็ย list กลุ่มโรงเรียน
      term: "", //เทอมปัจจุบัน
      year: "", //ปีการศึกษาปัจจุบัน

      studentPlacementData: [], //ข้อมูลนักเรียนที่ placement ทั้งหมด
      studentData: [], //ข้อมูลนักเรียนทั้งหมด
      schoolData: [], //ข้อมูลโรงเรียน
      placementMark: [], //ข้อมูลplacementMark
      schoolTestLog: [], //ข้อมูล schooltestlog

      //***ข้อมูลสำหรับการวิเคราะห์ชั่วคราว */
      schoolList: [], //แสดงชื่อโรงเรียน

      //ข้อมูลกำลังดำเนินงาน
      inactiveList: [
        {
          progressList: "0/0",
          label: "รอโหลดสักครู่...",
          room: ["ม.1/1", "ม.1/2", "ม.1/4"]
        }
      ],
      //ข้อมูลสำหรับรอเลือก Level
      waitingList: [
        {
          progressList: "0/0",
          label: "รอโหลดสักครู่...",
          schoolKey: "xddgtsfeuwhfsfhosd",
          classRoom: "m1",
          room: [{ roomName: "ม.1/3", room: 3 }]
        }
      ],

      //ข้อมูลสำหรับแสดงสถานะ
      finishRoom: 0, //จำนวนห้องทั้งหมดที่เสร็จแล้ว
      inactiveRoom: 0, //จำนวนห้องเรียนที่ยังไม่ดำเนินการ
      waitingRoom: 0, //จำนวนห้องเรียนที่รอเลือก level

      //Reset score สำหรับ Dialog
      resetTextCheck: "", //เก็บค่าคำว่าดำเนินการ Dialog Reset
      resetTitle: "", //ชื่อโรงเรียนและระดับชั้น
      resetData: {
        schoolKey: "",
        classRoom: "",
        room: ""
      }, //ข้อมูลที่ต้องใช้สำหรับการ reset placement

      //Set level
      setLevelData: {
        schoolKey: "",
        classRoom: ""
      }, //เก็บค่า schoolKey , classRoom ของปุ่มเลือก Level
      titleSchoolName: "", //ชื่อโรงเรียนหัวเรื่อง
      levelList: this.$q.localStorage.getItem("levelList"), //โหลด level
      levelSelected: "1",
      levelResultTable: [
        { room: "ม.1/1", level: "3 - 4" },
        { room: "ม.1/2", level: "3 - 4" },
        { room: "ม.1/3", level: "ไม่ระบุ" }
      ], //ตารางแสดงผลการสอบวัดผล

      levelResultGraph: [
        { level: "L1-2", no: 0 },
        { level: "L3-4", no: 0 },
        { level: "L5-6", no: 0 },
        { level: "L7-8", no: 0 },
        { level: "L9-10", no: 0 },
        { level: "L11-12", no: 0 }
      ], //ข้อมูลสำหรับสร้างกราฟ
      resultPage: 1, //ประเภทหน้า 1 = ตาราง,2= graph
      columnTableSetLevel: [
        {
          name: "room",
          label: "ห้อง",
          field: "room",
          align: "center"
        },
        {
          name: "level",
          label: "Level",
          field: "level",
          align: "center"
        }
      ], //หัวตาราง
      maxStudentNo: 20,

      // ผลคำแนนวัดระดับ

      yearList: [
        "2/2562",
        "1/2563",
        "2/2563",
        "1/2564",
        "2/2564",
        "1/2565",
        "2/2565",
        "1/2566",
        "2/2566",
        "1/2567",
        "2/2567",
        "1/2568",
        "2/2568",
        "1/2569",
        "2/2569",
        "1/2570",
        "2/2570"
      ],
      schoolNameList: [],
      classList: [],
      roomList: [1, 2, 3, 4, 5],

      reportInput: {
        year: "",
        schoolName: "",
        class: "",
        room: ""
      },
      studentInThisSchool: [],
      classRoomInThisSchool: []
    };
  },
  methods: {
    //************* Function ที่โหลดตอน Mount  **********/
    // โหลด term year
    async loadTermYear() {
      this.loadingShow();
      await db
        .collection("term")
        .doc("data")
        .get()
        .then(data => {
          this.$q.localStorage.set("termYear", data.data());
          this.term = data.data().term; //เทอมปัจจุบัน
          this.year = data.data().year; //
        });
    },

    loadSchoolTestLogData() {
      this.schoolTestLog = [];
      db.collection("schooltestlog")

        .where("testtype", "==", "placement")
        .get()
        .then(doc => {
          doc.forEach(data => {
            let temp = {
              key: data.id
            };
            let tempFinal = { ...temp, ...data.data() };
            this.schoolTestLog.push(tempFinal);
          });
          this.loadingHide();
        });
    },

    // load รายชื่อประเภทโรงเรียน
    loadSchoolTypeList() {
      let tempdata = {
        label: "ทั้งหมด",
        value: "all"
      };
      this.schoolType.push(tempdata);
      db.collection("schooltype")
        .orderBy("order")
        .get()
        .then(doc => {
          doc.forEach(data => {
            tempdata = {
              label: data.data().name,
              value: data.id
            };
            this.schoolType.push(tempdata);
            this.schoolTypeChoose = this.schoolType[0];
          });
        });
    },

    //โหลดนักเรียน studentplacement
    loadStudentPlacementData() {
      this.studentPlacementData = [];
      this.loadingShow();
      db.collection("studentplacementlog")
        .where("year", "==", this.year)
        .where("term", "==", this.term)
        .get()
        .then(doc => {
          doc.forEach(data => {
            let temp = {
              key: data.id
            };
            let tempFinal = { ...temp, ...data.data() };
            this.studentPlacementData.push(tempFinal);
          });
          if (!this.checkLoading.studentPlacementData) {
            this.loadingHide();
            this.showList();
          }
        });
    },

    //โหลดนักเรียทั้งหมด
    loadStudentData() {
      this.studentData = [];
      this.loadingShow();
      db.collection("student")
        .where("year", "==", this.year)
        .where("term", "==", this.term)
        .get()
        .then(doc => {
          doc.forEach(data => {
            let temp = {
              key: data.id
            };
            let tempFinal = { ...temp, ...data.data() };
            this.studentData.push(tempFinal);
          });
        });
    },

    //โหลดรายชื่อโรงเรียน
    loadSchoolData() {
      this.schoolData = [];
      this.loadingShow();
      db.collection("school")
        .where("placement", "==", true)
        .get()
        .then(doc => {
          doc.forEach(data => {
            let temp = {
              key: data.id
            };
            let tempFinal = { ...temp, ...data.data() };
            this.schoolData.push(tempFinal);
          });
        });
    },

    //โหลด placementMark
    loadPlacementMark() {
      this.placementMark = [];
      this.loadingShow();
      db.collection("placementMark")
        .where("year", "==", this.year)
        .where("term", "==", this.term)
        .get()
        .then(doc => {
          doc.forEach(data => {
            let temp = {
              key: data.id
            };
            let tempFinal = { ...temp, ...data.data() };
            this.placementMark.push(tempFinal);
          });
          this.loadingHide();
          this.showList();
        });
    },

    //************* จบ Function ที่โหลดตอน Mount  **********/

    //************** แสดงข้อมูลห้องในส่วน ยังไม่ดำเนินการ / รอเลือก Level ****************/
    showList() {
      this.inactiveRoom = 0;
      this.finishRoom = 0;
      this.waitingRoom = 0;
      this.inactiveList = [];
      this.waitingList = [];
      let typeKey = this.schoolTypeChoose.value;
      // โหลดชื่อโรงเรียน : this.schoolList / parameter : กลุ่มโรงเรียน
      this.showSchoolList(typeKey);
      // console.log(this.schoolList); แสดงรายชื่อโรงเรียนที่เปิด Placement

      //ทำการวิเคราะห์หาระดับชั้นในแต่ละโรงเรียน
      this.schoolList.forEach(x => {
        //หาว่ามีเรียนชั้นไหนบ้าง
        this.studentInThisSchool = this.showStudentList(x.key);

        //แสดงระดับชั้นที่โรงเรียนนั้นมี
        this.classRoomInThisSchool = this.showClassroomList();

        //ทำการ remove ระดับชั้นที่เลือก Level แล้ว */
        this.removeFinishRoom(x.key);

        // console.log(this.classRoomInThisSchool); //แสดงระดับชั้นที่โรงเรียนนั้นมี

        //****แสดงชื่อโรงเรียนกับระดับชั้นที่เรียงแล้ว
        // console.log(x.name, this.classRoomInThisSchool);

        let roomInput = []; //สำหรับเก็บค่าห้องในกรณีกำลังดำเนินการ
        let roomSetLevelInput = []; //สำหรับเก็บค่าห้องในกรณีรอเลือก Level

        //หาว่าแต่ละระดับชั้นมีกี่ห้อง
        this.classRoomInThisSchool.forEach(roomName => {
          roomInput = [];
          roomSetLevelInput = [];
          let roomData = this.studentInThisSchool.filter(
            x => x.classRoom == roomName
          );
          roomData = [...new Set(roomData.map(x => x.room))];
          // roomData = roomData.length;
          //****แสดงชื่อโรงเรียน ระดับชั้น และจำนวนห้อง
          roomData.sort((a, b) => Number(a) - Number(b));
          // console.log(x.name, roomName, roomData);

          for (let roomIndex = 0; roomIndex < roomData.length; roomIndex++) {
            //****แสดงชื่อโรงเรียน ชื่อห้อง
            // console.log(x.name, roomName + "/" + roomIndex);
            //ทำการ check แต่ละห้องว่าทำ placement แล้วหรือยัง
            //ดึงนักเรียนในห้องนั้นมาทำการวิเคราะห์
            let studentCheck = this.studentData.filter(
              x2 =>
                x2.room == roomData[roomIndex] &&
                x2.classRoom == roomName &&
                x2.schoolKey == x.key
            );
            studentCheck = studentCheck.map(x => x.key);

            //วนตรวจสอบ
            let placementCheck = false;
            studentCheck.forEach(studentId => {
              placementCheck += this.studentPlacementData.some(
                placement => placement.studentKey === studentId
              );
            });

            //****แสดงรายชื่อนักเรียนที่ทำสอบ placement แล้ว */

            if (placementCheck == 0) {
              this.inactiveRoom += 1;
              let temproomInput = roomName + "/" + roomData[roomIndex];
              roomInput.push(temproomInput);
            } else {
              this.waitingRoom += 1;
              //กรณีทำ placement แล้ว แต่รอเลือก Level อยู่
              let tempWaittingRoom = {
                roomName: roomName + "/" + roomData[roomIndex],
                level: 1,
                room: roomData[roomIndex]
              };
              roomSetLevelInput.push(tempWaittingRoom);
              // console.log(x.name + " " + roomName + "/" + roomIndex);
            }
          }

          if (roomSetLevelInput.length > 0) {
            let waitingListTemp = {
              progressList: roomSetLevelInput.length + "/" + roomData.length,
              label: x.name + " " + roomName,
              schoolKey: x.key,
              classRoom: roomName,
              room: roomSetLevelInput
            };
            this.waitingList.push(waitingListTemp);
          }

          // console.log(waitingListTemp);
          if (roomInput.length) {
            let tempInput = {
              progressList: roomInput.length + "/" + roomData.length,
              label: x.name + " " + roomName,
              room: roomInput
            };
            this.inactiveList.push(tempInput);
            //ทำการสร้าง list สำหรับรอเลือก Level
          }
        });
      });
    },

    //หาชื่อโรงเรียนที่ต้องแสดง (parameter : กลุ่มโรงเรียน)
    showSchoolList(typeKey) {
      if (typeKey == undefined) {
        typeKey = "all";
      }
      if (typeKey != "all") {
        this.schoolList = this.schoolData.filter(x => x.typeKey == typeKey);
      } else {
        this.schoolList = this.schoolData;
      }
    },

    //สร้างรายชื่อนักเรียนภายในห้อง (para : schoolKey)

    //หาชื่อระดับชั้นในโรงเรียนนั้นที่เรียน (parameter : schoolKey)
    showStudentList(schoolKey) {
      return this.studentData.filter(x1 => x1.schoolKey == schoolKey);
    },

    //หาระดับชั้น ในโรงเรียนนั้น
    showClassroomList() {
      let temp = [...new Set(this.studentInThisSchool.map(x => x.classRoom))];
      //ทำการเรียงระดับชั้นในโรงเรียนนั้น
      temp.sort((a, b) => {
        return a > b ? 1 : -1;
      });
      return temp;
    },

    //กำจัดห้องที่สอบเสร็จแล้ว para : schoolKey
    //return  finishRoom จำนวนห้องเสร็จแล้ว // update ห้องเรียนที่ตัดเสร็จสิ้นแล้ว classRoomInThisSchool
    removeFinishRoom(schoolKey) {
      for (
        let countRoom = 0;
        countRoom < this.classRoomInThisSchool.length;
        countRoom++
      ) {
        // console.log(this.classRoomInThisSchool[countRoom]);
        // console.log(this.placementMark);
        let tempMark = this.placementMark.filter(
          x2 =>
            x2.class == this.classRoomInThisSchool[countRoom] &&
            x2.schoolKey == schoolKey &&
            x2.term == this.term &&
            x2.year == this.year
        );
        // console.log(tempMark); แสดงระดับชั้นที่เลือก Level แล้ว
        if (tempMark.length > 0) {
          //ทำการนับห้องที่เสร็จแล้ว
          let roomDataDelete = this.studentInThisSchool.filter(
            x => x.classRoom == this.classRoomInThisSchool[countRoom]
          );
          roomDataDelete = [...new Set(roomDataDelete.map(x => x.room))];

          this.finishRoom += roomDataDelete.length;

          delete this.classRoomInThisSchool[countRoom];
        }
      }
      this.classRoomInThisSchool = this.classRoomInThisSchool.filter(n => n);
    },

    //โหลด Dialog สำหรับการ set level
    dialogSetLevel(schoolKey, classRoom) {
      this.levelResultTable = [];
      this.levelResultGraph = [];
      this.setLevelData.schoolKey = schoolKey;
      this.setLevelData.classRoom = classRoom;
      let schoolDataTemp = this.schoolData.filter(x => x.key == schoolKey);

      this.titleSchoolName = schoolDataTemp[0].name;
      this.maxStudentNo = 0;
      let studentInThisLevel = this.studentData.filter(
        x => x.schoolKey == schoolKey && x.classRoom == classRoom
      );
      //หาจำนวนห้องทั้งหมด
      let roomRawData = [...new Set(studentInThisLevel.map(x => x.room))];
      let startLevel = 0;
      // console.log(totalRoom);
      let levelSum = [0, 0, 0, 0, 0, 0];
      let totalRoom = roomRawData.length;

      for (let roomIndex = 0; roomIndex < totalRoom; roomIndex++) {
        let studentInClass = this.studentData
          .filter(
            studentRaw =>
              studentRaw.classRoom == classRoom &&
              studentRaw.room == roomRawData[roomIndex] &&
              studentRaw.schoolKey == schoolKey
          )
          .map(x => x.key);

        // console.log(roomRawData[roomIndex], studentInClass);
        let studentCount = 0;
        let levelArray = [];
        studentInClass.forEach(studentKey => {
          // console.log(studentKey);
          let score = this.studentPlacementData.filter(
            placementData => placementData.studentKey == studentKey
          );
          if (score.length > 0) {
            studentCount += 1;

            let levelUse = score.map(x => {
              let levelUse = 0;
              startLevel = x.levelSet[0].level;
              if (x.levelSet[0].summary + x.levelSet[1].summary >= 7) {
                levelUse = x.levelSet[0].level + 2;
              } else {
                levelUse = x.levelSet[0].level;
                return levelUse;
              }

              if (x.levelSet.length > 2) {
                if (
                  x.levelSet[0].summary + x.levelSet[1].summary >= 7 &&
                  x.levelSet[2].summary + x.levelSet[3].summary >= 7
                ) {
                  levelUse = x.levelSet[2].level + 2;
                }
              }
              if (x.levelSet.length > 4) {
                if (
                  x.levelSet[0].summary + x.levelSet[1].summary >= 7 &&
                  x.levelSet[2].summary + x.levelSet[3].summary >= 7 &&
                  x.levelSet[4].summary + x.levelSet[5].summary >= 7
                ) {
                  levelUse = x.levelSet[4].level + 2;
                }
              }

              return levelUse;
            });
            levelArray.push(levelUse[0]);
          }
        });
        let levelPerRoom = [0, 0, 0, 0, 0, 0];
        levelArray.forEach(value => {
          if (value <= 2) {
            levelPerRoom[0] += 1;
          } else if (value <= 4) {
            levelPerRoom[1] += 1;
          } else if (value <= 6) {
            levelPerRoom[2] += 1;
          } else if (value <= 8) {
            levelPerRoom[3] += 1;
          } else if (value <= 10) {
            levelPerRoom[4] += 1;
          } else if (value <= 12) {
            levelPerRoom[5] += 1;
          }
        });
        if (levelArray.length) {
          levelSum[0] += levelPerRoom[0];
          levelSum[1] += levelPerRoom[1];
          levelSum[2] += levelPerRoom[2];
          levelSum[3] += levelPerRoom[3];
          levelSum[4] += levelPerRoom[4];
          levelSum[5] += levelPerRoom[5];
          //find max
          let levelName = "1-2";
          let studentCount = levelSum[0];
          if (levelSum[1] >= studentCount) {
            studentCount = levelSum[1];
            levelName = "3-4";
          }
          if (levelSum[2] >= studentCount) {
            studentCount = levelSum[2];
            levelName = "5-6";
          }
          if (levelSum[3] >= studentCount) {
            studentCount = levelSum[3];
            levelName = "7-8";
          }
          if (levelSum[4] >= studentCount) {
            studentCount = levelSum[4];
            levelName = "9-10";
          }
          if (levelSum[5] >= studentCount) {
            studentCount = levelSum[5];
            levelName = "11-12";
          }
          let dataTemp = {
            room: classRoom + "/" + roomRawData[roomIndex],
            level: levelName
          };
          this.levelResultTable.push(dataTemp);
        } else {
          let dataTemp = {
            room: classRoom + "/" + roomRawData[roomIndex],
            level: "ไม่ระบุ"
          };
          this.levelResultTable.push(dataTemp);
        }

        //สร้างข้อมูลตาราง

        // console.log(
        //   levelArray,
        //   levelPerRoom,
        //   classRoom + "/" + roomRawData[roomIndex],
        //   studentCount
        // );
      }
      this.levelResultTable.sort((a, b) => (a.room > b.room ? 1 : -1));
      // console.log(levelSum);
      this.maxStudentNo = levelSum[0];
      for (let i = 1; i <= 6; i++) {
        let dataTemp2 = {
          level: "L" + (2 * i - 1) + "-" + 2 * i,
          no: levelSum[i - 1]
        };
        if (this.maxStudentNo < levelSum[i - 1]) {
          this.maxStudentNo = levelSum[i - 1];
        }
        this.levelResultGraph.push(dataTemp2);
        // console.log(dataTemp2);
      }
      this.waitingForLevel = true;
    },
    dialogResetBtn(schoolKey, classRoom, room) {
      this.resetData.schoolKey = schoolKey;
      this.resetData.classRoom = classRoom;
      this.resetData.room = room.toString();
      this.resetTextCheck = "";

      let schoolNameData = this.schoolData.filter(
        x => x.key == this.resetData.schoolKey
      );
      this.resetTitle =
        schoolNameData[0].name +
        " " +
        this.resetData.classRoom +
        "/" +
        this.resetData.room;

      this.resetScore = true;
    },
    resetBtn() {
      if (this.resetTextCheck != "ดำเนินการ") {
        this.notifyRed("กรุณาพิมพ์ข้อความ 'ดำเนินการ'");
        return;
      } else {
        //ทำการลบข้อมูลนักเรียน จาก studentplacementlog

        let studentCode = this.studentData.filter(
          student =>
            student.classRoom == this.resetData.classRoom &&
            student.room == this.resetData.room &&
            student.schoolKey == this.resetData.schoolKey
        );

        studentCode = studentCode.map(x => x.key);
        studentCode.forEach(studentId => {
          db.collection("studentplacementlog")
            .where("studentKey", "==", studentId)
            .where("schoolKey", "==", this.resetData.schoolKey)
            .where("year", "==", this.year)
            .where("term", "==", this.term)
            .get()
            .then(doc => {
              doc.forEach(data => {
                db.collection("studentplacementlog")
                  .doc(data.id)
                  .delete();
              });
              // reset checkLoading.studentPlacementData = false
              this.checkLoading.studentPlacementData = false;
              //ทำการ loadStudentPlacementData() ใหม่
              this.loadStudentPlacementData();
            });
        });

        //เคลียร์ข้อมุล schooltestlog
        db.collection("schooltestlog")
          .where("class", "==", this.resetData.classRoom)
          .where("room", "==", this.resetData.room)
          .where("schoolKey", "==", this.resetData.schoolKey)
          .where("year", "==", this.year)
          .where("term", "==", this.term)
          .where("testtype", "==", "placement")
          .get()
          .then(doc => {
            doc.forEach(data => {
              db.collection("schooltestlog")
                .doc(data.id)
                .delete();
            });
          });

        this.resetScore = false;
      }
    },
    //เลือก Level
    chooseLevelBtn() {
      //update level ในฐานข้อมูลนักเรียน
      db.collection("student")
        .where("classRoom", "==", this.setLevelData.classRoom)
        .where("schoolKey", "==", this.setLevelData.schoolKey)
        .where("term", "==", this.term)
        .where("year", "==", this.year)
        .get()
        .then(doc => {
          doc.forEach(data => {
            db.collection("student")
              .doc(data.id)
              .update({
                level: this.levelSelected.label
              });
          });
        });
      //set placementmark collection
      db.collection("placementMark").add({
        class: this.setLevelData.classRoom,
        isPlacement: true,
        schoolKey: this.setLevelData.schoolKey,
        term: this.term.toString(),
        year: this.year.toString()
      });

      //update placementMark
      this.loadPlacementMark();
      this.waitingForLevel = false;
    },
    dialogReportBtn() {
      this.reportInput.year = this.term + "/" + this.year;
      this.loadSchoolTestLog(this.term, this.year);
      this.reportScore = true;
    },
    loadSchoolTestLog(term, year) {
      this.schoolNameList = [];
      let inputSchoolKey = [];
      let dataTemp = this.schoolTestLog.filter(
        x => x.term == term && x.year == year
      );
      inputSchoolKey = dataTemp.map(x => x.schoolKey);
      inputSchoolKey = [...new Set(inputSchoolKey)];

      inputSchoolKey.forEach(schoolKey => {
        let schoolNameInput = this.schoolData.filter(x => x.key == schoolKey);
        if (schoolNameInput.length) {
          let inputSchoolName = {
            label: schoolNameInput[0].name,
            value: schoolKey
          };
          this.schoolNameList.push(inputSchoolName);
        }
      });
      this.schoolNameList.sort((a, b) => {
        return a > b ? -1 : 1;
      });

      if (this.schoolNameList.length) {
        this.reportInput.schoolName = this.schoolNameList[0].value;
        this.loadClassRoom(this.schoolNameList[0].value, term, year);
      } else {
        this.reportInput.schoolName = "ไม่มีข้อมูล";
        this.reportInput.class = "ไม่มีข้อมูล";
        this.classList = [];
        this.roomList = [];
        this.levelResultGraph = [];
        this.reportInput.room = "ไม่มีข้อมูล";
      }
    },
    loadClassRoom(schoolKey, term, year) {
      this.classList = [];
      let dataLog = this.schoolTestLog.filter(
        x => x.schoolKey == schoolKey && x.term == term && x.year == year
      );

      dataLog.forEach(data => {
        this.classList.push(data.class);
      });

      this.classList = [...new Set(this.classList)];
      if (this.classList.length) {
        this.classList.sort();
        this.reportInput.class = this.classList[0];
        this.loadRoom(schoolKey, term, year, this.classList[0]);
      }
    },

    loadRoom(schoolKey, term, year, classRoom) {
      this.roomList = [];
      let dataLog = this.schoolTestLog.filter(
        x =>
          x.schoolKey == schoolKey &&
          x.class == classRoom &&
          x.term == term &&
          x.year == year
      );

      dataLog.forEach(data => {
        this.roomList.push("ผลคะแนนรายบุคคล ห้อง " + data.room);
      });

      this.roomList.sort((a, b) => {
        return a > b ? 1 : -1;
      });
      if (this.roomList.length >= 1) {
        this.roomList.unshift("ผลคะแนนรวม");
      }
      if (this.roomList.length) {
        this.reportInput.room = this.roomList[0];
        this.genGraphReport();
      }
    },
    changeYear() {
      let academicYearData = this.reportInput.year.split("/");
      this.loadSchoolTestLog(academicYearData[0], academicYearData[1]);
    },
    changeSchool() {
      let academicYearData = this.reportInput.year.split("/");
      this.loadClassRoom(
        this.reportInput.schoolName,
        academicYearData[0],
        academicYearData[1]
      );
    },
    changeClass() {
      let academicYearData = this.reportInput.year.split("/");
      this.loadRoom(
        this.reportInput.schoolName,
        academicYearData[0],
        academicYearData[1],
        this.reportInput.class
      );
    },

    async genGraphReport() {
      this.loadingShow();
      let levelSum = [0, 0, 0, 0, 0, 0];
      let academicYearData = this.reportInput.year.split("/");
      this.levelResultGraph = [];

      //load studentData in this report
      let studentDataInReport = [];
      let placementScoreReport = [];

      let studentCount = 0;
      await db
        .collection("student")
        .where("term", "==", academicYearData[0])
        .where("year", "==", academicYearData[1])
        .where("schoolKey", "==", this.reportInput.schoolName)
        .where("classRoom", "==", this.reportInput.class)
        .get()
        .then(doc => {
          doc.forEach(data => {
            let temp = {
              key: data.id
            };
            let tempFinal = { ...temp, ...data.data() };
            studentDataInReport.push(tempFinal);
          });
        });

      await db
        .collection("studentplacementlog")
        .where("term", "==", academicYearData[0])
        .where("year", "==", academicYearData[1])
        .where("schoolKey", "==", this.reportInput.schoolName)
        .get()
        .then(doc => {
          doc.forEach(data => {
            let temp = {
              key: data.id
            };
            let tempFinal = { ...temp, ...data.data() };
            placementScoreReport.push(tempFinal);
          });
        });

      if (this.reportInput.room != "ผลคะแนนรวม") {
        //กรณีแยกรายห้อง
        let currentRoom = this.reportInput.room.slice(-1);
        studentDataInReport = studentDataInReport.filter(
          x => x.room == currentRoom
        );
      }
      let levelArray = [];
      studentDataInReport = studentDataInReport.map(x => x.key);

      //กรณีรวม
      studentDataInReport.forEach(studentKey => {
        // console.log(studentKey);
        let score = placementScoreReport.filter(
          placementData => placementData.studentKey == studentKey
        );

        if (score.length > 0) {
          studentCount += 1;

          let levelUse = score.map(x => {
            let levelUse = 0;
            let startLevel = x.levelSet[0].level;
            if (x.levelSet[0].summary + x.levelSet[1].summary >= 7) {
              levelUse = x.levelSet[0].level + 2;
            } else {
              levelUse = x.levelSet[0].level;
              return levelUse;
            }
            if (x.levelSet.length > 2) {
              if (
                x.levelSet[0].summary + x.levelSet[1].summary >= 7 &&
                x.levelSet[2].summary + x.levelSet[3].summary >= 7
              ) {
                levelUse = x.levelSet[2].level + 2;
              }
            }
            if (x.levelSet.length > 4) {
              if (
                x.levelSet[0].summary + x.levelSet[1].summary >= 7 &&
                x.levelSet[2].summary + x.levelSet[3].summary >= 7 &&
                x.levelSet[4].summary + x.levelSet[5].summary >= 7
              ) {
                levelUse = x.levelSet[4].level + 2;
              }
            }

            return levelUse;
          });
          levelArray.push(levelUse[0]);
        }
      });
      let levelPerRoom = [0, 0, 0, 0, 0, 0];
      levelArray.forEach(value => {
        if (value <= 2) {
          levelPerRoom[0] += 1;
        } else if (value <= 4) {
          levelPerRoom[1] += 1;
        } else if (value <= 6) {
          levelPerRoom[2] += 1;
        } else if (value <= 8) {
          levelPerRoom[3] += 1;
        } else if (value <= 10) {
          levelPerRoom[4] += 1;
        } else if (value <= 12) {
          levelPerRoom[5] += 1;
        }
      });
      this.maxStudentNo = levelPerRoom[0];

      for (let i = 1; i <= 6; i++) {
        let dataTemp2 = {
          level: "L" + (2 * i - 1) + "-" + 2 * i,
          no: levelPerRoom[i - 1]
        };
        if (this.maxStudentNo < levelPerRoom[i - 1]) {
          this.maxStudentNo = levelPerRoom[i - 1];
        }
        this.levelResultGraph.push(dataTemp2);
        // console.log(dataTemp2);

        this.loadingHide();
      }
    },
    async printBtn() {
      //load studentData in this report
      // this.loadingShow();

      let studentDataInReport = [];
      let placementScoreReport = [];
      let academicYearData = this.reportInput.year.split("/");
      let studentCount = 0;
      let dataTable = [];
      let schoolNameData = this.schoolData.filter(
        x => x.key == this.reportInput.schoolName
      );
      schoolNameData = schoolNameData[0].name;

      await db
        .collection("student")
        .where("term", "==", academicYearData[0])
        .where("year", "==", academicYearData[1])
        .where("schoolKey", "==", this.reportInput.schoolName)
        .where("classRoom", "==", this.reportInput.class)
        .get()
        .then(doc => {
          doc.forEach(data => {
            let temp = {
              key: data.id
            };
            let tempFinal = { ...temp, ...data.data() };
            studentDataInReport.push(tempFinal);
          });
        });

      await db
        .collection("studentplacementlog")
        .where("term", "==", academicYearData[0])
        .where("year", "==", academicYearData[1])
        .where("schoolKey", "==", this.reportInput.schoolName)
        .get()
        .then(doc => {
          doc.forEach(data => {
            let temp = {
              key: data.id
            };
            let tempFinal = { ...temp, ...data.data() };
            placementScoreReport.push(tempFinal);
          });
        });

      if (this.reportInput.room != "ผลคะแนนรวม") {
        console.clear();
        //กรณีแยกรายห้อง
        let currentRoom = this.reportInput.room.slice(-1);
        studentDataInReport = studentDataInReport.filter(
          x => x.room == currentRoom
        );

        studentDataInReport.sort((a, b) => Number(a.no) - Number(b.no));
        let countLevelArr = null;
        studentDataInReport.forEach(student => {
          let data = [];

          let score = placementScoreReport.filter(
            placementData => placementData.studentKey == student.key
          );

          if (score.length > 0) {
            let levelUse = score.map(x => {
              let levelUse = 0;
              let startLevel = x.levelSet[0].level;
              for (let i = 0; i < x.levelSet.length; i = i + 2) {
                let dataTemp = {
                  level:
                    "L" + x.levelSet[i].level + "-" + x.levelSet[i + 1].level,
                  score:
                    (
                      ((x.levelSet[i].summary + x.levelSet[i + 1].summary) /
                        14) *
                      100
                    ).toFixed(0) + "%"
                };
                data.push(dataTemp);
              }
              if (x.levelSet[0].summary + x.levelSet[1].summary >= 7) {
                levelUse = x.levelSet[0].level + 2;
              } else {
                levelUse = x.levelSet[0].level;
                return levelUse;
              }
              if (x.levelSet.length > 2) {
                if (
                  x.levelSet[0].summary + x.levelSet[1].summary >= 7 &&
                  x.levelSet[2].summary + x.levelSet[3].summary >= 7
                ) {
                  levelUse = x.levelSet[2].level + 2;
                }
              }
              if (x.levelSet.length > 4) {
                if (
                  x.levelSet[0].summary + x.levelSet[1].summary >= 7 &&
                  x.levelSet[2].summary + x.levelSet[3].summary >= 7 &&
                  x.levelSet[4].summary + x.levelSet[5].summary >= 7
                ) {
                  levelUse = x.levelSet[4].level + 2;
                }
              }

              return levelUse;
            });

            let dataFinal = {
              no: student.no,
              name: student.name + " " + student.surname,
              level: levelUse[0],
              data: data
            };
            dataTable.push(dataFinal);
            // console.log(student.key, levelUse[0], data);
          } else {
            data = [
              {
                level: "-",
                score: "-"
              }
            ];

            let dataFinal = {
              no: student.no,
              name: student.name + " " + student.surname,
              level: "-",
              data: data
            };

            dataTable.push(dataFinal);
          }
        });

        let setCountArr = Math.max(...dataTable.map(x => x.data.length));

        for (let i = 0; i < dataTable.length; i++) {
          if (dataTable[i].data.length != setCountArr) {
            let total = setCountArr - dataTable[i].data.length;
            for (let ii = 0; ii < total; ii++) {
              let data = {
                level: "-",
                score: "-"
              };

              dataTable[i].data.push(data);
            }
          }
        }

        this.loadingHide();

        this.$router.push({
          name: "monitorplacementtable",
          params: {
            data: dataTable,
            schoolName: schoolNameData,
            year: this.reportInput.year,
            room:
              this.reportInput.class +
              "/" +
              this.reportInput.room.substr(this.reportInput.room.length - 1)
          }
        });
      } else {
        let data = [];
        //กราฟรวม
        let dataTemp = {
          title: "ผลคะแนนรวม",
          graph: this.levelResultGraph,
          maxstudent: this.maxStudentNo
        };
        data.push(dataTemp);

        //แยกตามห้อง
        this.maxStudentNo = 0;
        let studentInThisLevel = studentDataInReport.filter(
          x =>
            x.schoolKey == this.reportInput.schoolName &&
            x.classRoom == this.reportInput.class
        );
        //หาจำนวนห้องทั้งหมด
        let roomRawData = [...new Set(studentInThisLevel.map(x => x.room))];
        roomRawData.sort((a, b) => Number(a) - Number(b));

        roomRawData.forEach(room => {
          let studentDataInReport = studentInThisLevel.filter(
            x => x.room == room
          );

          //**** */
          let levelArray = [];
          let dataGraph = [];
          studentDataInReport = studentDataInReport.map(x => x.key);

          //กรณีรวม

          studentDataInReport.forEach(studentKey => {
            let score = placementScoreReport.filter(
              placementData => placementData.studentKey == studentKey
            );
            let levelUse;

            if (score.length > 0) {
              studentCount += 1;

              levelUse = score.map(x => {
                let levelUse = 0;
                let startLevel = x.levelSet[0].level;
                if (x.levelSet[0].summary + x.levelSet[1].summary >= 7) {
                  levelUse = x.levelSet[0].level + 2;
                } else {
                  levelUse = x.levelSet[0].level;
                  return levelUse;
                }
                if (x.levelSet.length > 2) {
                  if (
                    x.levelSet[0].summary + x.levelSet[1].summary >= 7 &&
                    x.levelSet[2].summary + x.levelSet[3].summary >= 7
                  ) {
                    levelUse = x.levelSet[2].level + 2;
                  }
                }
                if (x.levelSet.length > 4) {
                  if (
                    x.levelSet[0].summary + x.levelSet[1].summary >= 7 &&
                    x.levelSet[2].summary + x.levelSet[3].summary >= 7 &&
                    x.levelSet[4].summary + x.levelSet[5].summary >= 7
                  ) {
                    levelUse = x.levelSet[4].level + 2;
                  }
                }

                return levelUse;
              });
              levelArray.push(levelUse[0]);
            }
          });
          let levelPerRoom = [0, 0, 0, 0, 0, 0];
          levelArray.forEach(value => {
            if (value <= 2) {
              levelPerRoom[0] += 1;
            } else if (value <= 4) {
              levelPerRoom[1] += 1;
            } else if (value <= 6) {
              levelPerRoom[2] += 1;
            } else if (value <= 8) {
              levelPerRoom[3] += 1;
            } else if (value <= 10) {
              levelPerRoom[4] += 1;
            } else if (value <= 12) {
              levelPerRoom[5] += 1;
            }
          });
          this.maxStudentNo = levelPerRoom[0];

          for (let i = 1; i <= 6; i++) {
            let dataTemp2 = {
              level: "L" + (2 * i - 1) + "-" + 2 * i,
              no: levelPerRoom[i - 1]
            };
            if (this.maxStudentNo < levelPerRoom[i - 1]) {
              this.maxStudentNo = levelPerRoom[i - 1];
            }

            // this.levelResultGraph.push(dataTemp2);
            dataGraph.push(dataTemp2);

            // this.loadingHide();
          }
          let dataTemp = {
            title: "ผลคะแนนห้อง " + this.reportInput.class + "/" + room,
            graph: dataGraph,
            maxstudent: this.maxStudentNo
          };
          data.push(dataTemp);
          // console.log(dataGraph);
        });

        this.loadingHide();
        this.$router.push({
          name: "monitorplacementgraph",
          params: {
            data: data,
            schoolName: schoolNameData,
            year: this.reportInput.year,
            classRoom: this.reportInput.class
          }
        });
      }
    }
  },

  async mounted() {
    await this.loadTermYear();
    this.loadSchoolTestLogData();
    this.loadSchoolTypeList();
    this.loadStudentPlacementData();
    this.loadStudentData();
    this.loadSchoolData();
    this.loadPlacementMark();
  }
};
</script>

<style scoped>
.greybox {
  outline: 1px solid gray;
}
.redbar {
  background-color: red;
}
.bluebar {
  background-color: blue;
}
.greenbar {
  background-color: green;
}
.btnbar {
  width: 100%;
}
.redbox {
  width: 25px;
  height: 25px;
  background-color: red;
}
.bluebox {
  width: 25px;
  height: 25px;
  background-color: blue;
}
.greenbox {
  width: 25px;
  height: 25px;
  background-color: green;
}
.lined {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.boxgrey {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
</style>
