<template>
  <div>
    <div class="text-h4 q-py-md">Score & Time Evaluation Program</div>
    <!-- Input section -->
    <div class="row items-center">
      <div class="selectWidth">
        <q-select outlined label="ทักษะ" :options="skillList" v-model="dataInput.skill" dark />
      </div>
      <div class="selectWidth q-mx-md">
        <q-select
          outlined
          label="ประเภทแบบฝึกหัด"
          :options="practiceTypeList"
          v-model="dataInput.practiceType"
          dark
        />
      </div>
      <div class="selectWidthLong q-mx-md">
        <q-select
          outlined
          label="โรงเรียน"
          :options="schoolNameList"
          v-model="dataInput.school"
          dark
          map-options
          emit-value
          @input="loadStudent()"
        />
      </div>
      <div class="selectWidth q-mx-md">
        <q-select
          outlined
          label="ระดับการเรียน"
          :options="levelList"
          v-model="dataInput.level"
          dark
          map-options
          emit-value
        />
      </div>
      <div>
        <q-btn label="ประมวลผล" color="primary" size="lg" glossy @click="genData()" />
      </div>
    </div>
    <!-- Classroom Level List Section -->
    <div class="q-pa-md">
      <q-table
        title="Time Comsumption"
        :data="classroomLogData"
        :columns="classroomColumns"
        :pagination.sync="pagination"
        dark
      />
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      practiceTypeList: [
        "fillintheblank",
        "flashcard",
        "grammaraction",
        "grammarlesson",
        "languagetips",
        "multiplechoice(answersound)",
        "multiplechoice(questionsound)",
        "multiplechoices",
        "phonicslesson",
        "readingfillin",
        "readingmulti",
        "readingspeaking",
        "review grammar",
        "review vocab",
        "roleplay",
        "speaking",
        "spelling bee",
        "translation",
      ], //List ของประเภทแบบฝึกหัด
      skillList: [
        "Vocabulary",
        "Grammar",
        "reading",
        "Writing",
        "Phonics",
        "Listening & Speaking",
      ], //List ขื่อทักษะ
      schoolNameList: [], //List รายชื่อโรงเรียน
      levelList: [], //List level ที่เรียนอยู่
      dataInput: {
        practiceType: "flashcard",
        school: "",
        level: "",
        skill: "Vocabulary",
      }, //ข้อมูล input
      termYear: {
        term: "",
        year: "",
      }, //ปีการศึกษาปัจจุบัน
      studentFullList: [], //รายชื่อนักเรียนทั้งหมดในปีการศึกษาปัจจุบันในโรงเรียนที่เลือกไว้
      classroomLogData: [], //ข้อมูลการเรียนระดับห้อง
      classroomColumns: [
        {
          name: "class",
          label: "ระดับชั้น",
          field: "class",
          align: "left",
          sortable: true,
        },
        {
          name: "room",
          label: "ห้อง",
          field: "room",
          sortable: true,
        },
        { name: "order", label: "ลำดับ", field: "order", sortable: true },
        { name: "unit", label: "บท", field: "unit", sortable: true },
        {
          name: "useTime",
          label: "เวลาที่ใช้ (นาที)",
          field: "useTime",
          sortable: true,
        },
      ], //หัวตาราง
      pagination: {
        rowsPerPage: 30,
      }, //จำนวน record ที่แสดงในตาราง
      scoreDataList: {
        score: [],
        currectQuestion: [],
        finish: 0,
        notFinish: 0,
        totalQuestion: 0,
        scoreMean: 0,
      }, //array สำหรับเก็บคะแนนในห้องที่ทำได้
    };
  },
  methods: {
    loadSchoolName() {
      // โหลดรายชื่อโรงเรียนเข้า schoolNameList select
      db.collection("school")
        .get()
        .then((doc) => {
          doc.forEach((data) => {
            let tempInput = {
              value: data.id,
              label: data.data().schoolCode + " - " + data.data().name,
            };
            this.schoolNameList.push(tempInput);
          });
          this.schoolNameList.sort((a, b) => (a.label > b.label ? 1 : -1));
          this.dataInput.school = this.schoolNameList[0].value;

          this.loadStudent();
        });
    },
    loadCurrentTerm() {
      //โหลดปีการศึกษาปัจจุบัน
      db.collection("term")
        .doc("data")
        .get()
        .then((data) => {
          this.termYear.term = data.data().term;
          this.termYear.year = data.data().year;
        });
    },
    loadStudent() {
      //โหลดนักเรียนทั้งโรงเรียนในปีการศึกษาปัจจุบัน
      db.collection("student")
        .where("term", "==", this.termYear.term)
        .where("year", "==", this.termYear.year)
        .where("schoolKey", "==", this.dataInput.school)
        .get()
        .then((doc) => {
          doc.forEach((data) => {
            this.studentFullList.push(data.data());
          });
          this.loadLevel();
        });
    },
    loadLevel() {
      //โหลด Level ที่ใช้เรียนอยู่ในปัจจุบัน
      this.levelList = this.studentFullList.map((x) => x.level);
      this.levelList = [...new Set(this.levelList)];
      this.levelList.sort((a, b) => Number(a) - Number(b));
      this.dataInput.level = this.levelList[0];
    },
    loadClassroomLog() {
      this.classroomLogData = [];
      //โหลดข้อมูลการเรียนระดับห้อง
      db.collection("classroomPracticeLog")
        .where("schoolKey", "==", this.dataInput.school)
        .where("term", "==", this.termYear.term)
        .where("year", "==", this.termYear.year)
        .where("skill", "==", this.dataInput.skill)
        .where("level", "==", this.dataInput.level)
        .where("practiceType", "==", this.dataInput.practiceType)
        .get()
        .then((doc) => {
          doc.forEach((data) => {
            //ทำการวิเคราะห์คะแนนของนักเรียนในชั้นนั้น
            db.collection("studentpracticelog")
              .where("practiceKey", "==", data.data().practiceKey)
              .where("class", "==", data.data().class)
              .where("room", "==", data.data().room)
              .where("term", "==", this.termYear.term)
              .where("year", "==", this.termYear.year)
              .get()
              .then((doc2) => {
                console.log(data.data().class + "/" + data.data().room);
                console.log(doc2.size);
                this.scoreDataList.score = [];
                this.scoreDataList.currectQuestion = [];
                this.scoreDataList.finish = 0;
                this.scoreDataList.notFinish = 0;
                this.scoreDataList.scoreMean = 0;

                if (doc2.size) {
                  this.scoreDataList.totalQuestion = doc2.docs[0].data().totalQuestion;
                }
                doc2.forEach((data2) => {
                  if (
                    data2.data().totalQuestion == data2.data().currentQuestion
                  ) {
                    this.scoreDataList.finish++;
                  } else {
                    this.scoreDataList.notFinish++;
                  }
                  this.scoreDataList.score.push(data2.data().correct);
                  this.scoreDataList.currectQuestion.push(
                    data2.data().currectQuestion
                  );
                });
                if (this.scoreDataList.score.length) {
                  this.scoreDataList.scoreMean =
                    this.scoreDataList.score.reduce((a, b) => a + b, 0) /
                    this.scoreDataList.score.length;
                } else {
                  this.scoreDataList.scoreMean = "-";
                }

                // console.log(this.scoreDataList);

                let tempInput = {
                  class: data.data().class,
                  room: data.data().room,
                  unit: data.data().unit,
                  order: data.data().order,
                  useTime: (
                    (data.data().timeOut - data.data().timeIn) /
                    1000 /
                    60
                  ).toFixed(2),
                };
                this.classroomLogData.push(tempInput);
              });
          });
        });
    },
    genData() {
      //เมื่อมีการเลือกโรงเรียน

      this.loadClassroomLog();
    },
  },
  async mounted() {
    this.loadCurrentTerm();
    this.loadSchoolName();
  },
};
</script>

<style scoped>
.selectWidth {
  /* ความกว้าง select */
  width: 300px;
}
.selectWidthLong {
  /* ความกว้าง select */
  width: 500px;
}
</style>