<template>
  <div>
    <h1 align="center" class="text-warning">ห้ามกดเล่นเป็นอันขาด มีผลต่อ Database</h1>
    <div class="q-gutter-md flex flex-center">
      <div class="bg-white" align="center" v-show="!showImportSection">
        <q-input label="SecurePassword" type="password" class="q-px-md" v-model="passwordSecure"></q-input>
        <div class="q-py-lg">
          <q-btn label="checkPassword" type="password" @click="checkPassword()" color="teal"></q-btn>
        </div>
      </div>
      <div v-show="showImportSection" align="center" class="q-gutter-md">
        <div>
          <q-btn @click="getData()" color="primary" label="GetData"></q-btn>
        </div>
        <div>
          <q-btn @click="checkPractice()" label="checkPractice" color="warning"></q-btn>
        </div>
        <div>
          <q-btn @click="importPractice()" label="importPractice" color="red"></q-btn>
        </div>
        <div>
          <q-btn @click="checkConnection()" label="checkConnection" color="red"></q-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      passwordSecure: "",
      correctPassword: "5462",
      showImportSection: false
    };
  },
  methods: {
    test() {
      this.$q.dialog({
        opts: {
          class: "bg-red"
        },
        message: "Hello world",
        ok: {
          label: "ตกลง",
          style: "width:100%"
        },
        cancel: "ยกเลิก"
      });
    },
    checkPassword() {
      if (this.passwordSecure == "5462") {
        this.showImportSection = true;
      }
    },
    checkConnection() {
      db.collection("user")
        .get()
        .then(doc => {
          doc.forEach(element => {
            console.log(element.data());
          });
        });
    },
    checkPractice() {
      console.clear();
      console.log(this.$q.localStorage.getItem("practiceStorage"));
    },
    importPractice() {
      let practiceStorage = this.$q.localStorage.getItem("practiceStorage");
      this.$q
        .dialog({
          title: "ตรวจสอบ Connection ก่อน",
          dark: true,
          cancel: true
        })
        .onOk(() => {
          this.loadingShow();
          db.collection("user")
            .get()
            .then(doc => {
              doc.forEach(element => {
                console.log(element.data());
              });
              this.loadingHide();
            })
            .then(() => {
              this.$q
                .dialog({
                  title: "ต้องการ Import?",
                  dark: true,
                  cancel: true
                })
                .onOk(() => {
                  practiceStorage.forEach(element => {
                    let newElement = { ...element };
                    delete newElement.extraKey;
                    delete newElement.vocabKey;

                    // db.collection("practicepool_server")
                    //   .doc(element.vocabKey)
                    //   .set(newElement)
                    //   .then(() => {
                    //     console.log("RUNNING");
                    //   });

                    // db.collection("practicelist")
                    //   .doc(element.key)
                    //   .set(newElement)
                    //   .then(() => {
                    //     console.log("SETTING");
                    //   });

                    // db.collection("teacher")
                    //   .add(newElement)
                    //   .then(doc => {
                    //     console.log("RUNNING");
                    //   });

                    // db.collection("school")
                    //   .add(newElement)
                    //   .then(() => {
                    //     console.log("RUNNING");
                    //   });

                    // db.collection("partofspeech")
                    //   .doc(element.key)
                    //   .set(newElement)
                    //   .then(() => {
                    //     console.log("UPDATED");
                    //   });

                    db.collection("practicepool_server")
                      .doc(element.vocabKey)
                      .collection("extraVocab")
                      .doc(element.extraKey)
                      .set(newElement)
                      .then(() => {
                        console.log("SETTED");
                      });

                    // db.collection("practicelist")
                    //   .doc(element.key)
                    //   .set(newElement)
                    //   .then(() => {
                    //     console.log("SET");
                    //   });
                    // db.collection("practicepool_draft")
                    //   .doc(element.key)
                    //   .set(newElement);

                    // db.collection("placement")
                    //   .doc("server")
                    //   .collection("practice")
                    //   .doc(element.key)
                    //   .set(element);
                    // db.collection("province")
                    //   .doc(element.name)
                    //   .set(element);
                    // if (element.key) {
                    //   db.collection("questionpool")
                    //     .doc("draft")
                    //     .collection("practice")
                    //     .doc(element.key)
                    //     .set(newElement)
                    //     .then(() => {
                    //       console.log("RUNNING");
                    // db.collection("questionpool")
                    //   .doc("draft")
                    //   .collection("practice")
                    //   .doc(element.key)
                    //   .set(newElement)
                    //   .then(() => {
                    //     console.log("RUNNING");
                    //   });
                    //     });
                    // }
                    // db.collection("questionpool")
                    //   .doc("server")
                    //   .collection("practice")
                    //   .doc(element.key)
                    //   .set(element)
                  });
                });
            });
        });
    },
    getData() {
      console.clear();
      // this.$q.loading.show({ delay: 400 });
      let dataTemp = [];

      // db.collection("school")
      //   .get()
      //   .then(doc => {
      //     doc.forEach(element => {
      //       // let address1 = element.data().
      //       let dataAdd = {
      //         address1: "",
      //         address2: "",
      //         address3: "",
      //         contactName: [],
      //         isMultiClass: false,
      //         name: element.data().name,
      //         placement: false,
      //         prePostStatus: "study",
      //         provinceKey: element.data().province,
      //         questionNaire: false,
      //         schoolCode: element.id,
      //         status: true,
      //         typeKey: "0wybuRgVs362apmu0czb",
      //         zipCode: ""
      //       };
      //       dataTemp.push(dataAdd);
      //     });
      //     console.log(dataTemp);
      //     this.$q.localStorage.set("practiceStorage", dataTemp);
      //   });

      // for (let i = 100; i <= 133; i++) {
      //   let currentDoc = i.toString();
      //   db.collection("school")
      //     .doc(currentDoc)
      //     .collection("teacher")
      //     .get()
      //     .then(doc => {
      //       doc.forEach(element => {
      //         let data = {
      //           name: element.data().name,
      //           password: element.data().password,
      //           schoolKey: currentDoc,
      //           surname: element.data().surname,
      //           userName: element.data().username
      //         };
      //         dataTemp.push(data);
      //       });

      //       console.log(dataTemp);
      //       this.$q.localStorage.set("practiceStorage", dataTemp);
      //     });
      // }

      // db.collection("partofspeech")
      //   .get()
      //   .then(doc => {
      //     doc.forEach(element => {
      //       let dataFinal = { ...{ key: element.id }, ...element.data() };
      //       dataTemp.push(dataFinal);
      //     });
      //     this.$q.localStorage.set("practiceStorage", dataTemp);
      //     this.loadingHide();
      //   });

      // GET PRACTICELIST FLASHCARD
      // for (let level = 1; level <= 12; level++) {
      //   for (let unit = 1; unit <= 16; unit++) {
      //     let levelUnit = "L" + level + "U" + unit;
      //     db.collection("practicelist")
      //       .doc("data")
      //       .collection(levelUnit)
      //       .where("practicetype", "==", "spelling bee")
      //       .get()
      //       .then(doc => {
      //         doc.forEach(element => {
      //           // if (element.data().practicetype == "flashcard") {
      //           let data = element.data();
      //           delete data.helper;
      //           let dataLevel = {
      //             level: level.toString(),
      //             unit: unit.toString(),
      //             key: element.id,
      //             skill: "Vocabulary",
      //             time: "15:00"
      //           };
      //           let dataFinal = { ...dataLevel, ...data };
      //           dataTemp.push(dataFinal);
      //           console.log("RUNNING");
      //           // }
      //         });
      //         this.$q.loading.hide();
      //         console.log(dataTemp);
      //         this.$q.localStorage.set("practiceStorage", dataTemp);
      //       });
      //   }
      // }

      // GET FLASHCARD ALL LEVEL AND UNIT
      for (let level = 1; level <= 12; level++) {
        for (let unit = 1; unit <= 16; unit++) {
          let levelUnit = "L" + level + "U" + unit;
          // console.log(levelUnit);
          db.collection("practicelist")
            .doc("data")
            .collection(levelUnit)
            .where("practicetype", "==", "flashcard")
            .get()
            .then(doc => {
              doc.forEach(element => {
                let data = element.data();
                delete data.helper;
                let dataLevel = {
                  level: level.toString(),
                  unit: unit.toString(),
                  practicekey: element.id
                };
                let dataFinal = {
                  ...dataLevel,
                  ...data
                };

                // db.collection("flashcard")
                //   .doc(element.id)
                //   .collection("server")
                //   .get()
                //   .then(card => {
                //     card.forEach(flash => {
                //       let flashData = flash.data();
                //       delete flashData.schoolTypeSelected;
                //       delete flashData.teachingImage;
                //       delete flashData.name;
                //       flashData.status = "added";
                //       flashData.vocabKey = flash.id;
                //       dataTemp.push({ ...dataFinal, ...flashData });
                //     });
                //     console.log(dataTemp);
                //     this.$q.localStorage.set("practiceStorage", dataTemp);
                //   });

                db.collection("flashcard")
                  .doc(element.id)
                  .collection("server")
                  .get()
                  .then(flashcardDoc => {
                    let flashcardData = [];
                    flashcardDoc.forEach(element => {
                      flashcardData.push(element.data());
                    });

                    dataFinal = { ...dataFinal, ...flashcardData };
                    // คำศัพท์เสริม;
                    flashcardDoc.forEach(element1 => {
                      db.collection("flashcard")
                        .doc(element.id)
                        .collection("server")
                        .doc(element1.id)
                        .collection("extraVocab")
                        .get()
                        .then(extra => {
                          if (extra.size) {
                            extra.forEach(elementExtra => {
                              let newData = {
                                extraKey: elementExtra.id,
                                vocabKey: element1.id
                              };
                              let newDataFinal = {
                                ...newData,
                                ...elementExtra.data()
                              };
                              dataTemp.push(newDataFinal);
                            });
                            this.$q.loading.hide();
                            this.$q.localStorage.set(
                              "practiceStorage",
                              dataTemp
                            );
                            console.log(dataTemp);
                          }
                        });
                      // let newDataFinal = { ...dataFinal, ...element1.data() };
                      // delete newDataFinal.schoolTypeSelected;
                      // delete newDataFinal.teachingImage;
                      // newDataFinal.status = "added";
                      // newDataFinal.key = element1.id;
                      // dataTemp.push(newDataFinal);
                    });
                  });
                // dataTemp.push(dataFinal);
              });
            });
        }
      }
      // END GET FLASHCARD ALL LEVEL AND UNIT

      // this.$q.loading.show({ delay: 400 });
      // db.collection("questionpool")
      //   .get()
      //   .then(doc => {
      //     doc.forEach(element => {
      //       dataTemp.push(element.data());
      //     });
      //     this.$q.loading.hide();
      //     this.$q.localStorage.set("practiceStorage", dataTemp);
      //   });
      // db.collection("province")
      //   .get()
      //   .then(doc => {
      //     doc.forEach(element => {
      //       if (element.data().name != "กาญจบุรี") {
      //         dataTemp.push(element.data());
      //       }
      //     });
      //     this.$q.localStorage.set("practiceStorage", dataTemp);
      //   });
      // db.collection("placement")
      //   .doc("server")
      //   .collection("data")
      //   .get()
      //   .then(doc => {
      //     let dataTemp = [];
      //     doc.forEach(element => {
      //       let classroom = [];
      //       let classroomLabel = "";
      //       for (let i = 1; i <= 12; i++) {
      //         if (i <= 6) {
      //           classroomLabel = "p" + i;
      //         } else {
      //           classroomLabel = "m" + (i - 6);
      //         }
      //         if (element.data()[classroomLabel]) {
      //           classroom.push(classroomLabel);
      //         }
      //       }
      //       let objTemp = element.data();
      //       delete objTemp.level;
      //       delete objTemp.order;
      //       let dataAdd = {
      //         classRoom: classroom,
      //         choices: [
      //           element.data().choice1,
      //           element.data().choice2,
      //           element.data().choice3,
      //           element.data().choice4
      //         ],
      //         correctAnswer: element.data().correct - 1,
      //         level: Number(element.data().level),
      //         order: Number(element.data().order),
      //         key: element.id
      //       };
      //       let dataFinal = { ...dataAdd, ...objTemp };
      //       delete dataFinal.choice1;
      //       delete dataFinal.choice2;
      //       delete dataFinal.choice3;
      //       delete dataFinal.choice4;
      //       delete dataFinal.correct;
      //       delete dataFinal.m1;
      //       delete dataFinal.m2;
      //       delete dataFinal.m3;
      //       delete dataFinal.m4;
      //       delete dataFinal.m5;
      //       delete dataFinal.m6;
      //       delete dataFinal.p1;
      //       delete dataFinal.p2;
      //       delete dataFinal.p3;
      //       delete dataFinal.p4;
      //       delete dataFinal.p5;
      //       delete dataFinal.p6;
      //       dataTemp.push(dataFinal);
      //     });
      //     console.log("Finish");
      //     this.$q.localStorage.set("practiceStorage", dataTemp);
      //   });

      // for (let i = 1; i <= 12; i++) {
      //   for (let j = 1; j <= 16; j++) {
      //     let levelUnit = "L" + i + "U" + j;
      //     db.collection("questionpool")
      //       .doc("server")
      //       .collection(levelUnit)
      //       .get()
      //       .then(doc => {
      //         doc.forEach(element => {
      //           let elementData = element.data();
      //           delete elementData.correctanswer;
      //           let dataLevel = {
      //             key: element.id,
      //             status: "added",
      //             choices: [
      //               element.data().choice1,
      //               element.data().choice2,
      //               element.data().choice3,
      //               element.data().choice4
      //             ],
      //             correctanswer: element.data().correctanswer - 1
      //           };
      //           let dataFinal = { ...dataLevel, ...elementData };
      //           delete dataFinal.choice1;
      //           delete dataFinal.choice2;
      //           delete dataFinal.choice3;
      //           delete dataFinal.choice4;
      //           dataTemp.push(dataFinal);
      //           // console.log(levelUnit, dataTemp);
      //         });
      //         this.$q.localStorage.set("practiceStorage", dataTemp);
      //       });
      //   }
      // }
    }
  },
  mounted() {}
};
</script>

<style lang="scss" scoped>
</style>