<template>
  <div class="gutter-md" style="height:100vh">
    <q-btn @click="testSync()"></q-btn>
    <!-- <div v-html="str">{{ str }}</div>
    <q-btn @click="testExtract()" label="test"></q-btn>-->
    <!-- <div class="q-pa-md float-right">
      <q-btn
        label="SyncBUTTON"
        @click="testSynchronizeFunction()"
        :disable="isSync"
        style="width:100px;height:100px"
        color="primary"
      ></q-btn>
    </div>
    <div v-for="(item,index) in practiceData" :key="index">
      {{ item.question }} {{ item.level }} {{ item.unit }} {{ item.status }}
      <q-btn v-if="item.status == 'delete'" label="redo" @click="redoDelete(item.key)" color="red"></q-btn>
    </div>-->

    <q-btn label="ค้นหา" @click="search()"></q-btn>
  </div>
</template>

<script>
import { db } from "../router/index.js";
export default {
  data() {
    return {
      isSync: true,
      practiceData: [],
      str:
        "<span style='text-decoration : underline'>Name</span> Message <span style='text-decoration : underline'>SurName</span> testtest"
    };
  },
  methods: {
    search() {
      db.collection("student")
        .get()
        .then(doc => {
          doc.forEach(result => {
            if (typeof result.data().room == "number") {
              db.collection("student")
                .doc(result.id)
                .update({
                  room: result.data().room.toString()
                });
            }
          });
        });
    },
    testSync() {},
    testExtract() {
      console.clear();
      let matchUnderline = [];
      // ค้นหา Tag Span ทั้งหมด
      let test2 = this.str.match(/<\s*span[^>]*>(.*?)<\s*\/\s*span>/g);

      // วนลูปเข้าไปเก็บค่า ที่ได้จาก Tag span
      for (let i = 0; i < test2.length; i++) {
        matchUnderline.push(test2[i].replace(/(<([^>]+)>)/gi, ""));
      }
      console.log(matchUnderline);

      // ลบ HTML Tags
      for (let j = 0; j < test2.length; j++) {
        this.str = this.str.replace(test2[j], "");
      }
      // แยกประโยคที่ไม่มีขีดเส้นใต้ด้วย ช่องว่าง
      let tempText = this.str.split(" ");
      // คัดค่าที่ไม่เท่ากับค่าว่าง ออกทิ้ง
      tempText = tempText.filter(x => {
        return x != "";
      });
      console.log(tempText);
    },
    checkSyncPermission() {
      // เช็คว่า มีข้อมูลที่ต้องการซิงค์ไหม หากมีข้อมูลที่จำเป็นต้อง Sync จะเปิดปุ่ม Sync ให้
      db.collection("testPracticeSync")
        .doc("draft")
        .collection("practice")
        .where("level", "==", 1)
        .where("unit", "==", 1)
        .onSnapshot(doc => {
          let isEnableSync = true;
          doc.forEach(element => {
            if (element.data().status != "add") {
              isEnableSync = false;
            }
          });
          this.isSync = isEnableSync;
        });
    },
    testSynchronizeFunction() {
      db.collection("testPracticeSync")
        .doc("draft")
        .collection("practice")
        .where("level", "==", 1)
        .where("unit", "==", 1)
        .get()
        .then(doc => {
          doc.forEach(element => {
            if (element.data().status == "update") {
              db.collection("testPracticeSync")
                .doc("server")
                .collection("practice")
                .doc(element.id)
                .set(element.data())
                .then(() => {
                  db.collection("testPracticeSync")
                    .doc("draft")
                    .collection("practice")
                    .doc(element.id)
                    .update({ status: "add" });
                });
            } else if (element.data().status == "delete") {
              db.collection("testPracticeSync")
                .doc("server")
                .collection("practice")
                .doc(element.id)
                .delete()
                .then(() => {
                  db.collection("testPracticeSync")
                    .doc("draft")
                    .collection("practice")
                    .doc(element.id)
                    .delete();
                });
            }
          });
        });
    },
    getPraticeData() {
      db.collection("testPracticeSync")
        .doc("draft")
        .collection("practice")
        .where("level", "==", 1)
        .where("unit", "==", 1)
        .onSnapshot(doc => {
          this.practiceData = [];
          doc.forEach(element => {
            let dataKey = {
              key: element.id
            };
            let dataFinal = {
              ...dataKey,
              ...element.data()
            };
            this.practiceData.push(dataFinal);
          });
        });
    },
    redoDelete(key) {
      db.collection("testPracticeSync")
        .doc("draft")
        .collection("practice")
        .doc(key)
        .update({ status: "update" });
    }
  },
  mounted() {
    this.checkSyncPermission();
    this.getPraticeData();
  }
};
</script>
