<template>
  <div style="height:100vh" class="bg">
    <div class="fixed-center">
      <transition appear enter-active-class="animated1 fadeInDown">
        <div class="cl6 titlefont text-center q-pb-md">Winner Adventures</div>
      </transition>

      <div class="box">
        <transition appear enter-active-class="animated2 fadeInDown">
          <div class="q-pa-sm">
            <q-input
              color="amber-13"
              :dense="dense"
              bg-color="white"
              outlined
              mask="##########"
              ref="username"
              v-model="username"
              label="รหัสผู้ใช้งาน"
            />
          </div>
        </transition>
        <transition appear enter-active-class="animated3 fadeInDown">
          <div class="q-pa-sm">
            <q-input
              color="amber-13"
              outlined
              :dense="dense"
              bg-color="white"
              mask="####"
              label="รหัสผ่าน"
              v-model="password"
              :type="isPwd ? 'password' : 'text'"
              @keyup.enter="login()"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>
          </div>
        </transition>
        <transition appear enter-active-class="animated4 fadeInDown">
          <div class="q-pa-sm q-pt-lg">
            <q-btn @click="login()" style="width:100%" class="bg1 cl2" label="เข้าสู่ระบบ" />
          </div>
        </transition>
      </div>
    </div>

    <div class="fixed-bottom-right cl6 q-pa-sm q-px-md">{{"v 1.0.0"}}</div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
export default {
  data() {
    return {
      dense: true,
      isPwd: true,
      username: "",
      password: ""
    };
  },
  methods: {
    login() {
      //  เช็คค่าว่าง
      let school = [];
      if (this.username == "" && this.password == "") {
        this.notifyRed("กรุณากรอกข้อมูล");
        return;
      } else if (this.username == "" || this.password == "") {
        this.notifyRed("รหัสผู้ใช้งาน / รหัสผ่านไม่ถูกต้อง");
        return;
      }
      //  เช้ค user แล้วหา user ว่ามีข้อมูลตรงกันไหม
      db.collection("user")
        .where("tel", "==", this.username)
        .where("password", "==", this.password)
        .get()
        .then(doc => {
          if (doc.size > 0) {
            // ถ้ามี ให้เก็บ ค่า
            let userkey = doc.docs[0].id;
            let datafinal = doc.docs[0].data();
            datafinal.key = userkey;
            let datasave = datafinal;
            datasave.password = "";
            this.$q.localStorage.set("userData", datasave);
            this.$q.localStorage.set("currentPage", "/monitor");

            this.$router.push("/monitor");
          } else {
            this.notifyRed("รหัสผู้ใช้งาน / รหัสผ่านไม่ถูกต้อง");
            return;
          }
        });
    },
    checklogin() {
      let local = this.$q.localStorage.getItem("userData");
      if (local == "" || local == null) {
      } else {
        this.$router.push("/welcomeback");
      }
    }
  },
  mounted() {
    this.checklogin();
    this.$refs.username.focus();
  }
};
</script>

<style  scoped>
.titlefont {
  font-size: 27px;
}
.box {
  width: 270px;
}
.animated1 {
  animation-duration: 1s;
}
.animated2 {
  animation-duration: 1.1s;
}
.animated3 {
  animation-duration: 1.2s;
}
.animated4 {
  animation-duration: 1.3s;
}
</style>