<template>
  <div>
    <div style="height:100vh" class="bg"></div>
    <div class="absolute-center">
      <div>
        <transition appear enter-active-class="animated1 fadeInDown">
          <div class="cl6 titlefont text-center q-pb-md">ออกจากระบบ</div>
        </transition>
        <div class="box">
          <transition appear enter-active-class="animated2 fadeInDown">
            <div class="q-pa-sm q-pt-sm">
              <q-btn
                @click="logout()"
                style="width:100%"
                class="bg1 cl2"
                label="เฉพาะอุปกรณ์ปัจจุบัน"
              />
            </div>
          </transition>
          <transition appear enter-active-class="animated3 fadeInDown">
            <div class="q-pa-sm">
              <q-btn
                @click="logoutAll()"
                style="width:100%"
                class="bg1 cl2"
                label="อุปกรณ์ทั้งหมด"
              />
            </div>
          </transition>
          <transition appear enter-active-class="animated4 fadeInDown">
            <div class="q-pa-sm q-pt-lg">
              <q-btn to="/monitor" style="width:100%" class="bg7 cl2" label="กลับสู่โปรแกรม" />
            </div>
          </transition>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
export default {
  data() {
    return {
      userData: this.$q.localStorage.getItem("userData")
    };
  },
  methods: {
    logout() {
      this.$q.localStorage.remove("userData");
      this.$router.push("/");
    },
    logoutAll() {
      db.collection("user")
        .doc(this.userData.key)
        .update({
          userKey: Math.floor(Math.random() * 9999999999 + 1)
        })
        .then(() => {
          this.$q.localStorage.remove("userData");
          this.$router.push("/");
        });
    }
  },
  mounted() {
    if (!this.$q.localStorage.has("userData")) {
      this.$q.localStorage.clear();
      this.$router.push("/");
      return;
    }
  }
};
</script>

<style scoped>
.titlefont {
  font-size: 27px;
}
.box {
  width: 270px;
}
.animated1 {
  animation-duration: 1s;
}
.animated2 {
  animation-duration: 1.1s;
}
.animated3 {
  animation-duration: 1.2s;
}
.animated4 {
  animation-duration: 1.3s;
}
</style>