<template>
  <div>
    <q-toolbar class="bg-blue" align="center">
      <q-toolbar-title class="q-pa-md text-h4">Monitor Development</q-toolbar-title>
    </q-toolbar>
    <q-toolbar class="q-mt-md">
      <q-btn
        class="q-ma-xs bg-blue"
        @click="activeType = 'synchronize'"
        rounded
        label="Teacher Synchronize"
      ></q-btn>
      <q-btn
        class="q-ma-xs bg-blue"
        @click="activeType = 'learning'"
        rounded
        label="School Learning"
      ></q-btn>
    </q-toolbar>

    <div class="q-pa-md">
      <synchronize v-show="activeType == 'synchronize'" :schoolList="schoolList"></synchronize>
      <learning v-show="activeType == 'learning'" :schoolList="schoolList"></learning>
    </div>
  </div>
</template>

<script>
import synchronize from "../components/synchronize";
import learning from "../components/learning";
import { db } from "../router";
export default {
  components: {
    synchronize,
    learning,
  },
  data() {
    return {
      activeType: "synchronize",
      schoolList: [],
    };
  },
  methods: {
    loadSchoolAll() {
      db.collection("school")
        .get()
        .then((doc) => {
          let temp = [];
          doc.forEach((result) => {
            let newData = {
              value: result.id,
              label: result.data().schoolCode + "-" + result.data().name,
              indexCode: result.data().schoolCode,
            };

            temp.push(newData);
          });

          temp.sort((a, b) => Number(a.indexCode) - Number(b.indexCode));

          this.schoolList = temp;
        });
    },
  },
  mounted() {
    this.loadSchoolAll();
  },
};
</script>

<style lang="scss" scoped>
</style>