<template>
  <div class="bg-white q-pa-md text-black">
    <span class="text-black">data pretest</span>
    <q-input v-model="schoolCode" label="รหัสโรงเรียน"></q-input>
    <q-input v-model="classRoom" label="ระดับชั้น"></q-input>
    <q-input v-model="room" label="ห้อง"></q-input>
    <br />
    <button @click="runData()">click me</button>

    <table>
      <tr>
        <td class>เลขที่</td>
        <td class style="width:500px">ชื่อ</td>
        <td class>คะแนน</td>
      </tr>
      <tr class="q-pa-md" v-for="(item, index) in studentList" :key="index">
        <td>{{ item.studentNo}}</td>
        <td class>{{ item.studentName }}</td>
        <td class>{{ Math.round((item.correct / item.totalQuestion) * 100) }}%</td>
      </tr>
    </table>
  </div>
</template>

<script>
import { db } from "../router/index.js";
export default {
  data() {
    return {
      schoolCode: "",
      classRoom: "",
      room: "",
      studentList: ""
    };
  },
  methods: {
    runData() {
      db.collection("student")
        .where("schoolKey", "==", this.schoolCode)
        .where("classRoom", "==", this.classRoom)
        .where("room", "==", this.room)
        .get()
        .then(sdata => {
          let tempStudent = [];
          sdata.forEach(elementSdata => {
            // console.log(elementSdata.data().number);
            tempStudent.push({
              ...elementSdata.data(),
              studentDataId: elementSdata.id
            });
          });
          //   console.log(tempStudent);
          db.collection("studentprepostlog")
            .where("schoolKey", "==", this.schoolCode)
            .where("class", "==", this.classRoom)
            .where("room", "==", this.room)
            .get()
            .then(data => {
              let temp = [];
              data.forEach(element => {
                temp.push({ ...element.data(), prepostLogId: element.id });
              });

              temp.forEach(element => {
                let enumber = tempStudent.filter(
                  x => x.studentDataId == element.studentKey
                )[0].number;
                element.number = enumber;
                // let newStudentKey = tempStudent.filter(
                //   x => x.studentDataId == "5" + element.studentKey[0].number
                // )[0].studentDataId;

                // console.log(element.studentKey);
              });

              this.studentList = temp;
            });
        });
    }
  }
};
</script>

<style lang="scss" scoped>
</style>