<template>
  <div style="height:100vh" class="bg">
    <div class="fixed-center">
      <transition appear enter-active-class="animated1 fadeInDown">
        <div class="cl6 titlefont text-center q-pb-md">Winner Adventures</div>
      </transition>
      <div class="box">
        <transition appear enter-active-class="animated2 fadeInDown">
          <div class="cl6 text-center">
            <span>{{userData.name}}</span>
          </div>
        </transition>
        <transition appear enter-active-class="animated3 fadeInDown">
          <div class="q-pa-sm q-pt-lg">
            <q-btn @click="login()" style="width:100%" class="bg1 cl3" label="เข้าสู่ระบบ" />
          </div>
        </transition>
        <transition appear enter-active-class="animated4 fadeInDown">
          <div class="q-pa-sm q-pt-lg">
            <q-btn
              @click="logout()"
              style="width:100%"
              class="bg7 cl3"
              label="เข้าสู่ระบบด้วยบัญชีผู้ใช้งานอื่น"
            />
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index";
export default {
  data() {
    return {
      dense: true,
      userData: this.$q.localStorage.getItem("userData"),
    };
  },
  methods: {
    login() {
      this.$router.push("/monitor");
    },
    logout() {
      this.$q.localStorage.set("userData", "");
      this.$router.push("/");
    },
  },
  mounted() {
    if (this.user == "") {
      this.$router.push("/");
      return;
    }
  },
};
</script>

<style  scoped>
.titlefont {
  font-size: 27px;
}
.box {
  width: 270px;
}
.animated1 {
  animation-duration: 1s;
}
.animated2 {
  animation-duration: 1.4s;
}
.animated3 {
  animation-duration: 1.2s;
}
.animated4 {
  animation-duration: 1.3s;
}
</style>