<template>
  <q-page class="q-pa-md">
    <div v-if="!showSpinner">
      <div class="row">
        <div style="width:200px"></div>
        <div align="center" class="text-h5 col">นักเรียน</div>
        <div align="right">
          <q-btn @click="importBtn()" round class="bg1 cl2" icon="fas fa-file-import"></q-btn>
          <q-btn @click="printBtn()" round class="bg1 cl2 q-mx-md" icon="fas fa-print"></q-btn>
          <q-btn @click="addBtn()" round class="bg1 cl2" icon="fas fa-plus"></q-btn>
        </div>
      </div>
      <!-- select -->
      <div class="row justify-center q-py-md">
        <div class="col-4">
          <q-select
            dark
            color="amber-13"
            label="โรงเรียน"
            v-model="school"
            :options="schoolOption"
            style="width:540px"
            @input="loadStudentData(school.value)"
          ></q-select>
        </div>
        <div class="row items-center col-4">
          <div class="col-4">
            <q-select
              class="q-pl-lg"
              dark
              color="amber-13"
              label="ชั้น/ห้อง"
              v-model="room"
              :options="roomOption"
              style="width:150px"
              @input="changeRoom()"
              emit-value
              map-options
            ></q-select>
          </div>

          <div class="col-1">
            <q-btn
              @click="deleteAllBtn()"
              class="bg1 cl2 q-mt-md"
              size="sm"
              icon="fas fa-trash-alt"
            ></q-btn>
          </div>
        </div>
      </div>
      <!-- ตาราง -->
      <div>
        <q-table
          :filter="filter"
          :data="data"
          title="Level 3"
          :columns="columns"
          row-key="name"
          :pagination.sync="pagination"
          dark
        >
          <template v-slot:top>
            <div class="row" style="width:100%">
              <div class="text-h6 col-9">
                <span>{{ "Level" + " " + levelShow }}</span>
                <q-btn
                  @click="exchangeBtn()"
                  class="bg1 cl2 q-ml-md"
                  size="sm"
                  icon="fas fa-exchange-alt"
                ></q-btn>

                <q-btn
                  class="bg1 cl2 q-ml-md"
                  size="sm"
                  label="เรียงเลขที่อัตโนมัติ"
                  @click="renumberBtn()"
                ></q-btn>
              </div>
              <div class="col-3" align="right">
                <!-- เสิร์ช รหัสนักเรียน -->
                <q-input
                  style="width:100%; max-width:250px"
                  rounded
                  outlined
                  dark
                  color="amber-13"
                  borderless
                  dense
                  debounce="300"
                  v-model="filter"
                  placeholder="เลขประจำตัว/ชื่อนักเรียน"
                >
                  <template v-slot:append>
                    <q-icon name="search" size="lg" />
                  </template>
                </q-input>
              </div>
            </div>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td style="width:70px;" key="no" :props="props">{{ props.row.no }}</q-td>
              <q-td key="number" :props="props">{{ props.row.number }}</q-td>
              <q-td key="name" :props="props">{{ props.row.name + " " + props.row.surname }}</q-td>
              <q-td key="password" :props="props">{{ props.row.password }}</q-td>
              <q-td @click="deleteBtn(props.row.key)" key="delete" :props="props">
                <q-icon class="cl1 cursor-pointer" size="18px" name="fas fa-trash-alt" />
              </q-td>
              <q-td @click="editBtn(props.row.key)" key="edit" :props="props">
                <q-icon class="cl1 cursor-pointer" size="18px" name="fas fa-edit" />
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>
      <!-- DIALOG LOADDATA -->
      <q-dialog v-model="loadDataBtn" content-class="backdrop">
        <div align="center" class="q-px-lg q-pa-md bg3">
          <div class="text-h6">อัพโหลดข้อมูล</div>
          <div class="q-pt-md">โรงเรียน{{ schoolName }}</div>

          <!-- ใส่ลิ้งค์ดาวโหลดไฟล์ -->
          <div class="q-py-md">
            <a href="../../statics/files/Data.xlsx" class="cl7">ตัวอย่างไฟล์ข้อมูลนักเรียน</a>
          </div>
          <div class="row q-pt-xs q-pb-md">
            <div class="col-6 q-px-xs">
              <q-btn
                @click="cancelBtn()"
                label="ยกเลิก"
                style="width:160px"
                class="bg7 text-black q-py-sm"
              ></q-btn>
            </div>
            <div class="col-6 q-px-xs">
              <vue-xlsx-table @on-select-file="handleSelectedFile">
                <q-btn flat label="อัพโหลดข้อมูล" style="width:130px"></q-btn>
              </vue-xlsx-table>
            </div>
          </div>
        </div>
      </q-dialog>
      <!-- DIALOG DELETE ALL -->
      <q-dialog v-model="deleteAll" content-class="backdrop">
        <div align="center" class="q-px-lg bg3">
          <div class="q-pt-lg text-h6">ลบข้อมูลนักเรียนทั้งห้อง</div>
          <div class="q-pt-sm">โรงเรียน{{ schoolName }}</div>
          <div>ปีการศึกษา ชั้น {{ this.room }}</div>
          <br />
          <br />
          <div class="q-p-md">หากต้องการดำเนินการลบพิมพ์ "ดำเนินการ"</div>
          <div>
            <q-input color="amber-13" dark v-model="proceedDeleteAll"></q-input>
          </div>
          <div class="row q-py-lg">
            <div class="col-6 q-pr-sm" align="right">
              <q-btn
                @click="cancelDeleteAllBtn()"
                label="ยกเลิก"
                style="width:160px"
                class="bg7 text-black"
              ></q-btn>
            </div>
            <div class="col-6 q-pl-sm" align="left">
              <q-btn
                @click="confirmDeleteAllBtn(school.value, room)"
                label="ตกลง"
                style="width:160px"
                class="bg1 text-black"
              ></q-btn>
            </div>
          </div>
        </div>
      </q-dialog>
      <!-- DIALOG exchange -->
      <q-dialog v-model="exchangeDialog" content-class="backdrop">
        <div align="center" class="q-px-lg bg3" style="width:460px">
          <div class="q-pt-lg text-h6">ย้ายระดับการเรียน</div>
          <div class="q-pt-sm">โรงเรียน{{ schoolName }}</div>
          <div>ปีการศึกษา{{ term }}/{{ year }} ระดับชั้น {{ this.room.slice(0, 3) }}</div>
          <div class="q-py-md">
            <q-select
              outlined
              dark
              color="amber-13"
              label="ระดับการเรียน"
              v-model="level"
              :options="levelExchangeOption"
              style="width:300px"
            ></q-select>
          </div>

          <div class="row q-py-lg">
            <div class="col-6 q-pr-sm" align="right">
              <q-btn
                @click="cancelExchangeBtn()"
                label="ยกเลิก"
                style="width:160px"
                class="bg7 text-black"
              ></q-btn>
            </div>
            <div class="col-6 q-pl-sm" align="left">
              <q-btn
                @click="confirmExchangeBtn()"
                label="ตกลง"
                style="width:160px"
                class="bg1 text-black"
              ></q-btn>
            </div>
          </div>
        </div>
      </q-dialog>
      <!-- DIALOG STUDENT -->
      <q-dialog v-model="deleteStudent" content-class="backdrop">
        <div class="bg3 q-pa-md" align="center">
          <div class="q-py-md text-h6">ลบข้อมูลนักเรียน</div>
          <div>ยืนยันการลบข้อมูล</div>

          <div class="row q-py-lg">
            <div class="col-6 q-pr-sm" align="right">
              <q-btn
                @click="cancelDeleteBtn()"
                label="ยกเลิก"
                style="width:160px"
                class="bg7 text-black"
              ></q-btn>
            </div>
            <div class="col-6 q-pl-sm" align="left">
              <q-btn
                @click="confirmDeleteBtn()"
                label="ตกลง"
                style="width:160px"
                class="bg1 text-black"
              ></q-btn>
            </div>
          </div>
        </div>
      </q-dialog>

      <!-- DIALOG renumbering -->
      <q-dialog v-model="showRenumberDialog" content-class="backdrop">
        <div align="center" class="q-px-lg bg3" style="width:460px">
          <div class="q-pt-lg text-h6">เรียงเลขที่อัตโนมัติ</div>
          <div class="q-pt-sm">โรงเรียน{{ schoolName }}</div>
          <div>
            ปีการศึกษา{{ term }}/{{ year }} ชั้น {{ this.room.slice(0, 3) }}/{{
            this.room.slice(3)
            }}
          </div>
          <br />
          <br />
          <div class="q-p-md">หากต้องการดำเนินพิมพ์ "ดำเนินการ"</div>
          <div class="q-py-md">
            <q-input v-model.trim="confirmRenumberText" color="amber-13" dark></q-input>
          </div>

          <div class="row q-py-lg">
            <div class="col-6 q-pr-sm" align="right">
              <q-btn
                @click="cancelRenumberBtn()"
                label="ยกเลิก"
                style="width:160px"
                class="bg7 text-black"
              ></q-btn>
            </div>
            <div class="col-6 q-pl-sm" align="left">
              <q-btn
                @click="confirmRenumberBtn()"
                label="ตกลง"
                style="width:160px"
                class="bg1 text-black"
              ></q-btn>
            </div>
          </div>
        </div>
      </q-dialog>
    </div>

    <div class="absolute-center" v-show="showSpinner">
      <q-spinner-hourglass color="white" size="5em" />
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";

export default {
  data() {
    return {
      showSpinner: false,
      level: "",
      levelShow: "",
      deleteKey: "",
      term: "",
      year: "",
      //  DIALOG STUDENT

      deleteStudent: false,
      // DIALOG EXCHANGE
      levelExchangeOption: this.$q.localStorage.getItem("levelList"),
      levelExchange: "1",
      exchangeLevel: "",
      exchangeDialog: false,

      // DIALOG DELETE ALL
      proceedDeleteAll: "",
      deleteAll: false,
      // DIGLOD IMPORT
      loadDataBtn: false,
      // ----------------
      filter: "",
      pagination: {
        rowsPerPage: 0,
      },
      school: "",
      schoolName: "",
      schoolOption: [],
      room: "",
      roomOption: [],
      columns: [
        {
          name: "no",
          align: "center",
          label: "เลขที่",
        },
        {
          name: "number",
          align: "center",
          label: "เลขประจำตัว",
          field: "number",
        },
        {
          name: "name",
          align: "left",
          label: "ขื่อ-นามสกุล",
          field: "name",
        },
        {
          name: "password",
          align: "left",
          label: "รหัสผ่าน",
        },
        {
          name: "delete",
          align: "center",
          label: "ลบ",
        },
        {
          name: "edit",
          align: "center",
          label: "แก้ไข",
        },
      ],
      data: [],
      dataTemp: [],

      snapStudentData: null,
      showRenumberDialog: false,
      confirmRenumberText: "",
    };
  },
  methods: {
    loadSchool() {
      this.loadingShow();
      db.collection("school")
        .orderBy("schoolCode")
        .get()
        .then((doc) => {
          doc.forEach((element) => {
            let schoolKey = {
              value: element.id,
              label: element.data().schoolCode + " - " + element.data().name,
            };

            this.schoolOption.push(schoolKey);
          });

          if (this.$q.localStorage.has("studentSchoolSelected")) {
            this.school = this.$q.localStorage.getItem("studentSchoolSelected");

            let schoolKeyData = this.schoolOption.map((x) => x.value);
            if (!schoolKeyData.includes(this.school.value)) {
              this.school = this.schoolOption[0];
            }
            this.loadStudentData(this.school.value);
          } else {
            if (doc.size > 0) {
              this.school = this.schoolOption[0];
              this.loadStudentData(this.school.value);
            }
          }
        });
    },

    loadStudentData(key) {
      this.$q.localStorage.set("studentSchoolSelected", this.school);
      this.schoolName = this.school.label.substring(5).trim();

      this.snapStudentData = db
        .collection("student")
        .where("schoolKey", "==", key)
        .where("term", "==", this.term)
        .where("year", "==", this.year)
        .onSnapshot((doc) => {
          let temp = [];
          let setRoom = [];
          let subRoom = [];
          this.roomOption = [];

          this.data = [];
          this.dataTemp = [];
          this.levelShow = "ไม่ระบุ";

          if (doc.size > 0) {
            // ดึงข้อมูลนักเรียนทั้งหมด เก็บใน dataTemp
            doc.forEach((element) => {
              let dataKey = {
                key: element.id,
              };
              let dataFinal = {
                ...element.data(),
                ...dataKey,
              };
              temp.push(dataFinal);
            });

            temp.sort((a, b) => {
              return Number(a.no) - Number(b.no);
            });
            this.dataTemp = temp;

            // สร้าง List ห้อง เก็บใน roomOption
            setRoom = [
              ...new Set(
                temp.map((x) => {
                  return x.classRoom + "/" + x.room;
                })
              ),
            ];

            for (let i = 0; i < setRoom.length; i++) {
              let newName = setRoom[i].slice(0, 3) + setRoom[i].slice(3);

              this.roomOption.push(setRoom[i]);
            }
            this.roomOption.sort((a, b) => {
              let grade1 = a[0];
              let grade2 = b[0];
              if (grade1 == "ป") {
                grade1 = "z";
              }
              if (grade2 == "ป") {
                grade2 = "z";
              }
              let d1 = grade1 + a.slice(1);
              let d2 = grade2 + b.slice(1);
              return d1 > d2 ? 1 : -1;
            });

            if (this.roomOption.length) {
              this.changeRoom();
            }
          } else {
            this.room = "";
          }

          this.loadingHide();
        });
    },

    changeRoom() {
      if (!this.room) {
        this.room = this.roomOption[0];
      } else {
        if (!this.roomOption.includes(this.room)) {
          this.room = this.roomOption[0];
        }
      }

      this.$q.localStorage.set("studentRoomSelected", this.room);
      this.data = this.dataTemp.filter((x) => {
        return (
          x.classRoom == this.room.slice(0, 3) && x.room == this.room.slice(4)
        );
      });
      if (this.data.length > 0) {
        this.levelShow = this.data[0].level;
      }

      this.loadingHide();
    },

    addBtn() {
      this.$q.localStorage.set("studentRoomSelected", this.room);
      this.$q.localStorage.set("studentSchoolSelected", this.school);

      this.$router.push("/student/addcheck");
    },
    printBtn() {
      this.$router.push({
        name: "studentprint",
        params: {
          data: this.data,
          school: this.school,
          room: this.roomOption.filter((x) => {
            return x == this.room;
          })[0],
          academicYear: this.term + "/" + this.year,
        },
      });
    },
    editBtn(key) {
      this.$q.localStorage.set("studentClassRoomCheck", this.room);
      this.$q.localStorage.set("studentSchoolCheck", this.school);

      this.$router.push("/student/edit/" + key);
    },
    //  DIALOG STUDENT
    deleteBtn(key) {
      this.deleteKey = key;

      this.deleteStudent = true;
    },
    cancelDeleteBtn() {
      this.deleteStudent = false;
    },
    confirmDeleteBtn() {
      // this.loadingShow();

      db.collection("student")
        .doc(this.deleteKey)
        .delete()
        .then(() => {
          this.showSpinner = true;

          this.deleteStudent = false;
          let sendKey = [];
          sendKey.push(this.deleteKey);
          this.deleteScore(sendKey);
          this.notifyGreen("ลบข้อมูลเรียบร้อยแล้ว");
        });
    },

    deleteScore(studentKey2) {
      let countData = 0;
      studentKey2.forEach((studentKey) => {
        db.collection("studentplacementlog")
          .where("studentKey", "==", studentKey)
          .where("term", "==", this.term)
          .where("year", "==", this.year)
          .get()
          .then((doc) => {
            doc.forEach((data) => {
              db.collection("studentplacementlog").doc(data.id).delete();
            });
          });

        db.collection("studentpracticelog")
          .where("studentKey", "==", studentKey)
          .where("term", "==", this.term)
          .where("year", "==", this.year)
          .get()
          .then((doc) => {
            doc.forEach((data) => {
              db.collection("studentpracticelog").doc(data.id).delete();
            });
          });

        db.collection("studentprepostlog")
          .where("studentKey", "==", studentKey)
          .where("term", "==", this.term)
          .where("year", "==", this.year)
          .get()
          .then((doc) => {
            doc.forEach((data) => {
              db.collection("studentprepostlog").doc(data.id).delete();
            });
          });

        db.collection("studentquestionnairelog")
          .where("studentKey", "==", studentKey)
          .where("term", "==", this.term)
          .where("year", "==", this.year)
          .get()
          .then((doc) => {
            // if (doc.size == 0) {
            //   countData++;
            //   if (countData == studentKey2.length) {
            //     this.loadingHide();
            //   }
            // }
            if (doc.size) {
              doc.forEach((data) => {
                db.collection("studentquestionnairelog")
                  .doc(data.id)
                  .delete()
                  .then(() => {
                    countData++;
                    if (countData == studentKey2.length) {
                      // this.notifyGreen("ลบข้อมูลเรียบร้อยแล้ว");
                      this.showSpinner = false;
                    }
                  });
              });
            } else {
              countData++;
              if (countData == studentKey2.length) {
                // this.notifyGreen("ลบข้อมูลเรียบร้อยแล้ว");
                this.showSpinner = false;
              }
            }
          });
      });
    },
    // DIGLOD IMPORT

    cancelBtn() {
      this.loadDataBtn = false;
    },
    importBtn() {
      this.loadDataBtn = true;
    },
    // DIALOG DELETE ALL
    confirmDeleteAllBtn(key, room) {
      let dataClassRoom = room.slice(0, 3);
      // let dataRoom = room.slice(4, 6);
      let dataRoom = room.split("/")[1];
      // console.log("room", room);

      if (this.proceedDeleteAll == "ดำเนินการ") {
        this.showSpinner = true;
        db.collection("student")
          .where("schoolKey", "==", key)
          .where("classRoom", "==", dataClassRoom)
          .where("room", "==", dataRoom)
          .where("term", "==", this.term)
          .where("year", "==", this.year)
          .get()
          .then((doc) => {
            // console.log(key);
            // console.log(dataClassRoom);
            // console.log(dataRoom);
            // console.log(this.term);
            // console.log(this.year);
            // return;
            if (doc.size == 0) {
              this.notifyRed("ไม่พบข้อมูลนักเรียน");
              return;
            }
            // this.loadingShow();
            let studentIdDel = [];
            let countDoc = 0;
            doc.forEach((element) => {
              studentIdDel.push(element.id);
              db.collection("student")
                .doc(element.id)
                .delete()
                .then(() => {
                  countDoc++;
                  if (countDoc == doc.size) {
                    this.deleteAll = false;
                    this.proceedDeleteAll = "";
                    this.deleteScore(studentIdDel);
                  }
                });
            });
            this.notifyGreen("ลบข้อมูลเรียบร้อย");
          });
      } else {
        this.notifyRed("กรุณาพิมพ์ 'ดำเนินการ'");
        this.proceedDeleteAll = "";
      }
    },
    cancelDeleteAllBtn() {
      this.deleteAll = false;
    },
    // DIALOG EXCHANGE
    deleteAllBtn() {
      this.deleteAll = true;
    },
    confirmExchangeBtn() {
      // this.loadingShow();
      let countUpdate = 0;
      //เรียก confirmmation
      this.$q
        .dialog({
          dark: true,
          title: "ยืนยันการย้าย Level",
          message: "กรุณาพิมพ์ 'ย้าย Level'",
          prompt: {
            model: "",
            type: "text", // optional
          },
          cancel: true,
          persistent: true,
        })
        .onOk((data) => {
          if (data == "ย้าย Level") {
            // update Student
            db.collection("student")
              .where("schoolKey", "==", this.school.value)
              .where("term", "==", this.term)
              .where("year", "==", this.year)
              .where("classRoom", "==", this.room.slice(0, 3))
              .get()
              .then((doc) => {
                doc.forEach((data) => {
                  db.collection("student").doc(data.id).update({
                    level: this.level.label,
                  });
                });
                db.collection("placementMark").add({
                  class: this.room.slice(0, 3),
                  isPlacement: true,
                  schoolKey: this.school.value,
                  term: this.term,
                  year: this.year,
                });
                this.exchangeDialog = false;
              });
            // update PlacementMaerk
          } else {
            this.notifyRed("ข้อความยืนยันไม่ถูกต้อง");
          }
        });
    },
    cancelExchangeBtn() {
      this.exchangeDialog = false;
    },
    exchangeBtn() {
      this.exchangeLevel = "";
      this.level = this.levelExchangeOption[0];
      this.exchangeDialog = true;
    },
    // ----------------------
    handleSelectedFile(convertedData) {
      // let schoolCode = this.$route.params.schoolcode;
      // let year = this.$route.params.year;

      //check duplicated student ID
      let studentIdImport = [];
      for (let i = 0; i < convertedData.body.length; i++) {
        studentIdImport.push(convertedData.body[i]["เลขประจำตัว"]);
      }
      let studentIdOnce = [...new Set(studentIdImport)];
      if (studentIdOnce.length != studentIdImport.length) {
        this.notifyRed("ข้อมูลมีเลขประจำตัวซ้ำ");
        return;
      }

      this.loadingShow();

      for (let i = 0; i < convertedData.body.length; i++) {
        //check ชื่อต้องมีความยาวด้วย

        let data = {
          name: convertedData.body[i]["ชื่อ"],
          no: convertedData.body[i]["เลขที่"],
          room: convertedData.body[i]["ห้อง/ชั้น"],

          number: convertedData.body[i]["เลขประจำตัว"],
          surname: convertedData.body[i]["นามสกุล"],
          sex: convertedData.body[i]["เพศ"],
          academicYear: convertedData.body[i]["ปีการศึกษา"],
          // year: year
        };

        let classRoomExplode = data.room.split("/");
        let classRoom = classRoomExplode[0];

        let room = classRoomExplode[1];

        let termexplode = data.academicYear.split("/");
        let term = termexplode[0];
        let year = termexplode[1];
        let schoolCode = this.school.label.split(" - ")[0].trim();

        // let password = this.genpassword(data.number);
        let finalData = {
          classRoom: classRoom,
          level: 0,
          name: data.name,
          no: data.no,
          number: data.number,
          password: this.genPassword(data.number, schoolCode),
          schoolKey: this.school.value,
          sex: data.sex,
          status: "offline",
          surname: data.surname,
          user: schoolCode + data.number,
          term: term,
          year: year,
          room: room,
        };

        // check existed data

        db.collection("student")
          .where("schoolKey", "==", this.school.value)
          .where("number", "==", data.number.toString())
          .where("term", "==", term)
          .where("year", "==", year)
          .get()
          .then((doc) => {
            if (doc.size == 0) {
              //กรณีไม่มีข้อมูล
              db.collection("student").add(finalData);
            } else {
              //กรณีที่ทำการ update ข้อมูล
              db.collection("student").doc(doc.docs[0].id).update(finalData);
            }
          });
      }

      this.loadingHide();

      this.loadDataBtn = false;
    },
    genPassword(number, schoolCode) {
      let password = number * number - 11 + parseInt(schoolCode);
      return password.toString().substr(password.toString().length - 4, 4);
    },
    renumberBtn() {
      this.showRenumberDialog = true;
      this.confirmRenumberText = "";
    },
    cancelRenumberBtn() {
      this.showRenumberDialog = false;
    },
    confirmRenumberBtn() {
      if (this.confirmRenumberText != "ดำเนินการ") {
        this.notifyRed("ข้อความยืนยันไม่ถูกต้อง");
        return;
      } else {
        let countData = 0;
        for (let i = 0; i < this.data.length; i++) {
          this.showSpinner = true;
          db.collection("student")
            .doc(this.data[i].key)
            .update({
              no: (i + 1).toString(),
            });

          //Renumber in log
          db.collection("studentplacementlog")
            .where("studentKey", "==", this.data[i].key)
            .where("term", "==", this.term)
            .where("year", "==", this.year)
            .get()
            .then((doc) => {
              if (doc.size) {
                doc.forEach((data) => {
                  db.collection("studentplacementlog")
                    .doc(data.id)
                    .update({
                      studentNo: (i + 1).toString(),
                    });
                });
              }
            });

          db.collection("studentprepostlog")
            .where("studentKey", "==", this.data[i].key)
            .where("term", "==", this.term)
            .where("year", "==", this.year)
            .get()
            .then((doc) => {
              if (doc.size) {
                doc.forEach((data) => {
                  db.collection("studentprepostlog")
                    .doc(data.id)
                    .update({
                      studentNo: (i + 1).toString(),
                    });
                });
              }
            });

          db.collection("studentquestionnairelog")
            .where("studentKey", "==", this.data[i].key)
            .where("term", "==", this.term)
            .where("year", "==", this.year)
            .get()
            .then((doc) => {
              if (doc.size) {
                doc.forEach((data) => {
                  db.collection("studentquestionnairelog")
                    .doc(data.id)
                    .update({
                      studentNo: (i + 1).toString(),
                    })
                    .then(() => {
                      countData++;
                      if (countData == this.data.length) {
                        this.notifyGreen("อัพเดทข้อมูลเรียบร้อยแล้ว");
                        this.showSpinner = false;
                      }
                    });
                });
              } else {
                countData++;
                if (countData == this.data.length) {
                  this.notifyGreen("อัพเดทข้อมูลเรียบร้อยแล้ว");
                  this.showSpinner = false;
                }
              }
            });
        }
        this.showRenumberDialog = false;
      }
    },
    loadTermYear() {
      db.collection("term")
        .doc("data")
        .get()
        .then((data) => {
          this.term = data.data().term; //เทอมปัจจุบัน
          this.year = data.data().year; //
        });
    },
  },
  mounted() {
    this.loadTermYear();
    this.loadSchool();
  },
  beforeDestroy() {
    this.snapStudentData();
  },
};
</script>

<style scoped>
.w1 {
  width: 150px;
}
</style>
