<template>
  <div>
    <div>
      <div align="center">
        <div class="text-h5 q-py-lg">เพิ่มนักเรียน</div>
        <div class="q-pb-sm">{{ school.label }}</div>
        <div class="q-py-md">
          <q-input
            dark
            color="amber-13"
            style="width:550px"
            square
            label="เลขประจำตัว"
            type="number"
            v-model="number"
            @keyup.enter="checkBtn()"
            outlined
          ></q-input>
        </div>
      </div>
      <div class="row q-pt-lg">
        <div class="col-6 q-pr-sm" align="right">
          <q-btn @click="cancelBtn" label="ยกเลิก" style="width:170px" class="bg7 text-black"></q-btn>
        </div>
        <div class="col-6 q-pl-sm">
          <q-btn @click="checkBtn()" label="ตรวจสอบ" style="width:170px" class="bg1 text-black"></q-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      term: "",
      year: "",
      school: this.$q.localStorage.getItem("studentSchoolSelected"),
      number: ""
    };
  },
  methods: {
    loadTermYear() {
      db.collection("term")
        .doc("data")
        .get()
        .then(data => {
          this.term = data.data().term;
          this.year = data.data().year;
        });
    },

    cancelBtn() {
      this.$router.push("/student");
    },
    checkBtn() {
      let schoolKey = this.school.value;
      if (this.number.length == "") {
        this.notifyRed("กรุณากรอกเลขประจำตัว");
        return;
      }
      db.collection("student")
        .where("number", "==", this.number)
        .where("schoolKey", "==", schoolKey)
        .get()
        .then(doc => {
          this.$q.localStorage.set("studentIdCheck", this.number);

          this.loadingShow();
          if (doc.size > 0) {
            this.$router.push("/student/edit/" + doc.docs[0].id);
          } else {
            this.$router.push("/student/add");
          }
          this.loadingHide();
        });
    }
  }
};
</script>

<style ></style>
