<template>
  <div>
    <div align="center">
      <div v-if="$route.name == 'studentadd'" class="text-h5 q-py-lg">เพิ่มนักเรียน</div>
      <div v-if="$route.name == 'studentedit'" class="text-h5 q-py-lg">แก้ไขนักเรียน</div>
      <div class="q-pb-sm">{{ this.studentData.user.label }}</div>
      <!-- เลขประจำตัว -->
      <div class="q-py-md">
        <q-input
          dark
          color="amber-13"
          style="width:550px"
          label="เลขประจำตัว"
          v-model="studentData.number"
          outlined
          readonly
          ref="number"
          :rules="[val => !!val]"
          hide-bottom-space
        ></q-input>
      </div>
      <!-- ชื่อ -->
      <div class="q-py-sm">
        <q-input
          dark
          color="amber-13"
          style="width:550px"
          label="ชื่อ"
          v-model="studentData.name"
          outlined
          ref="name"
          :rules="[val => !!val]"
          hide-bottom-space
        ></q-input>
      </div>
      <!-- นามสกุล -->
      <div class="q-py-sm">
        <q-input
          dark
          color="amber-13"
          style="width:550px"
          label="นามสกุล"
          v-model="studentData.surname"
          outlined
          ref="surname"
          :rules="[val => !!val]"
          hide-bottom-space
        ></q-input>
      </div>
      <!-- เพศ -->
      <div class="q-py-sm">
        <q-select
          dark
          color="amber-13"
          style="width:550px"
          label="เพศ"
          v-model="studentData.sex"
          :options="sexOptions"
          outlined
        ></q-select>
      </div>

      <div class="q-py-sm row items-center" style="width:550px">
        <!-- เทอม -->
        <!-- ล็อคระดับชั้นตอนที่เข้ามาจากหน้า edit -->
        <div align="right">
          <q-select
            :options="termData"
            dark
            color="amber-13"
            style="width:263px"
            label="เทอม"
            v-model="studentData.term"
            outlined
          ></q-select>
        </div>
        <div class="q-px-sm"></div>
        <!-- ปีการศึกษา -->
        <div class="q-ml-sm">
          <q-select
            :options="yearData"
            dark
            color="amber-13"
            style="width:263px"
            label="ปีการศึกษา"
            v-model="studentData.year"
            outlined
          ></q-select>
        </div>
      </div>

      <div class="q-py-sm row items-center" style="width:550px">
        <!-- ระดับชั้น -->
        <!-- ล็อคระดับชั้นตอนที่เข้ามาจากหน้า edit -->
        <div align="right">
          <q-select
            :readonly="$route.name == 'studentedit'"
            :options="classRoomOptions"
            dark
            color="amber-13"
            style="width:263px"
            label="ระดับชั้น"
            v-model="studentData.classRoom"
            outlined
            emit-value
            map-options
          ></q-select>
        </div>

        <div class="q-px-sm">/</div>
        <!-- ห้อง -->
        <div>
          <q-select
            :options="roomOptions"
            dark
            color="amber-13"
            style="width:263px"
            label="ห้อง"
            v-model="studentData.room"
            outlined
          ></q-select>
        </div>
      </div>
      <!-- เลขที่ -->
      <div class="q-py-sm">
        <q-select
          :options="noOptions"
          dark
          color="amber-13"
          style="width:550px"
          label="เลขที่"
          v-model="studentData.no"
          outlined
        ></q-select>
      </div>
      <!-- ผู้ใช้งาน -->
      <div class="q-py-sm">
        <q-input
          readonly
          dark
          color="amber-13"
          style="width:550px"
          label="ผู้ใช้งาน"
          v-model="studentData.user"
          outlined
        ></q-input>
      </div>
      <!-- รหัสผ่าน -->
      <div class="q-py-sm">
        <q-input
          v-show="$route.name == 'studentadd'"
          readonly
          dark
          color="amber-13"
          style="width:550px"
          label="รหัสผ่าน"
          v-model="studentData.password"
          outlined
        ></q-input>
        <q-input
          v-show="$route.name == 'studentedit'"
          dark
          color="amber-13"
          style="width:550px"
          label="รหัสผ่าน"
          v-model="studentData.password"
          outlined
        ></q-input>
      </div>
      <!-- ปุ่ม -->
      <div class="row q-pt-lg">
        <div class="col-6 q-pr-sm" align="right">
          <q-btn @click="cancelBtn" label="ยกเลิก" style="width:170px" class="bg7 text-black"></q-btn>
        </div>
        <div class="col-6 q-pl-sm" align="left">
          <q-btn
            @click="saveBtn()"
            label="บันทึก"
            style="width:170px"
            class="bg1 text-black"
            :disable="isSaveData"
          ></q-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";

export default {
  data() {
    return {
      termData: ["1", "2"],
      yearData: [
        "2562",
        "2563",
        "2564",
        "2565",
        "2566",
        "2567",
        "2568",
        "2569",
        "2570",
      ],
      sexOptions: ["ชาย", "หญิง"],
      noOptions: [],
      roomOptions: [],
      classRoomOptions: [
        {
          value: "ป.1",
          label: "ป.1",
        },
        {
          value: "ป.2",
          label: "ป.2",
        },
        {
          value: "ป.3",
          label: "ป.3",
        },
        {
          value: "ป.4",
          label: "ป.4",
        },
        {
          value: "ป.5",
          label: "ป.5",
        },
        {
          value: "ป.6",
          label: "ป.6",
        },
        {
          value: "ม.1",
          label: "ม.1",
        },
        {
          value: "ม.2",
          label: "ม.2",
        },
        {
          value: "ม.3",
          label: "ม.3",
        },
        {
          value: "ม.4",
          label: "ม.4",
        },
        {
          value: "ม.5",
          label: "ม.5",
        },
        {
          value: "ม.6",
          label: "ม.6",
        },
      ],
      studentData: {
        number: this.$q.localStorage.getItem("studentIdCheck"),
        name: "",
        surname: "",
        sex: "ชาย",
        classRoom: "ป.1",
        room: "1",
        no: 1,
        level: "0",
        term: "",
        year: "",
        user: "",
        // this.$q.localStorage
        //   .getItem("studentSchoolSelected")
        //   .label.substr(0, 3) +
        // this.$q.localStorage.getItem("studentIdCheck"),
        password: "",
        schoolKey: this.$q.localStorage.getItem("studentSchoolSelected").value,
      },

      isSaveData: false,
    };
  },
  methods: {
    cancelBtn() {
      this.$router.push("/student");
    },
    async saveBtn() {
      this.$refs.name.validate();
      this.$refs.surname.validate();

      if (this.$refs.name.hasError || this.$refs.surname.hasError) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
        return;
      }

      this.isSaveData = true;
      // this.loadingShow();
      //Check user exists
      let studentCheck = await db
        .collection("student")
        .where("term", "==", this.studentData.term)
        .where("year", "==", this.studentData.year)
        .where("number", "==", this.studentData.number)
        .where("schoolKey", "==", this.studentData.schoolKey)
        .get();

      //กรณีพบว่า user ในเทอมนี้แล้ว
      if (studentCheck.size > 0) {
        this.$q
          .dialog({
            dark: true,
            message: "ต้องการอัพเดทข้อมูลเก่าใช่หรือไหม",
            cancel: true,
            persistent: true,
          })
          .onOk(() => {
            this.saveExistData(studentCheck.docs[0].id);
          });
        return;
      } else {
        // กรณีเป็นนักเรียนใหม่
        this.saveData();
      }
      return;
    },

    // บันทึกข้อมูลนักเรียนใหม่
    async saveData() {
      // เช็ค Level
      let checkLevel = await db
        .collection("student")
        .where("schoolKey", "==", this.studentData.schoolKey)
        .where("classRoom", "==", this.studentData.classRoom)
        .where("room", "==", this.studentData.room)
        .where("term", "==", this.studentData.term)
        .where("year", "==", this.studentData.year)
        .get();

      if (checkLevel.size > 0) {
        if (checkLevel.docs[0].data().level > 0) {
          this.studentData.level = checkLevel.docs[0].data().level;
        }
      }

      db.collection("student")
        .add(this.studentData)
        .then(() => {
          this.notifyGreen("บันทึกข้อมุลเรียบร้อยแล้ว");
          this.$q.localStorage.remove("studentIdCheck");

          this.$q.localStorage.set(
            "studentRoomSelected",
            this.studentData.classRoom + "/" + this.studentData.room
          );
          this.$router.push("/student");
        });
    },

    async saveExistData(studentId) {
      // เช็ค Level
      let checkLevel = await db
        .collection("student")
        .where("schoolKey", "==", this.studentData.schoolKey)
        .where("classRoom", "==", this.studentData.classRoom)
        .where("room", "==", this.studentData.room)
        .where("term", "==", this.studentData.term)
        .where("year", "==", this.studentData.year)
        .get();

      if (checkLevel.size > 0) {
        if (checkLevel.docs[0].data().level > 0) {
          this.studentData.level = checkLevel.docs[0].data().level;
        }
      }

      db.collection("student")
        .doc(studentId)
        .update(this.studentData)
        .then(() => {
          // update data in log
          // db.collection("studentplacementlog")
          //   .where("studentKey", "==", studentId)
          //   .where("term", "==", this.studentData.term)
          //   .where("year", "==", this.studentData.year)
          //   .get()
          //   .then(doc => {
          //     doc.forEach(data => {
          //       db.collection("studentplacementlog")
          //         .doc(data.id)
          //         .update({
          //           studentNo: this.studentData.no,
          //           room: this.studentData.room,
          //           studentName:
          //             this.studentData.name + " " + this.studentData.surname
          //         });
          //     });
          //   });

          // db.collection("studentprepostlog")
          //   .doc(data.id)
          //   .update({
          //     studentNo: this.studentData.no,
          //     room: this.studentData.room,
          //     studentName:
          //       this.studentData.name + " " + this.studentData.surname
          //   });
          // db.collection("studentquestionnairelog")
          //   .doc(data.id)
          //   .update({
          //     studentNo: this.studentData.no,
          //     room: this.studentData.room,
          //     studentName:
          //       this.studentData.name + " " + this.studentData.surname
          //   });

          // MOVE STUDENT PRACTICE LOG
          db.collection("studentpracticelog")
            .where("studentKey", "==", studentId)
            .where("term", "==", this.studentData.term)
            .where("year", "==", this.studentData.year)
            .get()
            .then((doc) => {
              doc.forEach((element) => {
                db.collection("studentpracticelog")
                  .doc(element.id)
                  .update({
                    class: this.studentData.classRoom,
                    room: this.studentData.room.toString(),
                    studentNo: this.studentData.no,
                    studentName:
                      this.studentData.name + " " + this.studentData.surname,
                  });
              });
            });

          // MOVE STUDENT PLACEMENT LOG
          db.collection("studentplacementlog")
            .where("studentKey", "==", studentId)
            .where("term", "==", this.studentData.term)
            .where("year", "==", this.studentData.year)
            .get()
            .then((doc) => {
              doc.forEach((element) => {
                db.collection("studentplacementlog")
                  .doc(element.id)
                  .update({
                    class: this.studentData.classRoom,
                    room: this.studentData.room.toString(),
                    studentNo: this.studentData.no,
                    studentName:
                      this.studentData.name + " " + this.studentData.surname,
                  });
              });
            });

          // MOVE STUDENT PREPOST LOG
          db.collection("studentprepostlog")
            .where("studentKey", "==", studentId)
            .where("term", "==", this.studentData.term)
            .where("year", "==", this.studentData.year)
            .get()
            .then((doc) => {
              doc.forEach((element) => {
                db.collection("studentprepostlog")
                  .doc(element.id)
                  .update({
                    class: this.studentData.classRoom,
                    room: this.studentData.room.toString(),
                    studentNo: this.studentData.no,
                    studentName:
                      this.studentData.name + " " + this.studentData.surname,
                  });
              });
            });

          // MOVE STUDENT PREPOST LOG
          db.collection("missionvote")
            .where("studentKey", "==", studentId)
            .where("term", "==", this.studentData.term)
            .where("year", "==", this.studentData.year)
            .get()
            .then((doc) => {
              doc.forEach((element) => {
                db.collection("missionvote").doc(element.id).update({
                  class: this.studentData.classRoom,
                  room: this.studentData.room.toString(),
                });
              });
            });

          this.notifyGreen("บันทึกข้อมุลเรียบร้อยแล้ว");
          this.$q.localStorage.remove("studentIdCheck");

          this.$q.localStorage.set(
            "studentRoomSelected",
            this.studentData.classRoom + "/" + this.studentData.room
          );

          this.$router.push("/student");
        });
    },
    loadEdit() {
      this.loadingShow();
      db.collection("student")
        .doc(this.$route.params.key)
        .get()
        .then((doc) => {
          this.studentData = doc.data();
          this.loadingHide();
        });
    },
    async loadTermYear() {
      this.studentData.user =
        this.$q.localStorage
          .getItem("studentSchoolSelected")
          .label.substr(0, 3) + this.$q.localStorage.getItem("studentIdCheck");

      await db
        .collection("term")
        .doc("data")
        .get()
        .then((data) => {
          this.studentData.term = data.data().term;
          this.studentData.year = data.data().year;
        });
    },
  },
  async mounted() {
    for (let i = 1; i <= 200; i++) {
      this.roomOptions.push(i.toString());
      this.noOptions.push(i);
    }

    await this.loadTermYear();
    // this.runNum();
    if (this.$route.name == "studentedit") {
      this.loadEdit();
    } else {
      this.studentData.password = (
        Number(this.$q.localStorage.getItem("studentIdCheck")) *
        Number(this.studentData.year)
      )
        .toString()
        .substr(
          (
            Number(this.$q.localStorage.getItem("studentIdCheck")) *
            Number(this.studentData.year)
          ).toString().length - 4
        );
    }
  },
};
</script>

<style lang="scss" scoped></style>
