<template>
  <div>
    <div class="text-h5 q-pt-lg" align="center">{{titlePage}}</div>
    <div align="center" class="q-pa-md">{{schoolname}}</div>
    <!-- <div align="center" class="q-pa-md">{{schoolNameShow(dataInput.schoolKey)}}</div> -->
    <div align="center">
      <q-input
        label="ชื่อ"
        color="amber-13"
        dark
        outlined
        style="width:600px;"
        v-model="dataInput.name"
      />
      <q-input
        color="amber-13"
        label="นามสกุล"
        dark
        outlined
        style="width:600px;"
        v-model="dataInput.surname"
        class="q-py-md"
      />
      <q-input
        color="amber-13"
        label="เบอร์โทรศัพท์"
        mask="##########"
        dark
        outlined
        style="width:600px;"
        v-model="dataInput.userName"
      />
      <q-input
        v-if="addMode"
        color="amber-13"
        label="รหัสผ่าน"
        dark
        outlined
        readonly
        style="width:600px;"
        class="q-py-md"
        v-model="dataInput.password"
      />
      <q-input
        v-if="!addMode"
        color="amber-13"
        label="รหัสผ่าน"
        dark
        outlined
        style="width:600px;"
        class="q-py-md"
        v-model="dataInput.password"
      />
      {{passwordgen}}
      <div class="row q-pt-md" style="width:600px;">
        <div class="col-6 q-pr-sm" align="right">
          <q-btn label="ยกเลิก" class="bg7 cl3" style="width:160px" @click="cancelBtn()"></q-btn>
        </div>
        <div class="col-6 q-pl-sm" align="left">
          <q-btn label="บันทึก" class="bg1 cl3" style="width:160px" @click="saveBtn()"></q-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      dataInput: {
        schoolKey: this.$route.params.schoolKey,
        name: "",
        surname: "",
        userName: "",
        password: ""
      },
      dataInputOld: [],
      titlePage: "",
      addMode: true,
      schoolname: ""
    };
  },
  methods: {
    cancelBtn() {
      this.$router.push("/teacher");
    },
    async saveBtn() {
      //check input ทุกค่า
      //check เบอร์โทรศัพท์ 10 ตำแหน่ง
      if (
        !(
          this.dataInput.name.length > 0 &&
          this.dataInput.surname.length > 0 &&
          this.dataInput.userName.length == 10
        )
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
        return;
      }

      if (this.addMode) {
        //กรณีเพิ่มชื่อ
        db.collection("teacher")
          .where("name", "==", this.dataInput.name)
          .where("surname", "==", this.dataInput.surname)
          .get()
          .then(doc => {
            //***ตรวจสอบชื่อ - นามสกุล ห้ามซ้ำ
            if (doc.size > 0) {
              this.notifyRed("ชื่อคุณครูนี้ได้ทำการลงทะเบียนไว้ก่อนแล้ว");
              return;
            } else {
              //***ตรวจสอบ - เบอร์โทร ห้ามซ้ำ
              db.collection("teacher")
                .where("userName", "==", this.dataInput.userName)
                .get()
                .then(doc2 => {
                  if (doc2.size > 0) {
                    this.notifyRed(
                      "เบอร์โทรศัพท์นี้ได้ทำการลงทะเบียนไว้ก่อนแล้ว"
                    );
                    return;
                    //***ทำการบันทึกข้อมูล
                  } else {
                    db.collection("teacher")
                      .add(this.dataInput)
                      .then(() => {
                        //***ขึ้นข้อความ และ redirect
                        this.notifyGreen("บันทึกข้อมูลสำเร็จ");
                        this.$router.push("/teacher");
                      });
                  }
                });
            }
          });
      } else {
        //กรณีแก้ไขชื่อ
        //Check condition pass

        this.$q.loading.show({ delay: 400 });
        let pass1 = 0;
        let pass2 = 0;

        if (this.dataInput.password.length != 4) {
          this.notifyRed("รหัสผ่านต้องเป็นตัวเลข 4 หลัก");
          this.$q.loading.hide();
          return;
        }
        //***ตรวจสอบว่ามีการเปลี่ยนแปลงชื่อนามสกุลหรือเปล่าว
        if (
          !(
            this.dataInputOld.name == this.dataInput.name &&
            this.dataInputOld.surname == this.dataInput.surname
          )
        ) {
          //***ถ้ามีการเปลี่ยนแปลง check ซ้ำ
          let checkNameAndSurname = await db
            .collection("teacher")
            .where("name", "==", this.dataInput.name)
            .where("surname", "==", this.dataInput.surname)
            .get();
          // .then(async doc => {
          //***ตรวจสอบชื่อ - นามสกุล ห้ามซ้ำ
          if (checkNameAndSurname.size > 0) {
            this.notifyRed("ชื่อคุณครูนี้ได้ทำการลงทะเบียนไว้ก่อนแล้ว");
            this.$q.loading.hide();
            return;
          } else {
            pass1 = 1;
          }
        } else {
          pass1 = 1;
        }
        //***ตรวจสอบว่ามีการเปลี่ยนแปลงเบอร์โทรหรือเปล่าว
        if (this.dataInputOld.userName != this.dataInput.userName) {
          //***ถ้ามีการเปลี่ยนแปลง check ซ้ำ
          let checkUsernameAndPassword = await db
            .collection("teacher")
            .where("userName", "==", this.dataInput.userName)
            .get();
          // .then(async doc2 => {
          //***ตรวจสอบ username ห้ามซ้ำ
          if (checkUsernameAndPassword.size > 0) {
            this.notifyRed("เบอร์โทรศัพท์นี้ได้ทำการลงทะเบียนไว้ก่อนแล้ว");
            this.$q.loading.hide();
            return;
          } else {
            pass2 = 1;
          }
        } else {
          pass2 = 1;
        }
        if (pass1 == 1 && pass2 == 1) {
          db.collection("teacher")
            .doc(this.$route.params.teacherKey)
            .set(this.dataInput)
            .then(() => {
              //***ขึ้นข้อความ และ redirect
              this.$q.loading.hide();
              this.notifyGreen("บันทึกข้อมูลสำเร็จ");
              this.$router.push("/teacher");
            });
        } else if (pass1 == 0 && pass2 == 0) {
          this.$q.loading.hide();
          this.notifyGreen("บันทึกข้อมูลสำเร็จ");
          this.$router.push("/teacher");
        }

        //***ทำการบันทึกข้อมูล
        //***ขึ้นข้อความ และ redirect
      }
    },
    loadSchool() {
      db.collection("school")
        .doc(this.$route.params.schoolKey)
        .get()
        .then(data => {
          this.schoolname = data.data().schoolCode + " - " + data.data().name;
        });
    },
    loadData() {
      db.collection("teacher")
        .doc(this.$route.params.teacherKey)
        .get()
        .then(data => {
          this.dataInput = data.data();
          this.dataInputOld = data.data();
        });
    }
  },
  computed: {
    passwordgen() {
      if (this.addMode) {
        if (this.dataInput.userName.length == 10) {
          this.dataInput.password = this.dataInput.userName.substring(6);
        } else {
          this.dataInput.password = "";
        }
      }
    }
  },
  mounted() {
    this.loadSchool();
    if (this.$route.name == "teacheradd") {
      this.titlePage = "เพิ่มคุณครู";
      this.addMode = true;
    } else {
      this.titlePage = "แก้ไขคุณครู";
      this.addMode = false;
      this.loadData();
    }
  }
};
</script>

<style scoped>
</style>