<template>
  <div style="max-width:1100px;margin:auto">
    <div class="q-py-md text-center text-h5">คุณครู</div>
    <div class="row justify-center">
      <div class="col" align="center">
        <div style="width:500px;">
          <q-select
            label="ชื่อโรงเรียน"
            color="amber-13"
            v-model="schoolKey"
            dark
            :options="schoolType"
            emit-value
            map-options
            @input="loadTeacher()"
          />
        </div>
        <!-- <school-option @data="schoolKeyShow"></school-option> -->
      </div>
      <div class="q-py-lg q-pr-md" align="right">
        <q-btn @click="addBtn()" round class="bg1 cl2" icon="fas fa-plus"></q-btn>
      </div>
    </div>
    <div class="q-pa-md">
      <q-table
        :data="teacherData"
        :columns="columns"
        row-key="name"
        :pagination.sync="pagination"
        square
        dark
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="userName" :props="props">{{ props.row.name }} {{props.row.surname}}</q-td>
            <q-td key="tel" :props="props">
              {{
              props.row.userName.substr(0, 3) +
              "-" +
              props.row.userName.substr(3, 3) +
              "-" +
              props.row.userName.substr(6)
              }}
            </q-td>
            <q-td key="password" :props="props">{{ props.row.password }}</q-td>
            <q-td style="width:100px" @click="deleteBtn(props.row.key)" key="delete" :props="props">
              <q-icon class="cl1 cursor-pointer" size="18px" name="fas fa-trash-alt" />
            </q-td>
            <q-td style="width:100px" @click="editBtn(props.row.key)" key="edit" :props="props">
              <q-icon class="cl1 cursor-pointer" size="18px" name="fas fa-edit" />
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
// import schoolOption from "../../components/schooloption.vue";
import { all } from "q";
export default {
  data() {
    return {
      schoolKey: "",
      pagination: {
        rowsPerPage: 0
      },
      useDel: true,
      columns: [
        {
          name: "userName",
          align: "left",
          label: "ขื่อ-นามสกุล",
          field: "userName"
        },
        {
          name: "tel",
          align: "center",
          label: "เบอร์โทรศัพท์",
          field: "tel"
        },
        {
          name: "password",
          align: "center",
          label: "รหัสผ่าน",
          field: "password"
        },
        {
          name: "delete",
          align: "center",
          label: "ลบ",
          field: "delete"
        },
        {
          name: "edit",
          align: "center",
          label: "แก้ไข",
          field: "edit"
        }
      ],
      final: "",
      nameteacher: [],
      teacherData: [],
      schoolData: [],
      schoolType: [],
      schoolLocal: ""
    };
  },
  // components: {
  //   schoolOption
  // },
  methods: {
    loadSchoolData() {
      this.schoolData = [];
      db.collection("school")
        .get()
        .then(doc => {
          doc.forEach(element => {
            let dataKey = {
              key: element.id
            };
            let final = {
              ...dataKey,
              ...element.data()
            };
            this.schoolData.push(final);
            this.schoolData.sort((a, b) => {
              return Number(a.schoolCode) - Number(b.schoolCode);
            });
          });
          this.loadData();
        });
    },
    loadData() {
      let temp = [];
      let final = [];
      let dataKey = [];
      this.schoolData.forEach(data => {
        temp = {
          label: data.schoolCode + " - โรงเรียน " + data.name,
          value: data.key
        };
        this.schoolType.push(temp);
      });
      this.schoolType.forEach(element => {
        final.push(element.value);
      });
      dataKey = final.filter(x => {
        return x == this.$q.localStorage.getItem("schoolKey");
      });
      let finalKey = dataKey;
      let data = finalKey.toString();
      if (data != this.$q.localStorage.getItem("schoolKey")) {
        this.$q.localStorage.set("schoolKey", this.schoolType[0].value);
        this.schoolKey = this.$q.localStorage.getItem("schoolKey");
        this.loadTeacher();
        return;
      }
      if (!this.$q.localStorage.getItem("schoolKey")) {
        this.$q.localStorage.set("schoolKey", this.schoolType[0].value);
      }
      this.schoolKey = this.$q.localStorage.getItem("schoolKey");
      this.loadTeacher();
    },
    loadTeacher() {
      this.$q.localStorage.set("schoolKey", this.schoolKey);
      this.teacherData = [];
      db.collection("teacher")
        .where("schoolKey", "==", this.schoolKey)
        .get()
        .then(doc => {
          doc.forEach(element => {
            let userData = {
              key: element.id
            };
            let final = {
              ...userData,
              ...element.data()
            };
            this.teacherData.push(final);
          });
        });
    },
    addBtn() {
      this.$router.push(
        "/teacher/add/" + this.$q.localStorage.getItem("schoolKey")
      );
    },
    schoolKeyShow(value) {
      this.schoolKey = value.schoolKey;
      this.loadTeacher();
    },
    deleteBtn(key) {
      if (!this.useDel) {
        return;
      }
      this.useDel = false;
      db.collection("school")
        .get()
        .then(doc => {
          this.useDel = true;
          let data1 = [];
          let data2 = "";
          let name = [];
          doc.forEach(element => {
            name.push(element.data().contactName);
          });
          let datav = name.filter(x => {
            return x.length > 0;
          });
          datav.forEach(element1 => {
            this.final = element1.filter(x => {
              return x != 0;
            });

            this.final.forEach(element2 => {
              if (key == element2) {
                data2 = element2;
                return;
              }
            });
          });
          if (key == data2) {
            this.$q.dialog({
              title: "แจ้งเตือน",
              message: "ไม่สามารถลบชื่อผู้ใช้งานนี้ได้เนื่องจากมีการใช้งานอยู่",
              ok: "ตกลง",
              // cancel: "ยกเลิก",
              dark: true,
              persistent: true
            });
          } else {
            this.$q
              .dialog({
                title: "คุณต้องการลบข้อมูลนี้ใช่หรือไม่",
                dark: true,
                cancel: "ยกเลิก",
                ok: "ตกลง"
              })
              .onOk(() => {
                db.collection("teacher")
                  .doc(key)
                  .delete()
                  .then(() => {
                    this.notifyGreen("ลบข้อมูลเรียบร้อยแล้ว");
                    this.loadTeacher();
                  });
              });
          }
        });
    },
    editBtn(key) {
      this.$router.push(
        "/teacher/edit/" + key + "/" + this.$q.localStorage.getItem("schoolKey")
      );
    }
  },
  mounted() {
    this.loadSchoolData();
  }
};
</script>

<style scoped>
</style>
