<template>
  <q-page>
    <div align="center" class="q-ma-md text-h5">
      <div>แก้ไขข้อมูลส่วนตัว</div>
    </div>
    <div class="q-ma-lg" align="center">
      <div>
        <q-input
          class="q-mb-md"
          style="width:600px"
          color="amber-13"
          dark
          readonly
          outlined
          v-model="user.name"
          label="ชื่อ"
        />
      </div>
      <div>
        <q-input
          class="q-mb-md"
          style="width:600px"
          color="amber-13"
          dark
          outlined
          v-model="user.tel"
          label="เบอร์โทรศัพท์"
          mask="##########"
        />
      </div>
      <div>
        <q-input
          class="q-mb-md"
          style="width:600px"
          color="amber-13"
          dark
          outlined
          v-model="user.password"
          label="รหัสผ่าน"
          mask="####"
        />
      </div>
    </div>
    <div class="row justify-center">
      <div>
        <q-btn
          @click="cancel()"
          class="q-ma-md text-black"
          style="width:140px"
          label="ยกเลิก"
          color="white"
        ></q-btn>
      </div>
      <div>
        <q-btn
          @click="saveData()"
          class="q-ma-md text-black"
          style="width:140px"
          label="บันทึก"
          color="amber-13"
        ></q-btn>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      userData: this.$q.localStorage.getItem("userData"),
      user: { name: "", tel: "", password: "" },
      oldtel: ""
    };
  },
  methods: {
    cancel() {
      this.$router.push("/monitor");
    },
    saveData() {
      this.loadingShow();
      let key = this.userData.key;
      if (this.user.tel == this.oldtel) {
        db.collection("user")
          .doc(key)
          .set(this.user)
          .then(() => {
            this.loadingHide();
            this.notifyGreen("บันทึกเรียบร้อย");
            this.$router.push("/monitor");
          });
      } else {
        db.collection("user")
          .where("tel", "==", this.user.tel)
          .get()
          .then(doc => {
            if (doc.size > 0) {
              this.notifyRed("เบอร์นี้ถูกใช้งานแล้ว");
              this.loadingHide();
              return;
            } else {
              db.collection("user")
                .doc(key)
                .update(this.user)
                .then(() => {
                  this.loadingHide();
                  this.notifyGreen("บันทึกเรียบร้อย");
                  this.$router.push("/monitor");
                });
            }
          });
      }
    },
    loadData() {
      this.loadingShow();
      let key = this.userData.key;
      db.collection("user")
        .doc(key)
        .get()
        .then(doc => {
          this.user = doc.data();
          this.oldtel = doc.data().tel;
          this.loadingHide();
        });
    },
    saveProfile() {
      this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
    },
    cancelProfile() {}
  },
  mounted() {
    this.loadData();
  }
};
</script>

<style lang="scss" scoped></style>
