<template>
  <div class="q-px-md">
    <div v-if="$route.name == 'useradd'" align="center" class="q-py-lg text-h5">ผู้ดูแลระบบ</div>
    <div v-if="$route.name == 'useredit'" align="center" class="q-py-lg text-h5">แก้ไขผู้ดูแลระบบ</div>

    <div align="center">
      <div class="text-body1">
        <q-input
          v-if="this.user.name != 'admin'"
          color="amber-13"
          dark
          label="ชื่อ"
          v-model="user.name"
          outlined
          style="width:100% ; max-width:1364px"
        ></q-input>
        <q-input
          v-if="this.user.name == 'admin'"
          readonly
          color="amber-13"
          dark
          label="ชื่อ"
          v-model="user.name"
          outlined
          style="width:100% ; max-width:1364px"
        ></q-input>
      </div>
      <div class="text-body1 q-py-md">
        <q-input
          color="amber-13"
          dark
          label="เบอร์โทรศัพท์"
          v-model="user.tel"
          mask="##########"
          outlined
          style="width:100% ; max-width:1364px"
        ></q-input>
      </div>
      <div class="text-body1">
        <q-input
          color="amber-13"
          v-if="$route.name == 'useradd'"
          readonly
          dark
          label="รหัสผ่าน"
          :value="user.tel.substring(6)"
          outlined
          style="width:100% ; max-width:1364px"
        ></q-input>
      </div>
      <div class="text-body1">
        <q-input
          color="amber-13"
          v-if="$route.name == 'useredit'"
          dark
          label="รหัสผ่าน"
          v-model="user.password"
          outlined
          style="width:100% ; max-width:1364px"
        ></q-input>
      </div>
    </div>
    <div v-show="this.user.name != 'admin'">
      <div class="q-py-md" style="width:100% ; max-width:1364px;margin:auto">
        สิทธิ์การใช้งาน
        <q-checkbox
          @input="selectAll()"
          dark
          v-model="permissionsAll"
          label="ทั้งหมด"
          class="q-pl-lg"
          color="amber-13"
        />
      </div>
      <div class="row justify-center z-top">
        <div class="row col-9 items-center">
          <div class="col-2">จัดการระดับการเรียน</div>
          <div class="col-10">
            <q-checkbox
              dark
              @input="selectOne()"
              v-model="user.permissions"
              val="menulevel"
              label="ระดับการเรียน"
              color="amber-13"
            />
          </div>
        </div>
      </div>
      <div class="row justify-center">
        <div class="row col-9 items-center q-pt-md">
          <div class="col-2">จัดการแบบฝึกหัด</div>
          <div class="col-10">
            <div class="row">
              <div class="col-2">
                <q-checkbox
                  dark
                  @input="selectOne()"
                  v-model="user.permissions"
                  label="แบบฝึกหัด"
                  val="menupractice"
                  color="amber-13"
                />
              </div>
              <div class="col-2">
                <q-checkbox
                  dark
                  @input="selectOne()"
                  v-model="user.permissions"
                  label="เสียง"
                  val="menusound"
                  color="amber-13"
                />
              </div>
              <div class="col-2">
                <q-checkbox
                  dark
                  @input="selectOne()"
                  v-model="user.permissions"
                  label="คลังข้อสอบ"
                  val="menuexam"
                  color="amber-13"
                />
              </div>
              <div class="col-2">
                <q-checkbox
                  dark
                  @input="selectOne()"
                  v-model="user.permissions"
                  label="วัดระดับ"
                  val="menuplacement"
                  color="amber-13"
                />
              </div>
              <div class="col-2">
                <q-checkbox
                  dark
                  @input="selectOne()"
                  v-model="user.permissions"
                  label="ความพึงพอใจ"
                  val="menuquestionnaire"
                  color="amber-13"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-center">
        <div class="row col-9 items-center q-pt-md">
          <div class="col-2">จัดการโรงเรียน</div>
          <q-checkbox
            dark
            @input="selectOne()"
            v-model="user.permissions"
            label="โรงเรียน"
            val="menuschool"
            color="amber-13"
          />
        </div>
      </div>
      <div class="row justify-center">
        <div class="row col-9 items-center q-pt-md">
          <div class="col-2">ผู้ใช้งาน</div>
          <div class="col-10">
            <div class="row">
              <div class="col-2">
                <q-checkbox
                  dark
                  @input="selectOne()"
                  v-model="user.permissions"
                  label="คุณครู"
                  val="menuteacher"
                  color="amber-13"
                />
              </div>
              <div class="col-2">
                <q-checkbox
                  dark
                  @input="selectOne()"
                  v-model="user.permissions"
                  label="นักเรียน"
                  val="menustudent"
                  color="amber-13"
                />
              </div>
              <div class="col-2">
                <q-checkbox
                  dark
                  @input="selectOne()"
                  v-model="user.permissions"
                  label="ผู้ดูแลระบบ"
                  val="menuadmin"
                  color="amber-13"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row q-pt-xl">
      <div class="col-6 q-pr-sm" align="right">
        <q-btn label="ยกเลิก" class="bg7 cl3" style="width:160px" @click="cancelBtn()"></q-btn>
      </div>
      <div class="col-6 q-pl-sm">
        <q-btn label="บันทึก" class="bg1 cl3" style="width:160px" @click="saveBtn()"></q-btn>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";

export default {
  data() {
    return {
      telOld: "",
      nameOld: "",
      permissionsAll: false,

      test: [
        "menulevel",
        "menuschool",
        "menuteacher",
        "menustudent",
        "menusound",
        "menuadmin",
        "menuexam",
        "menuplacement",
        "menupractice",
        "menuquestionnaire"
      ],
      user: { name: "", tel: "", password: "", permissions: [], userKey: "" }
    };
  },
  methods: {
    cancelBtn() {
      this.$router.push("/user/");
    },
    selectAll() {
      if (this.permissionsAll == true) {
        this.user.permissions = this.test;
      } else {
        this.user.permissions = [];
      }
    },
    selectOne() {
      if (this.user.permissions.length == this.test.length) {
        this.permissionsAll = true;
      } else {
        this.permissionsAll = false;
      }
    },
    async saveBtn() {
      if (
        // กรณีกรอกข้อมูลไม่ครบ
        this.user.name == "" ||
        this.user.tel == "" ||
        this.user.tel.length != 10
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
        return;
      }
      if (this.user.name.length > 0) {
        if (this.$route.name == "useradd") {
          this.loadingShow();
          this.user.password = this.user.tel.substring(6);
          this.user.userKey = Math.floor(Math.random() * 9999999999 + 1);
          db.collection("user")
            .where("name", "==", this.user.name)
            .get()
            .then(doc => {
              if (doc.size > 0) {
                this.notifyRed("ชื่อนี้ถูกใช้งานแล้ว");
                this.loadingHide();
              } else {
                db.collection("user")
                  .where("tel", "==", this.user.tel)
                  .get()
                  .then(doc => {
                    if (doc.size > 0) {
                      this.notifyRed("เบอร์โทรนี้ถูกใช้งานแล้ว");
                      this.loadingHide();
                    } else {
                      db.collection("user")
                        .add(this.user)
                        .then(() => {
                          this.notifyGreen("บันทึกข้อมูลสำเร็จ");
                          this.user = {
                            name: "",
                            tel: "",
                            password: "",
                            permissions: []
                          };
                          this.$router.push("/user");
                          this.loadingHide();
                        });
                    }
                  });
              }
            });
        } else {
          // บันทึกหน้าแก้ไข
          // กรณีไม่มีการเปลี่ยนเบอร์โทรและชื่อ
          if (this.telOld == this.user.tel && this.nameOld == this.user.name) {
            db.collection("user")
              .doc(this.$route.params.key)
              .update(this.user)
              .then(() => {
                this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
                this.$router.push("/user");
              });
          } else {
            //  กรณีมีการเปลี่ยนชื่อ หรือ/และเบอร์โทร
            // กรณีมีการเปลี่ยนชื่อ
            if (this.nameOld != this.user.name) {
              let checkuser = await db
                .collection("user")
                .where("name", "==", this.user.name)
                .get();

              if (checkuser.size > 0) {
                this.notifyRed("ชื่อนี้มีการใช้งานแล้ว");
                return;
              }
            }
            //กรณีมีการเปลี่ยนเบอร์โทร
            if (this.telOld != this.user.tel) {
              let checkuser2 = await db
                .collection("user")
                .where("tel", "==", this.user.tel)
                .get();

              if (checkuser2.size > 0) {
                this.notifyRed("เบอร์โทรนี้ถูกใช้งานแล้ว");
                return;
              }
            }
            // กรณีตรวจสอบการเปลี่ยนเบอร์โทร / ชื่อ
            db.collection("user")
              .doc(this.$route.params.key)
              .update(this.user)
              .then(() => {
                this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
                this.$router.push("/user");
              });
          }
        }
      }
    },
    loadEdit() {
      this.loadingShow();
      db.collection("user")

        .doc(this.$route.params.key)
        .get()
        .then(doc => {
          this.user = doc.data();

          this.telOld = doc.data().tel;
          this.nameOld = doc.data().name;

          if (this.test.length == this.user.permissions.length) {
            this.permissionsAll = true;
          }
          this.loadingHide();
        });
    }
  },
  mounted() {
    if (this.$route.name == "useredit") {
      this.loadEdit();
    }
  }
};
</script>

<style scoped>
.brx {
  border: 1px solid red;
}
</style>
