<template>
  <div style="max-width:1100px;margin:auto">
    <div class="row">
      <div style="width:120px"></div>
      <div align="center" class="q-py-md text-h5 col">ผู้ดูแลระบบ</div>

      <div class="q-py-md row" align="right">
        <div style="200px">
          <q-btn
            class="q-mt-xs bg1 cl2"
            :label="'ปีการศึกษา ' + term + '/' + year"
            @click="setTermBtn()"
          />
        </div>

        <div class="q-px-md">
          <q-btn @click="addBtn()" round class="bg1 cl2" icon="fas fa-plus"></q-btn>
        </div>
      </div>
    </div>
    <div class="q-pa-md">
      <q-table
        :data="data"
        :columns="columns"
        row-key="name"
        :pagination.sync="pagination"
        square
        dark
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="userName" :props="props">{{props.row.name}}</q-td>

            <q-td
              key="tel"
              :props="props"
              style="width:100px;"
            >{{props.row.tel.substr(0,3) +"-" +props.row.tel.substr(3,3)+"-"+ props.row.tel.substr(6)}}</q-td>

            <q-td key="password" :props="props" style="width:150px;">{{props.row.password}}</q-td>
            <q-td key="level" :props="props" style="width:50px;">
              <q-icon
                name="fas fa-check"
                :class="{'cl1': props.row.levelkey == 2, 'cl4': props.row.levelkey == 0 }"
              ></q-icon>
            </q-td>
            <q-td key="practice" :props="props" style="width:50px;">
              <q-icon
                name="fas fa-check"
                :class="{'cl1': props.row.studykey == 2, 'cl4': props.row.studykey == 0, 'text-white': props.row.studykey == 1 }"
              ></q-icon>
            </q-td>
            <q-td key="school" :props="props" style="width:50px;">
              <q-icon
                name="fas fa-check"
                :class="{'cl1': props.row.schoolkey == 2, 'cl4': props.row.schoolkey == 0 }"
              ></q-icon>
            </q-td>
            <q-td key="user" :props="props" style="width:50px;">
              <q-icon
                name="fas fa-check"
                :class="{'cl1': props.row.userkey == 2, 'cl4': props.row.userkey == 0, 'text-white': props.row.userkey == 1 }"
              ></q-icon>
            </q-td>

            <q-td key="delete" :props="props" style="width:100px;">
              <q-icon
                v-show="props.row.name != 'admin'"
                @click="deleteBtn(props.row.key)"
                class="cl1 cursor-pointer"
                size="18px"
                name="fas fa-trash-alt"
              />
              <q-icon
                v-show="props.row.name == 'admin'"
                class="cl5"
                size="18px"
                name="fas fa-trash-alt"
              />
            </q-td>

            <q-td key="edit" :props="props" style="width:100px;">
              <q-icon
                @click="editBtn(props.row.key)"
                class="cl1 cursor-pointer"
                size="18px"
                name="fas fa-edit"
              />
            </q-td>
          </q-tr>
        </template>
      </q-table>
      <div class="row q-pa-sm text-body2">
        <div class="col-3">
          <q-icon name="fas fa-check" class="cl4"></q-icon>
          <span class="q-px-sm">ไม่มีการใช้งาน</span>
        </div>
        <div class="col-3">
          <q-icon name="fas fa-check" class="cl7"></q-icon>
          <span class="q-px-sm">เปิดใช้งานบ้างเมนู</span>
        </div>
        <div class="col-3">
          <q-icon name="fas fa-check" class="cl1"></q-icon>
          <span class="q-px-sm">เปิดการใช้งานทั้งหมด</span>
        </div>
      </div>
    </div>

    <!-- dialog เลือก Level -->
    <div>
      <q-dialog v-model="setTermDialog" persistent content-class="backdrop">
        <q-card dark style="min-width: 600px" class="q-pa-md">
          <div class="text-h6 text-center">ปีการศึกษา</div>

          <div class="q-py-sm">
            <q-select
              color="amber-13"
              dark
              outlined
              square
              v-model="input.term"
              :options="termData"
              label="เทอม"
            />
          </div>
          <div class="q-py-sm">
            <q-select
              color="amber-13"
              dark
              outlined
              square
              v-model="input.year"
              :options="yearData"
              label="ปีการศึกษา"
            />
          </div>

          <div class="row q-pt-md">
            <div class="col-6 q-pr-sm" align="right">
              <q-btn label="ยกเลิก" class="bg7 cl3" style="width:160px" v-close-popup></q-btn>
            </div>
            <div class="col-6 q-pl-sm">
              <q-btn label="บันทึก" class="bg1 cl3" style="width:160px" @click="saveBtn()"></q-btn>
            </div>
          </div>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";

import { all } from "q";
export default {
  data() {
    return {
      input: {
        term: "2",
        year: "2562"
      },
      term: "",
      year: "",
      termData: ["1", "2"],
      yearData: [
        "2562",
        "2563",
        "2564",
        "2565",
        "2566",
        "2567",
        "2568",
        "2569",
        "2570"
      ],
      setTermDialog: false,
      pagination: {
        rowsPerPage: 0
      },
      columns: [
        {
          name: "userName",
          align: "left",
          label: "ขื่อ",
          field: "userName"
        },
        {
          name: "tel",
          align: "center",
          label: "เบอร์โทรศัพท์",
          field: "tel"
        },
        {
          name: "password",
          align: "center",
          label: "รหัสผ่าน",
          field: "password"
        },
        {
          name: "level",
          align: "center",
          label: "การเรียน"
        },
        {
          name: "practice",
          align: "center",
          label: "แบบฝึกหัด"
        },
        {
          name: "school",
          align: "center",
          label: "โรงเรียน"
        },
        {
          name: "user",
          align: "center",
          label: "ผู้ใช้งาน"
        },
        {
          name: "delete",
          align: "center",
          label: "ลบ",
          field: "delete"
        },

        {
          name: "edit",
          align: "center",
          label: "แก้ไข",
          field: "edit"
        }
      ],
      data: []
    };
  },
  methods: {
    loadTermYear() {
      db.collection("term")
        .doc("data")
        .get()
        .then(data => {
          this.input.term = data.data().term;
          this.term = this.input.term;
          this.input.year = data.data().year;
          this.year = this.input.year;
        });
    },
    saveBtn() {
      this.$q
        .dialog({
          dark: true,
          message: "ยืนยันการเปลี่ยนแปลง",
          cancel: true,
          persistent: true
        })
        .onOk(() => {
          db.collection("term")
            .doc("data")
            .update({
              term: this.input.term,
              year: this.input.year
            });
          this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
          this.$q.localStorage.set("termYear", {
            term: this.input.term.toString(),
            year: this.input.year.toString()
          });
          this.term = this.input.term.toString();
          this.year = this.input.year.toString();
          this.setTermDialog = false;
        });
    },
    loadUser() {
      this.data = [];
      this.loadingShow();
      db.collection("user")
        .get()
        .then(doc => {
          doc.forEach(element => {
            let userData = {
              key: element.id
            };
            let levelkey = {};
            // check สถานการณ์เรียน
            if (element.data().permissions.includes("menulevel")) {
              levelkey = {
                levelkey: 2
              };
            } else {
              levelkey = {
                levelkey: 0
              };
            }

            //check สถานะแบบฝึกหัด
            let studykey = {
              studykey: 0
            };
            if (
              element.data().permissions.includes("menupractice") &&
              element.data().permissions.includes("menusound") &&
              element.data().permissions.includes("menuexam") &&
              element.data().permissions.includes("menuplacement") &&
              element.data().permissions.includes("menuquestionnaire")
            ) {
              studykey = {
                studykey: 2
              };
            } else if (
              element.data().permissions.includes("menupractice") ||
              element.data().permissions.includes("menusound") ||
              element.data().permissions.includes("menuexam") ||
              element.data().permissions.includes("menuplacement") ||
              element.data().permissions.includes("menuquestionnaire")
            ) {
              studykey = {
                studykey: 1
              };
            }

            // check โรงเรียน
            let schoolkey = {
              schoolkey: 0
            };
            if (element.data().permissions.includes("menuschool")) {
              schoolkey = {
                schoolkey: 2
              };
            }

            //check ผู้ใช้งาน
            let userkey = {
              userkey: 0
            };
            if (
              element.data().permissions.includes("menustudent") &&
              element.data().permissions.includes("menuteacher") &&
              element.data().permissions.includes("menuadmin")
            ) {
              userkey = {
                userkey: 2
              };
            } else if (
              element.data().permissions.includes("menustudent") ||
              element.data().permissions.includes("menuteacher") ||
              element.data().permissions.includes("menuadmin")
            ) {
              userkey = {
                userkey: 1
              };
            }

            let final = {
              ...userData,
              ...element.data(),
              ...levelkey,
              ...studykey,
              ...schoolkey,
              ...userkey
            };
            this.data.push(final);
          });
          this.data.sort((a, b) => {
            return a.name < b.name ? -1 : 1;
          });
          this.loadingHide();
        });
    },
    addBtn() {
      this.$router.push("/user/add");
    },

    editBtn(key) {
      this.$router.push("/user/edit/" + key);
    },
    deleteBtn(key) {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "ต้องการที่จะลบข้อมูลใช่หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก",
          dark: true,
          persistent: true
        })
        .onOk(() => {
          db.collection("user")
            .doc(key)
            .delete()
            .then(() => {
              this.notifyGreen("ลบข้อมูลเรียบร้อยแล้ว");
              this.loadUser();
            });
        });
    },
    setTermBtn() {
      this.input.term = this.term;
      this.input.year = this.year;
      this.setTermDialog = true;
    }
  },
  mounted() {
    this.loadTermYear();
    this.loadUser();
  }
};
</script>

<style scoped>
</style>