<template>
  <div>
    <div>
      <q-toolbar align="center">
        <q-toolbar-title class="text-h5">School Learning</q-toolbar-title>
      </q-toolbar>
    </div>

    <div class="row justify-center" style="max-width:1200px;width:100%;margin:auto;">
      <div class="col-6 q-pa-md">
        <q-select
          label-color="white"
          popup-content-class="bg-black"
          color="bg-blue-grey-7"
          input-class="text-white"
          v-model="school.key"
          outlined
          bg-color="blue"
          use-input
          hide-selected
          fill-input
          emit-value
          map-options
          input-debounce="0"
          label="เลือกโรงเรียน"
          :options="schoolOptions"
          :rules="[val => !!val]"
          hide-bottom-space
          ref="schoolkey"
          @filter="filterFn"
        ></q-select>
      </div>
      <div class="col q-pa-md">
        <q-select
          label-color="white"
          popup-content-class="bg-black"
          color="bg-blue-grey-7"
          input-class="text-white"
          bg-color="blue"
          filled
          use-input
          fill-input
          hide-selected
          v-model="school.class"
          label="ชั้น"
          :options="classOptions"
          :readonly="!school.key || !classOptions.length"
          :rules="[val => !!val]"
          ref="classroom"
          hide-bottom-space
          @input="changeRoom"
        ></q-select>
      </div>
      <div class="col q-pa-md">
        <q-select
          label-color="white"
          popup-content-class="bg-black"
          color="blue-grey-7"
          input-class="text-white"
          bg-color="blue"
          filled
          use-input
          fill-input
          hide-selected
          v-model="school.room"
          label="ห้อง"
          :options="roomOptions"
          :readonly="!school.key || !roomOptions.length"
          :rules="[val => !!val]"
          ref="room"
          hide-bottom-space
        ></q-select>
      </div>
      <div class="col-1 self-center" style="width:70px;">
        <q-btn @click="Search()" label="ค้นหา" round class="bg-blue" push :loading="isSearch"></q-btn>
      </div>
    </div>

    <div class="row q-pa-xs justify-center" v-show="isLoadData">
      <div class="col-12 row">
        <q-separator class="bg-blue" />
        <div class="col-12 row justify-center q-my-lg">
          <div class="col-12" align="center">
            <span class="text-h6">{{ schoolDataShow }}</span>
          </div>

          <div class="col-6 q-mt-lg">
            <q-expansion-item
              class="bg-blue-grey-7"
              expand-icon-class="text-white"
              :label="'รายชื่อนักเรียน ' + ' (' + showStudentList.length + ')'"
              v-model="isShowStudent"
            >
              <q-card>
                <q-table
                  :data="showStudentList"
                  :columns="columnsStudent"
                  :pagination="paginationStudent"
                  row-key="no"
                  hide-bottom
                  separator="cell"
                >
                  <template v-slot:body="props">
                    <q-tr :props="props" :class="props.row.no % 2 == 1 ? 'bg-grey-3' : ''">
                      <q-td key="no" :props="props">{{ props.row.no }}</q-td>
                      <q-td key="name" :props="props">{{ props.row.name + " " + props.row.surname }}</q-td>
                      <q-td key="username" :props="props">{{ props.row.user }}</q-td>
                      <q-td key="password" :props="props">{{ props.row.password }}</q-td>
                    </q-tr>
                  </template>
                </q-table>
              </q-card>
            </q-expansion-item>
          </div>

          <!-- <div class="col-12 q-pa-md" align="center">
            <q-btn label="ลบข้อมูลแบบฝึกหัดทั้งหมด" @click="resetAllSchool()"></q-btn>
          </div>-->
        </div>

        <q-separator class="bg-blue" />
      </div>

      <div class="col-12">
        <div class="q-mt-lg q-my-lg" align="center">
          <span class="text-h6">สถานะการทำ Pre-Post</span>
        </div>

        <div class="q-mb-md row justify-center" align="center">
          <div class="q-mx-md">
            <div class="q-pb-sm">Per-Test</div>
            <q-btn
              round
              flat
              class="text-red-8"
              v-if="!preTestData"
              @click="updatePrePost('pretest',false)"
            >
              <q-icon size="lg" name="sentiment_very_dissatisfied"></q-icon>
            </q-btn>
            <q-btn class="text-positive" round flat v-else @click="updatePrePost('pretest',true)">
              <q-icon size="lg" name="sentiment_very_satisfied"></q-icon>
            </q-btn>
          </div>
          <div class="q-mx-md">
            <div class="q-pb-sm">Post-Test</div>
            <q-btn
              round
              flat
              class="text-red-8"
              v-if="!postTestData"
              @click="updatePrePost('posttest',false)"
            >
              <q-icon size="lg" name="sentiment_very_dissatisfied"></q-icon>
            </q-btn>
            <q-btn class="text-positive" round flat v-else @click="updatePrePost('posttest',false)">
              <q-icon size="lg" name="sentiment_very_satisfied"></q-icon>
            </q-btn>
          </div>
        </div>
        <q-separator class="bg-blue" />
      </div>

      <div class="col-12 q-my-lg" align="center">
        <span class="text-h6">รายการแบบฝึกหัด</span>
        <div align="center" class="col-12" v-if="classroomPracticeList == ''">
          <span class="text-red text-subtitle1">ไม่มีข้อมูล</span>
        </div>
      </div>

      <div class="col-12 row">
        <div
          class="col items-start row q-mb-lg"
          v-show="classroomPracticeList"
          v-for="(obj,index) in classroomPracticeList"
          :key="index"
        >
          <q-list bordered class="rounded-borders fit">
            <q-expansion-item
              default-opened
              expand-separator
              expand-icon-class="text-black"
              :label="index"
            >
              <q-card class="bg-transparent">
                <q-scroll-area style="height: 500px;" visible>
                  <q-table
                    :data="obj"
                    :columns="columnsPractice"
                    rows-per-page-label="จำนวนแสดง"
                    hide-header
                    row-key="name"
                    :pagination="pagination"
                    dark
                    hide-pagination
                    separator="horizontal"
                    class="bg-blue-grey-7"
                  >
                    <template v-slot:body="props">
                      <q-tr :props="props">
                        <!-- <q-td key="world" :props="props">
                          <div style="font-size:14px;">
                            <q-badge color="purple" :label="props.row.skill" />
                          </div>
                        </q-td>-->
                        <q-td key="practice" class="no-padding" :props="props">
                          <div class="q-pa-sm">
                            <div
                              style="font-size:14px;width:170px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
                              class="text-white"
                            >Practice : {{props.row.practiceType}}</div>
                            <div style="font-size:12px;" class="text-grey-5">
                              <div>{{"Level : " + props.row.level + " Unit : " + props.row.unit}}</div>
                            </div>
                          </div>
                        </q-td>
                        <q-td key="button" :props="props">
                          <div class>
                            <q-btn
                              v-if="props.row.practiceType != 'flashcard' && props.row.practiceType != 'grammarlesson'  && props.row.practiceType != 'review vocab' && props.row.practiceType != 'review grammar' && props.row.practiceType != 'languagetips' && props.row.practiceType != 'roleplay' && props.row.practiceType != 'speaking'"
                              size="sm"
                              round
                              flat
                              icon="fas fa-undo-alt"
                              @click="resetPractice(props.row.practiceType,props.row.practiceKey,props.row.id)"
                            ></q-btn>
                          </div>
                        </q-td>
                      </q-tr>
                    </template>
                  </q-table>
                </q-scroll-area>
              </q-card>
            </q-expansion-item>
          </q-list>
        </div>
      </div>

      <q-separator class="bg-blue" />

      <div class="col-6 row">
        <div class="col-12 q-my-lg" align="center">
          <span class="text-h6">รายการภารกิจ</span>
          <div align="center" class="col-12" v-if="classroomMissionList == ''">
            <span class="text-red text-subtitle1">ไม่มีข้อมูล</span>
          </div>
        </div>

        <div
          class="col-4 items-start row q-mb-lg"
          v-show="classroomMissionList"
          v-for="(obj,index) in classroomMissionList"
          :key="index"
        >
          <div class="col-12 row justify-center">
            <span class="text-h6">{{index[0].toUpperCase() + index.substring(1)}}</span>

            <div class="col-12 row q-pa-sm" align="left" v-for="(item,index2) in obj" :key="index2">
              <div class="col-12 shadow-3 rounded-borders row">
                <div class="col">
                  <q-item class="bg-blue-grey-7 text-white rounded-borders">
                    <q-item-section>
                      <q-item-label class="text-subtitle1">Mission : {{item.missionName}}</q-item-label>
                      <q-item-label class="text-grey-5" caption>Level : {{item.missionLevel}}</q-item-label>
                      <q-item-label class="text-grey-5" caption>Goal : {{item.missionGoal}}</q-item-label>
                      <q-item-label class="text-grey-5" caption>Status : {{item.status}}</q-item-label>
                    </q-item-section>
                  </q-item>
                </div>
              </div>
            </div>
            <div class="col-12 row q-pa-sm" align="left" v-show="!obj.length">
              <div class="col-12 shadow-3 rounded-borders row">
                <div class="col">
                  <q-item class="bg-blue-grey-7 rounded-borders text-white">
                    <q-item-section>
                      <q-item-label class="text-subtitle1">Mission : -</q-item-label>
                      <q-item-label class="text-grey-5" caption>Level : -</q-item-label>
                      <q-item-label class="text-grey-5" caption>Goal : -</q-item-label>
                      <q-item-label class="text-grey-5" caption>Status : -</q-item-label>
                    </q-item-section>
                  </q-item>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <q-separator class="bg-blue" />

      <q-dialog v-model="isDialogDelete" persistent>
        <q-card style="width:360px;" class="bg-black">
          <q-card-section>
            <div class="text-h6">กระบวรการลบข้อมูลทั้งหมด</div>
            <div class="text-subtitle2">รายละเอียดข้อมูล</div>
          </q-card-section>

          <q-separator class="bg-blue" />

          <q-card-section>
            <div class="row">
              <!-- Check Delete : Classroom Lesson Log -->
              <div class="col-12 q-pa-sm">
                <span v-if="!isClassroomLessonLog" class="q-pa-sm">
                  <q-spinner-ios color="primary" size="25px" />
                </span>
                <span v-else class="q-pa-sm">
                  <q-icon name="fas fa-check" size="25px" class="text-green"></q-icon>
                </span>
                &nbsp;
                <span>Classroom Lesson Log</span>
              </div>

              <!-- Check Delete : Classroom Practice Log -->
              <div class="col-12 q-pa-sm">
                <span v-if="!isClassroomPracticeLog" class="q-pa-sm">
                  <q-spinner-ios color="primary" size="25px" />
                </span>
                <span v-else class="q-pa-sm">
                  <q-icon name="fas fa-check" size="25px" class="text-green"></q-icon>
                </span>
                &nbsp;
                <span>Classroom Practice Log</span>
              </div>

              <!-- Check Delete : Classroom Mission -->
              <div class="col-12 q-pa-sm">
                <span v-if="!isClassroomMission" class="q-pa-sm">
                  <q-spinner-ios color="primary" size="25px" />
                </span>
                <span v-else class="q-pa-sm">
                  <q-icon name="fas fa-check" size="25px" class="text-green"></q-icon>
                </span>
                &nbsp;
                <span>Classroom Mission</span>
              </div>

              <!-- Check Delete : Mission Vote -->
              <div class="col-12 q-pa-sm">
                <span v-if="!isMissionVote" class="q-pa-sm">
                  <q-spinner-ios color="primary" size="25px" />
                </span>
                <span v-else class="q-pa-sm">
                  <q-icon name="fas fa-check" size="25px" class="text-green"></q-icon>
                </span>
                &nbsp;
                <span>Mission Vote</span>
              </div>

              <!-- Check Delete : Student Practice Log -->
              <div class="col-12 q-pa-sm">
                <span v-if="!isStudentPracticeLog" class="q-pa-sm">
                  <q-spinner-ios color="primary" size="25px" />
                </span>
                <span v-else class="q-pa-sm">
                  <q-icon name="fas fa-check" size="25px" class="text-green"></q-icon>
                </span>
                &nbsp;
                <span>Student Practice Log</span>
              </div>

              <!-- Check Delete : Student Set CurrentExp = 0 -->
              <div class="col-12 q-pa-sm">
                <span v-if="!isStudentCurrentExp" class="q-pa-sm">
                  <q-spinner-ios color="primary" size="25px" />
                </span>
                <span v-else class="q-pa-sm">
                  <q-icon name="fas fa-check" size="25px" class="text-green"></q-icon>
                </span>
                &nbsp;
                <span>Set All Student CurrentExp = 0</span>
              </div>
            </div>
          </q-card-section>

          <q-separator class="bg-blue" />

          <q-card-section>
            <div align="center">
              <q-btn
                class="bg-white text-black"
                :flat="!isClassroomLessonLog || !isClassroomMission || !isClassroomPracticeLog || !isMissionVote || !isStudentPracticeLog || !isStudentCurrentExp"
                label="Finish"
                @click="clearDeleteLog()"
                :disable="!isClassroomLessonLog || !isClassroomMission || !isClassroomPracticeLog || !isMissionVote || !isStudentPracticeLog || !isStudentCurrentExp"
              ></q-btn>
            </div>
          </q-card-section>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
import { db } from "../router";
export default {
  props: {
    // Test Props Data
    schoolList: {
      type: Array,
    },
  },
  data() {
    return {
      world: "1",
      schoolDataShow: "",
      school: {
        name: "",
        key: "",
        class: "",
        room: "",
        term: "",
        year: "",
      },

      columnsStudent: [
        { name: "no", label: "เลขที่", align: "center", style: "width:70px" },
        { name: "name", label: "ชื่อ-นามสกุล", align: "left" },
        {
          name: "username",
          label: "รหัสผู้ใช้งาน",
          align: "center",
          style: "width:150px",
        },
        {
          name: "password",
          label: "รหัสผ่าน",
          align: "center",
          style: "width:150px",
        },
      ],
      paginationStudent: {
        sortBy: "asc",
        rowsPerPage: 0,
      },
      columnsPractice: [
        {
          name: "practice",
          label: "",
          align: "left",
        },
        {
          name: "button",
          label: "",
          align: "center",
        },
      ],
      pagination: {
        sortBy: "asc",
        rowsPerPage: 10,
      },
      schoolOptions: [],
      classOptions: [],
      classroomPracticeList: "",
      classroomMissionList: "",
      roomList: [],
      roomOptions: [],

      // Test Vuese
      studentList: [],
      showStudentList: [],
      isShowStudent: false,

      schoolTestList: [],

      preTestData: "",
      postTestData: "",

      snapClassroomPractice: "",
      snapClassroomMission: "",

      isDialogDelete: false,

      isClassroomLessonLog: false,
      isClassroomPracticeLog: false,
      isClassroomMission: false,
      isMissionVote: false,
      isStudentPracticeLog: false,
      isStudentCurrentExp: false,

      isLoadData: false,
      isSearch: false,
    };
  },

  methods: {
    filterFn(val, update) {
      update(async () => {
        this.isLoadData = false;
        this.isShowStudent = false;

        if (typeof this.snapClassroomPractice == "function") {
          this.snapClassroomPractice();
        }

        if (typeof this.snapClassroomMission == "function") {
          this.snapClassroomMission();
        }

        if (val) {
          this.schoolOptions = this.schoolList.filter(
            (x) => x.label.indexOf(val) > -1
          );
        } else {
          this.schoolOptions = this.schoolList;
        }
      });
    },
    async updatePrePost(type, status) {
      let setDatabase = db.collection("studenttestlog");

      // let apiLink = "https://api.winner-english.com/data/api/gettime.php";
      //   const res = await axios.get(apiLink);
      //   return res.data[0];

      // let getDate = await axios(
      //   "https://us-central1-atwork-dee11.cloudfunctions.net/atworkFunctions/getTime"
      // );

      // console.log(getDate);

      // let testType = {
      //   class: this.school.class,
      //   data: {},
      //   room: this.school.room,
      //   schoolKey: this.school.key,
      //   status: true,
      //   term: this.school.term,
      //   testtype: "",
      //   year: this.school.year,
      // };

      if (type == "pretest") {
        if (status == true) {
          console.log("PRE-TEST DELETE");
          // setDatabase.doc(this.preTestData.id).delete();
        } else {
          console.log("PRE-TEST ADD");
        }
      } else {
        if (status == true) {
          console.log("POST-TEST DELETE");
          // setDatabase.doc(this.preTestData.id).delete();
        } else {
          console.log("POST-TEST ADD");
          // setDatabase.add()
        }
      }
    },
    changeRoom(val) {
      this.roomOptions = this.roomList
        .filter((x) => x.split("/")[0] == val)
        .map((x) => x.split("/")[1]);

      this.school.room = this.roomOptions[0];
    },
    // NOTE : โหลดข้อมูลโรงเรียนและแบบฝึกหัด
    async Search() {
      console.clear();
      this.isLoadData = false;

      this.$refs.schoolkey.validate();
      this.$refs.classroom.validate();
      this.$refs.room.validate();

      if (
        this.$refs.schoolkey.hasError ||
        this.$refs.classroom.hasError ||
        this.$refs.room.hasError
      ) {
        return;
      }

      this.isSearch = true;

      this.classroomPracticeList = [];
      this.classroomMissionList = [];

      this.showStudentList = this.studentList.filter(
        (x) => x.classRoom == this.school.class && x.room == this.school.room
      );

      this.showStudentList.sort((a, b) => {
        return Number(a.no) - Number(b.no);
      });

      let splitName;

      splitName = this.schoolList
        .filter((x) => x.value == this.school.key)[0]
        .label.split("-");

      this.school.name = splitName[1];

      this.schoolDataShow =
        "โรงเรียน" +
        this.school.name +
        " " +
        this.school.class +
        "/" +
        this.school.room;

      let getData = await db.collection("mission").get();

      let tempMission = [];
      getData.forEach((result) => {
        let newData = {
          id: result.id,
          ...result.data(),
        };

        tempMission.push(newData);
      });

      this.missionList = tempMission;

      getData = await db
        .collection("schooltestlog")
        .where("schoolKey", "==", this.school.key)
        .get();

      getData.forEach((result) => {});

      getData = await db
        .collection("schooltestlog")
        .where("schoolKey", "==", this.school.key)
        .where("class", "==", this.school.class)
        .where("room", "==", this.school.room)
        .where("term", "==", this.school.term)
        .where("year", "==", this.school.year)
        .get();

      getData.forEach((result) => {
        let newData = {
          id: result.id,
          ...result.data(),
        };

        if (result.data().testtype == "pretest") {
          this.preTestData = newData;
        }

        if (result.data().testtype == "posttest") {
          this.postTestData = newData;
        }
      });

      this.snapClassroomPractice = db
        .collection("classroomPracticeLog")
        .where("schoolKey", "==", this.school.key)
        .where("class", "==", this.school.class)
        .where("room", "==", this.school.room)
        .where("term", "==", this.school.term)
        .where("year", "==", this.school.year)
        .onSnapshot((doc) => {
          let temp = [];

          let vocab = [];
          let grammar = [];
          let reading = [];
          let writing = [];
          let phonics = [];
          let listening = [];

          if (doc.size) {
            doc.forEach((result) => {
              let newData = {
                id: result.id,
                ...result.data(),
              };

              if (result.data().skill == "Vocabulary") {
                vocab.push(newData);
              }

              if (result.data().skill == "Grammar") {
                grammar.push(newData);
              }

              if (result.data().skill == "Reading") {
                reading.push(newData);
              }

              if (result.data().skill == "Writing") {
                writing.push(newData);
              }

              if (result.data().skill == "Phonics") {
                phonics.push(newData);
              }

              if (result.data().skill == "Listening & Speaking") {
                listening.push(newData);
              }

              let newArr = {
                Vocabulary: vocab,
                Grammar: grammar,
                Reading: reading,
                Writing: writing,
                Listening: listening,
              };
              temp = newArr;

              // temp.push(newData);
            });

            temp.Vocabulary.sort((a, b) => {
              return (
                Number(a.unit) - Number(b.unit) ||
                Number(a.order) - Number(b.order)
              );
            });

            temp.Grammar.sort((a, b) => {
              return (
                Number(a.unit) - Number(b.unit) ||
                Number(a.order) - Number(b.order)
              );
            });

            temp.Reading.sort((a, b) => {
              return (
                Number(a.unit) - Number(b.unit) ||
                Number(a.order) - Number(b.order)
              );
            });

            temp.Writing.sort((a, b) => {
              return (
                Number(a.unit) - Number(b.unit) ||
                Number(a.order) - Number(b.order)
              );
            });

            temp.Listening.sort((a, b) => {
              return (
                Number(a.unit) - Number(b.unit) ||
                Number(a.order) - Number(b.order)
              );
            });
          }

          this.classroomPracticeList = temp;

          this.isSearch = false;
          this.isLoadData = true;
        });

      this.snapClassroomMission = db
        .collection("classroomMission")
        .where("schoolKey", "==", this.school.key)
        .where("class", "==", this.school.class)
        .where("room", "==", this.school.room)
        .where("term", "==", this.school.term)
        .where("year", "==", this.school.year)
        .onSnapshot((doc) => {
          let temp = [];
          let missionShip = [];
          let missionBuddy = [];
          let missionTreasure = [];

          if (doc.size) {
            doc.forEach((result) => {
              let mission = tempMission.filter(
                (x) => x.id == result.data().currentMissionKey
              )[0];

              let newData = {
                id: result.id,
                missionName: mission.name,
                missionLevel: mission.level,
                missionGoal: mission.goal,
                ...result.data(),
              };

              if (newData.missionName == "เรือ") {
                missionShip.push(newData);
              }

              if (newData.missionName == "สมบัติ") {
                missionTreasure.push(newData);
              }

              if (newData.missionName == "คู่หู") {
                missionBuddy.push(newData);
              }

              let finalData = {
                ship: missionShip,
                buddy: missionBuddy,
                treasure: missionTreasure,
              };

              temp = finalData;
            });

            temp.ship.sort((a, b) => {
              return Number(a.missionLevel) - Number(b.missionLevel);
            });

            temp.buddy.sort((a, b) => {
              return Number(a.missionLevel) - Number(b.missionLevel);
            });

            temp.treasure.sort((a, b) => {
              return Number(a.missionLevel) - Number(b.missionLevel);
            });
          }

          this.classroomMissionList = temp;

          this.isSearch = false;
        });
    },
    resetPractice(type, practiceKey, id) {
      console.clear();
      this.$q
        .dialog({
          title: "รีเซ็ทแบบฝึกหัด",
          message: "ยืนยันการรีเซ็ทแบบฝึกหัดนี้",
          ok: "ตกลง",
          cancel: "ยกเลิก",
          dark: true,
        })
        .onOk(async () => {
          this.loadingShow();

          let getData = await db
            .collection("classroomPracticeLog")
            .doc(id)
            .delete();

          getData = await db
            .collection("studentpracticelog")
            .where("practiceKey", "==", practiceKey)
            .where("schoolKey", "==", this.school.key)
            .where("class", "==", this.school.class)
            .where("room", "==", this.school.room)
            .where("term", "==", this.school.term)
            .where("year", "==", this.school.year)
            .get();

          if (getData.size) {
            getData.forEach((doc) => {
              db.collection("studentpracticelog").doc(doc.id).delete();
            });
          }

          this.loadingHide();
        })
        .onCancel(() => {
          console.log("ยกเลิก");
          return;
        });
    },
    resetAllSchool() {
      this.$q
        .dialog({
          title: "รีเซ็ทข้อมูล",
          message: "ยืนยันการรีเซ็ทข้อมูลทั้งหมด",
          ok: "ตกลง",
          cancel: "ยกเลิก",
          dark: true,
        })
        .onOk(async () => {
          console.clear();
          this.isDialogDelete = true;

          let getTermAndYear = await this.getTermAndYear();

          let getData;

          console.log("GET : Classroom Lesson Log");

          // GET Classroom Lesson Log
          getData = await db
            .collection("classroomLessonLog")
            .where("schoolKey", "==", this.school.key)
            .where("class", "==", this.school.class)
            .where("room", "==", this.school.room)
            .where("term", "==", this.school.term)
            .where("year", "==", this.school.year)
            .get();

          console.log("Totle Data : " + getData.size);

          if (getData.size) {
            getData.forEach(async (result) => {
              // DELETE Classroom Lesson Log
              await db.collection("classroomLessonLog").doc(result.id).delete();
            });

            setTimeout(() => {
              this.isClassroomLessonLog = true;
            }, 1500);

            console.log("Active : Delete Complete");
          } else {
            setTimeout(() => {
              this.isClassroomLessonLog = true;
            }, 1500);

            console.log("Active : NO DATA");
          }

          console.log(" ");

          console.log("----- GET Classroom Practice Log -----");

          // GET Classroom Practice Log
          getData = await db
            .collection("classroomPracticeLog")
            .where("schoolKey", "==", this.school.key)
            .where("class", "==", this.school.class)
            .where("room", "==", this.school.room)
            .where("term", "==", this.school.term)
            .where("year", "==", this.school.year)
            .get();

          console.log("Totle Data : " + getData.size);

          if (getData.size) {
            getData.forEach(async (result) => {
              // DELETE Classroom Practice Log
              await db
                .collection("classroomPracticeLog")
                .doc(result.id)
                .delete();
            });

            setTimeout(() => {
              this.isClassroomPracticeLog = true;
            }, 1500);

            console.log("Active : Delete Complete");
          } else {
            setTimeout(() => {
              this.isClassroomPracticeLog = true;
            }, 1500);

            console.log("Active : NO DATA");
          }

          console.log(" ");

          console.log("----- GET Classroom Mission -----");

          // GET Classroom Mission
          getData = await db
            .collection("classroomMission")
            .where("schoolKey", "==", this.school.key)
            .where("class", "==", this.school.class)
            .where("room", "==", this.school.room)
            .where("term", "==", this.school.term)
            .where("year", "==", this.school.year)
            .get();

          console.log("Totle Data : " + getData.size);

          if (getData.size) {
            getData.forEach(async (result) => {
              // DELETE Classroom Mission
              await db.collection("classroomMission").doc(result.id).delete();
            });

            setTimeout(() => {
              this.isClassroomMission = true;
            }, 1500);

            console.log("Active : Delete Complete");
          } else {
            setTimeout(() => {
              this.isClassroomMission = true;
            }, 1500);

            console.log("Active : NO DATA");
          }

          console.log(" ");

          console.log("----- GET Mission Vote -----");

          // GET Mission Vote
          getData = await db
            .collection("missionvote")
            .where("schoolKey", "==", this.school.key)
            .where("class", "==", this.school.class)
            .where("room", "==", this.school.room)
            .where("term", "==", this.school.term)
            .where("year", "==", this.school.year)
            .get();

          console.log("Totle Data : " + getData.size);

          if (getData.size) {
            getData.forEach(async (result) => {
              // DELETE Mission Vote
              await db.collection("missionvote").doc(result.id).delete();
            });

            setTimeout(() => {
              this.isMissionVote = true;
            }, 1500);

            console.log("Active : Delete Complete");
          } else {
            setTimeout(() => {
              this.isMissionVote = true;
            }, 1500);

            console.log("Active : NO DATA");
          }

          console.log(" ");

          console.log("----- GET Student Practice log -----");

          // GET Student Practice log
          getData = await db
            .collection("studentpracticelog")
            .where("schoolKey", "==", this.school.key)
            .where("class", "==", this.school.class)
            .where("room", "==", this.school.room)
            .where("term", "==", this.school.term)
            .where("year", "==", this.school.year)
            .get();

          console.log("Totle Data : " + getData.size);

          if (getData.size) {
            getData.forEach(async (result) => {
              // DELETE Student Practice log
              await db.collection("studentpracticelog").doc(result.id).delete();
            });

            setTimeout(() => {
              this.isStudentPracticeLog = true;
            }, 1500);

            console.log("Active : Delete Complete");
          } else {
            setTimeout(() => {
              this.isStudentPracticeLog = true;
            }, 1500);

            console.log("Active : NO DATA");
          }

          console.log(" ");

          console.log("----- GET All Student Reset Current Exp -----");

          // GET Student
          getData = await db
            .collection("student")
            .where("schoolKey", "==", this.school.key)
            .where("classRoom", "==", this.school.class)
            .where("room", "==", this.school.room)
            .where("term", "==", this.school.term)
            .where("year", "==", this.school.year)
            .get();

          console.log("Totle Data : " + getData.size);

          if (getData.size) {
            getData.forEach(async (result) => {
              // UPDATE All Student Current Exp = 0
              await db
                .collection("student")
                .doc(result.id)
                .update({ currentExp: 0 });
            });

            setTimeout(() => {
              this.isStudentCurrentExp = true;
            }, 1500);

            console.log("Active : Update Complete");
          } else {
            setTimeout(() => {
              this.isStudentCurrentExp = true;
            }, 1500);

            console.log("Active : NO DATA");
          }
        })
        .onCancel(() => {
          console.log("ยกเลิก");
          return;
        });

      return;
    },
    clearDeleteLog() {
      this.isClassroomLessonLog = false;
      this.isClassroomMission = false;
      this.isClassroomPracticeLog = false;
      this.isMissionVote = false;
      this.isStudentPracticeLog = false;
      this.isStudentCurrentExp = false;

      this.isDialogDelete = false;
    },
    async loadData() {
      let getTermAndYear = await this.getTermAndYear();

      this.school.term = getTermAndYear.term;
      this.school.year = getTermAndYear.year;
    },
    async loadStudentAll() {
      this.loadingShow();
      return new Promise((resolve) => {
        db.collection("student")
          .where("term", "==", this.school.term)
          .where("year", "==", this.school.year)
          .where("schoolKey", "==", this.school.key)
          .get()
          .then((doc) => {
            let temp = [];
            doc.forEach((result) => {
              let newData = {
                id: result.id,
                ...result.data(),
              };
              temp.push(newData);
            });
            this.studentList = temp;

            let getClass = temp.map((x) => {
              return x.classRoom;
            });

            let getRoom = temp.map((x) => {
              return x.classRoom + "/" + x.room;
            });

            getClass = [...new Set(getClass)].sort((a, b) => (a > b ? 1 : -1));

            this.school.class = getClass[0];
            this.classOptions = getClass;

            getRoom = [...new Set(getRoom)].sort((a, b) => (a > b ? 1 : -1));

            this.roomList = getRoom;

            getRoom = getRoom
              .filter((x) => x.split("/")[0] == this.school.class)
              .map((x) => {
                return x.split("/")[1];
              });

            this.school.room = getRoom[0];

            this.roomOptions = getRoom;

            resolve("โหลดข้อมูลนักเรียนทั้งหมดเสร็จสิ้น");
          });
      });
    },

    async getDateAndTime() {
      let apiLink = "https://api.winner-english.com/data/api/gettime.php";
      const res = await axios.get(apiLink);
      return res.data[0];
    },
    getTermAndYear() {
      return new Promise((a, b) => {
        db.collection("term")
          .doc("data")
          .get()
          .then((getTermAndYear) => {
            let newData = {
              term: getTermAndYear.data().term,
              year: getTermAndYear.data().year,
            };

            a(newData);
          });
      });
    },
  },
  watch: {
    "school.key": {
      async handler() {
        if (this.school.key) {
          let get = await this.loadStudentAll();

          if (get) {
            this.loadingHide();
          }
        }
      },
      deep: true,
    },
  },

  mounted() {
    this.loadData();
  },
  beforeDestroy() {
    if (typeof this.snapClassroomPractice == "function") {
      this.snapClassroomPractice();
    }

    if (typeof this.snapClassroomMission == "function") {
      this.snapClassroomMission();
    }
  },
};
</script>

<style lang="scss" scoped>
</style>