<template>
  <div>
    <div style="width:400px;">
      <q-select
        label="ชื่อโรงเรียน"
        color="amber-13"
        v-model="schoolTypeChoose"
        dark
        :options="schoolType"
        emit-value
        map-options
        @input="returnData()"
      />
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
export default {
  data() {
    return {
      schoolTypeChoose: "",
      schoolData: [],
      schoolType: []
    };
  },
  methods: {
    returnData() {
      this.$q.localStorage.set("schoolSelected", this.schoolTypeChoose);
      this.$emit("data", { schoolKey: this.schoolTypeChoose });
    },
    loadSchoolData() {
      this.schoolData = [];
      db.collection("school")
        .get()
        .then(doc => {
          doc.forEach(element => {
            let dataKey = {
              key: element.id
            };
            let final = {
              ...dataKey,
              ...element.data()
            };
            this.schoolData.push(final);
            this.schoolData.sort((a, b) => {
              return Number(a.schoolCode) - Number(b.schoolCode);
            });
          });
          this.loadData();
        });
    },
    loadData() {
      let temp = [];
      this.schoolData.forEach(data => {
        temp = {
          label: data.schoolCode + " - โรงเรียน " + data.name,
          value: data.key
        };
        this.schoolType.push(temp);
      });
      if (!this.$q.localStorage.getItem("schoolSelected")) {
        this.$q.localStorage.set("schoolSelected", this.schoolType[0].value);
      }
      this.schoolTypeChoose = this.$q.localStorage.getItem("schoolSelected");
    }
  },
  mounted() {
    this.loadSchoolData();
  }
};
</script>

<style lang="scss" scoped></style>
