<template>
  <div>
    <q-btn
      :disable="isSync || !status"
      @click="syncBtn()"
      round
      text-color="black"
      :class="{'bg5' : isSync || !status,'bg1 cl2' : !isSync || status}"
      icon="fas fa-sync-alt"
    />
  </div>
</template>

<script>
import { db } from "../router/index.js";
export default {
  props: ["practiceKey", "status"],
  data() {
    return {
      // isSync: true,
      snapCheckSyncQuestionStatus: "",
      snapCheckSyncContentStatus: "",
      isSyncContent: true,
      isSyncQuestion: true
    };
  },
  methods: {
    checkSync() {
      this.snapCheckSyncQuestionStatus = db
        .collection("practicepool_draft")
        .where("practicekey", "==", this.practiceKey)
        .onSnapshot(doc => {
          this.isSyncQuestion = true;
          let temp = [];
          doc.forEach(element => {
            temp.push(element.data().status);
          });
          if (temp.includes("added") || temp.includes("delete")) {
            this.isSyncQuestion = false;
          }
        });

      this.snapCheckSyncContentStatus = db
        .collection("readingcontent_draft")
        .where("practicekey", "==", this.practiceKey)
        .onSnapshot(doc => {
          this.isSyncContent = true;
          let temp = [];
          doc.forEach(element => {
            temp.push(element.data().status);
          });
          if (temp.includes("added") || temp.includes("delete")) {
            this.isSyncContent = false;
          }
        });
    },
    syncBtn() {
      if (!this.isSyncQuestion) {
        this.syncQuestionBtn();
      }
      if (!this.isSyncContent) {
        this.syncContentBtn();
      }
    },
    syncContentBtn() {
      this.loadingShow();
      setTimeout(() => {
        let counter = 0;
        let counter2 = 0;
        db.collection("readingcontent_draft")
          .where("practicekey", "==", this.practiceKey)
          .get()
          .then(doc => {
            doc.forEach(async element => {
              if (element.data().status == "added") {
                counter++;
                let newSetData = element.data();
                delete newSetData.status;
                newSetData.status = "updated";

                let checkExtra = await db
                  .collection("readingcontent_server")
                  .doc(element.id)
                  .collection("extraVocab")
                  .get();

                let checkSpeak = await db
                  .collection("readingcontent_server")
                  .doc(element.id)
                  .collection("speakPractice")
                  .get();

                db.collection("readingcontent_server")
                  .doc(element.id)
                  .set(newSetData)
                  .then(() => {
                    if (checkExtra.size) {
                      // กรณีมี collection ExtraVocab
                      checkExtra.forEach(extraElement => {
                        // ลบ คำศัพท์เสริม
                        db.collection("readingcontent_server")
                          .doc(element.id)
                          .collection("extraVocab")
                          .doc(extraElement.id)
                          .delete();
                      });
                    }

                    db.collection("readingcontent_draft")
                      .doc(element.id)
                      .collection("extraVocab")
                      .get()
                      .then(dataExtra => {
                        dataExtra.forEach(dataExtraElement => {
                          db.collection("readingcontent_server")
                            .doc(element.id)
                            .collection("extraVocab")
                            .doc(dataExtraElement.id)
                            .set(dataExtraElement.data());
                        });
                      });

                    if (checkSpeak.size) {
                      // กรณีมี collection speak Practice
                      checkSpeak.forEach(speakPractice => {
                        // ลบ speak practice
                        db.collection("readingcontent_server")
                          .doc(element.id)
                          .collection("speakPractice")
                          .doc(speakPractice.id)
                          .delete();
                      });
                    }

                    db.collection("readingcontent_draft")
                      .doc(element.id)
                      .collection("speakPractice")
                      .get()
                      .then(dataSpeak => {
                        dataSpeak.forEach(dataSpeakElement => {
                          db.collection("readingcontent_server")
                            .doc(element.id)
                            .collection("speakPractice")
                            .doc(dataSpeakElement.id)
                            .set(dataSpeakElement.data());
                        });
                      });

                    db.collection("readingcontent_draft")
                      .doc(element.id)
                      .update({
                        status: "updated"
                      })
                      .then(() => {
                        counter2++;
                        if (counter == counter2) {
                          this.loadingHide();
                        }
                      });
                  });
              } else if (element.data().status == "delete") {
                counter++;
                db.collection("readingcontent_draft")
                  .doc(element.id)
                  .delete()
                  .then(() => {
                    db.collection("readingcontent_draft")
                      .doc(element.id)
                      .delete()
                      .then(() => {
                        counter2++;
                        if (counter == counter2) {
                          this.loadingHide();
                        }
                      });
                  });
              }
            });
          });
      }, 1000);
    },
    syncQuestionBtn() {
      this.loadingShow();
      setTimeout(() => {
        let counter = 0;
        let counter2 = 0;
        db.collection("practicepool_draft")
          .where("practicekey", "==", this.practiceKey)
          .get()
          .then(doc => {
            doc.forEach(async element => {
              if (element.data().status == "added") {
                counter++;
                let newSetData = element.data();
                delete newSetData.status;
                newSetData.status = "updated";

                let checkExtra = await db
                  .collection("practicepool_server")
                  .doc(element.id)
                  .collection("extraVocab")
                  .get();

                db.collection("practicepool_server")
                  .doc(element.id)
                  .set(newSetData)
                  .then(() => {
                    if (checkExtra.size) {
                      // กรณีมี collection ExtraVocab
                      checkExtra.forEach(extraElement => {
                        db.collection("practicepool_server")
                          .doc(element.id)
                          .collection("extraVocab")
                          .doc(extraElement.id)
                          .delete();
                      });
                    }

                    db.collection("practicepool_draft")
                      .doc(element.id)
                      .collection("extraVocab")
                      .get()
                      .then(doc2 => {
                        doc2.forEach(element2 => {
                          db.collection("practicepool_server")
                            .doc(element.id)
                            .collection("extraVocab")
                            .doc(element2.id)
                            .set(element2.data());
                        });
                      });

                    db.collection("practicepool_draft")
                      .doc(element.id)
                      .update({
                        status: "updated"
                      })
                      .then(() => {
                        counter2++;
                        if (counter == counter2) {
                          this.loadingHide();
                        }
                      });
                  });
              } else if (element.data().status == "delete") {
                counter++;
                // db.collection("practicepool_draft")
                //   .doc(element.id)
                //   .delete()
                //   .then(() => {
                //     db.collection("practicepool_server")
                //       .doc(element.id)
                //       .delete()
                //       .then(() => {
                //         counter2++;
                //         if (counter == counter2) {
                //           this.loadingHide();
                //         }
                //       });
                //   });

                // db.collection("practicepool_draft")
                //   .doc(element.id)
                //   .collection("extraVocab")
                //   .get()
                //   .then(doc => {
                //     console.log(doc.size);
                //     if (doc.size) {
                //       doc.forEach(element2 => {
                //         db.collection("practicepool_draft")
                //           .doc(element.id)
                //           .collection("extraVocab")
                //           .doc(element2.id)
                //           .delete()
                //           .then(() => {
                //             db.collection("practicepool_draft")
                //               .doc(element.id)
                //               .delete()
                //               .then(() => {
                //                 // ลบ server
                //                 db.collection("practicepool_server")
                //                   .doc(element.id)
                //                   .collection("extraVocab")
                //                   .get()
                //                   .then(doc => {
                //                     doc.forEach(element3 => {
                //                       db.collection("practicepool_server")
                //                         .doc(element.id)
                //                         .collection("extraVocab")
                //                         .doc(element3.id)
                //                         .delete()
                //                         .then(() => {
                //                           db.collection("practicepool_server")
                //                             .doc(element.id)
                //                             .delete()
                //                             .then(() => {
                //                               counter2++;
                //                               if (counter == counter2) {
                //                                 this.loadingHide();
                //                               }
                //                             });
                //                         });
                //                     });
                //                   });
                //               });
                //           });
                //       });
                //     }
                //   });

                let checkExtra = await db
                  .collection("practicepool_draft")
                  .doc(element.id)
                  .collection("extraVocab")
                  .get();

                let checkExtraServer = await db
                  .collection("practicepool_server")
                  .doc(element.id)
                  .collection("extraVocab")
                  .get();

                if (checkExtra.size) {
                  checkExtra.forEach(extraDraft => {
                    db.collection("practicepool_draft")
                      .doc(element.id)
                      .collection("extraVocab")
                      .doc(extraDraft.id)
                      .delete();
                  });
                }

                db.collection("practicepool_draft")
                  .doc(element.id)
                  .delete();

                if (checkExtraServer.size) {
                  checkExtra.forEach(extraServer => {
                    db.collection("practicepool_server")
                      .doc(element.id)
                      .collection("extraVocab")
                      .doc(extraServer.id)
                      .delete();
                  });
                }
                db.collection("practicepool_server")
                  .doc(element.id)
                  .delete();
              }
            });
            counter2++;
            if (counter == counter2) {
              this.loadingHide();
            }
          });
      }, 1000);
    }
  },
  computed: {
    isSync() {
      return this.isSyncContent && this.isSyncQuestion;
    }
  },
  mounted() {
    this.checkSync();
  },
  beforeDestroy() {
    this.snapCheckSyncQuestionStatus();
    this.snapCheckSyncContentStatus();
  }
};
</script>
