<template>
  <div>
    <div>
      <q-toolbar align="center">
        <q-toolbar-title class="text-h5">Teacher Synchronize</q-toolbar-title>
      </q-toolbar>
    </div>

    <div class="row justify-center" style="max-width:1400px;width:100%;margin:auto;">
      <div class="col q-pa-md">
        <q-table
          :data="teacherSyncListShow"
          :columns="columns"
          row-key="code"
          separator="cell"
          hide-pagination
          :pagination="paginations"
          class="bg-blue-grey-7 text-white"
        >
          <template v-slot:top>
            <div class="row">
              <div class="col-12">
                <span>{{"ปีการศีกษา : " + school.term + "/" + school.year}}</span>
              </div>
              <div class="col-12">
                <span>{{"วันที่ : " + currentDate}}</span>
              </div>
              <div class="col-12">
                <span>จำนวนโรงเรียนที่เข้าใช้งาน : {{ countSchool}}</span>
              </div>
            </div>
            <q-space />
            <q-input
              debounce="300"
              v-model="searchFilter"
              @input="filterSchool"
              style="width:300px;"
              input-class="text-white text-subtitle1"
              color="white"
              rounded
              label="ค้นหา"
              filled
              @focus="isNotSearchMark = true"
              @blur="isNotSearchMark = false"
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </template>

          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
                :class="[isNotSearchMark && (col.name == 'time' || col.name == 'date' ) ? 'bg-negative text-white' : null]"
              >{{ col.label }}</q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr
              :props="props"
              :class="{'bg-red-14':setTimeOutTeacher(props.row.date.microtime,props.row.status) == 'หมดเวลา' && props.row.status == 'online'}"
            >
              <q-td key="code" :props="props">{{ props.row.schoolCode }}</q-td>
              <q-td key="school" :props="props">{{ props.row.schoolName }}</q-td>
              <q-td key="teacher" :props="props">
                <div>
                  <div>คุณครู : {{props.row.teacherName}}</div>
                  <div style="font-size:11px;">
                    ID :
                    <span class="text-grey-6">{{props.row.key}}</span>
                  </div>
                </div>
              </q-td>
              <q-td key="classroom" :props="props">{{props.row.class + "/" + props.row.room}}</q-td>
              <q-td key="practice" :props="props">{{ props.row.currentPage }}</q-td>
              <q-td key="time" :props="props">{{ props.row.currentTime}}</q-td>
              <q-td colspan="3" v-if="props.row.status == 'offline'">
                <div align="center" class="bg-warning" style="height:3px;"></div>
              </q-td>
              <q-td key="date" :props="props" v-if="props.row.status == 'online'">
                <q-badge
                  :color="setTimeOutTeacher(props.row.date.microtime,props.row.status) == 'หมดเวลา' || setTimeOutTeacher(props.row.date.microtime,props.row.status) == 'ไม่อยู่ในระบบ' ? 'negative' : 'green'"
                  :label="setTimeOutTeacher(props.row.date.microtime,props.row.status)"
                />
              </q-td>
              <q-td
                key="status"
                :props="props"
                v-if="props.row.status == 'online'"
              >{{ props.row.status != 'online' ? '-' : 'Online'}}</q-td>
              <q-td key="btn" :props="props" v-if="props.row.status == 'online'">
                <q-btn
                  size="12px"
                  class="bg-warning text-grey-7"
                  icon="fas fa-sign-out-alt"
                  push
                  round
                  @click="signOut(props.row.key)"
                ></q-btn>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index";
export default {
  props: ["schoolList"],
  data() {
    return {
      searchFilter: "",
      teacherList: [],
      teacherSyncList: [],
      teacherSyncListShow: [],
      school: {
        term: "",
        year: "",
      },
      countSchool: 0,
      paginations: {
        sortBy: "desc",
        descending: false,
        page: 1,
        rowsPerPage: 0,
        // rowsNumber: xx if getting data from a server
      },
      currentDate: "",
      isNotSearchMark: false,
      columns: [
        {
          name: "code",
          label: "รหัส",
          align: "left",
          style: "width:50px;",
        },
        {
          name: "school",
          label: "โรงเรียน",
          align: "left",
          style:
            "width:150px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;",
        },
        { name: "teacher", label: "คุณครูผู้สอน", align: "left" },
        {
          name: "classroom",
          label: "ห้อง",
          align: "center",
          style: "width:50px;",
        },
        { name: "practice", label: "แบบฝึกหัด", align: "left" },
        {
          name: "time",
          label: "เวลาใช้งานล่าสุด",
          align: "center",
          style: "width:50px;",
        },
        {
          name: "date",
          label: "Time Out",
          align: "center",
          style: "width:50px;",
        },
        {
          name: "status",
          label: "สถานะ",
          align: "center",
          style: "width:30px;",
        },
        {
          name: "btn",
          label: "",
          align: "center",
          style: "width:30px;",
        },
      ],

      isShowTeacherTimeout: true,

      snapSync: "",
    };
  },
  methods: {
    filterSchool(val) {
      val = val.toLowerCase();

      if (val) {
        this.teacherSyncListShow = this.teacherSyncList.filter((x) => {
          return (
            x.schoolName.toLowerCase().indexOf(val) > -1 ||
            x.schoolCode.toLowerCase().indexOf(val) > -1 ||
            x.status.toLowerCase().indexOf(val) > -1 ||
            x.teacherName.indexOf(val) > -1 ||
            x.key.toLowerCase().indexOf(val) > -1 ||
            x.classRoom.indexOf(val) > -1 ||
            x.currentPage.toLowerCase().indexOf(val) > -1
          );
        });
      } else {
        this.teacherSyncListShow = this.teacherSyncList;
      }
    },
    async signOut(key) {
      this.$q
        .dialog({
          title: "ล็อคเอ้าท์",
          message: "ยืนยันการล็อคเอ้าท์คุณครู",
          ok: "ตกลง",
          cancel: "ยกเลิก",
          dark: true,
        })
        .onOk(async () => {
          await db.collection("synchronize").doc(key).update({
            status: "offline",
          });

          await db.collection("teacher").doc(key).update({
            status: "offline",
          });
        })
        .onCancel(() => {
          return;
        });
    },
    async loadData() {
      let getTermAndYear = await this.getTermAndYear();
      let d = new Date();
      let day = d.getDate() > 9 ? d.getDate() : "0" + d.getDate();
      let month =
        d.getMonth() > 9 ? d.getMonth() + 1 : "0" + (d.getMonth() + 1);
      let year = d.getFullYear();
      this.currentDate = day + "/" + month + "/" + year;

      this.school.term = getTermAndYear.term;
      this.school.year = getTermAndYear.year;

      await this.loadTeacher();

      this.loadTeacherSynchronize();
    },
    async loadTeacher() {
      let getDoc = await db.collection("teacher").get();

      let temp = [];
      getDoc.forEach((result) => {
        let newData = {
          id: result.id,
          ...result.data(),
        };

        temp.push(newData);
      });

      this.teacherList = temp;
    },
    loadTeacherSynchronize() {
      this.snapSync = db
        .collection("synchronize")
        .where("currentDate", "==", this.currentDate)
        .onSnapshot((doc) => {
          let temp = [];
          doc.forEach((result) => {
            let newDataSchool = this.schoolList
              .filter((x) => x.value == result.data().schoolKey)[0]
              .label.split("-");

            let schoolCode = newDataSchool[0];
            let schoolName = newDataSchool[1];

            let setDate = new Date(result.data().date.microtime);

            let newTime = `${
              setDate.getHours() > 9
                ? setDate.getHours()
                : "0" + setDate.getHours()
            }:${
              setDate.getMinutes() > 9
                ? setDate.getMinutes()
                : "0" + setDate.getMinutes()
            }`;

            let teacherData = this.teacherList.filter(
              (x) => x.id == result.id
            )[0];

            let newData = {
              key: result.id,
              teacherName: teacherData.name + " " + teacherData.surname,
              schoolName: schoolName,
              schoolCode: schoolCode,
              currentTime: newTime,
              classRoom: `${result.data().class}/${result.data().room}`,
              ...result.data(),
            };

            temp.push(newData);
          });

          temp.sort((a, b) => {
            return a.date.microtime < b.date.microtime ? 1 : -1;
          });
          this.teacherSyncList = temp;

          let getCountSchool = temp.map((x) => x.schoolCode);

          this.countSchool = [...new Set(getCountSchool)].length;

          let val = this.searchFilter.toLowerCase();

          if (this.searchFilter) {
            this.teacherSyncListShow = temp.filter((x) => {
              return (
                x.schoolName.toLowerCase().indexOf(val) > -1 ||
                x.schoolCode.toLowerCase().indexOf(val) > -1 ||
                x.status.toLowerCase().indexOf(val) > -1 ||
                x.teacherName.indexOf(val) > -1 ||
                x.key.toLowerCase().indexOf(val) > -1 ||
                x.classRoom.indexOf(val) > -1 ||
                x.currentPage.toLowerCase().indexOf(val) > -1
              );
            });
          } else {
            this.teacherSyncListShow = temp;
          }
        });
    },

    getTermAndYear() {
      return new Promise((a, b) => {
        db.collection("term")
          .doc("data")
          .get()
          .then((getTermAndYear) => {
            let newData = {
              term: getTermAndYear.data().term,
              year: getTermAndYear.data().year,
            };

            a(newData);
          });
      });
    },
    setTimeOutTeacher(microtime, status) {
      let currentDate = new Date();
      currentDate = currentDate.getTime();
      let setTimeOutTeacher = currentDate - microtime;
      let result = "อยู่ในระบบ";

      if (status == "online") {
        if (setTimeOutTeacher > 1800000) {
          result = "หมดเวลา";
        }
      } else {
        result = "ไม่อยู่ในระบบ";
      }

      return result;
    },
  },
  mounted() {
    this.loadData();
  },
};
</script>

<style lang="scss" scoped>
</style>