<template>
  <div>
    <q-btn
      :disable="isSync || !status"
      @click="syncBtn()"
      round
      text-color="black"
      :class="{'bg5' : isSync || !status,'bg1 cl2' : !isSync || status}"
      icon="fas fa-sync-alt"
    />
  </div>
</template>

<script>
import { db } from "../router/index.js";
import { st } from "../router/index.js";
export default {
  props: ["practiceKey", "status"],
  data() {
    return {
      isSync: true,
      snapCheckSyncStatus: ""
    };
  },
  methods: {
    checkSync() {
      this.snapCheckSyncStatus = db
        .collection("practicepool_draft")
        .where("practicekey", "==", this.practiceKey)
        .onSnapshot(doc => {
          this.isSync = true;
          let temp = [];
          doc.forEach(element => {
            temp.push(element.data().status);
          });
          if (temp.includes("added") || temp.includes("delete")) {
            this.isSync = false;
          }
        });
    },
    syncBtn() {
      this.loadingShow();
      this.isSync = true;
      setTimeout(() => {
        let counter = 0;
        let counter2 = 0;
        db.collection("practicepool_draft")
          .where("practicekey", "==", this.practiceKey)
          .get()
          .then(doc => {
            doc.forEach(async element => {
              // การเพิ่มข้อใน server
              if (element.data().status == "added") {
                counter++;
                let newSetData = element.data();
                delete newSetData.status;
                newSetData.status = "updated";
                let checkExtra = await db
                  .collection("practicepool_server")
                  .doc(element.id)
                  .collection("extraVocab")
                  .get();

                db.collection("practicepool_server")
                  .doc(element.id)
                  .set(newSetData)
                  .then(() => {
                    if (checkExtra.size) {
                      // กรณีมี collection ExtraVocab
                      checkExtra.forEach(extraElement => {
                        // sync extravocab
                        db.collection("practicepool_server")
                          .doc(element.id)
                          .collection("extraVocab")
                          .doc(extraElement.id)
                          .delete();
                      });
                    }
                    db.collection("practicepool_draft")
                      .doc(element.id)
                      .collection("extraVocab")
                      .get()
                      .then(doc2 => {
                        doc2.forEach(data2 => {
                          db.collection("practicepool_server")
                            .doc(element.id)
                            .collection("extraVocab")
                            .doc(data2.id)
                            .set(data2.data());
                        });
                      });
                    db.collection("practicepool_draft")
                      .doc(element.id)
                      .update({
                        status: "updated"
                      })
                      .then(() => {
                        counter2++;
                        if (counter == counter2) {
                          this.loadingHide();
                        }
                      });
                  });
              } else if (element.data().status == "delete") {
                //ลบข้อใน server และ draft
                counter++;
                let checkExtra = await db
                  .collection("practicepool_draft")
                  .doc(element.id)
                  .collection("extraVocab")
                  .get();

                let checkExtraServer = await db
                  .collection("practicepool_server")
                  .doc(element.id)
                  .collection("extraVocab")
                  .get();

                // เช็คว่ามีรูปมั๊ยแล้วลบ
                if (
                  element.data().practicetype == "multiplechoices" &&
                  element.data().statusimg
                ) {
                  // ลบไฟล์รูปของmulti
                  st.child(
                    "image/multiplechoice/" + element.id + ".jpg"
                  ).delete();
                } else if (
                  element.data().practicetype == "fillintheblank" &&
                  element.data().statusimg
                ) {
                  // ลบไฟล์รูปของfillin
                  st.child(
                    "image/fillintheblank/" + element.id + ".jpg"
                  ).delete();
                }

                // เช็คว่ามีคำศัพท์เสริมมั๊ย ดราฟ
                if (checkExtra.size) {
                  // มีให้ลบ
                  checkExtra.forEach(extraDraft => {
                    db.collection("practicepool_draft")
                      .doc(element.id)
                      .collection("extraVocab")
                      .doc(extraDraft.id)
                      .delete();
                  });
                }
                // เช็คว่ามีคำศัพท์เสริมมั๊ย เซิฟเวอร์
                if (checkExtraServer.size) {
                  // มีให้ลบ
                  checkExtra.forEach(extraServer => {
                    db.collection("practicepool_server")
                      .doc(element.id)
                      .collection("extraVocab")
                      .doc(extraServer.id)
                      .delete();
                  });
                }

                //ลบข้อมูลในดราฟ
                db.collection("practicepool_draft")
                  .doc(element.id)
                  .delete();
                // ลบข้อมูลในเซิฟเวอร์
                db.collection("practicepool_server")
                  .doc(element.id)
                  .delete();

                this.loadingHide();
              }
            });
          });
      }, 1000);
    }
  },
  mounted() {
    this.checkSync();
  },
  beforeDestroy() {
    this.snapCheckSyncStatus();
  }
};
</script>
