/* app global css */
@font-face {
  font-family: Prompt-Regular;
  src: url("../statics/fonts/Prompt-Regular.ttf");
}

@font-face {
  font-family: Prompt-Bold;
  src: url("../statics/fonts/Prompt-Bold.ttf");
}

body {
  font-size: 16px;
  font-family: Prompt-Regular;
  color: #ffffff;
  background-color: #121212;
}

.bg1 {
  background: #f9bc35;
}

.bg2 {
  background: #121212;
}

.bg3 {
  background: #1d1d1d;
}

.bg4 {
  background: #2d2d2d;
}

.bg5 {
  background: #909090;
}

.bg6 {
  background: #c3c3c3;
}

.bg7 {
  background: #ffffff;
}

.cl1 {
  color: #f9bc35;
}

.cl2 {
  color: #121212;
}

.cl3 {
  color: #1d1d1d;
}

.cl4 {
  color: #2d2d2d;
}

.cl5 {
  color: #909090;
}

.cl6 {
  color: #c3c3c3;
}

.cl7 {
  color: #ffffff;
}

.cl8 {
  color: rgb(219, 0, 0);
}

.cl9 {
  color: rgb(0, 139, 0);
}

.f20 {
  font-size: 20px;
}

.f24 {
  font-size: 24px;
}

.brx {
  border: 1px solid red;
}

.bg {
  background-image: url("../statics/image/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #121212;
  background-position: top;
  background-size: 500px;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}
