<template>
  <div class="bg6">
    <div id="printBtn">
      <q-toolbar class="bg-black text-white">
        <q-toolbar-title>
          <span>Speaking practice > พิมพ์ข้อสอบ</span>
        </q-toolbar-title>
        <q-btn
          class="q-mr-md"
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-print"
          @click="printBtn()"
        />
        <q-btn
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-times"
          @click="closeBtn()"
        />
      </q-toolbar>
    </div>
    <div class="q-pb-sm" align="center">
      <div class="printMe shadow-1 paper-a4 q-my-lg cl2">
        <div class="q-pa-md">
          <!-- หัวกระดาษ -->
          <div class="box q-pa-md row rounded-borders">
            <div class="col-4">
              <img align="left" style="width:200px" src="../../statics/image/logowinner.png" />
            </div>

            <div class="col-8 items-center row">
              <div class="text-h6 items-center col-12" align="center">
                <span>Speaking Practice | L{{level}} U{{unit}}</span>
                <hr style="width: 300px" />
                <span>Role play</span>
              </div>
            </div>
          </div>
          <div class="q-pt-lg text-h6">{{nameTitle}}</div>
          <div class="q-pt-md">
            <img style="width: 400px" :src="imageURL" alt />
          </div>
          <!-- เนื้อหา -->
          <div>
            <table class="text-h6" style="width:100%; border-collapse: collapse;">
              <thead>
                <tr style="height: 30px;"></tr>
              </thead>
              <tbody>
                <tr class="box" v-for="(i,index) in this.data" :key="index">
                  <td class="brtop box" style="width:40px" align="center">{{index+1}}</td>
                  <td class="brtop box" style="width:20px">
                    <span class="q-px-md" v-html="i.nameKey"></span>
                  </td>
                  <td>
                    <div class="row q-py-sm">
                      <div class="col-1" align="center">
                        <q-icon class="cl1" size="20px" name="fas fa-volume-up" />
                      </div>
                      <div class="row col-11">
                        <div class="col-12 q-pb-sm" v-html="i.conversationEng"></div>
                        <div class="col-12 q-pb-sm" v-html="i.conversationThai"></div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: this.$route.params.data,
      level: this.$q.localStorage.getItem("practicemainLevelCurrent").label,
      unit: this.$q.localStorage.getItem("practicemainUnitCurrent"),
      imageURL: this.$route.params.imageURL,
      nameTitle: this.$q.localStorage.getItem("practiceName")
    };
  },
  methods: {
    loaddata() {
      db.closeBtn;
    },
    closeBtn() {
      this.$router.go(-1);
    },
    printBtn() {
      window.print();
    }
  },

  mounted() {
    // if (!this.$route.params.data) {
    //   this.$router.go(-1);
    // }
  }
};
</script>

<style scoped >
.brtop {
  border-top: 1px solid;
}
.box {
  border: 1px solid #5c5c5c;
}
.paper-a4 {
  background: #ffffff;
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}
@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }

  #printBtn {
    display: none;
  }
  .bg6 {
    background: #ffffff;
  }
}
@page {
  margin: 0mm;
  width: 210mm;
  height: 297mm;
  /* size: landscape; portrait */
}
</style>