<template>
  <div>
    <div class="q-pa-sm">
      <div class="row q-pa-md">
        <div>
          <toggle-button
            :labels="{ checked: 'แบบร่าง', unchecked: 'เซิฟเวอร์' }"
            :height="40"
            :width="140"
            :color="{
          checked: ['#909090' ],
          unchecked: ['#388E3C']
        }"
            :font-size="16"
            v-model="status"
            @change="loadDataMain()"
          />
        </div>
        <!-- หัวข้อ -->
        <div class="col relative-position">
          <div
            class="absolute-center text-h5"
          >Conversation Lesson | L{{conversationData.level}} U{{conversationData.unit}}</div>
        </div>
        <!-- ปุ่มซิงค์ -->
        <div v-if="this.tab=='conversation'" class="q-px-md">
          <sync-button :practiceKey="practiceKey" :status="status"></sync-button>
        </div>
        <!-- ปุ่มปริ้น -->
        <div>
          <q-btn
            :class="{'cl2 bg1':status , 'cl2 bg5' : !status}"
            :disable="!status"
            @click="printBtn()"
            round
            text-color="black"
            icon="fas fa-print"
          />
        </div>
      </div>
      <!-- tab -->
      <div class="q-px-md q-py-lg">
        <q-card class="bg4" style="border:2px solid #2D2D2D;">
          <q-tabs
            v-model="tab"
            class="bg4 cl7 q-px-md"
            active-color="amber-13"
            indicator-color="amber-13"
            align="left"
            narrow-indicator
          >
            <!-- หน้าวิดีโอ -->
            <q-tab name="vdo" label="วีดีโอ" />
            <q-tab name="conversation" label="ประโยคสนทนา" />
          </q-tabs>
          <q-separator />
          <q-tab-panels class="bg2" v-model="tab" animated>
            <q-tab-panel name="vdo">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4 q-py-lg">รูปภาพหน้าปก</div>
                <div class="col-4"></div>
                <div class="col-4"></div>
                <div class="col-4">
                  <!-- รูปภาพ -->
                  <div align="center">
                    <div class="boxcl relative-position" style="width:400px">
                      <div>
                        <img style="width: 300px" :src="dataVdo.imageURL" alt />
                        <img v-if="dataVdo.imageURL ==''" src="../../statics/image/noimage.jpg" alt />
                      </div>
                      <div v-if="dataVdo.imageURL ==''" class="row justify-center">
                        <q-input
                          style="width:250px"
                          class="q-px-md"
                          borderless
                          dark
                          v-model="fileImage"
                          @input="seveImg()"
                          type="file"
                          accept="image/jpeg"
                        />
                      </div>
                      <!-- ปุ่มลบรูปภาพ -->
                      <div class="row justify-center">
                        <div v-if="dataVdo.imageURL !=''" class="q-pa-md">
                          <q-btn
                            @click="deleteimg()"
                            class="bg7 cl3"
                            label="ลบรูปภาพ"
                            style="width:120px"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4"></div>
                <div class="col-4"></div>
                <div class="col-4 q-py-lg">วิดีโอ</div>
                <div class="col-4"></div>
                <div class="col-4"></div>
                <div class="col-4 q-py-lg">
                  <div align="center">
                    <div class="boxcl relative-position" style="width:400px">
                      <div>
                        <video v-if="dataVdo.vdoURL !=''" style="width: 100%;" controls>
                          <source :src="dataVdo.vdoURL" type="video/mp4" />
                        </video>

                        <img v-if="dataVdo.vdoURL ==''" src="../../statics/image/novideo.jpg" alt />
                      </div>
                      <div v-if="dataVdo.vdoURL ==''" class="row justify-center">
                        <q-input
                          style="width:250px"
                          class="q-px-md"
                          borderless
                          dark
                          v-model="fileVdo"
                          @input="seveVdo()"
                          type="file"
                          accept="video/mp4"
                        />
                      </div>
                      <!-- ปุ่มลบวีดีโอ -->
                      <div class="row justify-center">
                        <div v-if="dataVdo.vdoURL !=''" class="q-pa-md">
                          <q-btn
                            @click="deleteVdo()"
                            class="bg7 cl3"
                            label="ลบวิดีโอ"
                            style="width:120px"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4"></div>
              </div>
            </q-tab-panel>
            <!-- ประโยคสนทนา -->
            <q-tab-panel name="conversation">
              <div class="row q-py-md">
                <div class="col-11"></div>
                <div class="row col-1">
                  <div class="col-6">
                    <!-- ปุ่มเพิ่มผู้สนทนา -->
                    <q-btn
                      :class="{'cl2 bg1':status , 'cl2 bg5' : !status}"
                      @click="addUserName()"
                      round
                      text-color="black"
                      icon="fas fa-user-friends"
                    />
                  </div>
                  <div class="col-6">
                    <!-- ปุ่มเพิ่มประโยค -->
                    <q-btn
                      :class="{'cl2 bg1':status , 'cl2 bg5' : !status}"
                      @click="addConversationBtn()"
                      round
                      text-color="black"
                      icon="fas fa-plus"
                    />
                  </div>
                </div>
              </div>
              <!-- ตาราง -->
              <template>
                <div class="q-py-md">
                  <q-table
                    :data="data"
                    :columns="columns"
                    :pagination.sync="pagination"
                    row-key="name"
                    dark
                  >
                    <template v-slot:body="props">
                      <q-tr :props="props">
                        <q-td key="number" :props="props">{{ props.row.index }}</q-td>
                        <q-td key="check" :props="props">
                          <q-icon name="fas fa-check" color="amber-13" v-show="props.row.rolePlay"></q-icon>
                        </q-td>
                        <q-td @click="audioBtn(props.row.audioURL)" key="sound" :props="props">
                          <q-icon class="cl1 cursor-pointer" size="18px" name="fas fa-volume-up" />
                        </q-td>
                        <q-td key="nameConver" :props="props">{{ props.row.nameKey }}</q-td>

                        <q-td key="conversation" :props="props">
                          <span v-html="props.row.conversationEng"></span>
                          <br />
                          <span v-html="props.row.conversationThai"></span>
                        </q-td>
                        <q-td key="order" :props="props">{{ props.row.order }}</q-td>
                        <!-- <q-td @click="deleteMainBtn(props.row.key)" key="delete" :props="props">
                          <q-icon class="cl1 cursor-pointer" size="18px" name="fas fa-trash-alt" />
                        </q-td>-->

                        <q-td key="delete" :props="props">
                          <div v-if=" props.row.status != 'delete'">
                            <q-icon
                              @click="deleteMainBtn(props.row.key)"
                              class="cl1 cursor-pointer"
                              size="18px"
                              name="fas fa-trash-alt"
                              v-show="status "
                            />
                            <q-icon
                              class="cl5"
                              size="18px"
                              name="fas fa-trash-alt"
                              disable
                              v-show="!status "
                            />
                          </div>
                          <div v-if=" props.row.status == 'delete'">
                            <q-btn
                              @click="deleteOff(props.row.key)"
                              class="cl2 bg1"
                              label="ยกเลิกการลบ"
                            />
                          </div>
                        </q-td>
                        <q-td key="edit" :props="props">
                          <q-icon
                            @click="editMainBtn(props.row.key)"
                            class="cl1 cursor-pointer"
                            size="18px"
                            name="fas fa-edit"
                            v-show="status "
                          />
                          <q-icon
                            class="cl5"
                            size="18px"
                            name="fas fa-edit"
                            disable
                            v-show="!status "
                          />
                        </q-td>
                      </q-tr>
                    </template>
                  </q-table>
                </div>
              </template>
            </q-tab-panel>
          </q-tab-panels>
        </q-card>
      </div>
    </div>
    <!-- dialog add conversation เพิ่มประโยคสนทนา -->
    <q-dialog v-model="addConversation">
      <div class="bg4" style="width:800px">
        <div align="center" v-show="editConversation==false" class="q-py-lg">{{"เพิ่มประโยคสนทนา"}}</div>
        <div align="center" v-show="editConversation==true" class="q-py-lg">{{"แก้ไขประโยคสนทนา"}}</div>
        <div class="q-px-md">
          <div>
            <q-input
              dark
              color="amber-13"
              outlined
              v-model="conversationData.order"
              square
              type="number"
              label="รหัสลำดับ"
              :rules="[val => val.length>0]"
              hide-bottom-space
            ></q-input>
          </div>
          <div class="q-py-md">
            <q-select
              :options="nameOptions"
              dark
              color="amber-13"
              square
              outlined
              label="ชื่อผู้สนทนา"
              v-model="conversationData.nameKey"
            ></q-select>
          </div>
          <div>
            <q-input
              dark
              color="amber-13"
              outlined
              square
              v-model="conversationData.conversationEng"
              label="บทสนทนาภาษาอังกฤษ"
              :rules="[val => val.length>0]"
              hide-bottom-space
            ></q-input>
          </div>
          <div class="q-py-md">
            <q-input
              dark
              color="amber-13"
              outlined
              square
              v-model="conversationData.conversationThai"
              label="บทสนทนาภาษาไทย"
              :rules="[val => val.length>0]"
              hide-bottom-space
            ></q-input>
          </div>
          <div
            v-if="this.conversationData.audioURL ==''"
            class="boxcl row q-px-md q-py-sm q-mb-md"
            style="height:55px"
          >
            <span class="q-pa-xs">เสียง</span>

            <q-input
              borderless
              dark
              color="amber-13"
              v-model="fileAudio"
              @input="val => { file = val[0] }"
              type="file"
              accept="audio/mp3"
            />
          </div>
          <!-- <div class="q-pb-md">
            <q-checkbox
              dark
              color="amber-13"
              v-model="conversationData.rolePlay"
              label="Role play"
            />
          </div>-->
          <div
            v-if="this.conversationData.audioURL !=''"
            class="boxcl row q-px-md q-py-sm q-mb-md"
            style="height:55px"
          >
            <div class="col-1 q-pt-sm">
              <q-icon
                @click="audioEdit()"
                class="cl1 cursor-pointer"
                size="20px"
                name="fas fa-volume-up"
              />
            </div>

            <div class="col-11" align="right">
              <q-btn
                @click="deleteAudio()"
                label="ลบเสียง"
                style="width:120px"
                class="bg7 text-black"
              ></q-btn>
            </div>
          </div>

          <div class="q-pb-md">
            <q-checkbox dark color="amber-13" v-model="conversationData.rolePlay" />Role Play
          </div>

          <div class="row q-pb-lg">
            <div class="col-6 q-pr-sm" align="right">
              <q-btn
                @click="cancelConversationBtn()"
                label="ยกเลิก"
                style="width:170px"
                class="bg7 text-black"
              ></q-btn>
            </div>
            <div class="col-6 q-pl-sm" align="left">
              <q-btn
                @click="saveConversationBtn()"
                label="บันทึก"
                style="width:170px"
                class="bg1 text-black"
                :disable="isSaveBtn"
              ></q-btn>
            </div>
          </div>
        </div>
      </div>
    </q-dialog>
    <!-- dialog  conversationer โชว์ผู้สนทนา -->
    <q-dialog v-model="conversationer">
      <div class="bg4" style="width:800px">
        <div class="q-px-md">
          <div class="row">
            <div class="col-1"></div>
            <div align="center" class="col-10 q-py-lg">ผู้สนทนา</div>
            <div class="col-1 q-py-lg">
              <q-btn
                class="bg1 text-black"
                @click="addConversationnerBtn()"
                round
                text-color="black"
                icon="fas fa-plus"
              />
            </div>
          </div>

          <div class="q-pt-md q-pb-lg">
            <q-table
              :data="dataConversationer"
              :columns="columnsConversationer"
              row-key="name"
              dark
            >
              <template v-slot:body="props">
                <q-tr :props="props">
                  <q-td key="nameConver" :props="props">{{ props.row.nameConversationer }}</q-td>
                  <q-td key="conver1" :props="props">{{ props.row.conversationer }}</q-td>

                  <q-td @click="deleteConverBtn(props.row.key)" key="delete" :props="props">
                    <q-icon class="cl1 cursor-pointer" size="18px" name="fas fa-trash-alt" />
                  </q-td>
                  <q-td @click="editConverBtn(props.row.key)" key="edit" :props="props">
                    <q-icon class="cl1 cursor-pointer" size="18px" name="fas fa-edit" />
                  </q-td>
                </q-tr>
              </template>
            </q-table>
          </div>
          <div align="center" class="q-pb-lg">
            <q-btn @click="back()" label="กลับหน้าหลัก" style="width:170px" class="bg7 text-black"></q-btn>
          </div>
        </div>
      </div>
    </q-dialog>
    <!-- dialog add conversation เพิ่มผู้สนทนา-->
    <q-dialog v-model="addNameConversationer">
      <div class="bg4" style="width:800px">
        <div v-show="editSpeaker==false" align="center" class="q-py-lg">{{"เพิ่มผู้สนทนา"}}</div>
        <div v-show="editSpeaker==true" align="center" class="q-py-lg">{{"แก้ไขผู้สนทนา"}}</div>
        <div class="q-px-md row">
          <div class="q-pr-md col-8">
            <q-input
              dark
              outlined
              color="amber-13"
              square
              v-model="addConversationner.nameConversationer"
              label="ชื่อผู้สนทนา"
            ></q-input>
          </div>
          <div class="col-4">
            <q-select
              :options="conversationerOptions"
              dark
              color="amber-13"
              square
              outlined
              v-model="addConversationner.conversationer"
            ></q-select>
          </div>
        </div>
        <div class="row q-py-lg">
          <div class="col-6 q-pr-sm" align="right">
            <q-btn
              @click="cancelConversationerBtn()"
              label="ยกเลิก"
              style="width:170px"
              class="bg7 text-black"
            ></q-btn>
          </div>
          <div class="col-6 q-pl-sm" align="left">
            <q-btn
              @click="saveConversationerBtn()"
              label="บันทึก"
              style="width:170px"
              class="bg1 text-black"
              :disable="isSaveBtn"
            ></q-btn>
          </div>
        </div>
      </div>
    </q-dialog>

    <!-- diglog ลบหน้า <main></main> -->
    <q-dialog v-model="deleteDataMain" persistent content-class="backdrop">
      <q-card style="width:400px" dark>
        <q-card-section class="items-center">
          <span>คุณต้องการลบข้อมูลหรือไม่</span>
        </q-card-section>
        <q-card-actions class align="center">
          <q-btn style="width:120px" class="bg7 cl2 btnCard" flat label="ยกเลิก" v-close-popup />
          <q-btn
            style="width:120px"
            @click="deleteOn()"
            class="bg1 cl2 btnCard"
            flat
            label="ยืนยัน"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="audioShow" persistent>
      <q-card class="bg4" style="width:500px">
        <q-card-section class="row items-center">
          <div class="text-h6">เสียง</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section>
          <audio style="width: 100%;" controls>
            <source :src="audio" type="audio/mp3" />
          </audio>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { db } from "../../router/index.js";
import { st } from "../../router/index.js";
import syncButton from "../../components/syncVdoButton.vue";
export default {
  components: {
    syncButton
  },
  data() {
    return {
      pagination: {
        rowsPerPage: 0
      },
      isSaveBtn: false,
      audioShow: false,
      audio: "",
      practiceKey: this.$route.params.key,
      deleteDataMain: false,
      editSpeaker: false,
      editConversation: false,

      conversationer: false,
      // เพิ่มผู้สนทนา
      addNameConversationer: false,
      dataConversationer: [],
      addConversation: true,
      conversationerOptions: ["ผู้สนทนาที่ 1", "ผู้สนทนาที่ 2", "ไม่ระบุ"],
      // ตัวแปร เพิ่มผู้สนทนา
      addConversationner: {
        conversationer: "",
        nameConversationer: "",
        practicekey: this.$route.params.key
      },
      // ตารางผู้สนทนา
      columnsConversationer: [
        {
          name: "nameConver",
          align: "center",
          label: "ชื่อผู้สนทนา"
        },
        {
          name: "conver1",
          align: "center",
          label: "ผู้สนทนา"
        },
        {
          name: "delete",
          align: "center",
          label: "ลบ"
        },
        {
          name: "edit",
          align: "center",
          label: "แก้ไข"
        }
      ],
      nameEdit: "",
      // เพิ่มประโยค
      practicekey: "",
      file: null,
      nameOptions: [],
      fileAudio: "",
      conversationData: {
        rolePlay: true,
        status: "added",
        nameKey: "",
        order: "",
        conversationEng: "",
        conversationThai: "",
        audioURL: "",
        practicekey: this.$route.params.key,
        practicetype: "speaking",
        level: this.$q.localStorage
          .getItem("practicemainLevelCurrent")
          .label.toString(),
        unit: this.$q.localStorage.getItem("practicemainUnitCurrent").toString()
      },
      addConversation: false,
      data: [],
      columns: [
        {
          name: "number",
          align: "center",
          label: "ลำดับ",
          style: "width:100px"
        },
        {
          name: "check",
          align: "center",
          label: "Role play",
          style: "width:100px"
        },
        {
          name: "sound",
          align: "center",
          label: "เสียง",
          style: "width:100px"
        },
        {
          name: "nameConver",
          align: "center",
          label: "ชื่อผู้สนทนา",
          style: "width:100px"
        },
        {
          name: "conversation",
          align: "left",
          label: "ประโยค"
        },
        {
          name: "order",
          align: "center",
          label: "รหัสลำดับ",
          style: "width:100px"
        },
        {
          name: "delete",
          align: "center",
          label: "ลบ",
          style: "width:100px"
        },
        {
          name: "edit",
          align: "center",
          label: "แก้ไข",
          style: "width:100px"
        }
      ],
      datafinal: "",
      dataVdo: {
        imageURL: "",
        vdoURL: "",
        practicekey: this.$route.params.key,
        practicetype: "speaking"
      },
      key: "",
      dataconver: [],
      fileImage: "",
      fileVdo: "",
      tab: "conversation",
      status: true
    };
  },
  methods: {
    // หน้าวิดีโอ
    // บันทึกรูปภาพ
    async seveImg() {
      await db
        .collection("conversationVdo")
        .where("practicekey", "==", this.$route.params.key)
        .get()
        .then(async doc => {
          if (doc.size > 0) {
            // ถ้ามีข้อมูลแล้ว อัพเดทรูป และวีดีโอ
            let getImage = await st
              .child("image/conversation/" + this.key + ".jpg")
              .put(this.fileImage[0]);
            let getImageURL = await getImage.ref.getDownloadURL();
            await db
              .collection("conversationVdo")
              .doc(this.key)
              .update({
                imageURL: getImageURL
              });
            this.loadData();
          } else {
            // เพิ่มข้อมูลครั้งแรก
            let keyConver = await db
              .collection("conversationVdo")
              .add(this.dataVdo);
            let getImage = await st
              .child("image/conversation/" + keyConver.id + ".jpg")
              .put(this.fileImage[0]);
            let getImageURL = await getImage.ref.getDownloadURL();
            await db
              .collection("conversationVdo")
              .doc(keyConver.id)
              .update({
                imageURL: getImageURL
              });
            this.loadData();
          }
        });
    },
    // บันทึกวิดีโอ
    async seveVdo() {
      await db
        .collection("conversationVdo")
        .where("practicekey", "==", this.$route.params.key)
        .get()
        .then(async doc => {
          if (doc.size > 0) {
            // ถ้ามีข้อมูลแล้ว อัพเดทรูป และวีดีโอ
            let getVdo = await st
              .child("vdo/conversation/" + this.key + ".mp4")
              .put(this.fileVdo[0]);
            let getVdoURL = await getVdo.ref.getDownloadURL();
            await db
              .collection("conversationVdo")
              .doc(this.key)
              .update({
                vdoURL: getVdoURL
              });
            this.loadData();
          } else {
            // เพิ่มข้อมูลครั้งแรก
            let keyConver = await db
              .collection("conversationVdo")
              .add(this.dataVdo);
            let getVdo = await st
              .child("vdo/conversation/" + keyConver.id + ".mp4")
              .put(this.fileVdo[0]);
            let getVdoURL = await getIVdo.ref.getDownloadURL();
            await db
              .collection("conversationVdo")
              .doc(keyConver.id)
              .update({
                vdoURL: getVdoURL
              });
            this.loadData();
          }
        });
    },
    // ลบรูปภาพ
    deleteimg() {
      this.$q
        .dialog({
          title: "คุณต้องการลบรูปนี้ใช่หรือไม่",
          dark: true,
          cancel: "ยกเลิก",
          ok: "ตกลง"
        })
        .onOk(() => {
          this.dataVdo.imageURL = "";

          db.collection("conversationVdo")
            .doc(this.key)
            .update({
              imageURL: ""
            });
        });
    },
    // ลบวิดีโอ
    deleteVdo() {
      this.$q
        .dialog({
          title: "คุณต้องการลบรูปนี้ใช่หรือไม่",
          dark: true,
          cancel: "ยกเลิก",
          ok: "ตกลง"
        })
        .onOk(() => {
          this.dataVdo.vdoURL = "";
          db.collection("conversationVdo")
            .doc(this.key)
            .update({
              vdoURL: ""
            });
        });
    },
    // โหลดหน้าวิดีโอ
    loadData() {
      db.collection("conversationVdo")
        .where("practicekey", "==", this.$route.params.key)
        .get()
        .then(doc => {
          doc.forEach(element => {
            let dataKey = {
              key: element.id
            };
            let final = {
              ...dataKey,
              ...element.data()
            };
            this.key = dataKey.key;
            this.dataVdo = {
              imageURL: element.data().imageURL,
              vdoURL: element.data().vdoURL
            };
            this.dataconver.push(final);
          });
        });
    },

    //------------------------- หน้าประโยค-----------------------
    // ปุ่มเพิ่มผู้สนทนา หน้าประโยคสนทนา

    loadDataMain() {
      this.data = [];
      let db1 = "";
      this.loadingShow();
      if (this.status == true) {
        db1 = db
          .collection("practicepool_draft")
          .where("practicekey", "==", this.$route.params.key);
      } else {
        db1 = db
          .collection("practicepool_server")
          .where("practicekey", "==", this.$route.params.key);
      }
      if (typeof this.snapLoadData == "function") {
        this.snapLoadData();
      }
      this.snapLoadData = db1.onSnapshot(doc => {
        let tem1 = [];
        let tem = "";
        if (doc.size > 0) {
          doc.forEach(element => {
            let converKey = {
              key: element.id
            };
            let coverFinal = {
              ...converKey,
              ...element.data()
            };
            tem1.push(coverFinal);
            this.data.sort((a, b) => Number(a.order) - Number(b.order));
            tem1.forEach((element, index) => {
              element.index = index + 1;
            });
            this.data = tem1;

            let name = element.data().nameKey;
            db.collection("conversationSpeaker")
              .doc(name)
              .get()
              .then(doc1 => {
                tem = doc1.data().nameConversationer;
                coverFinal.nameKey = tem;
                // this.data.push(coverFinal);

                this.datafinal = tem1;
              });

            this.loadingHide();
          });
        } else {
          this.loadingHide();
        }
      });
    },
    //  แก้ไข เพิ่ม add conver เพิ่มประโยค
    async saveConversationBtn() {
      if (
        this.conversationData.order == "" ||
        this.conversationData.conversationEng == "" ||
        this.conversationData.conversationThai == ""
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
        return;
      }
      this.loadingShow();
      this.isSaveBtn = true;
      if (this.editConversation == false) {
        if (this.fileAudio == "") {
          this.isSaveBtn = false;
          this.loadingHide();
          this.notifyRed("กรุณาเพิ่มไฟล์เสียง");
          return;
        }
        // หนัาบันทึกข้อมูล
        await db
          .collection("practicepool_draft")
          .where("order", "==", this.conversationData.order)
          .where("practicekey", "==", this.$route.params.key)
          .get()
          .then(async doc => {
            if (doc.size > 0) {
              this.notifyRed("รหัสลำดับนี้มีการใช้งานแล้ว");
              return;
            } else {
              this.conversationData.nameKey = this.conversationData.nameKey.value;
              let converKey = await db
                .collection("practicepool_draft")
                .add(this.conversationData);
              // เสียง
              let getAudio = await st
                .child("audio/conversation/" + converKey.id + ".mp3")
                .put(this.fileAudio[0]);
              let getAudioURL = await getAudio.ref.getDownloadURL();
              await db
                .collection("practicepool_draft")
                .doc(converKey.id)
                .update({
                  audioURL: getAudioURL
                })
                .then(() => {
                  this.isSaveBtn = false;
                  this.addConversation = false;
                  this.notifyGreen("บันทึกเรียบร้อย");
                  this.loadDataMain();
                  this.loadingHide();
                });
            }
          });
      } else {
        // หนัาแก้ไขข้อมูล

        this.conversationData.nameKey = this.conversationData.nameKey.value;
        await db
          .collection("practicepool_draft")
          .doc(this.editkey)
          .set(this.conversationData);
        // เสียง
        if (this.conversationData.audioURL == "") {
          let getAudio = await st
            .child("audio/conversation/" + this.editkey + ".mp3")
            .put(this.fileAudio[0]);
          let getAudioURL = await getAudio.ref.getDownloadURL();
          await db
            .collection("practicepool_draft")
            .doc(this.editkey)
            .update({
              audioURL: getAudioURL
            });
        }
        await db
          .collection("practicepool_draft")
          .doc(this.editkey)
          .update({
            status: "added"
          });
        this.isSaveBtn = false;
        this.loadDataMain();
        this.addConversation = false;
        this.notifyGreen("บันทึกเรียบร้อย");
        this.loadingHide();
      }
    },
    deleteOn() {
      db.collection("practicepool_draft")
        .doc(this.deleteKey)
        .update({ status: "delete" });
      this.loadDataMain();
    },
    deleteOff(key) {
      db.collection("practicepool_draft")
        .doc(key)
        .update({ status: "added" });
      this.loadDataMain();
    },

    audioBtn(key) {
      this.audioShow = true;
      this.audio = key;
    },
    audioEdit() {
      this.audioShow = true;
      this.audio = this.conversationData.audioURL;
    },
    deleteAudio() {
      this.conversationData.audioURL = "";
    },

    deleteMainBtn(key) {
      this.deleteDataMain = true;
      this.deleteKey = key;
    },
    editMainBtn(key) {
      this.editkey = key;
      this.editConversation = true;
      this.addConversation = true;
      this.loadEditConver();
    },
    addUserName() {
      this.loadConversationer();
      this.editSpeaker = false;
      this.conversationer = true;
    },
    // ปุ่มเพิ่มประโยคสนทนา
    addConversationBtn() {
      this.conversationData.rolePlay = true;
      this.editConversation = false;
      this.conversationData.nameKey = "";
      this.conversationData.order = "";
      this.conversationData.conversationEng = "";
      this.conversationData.conversationThai = "";
      this.conversationData.audioURL = "";
      this.fileAudio = "";
      this.loadName();
      this.addConversation = true;
    },

    // ---------------dialog ตารางโชว์ผู้สนทนา
    // ตารางชื่อผู้สนทนา
    loadConversationer() {
      this.loadingShow();
      this.dataConversationer = [];
      db.collection("conversationSpeaker")
        .where("practicekey", "==", this.$route.params.key)
        .get()
        .then(doc => {
          doc.forEach(element => {
            let conversationerKey = {
              key: element.id
            };
            let dataFinal = {
              ...conversationerKey,
              ...element.data()
            };
            this.dataConversationer.push(dataFinal);
            this.dataConversationer.sort((a, b) => {
              return a.nameConversationer < b.nameConversationer ? -1 : 1;
            });
          });
          this.loadingHide();
        });
    },
    // ปุ่มแก้ไข
    editConverBtn(key) {
      this.converkey = key;
      this.editSpeaker = true;
      this.conversationer = false;
      this.addNameConversationer = true;
      this.loadEditSpeaker();
    },
    //  ปุ่มลบ
    deleteConverBtn(key) {
      db.collection("practicepool_draft")
        .where("nameKey", "==", key)
        .get()
        .then(doc => {
          if (doc.size > 0) {
            this.$q
              .dialog({
                title: "ผู้สนทนานี้มีการใช้งานอยู่",
                dark: true
              })
              .onOk(() => {});
          } else {
            this.$q
              .dialog({
                title: "คุณต้องการลบผู้สนทนานี้ใช่หรือไม่",
                dark: true,
                cancel: "ยกเลิก",
                ok: "ตกลง"
              })
              .onOk(() => {
                this.loadingShow();
                this.dataConversationer = [];
                db.collection("conversationSpeaker")
                  .doc(key)
                  .delete()
                  .then(() => {
                    this.loadConversationer();
                  });
              });
          }
        });
    },
    // ปุ่มกลับหน้าหลัก
    back() {
      this.conversationer = false;
    },
    // ปุ่มเพิ่มผู้สนทนา
    addConversationnerBtn() {
      this.addConversationner.nameConversationer = "";
      this.loadName();
      this.addConversationner.conversationer = this.conversationerOptions[0];
      this.addNameConversationer = true;
      this.conversationer = false;
    },
    // ------------dialog ลบผู้สนทนา
    deleteNameBtn() {
      this.loadingShow();
      db.collection("conversationSpeaker")
        .doc(this.deleteKey)
        .delete()
        .then(() => {
          this.notifyGreen("ลบข้อมูลเรียบร้อยแล้ว");
          this.deleteKey = "";
          this.loadConversationer();
        });
    },

    //---------------- dialog แก้ไข เพิ่มผู้สนทนา
    //  แก้ไข / เพิ่ม ปุ่มบันทึกผู้สนทนา
    saveConversationerBtn() {
      if (this.addConversationner.nameConversationer == "") {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
        return;
      }
      this.loadingShow();
      if (this.editSpeaker == false) {
        db.collection("conversationSpeaker")
          .add(this.addConversationner)
          .then(() => {
            this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
            this.conversationer = true;
            this.addNameConversationer = false;
            this.loadConversationer();
          });
      } else {
        db.collection("conversationSpeaker")
          .doc(this.converkey)
          .set(this.addConversationner)
          .then(() => {
            this.loadConversationer();
            this.addNameConversationer = false;
            this.conversationer = true;
            this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
          });
      }
    },
    // ปุ่มยกเลิก
    cancelConversationerBtn() {
      this.addNameConversationer = false;
      this.conversationer = true;
    },
    // โหลด แก้ไขผู้สนทนา
    loadEditSpeaker() {
      this.loadingShow();
      db.collection("conversationSpeaker")
        .doc(this.converkey)
        .get()
        .then(doc => {
          this.addConversationner = doc.data();
          this.loadingHide();
        });
    },

    // ------------------diglog เพิ่มประโยคสนทนา
    // โหลดชื่อผู้สนทนาใน nameOption
    loadName() {
      this.nameOptions = [];
      db.collection("conversationSpeaker")
        .where("practicekey", "==", this.$route.params.key)
        .get()
        .then(doc => {
          doc.forEach(element => {
            let nameKey = {
              value: element.id,
              label: element.data().nameConversationer
            };
            this.nameOptions.push(nameKey);

            this.nameOptions.sort((a, b) => {
              return a.label < b.label ? -1 : 1;
            });
            this.conversationData.nameKey = this.nameOptions[0];
          });
        });
    },

    cancelConversationBtn() {
      this.addConversation = false;
    },
    loadEditConver() {
      this.loadingShow();
      this.conversationData = "";
      db.collection("practicepool_draft")
        .doc(this.editkey)
        .get()
        .then(doc => {
          let tem = "";
          let name = doc.data().nameKey;
          let final = doc.data();
          db.collection("conversationSpeaker")
            .doc(name)
            .get()
            .then(doc1 => {
              let dataKey = {
                label: doc1.data().nameConversationer,
                value: name
              };
              tem = dataKey;
              final.nameKey = tem;
              this.conversationData = final;
              this.loadingHide();
            });
        });
    },
    // ปุ่มปรินท์
    printBtn() {
      this.$router.push({
        name: "conversationprint",
        params: {
          data: this.datafinal,
          key: this.$route.params.key,
          imageURL: this.dataVdo.imageURL
        }
      });
      this.$q.localStorage.set("typeKey", this.type);
      this.$q.localStorage.set("dataKey", this.$route.params.key);
    }
  },
  mounted() {
    this.loadName();
    this.loadDataMain();
    this.loadData();
  }
};
</script>

<style scoped>
.box {
  width: 650px;
}
.boxcl {
  border: 1px solid #a0a0a0;
}
</style>