<template>
  <div class="bg6">
    <div id="printBtn">
      <q-toolbar class="bg-black text-white">
        <q-toolbar-title>
          <!-- <span>คลังข้อสอบ > พิมพ์ข้อสอบ</span> -->
        </q-toolbar-title>
        <q-btn
          class="q-mr-md"
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-print"
          @click="printBtn()"
        />
        <q-btn
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-times"
          @click="closeBtn()"
        />
      </q-toolbar>
    </div>

    <div class="q-pb-sm" align="center">
      <div class="bg7 printMe shadow-1 paper-a4 q-my-lg cl2">
        <div class="q-pa-md">
          <div class="box q-pa-md row">
            <div class="col-6">
              <div class="q-pt-sm">
                <img align="left" style="width:200px" src="../../statics/image/logowinner.png" />
              </div>
            </div>
            <div class="col-6">
              <div class="text-h5">คลังข้อสอบ</div>
              <hr />

              <div class="text-h6">
                <span>Level {{level}}</span>
                <span v-if="unit !='ทั้งหมด'" class="q-px-sm">/</span>
                <span v-if="unit !='ทั้งหมด'">Unit {{unit}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="text-h6 q-px-md">
          <table style="border-collapse: collapse; width:100%">
            <thead>
              <tr>
                <td colspan="2" class="text-center text-h5 q-pb-md"></td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item,index) in this.data" :key="index">
                <td style="vertical-align:top;width:120px" align="center" class="box q-pt-md">
                  {{index+1}}
                  <br />
                  <span v-if="item.preTest">Pre-test</span>
                  <span v-if="item.postTest">Post-test</span>
                </td>
                <td class="col box q-pa-md">
                  <div>{{item.instructioneng}}</div>

                  <div>{{item.instructionthai}}</div>
                  <br />
                  <div v-html="item.question"></div>
                  <div>
                    <span :class="{'bg-green-3 ' : item.correctanswer == 0}">
                      <span v-if="item.choices[0] != 0">
                        <span v-if="item.choices[0] !=''">(1)</span>
                      </span>
                      {{item.choices[0]}}
                    </span>
                  </div>
                  <div>
                    <span :class="{'bg-green-3 ' : item.correctanswer == 1}">
                      <span v-if="item.choices[1] != 1">
                        <span v-if="item.choices[1] !=''">(2)</span>
                      </span>
                      {{item.choices[1]}}
                    </span>
                  </div>
                  <div>
                    <span :class="{'bg-green-3 ' : item.correctanswer == 2}">
                      <span v-if="item.choices[2] != 2">
                        <span v-if="item.choices[2] !=''">(3)</span>
                      </span>
                      {{item.choices[2]}}
                    </span>
                  </div>
                  <div>
                    <span :class="{'bg-green-3 ' : item.correctanswer == 3}">
                      <span v-if="item.choices[3] != 3 ">
                        <span v-if="item.choices[3] !=''">(4)</span>
                      </span>
                      {{item.choices[3]}}
                    </span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: this.$route.params.data,
      level: this.$route.params.level,
      unit: this.$route.params.unit
    };
  },
  methods: {
    printBtn() {
      window.print();
    },

    closeBtn() {
      this.$router.push("/exam");
    }
  },
  mounted() {
    if (this.$route.params.data == undefined) {
      this.$router.push("/exam");
    }
  }
};
</script>

<style scoped>
.box {
  border: 1px solid #5c5c5c;
}
.paper-a4 {
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #fff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }

  .bg6 {
    background-color: #fff;
  }

  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  width: 210mm;
  height: 297mm;
  /* size: landscape; portrait */
}
</style>