<template>
  <div v-if="isLoaded" style="width:1600px">
    <div class="row q-pt-lg">
      <div class="col-12 q-pt-xs text-center">
        <span class="text-h5">แสดงข้อมูลซิงค์ของคลังข้อสอบ</span>
      </div>
      <div class="col-12 row justify-center">
        <div class="bg2 box bg-amber-13 q-ma-md"></div>
        <div class="q-py-lg">ทำการซิงค์ข้อมูลแล้ว</div>
        <div class="bg2 box bg7 q-ma-md"></div>
        <span class="q-py-lg">ยังไม่ซิงค์ข้อมูล</span>
      </div>
      <div>
        <div class="row" v-for="(x,index) in this.data " :key="index">
          <div style="width:100px" class="q-pa-sm">{{"Level" +" "+ x.level }}</div>
          <div v-for="(unit,index2) in Number(x.unit)  " :key="index2" class="q-ma-xs cl7">
            <q-btn
              style="width:65px"
              class
              :class="{'bg-amber-13 text-white':x.unitSync.includes(Number(unit)),'bg-white cl2':!x.unitSync.includes(Number(unit)) } "
            >{{unit}}</q-btn>
          </div>
        </div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      data: [],
      unit: [],
      levelSync: [],
      isLoaded: false
    };
  },
  methods: {
    async loadLevel() {
      this.data = this.$q.localStorage.getItem("levelData");
      this.data.sort((a, b) => {
        return Number(a.level) - Number(b.level);
      });
      // console.log(this.data);
      for (let i = 0; i < this.data.length; i++) {
        this.unit.push(this.data[i].unit);
        for (let j = 1; j < this.data[i].unit; j++) {
          // console.log(i, j, this.checkSync(this.data[i].level, j));
        }
      }
    },
    // โหลด ข้อมุล sever
    // โหลด ข้อมุล daft

    checkSync() {
      this.loadingShow();
      for (let level = 1; level <= this.data.length; level++) {
        this.data[level - 1].unitSync = [];
        let unitSyncTemp = [];

        for (let j = 0; j < Number(this.data[level - 1].unit); j++) {
          db.collection("questionpool")
            .doc("draft")
            .collection("practice")
            .where("level", "==", level.toString())
            .where("unit", "==", (j + 1).toString())
            .get()
            .then(doc => {
              let dataStatusTemp = [];
              doc.forEach(element => {
                dataStatusTemp.push(element.data().status);
                if (
                  element.data().status == "updated" ||
                  element.data().status == "delete"
                ) {
                  if (!unitSyncTemp.includes(j + 1)) {
                    unitSyncTemp.push(j + 1);
                  }
                }
              });

              if (
                dataStatusTemp.includes("added") ||
                dataStatusTemp.includes("delete")
              ) {
                let indexUnit = unitSyncTemp.indexOf(j + 1);
                unitSyncTemp.splice(indexUnit, 1);
              }
              this.data[level - 1].unitSync = unitSyncTemp;

              if (
                level == this.data.length &&
                j + 1 == this.data[level - 1].unit
              ) {
                this.isLoaded = true;
                this.loadingHide();
              }
            });
        }
      }
    }
  },
  computed: {
    name() {
      return this.data;
    }
  },
  mounted() {
    this.loadLevel();
    this.checkSync();
  }
};
</script>


<style  scoped>
.box {
  width: 60px;
  height: 40px;
}
</style>