<template>
  <div>
    <div align="center">
      <div class="q-pa-md f24">{{pageName}}</div>
      <div style="max-width:1000px; width:100%" class="row">
        <div class="col-6 q-pa-sm">
          <q-input
            color="amber-13"
            dark
            square
            outlined
            v-model="addData.order"
            label="รหัสลำดับ"
            ref="order"
            :rules="[value => value.length >0]"
          />
        </div>
        <div class="col-6 q-pa-sm">
          <q-select
            color="amber-13"
            dark
            square
            outlined
            v-model="addData.skill"
            :options="['vocabulary',
            'grammar',
            'reading',
            'writing',
            'listening & Speaking'
            ]"
            label="ทักษะ"
          />
        </div>
        <div class="col-6 q-pa-sm">
          <q-select
            @input="levelchoose()"
            color="amber-13"
            dark
            square
            outlined
            v-model="addData.level"
            :options="level"
            label="Level"
          />
        </div>
        <div class="col-6 q-pa-sm">
          <q-select
            color="amber-13"
            dark
            square
            outlined
            v-model="addData.unit"
            :options="unit"
            label="Unit"
          />
        </div>
        <div>
          <q-checkbox color="amber-13" dark v-model="addData.preTest" />Pre-test
        </div>
        <div>
          <q-checkbox color="amber-13" dark v-model="addData.postTest" />Post-test
        </div>
        <div class="col-12 q-px-sm text-left">
          <div class="q-py-sm q-pt-lg">คำสั่งอังกฤษ</div>
          <q-editor
            class="box"
            dark
            square
            min-height="50px"
            v-model.trim="addData.instructioneng"
            :toolbar="[
        ['bold', 'italic', 'underline'],
      ]"
          />
          <div class="q-py-sm q-pt-lg">คำสั่งไทย</div>
          <q-editor
            class="box"
            dark
            square
            min-height="50px"
            v-model.trim="addData.instructionthai"
            :toolbar="[
        ['bold', 'italic', 'underline'],
      ]"
          />
          <div class="q-py-sm q-pt-lg">คำถาม</div>
          <q-editor
            class="box"
            dark
            square
            min-height="50px"
            v-model.trim="addData.question"
            :toolbar="[
        ['bold', 'italic', 'underline'],
      ]"
          />
          <div class="q-py-sm q-pt-lg">ตัวเลือก #1</div>
          <q-editor
            class="box"
            dark
            square
            min-height="50px"
            v-model.trim="choice1"
            :toolbar="[
        ['bold', 'italic', 'underline'],
      ]"
          />
          <div class="q-py-sm q-pt-lg">ตัวเลือก #2</div>
          <q-editor
            class="box"
            dark
            square
            min-height="50px"
            v-model.trim="choice2"
            :toolbar="[
        ['bold', 'italic', 'underline'],
      ]"
          />
          <div class="q-py-sm q-pt-lg">ตัวเลือก #3</div>
          <q-editor
            class="box"
            dark
            square
            min-height="50px"
            v-model.trim="choice3"
            :toolbar="[
        ['bold', 'italic', 'underline'],
      ]"
          />
          <div class="q-py-sm q-pt-lg">ตัวเลือก #4</div>
          <q-editor
            class="box"
            dark
            square
            min-height="50px"
            v-model.trim="choice4"
            :toolbar="[
        ['bold', 'italic', 'underline'],
      ]"
          />
          <div class="q-pt-lg">ตัวเลือกถูกต้อง</div>
          <div class="row">
            <div class="q-pa-md">
              <q-radio color="amber-13" dark v-model="addData.correctanswer" :val="0" />
              <span class="q-px-md">1</span>
            </div>
            <div class="q-pa-md">
              <q-radio color="amber-13" dark v-model="addData.correctanswer" :val="1" />
              <span class="q-px-md">2</span>
            </div>
            <div class="q-pa-md">
              <q-radio color="amber-13" dark v-model="addData.correctanswer" :val="2" />
              <span class="q-px-md">3</span>
            </div>
            <div class="q-pa-md">
              <q-radio color="amber-13" dark v-model="addData.correctanswer" :val="3" />
              <span class="q-px-md">4</span>
            </div>
          </div>
          <div class="q-py-sm q-pt-lg">คำอธิบาย</div>
          <q-editor
            class="box"
            dark
            square
            min-height="50px"
            v-model="addData.description"
            :toolbar="[
        ['bold', 'italic', 'underline'],
      ]"
          />
        </div>
        <div class="row col-12 justify-center q-py-lg">
          <div class="q-pa-sm">
            <q-btn class="bg7 cl3" label="ยกเลิก" style="width:120px" @click="cancelBtn()" />
          </div>
          <div class="q-pa-sm">
            <q-btn class="bg1 cl3" label="บันทึก" style="width:120px" @click="saveBtn()" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      pageName: "",
      level: this.$q.localStorage.getItem("levelList"),
      unit: this.$q.localStorage.getItem("unitList"),
      addData: {
        order: "",
        skill: "vocabulary",
        levelkey: "",
        level: "",
        unit: "",
        instructioneng: "",
        instructionthai: "",
        question: "",
        preTest: false,
        postTest: false,
        choices: [],
        description: "",
        correctanswer: 0,
        status: "added"
      },
      choice1: "",
      choice2: "",
      choice3: "",
      choice4: ""
    };
  },
  methods: {
    //
    loadedit() {
      this.loadingShow();
      db.collection("questionpool")
        .doc("draft")
        .collection("practice")
        .doc(this.$route.params.key)
        .get()
        .then(doc => {
          // การโหลดข้อมูลเข้าตัวแปร
          // console.log(doc.data());
          // this.level.forEach(element => {
          //   this.addData.levelkey = {
          //     label: element.label,
          //     value: element.value
          //   };
          // });

          this.addData.order = doc.data().order;
          this.addData.instructioneng = doc.data().instructioneng;
          this.addData.instructionthai = doc.data().instructionthai;
          this.addData.question = doc.data().question;
          this.addData.correctanswer = doc.data().correctanswer;
          this.addData.skill = doc.data().skill;
          this.addData.unit = doc.data().unit;
          this.addData.level = { label: doc.data().level };
          if (doc.data().description) {
            this.addData.description = doc.data().description;
          }
          this.choice1 = doc.data().choices[0];
          this.choice2 = doc.data().choices[1];
          this.choice3 = doc.data().choices[2];
          this.choice4 = doc.data().choices[3];
          if (doc.data().preTest) {
            this.addData.preTest = doc.data().preTest;
          }
          if (doc.data().postTest) {
            this.addData.postTest = doc.data().postTest;
          }
          this.loadingHide();
        });
    },
    // // ----------เปลี่ยน level และ  unit------

    levelchoose() {
      this.unit = this.$q.localStorage.getItem("unitList");
    },
    // // ----------บันท฿กข้อมูล------
    saveBtn() {
      this.loadingShow();
      this.$refs.order.validate();
      if (
        this.addData.order == "" ||
        this.addData.instructioneng == "" ||
        this.addData.instructionthai == ""
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
        return;
      }

      this.addData.level = this.addData.level.label;
      this.addData.choices.push(this.choice1);
      this.addData.choices.push(this.choice2);
      this.addData.choices.push(this.choice3);
      this.addData.choices.push(this.choice4);

      if (this.$route.name == "examedit") {
        // แก้ไข

        this.addData.status = "added";
        // console.log("แก้");
        db.collection("questionpool")
          .doc("draft")
          .collection("practice")
          .doc(this.$route.params.key)
          .set(this.addData)
          .then(() => {
            this.$router.push("/exam");
            this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
            this.loadingHide();
          });
      } else {
        // เพิ่ม
        if (
          this.addData.skill == "กรุณาเลือก" ||
          this.addData.unit == "กรุณาเลือก"
        ) {
          this.notifyRed("กรุณาเลือกข้อมูลให้ครบ");
          return;
        }
        // // console.log("เพิ่ม");
        // this.addData.level = this.addData.level.label;
        db.collection("questionpool")
          .doc("draft")
          .collection("practice")
          .where("order", "==", this.addData.order)
          .where("level", "==", this.addData.level)
          .where("unit", "==", this.addData.unit)
          .get()
          .then(doc => {
            if (doc.size > 0) {
              this.notifyRed("รหัสลำดับนี้มีการใช้งานแล้ว");
              return;
            } else {
              db.collection("questionpool")
                .doc("draft")
                .collection("practice")
                .add(this.addData)
                .then(() => {
                  this.$router.push("/exam");
                  this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
                  this.loadingHide();
                });
            }
          });
        // เพิ่ม choice เข้า arry
      }
      //เรหัสลำดับ ห้ามซ้ำ (คนละ เลเวล unit)
      // คำสั่งภาษาไทย อังกฤษ ถ้าไม่มีข้อมูลให้แจ้งเตือน
      // checkbook จะเลือกได้2อัน
      // db.collection("questionpool").add(this.addData);
    },

    cancelBtn() {
      this.$router.push("/exam");
    }
  },

  mounted() {
    if (this.$route.name == "examedit") {
      this.loadedit();
      this.pageName = "แก้ไขข้อสอบ";
    } else {
      (this.addData.level = this.$q.localStorage.getItem(
        "exammainLevelCurrent"
      )),
        (this.pageName = "เพิ่มข้อสอบ");
      if (this.$route.params.skill == undefined) {
        this.$router.push("/exam");
      }
    }
    // เช็คโหลด skill เข้ามา ตอนเพิ่มข้อมูล
    if (this.$route.params.skill == "ทุกทักษะ") {
      this.addData.skill = "กรุณาเลือก";
    } else {
      this.addData.skill = this.$route.params.skill;
    }
    // เช็คโหลด unit เข้ามา ตอนเพิ่มข้อมูล
    if (this.$route.params.unit == "ทั้งหมด") {
      this.addData.unit = "กรุณาเลือก";
    } else {
      this.addData.unit = this.$route.params.unit;
    }
    // this.level.forEach(element => {
    //   this.addData.levelkey = {
    //     label: element.label,
    //     value: element.value
    //   };
    // });
    // เช็คโหลดเลเลวเข้ามา ตอนเพิ่มข้อมูล
    this.levelchoose();
  }
};
</script> 

 
<style scoped>
.box {
  min-height: 120px;
}
</style>