<template>
  <div>
    <div class="row q-pa-md">
      <div>
        <toggle-button
          :value="true"
          :labels="{ checked: 'แบบร่าง', unchecked: 'เซิฟเวอร์' }"
          :height="40"
          :width="120"
          :color="{
          checked: ['#909090'],
          unchecked: ['#388E3C']
        }"
          :font-size="16"
          v-model="status"
          @change="loadData()"
        />
      </div>
      <div class="col text-center relative-position">
        <div class="absolute-center text-h5">คลังข้อสอบ</div>
      </div>
      <div class="row">
        <div class="q-px-md">
          <q-btn @click="checksyncBtn()" round class="cl2 bg1" icon="fas fa-table" v-show="status" />
          <q-btn round class="cl2 bg5" v-show="!status " icon="fas fa-table" />
        </div>
        <div>
          <q-btn
            @click="syncBtn()"
            round
            class="cl2 bg1"
            icon="fas fa-sync-alt"
            v-show="status && syncData && unit !='ทั้งหมด'"
          />
          <q-btn
            round
            class="cl2 bg5"
            icon="fas fa-sync-alt"
            disable
            v-show="!status || !syncData || unit =='ทั้งหมด'"
          />
        </div>
        <div class="q-px-md">
          <q-btn @click="printBtn()" round class="cl2 bg1" icon="fas fa-print" v-show="status " />
          <q-btn round class="cl2 bg5" icon="fas fa-print" v-show="!status " />
        </div>
        <div>
          <q-btn @click="addBtn()" round class="cl2 bg1" icon="fas fa-plus" v-show="status " />
          <q-btn round class="cl2 bg5" icon="fas fa-plus" v-show="!status " />
        </div>
      </div>
    </div>
    <div class="row q-pa-lg">
      <div class="col q-px-lg">
        <q-select
          @input="levelchoose()"
          color="amber-13"
          dark
          v-model="level"
          :options="levelall"
          label="Level"
        />
      </div>
      <div class="col q-px-lg">
        <q-select
          @input="loadData()"
          color="amber-13"
          dark
          v-model="unit"
          :options="unitall"
          label="Unit"
        />
      </div>
      <div class="col q-px-lg">
        <q-select
          @input="loadData()"
          color="amber-13"
          dark
          v-model="skill"
          :options="[ 'ทุกทักษะ','vocabulary',
            'grammar',
            'reading',
            'writing',
            'listening & Speaking'
            ]"
          label="ทักษะ"
        />
      </div>
      <div class="q-pa-md">
        <div>
          <q-checkbox color="amber-13" @input="preTestFn()" dark v-model="preTest" />Pre-test
        </div>
      </div>
      <div class="q-pa-md">
        <div>
          <q-checkbox color="amber-13" @input="postTestFn()" dark v-model="postTest" />Post-test
        </div>
      </div>
    </div>
    <div class="q-pa-md">
      <q-table
        wrap-cells
        :pagination.sync="pagination"
        hide-bottom
        :data="data"
        :columns="columns"
        dark
        row-key="name"
        binary-state-sort
      >
        <template v-slot:header-cell="props">
          <q-th :props="props">{{ props.col.label }}</q-th>
        </template>
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="skill" :props="props" :class="{'cl5' : props.row.status == 'delete'}">
              <div class="q-py-sm">{{ props.row.skill }}</div>
              <div class="q-my-sm" v-if="props.row.preTest == true ">
                <q-btn
                  no-caps
                  :class="{'cl5' : props.row.status == 'delete'}"
                  style="width:80%; border: 1px solid #909090"
                  label="Pre-test"
                />
              </div>
              <div class="q-my-sm" v-if="props.row.postTest == true ">
                <q-btn
                  no-caps
                  :class="{'cl5' : props.row.status == 'delete'}"
                  style="width:80%; border: 1px solid #909090"
                  label="Post-test"
                />
              </div>
            </q-td>
            <q-td :class="{'cl5' : props.row.status == 'delete'}" key="question" :props="props">
              <div class="q-px-md">{{ props.row.instructioneng }}</div>
              <div class="q-px-md">{{ props.row.instructionthai }}</div>
              <div class="q-px-md" v-show="props.row.question !=''">
                <p v-html="props.row.question"></p>
              </div>
              <div class="q-px-md">
                <span :class="{'bg-green-9 box' : props.row.correctanswer == 0}">
                  <span v-if="props.row.choices[0] != 0">(1)</span>
                  {{ props.row.choices[0] }}
                </span>
              </div>
              <div class="q-px-md">
                <span :class="{'bg-green-9 box' : props.row.correctanswer == 1}">
                  <span v-if="props.row.choices[1] != 0">(2)</span>
                  {{ props.row.choices[1] }}
                </span>
              </div>
              <div class="q-px-md">
                <span :class="{'bg-green-9 box' : props.row.correctanswer == 2}">
                  <span v-if="props.row.choices[2] != 0">(3)</span>
                  {{ props.row.choices[2] }}
                </span>
              </div>
              <div class="q-px-md">
                <span :class="{'bg-green-9 box' : props.row.correctanswer == 3}">
                  <span v-if="props.row.choices[3] != 0">(4)</span>
                  {{ props.row.choices[3] }}
                </span>
              </div>
              <div
                v-show="props.row.description  "
                style="height:1px ; width:100%"
                class="hr2 q-my-sm"
              ></div>
              <div v-html="props.row.description" class="q-px-md"></div>
            </q-td>
            <q-td key="order" :props="props ">
              <div>
                <span v-if=" props.row.status != 'deleted'">{{ props.row.order}}</span>
              </div>
            </q-td>
            <q-td key="delete" :props="props">
              <div v-if=" props.row.status != 'deleted'">
                <q-icon
                  @click="confirmBtn(props.row.key)"
                  class="cl1 cursor-pointer"
                  size="20px"
                  name="fas fa-trash-alt"
                  v-show="status "
                />
                <q-icon class="cl5" size="18px" name="fas fa-trash-alt" disable v-show="!status " />
              </div>
              <div v-if=" props.row.status == 'deleted'">
                <q-btn @click="deleteOff(props.row.key)" class="cl2 bg1" label="ยกเลิกการลบ" />
              </div>
            </q-td>
            <q-td v-if=" props.row.status == 'deleted'"></q-td>
            <q-td v-if=" props.row.status != 'deleted'" key="edit" :props="props">
              <div>
                <q-icon
                  @click="editBtn(props.row.key)"
                  class="cl1 cursor-pointer"
                  size="20px"
                  name="fas fa-edit"
                  v-show="status "
                />
                <q-icon round class="cl5" name="fas fa-edit" disable v-show="!status " />
              </div>
            </q-td>
          </q-tr>
        </template>
      </q-table>
      <q-dialog v-model="confirm" persistent content-class="backdrop">
        <q-card dark style="width: 400px">
          <q-card-section class="row items-center">
            <span>คุณต้องการลบข้อมูลหรือไม่</span>
          </q-card-section>
          <q-card-actions class align="center">
            <q-btn class="bg7 cl2 btnCard" flat label="ยกเลิก" v-close-popup />
            <q-btn @click="deleteOn()" class="bg1 cl2 btnCard" flat label="ยืนยัน" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      datafinal: [],
      datav: [],
      datag: [],
      datar: [],
      dataw: [],
      datal: [],
      numberSynce: 0,
      syncData: true,
      confirm: false,
      userKey: "",
      pagination: {
        rowsPerPage: 0
      },
      status: true,
      levelall: this.$q.localStorage.getItem("levelList"),
      level: this.$q.localStorage.has("exammainLevelCurrent")
        ? this.$q.localStorage.getItem("exammainLevelCurrent")
        : this.$q.localStorage.getItem("levelList")[0],
      unit: this.$q.localStorage.has("exammainUnitCurrent")
        ? this.$q.localStorage.getItem("exammainUnitCurrent")
        : "1",
      unitall: [],
      skill: "ทุกทักษะ",

      options: [],
      preTest: false,
      postTest: false,
      columns: [
        {
          name: "skill",
          label: "ทักษะ",
          align: "center",
          style: "width:180px"
        },
        {
          name: "question",
          align: "left",
          label: "โจทย์"
        },
        {
          name: "order",
          label: "รหัสลำดับ",
          align: "center",
          style: "width:100px"
        },
        {
          name: "delete",
          label: "ลบ",
          align: "center",
          style: "width:100px"
        },
        {
          name: "edit",
          label: "แก้ไข",
          align: "center",
          style: "width:100px"
        }
      ],
      data: [],
      snapCheckSync: "",
      snapLoadData: ""
    };
  },
  methods: {
    checksyncBtn() {
      this.$router.push("/exam/sync");
    },
    checkSync() {
      // ตรวจสอบว่าจำเป็นต้อง sync หรือเปล่าว
      if (typeof this.snapCheckSync == "function") {
        this.snapCheckSync();
      }
      this.snapCheckSync = db
        .collection("questionpool")
        .doc("draft")
        .collection("practice")
        .where("level", "==", this.level.label)
        .where("unit", "==", this.unit)
        .onSnapshot(doc => {
          this.syncData = false;
          for (const item of doc.docs) {
            if (item.data().status != "updated") {
              this.syncData = true;
              break;
            }
          }
        });
    },
    syncBtn() {
      // เช็ค level and unit
      this.loadingShow();
      let counter = 0;
      let counter2 = 0;
      setTimeout(() => {
        db.collection("questionpool")
          .doc("draft")
          .collection("practice")
          .where("level", "==", this.level.label)
          .where("unit", "==", this.unit)
          .get()
          .then(doc => {
            //  วนหา สถานะ
            doc.forEach(element => {
              if (element.data().status == "added") {
                counter++;
                let data = element.data();
                data.status = "updated";
                db.collection("questionpool")
                  .doc("server")
                  .collection("practice")
                  .doc(element.id)
                  .set(data)
                  .then(() => {
                    //  อัพสถานะ updated
                    db.collection("questionpool")
                      .doc("draft")
                      .collection("practice")
                      .doc(element.id)
                      .update({
                        status: "updated"
                      })
                      .then(() => {
                        // this.notifyGreen("sync ข้อมูลเสร็จแล้ว");
                        // this.loadData();
                        // this.syncData = false;
                        counter2++;
                        if (counter == counter2) {
                          console.log("HIDE");
                          this.loadingHide();
                        }
                      });
                  });
                // การลบ ข้อมูล
              } else if (element.data().status == "deleted") {
                counter++;
                db.collection("questionpool")
                  .doc("server")
                  .collection("practice")
                  .doc(element.id)
                  .delete()
                  .then(() => {
                    db.collection("questionpool")
                      .doc("draft")
                      .collection("practice")
                      .doc(element.id)
                      .delete()
                      .then(() => {
                        // this.notifyGreen("sync ข้อมูลเสร็จแล้ว");
                        // this.loadData();
                        // this.syncData = false;
                        counter2++;
                        if (counter == counter2) {
                          this.loadingHide();
                        }
                      });
                  });
              }
            });
          });
      }, 1000);
    },
    // โหลด เลเวล
    levelchoose() {
      this.checkSync();
      this.loadUnit(this.level.value);
      this.unitall = this.$q.localStorage.getItem("unitList");
      this.unitall.unshift("ทั้งหมด");
      this.unit = this.$q.localStorage.has("exammainUnitCurrent")
        ? this.$q.localStorage.getItem("exammainUnitCurrent")
        : "ทั้งหมด";

      this.loadData();
    },

    // ---------เช็คข้อมูลซิง------------

    // ----------ปุ่มลบ---------------
    confirmBtn(key) {
      this.userKey = key;
      this.confirm = true;
    },

    deleteOn() {
      db.collection("questionpool")
        .doc("draft")
        .collection("practice")
        .doc(this.userKey)
        .update({ status: "deleted" })
        .then(() => {
          this.loadData();
        });
    },

    deleteOff(key) {
      db.collection("questionpool")
        .doc("draft")
        .collection("practice")
        .doc(key)
        .update({ status: "added" })
        .then(() => {
          this.loadData();
        });
    },
    // ---------ปุ่มเพิ่ม----------------
    addBtn() {
      this.$q.localStorage.set("exammainLevelCurrent", this.level);
      this.$q.localStorage.set("exammainUnitCurrent", this.unit);
      this.$router.push({
        name: "examadd",
        params: {
          level: this.level.label,
          unit: this.unit,
          skill: this.skill
        }
      });
    },
    // ---------ปุ่มแก้ไข----------------
    editBtn(key) {
      this.$q.localStorage.set("exammainLevelCurrent", this.level);
      this.$q.localStorage.set("exammainUnitCurrent", this.unit);
      this.$router.push("/exam/edit/" + key);
    },

    loadData() {
      // การเช็คค่า ต่างๆ
      // this.loadingShow();
      this.syncData = false;
      this.checkSync();
      let db1 = db.collection("questionpool");
      // แบบร่างกับเซิฟเวอร์
      if (this.status) {
        db1 = db1.doc("draft");
      } else {
        db1 = db1.doc("server");
      }
      db1 = db1.collection("practice");
      db1 = db1.where("level", "==", this.level.label);
      if (this.unit != "ทั้งหมด") {
        db1 = db1.where("unit", "==", this.unit);
      }
      if (this.skill != "ทุกทักษะ") {
        db1 = db1.where("skill", "==", this.skill);
      }
      if (this.preTest) {
        db1 = db1.where("preTest", "==", true);
      }
      if (this.postTest) {
        db1 = db1.where("postTest", "==", true);
      }

      if (typeof this.snapLoadData == "function") {
        this.snapLoadData();
      }

      this.snapLoadData = db1.onSnapshot(doc => {
        this.data = [];
        doc.forEach(element => {
          let dataKey = {
            key: element.id
          };
          let final = {
            ...dataKey,
            ...element.data()
          };
          this.data.push(final);
          this.data.sort((a, b) => {
            return a.order - b.order;
          });
        });

        // การเ็บแต่ละต้ว
        this.datav = this.data.filter(x => {
          return x.skill == "vocabulary";
        });
        this.datag = this.data.filter(x => {
          return x.skill == "grammar";
        });
        this.datar = this.data.filter(x => {
          return x.skill == "reading";
        });
        this.dataw = this.data.filter(x => {
          return x.skill == "writing";
        });
        this.datal = this.data.filter(x => {
          return x.skill == "listening & Speaking";
        });
        this.datafinal = this.data;
        // this.loadingHide();
      });
    },
    preTestFn() {
      this.postTest = false;
      this.loadData();
    },
    postTestFn() {
      this.preTest = false;
      this.loadData();
    },

    // ------------ปุ่มปริ้น------------
    printBtn() {
      this.loadData();
      this.$router.push({
        name: "examprint",
        params: {
          data: this.datafinal,
          level: this.level.label,
          unit: this.unit,
          skill: this.skill
        }
      });
    }
  },
  mounted() {
    // this.level = this.levelall[0];
    this.levelchoose();
    this.checkSync();
  },
  beforeDestroy() {
    this.snapCheckSync();
    this.snapLoadData();
  }
};
</script>

<style scoped>
.btnCard {
  width: 100px;
}
.box {
  border-radius: 5px;
}
.hr2 {
  background-color: #5c5c5c;
}
</style>