<template>
  <div>
    <div>
      <div class="row q-pa-md">
        <!-- แบบร่าง -->
        <div>
          <toggle-button
            :sync="true"
            :labels="{ checked: 'แบบร่าง', unchecked: 'เซิฟเวอร์' }"
            :height="40"
            :width="140"
            :color="{
          checked: ['#909090' ],
          unchecked: ['#388E3C']
        }"
            :font-size="16"
            v-model="status"
            @change="loadData()"
          />
        </div>
        <!-- หัวข้อ -->
        <div class="col relative-position">
          <div class="absolute-center text-h5">Fill in the blank | L{{level}} U{{unit}}</div>
        </div>
        <div class="row">
          <!-- ปุ่มซิงค์ -->
          <div class="q-px-md">
            <sync-button @click="syncBtn()" :practiceKey="practiceKey" :status="status"></sync-button>
          </div>
          <!-- ปุ่มปริ้น -->
          <div>
            <q-btn
              :class="{'cl2 bg1':status , 'cl2 bg5' : !status}"
              :disable="!status"
              @click="printBtn()"
              round
              text-color="black"
              icon="fas fa-print"
              v-if="this.data.length >  0"
            />
            <q-btn
              class="cl2 bg5"
              v-if="this.data.length ==  0"
              :disable=" this.data.length == 0"
              round
              text-color="black"
              icon="fas fa-print"
            />
          </div>
        </div>
      </div>
      <!-- คำถาม -->
      <div class="row q-px-md q-py-md">
        <div class="col-6 bg4">
          <div class="row">
            <div class="col-12 row">
              <div style="width:140px " class="col-3 self-center q-ml-md">คำสั่งภาษาอังกฤษ</div>
              <div style="width:10px " class="col-1 self-center">:</div>
              <div class="col">
                <q-input readonly class borderless dark v-model="command.eng" />
              </div>
            </div>
            <div class="col-12 row">
              <div style="width:140px" class="col-3 self-center q-ml-md">คำสั่งภาษาไทย</div>
              <div style="width:10px" class="col-1 self-center">:</div>
              <div class="col">
                <q-input readonly class borderless dark v-model="command.thai" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 self-center">
          <!-- ปุ่มดินสอคำถาม -->
          <q-btn
            class="q-mx-md bg-amber-13"
            @click="penQuertionBtn()"
            round
            text-color="black"
            icon="fas fa-pen"
            v-show="status "
          />
          <q-btn
            round
            class="cl2 bg5 absolute-rigth q-mx-md"
            icon="fas fa-pen"
            disable
            v-show="!status "
          />
        </div>
      </div>

      <div class="q-px-md" align="right">
        <!-- ปุ่มบวก -->
        <q-btn
          class="bg-amber-13"
          @click="addBtn()"
          round
          text-color="black"
          icon="fas fa-plus"
          v-show="status "
        />
        <q-btn
          round
          class="cl2 bg5 absolute-rigth q-mx-md"
          icon="fas fa-plus"
          disable
          v-show="!status "
        />
      </div>

      <!-- ตาราง -->
      <div class="q-pa-md">
        <q-table :data="data" :columns="columns" :pagination.sync="pagination" row-key="name" dark>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="number" :props="props">{{ props.row.number }}</q-td>
              <q-td style="width:75%" key="practice" :props="props">
                <div>
                  <img :src="props.row.imgURL" alt />
                </div>
                <span v-html="props.row.question"></span>
                <br />
                <span v-html="props.row.description"></span>
                <hr v-show="props.row.extra.length >0" />
                <div class="row q-gutter-lg" v-for="(x,index) in props.row.extra " :key="index">
                  <div>{{x.vocab}}</div>
                  <div>({{x.partofspeech}})</div>

                  <div>{{x.meaning}}</div>
                </div>
              </q-td>
              <q-td key="order" :props="props">
                <div>{{ props.row.order }}</div>
              </q-td>
              <q-td key="delete" :props="props" v-if=" props.row.status != 'delete'">
                <div>
                  <q-icon
                    @click="deleteBtn(props.row.key)"
                    class="cl1 cursor-pointer"
                    size="18px"
                    name="fas fa-trash-alt"
                    v-show="status "
                  />
                  <q-icon
                    class="cl5"
                    size="18px"
                    name="fas fa-trash-alt"
                    disable
                    v-show="!status "
                  />
                </div>
              </q-td>
              <q-td key="edit" :props="props" v-if=" props.row.status != 'delete'">
                <div>
                  <q-icon
                    @click="editBtn(props.row.key)"
                    class="cl1 cursor-pointer"
                    size="18px"
                    name="fas fa-edit"
                    v-show="status "
                  />
                  <q-icon
                    round
                    class="cl5"
                    size="18px"
                    name="fas fa-edit"
                    disable
                    v-show="!status "
                  />
                </div>
              </q-td>
              <q-td colspan="2" key="edit" :props="props" v-if="props.row.status == 'delete'">
                <div v-if=" props.row.status == 'delete'">
                  <q-btn @click="deleteOff(props.row.key)" class="cl2 bg1" label="ยกเลิกการลบ" />
                </div>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>

      <q-dialog v-model="deleteData" persistent content-class="backdrop">
        <q-card style="width:400px" dark>
          <q-card-section class="items-center">
            <span>คุณต้องการลบข้อมูลหรือไม่</span>
          </q-card-section>
          <q-card-actions class align="center">
            <q-btn style="width:120px" class="bg7 cl2 btnCard" flat label="ยกเลิก" v-close-popup />
            <q-btn
              style="width:120px"
              @click="deleteOn()"
              class="bg1 cl2 btnCard"
              flat
              label="ยืนยัน"
              v-close-popup
            />
          </q-card-actions>
        </q-card>
      </q-dialog>

      <!-- dialog เพิ่มคำสั่ง -->

      <q-dialog v-model="addCommand" persistent v-if="addCommand">
        <q-card dark style="width:50%;min-width:300px" class="q-pa-md bg3">
          <div
            v-show="command.eng =='ยังไม่ระบุ'|| command.thai =='ยังไม่ระบุ'"
            class="text-center q-pa-sm"
          >{{"เพิ่มคำสั่ง"}}</div>
          <div
            v-show="command.eng !='ยังไม่ระบุ'||command.thai !='ยังไม่ระบุ'"
            class="text-center q-pa-sm"
          >{{"แก้ไขคำสั่ง"}}</div>
          <div class="q-pa-sm">
            <q-input
              color="amber-13"
              dark
              square
              outlined
              v-model="commandEng"
              label="คำสั่งภาษาอังกฤษ"
            />
          </div>
          <div class="q-pa-sm">
            <q-input
              color="amber-13"
              dark
              square
              outlined
              v-model="commandThai"
              label="คำสั่งภาษาไทย"
            />
          </div>
          <q-card-actions align="center">
            <div class="row q-py-lg">
              <div class="col-6 q-pr-sm" align="right">
                <q-btn
                  @click="cancelBtn()"
                  label="ยกเลิก"
                  style="width:170px"
                  class="bg7 text-black"
                ></q-btn>
              </div>
              <div class="col-6 q-pl-sm" align="left">
                <q-btn @click="saveBtn()" label="บันทึก" style="width:170px" class="bg1 text-black"></q-btn>
              </div>
            </div>
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
    <!-- <div>
      <button @click="test()">amm</button>
    </div>-->
  </div>
</template>
 

<script>
import { db } from "../../router/index.js";
import syncButton from "../../components/syncButton.vue";
export default {
  components: {
    syncButton
  },
  data() {
    return {
      pagination: {
        rowsPerPage: 0
      },
      deleteData: false,
      practiceKey: this.$route.params.key,
      command: { eng: "", thai: "" },
      commandThai: "",
      commandEng: "",
      addCommand: false,
      status: true,
      data: [],
      columns: [
        {
          name: "number",
          align: "center",
          label: "ลำดับ"
        },
        {
          name: "practice",
          align: "left",
          label: "โจทย์"
        },
        {
          name: "order",
          align: "center",
          label: "รหัสลำดับ"
        },
        {
          name: "delete",
          align: "center",
          label: "ลบ"
        },
        {
          name: "edit",
          align: "center",
          label: "แก้ไข"
        }
      ],
      snapCommandData: null,
      snapLoadData: null,
      datafinal: [],
      level: this.$q.localStorage.getItem("practicemainLevelCurrent").label,
      unit: this.$q.localStorage.getItem("practicemainUnitCurrent")
    };
  },
  methods: {
    syncBtn() {
      this.loadData();
    },
    printBtn() {
      // this.loadData();
      this.$router.push({
        name: "fillinprint",
        params: {
          data: this.data,
          key: this.$route.params.key,
          level: this.level,
          unit: this.unit,
          eng: this.commandEng,
          th: this.commandThai
        }
      });
      this.$q.localStorage.set("dataKey", this.$route.params.key);
    },
    addBtn() {
      this.$router.push("/practice/fillinadd/" + this.$route.params.key);
    },
    penQuertionBtn() {
      this.commandEng = this.command.eng;
      this.commandThai = this.command.thai;
      this.addCommand = true;
    },
    deleteBtn(key) {
      this.deleteData = true;
      this.deleteKey = key;
    },
    deleteOn() {
      db.collection("practicepool_draft")
        .doc(this.deleteKey)
        .update({ status: "delete" });
    },
    deleteOff(key) {
      db.collection("practicepool_draft")
        .doc(key)
        .update({ status: "added" });
    },
    cancelBtn() {
      this.addCommand = false;
    }, // โหลดคำสั่ง
    loadCommand() {
      this.snapCommandData = db
        .collection("practicelist")
        .doc(this.$route.params.key)
        .onSnapshot(doc => {
          this.command = {
            eng: doc.data().eng,
            thai: doc.data().thai
          };

          this.commandEng = doc.data().eng;
          this.commandThai = doc.data().thai;
          if (
            this.commandEng == "" ||
            this.commandEng == undefined ||
            this.commandThai == undefined ||
            this.commandThai == ""
          ) {
            this.command.eng = "ยังไม่ระบุ";
            this.command.thai = "ยังไม่ระบุ";
          }
          this.loadingHide();
        });
    },
    // เพิ่มคำสั่ง
    saveBtn() {
      this.loadingShow();
      if (
        this.commandEng == "" ||
        this.commandThai == "" ||
        this.commandEng == undefined ||
        this.commandThai == undefined
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
        this.addCommand = true;
        this.loadingHide();
        return;
      } else {
        this.command.eng = this.commandEng;
        this.command.thai = this.commandThai;
        db.collection("practicelist")
          .doc(this.$route.params.key)
          .update(this.command)
          .then(() => {
            this.addCommand = false;
            this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
            this.loadingHide();
          });
      }
    },
    loadData() {
      this.data = [];
      this.datafinal = [];
      this.loadingShow();
      if (this.status) {
        this.snapLoadData = db
          .collection("practicepool_draft")
          .where("practicekey", "==", this.$route.params.key)
          .onSnapshot(doc => {
            let dataTemp = [];
            doc.forEach(element => {
              db.collection("practicepool_draft")
                .doc(element.id)
                .collection("extraVocab")
                .onSnapshot(doc1 => {
                  let extra = [];
                  doc1.forEach(element1 => {
                    let dataKey = {
                      key: element1.id
                    };
                    let final = {
                      ...dataKey,
                      ...element1.data()
                    };
                    extra.push(final);
                    extra.sort((a, b) => {
                      return a.vocab.toLowerCase() < b.vocab.toLowerCase()
                        ? -1
                        : 1;
                    });
                  });
                  let dataKey = {
                    key: element.id
                  };
                  let dataFinal = {
                    extra: extra,
                    ...element.data(),
                    ...dataKey
                  };

                  let test = dataFinal.question.replace(
                    /<\s*u[^>]*>/g,
                    "<span class='bg-green-5'>"
                  );
                  test = test.replace(/<\s*\/\s*u>/g, "</span>");

                  dataFinal.question = test;

                  this.datafinal.push(dataFinal);
                  dataTemp.push(dataFinal);
                  dataTemp.sort((a, b) => {
                    return a.order - b.order;
                  });
                  dataTemp.forEach((element, index) => {
                    element.number = index + 1;
                  });
                  this.data = dataTemp;
                  this.loadingHide();
                });
            });
          });
      } else {
        this.snapLoadData = db
          .collection("practicepool_server")
          .where("practicekey", "==", this.$route.params.key)
          .onSnapshot(doc => {
            let dataTemp = [];
            doc.forEach(element => {
              db.collection("practicepool_server")
                .doc(element.id)
                .collection("extraVocab")
                .onSnapshot(doc1 => {
                  let extra = [];
                  doc1.forEach(element1 => {
                    let dataKey = {
                      key: element1.id
                    };
                    let final = {
                      ...dataKey,
                      ...element1.data()
                    };
                    extra.push(final);
                  });
                  let dataKey = {
                    key: element.id
                  };
                  let dataFinal = {
                    extra: extra,
                    ...element.data(),
                    ...dataKey
                  };
                  let test = dataFinal.question.replace(
                    /<\s*u[^>]*>/g,
                    "<span class='bg-green-5'>"
                  );
                  test = test.replace(/<\s*\/\s*u>/g, "</span>");
                  dataFinal.question = test;

                  this.datafinal.push(dataFinal);
                  dataTemp.push(dataFinal);
                  dataTemp.sort((a, b) => {
                    return a.order - b.order;
                  });
                  dataTemp.forEach((element, index) => {
                    element.number = index + 1;
                  });
                  this.data = dataTemp;
                  this.loadingHide();
                });
            });
          });
      }
      this.loadCommand();
    },
    editBtn(key) {
      this.$router.push(
        "/practice/fillinedit/" + this.$route.params.key + "/" + key
      );
    }
  },
  mounted() {
    this.loadData();
  },
  beforeDestroy() {
    this.snapCommandData();
    this.snapLoadData();
  }
};
</script>

<style  scoped>
.hr2 {
  background-color: #5c5c5c;
}
</style>