<template>
  <div>
    <div align="center" class="text-h6 q-py-lg">Grammar Fill in the blank | L{{level}} U{{unit}}</div>
    <div class="q-px-md" align="center">
      <div class="box" style="max-width:1200px ">
        <div>
          <q-tabs align="left" v-model="tab" no-caps class="bg4 text-white">
            <q-tab name="quertion" label="คำถาม" />
            <q-tab
              :disable="this.$route.name =='fillinadd' "
              name="vocabulary"
              label="คำศัพท์เสริม"
            />
          </q-tabs>
        </div>
        <q-tab-panels v-model="tab" class="bg2">
          <q-tab-panel name="quertion">
            <div style="width:800px" class="q-py-lg">
              <q-input
                type="number"
                dark
                color="amber-13"
                square
                v-model="fillinData.order"
                label="รหัสลำดับ"
                outlined
                squer
              ></q-input>
            </div>
            <div class="text-left q-py-md" style="width:800px">
              <div align="left" class="q-pb-sm">คำถาม *ใช้ขีดเส้นใต้ คำที่เป็นคำตอบ</div>
              <q-editor
                dark
                square
                min-height="50px"
                v-model.trim="fillinData.question"
                :toolbar="[
        ['bold', 'italic', 'underline'],
      ]"
              />
            </div>
            <!-- <div class="text-left" style="width:800px">
              <div align="left" class="q-pb-sm">
                <span></span>
              </div>
            </div>-->
            <div style="width:800px" class="row">
              <div class="q-py-md">
                <span>รูปภาพ *ภาพที่ใช้มีความกว้างไม่เกิน 800px</span>
                <q-checkbox
                  :disable="fillinData.imgURL !=''"
                  keep-color
                  color="amber-13"
                  v-model="fillinData.statusimg"
                />
              </div>
              <div class="col q-py-sm">
                <div
                  v-if="fillinData.statusimg && fillinData.imgURL == ''"
                  class="boxcl q-px-md q-py-sm"
                  style="height:55px;width:100%"
                >
                  <q-input
                    borderless
                    dark
                    v-model="fileImage"
                    @input="val => { file = val[0] }"
                    type="file"
                    accept="image/jpeg"
                  />
                </div>
                <div
                  v-if="fillinData.statusimg && fillinData.imgURL != ''"
                  class="boxcl q-px-md q-py-sm"
                  style="height:55px;width:100%"
                >
                  <div class="text-center">
                    <q-btn
                      style="width:120px"
                      @click="deleteimg()"
                      class="bg7 cl2"
                      label="ลบรูปภาพ"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="text-left q-py-md" style="width:800px">
              <div align="left" class="q-pb-sm">คำอธิบาย</div>
              <q-editor
                dark
                square
                min-height="50px"
                v-model.trim="fillinData.description"
                :toolbar="[
        ['bold', 'italic', 'underline'],
      ]"
              />
            </div>
            <div class="row q-py-lg">
              <div class="col-6 q-pr-sm" align="right">
                <q-btn
                  @click="cancelBtn()"
                  label="ยกเลิก"
                  style="width:170px"
                  class="bg7 text-black"
                ></q-btn>
              </div>
              <div class="col-6 q-pl-sm" align="left">
                <q-btn
                  @click="saveBtn()"
                  :disable="isdata"
                  label="บันทึก"
                  style="width:170px"
                  class="bg1 text-black"
                ></q-btn>
              </div>
            </div>
          </q-tab-panel>
        </q-tab-panels>
        <q-tab-panels v-model="tab" class="bg2">
          <q-tab-panel name="vocabulary">
            <div>
              <div align="right">
                <!-- ปุ่มบวก -->
                <q-btn
                  class="bg-amber-13"
                  @click="addBtn()"
                  round
                  text-color="black"
                  icon="fas fa-plus"
                />
              </div>
              <!-- ตาราง -->

              <template>
                <div class="q-py-md">
                  <q-table :data="data" :columns="columns" row-key="name" dark>
                    <template v-slot:body="props">
                      <q-tr :props="props">
                        <q-td key="vocab" :props="props">{{ props.row.vocab }}</q-td>
                        <q-td key="type" :props="props">{{ props.row.partofspeech }}</q-td>
                        <q-td key="mean" :props="props">{{ props.row.meaning }}</q-td>
                        <q-td @click="deleteBtn(props.row.key)" key="delete" :props="props">
                          <q-icon class="cl1 cursor-pointer" size="18px" name="fas fa-trash-alt" />
                        </q-td>
                        <q-td @click="editBtn(props.row.key)" key="edit" :props="props">
                          <q-icon class="cl1 cursor-pointer" size="18px" name="fas fa-edit" />
                        </q-td>
                      </q-tr>
                    </template>
                  </q-table>
                </div>
              </template>
              <div>
                <q-btn
                  @click="home()"
                  label="กลับหน้าหลัก"
                  style="width:170px"
                  class="bg7 text-black"
                ></q-btn>
              </div>
            </div>
          </q-tab-panel>
        </q-tab-panels>
        <!-- dialog add extra vocab -->
        <q-dialog v-model="addVocab">
          <div class="bg3 q-pa-md" style="width:600px">
            <div v-if="titleextra" align="center " class="text-h6 q-py-md">เพิ่มคำศัพท์เสริม</div>
            <div v-if="!titleextra" align="center " class="text-h6 q-py-md">แก้ไขคำศัพท์เสริม</div>
            <div class="q-py-sm">
              <q-input
                dark
                color="amber-13"
                square
                outlined
                label="คำศัพท์"
                v-model="addExtraVocab.vocab"
              ></q-input>
            </div>
            <div class="q-py-md">
              <q-select
                :options="options"
                dark
                color="amber-13"
                square
                outlined
                label="ชนิดของคำ"
                v-model="addExtraVocab.partofspeech"
              ></q-select>
            </div>
            <div class="q-py-md">
              <q-input
                dark
                color="amber-13"
                square
                outlined
                label="ความหมาย"
                v-model="addExtraVocab.meaning"
              ></q-input>
            </div>
            <div class="row q-py-lg">
              <div class="col-6 q-pr-sm" align="right">
                <q-btn
                  @click="cancelVocabBtn()"
                  label="ยกเลิก"
                  style="width:170px"
                  class="bg7 text-black"
                ></q-btn>
              </div>
              <div class="col-6 q-pl-sm" align="left">
                <q-btn
                  @click="savevocabBtn()"
                  :disable="isdata"
                  label="บันทึก"
                  style="width:170px"
                  class="bg1 text-black"
                ></q-btn>
              </div>
            </div>
          </div>
        </q-dialog>
      </div>
    </div>
  </div>
</template>

<script>
import { st } from "../../router/index.js";
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      isdata: false,
      extraKey: "",
      editVocab: true,
      titleextra: false,
      addExtraVocab: {
        partofspeech: "ไม่ระบุ",
        meaning: "",
        vocab: ""
      },
      options: [],

      addVocab: false,
      columns: [
        {
          name: "vocab",
          align: "center",
          label: "คำศัพท์"
        },
        {
          name: "type",
          align: "center",
          label: "ชนิดของคำ"
        },
        {
          name: "mean",
          align: "center",
          label: "ความหมาย"
        },
        {
          name: "delete",
          align: "center",
          label: "ลบ"
        },
        {
          name: "edit",
          align: "center",
          label: "แก้ไข"
        }
      ],
      data: [],
      tab: "quertion",
      fileImage: "",
      fillinData: {
        statusimg: false,
        imgURL: "",
        question: "",
        description: "",
        order: "",
        practicetype: "",
        level: "",
        unit: "",
        status: "added",
        practicekey: this.$route.params.key
      },
      statusimgold: "",
      orderold: "",
      level: this.$q.localStorage
        .getItem("practicemainLevelCurrent")
        .label.toString(),
      unit: this.$q.localStorage.getItem("practicemainUnitCurrent").toString()
    };
  },
  methods: {
    home() {
      this.$router.push("/practice/fillin/" + this.$route.params.practicekey);
    },
    deleteimg() {
      this.fillinData.imgURL = "";
    },
    async saveBtn() {
      this.isdata = true;
      this.loadingShow();
      this.fillinData.level = this.level;
      this.fillinData.unit = this.unit;
      if (this.fillinData.order == "" || this.fillinData.question == "") {
        this.isdata = false;
        this.loadingHide();
        this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
        return;
      }
      let underline = this.fillinData.question.match(
        /<\s*u[^>]*>(.*?)<\s*\/\s*u>/g
      );
      if (underline == null) {
        this.isdata = false;
        this.loadingHide();
        this.$q.notify({
          position: "top",
          color: "negative",
          message: 'ต้องมีการขีดเส้นใต้ใน "คำถาม"',
          timeout: 4000
        });
        return;
      }
      this.fillinData.status = "added";

      if (this.$route.name == "fillinadd") {
        if (this.fillinData.statusimg == true) {
          if (this.fileImage == "") {
            this.isdata = false;
            this.notifyRed("กรุณาใส่รูปภาพ");
            this.loadingHide();
            return;
          }
        }
        // add
        await db
          .collection("practicepool_draft")
          .where("order", "==", this.fillinData.order)
          .where("practicekey", "==", this.$route.params.key)
          .get()
          .then(async doc => {
            if (doc.size > 0) {
              this.isdata = false;
              this.loadingHide();
              this.notifyRed("รหัสลำดับนี้ถูกใช้งานแล้ว");
              return;
            } else {
              this.isdata = false;
              await db
                .collection("practicepool_draft")
                .add(this.fillinData)
                .then(async doc => {
                  let questionKey = doc.id;
                  await db;
                  if (this.fillinData.statusimg == true) {
                    let getImage = await st
                      .child("image/fillintheblank/" + doc.id + ".jpg")
                      .put(this.fileImage[0]);
                    let getImageURL = await getImage.ref.getDownloadURL();
                    await db
                      .collection("practicepool_draft")
                      .doc(doc.id)
                      .update({
                        imgURL: getImageURL
                      });
                  }
                  this.$router.push(
                    "/landingfillin/" +
                      this.fillinData.practicekey +
                      "/" +
                      questionKey
                  );
                  this.isdata = true;
                  this.loadingHide();
                  this.notifyGreen("บันทึกเรียบร้อยแล้ว");
                });
            }
          });
      } else {
        if (this.fillinData.statusimg == true) {
          if (this.fileImage == "" && this.fillinData.imgURL == "") {
            this.isdata = false;
            this.notifyRed("กรุณาใส่รูปภาพ");
            this.loadingHide();
            return;
          }
        }
        // edit

        await db
          .collection("practicepool_draft")
          .doc(this.$route.params.key)
          .get()
          .then(async doc => {
            this.isdata = false;
            this.orderold = doc.data().order;
            if (this.fillinData.order == this.orderold) {
              await db
                .collection("practicepool_draft")
                .doc(this.$route.params.key)
                .set(this.fillinData)
                .then(async doc => {
                  // this.$router.push(
                  //   "/practice/fillin/" + this.$route.params.practicekey
                  // );
                  if (this.fillinData.statusimg == true) {
                    if (this.fileImage != "") {
                      let getImage = await st
                        .child(
                          "image/fillintheblank/" +
                            this.$route.params.key +
                            ".jpg"
                        )
                        .put(this.fileImage[0]);
                      let getImageURL = await getImage.ref.getDownloadURL();
                      await db
                        .collection("practicepool_draft")
                        .doc(this.$route.params.key)
                        .update({
                          imgURL: getImageURL,
                          statusimg: true
                        });
                    }
                  } else {
                    // กรณีที่เป็นข้อมูลเก่าที่เพิ่มไปก่อนแล้ว แก้ยังไม่มี statusimg
                    if (this.statusimgold != this.fillinData.statusimg) {
                      // การเครียค่ารูปและลบรูปจิง
                      this.fileImage = "";
                      if (this.fillinData.imgURL == "") {
                        await st
                          .child(
                            "image/fillintheblank/" +
                              this.$route.params.key +
                              ".jpg"
                          )
                          .delete();
                        await db
                          .collection("practicepool_draft")
                          .doc(this.$route.params.key)
                          .update({
                            imgURL: "",
                            statusimg: false
                          });
                      }
                    } else {
                      if (this.statusimgold == undefined) {
                        await db
                          .collection("practicepool_draft")
                          .doc(this.$route.params.key)
                          .update({ imgURL: "", statusimg: false });
                      }
                    }
                  }
                  await db
                    .collection("practicepool_draft")
                    .doc(this.$route.params.key)
                    .update({ status: "added" });
                  this.$router.push(
                    "/landingfillin/" +
                      this.fillinData.practicekey +
                      "/" +
                      this.$route.params.key
                  );
                  this.loadingHide();
                  this.addVocab = false;
                  this.notifyGreen("บันทึกเรียบร้อย");
                });
            } else {
              this.loadingHide();

              db.collection("practicepool_draft")
                .where("practicekey", "==", this.$route.params.practicekey)
                .where("order", "==", this.fillinData.order)
                .get()
                .then(async doc => {
                  this.isdata = false;
                  if (doc.size > 0) {
                    this.loadingHide();
                    this.notifyRed("รหัสลำดับนี้ถูกใช้งานแล้ว");
                    return;
                  } else {
                    this.isdata = false;
                    await db
                      .collection("practicepool_draft")
                      .doc(this.$route.params.key)
                      .set(this.fillinData)
                      .then(doc => {
                        this.addVocab = false;
                        this.loadingHide();
                        // this.$router.push(
                        //   "/practice/fillin/" + this.$route.params.practicekey
                        // );
                        this.$router.push(
                          "/landingfillin/" +
                            this.fillinData.practicekey +
                            "/" +
                            this.$route.params.key
                        );
                        this.notifyGreen("บันทึกเรียบร้อย");
                      });
                  }
                });
            }
          });
      }
    },

    cancelBtn() {
      if (this.$route.name == "fillinadd") {
        // console.log("A");
        this.$router.push("/practice/fillin/" + this.$route.params.key);
      } else {
        // console.log("B");
        this.$router.push("/practice/fillin/" + this.$route.params.practicekey);
      }
    },
    addBtn() {
      this.addExtraVocab.vocab = [];
      this.addExtraVocab.meaning = [];
      this.addVocab = true;
      this.titleextra = true;
      this.addExtraVocab.partofspeech = this.options[0];
    },
    cancelVocabBtn() {
      this.addVocab = false;
    },
    savevocabBtn() {
      this.isdata = true;
      if (this.addExtraVocab.meaning == "" || this.addExtraVocab.vocab == "") {
        this.isdata = false;
        this.addVocab = true;
        this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
        return;
      } else {
        this.loadingShow();
        let extraVocabData = { ...this.addExtraVocab };
        delete extraVocabData.partofspeech;
        extraVocabData.partofspeech = this.addExtraVocab.partofspeech.partofspeech;
        if (this.titleextra == true) {
          this.isdata = false;
          db.collection("practicepool_draft")
            .doc(this.$route.params.key)
            .collection("extraVocab")
            .add(extraVocabData)
            .then(doc => {
              db.collection("practicepool_draft")
                .doc(this.$route.params.key)
                .update({ status: "added" });

              this.loadExtra();

              this.addVocab = false;
              this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
              this.loadingHide();
            });
        } else {
          this.isdata = false;
          db.collection("practicepool_draft")
            .doc(this.$route.params.key)
            .collection("extraVocab")
            .doc(this.extraKey)
            .set(extraVocabData)
            .then(doc => {
              db.collection("practicepool_draft")
                .doc(this.$route.params.key)
                .update({ status: "added" });
              this.loadExtra();

              this.addVocab = false;
              this.notifyGreen("บันทึกข้อมูลเรียบร้อย");

              this.loadingHide();
            });
        }
      }
    },
    loadName() {
      let db1 = db.collection("practicelist");
      if (this.$route.name == "fillinadd") {
        db1 = db1.doc(this.$route.params.key);
      } else {
        db1 = db1.doc(this.$route.params.practicekey);
      }
      db1.get().then(doc => {
        this.fillinData.practicetype = doc.data().practicetype;
        this.skill = doc.data().skill;

        this.loadingHide();
      });
    },
    loadedit() {
      this.loadingShow();

      db.collection("practicepool_draft")
        .doc(this.$route.params.key)
        .get()
        .then(doc => {
          this.statusimgold = doc.data().statusimg;
          this.fillinData = doc.data();
          this.loadExtra();
          this.loadingHide();
        });
    }, // โหลดข้อมูล partOfSpeech
    loadpartOfSpeechMain() {
      db.collection("partofspeech")
        .get()
        .then(doc => {
          doc.forEach(element => {
            let dataFinal = {
              label: element.data().des,
              partofspeech: element.data().partofspeech,
              value: element.id
            };
            this.options.push(dataFinal);
          });
        });
    },
    loadExtra() {
      this.data = [];
      db.collection("practicepool_draft")
        .doc(this.$route.params.key)
        .collection("extraVocab")
        .onSnapshot(extra => {
          this.data = [];
          extra.forEach(element => {
            let dataKey = {
              key: element.id
            };
            let fianal = {
              ...dataKey,
              ...element.data()
            };
            this.data.push(fianal);
            this.data.sort((a, b) => {
              return a.vocab.toLowerCase() < b.vocab.toLowerCase() ? -1 : 1;
            });
          });
        });
    },
    editBtn(key) {
      this.loadingShow();
      console.log("xxx");
      this.addVocab = true;
      this.titleextra = false;
      this.extraKey = key;
      db.collection("practicepool_draft")
        .doc(this.$route.params.key)
        .collection("extraVocab")
        .doc(key)
        .get()
        .then(doc => {
          this.addExtraVocab.vocab = doc.data().vocab;
          this.addExtraVocab.meaning = doc.data().meaning;
          let fullPartof = this.options.filter(x => {
            return x.partofspeech == doc.data().partofspeech;
          });
          this.addExtraVocab.partofspeech = fullPartof[0];

          this.loadingHide();
        });
    },

    deleteBtn(key) {
      this.$q
        .dialog({
          title: "ต้องการลบคำศัพท์หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก",
          dark: true
        })
        .onOk(() => {
          db.collection("practicepool_draft")
            .doc(this.$route.params.key)
            .collection("extraVocab")
            .doc(key)
            .delete()
            .then(doc => {
              this.loadExtra();
              this.notifyGreen("ลบข้อมูลเรียบร้อย");
            });
        });
    }
  },
  beforeMount() {
    this.loadpartOfSpeechMain();
  },
  mounted() {
    if (this.$route.params.page == 2) {
      this.tab = "vocabulary";
    }
    if (this.$route.name == "fillinadd") {
      this.loadName();
    } else {
      this.loadedit();
      this.loadName();
    }
  }
};
</script>

<style scoped>
.box {
  border: 1px solid #5c5c5c;
}
.boxcl {
  border: 1px solid #a0a0a0;
}
</style>