<template>
  <div class="bg6">
    <div id="printBtn">
      <q-toolbar class="bg-black text-white">
        <q-toolbar-title>
          <span>Flashcard > พิมพ์ข้อสอบ</span>
        </q-toolbar-title>
        <q-btn
          class="q-mr-md"
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-print"
          @click="printBtn()"
        />
        <q-btn
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-times"
          @click="closeBtn()"
        />
      </q-toolbar>
    </div>

    <div class="q-pb-sm" align="center">
      <div class="bg7 printMe shadow-1 paper-a4 q-my-lg cl2">
        <div class="q-pa-md">
          <!-- หัวกระดาษ -->
          <div class="box q-pa-md row rounded-borders">
            <div class="col-4 relative-position">
              <div class="absolute-center">
                <img align="left" style="width:200px" src="../../statics/image/logowinner.png" />
              </div>
            </div>
            <div class="col-8 items-center row">
              <div class="text-h6 items-center col-12" align="center">
                <span>Flashcard&nbsp;</span>
                <span>| L{{level}}&nbsp;</span>

                <span>U{{unit}}</span>
                <hr style="width: 300px" />
                <div>Vocabulary</div>
              </div>
            </div>
          </div>
        </div>
        <!-- เนิ้อหามนกระดาษ -->
        <div class="q-mt-lg q-pa-md">
          <span class="text-h6 q-py-sm">{{$q.localStorage.getItem("practiceName")}}</span>
          <table class="text-h6" style="width:100%; border-collapse: collapse;">
            <thead>
              <tr style="height: 30px;"></tr>
            </thead>
            <tbody>
              <tr v-for="(item,index) in data" :key="index">
                <td
                  style="vertical-align:top;width:25px"
                  align="center"
                  class="brtop box q-pt-md"
                >{{index+1}}</td>
                <td style="vertical-align:top;width:25px" align="center" class="brtop box q-pt-md">
                  <q-img :src="item.imgURL" style=" width: 180px;height:180px">
                    <template v-slot:error>
                      <div>
                        <img src="../../statics/image/noimage-flashcard.jpg" alt />
                      </div>
                    </template>
                  </q-img>
                </td>
                <td class="col box q-pa-md">
                  <!-- คำศัพท์หลัก / ปุ่มฟังเสียง -->

                  <div>
                    <span class="brtop q-pr-md">{{item.vocabulary}} ({{item.partOfSpeech}})</span>
                  </div>
                  <!-- คำอ่าน -->
                  <div v-html="item.pronounce"></div>
                  <!-- คำแปล -->
                  <div v-html="item.meaning" class="brtop q-pb-xs"></div>
                  <!-- ประโยคตัวอย่างภาษาอังกฤษ -->
                  <div class="brtop q-pt-md">
                    <span v-html="item.printEnglishSentence"></span>
                  </div>
                  <!-- ประโยคตัวอย่างภาษาไทย -->
                  <div v-html="item.printThaiSentence"></div>
                  <div v-if="item.extraVocab != 0 ">
                    <hr />
                    <!-- ส่วนแสดงผลคำศัพท์เสริม -->
                    <div class="row" v-for="(extra,index2) in item.extraVocab" :key="index2">
                      <div class="q-pr-xs">{{ extra.vocabulary }}</div>
                      <div class="q-px-xs">({{ extra.partOfSpeech }})</div>
                      <div class="q-px-xs">{{ extra.meaning }}</div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: this.$route.params.data,
      level: this.$route.params.level,
      unit: this.$route.params.unit
    };
  },
  methods: {
    printBtn() {
      window.print();
    },

    closeBtn() {
      this.$router.push("/practice/flashcard/" + this.$route.params.key);
    }
  },
  mounted() {
    if (this.$route.params.data == undefined) {
      this.$router.push("/practice");
    }
  }
};
</script>

<style scoped>
.box {
  border: 1px solid #5c5c5c;
}
.paper-a4 {
  background: #ffffff;
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }

  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  width: 210mm;
  height: 297mm;
  /* size: landscape; portrait */
}
</style>