<template>
  <div>
    <div
      align="center"
      class="q-ma-md text-h5"
    >Flashcard | L{{addMainVocab.level}} U{{addMainVocab.unit}}</div>
    <div class="q-pa-md" align="center">
      <div class="q-gutter-y-md" style="max-width: 600px">
        <q-card dark>
          <q-tabs
            v-model="tab"
            dense
            class="text-grey"
            active-color="amber-13"
            indicator-color="amber-13"
            align="left"
            narrow-indicator
          >
            <q-tab name="mainWord" label="คำศัพท์หลัก" />
            <q-tab name="supWord" label="คำศัพท์เสริม" :disable="$route.name == 'flashcardadd' " />
          </q-tabs>

          <q-separator />

          <q-tab-panels dark v-model="tab">
            <q-tab-panel name="mainWord">
              <div class="q-mt-md">
                <q-input
                  hide-bottom-space
                  type="number"
                  color="amber-13"
                  dark
                  label="รหัสลำดับ"
                  v-model.number="addMainVocab.order"
                  square
                  outlined
                  :rules="[val => val.toString().length > 0]"
                ></q-input>
              </div>
              <div class="q-my-md">
                <q-input
                  hide-bottom-space
                  color="amber-13"
                  dark
                  label="คำศัพท์"
                  v-model="addMainVocab.vocabulary"
                  square
                  outlined
                  :rules="[val => val.length>0]"
                ></q-input>
              </div>
              <div class="q-my-md">
                <q-select
                  color="amber-13"
                  :options="typeOpt"
                  v-model="addMainVocab.partOfSpeech"
                  dark
                  label="ชนิดของคำ"
                  square
                  outlined
                ></q-select>
              </div>
              <div>
                <div align="left">คำอ่าน</div>
                <q-editor
                  align="left"
                  min-height="50px"
                  dark
                  square
                  v-model="addMainVocab.pronounce"
                  :toolbar="[
                    ['bold','italic','underline']
                  ]"
                />
              </div>
              <div class="q-my-md">
                <q-input
                  hide-bottom-space
                  color="amber-13"
                  dark
                  label="ความหมาย"
                  v-model="addMainVocab.meaning"
                  square
                  outlined
                  :rules="[val => val.length>0]"
                ></q-input>
              </div>
              <div>
                <div align="left">ประโยคภาษาอังกฤษ *ต้องใช้ตัวหนาสำหรับคำศัพท์หลัก</div>
                <q-editor
                  align="left"
                  min-height="50px"
                  dark
                  square
                  v-model="addMainVocab.englishSentence"
                  :toolbar="[
                    ['bold','italic', 'underline'],
                  ]"
                />
              </div>
              <div class="q-my-md">
                <div align="left">ประโยคภาษาไทย *ต้องใช้ตัวหนาสำหรับคำศัพท์หลัก</div>
                <q-editor
                  align="left"
                  min-height="50px"
                  dark
                  square
                  v-model="addMainVocab.thaiSentence"
                  :toolbar="[
                    ['bold','italic',  'underline'],
                  ]"
                />
              </div>
              <div class align="left">
                <q-checkbox color="amber-13" dark v-model="addMainVocab.isShowImage" />แสดงรูปภาพ
              </div>
              <q-card-actions align="center">
                <!-- ปุ่มยกเลิกหน้าเพิ่มคำศัพท์หลัก-->
                <q-btn class="bg7 cl3 q-mx-md" label="ยกเลิก" style="width:120px" @click="back()" />
                <!-- ปุ่มบันทึกหน้าเพิ่มคำศัพท์หลัก-->
                <q-btn
                  @click="saveAddMainVocab()"
                  class="bg1 cl3"
                  label="บันทึก"
                  style="width:120px"
                  v-close-popup
                />
              </q-card-actions>
            </q-tab-panel>

            <q-tab-panel name="supWord">
              <div>
                <!-- เครื่องหมายบวกคำศัพท์เสริม -->
                <div align="right">
                  <q-btn
                    @click="openPlusSubWord()"
                    class
                    round
                    color="amber-13"
                    text-color="black"
                    icon="fas fa-plus"
                  />

                  <!-- popup เครื่องหมายบวกคำศัพท์เสริม -->
                  <q-dialog v-model="plusSupWord">
                    <q-card position="fixed-center" dark>
                      <q-card-section style="width:550px" class="row justify-center">
                        <div class="col-12 q-mt-md q-mb-xl" align="center">{{addEditLabel}}</div>
                        <div>
                          <q-input
                            hide-bottom-space
                            class="q-mb-sm"
                            style="width:500px"
                            color="amber-13"
                            dark
                            square
                            outlined
                            v-model="addSupVocab.vocabulary"
                            label="คำศัพท์"
                            :rules="[val => val.length>0]"
                          />

                          <div class="q-my-md">
                            <q-select
                              color="amber-13"
                              :options="addSupTypeOpt"
                              v-model="addSupVocab.partOfSpeech"
                              dark
                              label="ชนิดของคำ"
                              square
                              outlined
                            ></q-select>
                          </div>

                          <q-input
                            hide-bottom-space
                            class="q-my-sm"
                            style="width:500px"
                            color="amber-13"
                            dark
                            square
                            outlined
                            v-model="addSupVocab.meaning"
                            label="ความหมาย"
                            :rules="[val => val.length>0]"
                          />
                        </div>
                      </q-card-section>
                      <q-card-actions align="center">
                        <!-- ปุ่มยกเลิกหน้าเพิ่มคำศัพท์เสริม -->
                        <q-btn
                          class="q-mb-md bg7 cl3"
                          label="ยกเลิก"
                          style="width:120px"
                          v-close-popup
                        />
                        <!-- ปุ่มบันทึกหน้าเพิ่มคำศัพท์เสริม -->
                        <q-btn
                          @click="saveAddSupVocab()"
                          class="q-mb-md bg1 cl3"
                          label="บันทึก"
                          style="width:120px"
                        />
                      </q-card-actions>
                    </q-card>
                  </q-dialog>
                </div>

                <!-- ตารางคำศัทพ์เสริม -->
                <div class="q-py-sm q-pt-md">
                  <q-table dark class="bg4" :data="data" :columns="columns" row-key="name">
                    <template v-slot:body="props">
                      <q-tr :props="props">
                        <q-td key="supWord" :props="props">{{ props.row.vocabulary }}</q-td>
                        <q-td key="supTypeWord" :props="props">{{ props.row.partOfSpeech }}</q-td>
                        <q-td key="supMeaning" :props="props">{{ props.row.meaning }}</q-td>
                        <q-td key="delete" :props="props">
                          <!-- ถังขยะลบ -->
                          <q-icon
                            @click="deleteData(props.row.key)"
                            class="cursor-pointer cl1"
                            size="18px"
                            name="fas fa-trash-alt"
                          />
                        </q-td>
                        <q-td key="edit" :props="props">
                          <!-- ดินสอแก้ไข -->
                          <q-icon
                            @click="editExtra(props.row.index)"
                            class="cursor-pointer cl1"
                            size="18px"
                            name="fas fa-edit"
                          />
                        </q-td>
                      </q-tr>
                    </template>
                  </q-table>
                </div>
              </div>
            </q-tab-panel>
          </q-tab-panels>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
import { st } from "../../router/index.js";
export default {
  data() {
    return {
      loadSupvocabsnap: "",
      supWordKey: "",
      addEditLabel: "เพิ่มคำศัพท์เสริม",

      // เครื่องหมายบวกคำศัพท์เสริม
      key: "",
      plusSupWord: false,
      addSupVocab: {
        vocabulary: "",
        partOfSpeech: "",
        meaning: ""
      },
      // ต้องโหลดจาก Collection partOfSpeech แทน
      addSupTypeOpt: [],

      // หน้าคำศัพท์หลัก
      tab: "mainWord",
      addMainVocab: {
        order: "",
        imgURL: "",
        vocabulary: "",
        partOfSpeech: "",
        pronounce: "",
        meaning: "",
        englishSentence: "",
        thaiSentence: "",
        unit: this.$q.localStorage
          .getItem("practicemainUnitCurrent")
          .toString(),
        level: this.$q.localStorage
          .getItem("practicemainLevelCurrent")
          .label.toString(),
        practicekey: this.$route.params.key,
        practicetype: "flashcard",
        isHasExtra: true,
        status: "",
        isShowImage: false
      },
      fileImage: "",
      orderOld: "",
      typeOpt: [],

      columns: [
        {
          name: "supWord",
          required: true,
          label: "คำศัทพ์",
          align: "center",
          field: row => row.name,
          format: val => `${val}`
        },
        {
          name: "supTypeWord",
          align: "center",
          label: "ชนิดของคำ",
          field: "supTypeWord"
        },
        {
          name: "supMeaning",
          align: "center",
          label: "ความหมาย",
          field: "supMeaning"
        },
        { name: "delete", label: "ลบ", field: "delete" },
        { name: "edit", label: "แก้ไข", field: "edit" }
      ],

      data: [],
      closeDel: true
    };
  },
  methods: {
    // เปิดไดอะล็อคแก้ไขคำศัพท์เสริม
    editExtra(index) {
      this.supWordKey = this.data[index].key;

      this.addEditLabel = "แก้ไขคำศัพท์เสริม";
      this.plusSupWord = true;
      let coppyObj = { ...this.data[index] };

      coppyObj.partOfSpeech = this.addSupTypeOpt.filter(x => {
        return x.partofspeech == coppyObj.partOfSpeech;
      })[0];
      this.addSupVocab = coppyObj;
    },
    // ลบคำศัพท์
    deleteData(key) {
      this.$q
        .dialog({
          title: "ต้องการลบคำศัพท์หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก",
          dark: true
        })
        .onOk(() => {
          db.collection("practicepool_draft")
            .doc(this.$route.params.vocabkey)
            .collection("extraVocab")
            .doc(key)
            .delete()
            .then(doc => {
              this.notifyGreen("ลบข้อมูลเรียบร้อย");
            });
        });
    },
    // เปิดไดอล็อคเพิ่มคำศัพเสริม
    openPlusSubWord() {
      this.loadpartOfSpeechSup();
      this.plusSupWord = true;

      (this.addSupVocab = {
        vocabulary: "",
        partOfSpeech: this.addSupTypeOpt[0].partofspeech,
        meaning: ""
      }),
        (this.addEditLabel = "เพิ่มคำศัพท์เสริม");
    },
    deleteImage() {
      this.$q
        .dialog({
          title: "คำเตือน",
          message: "คุณต้องการลบรูปภาพหรือไม่",
          cancel: "ยกเลิก",
          ok: "ตกลง",
          dark: true
        })
        .onOk(() => {
          this.loadingShow();
          db.collection("practicepool_draft")
            .doc(this.$route.params.vocabkey)
            .update({
              imgURL: ""
            })
            .then(() => {
              st.child(
                "image/flashcard/" + this.$route.params.vocabkey + ".jpg"
              ).delete();
              this.loadingHide();
            });
        });
    },
    // เพิ่มคำศัพท์หลัก
    async saveAddMainVocab() {
      if (!this.closeDel) {
        return;
      }
      this.closeDel = false;
      // เช็คช่องจำเป็นต้องกรอก
      if (this.addMainVocab.order == "") {
        this.closeDel = true;
        this.notifyRed("กรุณากรอกรหัสลำดับ");
        return;
      }
      if (this.addMainVocab.vocabulary == "") {
        this.closeDel = true;
        this.notifyRed("กรุณากรอกคำศัพท์");
        return;
      }
      if (this.addMainVocab.pronounce == "") {
        this.closeDel = true;
        this.notifyRed("กรุณากรอกคำอ่าน");
        return;
      }
      if (this.addMainVocab.meaning == "") {
        this.closeDel = true;
        this.notifyRed("กรุณากรอกความหมาย");
        return;
      }

      let imageHave = this.fileImage.length;

      // return;
      let checkData = await db
        .collection("practicepool_draft")
        .where("practicekey", "==", this.$route.params.key)
        .where("order", "==", this.addMainVocab.order)
        .get();
      this.addMainVocab.status = "added";
      this.addMainVocab.partOfSpeech = this.addMainVocab.partOfSpeech.partofspeech;

      if (this.$route.name == "flashcardadd") {
        // เพิ่มคำศัพท์ใหม่
        if (checkData.size > 0) {
          this.notifyRed("รหัสลำดับซ้ำ");
          this.loadingHide();
          this.closeDel = true;
          return;
        }

        this.loadingShow();
        db.collection("practicepool_draft")
          .add(this.addMainVocab)
          .then(key => {
            console.log(key.id);
            if (imageHave > 0) {
              // มีการเลือกรูปอัพเข้า
              st.child("image/flashcard/" + key.id + ".jpg")
                .put(this.fileImage[0])
                .then(res => {
                  res.ref.getDownloadURL().then(url => {
                    // console.log(url);
                    db.collection("practicepool_draft")
                      .doc(key.id)
                      .update({ imgURL: url });
                  });
                });
            } else {
              // ไม่ได้เลือกรูป
              db.collection("practicepool_draft")
                .doc(key.id)
                .update({ imgURL: "" });
            }
            this.notifyGreen("บันทึกข้อมูลสำเสร็จ");
            this.closeDel = true;
            this.loadingHide();

            this.$router.push(
              "/practice/flashcardedit/" + this.$route.params.key + "/" + key.id
            );
          });
      } else {
        // แก้ไขคำศัพท์
        // ให้เช็คเลขซ้ำใหม่ ให้เลขเก่าเซฟได้ =========================================
        if (this.addMainVocab.order == this.orderOld) {
          // รหัสลำดับเดิม
          this.loadingShow();
          let vocabKey = this.$route.params.vocabkey;
          setTimeout(() => {
            db.collection("practicepool_draft")
              .doc(vocabKey)
              .update(this.addMainVocab)
              .then(key => {
                if (imageHave > 0) {
                  // มีการเลือกรูปอัพเข้า
                  st.child("image/flashcard/" + vocabKey + ".jpg")
                    .put(this.fileImage[0])
                    .then(res => {
                      let _this = this;
                      console.log(vocabKey);
                      res.ref.getDownloadURL().then(url => {
                        // console.log(url);
                        db.collection("practicepool_draft")
                          .doc(vocabKey)
                          .update({ imgURL: url });
                      });
                    });
                } else {
                  // ไม่ได้เลือกรูป
                  db.collection("practicepool_draft")
                    .doc(this.$route.params.vocabkey)
                    .update({ imgURL: "" });
                }
                this.loadingHide();
                this.closeDel = true;
                this.notifyGreen("แก้ไขข้อมูลสำเสร็จ");
                this.$router.push(
                  "/practice/flashcard/" + this.$route.params.key
                );
              });
          }, 1000);
        } else {
          // รหัสลำดับใหม่
          if (checkData.size > 0) {
            this.notifyRed("รหัสลำดับซ้ำ");
            this.loadingHide();
            this.closeDel = true;
            return;
          }
          this.loadingShow();
          setTimeout(() => {
            db.collection("practicepool_draft")
              .doc(this.$route.params.vocabkey)
              .update(this.addMainVocab)
              .then(key => {
                if (imageHave > 0) {
                  // มีการเลือกรูปอัพเข้า
                  st.child(
                    "image/flashcard/" + this.$route.params.vocabkey + ".jpg"
                  )
                    .put(this.fileImage[0])
                    .then(res => {
                      res.ref.getDownloadURL().then(url => {
                        // console.log(url);
                        db.collection("practicepool_draft")
                          .doc(this.$route.params.vocabkey)
                          .update({ imgURL: url });
                      });
                    });
                } else {
                  // ไม่ได้เลือกรูป
                  db.collection("practicepool_draft")
                    .doc(this.$route.params.vocabkey)
                    .update({ imgURL: "" });
                }
                this.closeDel = true;
                this.loadingHide();
                this.notifyGreen("แก้ไขข้อมูลสำเสร็จ");
                this.$router.push(
                  "/practice/flashcard/" + this.$route.params.key
                );
              });
          }, 1000);
        }
      }
    },
    // เพิ่มคำศัพท์เสริม
    saveAddSupVocab() {
      if (!this.addSupVocab.vocabulary || !this.addSupVocab.meaning) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
        return;
      }
      if (this.addEditLabel == "เพิ่มคำศัพท์เสริม") {
        this.addSupVocab.partOfSpeech = this.addSupVocab.partOfSpeech.partofspeech;
        db.collection("practicepool_draft")
          .doc(this.$route.params.vocabkey)
          .update({
            status: "added"
          })
          .then(() => {
            db.collection("practicepool_draft")
              .doc(this.$route.params.vocabkey)
              .collection("extraVocab")
              .add(this.addSupVocab)
              .then(data => {
                this.key = data.id;
                this.notifyGreen("บันทึกข้อมูลสำเสร็จ");
                if (this.data.length == 0) {
                  this.loadSupvocab();
                }
              });
            this.plusSupWord = false;
          });
      } else {
        this.addSupVocab.partOfSpeech = this.addSupVocab.partOfSpeech.partofspeech;
        db.collection("practicepool_draft")
          .doc(this.$route.params.vocabkey)
          .update({
            status: "added"
          })
          .then(() => {
            db.collection("practicepool_draft")
              .doc(this.$route.params.vocabkey)
              .collection("extraVocab")
              .doc(this.supWordKey)
              .update(this.addSupVocab)
              .then(data => {
                this.notifyGreen("แก้ไขข้อมูลสำเสร็จ");
              });
            this.plusSupWord = false;
          });
      }
    },
    // โหลดข้อมูล partOfSpeech
    loadpartOfSpeechMain() {
      db.collection("partofspeech")
        .get()
        .then(doc => {
          doc.forEach(element => {
            let dataFinal = {
              label: element.data().des,
              partofspeech: element.data().partofspeech,
              value: element.id
            };
            this.typeOpt.push(dataFinal);
          });
          this.addMainVocab.partOfSpeech = this.typeOpt[0];
        });
    },
    // โหลดข้อมูล partOfSpeech คำศัพท์เสริม
    loadpartOfSpeechSup() {
      db.collection("partofspeech")
        .get()
        .then(doc => {
          doc.forEach(element => {
            // select ต้องมีการกำหนด label และ value
            let dataFinal = {
              label: element.data().des,
              partofspeech: element.data().partofspeech,
              value: element.id
            };
            this.addSupTypeOpt.push(dataFinal);
          });
          this.addSupVocab.partOfSpeech = this.addSupTypeOpt[0];
        });
    },
    // โหลดข้อมูลคำศัพท์หลัก
    loadMainVocab() {
      this.loadingShow();
      db.collection("practicepool_draft")
        .doc(this.$route.params.vocabkey)
        .get()
        .then(data => {
          let part = this.typeOpt.filter(x => {
            return x.partofspeech == data.data().partOfSpeech;
          });

          this.addMainVocab = data.data();
          this.addMainVocab.partOfSpeech = part[0];
          // console.log(part[0]);
          this.orderOld = data.data().order;
          this.loadingHide();
        });
    },
    // โหลดข้อมูลคำศัพเสริม
    loadSupvocab() {
      this.loadSupvocabsnap = db
        .collection("practicepool_draft")
        .doc(this.$route.params.vocabkey)
        .collection("extraVocab")
        .onSnapshot(doc => {
          let data = [];
          doc.forEach(element => {
            let dataKey = { key: element.id };
            let dataFinal = { ...dataKey, ...element.data() };
            data.push(dataFinal);
          });

          data.sort((a, b) => {
            return a.vocabulary.toLowerCase() > b.vocabulary.toLowerCase()
              ? 1
              : -1;
          });
          data.forEach((element, index) => {
            element.index = index;
          });

          this.data = data;
        });
    },
    // ปุ่มกลับหน้า flashcard
    back() {
      if (typeof this.loadSupvocabsnap == "function") {
        this.loadSupvocabsnap();
      }
      this.$router.push("/practice/flashcard/" + this.$route.params.key);
    }
  },
  beforeMount() {
    this.loadpartOfSpeechSup();
    this.loadpartOfSpeechMain();
  },
  mounted() {
    if (this.$route.name == "flashcardedit") {
      this.loadSupvocab();
      this.loadMainVocab();
    }
  }
};
</script>

<style lang="scss" scoped>
.bk {
  border: 1px solid whitesmoke;
}
</style>
