<template>
  <div v-show="!isLoading" class="animated fadeIn">
    <div class="q-ma-md row items-center justify-between">
      <!-- ปุ่มสถานะ -->
      <div class="q-pt-sm">
        <toggle-button
          :sync="true"
          :labels="{ checked: 'แบบร่าง', unchecked: 'เซิฟเวอร์' }"
          :height="40"
          :width="120"
          :color="{ 
          checked: ['#909090' ],
          unchecked: ['#388E3C']
        }"
          :font-size="16"
          v-model="status"
          @change="loadFlashcard()"
        />
      </div>

      <div class="text-h5">Flashcard | L{{ level }} U {{ unit }}</div>

      <div class="row">
        <div>
          <sync-button :practiceKey="practiceKey" :status="status"></sync-button>
        </div>
        <div class="q-px-md">
          <q-btn
            @click="printBtn()"
            round
            :disable="!status || showData.length ==  0 "
            class="cl2 bg1"
            :class="{'bg5':!status || showData.length ==  0,}"
            text-color="black"
            icon="fas fa-print"
          />
        </div>
        <!-- ปุ่มบวก -->
        <div>
          <q-btn
            @click="addWord()"
            :disable="!status "
            :class="{'bg5':status==false ,'bg-amber-13':status}"
            round
            text-color="black"
            icon="fas fa-plus"
          />
        </div>
      </div>
    </div>
    <!-- ตารางหลัก -->
    <div class="q-pa-md q-mb-xl">
      <q-table
        :pagination.sync="pagination"
        dark
        :data="showData"
        :columns="columns"
        row-key="name"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td style="vertical-align:top" key="index" :props="props">{{ props.row.index+1}}</q-td>
            <q-td class="brx" key="imgURL" :props="props">
              <q-img
                v-show="props.row.isShowImage == true"
                :src="props.row.imgURL"
                style=" width: 250px;height:230px"
              >
                <template v-slot:error>
                  <div>
                    <img src="../../statics/image/noimage-flashcard.jpg" alt />
                  </div>
                </template>
              </q-img>
              <div v-show="!props.row.isShowImage">
                <img style=" width: 250px;height:230px" src="../../statics/image/flashcard.jpg" alt />
              </div>
              <div class="q-pt-sm">{{ props.row.key.toLowerCase() +".jpg" }}</div>
            </q-td>
            <q-td key="vocabbulary" :props="props" style="vertical-align: top;">
              <!-- คำศัพท์หลัก / ปุ่มฟังเสียง -->
              <div align="left">
                <span v-html="props.row.vocabulary" class="q-pr-md"></span>
                <span>({{props.row.partOfSpeech}})</span>

                <q-btn
                  flat
                  class="cursor-pointer"
                  @click="playsound(props.row.soundMain)"
                  color="amber-13"
                  icon="fas fa-volume-up"
                ></q-btn>

                <q-btn
                  label="S"
                  @click="playsound(props.row.soundSpell)"
                  icon-right="fas fa-volume-up "
                  color="amber-13"
                  flat
                ></q-btn>
              </div>
              <!-- คำอ่าน -->
              <div align="left" v-html="props.row.pronounce"></div>
              <!-- คำแปล -->
              <div align="left" v-html="props.row.meaning" class="q-pb-xs"></div>
              <!-- ประโยคตัวอย่างภาษาอังกฤษ -->
              <div align="left" class="q-pt-md">
                <span v-html="props.row.englishSentence"></span>
                <q-btn
                  flat
                  class="cursor-pointer"
                  color="amber-13"
                  @click="playsound(props.row.soundSentence)"
                  icon="fas fa-volume-up"
                ></q-btn>
              </div>
              <!-- ประโยคตัวอย่างภาษาไทย -->
              <div align="left" v-html="props.row.thaiSentence"></div>
              <hr v-show="props.row.extraVocab.length > 0" />
              <!-- ส่วนแสดงผลคำศัพท์เสริม -->
              <div
                class="row"
                align="left"
                v-for="(extra,index2) in props.row.extraVocab"
                :key="index2"
              >
                <div class="q-pr-xs">{{ extra.vocabulary }}</div>
                <div class="q-px-xs">({{ extra.partOfSpeech }})</div>
                <div class="q-px-xs">{{ extra.meaning }}</div>
              </div>
            </q-td>
            <q-td style="vertical-align:top" key="order" :props="props">
              <div class="q-mt-md" align="center">{{ props.row.order }}</div>
            </q-td>
            <q-td style="vertical-align:top" colspan="2" v-if="props.row.status == 'delete'">
              <div class="q-mt-md q-mr-md row justify-center">
                <q-btn
                  @click="redoDelete(props.row.key)"
                  label="ยกเลิกการลบ"
                  color="amber"
                  text-color="black"
                ></q-btn>
              </div>
            </q-td>
            <q-td
              style="vertical-align:top"
              v-if="props.row.status !== 'delete'"
              key="delete"
              :props="props"
            >
              <!-- ถังขยะลบ -->
              <q-icon
                @click="deleteData(props.row.key)"
                class="cursor-pointer q-mt-md cl1"
                size="18px"
                name="fas fa-trash-alt"
              />
            </q-td>
            <q-td
              style="vertical-align:top"
              v-if="props.row.status !== 'delete'"
              key="edit"
              :props="props"
            >
              <!-- ดินสอแก้ไข -->
              <q-icon
                @click="editData(props.row.key)"
                class="cursor-pointer q-mt-md q-ml-xs cl1"
                size="18px"
                name="fas fa-edit"
              />
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
import syncButton from "../../components/syncButton.vue";
export default {
  components: {
    syncButton
  },
  data() {
    return {
      // สถานะ แบบร่าง-เซิฟเวอร์
      isLoading: true,
      isSync: true,
      status: true,
      level: this.$q.localStorage.getItem("practicemainLevelCurrent").label,
      unit: this.$q.localStorage.getItem("practicemainUnitCurrent"),
      practicename: "",
      practiceKey: this.$route.params.key,
      showData: [],
      pagination: { rowsPerPage: 0 },
      columns: [
        {
          name: "index",
          label: "ลำดับ",
          align: "center",
          field: row => row.name,
          format: val => `${val}`,
          style: "width:100px"
        },
        {
          name: "imgURL",
          align: "center",
          label: "รูปภาพ",
          field: "imgURL",
          style: "width:210px"
        },
        {
          name: "vocabbulary",
          align: "center",
          label: "คำศัพท์",
          field: "vocabbulary"
        },
        {
          name: "order",
          align: " center",
          label: "รหัสลำดับ",
          field: "orderID",
          style: "width:100px"
        },
        {
          name: "delete",
          align: "center",
          label: "ลบ",
          field: "delete",
          style: "width:100px"
        },
        {
          name: "edit",
          align: "left",
          label: "แก้ไข",
          field: "edit",
          style: "width:100px"
        }
      ],

      loadFlashcardSnap: "",
      serverURL: "https://storage.googleapis.com/winnerenglish/upload/"
    };
  },
  methods: {
    printBtn() {
      this.$router.push({
        name: "flashcardprint",
        params: {
          data: this.showData,
          level: this.level,
          unit: this.unit,
          key: this.practiceKey
        }
      });
    },

    redoDelete(key) {
      db.collection("practicepool_draft")
        .doc(key)
        .update({ status: "added" })
        .then(() => {
          this.notifyGreen("ยกเลิกการลบสำเร็จ");
        });
    },
    editData(key) {
      // this.snapCheckSync();
      this.$router.push(
        "/practice/flashcardedit/" + this.$route.params.key + "/" + key
      );
    },
    deleteData(key) {
      // console.log(key);
      this.$q
        .dialog({
          title: "ต้องการลบคำศัพท์หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก",
          dark: true
        })
        .onOk(() => {
          db.collection("practicepool_draft")
            .doc(key)
            .update({ status: "delete" });
        });
    },
    addWord() {
      // this.snapCheckSync();
      this.$router.push("/practice/flashcardadd/" + this.practiceKey);
    },
    loadFlashcard() {
      this.loadingShow();
      let collectionName = "practicepool_draft";
      if (!this.status) {
        collectionName = "practicepool_server";
      }
      this.isLoading = true;
      let counter = 0;
      this.loadFlashcardSnap = db
        .collection(collectionName)
        .where("practicekey", "==", this.practiceKey)
        .onSnapshot(doc => {
          if (!doc.size) {
            this.showData = [];
            this.loadingHide();
            this.isLoading = false;
            return;
          }
          let dataTemp = [];
          doc.forEach(element => {
            // เปลี่ยนตัวหนาให้เป็นีส้ม ในประโยคภาษาอังกฤษ
            let textEng = element
              .data()
              .englishSentence.replace(/<b>/g, '<span class="text-amber-13">');
            textEng = textEng.replace(/<\/b>/g, "</span>");
            textEng = textEng.replace(
              /<strong>/g,
              '<span class="text-amber-13">'
            );
            textEng = textEng.replace(/<\/strong>/g, "</span>");
            // เปลี่ยนตัวหนาให้เป็นีส้ม ในประโยคภาษาไทย
            let textThai = element
              .data()
              .thaiSentence.replace(/<b>/g, '<span class="text-amber-13">');
            textThai = textThai.replace(/<\/b>/g, "</span>");
            textThai = textThai.replace(
              /<strong>/g,
              '<span class="text-amber-13">'
            );
            textThai = textThai.replace(/<\/strong>/g, "</span>");
            // แก้ไขข้อมูลก่อนนำเข้า

            let printEnglishSentence = element.data().englishSentence;
            let printThaiSentence = element.data().thaiSentence;
            // console.log(printThaiSentence);
            // return;

            let dataKey = {
              extraVocab: [],
              key: element.id,
              englishSentence: textEng,
              thaiSentence: textThai,
              printEnglishSentence: printEnglishSentence,
              printThaiSentence: printThaiSentence,
              imgURL:
                this.serverURL +
                "pic_flashcard/" +
                element.id.toLowerCase() +
                ".jpg",
              soundMain:
                this.serverURL +
                "sound_flashcard/" +
                element.id.toLowerCase() +
                ".mp3" +
                "?" +
                Math.random(),
              soundSpell:
                this.serverURL +
                "sound_flashcard/" +
                element.id.toLowerCase() +
                "-spell.mp3" +
                "?" +
                Math.random(),
              soundSentence:
                this.serverURL +
                "sound_flashcard/" +
                element.id.toLowerCase() +
                "-sentence.mp3" +
                "?" +
                Math.random()
            };
            let dataEnd = { ...element.data(), ...dataKey };

            dataTemp.push(dataEnd);
          });
          dataTemp.sort((a, b) => {
            return a.order - b.order;
          });

          dataTemp.forEach((element, index) => {
            element.index = index;
          });

          dataTemp.forEach(vocabData => {
            db.collection(collectionName)
              .doc(vocabData.key)
              .collection("extraVocab")
              .get()
              .then(vdoc => {
                counter++;
                let extraTemp = [];
                vdoc.forEach(vdata => {
                  extraTemp.push(vdata.data());
                  extraTemp.sort((a, b) => {
                    return a.vocabulary.toLowerCase() >
                      b.vocabulary.toLowerCase()
                      ? 1
                      : -1;
                  });
                  dataTemp.filter(x => {
                    return x.key == vocabData.key;
                  })[0].extraVocab = extraTemp;
                });
                this.isLoading = false;

                this.loadingHide();
              });
          });
          this.showData = dataTemp;
          this.loadDataName();
        });
    },
    loadDataName() {
      // console.log("amm");
      let key = this.$route.params.key;
      db.collection("practicelist")
        .doc(key)
        .get()
        .then(doc => {
          // console.log(doc.data().level);
          // console.log(doc.data().unit);
          // console.log(doc.data().skill);

          db.collection("practiceListName")
            .where("level", "==", doc.data().level.toString())
            .where("unit", "==", doc.data().unit.toString())
            .where("skill", "==", doc.data().skill)
            .get()
            .then(doc2 => {
              // console.log(doc2.docs[0].data().name);
              this.practicename = doc2.docs[0].data().name;
            });
        });
    }
  },
  mounted() {
    this.loadFlashcard();
    let _this = this;
    // เมื่อมีการกด refresh หรือ กด back ให้ทำลาย snapshot
  },
  beforeDestroy() {
    this.loadFlashcardSnap();
  }
};
</script>

<style scoped>
</style>




 