<template>
  <div></div>
</template>

<script>
export default {
  mounted() {
    this.$router.push(
      "/practice/fillinedit/" +
        this.$route.params.key1 +
        "/" +
        this.$route.params.key2 +
        "/2"
    );
  }
};
</script>

<style scoped>
</style>