<template>
  <div></div>
</template>

<script>
export default {
  mounted() {
    this.$router.push(
      "/practice/reading/edit/" +
        this.$route.params.key1 +
        "/" +
        this.$route.params.key2 +
        "/" +
        this.$route.params.key3 +
        "/" +
        this.$route.params.key4 +
        "/" +
        this.$route.params.key5 +
        "/" +
        this.$route.params.key6
    );
  }
};
</script>

<style scoped>
</style>