<template>
  <div class="bg6">
    <div id="printBtn">
      <q-toolbar class="bg-black text-white">
        <q-toolbar-title>
          <span>Language tips > พิมพ์ข้อสอบ</span>
        </q-toolbar-title>
        <q-btn
          class="q-mr-md"
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-print"
          @click="printBtn()"
        />
        <q-btn
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-times"
          @click="closeBtn()"
        />
      </q-toolbar>
    </div>
    <div class="q-pb-sm" align="center">
      <div class="bg7 printMe shadow-1 paper-a4 q-my-lg cl2">
        <div class="q-pa-md">
          <div class="box q-pa-md row">
            <div class="col-6">
              <div class="q-pt-sm">
                <img align="left" style="width:200px" src="../../statics/image/logowinner.png" />
              </div>
            </div>
            <div class="col-6">
              <div class="text-h5">
                {{skill}}Language Tips |
                <span>L{{level}}</span>
                /
                <span>U{{unit}}</span>
              </div>
              <hr />
              <div class="text-h6">
                <span>Language Tips</span>
              </div>
            </div>
          </div>
        </div>
        <div class="q-mt-lg text-h6 q-pa-md">
          <table style="border-collapse: collapse; width:100%">
            <thead>
              <tr style="height: 30px;"></tr>
            </thead>
            <tbody>
              <tr v-for="(item,index) in data" :key="index">
                <td style="vertical-align:top;width:100px" class="brtop q-py-sm" align="center">
                  <div v-if="item.audioURL">
                    <div>
                      <q-icon name="fas fa-volume-up " class="cl1" />
                    </div>
                  </div>
                  <div v-if="item.vdoURL">
                    <div>
                      <q-icon name="fas fa-play " class="cl1" />
                    </div>
                  </div>
                </td>
                <td class="brtop q-py-sm">
                  <div v-html="item.topic"></div>
                  <div class="q-pa-md text-center">
                    <div v-if="item.audioURL">
                      <img style="width: 300px" :src="item.imgURL" alt />
                    </div>
                    <div v-if="item.vdoURL">
                      <img style="width: 300px" :src="item.imgURL" alt />
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: this.$route.params.data,
      level: this.$route.params.level,
      unit: this.$route.params.unit,
      skill: this.$route.params.skill,
      key: this.$q.localStorage.getItem("dataKey")
    };
  },
  methods: {
    printBtn() {
      window.print();
    },

    closeBtn() {
      this.$router.push("/practice/languagetips/" + this.key);
    }
  },
  mounted() {
    if (this.$route.params.data == undefined) {
      this.$router.push("/practice/languagetips/" + this.key);
    }
  }
};
</script>

<style scoped>
.hr2 {
  background-color: #5c5c5c;
}
.box {
  border: 1px solid #5c5c5c;
}
.paper-a4 {
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }

  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  width: 210mm;
  height: 297mm;
  /* size: landscape; portrait */
}
</style>