<template>
  <div class="q-py-xs">
    <div class="q-pa-md text-center text-h5">{{name}} | L{{level}} U{{unit}}</div>
    <div align="center">
      <div class="q-gutter-y-md" style="max-width: 800px">
        <q-card class="box">
          <q-tabs
            v-model="tab"
            class="bg4 cl7 q-px-md"
            active-color="amber-13"
            indicator-color="amber-13"
            align="left"
          >
            <q-tab name="mails" label="คำถาม" />
            <q-tab
              :disable="this.$route.name =='multiplechoiceadd' "
              name="alarms"
              label="คำศัพท์เสริม"
            />
          </q-tabs>
          <q-separator />
          <q-tab-panels v-model="tab" class="bg2">
            <q-tab-panel name="mails">
              <div class="q-pt-lg q-py-sm">
                <q-input
                  color="amber-13"
                  dark
                  square
                  outlined
                  v-model="question.order"
                  label="รหัสลำดับ"
                  type="number"
                  :rules="[val => val.length>0]"
                  hide-bottom-space
                />
              </div>
              <div align="left">
                <div class="q-py-sm q-pb-md">
                  <span>คำถาม</span>
                  <q-editor
                    class="box"
                    dark
                    square
                    min-height="50px"
                    v-model.trim="question.question"
                    :toolbar="[
        ['bold', 'italic', 'underline'],
      ]"
                  />
                </div>
                <div class="row">
                  <div class="q-py-md">
                    <span>รูปภาพ</span>
                    <q-checkbox
                      :disable="question.imgURL !=''"
                      keep-color
                      color="amber-13"
                      v-model=" question.statusimg"
                    />
                  </div>
                  <div class="col q-py-sm">
                    <div
                      v-if="question.statusimg && question.imgURL == ''"
                      class="boxcl q-px-md q-py-sm"
                      style="height:55px;width:100%"
                    >
                      <q-input
                        borderless
                        dark
                        v-model="fileImage"
                        @input="val => { file = val[0] }"
                        type="file"
                        accept="image/jpeg"
                      />
                    </div>
                    <div
                      v-if="question.statusimg && question.imgURL != ''"
                      class="boxcl q-px-md q-py-sm"
                      style="height:55px;width:100%"
                    >
                      <div class="text-center">
                        <q-btn
                          style="width:120px"
                          @click="deleteimg()"
                          class="bg7 cl2"
                          label="ลบรูปภาพ"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="q-py-sm">
                  <span>ตัวเลือก #1</span>
                  <q-editor
                    class="box"
                    dark
                    square
                    min-height="50px"
                    v-model.trim="choice1"
                    :toolbar="[
        ['bold', 'italic', 'underline'],
      ]"
                  />
                </div>

                <div class="q-py-sm">
                  <span>ตัวเลือก #2</span>
                  <q-editor
                    class="box"
                    dark
                    square
                    min-height="50px"
                    v-model.trim="choice2"
                    :toolbar="[
        ['bold', 'italic', 'underline'],
      ]"
                  />
                </div>

                <div class="q-py-sm">
                  <span>ตัวเลือก #3</span>
                  <q-editor
                    class="box"
                    dark
                    square
                    min-height="50px"
                    v-model.trim="choice3"
                    :toolbar="[
        ['bold', 'italic', 'underline'],
      ]"
                  />
                </div>
                <div class="q-py-sm">
                  <span>ตัวเลือก #4</span>
                  <q-editor
                    class="box"
                    dark
                    square
                    min-height="50px"
                    v-model.trim="choice4"
                    :toolbar="[
        ['bold', 'italic', 'underline'],
      ]"
                  />
                </div>
                <div>
                  <span>ตัวเลือกที่ถูกต้อง</span>
                  <div class="row">
                    <div class="q-pa-md">
                      <q-radio color="amber-13" dark v-model="question.correctanswer" :val="0" />
                      <span class="q-px-md">1</span>
                    </div>
                    <div class="q-pa-md">
                      <q-radio color="amber-13" dark v-model="question.correctanswer" :val="1" />
                      <span class="q-px-md">2</span>
                    </div>
                    <div class="q-pa-md">
                      <q-radio color="amber-13" dark v-model="question.correctanswer" :val="2" />
                      <span class="q-px-md">3</span>
                    </div>
                    <div class="q-pa-md">
                      <q-radio color="amber-13" dark v-model="question.correctanswer" :val="3" />
                      <span class="q-px-md">4</span>
                    </div>
                  </div>
                </div>
                <div>
                  <div v-if="checksound != true ">
                    <span>คำอธิบาย *ต้องใช้ตัวหนาสำหรับตัวเลือกที่ถูกต้อง</span>
                    <div class="q-py-sm">
                      <q-editor
                        class="box"
                        dark
                        square
                        min-height="50px"
                        v-model.trim="question.description"
                        :toolbar="[['bold', 'italic', 'underline'], ]"
                      />
                    </div>
                  </div>
                  <div class="row col-12 justify-center q-py-md">
                    <div class="q-pa-sm">
                      <q-btn
                        class="bg7 cl3"
                        label="ยกเลิก"
                        style="width:120px"
                        @click="cancelBtn()"
                      />
                    </div>
                    <div class="q-pa-sm">
                      <q-btn
                        class="bg1 cl3"
                        label="บันทึก"
                        style="width:120px"
                        @click="saveBtn()"
                        :disable="isdata"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </q-tab-panel>
            <q-tab-panel name="alarms">
              <div class="text-right">
                <q-btn
                  @click="addextra()"
                  round
                  class="cl2 bg1"
                  :disable="isextra"
                  icon="fas fa-plus"
                />
                <q-dialog v-model="confirm" persistent content-class="backdrop">
                  <q-card style="width:50%;min-width:400px" class="q-pa-md bg3">
                    <div>
                      <div v-if="titleextra" align="center">{{"เพิ่มคำศัพท์เสริม"}}</div>
                      <div v-if="!titleextra " align="center">{{"แก้ไขคำศัพท์เสริม"}}</div>
                    </div>
                    <div class="q-pa-md">
                      <div class="q-pa-sm">
                        <q-input
                          color="amber-13"
                          dark
                          square
                          outlined
                          v-model="vocabulary"
                          label="คำศัพท์"
                        />
                      </div>
                      <div class="q-pa-sm">
                        <q-select
                          map-options
                          emit-value
                          dark
                          color="amber-13"
                          square
                          outlined
                          v-model="partOfSpeech"
                          :options="partOfSpeechOpt"
                          label="ชนิดของคำ"
                        />
                      </div>
                      <div class="q-pa-sm">
                        <q-input
                          color="amber-13"
                          dark
                          square
                          outlined
                          v-model="meaning"
                          label="ความหมาย"
                        />
                      </div>
                    </div>

                    <q-card-actions align="center">
                      <q-btn style="width:120px" class="bg7 cl3" label="ยกเลิก" v-close-popup />
                      <q-btn style="width:120px" @click="addBtn()" class="bg1 cl3" label="บันทึก" />
                    </q-card-actions>
                  </q-card>
                </q-dialog>
              </div>

              <div class="q-pt-md">
                <q-table
                  wrap-cells
                  :pagination.sync="pagination"
                  hide-bottom
                  :data="data"
                  :columns="columns"
                  dark
                  row-key="name"
                  binary-state-sort
                >
                  <template v-slot:body="props">
                    <q-tr :props="props">
                      <q-td key="word" :props="props">{{ props.row.vocabulary }}</q-td>
                      <q-td key="partOfSpeech" :props="props">{{ props.row.partOfSpeech}}</q-td>
                      <q-td key="meaning" :props="props ">{{ props.row.meaning}}</q-td>
                      <q-td key="delete" :props="props">
                        <div>
                          <q-icon
                            @click="deleteBtn(props.row.key)"
                            class="cl1 cursor-pointer"
                            size="18px"
                            name="fas fa-trash-alt"
                          />
                        </div>
                      </q-td>
                      <q-td key="edit" :props="props">
                        <div>
                          <q-icon
                            @click="editBtn(props.row.key)"
                            class="cl1 cursor-pointer"
                            size="18px"
                            name="fas fa-edit"
                          />
                        </div>
                      </q-td>
                    </q-tr>
                  </template>
                </q-table>
              </div>
              <div class="q-pt-md">
                <q-btn
                  style="width:120px"
                  @click="cancelBtn()"
                  class="bg7 cl2 btnCard"
                  flat
                  label="กลับหน้าหลัก"
                />
              </div>
            </q-tab-panel>
          </q-tab-panels>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
import { st } from "../../router/index.js";
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      checksound: false,
      isdata: false,
      isextra: false,
      titleextra: false,
      deleteKey: "",
      extraKey: "",
      deletebtn: false,
      pagination: {
        rowsPerPage: 0
      },
      fileImage: "",
      confirm: false,
      tab: "mails",
      question: {
        statusimg: false,
        level: "",
        unit: "",
        imgURL: "",
        order: "",
        question: "",
        choices: [],
        correctanswer: 0,
        description: "",
        practicekey: this.$route.params.key,
        practicetype: "",
        status: "added"
      },
      choice1: "",
      choice2: "",
      choice3: "",
      choice4: "",
      orderold: "",
      vocabulary: "",
      meaning: "",
      partOfSpeech: "",
      partOfSpeechOpt: [],
      data: [],
      nametype: "",
      columns: [
        {
          name: "word",
          label: "คำศัพท์",
          align: "left"
        },
        {
          name: "partOfSpeech",
          align: "center",
          label: "ชนิดของคำ"
        },
        {
          name: "meaning",
          label: "ความหมาย",
          align: "center"
        },
        {
          name: "delete",
          label: "ลบ",
          align: "center"
        },
        {
          name: "edit",
          label: "แก้ไข",
          align: "center"
        }
      ],
      name: "",
      level: this.$q.localStorage
        .getItem("practicemainLevelCurrent")
        .label.toString(),
      unit: this.$q.localStorage.getItem("practicemainUnitCurrent").toString(),
      db1: db
        .collection("practicepool_draft")
        .doc(this.$route.params.key)
        .collection("extraVocab")
    };
  },

  methods: {
    // โหลดศัพท์เสริม
    loadword() {
      this.data = [];
      this.db1.onSnapshot(extra => {
        this.data = [];
        extra.forEach(element => {
          let dataKey = {
            key: element.id
          };
          let fianal = {
            ...dataKey,
            ...element.data()
          };
          this.data.push(fianal);
          this.data.sort((a, b) => {
            return a.vocabulary.toLowerCase() < b.vocabulary.toLowerCase()
              ? -1
              : 1;
          });
          //         this.loadingHide();
          //   if (fianal.partOfSpeech) {
          //     db.collection("partofspeech")
          //       .doc(fianal.partOfSpeech)
          //       .get()
          //       .then(doc => {
          //         fianal.label = doc.data().partofspeech;
          //         this.data.push(fianal);
          //         this.data.sort((a, b) => {
          //           return a.vocabulary < b.vocabulary ? -1 : 1;
          //         });
          //         this.loadingHide();
          //       });
          // }
        });
      });
    },
    // แก้ศัพท์เสริม
    editBtn(key) {
      this.vocabulary = [];
      this.partOfSpeech = [];
      this.meaning = [];
      this.extraKey = key;
      this.titleextra = false;
      this.confirm = true;
      this.db1
        .doc(key)
        .get()
        .then(doc => {
          this.vocabulary = doc.data().vocabulary;
          this.meaning = doc.data().meaning;
          this.partOfSpeech = doc.data().partOfSpeech;
          this.loadingHide();
        });
    },
    deleteBtn(key) {
      this.$q
        .dialog({
          title: "คุณต้องการลบข้อมูลนี้ใช่หรือไม่",
          dark: true,
          cancel: "ยกเลิก",
          ok: "ตกลง"
        })
        .onOk(() => {
          this.db1
            .doc(key)
            .delete()
            .then(() => {
              db.collection("practicepool_draft")
                .doc(this.$route.params.key)
                .update({
                  status: "added"
                });
              this.notifyGreen("ลบข้อมูลเรียบร้อย");
            });
        });
    },
    // โหลดหน้าแก้ไข
    loadedit() {
      this.loadingShow();
      db.collection("practicepool_draft")
        .doc(this.$route.params.key)
        .get()
        .then(doc => {
          this.choice1 = doc.data().choices[0];
          this.choice2 = doc.data().choices[1];
          this.choice3 = doc.data().choices[2];
          this.choice4 = doc.data().choices[3];
          this.question = doc.data();
          this.loadword();
        });
    },
    // บันทึกข้อมูล
    async saveBtn() {
      this.isdata = true;
      this.question.level = this.level;
      this.question.unit = this.unit;
      if (this.$route.name == "multiplechoiceadd") {
        if (this.question.order == "") {
          this.isdata = false;
          this.notifyRed("กรุณาใส่ข้อมูลให้ครบถ้วน");
          return;
        } else {
          if (this.choice1 == "") {
            this.isdata = false;
            this.notifyRed("ตัวเลือก #1 ยังไม่มีข้อมูล");
            return;
          }
          if (this.choice2 == "") {
            this.isdata = false;
            this.notifyRed("ตัวเลือก #2 ยังไม่มีข้อมูล");
            return;
          }
          this.loadingShow();
          db.collection("practicepool_draft")
            .where("order", "==", this.question.order)
            .where("practicetype", "==", this.question.practicetype)
            .where("practicekey", "==", this.$route.params.key)
            .get()
            .then(async doc => {
              if (doc.size > 0) {
                this.isdata = false;
                this.notifyRed("รหัสลำดับนี้ถูกใช้งานแล้ว");
                this.loadingHide();
                return;
              } else {
                if (this.question.correctanswer == 2 && this.choice3 == "") {
                  this.isdata = false;
                  this.loadingHide();
                  this.notifyRed("ตัวเลือก #3 ยังไม่มีข้อมูล");
                  return;
                }
                if (this.question.correctanswer == 3 && this.choice4 == "") {
                  this.isdata = false;
                  this.loadingHide();
                  this.notifyRed("ตัวเลือก #4 ยังไม่มีข้อมูล");
                  return;
                }
                if (this.question.statusimg == true) {
                  if (this.fileImage == "") {
                    this.isdata = false;
                    this.notifyRed("กรุณาใส่รูปภาพ");
                    this.loadingHide();
                    return;
                  }
                }
                this.question.choices.push(this.choice1);
                this.question.choices.push(this.choice2);
                this.question.choices.push(this.choice3);
                this.question.choices.push(this.choice4);
                await db
                  .collection("practicepool_draft")
                  .add(this.question)
                  .then(async doc => {
                    if (this.question.statusimg == true) {
                      let getImage = await st
                        .child("image/multiplechoice/" + doc.id + ".jpg")
                        .put(this.fileImage[0]);
                      let getImageURL = await getImage.ref.getDownloadURL();
                      await db
                        .collection("practicepool_draft")
                        .doc(doc.id)
                        .update({
                          imgURL: getImageURL
                        });
                    }
                    this.$router.push(
                      "/landingmulti/" +
                        this.question.practicekey +
                        "/" +
                        doc.id +
                        "/" +
                        this.$route.params.type
                    );
                    this.isdata = false;
                    this.notifyGreen("บันทึกเรียบร้อย");
                    this.tab = "alarms";
                    this.loadingHide();
                  });
              }
            });
        }
      } else {
        console.log("test");
        this.question.choices = [];
        if (this.question.order == "") {
          this.notifyRed("กรุณาใส่ข้อมูลให้ครบถ้วน");
        } else {
          if (this.choice1 == "") {
            this.isdata = false;
            this.notifyRed("ตัวเลือก #1 ยังไม่มีข้อมูล");
            return;
          }
          if (this.choice2 == "") {
            this.isdata = false;
            this.notifyRed("ตัวเลือก #2 ยังไม่มีข้อมูล");
            return;
          }
          this.loadingShow();
          this.question.choices.push(this.choice1);
          this.question.choices.push(this.choice2);
          this.question.choices.push(this.choice3);
          this.question.choices.push(this.choice4);
          await db
            .collection("practicepool_draft")
            .doc(this.$route.params.key)
            .get()
            .then(async doc => {
              this.orderold = doc.data().order;
              if (this.question.correctanswer == 2 && this.choice3 == "") {
                this.isdata = false;
                this.notifyRed("ตัวเลือก #3 ยังไม่มีข้อมูล");
                this.loadingHide();
                return;
              }
              if (this.question.correctanswer == 3 && this.choice4 == "") {
                this.isdata = false;
                this.notifyRed("ตัวเลือก #4 ยังไม่มีข้อมูล");
                this.loadingHide();
                return;
              }
              if (this.question.statusimg == true) {
                if (this.fileImage == "" && this.question.imgURL == "") {
                  this.isdata = false;
                  this.notifyRed("กรุณาใส่รูปภาพ");
                  this.loadingHide();
                  return;
                }
              }
              // การเช็คว่า รหัสลำดับเดิม
              if (this.question.order == this.orderold) {
                await db
                  .collection("practicepool_draft")
                  .doc(this.$route.params.key)
                  .set(this.question);
                if (this.question.statusimg == true) {
                  if (this.fileImage != "") {
                    let getImage = await st
                      .child(
                        "image/multiplechoice/" +
                          this.$route.params.key +
                          ".jpg"
                      )
                      .put(this.fileImage[0]);
                    let getImageURL = await getImage.ref.getDownloadURL();
                    await db
                      .collection("practicepool_draft")
                      .doc(this.$route.params.key)
                      .update({
                        imgURL: getImageURL,
                        statusimg: true
                      });
                  }
                } else {
                  //  statusimg = false
                  // กรณีที่เป็นข้อมูลเก่าที่เพิ่มไปก่อนแล้ว แก้ยังไม่มี statusimg
                  if (!this.question.statusimg && !this.question.imgURL) {
                    await db
                      .collection("practicepool_draft")
                      .doc(this.$route.params.key)
                      .update({ imgURL: "", statusimg: false });
                    await db
                      .collection("practicepool_draft")
                      .doc(this.$route.params.key)
                      .update({ status: "added" });
                    this.$router.push(
                      "/practice/multiplechoice/" +
                        this.$route.params.practicekey +
                        "/" +
                        this.$route.params.type
                    );
                    this.isdata = false;
                    this.loadingHide();
                    this.notifyGreen("บันทึกเรียบร้อย");
                    return;
                  }
                  // การเครียค่ารูปและลบรูปจิง
                  this.fileImage = "";
                  if (this.question.imgURL != "" && this.fileImage == "") {
                    await st
                      .child(
                        "image/multiplechoice/" +
                          this.$route.params.key +
                          ".jpg"
                      )
                      .delete();
                    await db
                      .collection("practicepool_draft")
                      .doc(this.$route.params.key)
                      .update({
                        imgURL: "",
                        statusimg: false
                      });
                  }
                }
                await db
                  .collection("practicepool_draft")
                  .doc(this.$route.params.key)
                  .update({ status: "added" });
                this.$router.push(
                  "/practice/multiplechoice/" +
                    this.$route.params.practicekey +
                    "/" +
                    this.$route.params.type
                );
                this.isdata = false;
                this.loadingHide();
                this.notifyGreen("บันทึกเรียบร้อย");
              } else {
                // การเช็คว่า รหัสลำดับแก้ใหม่
                await db
                  .collection("practicepool_draft")
                  .where("order", "==", this.question.order)
                  .where("practicekey", "==", this.question.practicekey)
                  .where("practicetype", "==", this.question.practicetype)
                  .where("level", "==", this.question.level)
                  .where("unit", "==", this.question.unit)
                  .get()
                  .then(async doc => {
                    if (doc.size > 0) {
                      this.isdata = false;
                      this.loadingHide();
                      this.notifyRed("รหัสลำดับนี้ถูกใช้งานแล้ว");
                      return;
                    } else {
                      await db
                        .collection("practicepool_draft")
                        .doc(this.$route.params.key)
                        .set(this.question);
                      if (this.question.statusimg == true) {
                        if (this.fileImage != "") {
                          let getImage = await st
                            .child(
                              "image/multiplechoice/" +
                                this.$route.params.key +
                                ".jpg"
                            )
                            .put(this.fileImage[0]);
                          let getImageURL = await getImage.ref.getDownloadURL();
                          await db
                            .collection("practicepool_draft")
                            .doc(this.$route.params.key)
                            .update({
                              imgURL: getImageURL,
                              statusimg: true
                            });
                        }
                      } else {
                        //  statusimg = false
                        // กรณีที่เป็นข้อมูลเก่าที่เพิ่มไปก่อนแล้ว แก้ยังไม่มี statusimg
                        if (!this.question.statusimg && !this.question.imgURL) {
                          await db
                            .collection("practicepool_draft")
                            .doc(this.$route.params.key)
                            .update({ imgURL: "", statusimg: false });
                          await db
                            .collection("practicepool_draft")
                            .doc(this.$route.params.key)
                            .update({ status: "added" });
                          this.$router.push(
                            "/practice/multiplechoice/" +
                              this.$route.params.practicekey +
                              "/" +
                              this.$route.params.type
                          );
                          this.isdata = false;
                          this.loadingHide();
                          this.notifyGreen("บันทึกเรียบร้อย");
                          return;
                        }
                        // การเครียค่ารูปและลบรูปจิง
                        this.fileImage = "";
                        if (
                          this.question.imgURL != "" &&
                          this.fileImage == ""
                        ) {
                          await st
                            .child(
                              "image/multiplechoice/" +
                                this.$route.params.key +
                                ".jpg"
                            )
                            .delete();
                          await db
                            .collection("practicepool_draft")
                            .doc(this.$route.params.key)
                            .update({
                              imgURL: "",
                              statusimg: false
                            });
                        }
                      }
                      await db
                        .collection("practicepool_draft")
                        .doc(this.$route.params.key)
                        .update({ status: "added" });
                      this.$router.push(
                        "/practice/multiplechoice/" +
                          this.$route.params.practicekey +
                          "/" +
                          this.$route.params.type
                      );
                      this.isdata = false;
                      this.loadingHide();
                      this.notifyGreen("บันทึกเรียบร้อย");
                    }
                  });
              }
              //  statusimg = true
            });
        }
      }
    },
    // เพิ่ม คำศัพท์เสริม
    addextra() {
      this.titleextra = true;
      this.confirm = true;
      this.partOfSpeech = this.partOfSpeechOpt[0];
      this.vocabulary = [];
      this.meaning = [];
    },
    // เพิ่ม คำศัพท์เสริม และเ๙้คค่า
    async addBtn() {
      this.isextra = true;
      if (this.vocabulary == "" || this.meaning == "") {
        this.confirm = true;
        this.isextra = false;
        this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
        return;
      } else {
        this.confirm = false;
        this.loadingShow();
        if (this.titleextra) {
          if (this.partOfSpeech.label == "ไม่ระบุ") {
            this.partOfSpeech = this.partOfSpeech.value;
          }
          await this.db1.add({
            vocabulary: this.vocabulary,
            meaning: this.meaning,
            partOfSpeech: this.partOfSpeech
          });
          this.isextra = false;
          this.loadingHide();
          this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
        } else {
          await this.db1.doc(this.extraKey).set({
            vocabulary: this.vocabulary,
            meaning: this.meaning,
            partOfSpeech: this.partOfSpeech
          });
          this.isextra = false;
          this.loadingHide();
          this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
        }
        db.collection("practicepool_draft")
          .doc(this.$route.params.key)
          .update({ status: "added" });
      }
    },
    // ลบรูปชั่วคราว
    deleteimg() {
      this.question.imgURL = "";
    },
    cancelBtn() {
      if (this.$route.name == "multiplechoiceadd") {
        this.$router.push(
          "/practice/multiplechoice/" +
            this.$route.params.key +
            "/" +
            this.$route.params.type
        );
      } else {
        this.$router.push(
          "/practice/multiplechoice/" +
            this.question.practicekey +
            "/" +
            this.$route.params.type
        );
      }
    },
    loadName() {
      let db1 = db.collection("practicelist");
      if (this.$route.name == "multiplechoiceadd") {
        db1 = db1.doc(this.$route.params.key);
      } else {
        db1 = db1.doc(this.$route.params.practicekey);
      }
      db1.get().then(doc => {
        this.question.practicetype = doc.data().practicetype;
        if (doc.data().practicetype == "multiplechoice(answersound)") {
          this.name = "Multiple Choices (answer sound)";
          this.checksound = true;
        } else if (doc.data().practicetype == "multiplechoice(questionsound)") {
          this.name = "Multiple Choices (question sound)";
          this.checksound = true;
        } else {
          this.name = "Multiple Choices";
        }
        if (this.type == 3) {
          this.name = "Grammar Action";
        }
        this.loadingHide();
      });
    },
    partOfSpeechChoose() {
      this.loadPartOfSpeech();
    },
    //  โหลดคำศัพท์เสริม
    loadPartOfSpeech() {
      db.collection("partofspeech")
        .get()
        .then(doc => {
          this.partOfSpeechOpt = [];
          doc.forEach(element => {
            let dataKey = {
              value: element.data().partofspeech,
              label: element.data().des
            };
            this.partOfSpeechOpt.push(dataKey);
          });
        });
    }
  },

  mounted() {
    this.loadPartOfSpeech();
    if (this.$route.params.page == 2) {
      this.tab = "alarms";
    }
    if (this.$route.name == "multiplechoiceadd") {
      this.loadName();
    } else {
      this.loadedit();
      this.loadName();
    }
  }
};
</script>

<style  scoped>
.box {
  border: 1px solid #5c5c5c;
}
.boxcl {
  border: 1px solid #a0a0a0;
}
</style>