<template>
  <div>
    <div class="row q-pa-md">
      <div>
        <toggle-button
          :value="true"
          :labels="{ checked: 'แบบร่าง', unchecked: 'เซิฟเวอร์' }"
          :height="40"
          :width="120"
          :color="{
          checked: ['#909090'],
          unchecked: ['#388E3C']
        }"
          :font-size="16"
          v-model="status"
          @change="loadData()"
        />
      </div>
      <div class="col relative-position">
        <div class="absolute-center text-h5">{{name}} | L{{level}} U{{unit}}</div>
      </div>
      <div class="row">
        <div class="q-px-md">
          <sync-button :practiceKey="practiceKey" :status="status"></sync-button>
        </div>
        <div>
          <q-btn
            :disable="!status || data.length ==  0"
            @click="printBtn()"
            round
            class="cl2 bg1"
            :class="{'bg5': !status || data.length ==  0}"
            icon="fas fa-print"
          />
        </div>
      </div>
    </div>
    <div class="row q-pa-md">
      <div class="bg4 q-px-md col-6">
        <div class="row">
          <div class="col-12 row">
            <div style="width:140px " class="col-3 self-center q-ml-md">คำสั่งภาษาอังกฤษ</div>
            <div style="width:10px " class="col-1 self-center">:</div>
            <div class="col">
              <q-input readonly class borderless dark v-model="command.eng" />
            </div>
          </div>
          <div class="col-12 row">
            <div style="width:140px" class="col-3 self-center q-ml-md">คำสั่งภาษาไทย</div>
            <div style="width:10px" class="col-1 self-center">:</div>
            <div class="col">
              <q-input readonly class borderless dark v-model="command.th" />
            </div>
          </div>
        </div>
      </div>
      <div class="col q-pa-sm self-center">
        <q-btn
          @click="confirmOpen()"
          round
          class="cl2 bg1 absolute-rigth q-mx-sm"
          icon="fas fa-pen"
          :disable="!status"
          :class="{'cl2 bg5': !status }"
        />
        <!-- หน้าต่างคำสั่ง -->
        <q-dialog v-model="confirm" persistent>
          <q-card dark style="width:50%;min-width:300px" class="q-pa-md bg3">
            <div
              v-show="command.eng =='ยังไม่ระบุ'|| command.th =='ยังไม่ระบุ'"
              class="text-center q-pa-sm"
            >{{"เพิ่มคำสั่ง"}}</div>
            <div
              v-show="command.eng !='ยังไม่ระบุ'||command.th !='ยังไม่ระบุ'"
              class="text-center q-pa-sm"
            >{{"แก้ไขคำสั่ง"}}</div>
            <div class="q-pa-sm">
              <q-input
                color="amber-13"
                dark
                square
                outlined
                v-model="commandeng"
                label="คำสั่งภาษาอังกฤษ"
              />
            </div>
            <div class="q-pa-sm">
              <q-input
                color="amber-13"
                dark
                square
                outlined
                v-model="commandth"
                label="คำสั่งภาษาไทย"
              />
            </div>
            <q-card-actions align="center">
              <q-btn
                style="width:100px"
                class="bg7 cl3"
                label="ยกเลิก"
                @click="commandCancel()"
                v-close-popup
              />
              <q-btn
                :disable="iscommand"
                style="width:100px"
                @click="commandadd()"
                class="bg1 cl3"
                label="บันทึก"
              />
            </q-card-actions>
          </q-card>
        </q-dialog>
      </div>
      <div class="col-12">
        <div class="text-right">
          <q-btn
            v-show="status "
            @click="addBtn()"
            round
            class="cl2 bg1 absolute-rigth"
            icon="fas fa-plus"
          />
          <q-btn v-show="!status " disable round class="cl2 bg5 absolute-rigth" icon="fas fa-plus" />
        </div>
        <!-- แสดงข้อมูลแบบฝึกหัด -->
        <div class="q-pt-md">
          <q-table
            wrap-cells
            :pagination.sync="pagination"
            hide-bottom
            :data="data"
            :columns="columns"
            dark
            row-key="name"
          >
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="number" :props="props">
                  <div class="text-center">{{ props.row.index }}</div>
                </q-td>
                <q-td style="width:75%" key="practivce" :props="props">
                  <div>
                    <img :src="props.row.imgURL" alt />
                  </div>
                  <div class="row q-pb-sm">
                    <span v-if="testStorage.includes(props.row.key + '.mp3') && type == '0' ">
                      <q-btn
                        dense
                        flat
                        @click="testAudio(props.row.key + '.mp3')"
                        icon="fas fa-volume-up"
                        size="10px"
                      ></q-btn>
                    </span>
                    <span v-if="!testStorage.includes(props.row.key + '.mp3') && type == '0' ">
                      <q-btn
                        class="no-pointer-events"
                        dense
                        flat
                        icon="fas fa-volume-mute"
                        size="10px"
                      ></q-btn>
                    </span>

                    <div v-html="props.row.question" class="q-px-sm q-pt-xs"></div>
                  </div>

                  <div>
                    <span :class="{'bg-green-9 box' : props.row.correctanswer == 0}">
                      <span
                        v-if="testStorage.includes(props.row.key + '-' + '1.mp3') && type == '1'"
                      >
                        <q-btn
                          dense
                          flat
                          @click="testAudio(props.row.key + '-' + '1.mp3')"
                          icon="fas fa-volume-up"
                          size="10px"
                        ></q-btn>
                      </span>
                      <span
                        v-if="!testStorage.includes(props.row.key + '-' + '1.mp3') && type == '1'"
                      >
                        <q-btn
                          dense
                          flat
                          class="no-pointer-events"
                          icon="fas fa-volume-mute"
                          size="10px"
                        ></q-btn>
                      </span>

                      <span v-if="props.row.choices[0] != '' && props.row.choices[0] != null">
                        1)
                        <span v-html="props.row.choices[0]"></span>
                      </span>
                    </span>
                  </div>
                  <div>
                    <span :class="{'bg-green-9 box' : props.row.correctanswer == 1}">
                      <span
                        v-if="testStorage.includes(props.row.key + '-' + '2.mp3') && type == '1'"
                      >
                        <q-btn
                          dense
                          flat
                          @click="testAudio(props.row.key + '-' + '2.mp3')"
                          icon="fas fa-volume-up"
                          size="10px"
                        ></q-btn>
                      </span>
                      <span
                        v-if="!testStorage.includes(props.row.key + '-' + '2.mp3') && type == '1'"
                      >
                        <q-btn
                          dense
                          flat
                          class="no-pointer-events"
                          icon="fas fa-volume-mute"
                          size="10px"
                        ></q-btn>
                      </span>
                      <span v-if="props.row.choices[1] != '' && props.row.choices[1] != null">
                        2)
                        <span v-html="props.row.choices[1]"></span>
                      </span>
                    </span>
                  </div>
                  <div>
                    <span :class="{'bg-green-9 box' : props.row.correctanswer == 2}">
                      <span
                        v-if="testStorage.includes(props.row.key + '-' + '3.mp3') && props.row.choices[2] != 0 && type == '1'"
                      >
                        <q-btn
                          dense
                          flat
                          @click="testAudio(props.row.key + '-' + '3.mp3')"
                          icon="fas fa-volume-up"
                          size="10px"
                        ></q-btn>
                      </span>
                      <span
                        v-if="!testStorage.includes(props.row.key + '-' + '3.mp3') && props.row.choices[2] != 0  && type == '1'"
                      >
                        <q-btn
                          flat
                          dense
                          class="no-pointer-events"
                          icon="fas fa-volume-mute"
                          size="10px"
                        ></q-btn>
                      </span>
                      <span v-if="props.row.choices[2] != '' && props.row.choices[2] != null">
                        3)
                        <span v-html="props.row.choices[2]"></span>
                      </span>
                    </span>
                  </div>
                  <div>
                    <span :class="{'bg-green-9 box' : props.row.correctanswer == 3}">
                      <span
                        v-if="testStorage.includes(props.row.key + '-' + '4.mp3') && props.row.choices[3] != 0  && type == '1'"
                      >
                        <q-btn
                          dense
                          flat
                          @click="testAudio(props.row.key + '-' + '4.mp3')"
                          icon="fas fa-volume-up"
                          size="10px"
                        ></q-btn>
                      </span>
                      <span
                        v-if="!testStorage.includes(props.row.key + '-' + '4.mp3') && props.row.choices[3] != 0  && type == '1'"
                      >
                        <q-btn
                          dense
                          flat
                          class="no-pointer-events"
                          icon="fas fa-volume-mute"
                          size="10px"
                        ></q-btn>
                      </span>
                      <span v-if="props.row.choices[3] != '' && props.row.choices[3] != null">
                        4)
                        <span v-html="props.row.choices[3]"></span>
                      </span>
                    </span>
                  </div>
                  <div v-html="props.row.description" class="q-py-md"></div>
                  <div
                    v-show="props.row.description &&  props.row.extra.length > 0 "
                    style="height:1px ; width:100%"
                    class="q-mt-sm"
                  >
                    <hr />
                  </div>
                  <div
                    v-show="props.row.correctanswer == 0 &&  props.row.extra.length > 0 && !props.row.description"
                    style="height:1px ; width:100%"
                    class="q-mt-sm"
                  >
                    <hr />
                  </div>
                  <div
                    v-show="props.row.correctanswer != 0 &&  props.row.extra.length > 0 && !props.row.description"
                    style="height:1px ; width:100%"
                    class="q-mt-sm"
                  >
                    <hr />
                  </div>
                  <div class="q-pt-md">
                    <div class="row q-gutter-lg" v-for="(x,index) in props.row.extra " :key="index">
                      <div style="width:100px">{{x.vocabulary}}</div>
                      <div style="width:100px">({{x.partOfSpeech}})</div>
                      <div style="width:100px">{{x.meaning}}</div>
                    </div>
                  </div>
                </q-td>
                <q-td key="order" :props="props  ">
                  <div>{{ props.row.order }}</div>
                </q-td>
                <q-td key="delete" :props="props" v-if=" props.row.status != 'delete'">
                  <div>
                    <q-icon
                      @click="deleteBtn(props.row.key)"
                      class="cl1 cursor-pointer"
                      size="18px"
                      name="fas fa-trash-alt"
                      :class="{'cl5' :!status} "
                      :disabled="!status"
                    />
                  </div>
                </q-td>
                <q-td key="edit" :props="props" v-if=" props.row.status != 'delete'">
                  <div>
                    <q-icon
                      @click="editBtn(props.row.key)"
                      class="cl1 cursor-pointer"
                      size="18px"
                      name="fas fa-edit"
                      :class="{'cl5' :!status} "
                      :disabled="!status"
                    />
                  </div>
                </q-td>
                <q-td colspan="2" key="edit" v-if=" props.row.status == 'delete'" :props="props">
                  <q-btn @click="deleteOff(props.row.key)" class="cl2 bg1" label="ยกเลิกการลบ" />
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db, st } from "../../router/index.js";
import syncButton from "../../components/syncButton.vue";
import { denodeify } from "q";
export default {
  components: {
    syncButton
  },
  data() {
    return {
      iscommand: false,
      type: this.$route.params.type,
      practiceKey: this.$route.params.key,
      command: { eng: "", th: "" },
      commandeng: "",
      commandth: "",
      deleteKey: "",
      deleteData: false,
      confirm: false,
      status: true,
      pagination: {
        rowsPerPage: 0
      },
      columns: [
        {
          name: "number",
          label: "ลำดับ",
          align: "left",
          style: "width:10px"
        },

        {
          name: "practivce",
          align: "left",
          label: "แบบฝึกหัด"
        },

        {
          name: "order",
          label: "รหัสลำดับ",
          align: "center",
          style: "width:100px"
        },
        {
          name: "delete",
          label: "ลบ",
          align: "center",

          style: "width:100px"
        },
        {
          name: "edit",
          label: "แก้ไข",
          align: "center",
          style: "width:100px"
        }
      ],
      db1: "",
      db2: "",
      practicename: "",
      level: "",
      unit: "",
      skill: "",
      name: "",
      datafinal: [],
      data: [],
      isSnapLoadDataName: null,
      isSnapLoadCommand: null,
      testStorage: [],
      audioPath:
        "https://storage.cloud.google.com/winneradventure-ed4a1.appspot.com/audio/multiplechoice/"
    };
  },
  methods: {
    // โหลดคำสั่ง
    loadCommand() {
      this.isSnapLoadCommand = db
        .collection("practicelist")
        .doc(this.$route.params.key)
        .onSnapshot(doc => {
          this.command = {
            eng: doc.data().eng,
            th: doc.data().th
          };
          this.commandeng = doc.data().eng;
          this.commandth = doc.data().th;
          if (
            this.commandeng == "" ||
            this.commandeng == undefined ||
            this.commandth == undefined ||
            this.commandth == ""
          ) {
            this.command.eng = "ยังไม่ระบุ";
            this.command.th = "ยังไม่ระบุ";
          }
        });
    },
    // เพิ่มคำสั่ง
    commandadd() {
      this.iscommand = true;
      if (
        this.commandeng == "" ||
        this.commandth == "" ||
        this.commandeng == undefined ||
        this.commandth == undefined
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
        this.confirm = true;
        this.iscommand = false;
        return;
      } else {
        this.command.eng = this.commandeng;
        this.command.th = this.commandth;
        db.collection("practicelist")
          .doc(this.$route.params.key)
          .update(this.command)
          .then(() => {
            this.iscommand = false;
            this.confirm = false;
            this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
          });
      }
    },
    // ยกเลิก หรือ ปิดไดอะล็อค
    commandCancel() {
      this.commandeng = "";
      this.commandth = "";
      this.confirm = false;
    },
    // เปิดไดอะล็อค
    confirmOpen() {
      this.confirm = true;
      this.loadCommand();
    },
    // แก้คำถาม
    editBtn(key) {
      this.$router.push(
        "/practice/multiplechoiceedit/" +
          this.$route.params.key +
          "/" +
          key +
          "/" +
          this.$route.params.type
      );
    },
    deleteBtn(key) {
      this.$q
        .dialog({
          title: "คุณต้องการลบข้อมูลนี้ใช่หรือไม่",
          dark: true,
          cancel: "ยกเลิก",
          ok: "ตกลง"
        })
        .onOk(() => {
          db.collection("practicepool_draft")
            .doc(key)
            .update({ status: "delete" });
        });
    },
    deleteOff(key) {
      db.collection("practicepool_draft")
        .doc(key)
        .update({ status: "added" });
    },
    // โหลดข้อมุลออกมาโชว์
    loadData() {
      this.loadCommand();
      this.data = [];
      this.datafinal = [];
      this.loadingShow();
      if (this.status) {
        this.db1 = db
          .collection("practicepool_draft")
          .where("practicekey", "==", this.$route.params.key);
      } else {
        // โหลด ข้อมูลเซริฟเวอร์
        this.db1 = db
          .collection("practicepool_server")
          .where("practicekey", "==", this.$route.params.key);
      }
      if (typeof this.snapLoadData == "function") {
        this.snapLoadData();
      }
      this.snapLoadData = this.db1.onSnapshot(doc => {
        let tem = [];
        doc.forEach(element => {
          if (this.status) {
            this.db2 = db
              .collection("practicepool_draft")
              .doc(element.id)
              .collection("extraVocab")
              .get();
          } else {
            this.db2 = db
              .collection("practicepool_server")
              .doc(element.id)
              .collection("extraVocab")
              .get();
          }
          this.db2.then(doc1 => {
            let extra = [];
            if (doc1.size > 0) {
              doc1.forEach(element1 => {
                let dataKey = {
                  key: element1.id
                };
                let final = {
                  ...dataKey,
                  ...element1.data()
                };
                extra.push(final);
                extra.sort((a, b) => {
                  return a.vocabulary.toLowerCase() < b.vocabulary.toLowerCase()
                    ? -1
                    : 1;
                });
                // if (final.partOfSpeech) {
                //   db.collection("partofspeech")
                //     .doc(final.partOfSpeech)
                //     .get()
                //     .then(doc => {
                //       final.label = doc.data().partofspeech;
                //       extra.push(final);
                //       extra.sort((a, b) => {
                //         return a.vocabulary < b.vocabulary ? -1 : 1;
                //       });
                //     });
                // }
              });
            }
            let dataKey = {
              key: element.id
            };

            let final = {
              extra: extra,
              ...dataKey,
              ...element.data()
            };

            tem.push(final);
            tem.sort((a, b) => {
              return Number(a.order) - Number(b.order);
            });
            this.datafinal = tem;
            tem.forEach((element, index) => {
              element.index = index + 1;
            });
          });
        });
        this.data = tem;
        this.loadingHide();
      });
    },

    addBtn() {
      this.$router.push(
        "/practice/multiplechoiceadd/" +
          this.$route.params.key +
          "/" +
          this.$route.params.type
      );
    },
    printBtn() {
      this.$router.push({
        name: "multiplechoiceprint",
        params: {
          data: this.datafinal,
          key: this.$route.params.key,
          level: this.level,
          unit: this.unit,
          name: this.name,
          eng: this.command.eng,
          th: this.command.th
        }
      });
      this.$q.localStorage.set("typeKey", this.type);
      this.$q.localStorage.set("dataKey", this.$route.params.key);
    },
    loadDataName() {
      let key = this.$route.params.key;
      this.isSnapLoadDataName = db
        .collection("practicelist")
        .doc(key)
        .onSnapshot(doc => {
          if (doc.data().practicetype == "multiplechoice(answersound)") {
            this.name = "Multiple Choices (answer sound)";
          } else if (
            doc.data().practicetype == "multiplechoice(questionsound)"
          ) {
            this.name = "Multiple Choices (question sound)";
          } else {
            this.name = "Multiple Choices";
          }
          if (this.type == 3) {
            this.name = "Grammar Action";
          }
          this.level = doc.data().level;
          this.unit = doc.data().unit;
          db.collection("practiceListName")
            .where("level", "==", doc.data().level.toString())
            .where("unit", "==", doc.data().unit.toString())
            .where("skill", "==", doc.data().skill)
            .get()
            .then(doc2 => {
              this.practicename = doc2.docs[0].data().name;
            });
        });
    },
    testAudio(sound) {
      let audio = new Audio(this.audioPath + sound);

      audio.play();
    }
  },
  mounted() {
    this.loadData();
    this.loadDataName();

    st.child("/audio/multiplechoice/")
      .listAll()
      .then(img => {
        img.items.forEach(result => {
          this.testStorage.push(result.name);
        });
      });
  },
  beforeDestroy() {
    this.isSnapLoadDataName();
    this.isSnapLoadCommand();
  }
};
</script>

<style scoped></style>