<template>
  <div class="bg6">
    <div id="printBtn">
      <q-toolbar class="bg-black text-white">
        <q-toolbar-title>
          <span>Multiple choices > พิมพ์ข้อสอบ</span>
        </q-toolbar-title>
        <q-btn
          class="q-mr-md"
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-print"
          @click="printBtn()"
        />
        <q-btn
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-times"
          @click="closeBtn()"
        />
      </q-toolbar>
    </div>

    <div align="center">
      <div class="bg7 printMe shadow-1 paper-a4 q-my-lg cl2">
        <div class="q-pa-md">
          <div class="box q-pa-md row">
            <div class="col-6">
              <div class="q-pt-sm">
                <img align="left" style="width:200px" src="../../statics/image/logowinner.png" />
              </div>
            </div>
            <div class="col-6">
              <div class="text-h5">
                <span>Multiple Choices</span>
                |
                <span>L{{level}}</span>
                /
                <span>U{{unit}}</span>
              </div>
              <hr />
              <div class="text-h6">
                <span>{{name}}</span>
              </div>
            </div>
          </div>
          <div class="text-h6 q-pt-md text-left">
            <div class="text-center">{{nametitle}}</div>
            <div>{{eng}}</div>
            <div>{{th}}</div>
          </div>
        </div>
        <div class="text-h6 q-px-md">
          <table style="border-collapse: collapse; width:100%">
            <thead>
              <tr style="height: 15px;"></tr>
            </thead>
            <tbody>
              <tr class="box" v-for="(item,index) in data" :key="index">
                <td
                  style="vertical-align:top;width:30px;border-right: 1px solid #5c5c5c;"
                  class="brtop q-py-sm"
                  align="center"
                >{{index+1}}</td>
                <td class="brtop q-pa-sm">
                  <div v-if="item.imgURL.length > 0">
                    <img style="width: 300px" :src="item.imgURL" alt />
                  </div>
                  <div class="q-pb-sm" v-html="item.question"></div>
                  <div>
                    <span :class="{'bg-green-3 ' : item.correctanswer == 0}">
                      <span v-if="item.choices[0] != 0">
                        <span v-if="item.choices[0] !=''">(1)</span>
                      </span>
                      <span v-html="item.choices[0]"></span>
                    </span>
                  </div>
                  <div>
                    <span :class="{'bg-green-3 ' : item.correctanswer == 1}">
                      <span v-if="item.choices[1] != 1">
                        <span v-if="item.choices[1] !=''">(2)</span>
                      </span>
                      <span v-html="item.choices[1]"></span>
                    </span>
                  </div>
                  <div>
                    <span :class="{'bg-green-3 ' : item.correctanswer == 2}">
                      <span v-if="item.choices[2] != 2">
                        <span v-if="item.choices[2] !=''">(3)</span>
                      </span>
                      <span v-html="item.choices[2]"></span>
                    </span>
                  </div>
                  <div>
                    <span :class="{'bg-green-3 ' : item.correctanswer == 3}">
                      <span v-if="item.choices[3] != 3 ">
                        <span v-if="item.choices[3] !=''">(4)</span>
                      </span>
                      <span v-html="item.choices[3]"></span>
                    </span>
                  </div>
                  <div class="q-pt-sm" v-html="item.description"></div>
                  <div
                    v-show="item.description && item.extra.length"
                    style="height:1px ; width:100%"
                    class="hr2 q-my-sm"
                  ></div>
                  <div
                    v-show="item.correctanswer == 0 &&  item.extra.length > 0 && !item.description"
                    style="height:1px ; width:100%"
                    class="hr2 q-my-sm"
                  >
                    <hr />
                  </div>
                  <div
                    v-show="item.correctanswer != 0 &&  item.extra.length > 0 && !item.description"
                    style="height:1px ; width:100%"
                    class="hr2 q-my-sm"
                  ></div>
                  <div class="row q-gutter-lg" v-for="(x,index) in item.extra " :key="index">
                    <div v-html="x.vocabulary"></div>
                    <div>({{x.partOfSpeech}})</div>
                    <div v-html="x.meaning"></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: this.$route.params.data,
      level: this.$route.params.level,
      unit: this.$route.params.unit,
      name: this.$route.params.name,
      nametitle: this.$q.localStorage.getItem("practiceName"),
      type: this.$q.localStorage.getItem("typeKey"),
      key: this.$q.localStorage.getItem("dataKey"),
      eng: this.$route.params.eng,
      th: this.$route.params.th
    };
  },
  methods: {
    printBtn() {
      window.print();
    },

    closeBtn() {
      this.$router.push(
        "/practice/multiplechoice/" + this.key + "/" + this.type
      );
    }
  },
  mounted() {
    if (this.$route.params.data == undefined) {
      this.$router.push(
        "/practice/multiplechoice/" + this.key + "/" + this.type
      );
    }
  }
};
</script>

<style scoped>
.hr2 {
  background-color: #5c5c5c;
}
.box {
  border: 1px solid #5c5c5c;
}
.paper-a4 {
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }

  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  width: 210mm;
  height: 297mm;
  /* size: landscape; portrait */
}
</style>