<template>
  <div>
    <div class="row q-pa-md">
      <div>
        <toggle-button
          :value="true"
          :labels="{ checked: 'แบบร่าง', unchecked: 'เซิฟเวอร์' }"
          :height="40"
          :width="120"
          :color="{
          checked: ['#909090'],
          unchecked: ['#388E3C']
        }"
          :font-size="16"
          v-model="status"
          @change="loadData()"
        />
      </div>
      <div class="col relative-position">
        <div class="absolute-center text-h5">Phonics Lesson | L{{level}} U{{unit}}</div>
      </div>
      <div class="row">
        <sync-button :practiceKey="practiceKey" :status="status"></sync-button>
        <div class="q-px-sm">
          <q-btn
            :disable="!status|| data.length ==  0"
            @click="printBtn()"
            round
            class="cl2 bg1"
            :class="{'bg5': !status || data.length ==  0}"
            icon="fas fa-print"
          />
        </div>
        <div>
          <q-btn
            @click="addBtn()"
            :class="{'bg5':status==false,'bg-amber-13':status}"
            round
            text-color="black"
            icon="fas fa-plus"
          />
        </div>
      </div>
    </div>
    <div class="q-pa-md">
      <q-table
        dark
        :pagination.sync="pagination"
        :data="data"
        :columns="columns"
        row-key="name"
        binary-state-sort
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="number" :props="props">{{ props.row.index }}</q-td>
            <q-td key="topic" :props="props">{{ props.row.topic }}</q-td>
            <q-td style="width:70%" key="vdo" :props="props">
              <div v-if="!props.row.type" @click="vdoClick(props.row.index-1)">
                <img class="cursor-pointer" style="width: 300px" :src="props.row.imgURL" alt />
                <div class="absolute-center bg-transparent cursor-pointer">
                  <q-icon class="far fa-play-circle text-black" style="opacity: 0.6" size="100px" />
                </div>
              </div>

              <div v-if="props.row.type" @click="audioClick(props.row.index-1)">
                <img class="cursor-pointer" style="width: 300px" :src="props.row.imgURL" alt />
                <div class="absolute-center bg-transparent cursor-pointer">
                  <q-icon
                    name="fas fa-volume-up "
                    class="text-black"
                    style="opacity: 0.6"
                    size="100px"
                  />
                </div>
              </div>
            </q-td>
            <q-td key="order" :props="props">
              <div>{{ props.row.order }}</div>
            </q-td>
            <q-td key="delete" :props="props" v-if=" props.row.status != 'delete'">
              <div>
                <q-icon
                  @click="deleteBtn(props.row.key)"
                  class="cl1 cursor-pointer"
                  size="18px"
                  name="fas fa-trash-alt"
                  :class="{'cl5' :!status} "
                  :disabled="!status"
                />
              </div>
            </q-td>
            <q-td key="edit" :props="props" v-if=" props.row.status != 'delete'">
              <div>
                <q-icon
                  @click="editBtn(props.row.key)"
                  class="cl1 cursor-pointer"
                  size="18px"
                  name="fas fa-edit"
                  :class="{'cl5' :!status} "
                  :disabled="!status"
                />
              </div>
            </q-td>
            <q-td colspan="2" key="edit" v-if=" props.row.status == 'delete'" :props="props">
              <q-btn @click="deleteOff(props.row.key)" class="cl2 bg1" label="ยกเลิกการลบ" />
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
    <q-dialog v-model="vdoShow" persistent>
      <q-card class="bg4" style="width:500px">
        <q-card-section class="row items-center">
          <div class="text-h6">วีดีโอ</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>

        <q-card-section>
          <video style="width: 100%;" controls :poster="vdoPoster">
            <source :src="vdo" type="video/mp4" />
          </video>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="audioShow" persistent>
      <q-card class="bg4" style="width:500px">
        <q-card-section class="row items-center">
          <div class="text-h6">เสียง</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>

        <q-card-section>
          <video style="width: 100%;" controls :poster="vdoPoster">
            <source :src="audio" type="audio/mp3" />
          </video>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
import syncButton from "../../components/syncVdoButton.vue";
import { denodeify } from "q";
export default {
  components: {
    syncButton
  },
  data() {
    return {
      pagination: {
        rowsPerPage: 0
      },
      practiceKey: this.$route.params.key,
      audio: "",
      audioShow: false,
      vdoShow: false,
      vdo: "",
      vdoPoster: "",
      status: true,
      data: [],
      datafinal: "",
      deleteData: false,
      deleteKey: "",
      columns: [
        {
          name: "number",
          label: "ลำดับ",
          align: "left"
        },
        {
          name: "topic",
          align: "center",
          label: "ชื่อหัวข้อ"
        },

        {
          name: "vdo",
          align: "center",
          label: "เสียง/วีดีโอ"
        },
        {
          name: "order",
          label: "รหัสลำดับ",
          align: "center"
        },
        {
          name: "delete",
          label: "ลบ",
          align: "center"
        },
        {
          name: "edit",
          label: "แก้ไข",
          align: "center"
        }
      ],
      snapData: null,
      db1: "",
      level: this.$q.localStorage.getItem("practicemainLevelCurrent").label,
      unit: this.$q.localStorage.getItem("practicemainUnitCurrent")
    };
  },
  methods: {
    audioClick(no) {
      this.audioShow = true;
      this.audio = this.data[no].audioURL;
      this.vdoPoster = this.data[no].imgURL;
    },
    vdoClick(no) {
      this.vdoShow = true;
      this.vdo = this.data[no].vdoURL;
      this.vdoPoster = this.data[no].imgURL;
    },
    loadData() {
      this.data = [];
      this.datafinal = [];
      this.loadingShow();
      if (this.status) {
        this.snapData = db
          .collection("practicepool_draft")
          .where("practicekey", "==", this.$route.params.key);
      } else {
        this.snapData = db
          .collection("practicepool_server")
          .where("practicekey", "==", this.$route.params.key);
      }
      this.snapData.onSnapshot(doc => {
        let tem = [];
        doc.forEach(element => {
          let dataKey = {
            key: element.id
          };
          let final = {
            ...dataKey,
            ...element.data()
          };

          tem.push(final);
          tem.sort((a, b) => {
            return Number(a.order) - Number(b.order);
          });
          this.datafinal = tem;
          tem.forEach((element, index) => {
            element.index = index + 1;
          });
        });
        this.data = tem;
        this.loadingHide();
      });
    },
    deleteBtn(key) {
      this.$q
        .dialog({
          title: "คุณต้องการลบข้อมูลนี้ใช่หรือไม่",
          dark: true,
          cancel: "ยกเลิก",
          ok: "ตกลง"
        })
        .onOk(() => {
          db.collection("practicepool_draft")
            .doc(key)
            .update({ status: "delete" });
        });
    },
    deleteOff(key) {
      db.collection("practicepool_draft")
        .doc(key)
        .update({ status: "added" });
    },
    editBtn(key) {
      this.$router.push(
        "/practice/phonicsedit/" + this.$route.params.key + "/" + key
      );
    },
    addBtn() {
      this.$router.push("/practice/phonicsadd/" + this.$route.params.key);
    },
    printBtn() {
      this.$router.push({
        name: "phonicsprint",
        params: {
          data: this.datafinal,
          key: this.$route.params.key,
          level: this.level,
          unit: this.unit
        }
      });
      this.$q.localStorage.set("dataKey", this.$route.params.key);
    }
  },
  mounted() {
    this.loadData();
  },
  beforeDestroy() {
    this.snapData();
  }
};
</script>

<style scoped>
</style>