<template>
  <div>
    <div align="center">
      <div class="text-h5 q-pa-md">Phonics Lesson | L{{level}} U{{unit}}</div>
      <div class="box">
        <div class="q-py-sm">
          <q-input
            color="amber-13"
            dark
            square
            outlined
            v-model="data.order"
            label="รหัสลำดับ"
            type="number"
            :rules="[val => val.length>0]"
            hide-bottom-space
          />
        </div>
        <div class="q-py-sm">
          <q-input
            color="amber-13"
            dark
            square
            outlined
            v-model="data.topic"
            label="ชื่อหัวข้อ"
            :rules="[val => val.length>0]"
            hide-bottom-space
          />
        </div>
        <div class="q-py-md" align="left">
          <toggle-button
            :sync="true"
            :disabled="this.$route.name == 'phonicsedit'"
            :value="true"
            :labels="{ checked: 'เสียง', unchecked: 'วีดีโอ' }"
            :height="40"
            :width="120"
            :color="{
              checked: ['#F9BC35'],
              unchecked: ['#F9BC35']
            }"
            :font-size="16"
            v-model="status"
            @change="changdata()"
          />
        </div>
        <div v-if="status" class="q-pa-md">
          <div class="boxcl relative-position" style="width:400px">
            <div>
              <img
                v-if="this.$route.name !='phonicsedit'"
                src="../../statics/image/noimage.jpg"
                alt
              />
            </div>
            <div v-if="this.$route.name !='phonicsedit'">
              <div class="row justify-center">
                <span class="q-pa-xs">รูปภาพ</span>
                <q-input
                  style="width:250px"
                  class="q-px-md"
                  borderless
                  dark
                  v-model="fileImage"
                  @input="val => { file = val[0] }"
                  type="file"
                  accept="image/jpeg"
                />
              </div>
            </div>
            <div v-if="this.statusImg">
              <img
                v-if="this.$route.name =='phonicsedit'"
                style="width:100%;"
                :src=" this.data.imgURL"
                alt
              />
            </div>
            <div v-if="!this.statusImg">
              <img
                v-if="this.$route.name =='phonicsedit'"
                src="../../statics/image/noimage.jpg"
                alt
              />
            </div>
            <div v-if="this.statusImg">
              <div v-if="this.$route.name =='phonicsedit'" class="q-pa-md">
                <q-btn @click="deleteimg()" class="bg7 cl3" label="ลบรูปภาพ" style="width:120px" />
              </div>
            </div>
            <div v-if="!this.statusImg" class="q-pt-md row justify-center">
              <span class="q-pa-xs">รูปภาพ</span>
              <q-input
                style="width:250px"
                class="q-px-md"
                borderless
                dark
                v-model="fileImage"
                @input="val => { file = val[0] }"
                type="file"
                accept="image/jpeg"
              />
            </div>
          </div>
        </div>
        <div v-if="this.$route.name !='phonicsedit'">
          <div v-if="status" class="boxcl row q-px-md q-py-sm" style="height:55px">
            <span class="q-pa-xs">เสียง</span>
            <q-input
              borderless
              dark
              v-model="fileAudio"
              @input="val => { file = val[0] }"
              type="file"
              accept="audio/mp3"
            />
          </div>
        </div>
        <div v-show="this.statusAudio" v-if="this.$route.name =='phonicsedit'">
          <div v-if="status" class="boxcl row q-px-sm q-py-sm justify-between" style="height:55px">
            <div class="cursor-pointer">
              <q-icon @click="playaudio()" name="fas fa-volume-up" class="cl1" size="35px" />
            </div>
            <div>
              <q-btn @click="deleteaudio()" class="bg7 cl3" label="ลบเสียง" style="width:120px" />
            </div>
          </div>
        </div>
        <div
          v-if="status"
          v-show="!this.statusAudio"
          class="boxcl row q-px-sm q-py-sm justify-between"
          style="height:55px"
        >
          <div class="row justify-center">
            <span class="q-pa-xs">เสียง</span>
            <q-input
              borderless
              dark
              v-model="fileAudio"
              @input="val => { file = val[0] }"
              type="file"
              accept="audio/mp3"
            />
          </div>
        </div>
        <div v-if="!status" class="q-pa-md">
          <div class="boxcl relative-position" style="height:300px;width:400px">
            <div v-if="this.$route.name !='phonicsedit'">
              <img src="../../statics/image/novideo.jpg" alt />
            </div>

            <div v-if="this.$route.name !='phonicsedit'" class="absolute-bottom">
              <div class="row justify-center">
                <span class="q-pa-xs">วีดีโอ</span>
                <q-input
                  style="width:250px"
                  class="q-px-md"
                  borderless
                  dark
                  v-model="fileVdo"
                  @input="val => { file = val[0] }"
                  type="file"
                  accept="video/mp4"
                />
              </div>
            </div>
            <div v-if="this.statusVdo">
              <div v-if="this.$route.name =='phonicsedit'">
                <video style="width: 100%;" controls>
                  <source :src="this.data.vdoURL" type="video/mp4" />
                </video>
                <div class="q-pt-md">
                  <q-btn @click="deletevdo()" class="bg7 cl3" label="ลบวีดีโอ" style="width:120px" />
                </div>
              </div>
            </div>
            <div v-if="!this.statusVdo">
              <img src="../../statics/image/novideo.jpg" alt />
            </div>
            <div v-if="!this.statusVdo" class="absolute-bottom">
              <div class="row justify-center">
                <span class="q-pa-xs">วีดีโอ</span>
                <q-input
                  style="width:250px"
                  class="q-px-md"
                  borderless
                  dark
                  v-model="fileVdo"
                  @input="val => { file = val[0] }"
                  type="file"
                  accept="video/mp4"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="text-left" v-if="!status">รูปภาพปก</div>
        <div v-if="!status" class="q-pa-md">
          <div class="boxcl relative-position" style="width:400px">
            <div v-if="this.$route.name !='phonicsedit'">
              <img src="../../statics/image/noimage.jpg" alt />
            </div>
            <div v-if="this.$route.name !='phonicsedit'">
              <div class="row justify-center">
                <span class="q-pa-xs">รูปภาพ</span>
                <q-input
                  style="width:250px"
                  class="q-px-md"
                  borderless
                  dark
                  v-model="fileImage"
                  @input="val => { file = val[0] }"
                  type="file"
                  accept="image/jpeg"
                />
              </div>
            </div>
            <div v-if="this.statusImg">
              <img
                v-if="this.$route.name =='phonicsedit'"
                style="width:100%;"
                :src="this.data.imgURL"
                alt
              />
            </div>
            <div v-if="!this.statusImg">
              <img
                v-if="this.$route.name =='phonicsedit'"
                src="../../statics/image/noimage.jpg"
                alt
              />
            </div>
            <div v-if="this.statusImg">
              <div class="q-pa-md" v-if="this.$route.name =='phonicsedit'">
                <q-btn @click="deleteimg()" class="bg7 cl3" label="ลบรูปภาพ" style="width:120px" />
              </div>
            </div>
            <div v-if="!this.statusImg" class="q-pt-md row justify-center">
              <span class="q-pa-xs">รูปภาพ</span>
              <q-input
                style="width:250px"
                class="q-px-md"
                borderless
                dark
                v-model="fileImage"
                @input="val => { file = val[0] }"
                type="file"
                accept="image/jpeg"
              />
            </div>
          </div>
        </div>
        <div class="row col-12 justify-center q-py-lg">
          <div class="q-pa-sm">
            <q-btn class="bg7 cl3" label="ยกเลิก" style="width:120px" @click="cancelBtn()" />
          </div>
          <div class="q-pa-sm">
            <q-btn
              :disable="isSaveBtn"
              class="bg1 cl3"
              label="บันทึก"
              style="width:120px"
              @click="saveBtn()"
            />
          </div>
        </div>
      </div>
    </div>
    <q-dialog v-model="audioShow" persistent>
      <q-card class="bg4" style="width:500px">
        <q-card-section class="row items-center">
          <div class="text-h6">เสียง</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section>
          <audio style="width: 100%;" controls>
            <source :src="audio" type="audio/mp3" />
          </audio>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
import { st } from "../../router/index.js";
export default {
  data() {
    return {
      // การเช็คว่าข้อมูลเป็นเสียงหรือวีดีโอจะมีตัวแปรเก็บไว้คือ data.type เพื่อไว้โหลดข้อมูลตอนแก้ไข
      isSaveBtn: false,
      fileAudio: "",
      fileImage: "",
      fileVdo: "",
      data: {
        order: "",
        topic: "",
        imgURL: "",
        vdoURL: "",
        audioURL: "",
        type: true,
        level: "",
        unit: "",
        status: "added",
        practicekey: this.$route.params.key,
        practicetype: ""
      },
      old: "",
      audio: "",
      audioShow: false,
      statusAudio: true,
      statusVdo: true,
      statusImg: true,
      status: true, //การกดเลือก เสียงหรือวีดีโอ
      level: this.$q.localStorage
        .getItem("practicemainLevelCurrent")
        .label.toString(),
      unit: this.$q.localStorage.getItem("practicemainUnitCurrent").toString()
    };
  },
  methods: {
    loadType() {
      db.collection("practicelist")
        .doc(this.$route.params.key)
        .get()
        .then(doc => {
          this.data.practicetype = doc.data().practicetype;
        });
    },
    loadedit() {
      db.collection("practicepool_draft")
        .doc(this.$route.params.key)
        .get()
        .then(doc => {
          this.data = doc.data();
          this.old = doc.data().order;
          this.fileVdo = doc.data().vdoURL;
          this.fileAudio = doc.data().audioURL;
          this.fileImage = doc.data().imgURL;
          if (this.data.type == true) {
            this.status = true;
          } else {
            this.status = false;
          }
        });
    },
    playaudio() {
      this.audioShow = true;
      this.audio = this.data.audioURL;
    },
    deletevdo() {
      this.statusVdo = false;
      this.data.vdoURL = "";
      this.fileVdo = "";
    },
    deleteaudio() {
      this.statusAudio = false;
      this.data.audioURL = "";
      this.fileAudio = "";
    },
    deleteimg() {
      this.statusImg = false;
      this.data.imgURL = "";
      this.fileImage = "";
    },
    changdata() {},
    async saveBtn() {
      if (this.data.order == "" || this.data.topic == "") {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
        return;
      } else {
        this.data.level = this.level;
        this.data.unit = this.unit.toString();
        let imageHave = this.fileImage.length;
        let audioHave = this.fileAudio.length;
        let vdoHave = this.fileVdo.length;
        if (this.$route.name == "phonicsadd") {
          if (this.status) {
            if (imageHave <= 0) {
              this.notifyRed("ไม่ได้เลือกรูปภาพ");
              return;
            }
            if (audioHave <= 0) {
              this.notifyRed("ไม่ได้เลือกเสียง");
              return;
            }
          } else {
            if (vdoHave <= 0) {
              this.notifyRed("ไม่ได้เลือกวีดีโอ");
              return;
            }
            if (imageHave <= 0) {
              this.notifyRed("ไม่ได้เลือกรูปภาพ");
              return;
            }
          }
          // add;
          this.isSaveBtn = true;
          let keyPhonics = "";
          db.collection("practicepool_draft")
            .where("order", "==", this.data.order)
            .where("practicekey", "==", this.data.practicekey)
            .get()
            .then(async doc => {
              if (doc.size > 0) {
                this.isSaveBtn = false;
                this.notifyRed("รหัสลำดับนี้ถูกใช้งานแล้ว");
                return;
              } else {
                keyPhonics = await db
                  .collection("practicepool_draft")
                  .add(this.data);
              }
              if (this.status) {
                // รูป
                this.loadingShow();
                let getImage = await st
                  .child("image/phonics/" + keyPhonics.id + ".jpg")
                  .put(this.fileImage[0]);
                let getImageURL = await getImage.ref.getDownloadURL();
                await db
                  .collection("practicepool_draft")
                  .doc(keyPhonics.id)
                  .update({
                    imgURL: getImageURL,
                    type: true
                  });
                // เสียง
                let getAudio = await st
                  .child("audio/vdophonics/" + keyPhonics.id + ".mp3")
                  .put(this.fileAudio[0]);
                let getAudioURL = await getAudio.ref.getDownloadURL();
                await db
                  .collection("practicepool_draft")
                  .doc(keyPhonics.id)
                  .update({
                    audioURL: getAudioURL
                  })
                  .then(() => {
                    this.isSaveBtn = false;
                    this.notifyGreen("บันทึกเรียบร้อย");
                    this.loadingHide();
                    this.$router.push(
                      "/practice/phonics/" + this.$route.params.key
                    );
                  });
              } else {
                // วีดีโอ
                this.loadingShow();
                let getVdo = await st
                  .child("vdo/vdophonics/" + keyPhonics.id + ".mp4")
                  .put(this.fileVdo[0]);
                let getVdoURL = await getVdo.ref.getDownloadURL();
                await db
                  .collection("practicepool_draft")
                  .doc(keyPhonics.id)
                  .update({
                    vdoURL: getVdoURL
                  });
                let getImage = await st
                  .child("image/phonics/" + keyPhonics.id + ".jpg")
                  .put(this.fileImage[0]);
                let getImageURL = await getImage.ref.getDownloadURL();
                await db
                  .collection("practicepool_draft")
                  .doc(keyPhonics.id)
                  .update({
                    imgURL: getImageURL,
                    type: false
                  })
                  .then(() => {
                    this.isSaveBtn = false;
                    this.notifyGreen("บันทึกเรียบร้อย");
                    this.loadingHide();
                    this.$router.push(
                      "/practice/phonics/" + this.$route.params.key
                    );
                  });
              }
            });
        } else {
          db.collection("practicepool_draft")
            .where("order", "==", this.data.order)
            .where("practicekey", "==", this.data.practicekey)
            .get()
            .then(async doc => {
              if (doc.size > 0) {
                if (this.old == this.data.order) {
                  await db
                    .collection("practicepool_draft")
                    .doc(this.$route.params.key)
                    .update({
                      order: this.data.order,
                      topic: this.data.topic
                    });
                } else {
                  this.notifyRed("รหัสลำดับนี้ถูกใช้งานแล้ว");
                  return;
                }
              } else {
                await db
                  .collection("practicepool_draft")
                  .doc(this.$route.params.key)
                  .set(this.data);
              }
              db.collection("practicepool_draft")
                .doc(this.$route.params.key)
                .update({ status: "added" });
              if (this.status) {
                // เช็คค่า  รูป และ เสียง
                if (this.data.imgURL == "" && imageHave <= 0) {
                  this.notifyRed("ไม่ได้เลือกรูปภาพ");
                  return;
                }
                if (this.data.audioURL == "" && audioHave <= 0) {
                  this.notifyRed("ไม่ได้เลือกเสียง");
                  return;
                }
                if (this.data.imgURL != "" && this.data.audioURL != "") {
                  this.$router.push(
                    "/practice/phonics/" + this.$route.params.practicekey
                  );
                  this.notifyGreen("บันทึกเรียบร้อย");
                  return;
                }
                this.loadingShow();
                if (this.data.imgURL == "") {
                  this.isSaveBtn = true;
                  let getImage = await st
                    .child("image/phonics/" + this.$route.params.key + ".jpg")
                    .put(this.fileImage[0]);
                  let getImageURL = await getImage.ref.getDownloadURL();
                  await db
                    .collection("practicepool_draft")
                    .doc(this.$route.params.key)
                    .update({
                      imgURL: getImageURL,
                      type: true
                    });
                }
                if (this.data.audioURL == "") {
                  let getAudio = await st
                    .child(
                      "audio/vdophonics/" + this.$route.params.key + ".mp3"
                    )
                    .put(this.fileAudio[0]);
                  let getAudioURL = await getAudio.ref.getDownloadURL();
                  await db
                    .collection("practicepool_draft")
                    .doc(this.$route.params.key)
                    .update({
                      audioURL: getAudioURL
                    });
                }
                this.loadingHide();
                this.isSaveBtn = false;
                this.notifyGreen("บันทึกเรียบร้อย");
                this.$router.push(
                  "/practice/phonics/" + this.$route.params.practicekey
                );
              } else {
                // เช็คค่า วีดีโอ และ รูป
                if (this.data.vdoURL == "" && vdoHave <= 0) {
                  this.notifyRed("ไม่ได้เลือกวีดีโอ");
                  return;
                }
                if (this.data.imgURL == "" && imageHave <= 0) {
                  this.notifyRed("ไม่ได้เลือกรูปภาพ");
                  return;
                }
                if (this.data.vdoURL != "" && this.data.imgURL != "") {
                  this.loadingHide();
                  this.$router.push(
                    "/practice/phonics/" + this.$route.params.practicekey
                  );
                  this.notifyGreen("บันทึกเรียบร้อย");
                  return;
                }
                // วีดีโอ
                this.loadingShow();
                if (this.data.vdoURL == "") {
                  let getVdo = await st
                    .child("vdo/vdophonics/" + this.$route.params.key + ".mp4")
                    .put(this.fileVdo[0]);
                  let getVdoURL = await getVdo.ref.getDownloadURL();
                  await db
                    .collection("practicepool_draft")
                    .doc(this.$route.params.key)
                    .update({
                      vdoURL: getVdoURL
                    });
                }
                if (this.data.imgURL == "") {
                  let getImage = await st
                    .child("image/phonics/" + this.$route.params.key + ".jpg")
                    .put(this.fileImage[0]);
                  let getImageURL = await getImage.ref.getDownloadURL();
                  await db
                    .collection("practicepool_draft")
                    .doc(this.$route.params.key)
                    .update({
                      imgURL: getImageURL,
                      type: false
                    });
                }
                this.loadingHide();
                this.notifyGreen("บันทึกเรียบร้อย");
                this.$router.push(
                  "/practice/phonics/" + this.$route.params.practicekey
                );
              }
            });
        }
      }
    },
    deleteExtraVocabBtn(key) {
      this.$q
        .dialog({
          title: "คุณต้องการลบข้อมูลนี้ใช่หรือไม่",
          dark: true,
          cancel: "ยกเลิก",
          ok: "ตกลง"
        })
        .onOk(() => {
          db.collection("practicepool_draft")
            .doc(this.questionKey)
            .collection("extraVocab")
            .doc(key)
            .delete()
            .then(() => {
              db.collection("practicepool_draft")
                .doc(this.questionKey)
                .update({
                  status: "added"
                });
              this.loadExtraVocab();
            });
        });
    },
    cancelBtn() {
      if (this.$route.name == "phonicsadd") {
        this.$router.push("/practice/phonics/" + this.$route.params.key);
      } else {
        this.$router.push(
          "/practice/phonics/" + this.$route.params.practicekey
        );
      }
    }
  },
  mounted() {
    if (this.$route.name == "phonicsadd") {
      this.loadType();
    } else {
      this.loadedit();
    }
  }
};
</script>

<style  scoped>
.box {
  width: 650px;
}
.boxcl {
  border: 1px solid #a0a0a0;
}
</style>