<template>
  <div>
    <div class="row q-pa-md">
      <div>
        <toggle-button
          :sync="true"
          :labels="{ checked: 'แบบร่าง', unchecked: 'เซิฟเวอร์' }"
          :height="40"
          :width="120"
          :color="{
          checked: ['#909090' ],
          unchecked: ['#388E3C']
        }"
          :font-size="16"
          v-model="status"
          @change="loadData()"
        />
      </div>
      <div class="col text-center relative-position">
        <div class="absolute-center text-h5">วัดระดับ</div>
      </div>
      <div class="row">
        <div>
          <q-btn
            round
            class="cl2 bg1"
            icon="fas fa-sync-alt"
            v-show="status && syncData"
            @click="sync()"
          />
          <q-btn
            round
            class="cl2 bg5"
            icon="fas fa-sync-alt"
            disable
            v-show="!status || !syncData"
          />
        </div>
        <div class="q-px-md">
          <q-btn @click="printBtn()" round class="cl2 bg1" icon="fas fa-print" v-show="status" />
          <q-btn
            @click="printBtn()"
            round
            class="cl2 bg5"
            icon="fas fa-print"
            disable
            v-show="!status"
          />
        </div>
        <div>
          <q-btn @click="addBtn()" round class="cl2 bg1" icon="fas fa-plus" v-show="status" />
          <q-btn
            @click="addBtn()"
            round
            class="cl2 bg5"
            icon="fas fa-plus"
            disable
            v-show="!status"
          />
        </div>
      </div>
    </div>
    <div class="row q-pa-lg">
      <div class="col q-px-lg" align="center" style="width: 800px">
        <q-select
          color="amber-13"
          dark
          v-model="classData"
          :options="classRoom"
          emit-value
          map-options
          label="ระดับชั้น"
          style="width: 400px;"
          @input="loadData()"
        />
      </div>
    </div>
    <div class="q-pa-md">
      <q-table :data="data" :columns="columns" dark row-key="index" :pagination.sync="pagination">
        <template v-slot:body="props">
          <q-tr :props="props" :class="{cl5 : props.row.status == 'deleted'}">
            <!-- ลำดับ  -->
            <q-td key="index" :props="props">
              <div class="q-py-sm">{{ props.row.index }}</div>
            </q-td>
            <!-- ข้อมูลโจทย์ -->
            <q-td key="question" :props="props">
              <div v-html="props.row.instructioneng"></div>
              <div v-html="props.row.instructionthai"></div>
              <div v-html="props.row.question"></div>
              <div>
                <span
                  v-html="'(1) ' + props.row.choices[0]"
                  :class="{'bg-green-9' : props.row.correctAnswer==0}"
                >(1)</span>
              </div>
              <div>
                <span
                  v-html="'(2) ' + props.row.choices[1]"
                  :class="{'bg-green-9' : props.row.correctAnswer==1}"
                >(2)</span>
              </div>
              <div v-if="props.row.choices[2]">
                <span
                  v-html="'(3) ' + props.row.choices[2]"
                  :class="{'bg-green-9' : props.row.correctAnswer==2}"
                >(3)</span>
              </div>
              <div v-if="props.row.choices[3]">
                <span
                  v-html="'(4) ' + props.row.choices[3]"
                  :class="{'bg-green-9' : props.row.correctAnswer==3}"
                >(4)</span>
              </div>
              <div class="linehr q-my-sm"></div>
              <div>ระดับ level : {{props.row.level}}</div>
              <div>
                <div class="row" style="width:360px;">
                  <div
                    v-for="(items,index) in classRoom"
                    :key="index"
                    class="col-2"
                    align="center"
                    :class="{'cl5' : !props.row.classRoom.includes(items.value)}"
                  >{{ items.label }}</div>
                </div>
              </div>
            </q-td>
            <!-- รหัสลำดับ -->
            <q-td
              style="width: 100px"
              key="order"
              :props="props"
              v-if="props.row.status != 'delete'"
            >{{ props.row.order}}</q-td>
            <!-- ลบ -->
            <q-td
              style="width: 100px"
              key="delete"
              :props="props"
              v-if="props.row.status != 'delete'"
            >
              <div>
                <q-icon
                  @click="deleteBtn(props.row.id)"
                  class="cl1 cursor-pointer"
                  size="18px"
                  name="fas fa-trash-alt"
                  v-if="status"
                />
                <q-icon class="cl5" size="18px" name="fas fa-trash-alt" v-if="!status" />
              </div>
            </q-td>
            <!-- แก้ไข -->
            <q-td
              style="width: 100px"
              key="edit"
              :props="props"
              v-if="props.row.status != 'delete'"
            >
              <div>
                <q-icon
                  @click="editBtn(props.row.id)"
                  class="cl1 cursor-pointer"
                  size="18px"
                  name="fas fa-edit"
                  v-if="status"
                />
                <q-icon class="cl5" size="18px" name="fas fa-edit" v-if="!status" />
              </div>
            </q-td>
            <!-- ปุ่มลบข้อมูล3ช่องรวมกัน -->
            <q-td
              style="width: 100px"
              align="center"
              colspan="3"
              v-if="props.row.status == 'delete'"
            >
              <q-btn
                label="ยกเลิกการลบ"
                class="bg1 cl3"
                style="width:120px"
                @click="undeleteBtn(props.row.id)"
              />
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      pagination: {
        rowsPerPage: 0
      },
      classData: "m1",
      classRoom: [
        {
          label: "ป.1",
          value: "p1"
        },
        {
          label: "ป.2",
          value: "p2"
        },
        {
          label: "ป.3",
          value: "p3"
        },
        {
          label: "ป.4",
          value: "p4"
        },
        {
          label: "ป.5",
          value: "p5"
        },
        {
          label: "ป.6",
          value: "p6"
        },
        {
          label: "ม.1",
          value: "m1"
        },
        {
          label: "ม.2",
          value: "m2"
        },
        {
          label: "ม.3",
          value: "m3"
        },
        {
          label: "ม.4",
          value: "m4"
        },
        {
          label: "ม.5",
          value: "m5"
        },
        {
          label: "ม.6",
          value: "m6"
        }
      ],
      status: true, //draft = true / server = false
      columns: [
        {
          name: "index",

          label: "ลำดับ",
          align: "center",
          field: "index"
        },
        {
          name: "question",
          align: "left",
          label: "โจทย์"
        },
        {
          name: "order",
          label: "รหัสลำดับ",
          align: "center"
        },
        {
          name: "delete",
          label: "ลบ",
          align: "center"
        },
        {
          name: "edit",
          label: "แก้ไข",
          align: "center"
        }
      ],
      data: [],
      syncData: false,
      numberSynce: 0
    };
  },
  methods: {
    addBtn() {
      this.$router.push("/placement/add");
    },

    checkSync() {
      // ตรวจสอบว่าจำเป็นต้อง sync หรือเปล่าว
      db.collection("placement")
        .doc("draft")
        .collection("practice")
        .get()
        .then(doc => {
          // console.log(doc.size);
          db.collection("placement")
            .doc("draft")
            .collection("practice")
            .where("status", "==", "updated")
            .get()
            .then(doc2 => {
              // console.log(doc2.size);
              if (doc.size != doc2.size) {
                this.numberSynce = doc.size - doc2.size;
                // console.log(this.numberSynce);
                this.syncData = true;
              } else {
                this.syncData = false;
              }
            });
        });
    },

    sync() {
      this.loadingShow();
      setTimeout(() => {
        let counter = 0;
        let counter2 = 0;

        db.collection("placement")
          .doc("draft")
          .collection("practice")
          .get()
          .then(doc => {
            console.log(doc.size);
            doc.forEach(element => {
              // console.log(element.data().status);
              if (element.data().status == "added") {
                // console.log(element.exists);
                counter++;
                let newSetData = element.data();
                delete newSetData.status;
                newSetData.status = "updated";
                db.collection("placement")
                  .doc("server")
                  .collection("practice")
                  .doc(element.id)
                  .set(newSetData)
                  .then(() => {
                    db.collection("placement")
                      .doc("draft")
                      .collection("practice")
                      .doc(element.id)
                      .update({
                        status: "updated"
                      })
                      .then(() => {
                        counter2++;
                        if (counter == counter2) {
                          this.checkSync();
                          this.loadData();
                          this.loadingHide();
                        }
                      });
                  });
              } else if (element.data().status == "delete") {
                counter++;
                db.collection("placement")
                  .doc("draft")
                  .collection("practice")
                  .doc(element.id)
                  .delete()
                  .then(() => {
                    db.collection("placement")
                      .doc("server")
                      .collection("practice")
                      .doc(element.id)
                      .delete()
                      .then(() => {
                        counter2++;
                        if (counter == counter2) {
                          this.checkSync();
                          this.loadData();
                          this.loadingHide();
                        }
                      });
                  });
              } else {
                this.checkSync();
                this.loadData();
                this.loadingHide();
              }
            });
          });
      }, 0);
    },

    loadData() {
      this.$q.localStorage.set("classRoomSelected", this.classData);
      this.loadingShow();
      this.data = [];
      let dataTemp = [];
      let levelData = this.$q.localStorage.getItem("levelData");
      let db1 = db.collection("placement");
      if (this.status) {
        db1 = db1.doc("draft");
      } else {
        db1 = db1.doc("server");
      }
      db1 = db1
        .collection("practice")
        .where("classRoom", "array-contains", this.classData)
        .get()
        .then(doc => {
          doc.forEach(data => {
            let temp = {
              id: data.id
            };
            let dataFinal = { ...data.data(), ...temp };
            dataTemp.push(dataFinal);
          });
          dataTemp.sort((a, b) => {
            return a.order - b.order;
          });
          this.data = dataTemp;
          let index = 1;
          this.data.forEach(x => {
            x.index = index;
            index++;
          });
          this.loadingHide();
        });
    },

    editBtn(key) {
      this.$router.push("/placement/edit/" + key);
    },

    deleteBtn(key) {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "ต้องการที่จะลบข้อมูลใช่หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก",
          dark: true
        })
        .onOk(() => {
          db.collection("placement")
            .doc("draft")
            .collection("practice")
            .doc(key)
            .update({
              status: "delete"
            })
            .then(() => {
              this.loadData();
              // this.notifyGreen("ลบข้อมูลเสร็จแล้ว");
            });
        });
    },
    undeleteBtn(key) {
      this.$q
        .dialog({
          title: "ยกเลิกการลบข้อมูล",
          message: "ต้องการที่จะยกเลิกการลบข้อมูลใช่หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก",
          dark: true
        })
        .onOk(() => {
          db.collection("placement")
            .doc("draft")
            .collection("practice")
            .doc(key)
            .update({
              status: "added"
            })
            .then(() => {
              this.loadData();
              // this.notifyGreen("ยกเลิกการลบลบข้อมูลแล้ว");
            });
        });
    },
    printBtn() {
      // this.$router.push("/placement/print");

      let filtered = this.classRoom
        .filter(x => {
          return x.value == this.classData;
        })
        .map(e => {
          return e.label;
        });

      this.$router.push({
        name: "placementprint",
        params: {
          data: this.data,
          classData: filtered[0]
        }
      });
    }
  },
  mounted() {
    if (!this.$q.localStorage.getItem("classRoomSelected")) {
      this.$q.localStorage.set("classRoomSelected", "m1");
    }

    this.classData = this.$q.localStorage.getItem("classRoomSelected");
    this.loadData();
    this.checkSync();
  }
};
</script>

<style scoped>
.linehr {
  width: 100%;
  height: 1px;
  background-color: #5c5c5c;
}
</style>