<template>
  <div>
    <div align="center">
      <div class="q-pa-md f24">{{pageName}}</div>
      <div style="max-width:1000px; width:100%">
        <div class="q-pa-sm" align="left">
          <div>ระดับชั้น</div>
          <div>
            <table>
              <tr>
                <td>
                  <q-checkbox
                    v-model="placement.classRoom"
                    label="ป.1"
                    color="amber-13"
                    val="p1"
                    dark
                  />
                </td>
                <td>
                  <q-checkbox
                    v-model="placement.classRoom"
                    label="ป.2"
                    color="amber-13"
                    val="p2"
                    dark
                  />
                </td>
                <td>
                  <q-checkbox
                    v-model="placement.classRoom"
                    label="ป.3"
                    color="amber-13"
                    val="p3"
                    dark
                  />
                </td>
                <td>
                  <q-checkbox
                    v-model="placement.classRoom"
                    label="ป.4"
                    color="amber-13"
                    val="p4"
                    dark
                  />
                </td>
                <td>
                  <q-checkbox
                    v-model="placement.classRoom"
                    label="ป.5"
                    color="amber-13"
                    val="p5"
                    dark
                  />
                </td>
                <td>
                  <q-checkbox
                    v-model="placement.classRoom"
                    label="ป.6"
                    color="amber-13"
                    val="p6"
                    dark
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <q-checkbox
                    v-model="placement.classRoom"
                    label="ม.1"
                    color="amber-13"
                    val="m1"
                    dark
                  />
                </td>

                <td>
                  <q-checkbox
                    v-model="placement.classRoom"
                    label="ม.2"
                    color="amber-13"
                    val="m2"
                    dark
                  />
                </td>
                <td>
                  <q-checkbox
                    v-model="placement.classRoom"
                    label="ม.3"
                    color="amber-13"
                    val="m3"
                    dark
                  />
                </td>
                <td>
                  <q-checkbox
                    v-model="placement.classRoom"
                    label="ม.4"
                    color="amber-13"
                    val="m4"
                    dark
                  />
                </td>
                <td>
                  <q-checkbox
                    v-model="placement.classRoom"
                    label="ม.5"
                    color="amber-13"
                    val="m5"
                    dark
                  />
                </td>
                <td>
                  <q-checkbox
                    v-model="placement.classRoom"
                    label="ม.6"
                    color="amber-13"
                    val="m6"
                    dark
                  />
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="q-pa-sm" align="left">
          <q-input
            color="amber-13"
            dark
            square
            outlined
            v-model.number="placement.order"
            label="รหัสลำดับ"
            ref="order"
            type="number"
            style="width:600px;"
          />
        </div>

        <div class="q-pa-sm" align="left">
          <q-select
            color="amber-13"
            dark
            square
            outlined
            v-model.number="levelData"
            :options="level"
            label="ระดับ level ที่ใช้วัดผล"
            style="width:600px;"
          />
        </div>

        <div class="col-12 q-px-sm text-left">
          <div class="q-py-sm q-pt-lg">คำสั่งอังกฤษ</div>
          <q-editor
            class="box"
            dark
            v-model.trim="placement.instructioneng"
            :toolbar="[
        ['bold', 'italic', 'underline'],
      ]"
          />
          <div class="q-py-sm q-pt-lg">คำสั่งไทย</div>
          <q-editor
            class="box"
            dark
            v-model.trim="placement.instructionthai"
            :toolbar="[
        ['bold', 'italic', 'underline'],
      ]"
          />
          <div class="q-py-sm q-pt-lg">คำถาม</div>
          <q-editor
            class="box"
            dark
            v-model.trim="placement.question"
            :toolbar="[
        ['bold', 'italic', 'underline'],
      ]"
          />
          <div class="q-py-sm q-pt-lg">ตัวเลือก #1</div>
          <q-editor
            class="box"
            dark
            v-model.trim="choice1"
            :toolbar="[
        ['bold', 'italic', 'underline'],
      ]"
          />
          <div class="q-py-sm q-pt-lg">ตัวเลือก #2</div>
          <q-editor
            class="box"
            dark
            v-model.trim="choice2"
            :toolbar="[
        ['bold', 'italic', 'underline'],
      ]"
          />
          <div class="q-py-sm q-pt-lg">ตัวเลือก #3</div>
          <q-editor
            class="box"
            dark
            v-model.trim="choice3"
            :toolbar="[
        ['bold', 'italic', 'underline'],
      ]"
          />
          <div class="q-py-sm q-pt-lg">ตัวเลือก #4</div>
          <q-editor
            class="box"
            dark
            v-model.trim="choice4"
            :toolbar="[
        ['bold', 'italic', 'underline'],
      ]"
          />
          <div class="q-pt-lg">ตัวเลือกถูกต้อง</div>
          <div class="row">
            <div class="q-pa-md">
              <q-radio color="amber-13" dark v-model="placement.correctAnswer" :val="0" />
              <span class="q-px-md">1</span>
            </div>
            <div class="q-pa-md">
              <q-radio color="amber-13" dark v-model="placement.correctAnswer" :val="1" />
              <span class="q-px-md">2</span>
            </div>
            <div class="q-pa-md">
              <q-radio color="amber-13" dark v-model="placement.correctAnswer" :val="2" />
              <span class="q-px-md">3</span>
            </div>
            <div class="q-pa-md">
              <q-radio color="amber-13" dark v-model="placement.correctAnswer" :val="3" />
              <span class="q-px-md">4</span>
            </div>
          </div>
        </div>
        <div class="row col-12 justify-center q-py-lg">
          <div class="q-pa-sm">
            <q-btn class="bg7 cl3" label="ยกเลิก" style="width:120px" @click="cancelBtn()" />
          </div>
          <div class="q-pa-sm">
            <q-btn class="bg1 cl3" label="บันทึก" style="width:120px" @click="saveBtn()" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      placement: {
        classRoom: [],
        choices: [],
        correctAnswer: 0,
        instructioneng: "",
        instructionthai: "",
        level: 1,
        order: "",
        question: ""
      },
      choice1: "",
      choice2: "",
      choice3: "",
      choice4: "",
      pageName: "",
      levelData: "",
      level: this.$q.localStorage.getItem("levelList"),
      addMode: true
    };
  },
  methods: {
    // // ----------บันทึกข้อมูล------
    saveBtn() {
      this.placement.choices = [];
      //ตรวจสอบการ input
      if (this.placement.classRoom.length == 0) {
        this.notifyRed("ต้องระบุระดับชั้นอย่างน้อยหนึ่งชั้น");
        return;
      }

      if (
        !(
          this.placement.order > 0 &&
          this.choice1.length > 0 &&
          this.choice2.length > 0 &&
          this.placement.instructionthai.length > 0 &&
          this.placement.instructioneng.length > 0
        )
      ) {
        this.notifyRed("กรุณาใส่ข้อมูลให้ครบถ้วน");
        return;
      }

      //ทำการปรับค่าคำตอบ

      this.placement.choices.push(this.choice1);
      this.placement.choices.push(this.choice2);
      if (this.choice3.length > 0) {
        this.placement.choices.push(this.choice3);
      }
      if (this.choice4.length > 0) {
        this.placement.choices.push(this.choice4);
      }

      //ทำ add level
      this.placement.level = this.levelData.label;

      //status
      this.placement.status = "added";

      // console.log(this.placement);
      //ทำการบันทึกข้อมูล
      if (this.addMode) {
        db.collection("placement")
          .doc("draft")
          .collection("practice")
          .add(this.placement)
          .then(() => {
            this.notifyGreen("บันทึกข้อมูลสำเร็จ");
            this.$router.push("/placement");
          });
      } else {
        db.collection("placement")
          .doc("draft")
          .collection("practice")
          .doc(this.$route.params.key)
          .set(this.placement)
          .then(() => {
            this.notifyGreen("บันทึกข้อมูลสำเร็จ");
            this.$router.push("/placement");
          });
      }
    },
    cancelBtn() {
      this.$router.push("/placement");
    },
    loadData() {
      this.loadingShow();
      db.collection("placement")
        .doc("draft")
        .collection("practice")
        .doc(this.$route.params.key)
        .get()
        .then(data => {
          this.placement = data.data();
          this.choice1 = this.placement.choices[0];
          this.choice2 = this.placement.choices[1];
          if (this.placement.choices.length >= 3) {
            this.choice3 = this.placement.choices[2];
          }
          if (this.placement.choices.length >= 4) {
            this.choice4 = this.placement.choices[3];
          }
          this.levelData = this.level.filter(x => {
            return x.label == data.data().level;
          })[0];
          this.loadingHide();
        });
    }
  },

  mounted() {
    if (this.$route.name == "placementedit") {
      this.pageName = "แก้ไขข้อสอบวัดระดับ";
      this.addMode = false;
      this.loadData();
    } else {
      this.addMode = true;
      this.pageName = "เพิ่มข้อสอบวัดระดับ";
      this.levelData = this.level[0];
    }
  }
};
</script> 

 
<style scoped>
.box {
  height: 100px;
}
</style>