<template>
  <div class="bg6">
    <div id="printBtn">
      <q-toolbar class="bg-black text-white">
        <q-toolbar-title>
          <!-- <span>วัดระดับ > พิมพ์ข้อสอบวัดระดับ {{ this.$route.params.classData }}</span> -->
        </q-toolbar-title>
        <q-btn
          class="q-mr-md"
          dark
          round
          size="14px"
          color="amber-13"
          text-color="black"
          icon="fas fa-print"
          @click="printBtn()"
        />
        <q-btn
          dark
          round
          size="14px"
          color="amber-13"
          text-color="black"
          icon="fas fa-times"
          @click="closeBtn()"
        />
      </q-toolbar>
    </div>

    <div class="q-pb-sm" align="center">
      <div class="printMe shadow-1 paper-a4 q-my-lg cl2">
        <div class="q-pa-md">
          <div class="box q-pa-md row">
            <div class="col-6">
              <div align="left">
                <img src="../../statics/image/logowinner.png" alt style="width: 200px" />
              </div>
            </div>
            <div class="col-6 items-center row">
              <div
                class="text-h5 items-center col-12"
                align="center"
              >ข้อสอบวัดระดับ {{ this.$route.params.classData }}</div>
            </div>
          </div>

          <div class="q-mt-lg q-pa-md">
            <hr />
            <table class="text-h6" style="width:100%; border-collapse: collapse;">
              <thead>
                <tr>
                  <th class="q-py-sm" style="width:15%" align="center">
                    <div class="q-mt-md">ลำดับ</div>
                  </th>
                  <th class="q-py-sm" align="left">
                    <div class="q-mt-md">โจทย์</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item,index) in data" :key="index">
                  <td class="brtop q-py-sm" align="center">{{index+1}}/{{ item.order }}</td>
                  <td class="brtop q-py-sm">
                    <div v-html="item.instructioneng"></div>
                    <div v-html="item.instructionthai"></div>
                    <div v-html="item.question"></div>
                    <div v-for="(choices,index2) in item.choices" :key="index2">
                      <div>
                        <span
                          class="q-px-sm"
                          :class="{'bg-green-3 ' : item.correctAnswer == index2}"
                          v-html="'('+Number(index2+1)+') ' + choices"
                          v-if="choices.length > 0 "
                        ></span>
                      </div>
                    </div>
                    <div>
                      <span>ระดับ Level ที่ใช้วัดผล: Level {{item.level}}</span>
                    </div>
                    <div class="row">
                      <div class="q-px-sm" v-for="(room,i) in item.classRoom" :key="i">
                        <span v-show="room=='p1'">ป.1</span>
                        <span v-show="room=='p2'">ป.2</span>
                        <span v-show="room=='p3'">ป.3</span>
                        <span v-show="room=='p4'">ป.4</span>
                        <span v-show="room=='p5'">ป.5</span>
                        <span v-show="room=='p6'">ป.6</span>
                        <span v-show="room=='m1'">ม.1</span>
                        <span v-show="room=='m2'">ม.2</span>
                        <span v-show="room=='m3'">ม.3</span>
                        <span v-show="room=='m4'">ม.4</span>
                        <span v-show="room=='m5'">ม.5</span>
                        <span v-show="room=='m6'">ม.6</span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: this.$route.params.data,
      classData: this.$route.params.classData
    };
  },
  methods: {
    closeBtn() {
      this.$router.push("/placement");
    },
    printBtn() {
      window.print();
    }
  },
  mounted() {}
};
</script>

<style scoped>
.brtop {
  border-top: 1px solid;
}
.box {
  border: 1px solid #5c5c5c;
}
.paper-a4 {
  background: #ffffff;
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}
@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }
  .bg6 {
    background: #ffffff;
  }

  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  /* size: landscape; portrait */
}
</style>