<template>
  <q-page v-if="isLoading">
    <div class="row relative-position col-12">
      <div class="q-pa-md absolute-center f24">แบบฝึกหัด</div>
      <div class="q-pa-md col-12" align="right">
        <q-btn to="/practiceSyncCheck" round class="q-mr-md bg1 cl2" icon="fas fa-table" />
        <q-btn
          @click="showAddpracticeDialog()"
          round
          color="amber-13"
          text-color="black"
          icon="fas fa-plus"
        />
      </div>
    </div>

    <!-- เลือก level และ unit -->
    <div>
      <div class="row justify-center q-ma-md">
        <div class>
          <q-select
            dark
            class="q-mx-md"
            style="width:200px"
            v-model="level"
            :options="optLevel"
            color="amber-13"
            label="level"
            @input="changeLevel()"
          />
        </div>
        <div class>
          <q-select
            dark
            class="q-mx-md"
            style="width:200px"
            v-model="unit"
            :options="optUnit"
            color="amber-13"
            label="unit"
            @input="changeUnit()"
          />
        </div>
      </div>
    </div>

    <div>
      <div class="q-pa-md">
        <q-table
          :pagination.sync="pagination"
          dark
          :data="practiceList"
          :columns="columns"
          row-key="name"
        >
          <template v-slot:body="props">
            <q-tr
              v-if="
                props.row.order != 1000 &&
                  props.row.order != 2000 &&
                  props.row.order != 3000 &&
                  props.row.order != 4000 &&
                  props.row.order != 5000 &&
                  props.row.order != 6000
              "
              :props="props"
            >
              <q-td key="order" :props="props">{{ props.row.order }}</q-td>
              <q-td key="practice" :props="props">
                <span v-if="props.row.practicetype">
                  {{
                  practiceTypeOpt.filter(x => {
                  return x.value == props.row.practicetype;
                  })[0] != undefined
                  ? practiceTypeOpt.filter(x => {
                  return x.value == props.row.practicetype;
                  })[0].label
                  : null
                  }}
                </span>
              </q-td>
              <q-td key="time" :props="props">{{ props.row.time }}</q-td>
              <q-td key="sync" :props="props">
                <q-icon
                  v-if="props.row.isNotSync.includes('added')"
                  color="amber"
                  name="fas fa-sync-alt"
                  flat
                  style="font-size:22px"
                >
                  <q-tooltip
                    transition-show="scale"
                    transition-hide="scale"
                  >แบบฝึกหัดนี้ยัง Sync ข้อมูลไม่ครบ</q-tooltip>
                </q-icon>
              </q-td>
              <q-td key="delete" :props="props">
                <q-btn
                  @click="deletePracticeList(props.row.key)"
                  class="cl1"
                  flat
                  icon="fas fa-trash"
                ></q-btn>
              </q-td>
              <q-td key="edit" :props="props">
                <q-btn
                  @click="showEditPracticeDialog(props.row)"
                  class="cl1"
                  flat
                  icon="fas fa-pen"
                ></q-btn>
              </q-td>
              <q-td key="detail" :props="props">
                <q-btn
                  class="cl1"
                  @click="
                    gotoDetail(
                      props.row.key,
                      props.row.practicetype,
                      props.row.name,
                      props.row.index
                    )
                  "
                  flat
                  icon="fas fa-edit"
                  v-show="
                    props.row.practicetype != 'review vocab' &&
                      props.row.practicetype != 'spelling bee' &&
                      props.row.practicetype != 'review grammar' && props.row.practicetype != 'roleplay' && 
                      props.row.practicetype != 'readingspeaking'
                  "
                ></q-btn>
              </q-td>
            </q-tr>
            <q-tr v-else>
              <q-td colspan="6" align="center" class="bg-grey-9 text-white" style="font-size:18px">
                <span>
                  {{ props.row.name }} -
                  {{
                  practiceNameData.length > 0
                  ? practiceNameData
                  .filter(x => {
                  return x.skill == props.row.name;
                  })
                  .map(e => {
                  return e.name;
                  })[0]
                  : ""
                  }}
                </span>
              </q-td>
              <q-td align="center" class="bg-grey-9">
                <q-btn
                  flat
                  icon="fas fa-edit"
                  class="cl1"
                  @click="showDialogEditWorldName(props.row.index)"
                ></q-btn>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>
      <!-- เพิ่มแบบฝึกหัด -->
      <q-dialog v-model="showPracticeDialog" persistent>
        <div style="width:50%;min-width:300px" class="q-pa-md bg3">
          <div class="text-h6 text-white" align="center">{{ addEditLabel }}</div>
          <div class="q-pt-md">
            <q-select
              dark
              label="ทักษะ"
              v-model="practiceObj.skill"
              :options="[
                'Vocabulary',
                'Grammar',
                'Reading',
                'Writing',
                'Phonics',
                'Listening & Speaking'
              ]"
              class="q-px-sm"
              outlined
              @input="changeSkill()"
              :disable="isDisableSkillChoose"
            ></q-select>
          </div>
          <div class="q-pt-md">
            <q-input
              type="number"
              v-model.number="practiceObj.order"
              color="amber-13"
              dark
              label="รหัสลำดับ"
              class="q-px-sm"
              outlined
              ref="order"
              :rules="
                practiceObj.skill == 'Vocabulary'
                  ? [val => (val > 1000 && val < 2000) || '1001-1999']
                  : practiceObj.skill == 'Grammar'
                  ? [val => (val > 2000 && val < 3000) || '2001-2999']
                  : practiceObj.skill == 'Reading'
                  ? [val => (val > 3000 && val < 4000) || '3001-3999']
                  : practiceObj.skill == 'Writing'
                  ? [val => (val > 4000 && val < 5000) || '4001-4999']
                  : practiceObj.skill == 'Listening & Speaking'
                  ? [val => val > 6000 || '6001ขึ้นไป']
                  : practiceObj.skill == 'Phonics'
                  ? [val => (val > 5000 && val < 6000) || '5001-5999']
                  : null
              "
            ></q-input>
          </div>
          <div class="q-pt-xs">
            <q-select
              dark
              v-model="practiceObj.practicetype"
              label="ประเภทแบบฝึกหัด"
              class="q-px-sm"
              outlined
              :options="practiceTypeOptionShow"
              map-options
              emit-value
              :disable="isDisablePracticeTypeChoose"
            ></q-select>
          </div>

          <div class="q-pt-md">
            <q-input
              v-model="practiceObj.time"
              color="amber-13"
              dark
              label="เวลาที่ใช้ในการเรียน"
              class="q-px-sm"
              mask="##:##"
              outlined
              ref="time"
              :rules="[val => val.length > 0]"
            ></q-input>
          </div>
          <div class="row q-pt-md">
            <div class="col-6" align="center">
              <q-btn
                @click="
                  (showPracticeDialog = false),
                    (isDisableSkillChoose = false),
                    (isDisablePracticeTypeChoose = false)
                "
                style="width:70%"
                class="bg7 text-black"
                label="ยกเลิก"
              ></q-btn>
            </div>
            <div class="col-6" align="center">
              <q-btn
                @click="addPracticeList()"
                style="width:70%"
                class="bg1 text-black"
                label="บันทึก"
              ></q-btn>
            </div>
          </div>
        </div>
      </q-dialog>
      <q-dialog v-model="showConfirmationDeletePracticeList" persistent>
        <div style="width:50%;min-width:300px" class="q-pa-md bg3">
          <div align="center" class="text-h6">ยืนยันการลบ</div>
          <div class="q-pt-md text-red" align="center">
            กรุณาใช้ความระมัดระวังในการลบแบบฝึกหัด
            <br />แบบฝึกหัดทั้งหมดที่อยู่ภายในจะถูกลบไปด้วย
          </div>
          <div class="text-h6 q-py-md" align="center">กรุณาพิมพ์ข้อความ "ลบแบบฝึกหัด"</div>
          <q-input v-model="confirmDeletePracticeList" color="amber-13" dark outlined></q-input>
          <div align="center" class="row q-pt-md">
            <div class="col-6">
              <q-btn
                style="width:70%"
                @click="closeConfirmationDeletePracticeList()"
                class="bg7 text-black"
                label="ยกเลิก"
              ></q-btn>
            </div>
            <div class="col-6">
              <q-btn
                @click="deletePracticeListConfirm()"
                style="width:70%"
                class="bg1 text-black"
                label="ตกลง"
              ></q-btn>
            </div>
          </div>
        </div>
      </q-dialog>

      <q-dialog v-model="showEditWorldName" v-if="showEditWorldName" content-class="backdrop">
        <div style="width:50%;min-width:300px" class="q-pa-md bg3">
          <div align="center" class="text-h6">หัวข้อการเรียน</div>
          <div class="q-pt-md">
            <q-input
              @keydown.enter="editWorldName()"
              v-model="editWorldNameModel"
              label="ชื่อเรื่องภาษาอังกฤษ"
              color="amber-13"
              dark
              outlined
            ></q-input>
            <!-- {{ practiceList[editWorldNameIndexTemp].name }} -->

            <q-input
              class="q-pt-md"
              v-if="
                practiceList[editWorldNameIndexTemp].name == 'Reading' ||
                  practiceList[editWorldNameIndexTemp].name == 'Writing'
              "
              @keydown.enter="editWorldName()"
              v-model="editWorldNameThaiModel"
              label="ชื่อเรื่องภาษาไทย"
              color="amber-13"
              dark
              outlined
            ></q-input>
          </div>
          <div align="center" class="q-pt-md">
            <div align="center" class="row q-pt-md">
              <div class="col-6">
                <q-btn style="width:70%" v-close-popup class="bg7 text-black" label="ยกเลิก"></q-btn>
              </div>
              <div class="col-6">
                <q-btn
                  @click="editWorldName()"
                  style="width:70%"
                  class="bg1 text-black"
                  label="บันทึก"
                ></q-btn>
              </div>
            </div>
          </div>
        </div>
      </q-dialog>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      editWorldNameModel: "",
      editWorldNameThaiModel: "",
      isLoading: false,
      confirmDeletePracticeList: "",
      practiceObj: {
        skill: "Vocabulary",
        order: 0,
        practicetype: "",
        time: ""
      },
      showPracticeDialog: false,
      pagination: { rowsPerPage: 0, sortBy: "order" },
      level: this.$q.localStorage.has("practicemainLevelCurrent")
        ? this.$q.localStorage.getItem("practicemainLevelCurrent")
        : { label: "1", value: "1" },
      unit: this.$q.localStorage.has("practicemainUnitCurrent")
        ? this.$q.localStorage.getItem("practicemainUnitCurrent")
        : "1",
      optLevel: this.$q.localStorage.getItem("levelList"),
      optUnit: [],
      columns: [
        {
          name: "order",
          label: "รหัสลำดับ",
          align: "left",
          field: "order",
          style: "width:15%"
        },
        {
          name: "practice",
          align: "left",
          label: "แบบฝึกหัด",
          field: "practice"
        },
        { name: "time", align: "center", label: "เวลา", style: "width:10%" },
        { name: "sync", align: "center", label: "Sync", style: "width:10%" },
        { name: "delete", align: "center", label: "ลบ", style: "width:10%" },
        { name: "edit", align: "center", label: "แก้ไข", style: "width:10%" },
        {
          name: "detail",
          align: "center",
          label: "เนื้อหา",
          style: "width:10%"
        }
      ],
      practiceList: [],
      practiceTypeOpt: [],
      showConfirmationDeletePracticeList: false,
      tempKey: "",
      isShowEditPracticeDialog: false,
      isSnapshotPracticeList: "",
      practiceTypeOptionShow: [],
      addEditLabel: "เพิ่มแบบฝึกหัด",
      showEditWorldName: false,
      editWorldNameIndexTemp: 0,
      practiceNameData: [],
      isDisableSkillChoose: false,
      isDisablePracticeTypeChoose: false
    };
  },
  methods: {
    showDialogEditWorldName(index) {
      this.loadingShow();
      this.editWorldNameIndexTemp = index;
      this.editWorldNameModel = "";
      this.editWorldNameThaiModel = "";
      db.collection("practiceListName")
        .where("level", "==", this.level.label.toString())
        .where("unit", "==", this.unit.toString())
        .where(
          "skill",
          "==",
          this.practiceList[this.editWorldNameIndexTemp].name
        )
        .get()
        .then(doc => {
          if (doc.size) {
            this.editWorldNameModel = doc.docs[0].data().name;
            if (
              doc.docs[0].data().nameth == "" ||
              doc.docs[0].data().nameth == undefined
            ) {
              this.editWorldNameThaiModel = "";
            } else {
              this.editWorldNameThaiModel = doc.docs[0].data().nameth;
            }
          }
          this.showEditWorldName = true;
          this.loadingHide();
        });
    },
    editWorldName() {
      this.loadingShow();
      let nameThai = this.editWorldNameThaiModel;
      let world = this.practiceList[this.editWorldNameIndexTemp].name;

      if (world == "Reading" || world == "Writing") {
        if (nameThai == "" || nameThai == undefined) {
          this.notifyRed("กรุณากรอกชื่อเรื่องภาษาไทย");
          this.loadingHide();
          return;
        }
      }

      if (nameThai == undefined) {
        nameThai = "";
      }
      db.collection("practiceListName")
        .where("level", "==", this.level.label.toString())
        .where("unit", "==", this.unit.toString())
        .where(
          "skill",
          "==",
          this.practiceList[this.editWorldNameIndexTemp].name
        )
        .get()
        .then(doc => {
          if (doc.size) {
            let docId = doc.docs[0].id;
            db.collection("practiceListName")
              .doc(docId)
              .set({
                level: this.level.label.toString(),
                unit: this.unit.toString(),
                skill: this.practiceList[this.editWorldNameIndexTemp].name,
                name: this.editWorldNameModel,
                nameth: nameThai
              })
              .then(() => {
                this.notifyGreen("บันทึกสำเร็จ");
                this.showEditWorldName = false;
                this.loadingHide();
              });
          } else {
            db.collection("practiceListName")
              .add({
                level: this.level.label.toString(),
                unit: this.unit.toString(),
                skill: this.practiceList[this.editWorldNameIndexTemp].name,
                name: this.editWorldNameModel,
                nameth: nameThai
              })
              .then(() => {
                this.notifyGreen("บันทึกสำเร็จ");
                this.showEditWorldName = false;
                this.loadingHide();
              });
          }
        });
    },
    changeSkill() {
      if (this.practiceObj.skill == "Vocabulary") {
        this.practiceTypeOptionShow = this.practiceTypeOpt.filter(x => {
          return (
            x.value == "flashcard" ||
            x.value == "multiplechoices" ||
            x.value == "review vocab" ||
            x.value == "spelling bee"
          );
        });
      } else if (this.practiceObj.skill == "Grammar") {
        this.practiceTypeOptionShow = this.practiceTypeOpt.filter(x => {
          return (
            x.value == "multiplechoices" ||
            x.value == "grammarlesson" ||
            x.value == "grammaraction" ||
            x.value == "fillintheblank" ||
            x.value == "review grammar"
          );
        });
      } else if (this.practiceObj.skill == "Reading") {
        this.practiceTypeOptionShow = this.practiceTypeOpt.filter(x => {
          return (
            x.value == "readingfillin" ||
            x.value == "readingmulti" ||
            x.value == "readingspeaking"
          );
        });
      } else if (this.practiceObj.skill == "Writing") {
        this.practiceTypeOptionShow = this.practiceTypeOpt.filter(x => {
          return x.value == "translation";
        });
      } else if (this.practiceObj.skill == "Phonics") {
        this.practiceTypeOptionShow = this.practiceTypeOpt.filter(x => {
          return (
            x.value == "phonicslesson" ||
            x.value == "multiplechoices" ||
            x.value == "multiplechoice(answersound)" ||
            x.value == "multiplechoice(questionsound)"
          );
        });
      } else {
        this.practiceTypeOptionShow = this.practiceTypeOpt.filter(x => {
          return (
            x.value == "languagetips" ||
            x.value == "speaking" ||
            x.value == "multiplechoices" ||
            x.value == "multiplechoice(answersound)" ||
            x.value == "roleplay"
          );
        });
      }
      this.practiceObj.practicetype = this.practiceTypeOptionShow[0].value;
    },
    showEditPracticeDialog(obj) {
      this.showPracticeDialog = true;
      this.addEditLabel = "แก้ไขแบบฝึกหัด";
      this.practiceObj = { ...obj };
      this.tempKey = obj.key;

      this.isDisableSkillChoose = true;
      this.isDisablePracticeTypeChoose = true;
    },
    closeConfirmationDeletePracticeList() {
      this.confirmDeletePracticeList = "";
      this.showConfirmationDeletePracticeList = false;
    },
    deletePracticeListConfirm() {
      this.loadingShow();

      this.showConfirmationDeletePracticeList = false;
      setTimeout(() => {
        if (this.confirmDeletePracticeList == "ลบแบบฝึกหัด") {
          let counter = 0;

          db.collection("practicepool_draft")
            .where("practicekey", "==", this.tempKey)
            .get()
            .then(doc => {
              // console.log(doc.size);
              if (doc.size) {
                doc.forEach(element => {
                  // console.log(element.id);

                  db.collection("practicepool_draft")
                    .doc(element.id)
                    .delete()
                    .then(() => {
                      db.collection("practicepool_server")
                        .where("practicekey", "==", this.tempKey)
                        .get()
                        .then(docserver => {
                          // console.log(docserver.size);
                          if (docserver.size) {
                            docserver.forEach(elementser => {
                              db.collection("practicepool_server")
                                .doc(elementser.id)
                                .delete()
                                .then(() => {
                                  if (counter == 0) {
                                    counter = 1;
                                    console.log(this.tempKey);
                                    db.collection("practicelist")
                                      .doc(this.tempKey)
                                      .delete()
                                      .then(() => {
                                        this.notifyGreen("ลบแบบฝึกหัดสำเร็จ");
                                        // this.tempKey = "";
                                        this.confirmDeletePracticeList = "";
                                        this.loadingHide();
                                      });
                                  }
                                });
                            });
                          } else {
                            db.collection("practicelist")
                              .doc(this.tempKey)
                              .delete()
                              .then(() => {
                                // counter = 1;
                                // if (counter == 1) {
                                this.notifyGreen("ลบแบบฝึกหัดสำเร็จ");
                                // this.tempKey = "";
                                this.confirmDeletePracticeList = "";
                                this.loadingHide();
                                // }
                              });
                          }
                        });

                      // console.log(this.tempKey);
                      // db.collection("practicelist")
                      //   .doc(this.tempKey)
                      //   .delete()
                      //   .then(() => {
                      //     console.log("amm");
                      //     // counter = 1;
                      //     // if (counter == 1) {
                      //     this.notifyGreen("ลบแบบฝึกหัดสำเร็จ");
                      //     // this.tempKey = "";
                      //     this.confirmDeletePracticeList = "";
                      //     this.loadingHide();
                      //     // }
                      //   });
                    });
                });
              } else {
                db.collection("practicelist")
                  .doc(this.tempKey)
                  .delete()
                  .then(() => {
                    this.notifyGreen("ลบแบบฝึกหัดสำเร็จ");
                    this.tempKey = "";
                    this.confirmDeletePracticeList = "";
                    this.loadingHide();
                  });
              }
            });
        } else {
          this.confirmDeletePracticeList = "";
          this.notifyRed("หากต้องการลบข้อมูล กรุณาพิมพ์ 'ลบแบบฝึกหัด'");
          this.loadingHide();
        }
      }, 1000);
    },
    deletePracticeList(key) {
      this.showConfirmationDeletePracticeList = true;
      this.tempKey = key;
    },
    addPracticeList() {
      this.loadingShow();
      this.$refs.order.validate();
      this.$refs.time.validate();
      if (this.$refs.order.hasError || this.$refs.time.hasError) {
        this.notifyRed("กรุณาตรวจสอบข้อมูล");
        this.loadingHide();
        return;
      }
      this.showPracticeDialog = false;
      setTimeout(() => {
        let finalData = {
          ...{ level: this.level.label.toString(), unit: this.unit.toString() },
          ...this.practiceObj
        };
        if (this.addEditLabel == "เพิ่มแบบฝึกหัด") {
          db.collection("practicelist")
            .add(finalData)
            .then(() => {
              this.notifyGreen("เพิ่มแบบฝึกหัดสำเร็จ");
              this.loadingHide();
              this.isLoading = true;
            });
        } else {
          delete finalData.isNotSync;
          delete finalData.key;
          db.collection("practicelist")
            .doc(this.tempKey)
            .update(finalData)
            .then(() => {
              this.notifyGreen("แก้ไขแบบฝึกหัดสำเร็จ");
              this.loadingHide();
            });
        }
      }, 1000);
    },
    // LINK TO OTHER PRACTICE PAGE
    gotoDetail(key, practicetype, name, index) {
      // console.log(name);
      // console.clear();
      let filterDataPractice = this.practiceList.filter(x => {
        return x.key == key;
      });
      let filterSkill = filterDataPractice[0].skill;

      let filterPracticeName = this.practiceNameData.filter(x => {
        return x.skill == filterSkill;
      });

      if (filterPracticeName.length == 0) {
        this.notifyRed("กรุณาตั้งชื่อหัวข้อการเรียน");
        return;
      }

      this.$q.localStorage.set("practiceName", filterPracticeName[0].name);

      if (practicetype == "flashcard") {
        // FLASHCARD
        this.$router.push("/practice/flashcard/" + key);
      } else if (practicetype == "translation") {
        // TRANSLATION
        this.$router.push("/practice/translation/" + key);
      } else if (practicetype == "multiplechoices") {
        // MULTIPLE CHOICES
        // Vocab +  grammar multi
        this.$router.push("/practice/multiplechoice/" + key + "/2");
      } else if (practicetype == "grammaraction") {
        // MULTIPLE CHOICES
        //grammar actione
        this.$router.push("/practice/multiplechoice/" + key + "/3");
      } else if (practicetype == "multiplechoice(answersound)") {
        // MULTIPLE CHOICES ANSWER SOUND = 1
        // phonic + conversation
        this.$router.push("/practice/multiplechoice/" + key + "/1");
      } else if (practicetype == "multiplechoice(questionsound)") {
        // MULTIPLE CHOICES QUESTION SOUND = 0
        // phonic
        this.$router.push("/practice/multiplechoice/" + key + "/0");
      } else if (practicetype == "grammarlesson") {
        // GRAMMAR VDO
        this.$router.push("/practice/vdogrammar/" + key);
      } else if (practicetype == "readingfillin") {
        // READING FILLIN
        this.$q.localStorage.set(
          "practiceNameTh",
          filterPracticeName[0].nameth
        );
        this.$q.localStorage.set("readingType", "fillin");
        this.$router.push("/practice/reading/" + key + "/1/1");
      } else if (practicetype == "fillintheblank") {
        // FILLIN IN THE BLANK
        this.$router.push("/practice/fillin/" + key);
      } else if (practicetype == "readingmulti") {
        this.$q.localStorage.set("readingType", "multi");
        // READING MULTIPLE
        this.$router.push("/practice/reading/" + key + "/2/1");
      } else if (practicetype == "phonicslesson") {
        // PHONICS
        this.$router.push("/practice/phonics/" + key);
      } else if (practicetype == "languagetips") {
        this.$router.push("/practice/languagetips/" + key);
      } else if (practicetype == "speaking") {
        this.$router.push("/practice/conversation/" + key);
      }
    },
    showAddpracticeDialog() {
      this.addEditLabel = "เพิ่มแบบฝึกหัด";
      this.tempKey = "";
      this.practiceObj = {
        skill: "Vocabulary",
        order: 0,
        practicetype: "flashcard",
        name: "",
        time: ""
      };
      this.showPracticeDialog = true;
    },
    changeLevel() {
      this.optUnit = [];
      let checkUnit = this.$q.localStorage
        .getItem("levelData")
        .filter(x => {
          return x.level == this.level.label.toString();
        })
        .map(e => {
          return e.unit;
        })[0];
      for (let i = 1; i <= checkUnit; i++) {
        this.optUnit.push(i);
      }

      this.unit = this.$q.localStorage.has("practicemainUnitCurrent")
        ? this.$q.localStorage.getItem("practicemainUnitCurrent")
        : this.optUnit[0];
      if (this.unit > checkUnit) {
        this.unit = 1;
        this.$q.localStorage.set("practicemainUnitCurrent", this.unit);
      } else {
        this.$q.localStorage.set("practicemainUnitCurrent", this.unit);
      }
      this.$q.localStorage.set("practicemainLevelCurrent", this.level);
      this.loadPracticeList();
    },
    changeUnit() {
      this.$q.localStorage.set("practicemainUnitCurrent", this.unit);
      this.loadPracticeList();
    },
    loadPracticeType() {
      db.collection("practicetype")
        .get()
        .then(doc => {
          let data = [];
          doc.forEach(element => {
            let dataKey = { value: element.id, label: element.data().name };
            let dataFinal = { ...dataKey, ...element.data() };
            data.push(dataFinal);
          });
          this.practiceTypeOpt = data;
          // default with vocab skill
          this.practiceTypeOptionShow = this.practiceTypeOpt.filter(x => {
            return (
              x.value == "flashcard" ||
              x.value == "multiplechoices" ||
              x.value == "review vocab" ||
              x.value == "spelling bee"
            );
          });
          // this.practiceObj.practicetype = this.practiceTypeOpt[0].value;
        });
    },
    loadPracticeList() {
      console.clear();
      this.loadingShow();
      if (typeof this.isSnapshotPracticeList == "function") {
        this.isSnapshotPracticeList();
      }

      this.isSnapshotPracticeList = db
        .collection("practicelist")
        .where("level", "==", this.level.label.toString())
        .where("unit", "==", this.unit.toString())
        .onSnapshot(doc => {
          if (doc.size == 0) {
            this.practiceList = [];
            this.loadingHide();
            this.isLoading = true;
            return;
          }
          let data = [];
          doc.forEach(element => {
            let dataKey = { key: element.id, isNotSync: [] };
            let dataFinal = { ...dataKey, ...element.data() };
            data.push(dataFinal);
          });
          let vocabStart = {
            order: 1000,
            name: "Vocabulary"
          };
          let grammarStart = {
            order: 2000,
            name: "Grammar"
          };
          let readingStart = {
            order: 3000,
            name: "Reading"
          };
          let writingStart = {
            order: 4000,
            name: "Writing"
          };
          let phonicStart = {
            order: 5000,
            name: "Phonics"
          };
          let listeningStart = {
            order: 6000,
            name: "Listening & Speaking"
          };

          data.push(vocabStart);
          data.push(grammarStart);
          data.push(readingStart);
          data.push(writingStart);
          data.push(phonicStart);
          data.push(listeningStart);
          data.sort((a, b) => {
            return a.order - b.order;
          });

          data.forEach((element, index) => {
            element.index = index;
            if (element.key) {
              if (
                element.practicetype == "readingfillin" ||
                element.practicetype == "readingmulti"
              ) {
                db.collection("practicepool_draft")
                  .where("practicekey", "==", element.key)
                  .get()
                  .then(doc => {
                    let dataStatus = [];
                    doc.forEach(docdata => {
                      dataStatus.push(docdata.data().status);
                      dataStatus = new Set(dataStatus);
                      dataStatus = [...dataStatus];
                      data.filter(x => {
                        return x.key == docdata.data().practicekey;
                      })[0].isNotSync = dataStatus;
                    });

                    db.collection("readingcontent_draft")
                      .where("practicekey", "==", element.key)
                      .get()
                      .then(read => {
                        if (read.size) {
                          let readTemp = [];
                          read.forEach(readElement => {
                            // dataStatus.push(readElement.data().status);
                            readTemp.push(readElement.data().status);
                            readTemp = [...new Set(readTemp)];
                            readTemp = [...readTemp, ...dataStatus];
                            data.filter(x => {
                              return x.key == readElement.data().practicekey;
                            })[0].isNotSync = readTemp;
                          });

                          this.practiceList = data;
                          this.practiceList.push(0);
                          this.practiceList.pop();
                        } else {
                          this.practiceList = data;
                          this.practiceList.push(0);
                          this.practiceList.pop();
                        }
                      });
                  });
              } else {
                db.collection("practicepool_draft")
                  .where("practicekey", "==", element.key)
                  .get()
                  .then(doc => {
                    let dataStatus = [];
                    doc.forEach(docdata => {
                      dataStatus.push(docdata.data().status);
                      dataStatus = new Set(dataStatus);
                      dataStatus = [...dataStatus];
                      data.filter(x => {
                        return x.key == docdata.data().practicekey;
                      })[0].isNotSync = dataStatus;
                    });

                    this.practiceList = data;
                    this.practiceList.push(0);
                    this.practiceList.pop();
                  });
              }
            }
          });
          this.loadPracticeType();
          if (typeof this.isSnapPracticeName == "function") {
            this.isSnapPracticeName();
          }
          this.loadPracticeName();

          this.isLoading = true;
          this.loadingHide();
        });
    },
    loadPracticeName() {
      this.isSnapPracticeName = db
        .collection("practiceListName")
        .where("level", "==", this.level.label.toString())
        .where("unit", "==", this.unit.toString())
        .onSnapshot(v => {
          this.practiceNameData = [];
          v.forEach(element => {
            this.practiceNameData.push(element.data());
          });
        });
    }
  },
  mounted() {
    this.changeLevel();
    this.$q.localStorage.remove("practiceName");
    this.$q.localStorage.remove("practiceNameTh");
  },
  beforeDestroy() {
    this.isSnapPracticeName();
    this.isSnapshotPracticeList();
  }
};
</script>

<style scoped></style>
