<template>
  <div v-if="isLoading">
    <div align="center" class="q-pt-md">สถานะการซิงค์</div>
    <div class="row justify-center">
      <div class="q-pa-md row">
        <div class="col-6 row items-center">
          <div
            class="bg-amber q-ma-md items-center col"
            style="width:40px;border-radius:5px;height:40px"
          ></div>
          <div>ซิงค์แล้ว</div>
        </div>
        <div class="col-6 row items-center">
          <div
            class="bg-white q-ma-md items-center col"
            style="width:40px;border-radius:5px;height:40px"
          ></div>
          <div>ยังไม่ซิงค์</div>
        </div>
      </div>
    </div>
    <div v-for="(level,index) in level" :key="index">
      <div class="row items-center q-py-sm">
        <div class="q-pa-md col-1" align="center">
          Level {{ level.level }}
          <div
            class="cursor-pointer text-blue"
            style="text-decoration:underline"
            @click="showInfomationAllInLevel(level.level)"
          >ดูทั้งเลเวล</div>
        </div>
        <div class="col-11 row">
          <div align="center" v-for="(unit,index2) in Number(level.unit)" :key="index2">
            <div
              @click="showInfo(level.level,unit)"
              style="width:65px;border-radius:5px"
              class="q-ma-sm q-pa-sm cursor-pointer"
              :class="{'bg-white text-black' : level.checkSync.includes(unit),'bg-amber' : !level.checkSync.includes(unit)}"
            >{{ unit }}</div>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <q-dialog v-model="isShowdialogInfomation">
      <div style="width:50%" dark class="q-pa-md bg3">
        <div align="center " class="q-pb-md">
          แสดงข้อมูลแบบฝึกหัดที่ยังไม่ซิงค์ Level {{ showInfoLevel }}
          <span
            v-show="showUnit"
          >Unit {{ showInfoUnit}}</span>
        </div>
        <div>
          <div class="row q-pb-md">
            <div class="col-6">World</div>
            <div class="col-2">รหัสลำดับ</div>
            <div class="col-4">ชื่อแบบฝึกหัด</div>
          </div>
          <hr />
          <div v-for="(item,index) in notSyncPractice" :key="index">
            <div class="row">
              <div class="col-6">
                <span v-if="item.order <2000">Vocabulary</span>
                <span v-else-if="item.order < 3000">Grammar</span>
                <span v-else-if="item.order < 4000">Reading</span>
                <span v-else-if="item.order < 5000">Writing</span>
                <span v-else>Listening</span>
                <span>&nbsp;(L{{ item.level }}/U{{ item.unit }})</span>
              </div>
              <div class="col-2">{{ item.order }}</div>
              <div class="col-4">{{ item.name }}</div>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </q-dialog>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      showUnit: false,
      isLoading: false,
      level: this.$q.localStorage.getItem("levelData").sort((a, b) => {
        return a.level - b.level;
      }),
      resultData: [],
      isShowdialogInfomation: false,
      notSyncPractice: [],
      showInfoUnit: "",
      showInfoLevel: ""
    };
  },
  methods: {
    showInfomationAllInLevel(level) {
      this.showUnit = false;
      this.showInfoLevel = level;
      let filterData = this.level.filter(x => {
        return x.level == level.toString();
      });
      this.notSyncPractice = filterData[0].practiceNotSyncData;
      this.isShowdialogInfomation = true;
    },
    async showInfo(level, unit) {
      this.showUnit = true;
      this.showInfoUnit = unit;
      this.showInfoLevel = level;
      this.notSyncPractice = [];
      level = level.toString();
      unit = unit.toString();
      let filterData = this.level.filter(x => {
        return x.level == level;
      });
      filterData = filterData[0].practiceNotSyncData;
      let filterDataUnit = filterData.filter(x => {
        return x.unit == unit;
      });
      this.notSyncPractice = filterDataUnit;
      this.isShowdialogInfomation = true;
    },
    checkSyncStatus() {
      this.loadingShow();
      for (let level = 1; level <= this.level.length; level++) {
        this.level[level - 1].checkSync = [];
        this.level[level - 1].practiceNotSync = [];
        this.level[level - 1].practiceNotSyncData = [];
        let tempUnit = [];
        let tempPracticeKey = [];
        for (let unit = 1; unit <= this.level[level - 1].unit; unit++) {
          db.collection("practicepool_draft")
            .where("level", "==", level.toString())
            .where("unit", "==", unit.toString())
            .get()
            .then(doc => {
              doc.forEach(element => {
                if (
                  element.data().status == "added" ||
                  element.data().status == "delete"
                ) {
                  tempUnit.push(unit);
                  let tempObj = {
                    level: level.toString(),
                    unit: unit.toString(),
                    practicekey: element.data().practicekey
                  };
                  tempPracticeKey.push(tempObj);
                }
              });
              tempUnit = new Set(tempUnit);
              tempUnit = [...tempUnit];

              tempPracticeKey = new Set(tempPracticeKey);
              tempPracticeKey = [...tempPracticeKey];

              let newTempPracticeKey = tempPracticeKey.map(x => {
                return x.practicekey;
              });

              let practiceKeyFiltered = [...new Set(newTempPracticeKey)];

              this.level[level - 1].checkSync = tempUnit;
              this.level[level - 1].practiceNotSync = practiceKeyFiltered;
              if (
                level.toString() == this.level[this.level.length - 1].level &&
                unit.toString() == this.level[this.level.length - 1].unit
              ) {
                this.isLoading = true;
                this.loadingHide();
              }

              // Load ข้อมูลแบบฝึกหัดที่ยังไม่ถูก Sync

              practiceKeyFiltered.forEach(element => {
                db.collection("practicelist")
                  .doc(element)
                  .get()
                  .then(doc => {
                    if (this.level[level - 1].practiceNotSyncData.length == 0) {
                      let dataMerge = { ...doc.data(), ...{ key: doc.id } };
                      this.level[level - 1].practiceNotSyncData.push(dataMerge);
                    } else {
                      let mapSyncData = this.level[
                        level - 1
                      ].practiceNotSyncData.map(x => {
                        return x.key;
                      });
                      if (!mapSyncData.includes(element)) {
                        let dataMerge = { ...doc.data(), ...{ key: doc.id } };
                        this.level[level - 1].practiceNotSyncData.push(
                          dataMerge
                        );
                      }
                    }
                  });
              });
            });
        }
      }
    }
  },
  mounted() {
    this.checkSyncStatus();
  }
};
</script>

<style lang="scss" scoped>
</style>