<template>
  <div>
    <!-- **************Title page************************* -->
    <div>
      <div class="row justify-between items-center">
        <!-- ปุ่มสถานะหน้าหลัก -->
        <div></div>
        <div class="text-h5">แบบสอบถาม</div>
        <div>
          <!-- ปุ่ม PRINT หน้าหนัก -->
          <q-btn
            @click="openPrintpage()"
            round
            text-color="black"
            icon="fas fa-print"
            :class="{'bg1':showData.length >0, 'bg5':showData.length <=0}"
            :disable="showData.length <=0"
          />
          <!-- ปุ่มบวกเพิ่มคำถาม หน้าหลัก -->
          <q-btn
            @click="openProps()"
            class="bg1 q-ma-md"
            round
            text-color="black"
            icon="fas fa-plus"
          />
        </div>
      </div>
    </div>

    <!-- ************ชุดแบบสอบ /ข้อเสนอแนะ / ใช้งาน **************** -->
    <div class="row items-center q-ma-lg">
      <div>
        <q-select
          dark
          @input="showTableMain()"
          class="q-mx-md"
          style="width:250px"
          v-model="questionMain.set"
          emit-value
          map-options
          :options="dataSet"
          label="ชุดแบบสอบถาม"
          color="amber-13"
        />
      </div>
      <div>
        <!-- ปุ่มดินสอเพิ่มชุดคำถาม -->
        <q-btn
          @click=" openDataSet()"
          class="q-mr-md bg1"
          round
          text-color="black"
          icon="fas fa-pencil-alt"
        />
      </div>

      <!--badge ข้อเสนอแนะ / ใช้งาน -->
      <div>
        <q-badge outline color="amber-13" v-if="this.questionSetDataSuggest" label="ข้อเสนอแนะ" />
        <q-badge outline color="grey-7" v-if="!this.questionSetDataSuggest" label="ข้อเสนอแนะ" />
        <q-badge
          outline
          color="amber-13"
          v-if="this.questionSetDataActive"
          label="ใช้งาน"
          class="q-ml-md"
        />
        <q-badge
          outline
          color="grey-7"
          v-if="!this.questionSetDataActive"
          label="ใช้งาน"
          class="q-ml-md"
        />
      </div>
    </div>

    <!-- ************* ตารางแสดงคำถามหลัก ************************ -->
    <div class="q-pa-md">
      <q-table dark :data="showData" :columns="columnsMain" row-key="num">
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="num" :props="props" style="width:100px;">{{ props.row.index }}</q-td>
            <q-td key="question" :props="props">
              {{ props.row.question }}
              <br />
              1) {{props.row.choices[0]}}
              <br />
              2) {{props.row.choices[1]}}
              <br />
              <span v-if="props.row.choices[2]">3) {{props.row.choices[2]}}</span>
              <br />
              <span v-if="props.row.choices[3]">4) {{props.row.choices[3]}}</span>
              <br />
              <span v-if="props.row.choices[4]">5) {{props.row.choices[4]}}</span>
            </q-td>
            <q-td key="order" :props="props" style="width:120px;">{{ props.row.order }}</q-td>
            <q-td key="delete" :props="props" style="width: 80px;">
              <!-- ถังขยะลบ หน้าหลัก -->
              <q-icon
                @click="deleteData(props.row.key)"
                class="cl1 cursor-pointer"
                size="18px"
                color="amber-13"
                name="fas fa-trash-alt"
              />
            </q-td>
            <q-td key="edit" :props="props" style="width: 80px;">
              <!-- ดินสอแก้ไข หน้าหลัก -->
              <q-icon
                class="cl1 cursor-pointer"
                size="18px"
                @click="editData(props.row.index-1)"
                name="fas fa-edit"
              />
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>

    <!-- *********** หน้าต่างชุดคำถามหลัก ******************* -->
    <q-dialog v-model="questionSet" content-class="backdrop">
      <q-card position="fixed-center" dark>
        <q-card-section style="width:550px" class="row justify-center">
          <div>
            <div style="width:500px" class="q-ma-md">
              <div class="q-ma-lg row justify-between items-center">
                <div class="spe"></div>
                <div class="text-h6">ชุดแบบสอบถาม</div>
                <div>
                  <!-- ปุ่มบวกเพิ่มชุดคำถาม -->
                  <q-btn
                    @click="addQuestionSet()"
                    class="q-ml-md"
                    round
                    color="amber-13"
                    text-color="black"
                    icon="fas fa-plus"
                  />
                </div>
              </div>
              <!-- ตารางชุดคำถาม -->
              <q-table dark :data="dataSet" :columns="columnsSet" row-key="order">
                <template v-slot:body="props">
                  <q-tr :props="props">
                    <q-td key="order" :props="props" style="width:80px;">{{ props.row.order }}</q-td>
                    <q-td key="questionSetName" :props="props">
                      {{ props.row.questionSetName }}
                      <q-badge outline v-if="props.row.active" color="amber-13" label="ใช้งาน" />
                    </q-td>
                    <q-td key="deleteQuesSet" :props="props" style="width:80px;">
                      <!-- ถังขยะลบชุดคำถาม -->
                      <q-icon
                        @click="daleteQuestionSet(props.row.key)"
                        class="cursor-pointer cl1"
                        size="18px"
                        name="fas fa-trash-alt"
                      />
                    </q-td>
                    <q-td key="editQuesSet" :props="props" style="width:80px;">
                      <!-- ดินสอแก้ไขชุดคำถาม -->
                      <q-icon
                        class="cursor-pointer cl1"
                        @click="openeditQuestionSet(props.row.key)"
                        size="18px"
                        name="fas fa-edit"
                      />
                    </q-td>
                  </q-tr>
                </template>
              </q-table>

              <div align="center" class="q-ma-md">
                <q-btn
                  v-close-popup
                  color="white"
                  text-color="black"
                  label="ปิด"
                  style="width:120px"
                />
              </div>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- ****************** หน้าต่างเพิ่มชุดคำถาม ****************** -->
    <q-dialog v-model="plusQuesSet" content-class="backdrop">
      <q-card position="fixed-center" dark>
        <q-card-section style="width:550px" class="row justify-center">
          <div class="col-12 q-my-md text-h6" align="center">
            <span style="padding-left:90px;">เพิ่มชุดคำถาม</span>

            <toggle-button
              class="float-right"
              :labels="{ checked: 'ใช้งาน', unchecked: 'ปิด' }"
              :height="30"
              :width="90"
              :sync="true"
              :color="{  checked: ['#388E3C'],
                                  unchecked: ['#909090']
                                }"
              :font-size="16"
              v-model="gDataSet.active"
            />
          </div>
          <div>
            <q-input
              type="number"
              class="q-mb-md"
              style="width:500px"
              color="amber-13"
              dark
              square
              outlined
              v-model="gDataSet.order"
              label="ลำดับ"
            />
            <q-input
              class="q-mb-md"
              style="width:500px"
              color="amber-13"
              dark
              square
              outlined
              v-model="gDataSet.questionSetName"
              label="คำถาม"
            />
            <q-checkbox v-model="gDataSet.suggest" dark color="amber-13" label="ข้อเสนอแนะ" />
          </div>
          <!-- ปุ่มยกเลิก หน้าเพิ่ม ชุดคำถาม -->
          <q-btn style="width:160px" label="ยกเลิก" class="bg7 cl3 q-mt-md q-mr-sm" v-close-popup />
          <!-- ปุ่มบันทึก หน้าเพิ่ม ชุดคำถาม -->
          <q-btn
            @click="savequestionSet()"
            style="width:160px"
            label="บันทึก"
            class="bg1 cl3 q-mt-md q-ml-sm"
            v-close-popup
          />
        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- ****************** หน้าต่างแก้ไขชุดคำถาม ********************** -->
    <q-dialog v-model="editQuestionSet" content-class="backdrop">
      <q-card position="fixed-center" dark>
        <q-card-section style="width:550px" class="row justify-center">
          <div class="col-12 q-my-md text-h6" align="center">
            <span style="padding-left:90px;">แก้ไขชุดคำถาม</span>

            <toggle-button
              class="float-right"
              :labels="{ checked: 'ใช้งาน', unchecked: 'ปิด' }"
              :height="30"
              :width="90"
              :sync="true"
              :color="{ checked: ['#388E3C'], unchecked: ['#909090'] }"
              :font-size="16"
              v-model="gDataSetEdit.active"
              @change="checkActive()"
            />
          </div>
          <div>
            <q-input
              type="number"
              class="q-mb-sm"
              style="width:500px"
              color="amber-13"
              dark
              square
              outlined
              v-model="gDataSetEdit.order"
              label="ลำดับ"
            />
            <q-input
              class="q-my-sm"
              style="width:500px"
              color="amber-13"
              dark
              square
              outlined
              v-model="gDataSetEdit.questionSetName"
              label="คำถาม"
            />
            <q-checkbox v-model="gDataSetEdit.suggest" dark color="amber-13" label="ข้อเสนอแนะ" />
          </div>
        </q-card-section>
        <q-card-actions align="center">
          <!-- ปุ่มยกเลิกหน้าแก้ไขชุดคำถาม -->
          <q-btn style="width:160px" text-color="black" label="ยกเลิก" color="white" v-close-popup />
          <!-- ปุ่มบันทึกหน้าแก้ไขชุดคำถาม -->
          <q-btn
            @click="updateQuestionSet()"
            style="width:160px"
            text-color="black"
            label="บันทึก"
            color="amber-13"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <!-- ******************* หน้าต่างเพิ่ม / แก้ไขคำถาม ******************** -->
    <q-dialog v-model="plusMain" content-class="backdrop">
      <q-card position="fixed-center" dark>
        <q-card-section style="width:550px" class="row justify-center">
          <div class="col-12 text-h6 q-my-md" align="center">{{addEditLabel}}</div>
          <div>
            <q-input
              class="q-mb-md"
              style="width:500px"
              color="amber-13"
              type="number"
              dark
              outlined
              v-model="questionMain.order"
              label="รหัสลำดับ"
            />
            <q-input
              class="q-mb-md"
              style="width:500px"
              color="amber-13"
              dark
              outlined
              autogrow
              v-model="questionMain.question"
              label="คำถาม"
            />
            <q-input
              class="q-mb-md"
              style="width:500px"
              color="amber-13"
              dark
              outlined
              v-model="questionMain.ans1"
              label="คำตอบ #1"
            />
            <q-input
              class="q-mb-md"
              style="width:500px"
              color="amber-13"
              dark
              outlined
              v-model="questionMain.ans2"
              label="คำตอบ #2"
            />
            <q-input
              class="q-mb-md"
              style="width:500px"
              color="amber-13"
              dark
              outlined
              v-model="questionMain.ans3"
              label="คำตอบ #3"
            />
            <q-input
              class="q-mb-md"
              style="width:500px"
              color="amber-13"
              dark
              outlined
              v-model="questionMain.ans4"
              label="คำตอบ #4"
            />
            <q-input
              class="q-mb-md"
              style="width:500px"
              color="amber-13"
              dark
              outlined
              v-model="questionMain.ans5"
              label="คำตอบ #5"
            />
          </div>
          <!-- ปุ่มยกเลิกหน้าเพิ่มคำถาม หน้าหลัก -->
          <q-btn style="width:160px" label="ยกเลิก" class="bg7 cl3 q-mt-md q-mr-sm" v-close-popup />
          <!-- ปุ่มบันทึกหน้าเพิ่มคำถาม หน้าหลัก -->
          <q-btn
            @click="saveQuestion()"
            style="width:160px"
            class="bg1 cl3 q-mt-md q-ml-sm"
            label="บันทึก"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      plusMain: false, // เปิดหน้าต่างเพิ่ม / แก้ไขคำถาม
      editQuestionSet: false, // เปิดหน้าต่างแก้ไขชุดคำถาม
      plusQuesSet: false, //เปิดหน้าต่างเพิ่มชุดคำถาม
      questionSet: false, // เปิดหน้าต่างชุดคำถามหลัก

      addEditLabel: "เพิ่มคำถาม", //หัวข้อในหน้าต่างเพิ่ม / แก้ไขคำถาม
      questionMain: {
        set: "",
        order: "",
        question: "",
        ans1: "",
        ans2: "",
        ans3: "",
        ans4: "",
        ans5: ""
      }, //ข้อมูลที่เก็บคำถาม
      questionKey: "", //เก็บ key สำหรับการ edit คำถาม
      dataSet: [], //ชุดคำถาม

      columnsMain: [
        {
          name: "num",
          required: true,
          label: "ลำดับ",
          align: "center"
        },
        {
          name: "question",
          align: "left",
          label: "คำถาม",
          field: "ques"
        },
        { name: "order", label: "รหัสลำดับ", align: "center" },
        { name: "delete", label: "ลบ" },
        { name: "edit", label: "แก้ไข" }
      ], // หัวตารางข้อมูลตารางหลัก

      showData: [], //ข้อมูลคำถามในตารางหลัก

      questionSetDataSuggest: false, //แสดงสถานะข้อเสนอแนะในหน้าหลัก
      questionSetDataActive: false, //แสดงสถานะใช้งานในหน้าหลัก

      columnsSet: [
        {
          name: "order",
          label: "ลำดับ",
          align: "center"
        },
        {
          name: "questionSetName",
          align: "left",
          label: "ชุดแบบสอบถาม"
        },

        {
          name: "deleteQuesSet",
          label: "ลบ"
        },
        {
          name: "editQuesSet",
          label: "แก้ไข"
        }
      ], // หัวตารางชุดคำถาม

      gDataSet: {
        order: "",
        questionSetName: "",
        suggest: false,
        active: false
      }, //ข้อมูลชุดคำถาม

      gDataSetEdit: [], //ข้อมูลสำหรับแก้ไขชุดคำถาม
      gDataSetEditKey: "" //ข้อมูล key สำหรับชุดคำถาม
    };
  },
  methods: {
    // พิมม์ข้อมูล
    openPrintpage() {
      this.$router.push({
        name: "questionnaireprint",
        params: {
          data: this.showData,
          dataSet: this.dataSet,
          setKey: this.questionMain.set
        }
      });
    },

    // เปิด popup เพิ่มคำถามของหน้าหลัก
    openProps() {
      this.addEditLabel = "เพิ่มคำถาม";
      this.questionMain = {
        set: this.questionMain.set,
        order: "",
        question: "",
        ans1: "",
        ans2: "",
        ans3: "",
        ans4: "",
        ans5: ""
      };
      this.plusMain = true;
    },

    // บันทึกการเพิ่ม/แก้ไขคำถาม
    saveQuestion() {
      //Check ค่ารหัสลำดับ
      if (!this.questionMain.order > 0) {
        this.notifyRed("กรุณากรอกรหัสลำดับ");
        return;
      }
      //Check คำถาม
      if (!this.questionMain.question.length > 0) {
        this.notifyRed("กรุณากรอกคำถาม");
        return;
      }
      this.questionMain.choices = [
        this.questionMain.ans1,
        this.questionMain.ans2,
        this.questionMain.ans3,
        this.questionMain.ans4,
        this.questionMain.ans5
      ];
      //กรณีเพิ่มข้อมูลใหม่
      if (this.addEditLabel == "เพิ่มคำถาม") {
        this.questionMain.choices = this.questionMain.choices.filter(x => {
          return x !== "" && x !== "undefined";
        });
        // ตรวจสอบผู้ใช้งานกรอกคำตแบไม่น้อยกว่า 2 คำตอบ
        if (this.questionMain.choices.length < 2) {
          this.notifyRed("กรุณากรอกคำตอบมากกว่า 2 คำตอบ");
          return;
        }
        this.loadingShow();
        db.collection("questionnaire")
          .add(this.questionMain)
          .then(() => {
            this.notifyGreen("เพิ่มข้อมูลสำเสร็จ");
            this.questionMain = {
              set: this.questionMain.set,
              order: "",
              question: "",
              ans1: "",
              ans2: "",
              ans3: "",
              ans4: "",
              ans5: ""
            };
            this.plusMain = false;
            this.showTableMain();
            this.loadingHide();
          });
      } else {
        //กรณีแก้ไขข้อมูล
        this.loadingShow();

        db.collection("questionnaire")
          .doc(this.questionKey)
          .update(this.questionMain)
          .then(() => {
            this.notifyGreen("แก้ไขข้อมูลเรียบร้อย");
            this.plusMain = false;
            this.showTableMain();
            this.loadingHide();
          });
      }
    },

    // ลบคำถาม หน้าหลัก
    deleteData(key) {
      this.$q
        .dialog({
          message: "ต้องการลบคำถามหรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก",
          dark: true,
          persistent: true
        })
        .onOk(() => {
          db.collection("questionnaire")
            .doc(key)
            .delete()
            .then(doc => {
              this.notifyGreen("ลบข้อมูลเรียบร้อย");
              this.showTableMain();
            });
        });
    },

    // แก้ไขคำถาม หน้าหลัก
    editData(no) {
      this.addEditLabel = "แก้ไขคำถาม";
      this.plusMain = true;
      this.questionMain = { ...this.showData[no] };
      this.questionKey = this.showData[no].key;
    },

    // โหลดตารางชุดคำถาม
    showTableSet() {
      this.loadingShow();
      this.dataSet = [];
      db.collection("questionnaireset")
        .get()
        .then(doc => {
          if (doc.size > 0) {
            let dataTemp = [];
            doc.forEach(element => {
              let dataKey = {
                key: element.id,
                label: element.data().questionSetName,
                value: element.id
              };
              let dataFinal = { ...element.data(), ...dataKey };
              dataTemp.push(dataFinal);
            });

            dataTemp.sort((a, b) => {
              return a.order - b.order;
            });
            this.dataSet = dataTemp;
            this.questionMain.set = dataTemp[0].value;
            this.showTableMain();
          }
        });
    },

    // โหลดคำถามในตาราง หน้าหลัก
    showTableMain() {
      this.loadingHide();
      this.showData = [];
      db.collection("questionnaireset")
        .doc(this.questionMain.set)
        .get()
        .then(data => {
          this.questionSetDataActive = data.data().active;
          this.questionSetDataSuggest = data.data().suggest;
        });
      db.collection("questionnaire")
        .where("set", "==", this.questionMain.set)
        .get()
        .then(doc => {
          if (doc.size > 0) {
            let dataTemp = [];
            doc.forEach(element => {
              let dataKey = { key: element.id };
              let dataFinal = { ...element.data(), ...dataKey };
              dataTemp.push(dataFinal);
            });

            dataTemp.sort((a, b) => {
              return a.order - b.order;
            });
            dataTemp.forEach((element, index) => {
              element.index = index + 1;
            });
            this.showData = dataTemp;
          }
          this.loadingHide();
        });
    },

    // เปิดหน้าตารางชุดคำถาม
    openDataSet() {
      this.questionSet = true;
      this.showTableSet();
    },

    //ปุ่มบวก เพิ่มชุดคำถาม
    addQuestionSet() {
      this.plusQuesSet = true;
      this.gDataSet.questionSetName = "";
      this.gDataSet.order = "";
      this.gDataSet.suggest = false;
    },

    //บันทึกการเพิ่มชุดคำถาม
    savequestionSet() {
      this.loadingShow();
      //กรณีที่ set เป็น active จะส่งผลทำให้ต้องปิดตัวอื่นที่ active ให้เป็น inactive
      if (this.gDataSet.active) {
        db.collection("questionnaireset")
          .where("active", "==", true)
          .get()
          .then(doc => {
            if (doc.size > 0) {
              doc.forEach(data => {
                db.collection("questionnaireset")
                  .doc(data.id)
                  .update({
                    active: false
                  });
              });
            }
            db.collection("questionnaireset")
              .add(this.gDataSet)
              .then(() => {
                this.notifyGreen("เพิ่มข้อมูลสำเสร็จ");
                this.loadingHide();
                this.showTableSet();
              });
          });
      } else {
        db.collection("questionnaireset")
          .add(this.gDataSet)
          .then(() => {
            this.notifyGreen("เพิ่มข้อมูลสำเสร็จ");
            this.loadingHide();
            this.showTableSet();
          });
      }
    },

    // ลบชุดคำถาม
    daleteQuestionSet(key) {
      this.$q
        .dialog({
          message: "ต้องการลบชุดแบบสอบถามหรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก",
          dark: true
        })
        .onOk(() => {
          this.loadingShow();

          db.collection("questionnaireset")
            .get()
            .then(doc => {
              if (doc.size == 1) {
                this.notifyRed(
                  "ไม่สามารถลบชุดคำถามได้ ต้องมีชุดคำถามอย่างน้อย 1 ชุด"
                );
                this.loadingHide();
              } else {
                //Check ว่ามีการเปิดใช้งานหรือเปล่าว ถ้าเปิดใช้งานจะลบไม่ได้
                db.collection("questionnaireset")
                  .doc(key)
                  .get()
                  .then(data => {
                    if (data.data().active) {
                      this.notifyRed(
                        "ไม่สามารถลบข้อมูลได้ เนื่องจากมีการใช้งานอยู่"
                      );
                      this.loadingHide();
                    } else {
                      db.collection("questionnaireset")
                        .doc(key)
                        .delete()
                        .then(doc => {
                          this.notifyGreen("ลบข้อมูลเรียบร้อย");
                          this.loadingHide();
                        });
                      db.collection("questionnaire")
                        .where("set", "==", key)
                        .get()
                        .then(doc2 => {
                          doc2.forEach(data => {
                            db.collection("questionnaire")
                              .doc(data.id)
                              .delete();
                          });
                        });
                      this.showTableSet();
                    }
                  });
              }
            });
        });
    },

    //ปุ่มแก้ไขในชุดแบบสอบถาม
    openeditQuestionSet(no) {
      this.editQuestionSet = true;
      this.gDataSetEdit = [];
      this.gDataSetEditKey = no;
      db.collection("questionnaireset")
        .doc(no)
        .get()
        .then(data => {
          this.gDataSetEdit = data.data();
        });
    },

    // บันทึกการแก้ไขชุดคำถาม
    async updateQuestionSet() {
      this.loadingShow();
      //Check การใช้งานถ้า active ต้องปิด active ตัวอื่นให้หมด
      if (this.gDataSetEdit.active) {
        await db
          .collection("questionnaireset")
          .where("active", "==", true)
          .get()
          .then(doc => {
            if (doc.size > 0) {
              doc.forEach(data => {
                db.collection("questionnaireset")
                  .doc(data.id)
                  .update({
                    active: false
                  });
              });
            }
          });
      }
      db.collection("questionnaireset")
        .doc(this.gDataSetEditKey)
        .update(this.gDataSetEdit)
        .then(() => {
          this.notifyGreen("แก้ไขข้อมูลสำเสร็จ");
          this.loadingHide();
          this.showTableSet();
        });
    },

    // เช็ค active เปิดการใช้งาน
    checkActive() {
      if (!this.gDataSetEdit.active) {
        this.$q
          .dialog({
            title: "แจ้งเตือน",
            message: "ต้องเปิดใช้งานอย่างน้อย 1 ชุดคำถาม",
            ok: "ตกลง",
            dark: true,
            persistent: true
          })
          .onOk(() => {
            this.gDataSetEdit.active = true;
          });
      }
    }
  },
  mounted() {
    this.showTableSet();
  }
};
</script>

<style  scoped>
.spe {
  width: 60px;
}
.brx {
  border: solid red;
}
</style>
