<template>
  <div class="bg6">
    <div id="printBtn">
      <q-toolbar class="bg-black text-white">
        <q-toolbar-title>
          <!-- <span>แบบสอบถาม > พิมพ์</span> -->
        </q-toolbar-title>
        <q-btn
          class="q-mr-md"
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-print"
          @click="printBtn()"
        />
        <q-btn
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-times"
          @click="closeBtn()"
        />
      </q-toolbar>
    </div>

    <div class="q-pb-sm" align="center">
      <div class="bg7 printMe shadow-1 paper-a4 q-my-lg cl2">
        <div class="q-pa-md">
          <div class="box q-pa-md row">
            <div class="col-6">
              <div class="q-pt-sm">
                <img align="left" style="width:200px" src="../../statics/image/logowinner.png" />
              </div>
            </div>
            <div class="col-6">
              <div class="text-h5">
                แบบสอบถาม
                <!-- <span>{{level}}</span> -->
                <!-- <span>&nbsp;</span>
                <span>{{unit}}</span>-->
              </div>
              <hr />
              <div>
                <span>{{setName.label}}</span>
              </div>
              <!-- <div class="text-h6">{{$q.localStorage.getItem("practiceName")}}</div> -->
            </div>
          </div>
        </div>
        <div class="q-px-md q-pb-md">
          <table style="width:100%;border-collapse:collapse">
            <thead>
              <tr>
                <td>
                  <div class="q-pt-md"></div>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item,index) in data" :key="index">
                <td style="width:5%;border:1px solid black" align="center">{{index+1}}</td>
                <td style="border:1px solid black" class="q-pa-sm">
                  <!-- คำศัพท์คำถาม -->
                  <div class="q-mt-xs">
                    <span v-html="item.question"></span>
                  </div>
                  <!-- คำตอบ1 -->
                  <br />
                  <div>
                    1)
                    <span v-html="item.ans1"></span>
                  </div>
                  <!-- คำตอบ2 -->
                  <div>
                    2)
                    <span v-html="item.ans2"></span>
                  </div>
                  <!-- คำตอบ3 -->
                  <div v-if="item.ans3.length > 0">
                    3)
                    <span v-html="item.ans3"></span>
                  </div>
                  <!-- คำตอบ4 -->
                  <div v-if="item.ans4.length > 0">
                    4)
                    <span v-html="item.ans4"></span>
                  </div>
                  <!-- คำตอบ5 -->
                  <div v-if="item.ans5.length > 0">
                    5)
                    <span v-html="item.ans5"></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: this.$route.params.data,
      dataSet: this.$route.params.dataSet,
      setKey: this.$route.params.setKey,
      setName: ""
    };
  },
  methods: {
    printBtn() {
      window.print();
    },

    closeBtn() {
      this.$router.push("/questionnaire");
    }
  },
  mounted() {
    if (this.$route.params.data == undefined) {
      this.$router.push("/questionnaire");
    }
    let questionSetName = this.dataSet.filter(x => {
      return x.key == this.setKey;
    });

    this.setName = questionSetName[0];
  }
};
</script>

<style scoped>
.box {
  border: 1px solid #5c5c5c;
}
.paper-a4 {
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }

  .bg6 {
    background-color: #fff;
  }

  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  width: 210mm;
  height: 297mm;
  /* size: landscape; portrait */
}
</style>