<template>
  <div>
    <!-- **********************Title page -->
    <div class="row q-pa-md">
      <div class="col text-center relative-position q-mt-md">
        <div class="absolute-center text-h5">Reading | L{{level}} U{{unit}}</div>
      </div>
    </div>
    <!-- ***************Tab menu -->
    <div class="q-px-lg">
      <div class="q-gutter-y-md" style="width: 100%; margin:auto; ">
        <q-card class="bg4" style="border:2px solid #2D2D2D;">
          <!-- ตัว tab หลัก -->
          <q-tabs
            v-model="tab"
            dense
            class="bg4"
            active-color="amber-13"
            indicator-color="amber-13"
            align="justify"
            style="width:600px;"
          >
            <q-tab name="question" label="ข้อมูล" />
            <q-tab name="refer" label="อ้างอิง" :disable="addVocabMode" />
            <q-tab name="extra" label="คำศัพท์เสริม" :disable="addVocabMode" />
          </q-tabs>

          <q-tab-panels v-model="tab" class="bg2">
            <!-- $$$$$$$$$ tab ข้อมูล -->
            <q-tab-panel name="question">
              <div style="width:60%; margin:auto; min-width: 600px;" class="q-pt-lg" v-if="type==1">
                <q-input
                  color="amber-13"
                  dark
                  square
                  outlined
                  v-model="question.order"
                  label="รหัสลำดับ"
                  type="number"
                  :rules="[val => val.length>0]"
                  hide-bottom-space
                />
                <div class="q-py-md">
                  <span>คำถาม *ใช้ขีดเส้นใต้ คำที่เป็นคำตอบ</span>
                  <q-editor
                    class="box"
                    dark
                    square
                    min-height="50px"
                    v-model.trim="question.question"
                    :toolbar="[
                      ['bold', 'italic', 'underline'],
                    ]"
                  />
                </div>

                <div class="q-py-md">
                  <span>คำอธิบาย</span>
                  <q-editor
                    class="box"
                    dark
                    square
                    min-height="50px"
                    v-model.trim="question.description"
                    :toolbar="[
                      ['bold', 'italic', 'underline'],
                    ]"
                  />
                </div>

                <div class="row col-12 justify-center q-py-md">
                  <div class="q-pa-sm">
                    <q-btn
                      class="bg7 cl3"
                      label="ยกเลิก"
                      style="width:160px"
                      @click="backToMain()"
                    />
                  </div>
                  <div class="q-pa-sm">
                    <q-btn
                      class="bg1 cl3"
                      label="บันทึก"
                      style="width:160px"
                      @click="saveQuestionBtn()"
                    />
                  </div>
                </div>
              </div>
              <div style="width:60%; margin:auto; min-width: 600px;" class="q-pt-lg" v-if="type==2">
                <q-input
                  color="amber-13"
                  dark
                  square
                  outlined
                  v-model="multipleChoiceData.order"
                  label="รหัสลำดับ"
                  type="number"
                  :rules="[val => val.length>0]"
                  hide-bottom-space
                />
                <div class="q-py-md">
                  <span>คำถาม</span>
                  <q-editor
                    class="box"
                    dark
                    square
                    min-height="50px"
                    v-model.trim="multipleChoiceData.question"
                    :toolbar="[
                      ['bold', 'italic', 'underline'],
                    ]"
                  />
                </div>

                <div class="q-py-md">
                  <span>ตัวเลือก #1</span>
                  <q-editor
                    class="box"
                    dark
                    square
                    min-height="50px"
                    v-model.trim="choiceTemp1"
                    :toolbar="[
                      ['bold', 'italic', 'underline'],
                    ]"
                  />
                </div>

                <div class="q-py-md">
                  <span>ตัวเลือก #2</span>
                  <q-editor
                    class="box"
                    dark
                    square
                    min-height="50px"
                    v-model.trim="choiceTemp2"
                    :toolbar="[
                      ['bold', 'italic', 'underline'],
                    ]"
                  />
                </div>

                <div class="q-py-md">
                  <span>ตัวเลือก #3</span>
                  <q-editor
                    class="box"
                    dark
                    square
                    min-height="50px"
                    v-model.trim="choiceTemp3"
                    :toolbar="[
                      ['bold', 'italic', 'underline'],
                    ]"
                  />
                </div>

                <div class="q-py-md">
                  <span>ตัวเลือก #4</span>
                  <q-editor
                    class="box"
                    dark
                    square
                    min-height="50px"
                    v-model.trim="choiceTemp4"
                    :toolbar="[
                      ['bold', 'italic', 'underline'],
                    ]"
                  />
                </div>

                <div>
                  <span>ตัวเลือกที่ถูกต้อง</span>
                  <div class="row">
                    <div class="q-pa-md">
                      <q-radio
                        color="amber-13"
                        dark
                        v-model="multipleChoiceData.correctAnswer"
                        :val="0"
                      />
                      <span class="q-px-md">1</span>
                    </div>
                    <div class="q-pa-md">
                      <q-radio
                        color="amber-13"
                        dark
                        v-model="multipleChoiceData.correctAnswer"
                        :val="1"
                      />
                      <span class="q-px-md">2</span>
                    </div>
                    <div class="q-pa-md">
                      <q-radio
                        color="amber-13"
                        dark
                        v-model="multipleChoiceData.correctAnswer"
                        :val="2"
                      />
                      <span class="q-px-md">3</span>
                    </div>
                    <div class="q-pa-md">
                      <q-radio
                        color="amber-13"
                        dark
                        v-model="multipleChoiceData.correctAnswer"
                        :val="3"
                      />
                      <span class="q-px-md">4</span>
                    </div>
                  </div>
                </div>

                <div class="q-py-md">
                  <span>คำอธิบาย</span>
                  <q-editor
                    class="box"
                    dark
                    square
                    min-height="50px"
                    v-model.trim="multipleChoiceData.description"
                    :toolbar="[
                      ['bold', 'italic', 'underline'],
                    ]"
                  />
                </div>

                <div class="row col-12 justify-center q-py-md">
                  <div class="q-pa-sm">
                    <q-btn
                      class="bg7 cl3"
                      label="ยกเลิก"
                      style="width:160px"
                      @click="backToMain()"
                    />
                  </div>
                  <div class="q-pa-sm">
                    <q-btn
                      class="bg1 cl3"
                      label="บันทึก"
                      style="width:160px"
                      @click="saveQuestionBtn()"
                      :disable="!checkClick"
                    />
                  </div>
                </div>
              </div>
            </q-tab-panel>

            <!-- $$$$$$$$$ tab อ้างอิง -->
            <q-tab-panel name="refer">
              <div style="width:90%; margin:auto; min-width: 600px;" class="q-pt-lg">
                <div align="center" class="text-h6">{{contentRefer.title}}</div>
                <div class="q-mt-md" v-html="textHightlight"></div>
                <br />
                <br />
                <div>
                  <q-input
                    color="amber-13"
                    dark
                    square
                    outlined
                    v-model="refertemp1"
                    label="อ้างอิงจาก #1"
                    hide-bottom-space
                  />
                </div>
                <div class="q-mt-md">
                  <q-input
                    color="amber-13"
                    dark
                    square
                    outlined
                    v-model="refertemp2"
                    label="อ้างอิงจาก #2"
                    hide-bottom-space
                  />
                </div>
                <div class="q-mt-md">
                  <q-input
                    color="amber-13"
                    dark
                    square
                    outlined
                    v-model="refertemp3"
                    label="อ้างอิงจาก #3"
                    hide-bottom-space
                  />
                </div>
                <div class="row col-12 justify-center q-py-md">
                  <div class="q-pa-sm">
                    <q-btn
                      class="bg7 cl3"
                      label="ยกเลิก"
                      style="width:160px"
                      @click="backToMain()"
                    />
                  </div>
                  <div class="q-pa-sm">
                    <q-btn
                      class="bg1 cl3"
                      label="บันทึก"
                      style="width:160px"
                      @click="saveReferBtn()"
                      :disable="!checkClick"
                    />
                  </div>
                </div>
              </div>
            </q-tab-panel>

            <!-- $$$$$$$$$ tab คำศัพท์เสริม -->
            <q-tab-panel name="extra">
              <div class="text-right" style="width:80%; margin:auto;">
                <q-btn
                  @click="addMode=true;dialogExtra=true"
                  round
                  class="cl2 bg1"
                  icon="fas fa-plus"
                />

                <div class="q-pt-md">
                  <q-table
                    wrap-cells
                    :pagination.sync="pagination"
                    hide-bottom
                    :data="dataExtraVocab"
                    :columns="columns"
                    dark
                    row-key="name"
                    binary-state-sort
                  >
                    <template v-slot:body="props">
                      <q-tr :props="props">
                        <q-td key="vocab" :props="props">{{ props.row.vocabulary }}</q-td>
                        <q-td key="partofspeech" :props="props">{{ props.row.partOfSpeech }}</q-td>
                        <q-td key="meaning" :props="props ">{{ props.row.meaning }}</q-td>
                        <q-td key="delete" :props="props" style="width:100px">
                          <div>
                            <q-icon
                              @click="deleteExtraVocabBtn(props.row.key)"
                              class="cl1 cursor-pointer"
                              size="18px"
                              name="fas fa-trash-alt"
                            />
                          </div>
                        </q-td>
                        <q-td key="edit" :props="props" style="width:100px">
                          <div>
                            <q-icon
                              @click="editExtraVocabBtn(props.row.key)"
                              class="cl1 cursor-pointer"
                              size="18px"
                              name="fas fa-edit"
                            />
                          </div>
                        </q-td>
                      </q-tr>
                    </template>
                  </q-table>
                </div>
                <div class="q-pa-md" align="center">
                  <q-btn
                    class="bg7 cl3"
                    label="กลับหน้าหลัก"
                    style="width:160px"
                    @click="backToMain()"
                  />
                </div>
              </div>
            </q-tab-panel>
          </q-tab-panels>
        </q-card>
      </div>
    </div>

    <!-- ******************เพิ่มคำศัพท์เสริม -->
    <q-dialog v-model="dialogExtra" persistent content-class="backdrop">
      <q-card style="width:50%;min-width:400px" class="q-pa-md bg3">
        <div>
          <div v-if="addMode" align="center">{{"เพิ่มคำศัพท์เสริม"}}</div>
          <div v-if="!addMode " align="center">{{"แก้ไขคำศัพท์เสริม"}}</div>
        </div>
        <div class="q-pa-md">
          <div class="q-pa-sm">
            <q-input
              color="amber-13"
              dark
              square
              outlined
              v-model="extra.vocabulary"
              label="คำศัพท์"
            />
          </div>
          <div class="q-pa-sm">
            <q-select
              map-options
              emit-value
              dark
              color="amber-13"
              square
              outlined
              v-model="extra.partOfSpeech"
              :options="partOfSpeechOpt"
              label="ชนิดของคำ"
            />
          </div>
          <div class="q-pa-sm">
            <q-input
              color="amber-13"
              dark
              square
              outlined
              v-model="extra.meaning"
              label="ความหมาย"
            />
          </div>
        </div>

        <q-card-actions align="center">
          <q-btn style="width:160px" class="bg7 cl3" label="ยกเลิก" @click="cancelExtraVocabBtn()" />
          <q-btn style="width:160px" @click="saveExtraVocabBtn()" class="bg1 cl3" label="บันทึก" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      docKey: this.$route.params.key, //  key ของแบบฝึกหัด
      level: this.$route.params.level.toString(), // level ปัจจุบัน
      unit: this.$route.params.unit.toString(), //unit ปัจจุบัน
      page: 1, //สำหรับหน้า page ที่รับค่ามาเพื่อแสดงผล 1= ช้อมูล, 2=อ้างอิง, 3= คำศัพท์เสริม
      type: this.$route.params.type, //ชนิดของแบบฝึกหัด 1=fillin ,2 = multiple choices
      tab: "question", //question, refer, extra ข้อมูลในการเลือก tab
      question: {
        order: "",
        question: "",
        description: ""
      }, //เก็บข้อมูลคำถาม fill in the blank
      contentRefer: {
        title: "",
        contentEng: ""
      }, //เนื้อเรื่องสำหรับอ้างอิง
      refertemp1: "", //สำหรับอ้างอิง 1
      refertemp2: "", // สำหรับอ้างอิง 2
      refertemp3: "", // สำหรับอ้างอิง 3
      pagination: {
        rowsPerPage: 0 //จำนวนหน้าสำหรับคำศัพท์เสริม
      },

      columns: [
        {
          name: "vocab",
          label: "คำศัพท์",
          align: "left"
        },
        {
          name: "partofspeech",
          align: "center",
          label: "ชนิดของคำ"
        },
        {
          name: "meaning",
          label: "ความหมาย",
          align: "center"
        },
        {
          name: "delete",
          label: "ลบ",
          align: "center"
        },
        {
          name: "edit",
          label: "แก้ไข",
          align: "center"
        }
      ], //ตารางสำหรับคำศัพท์เสริม
      dialogExtra: false,
      addMode: true, //add mode สำหรับคำศัพท์เสริม
      vocabExtraKey: "", //เก็บคีย์สำหรับแก้ไขคำศัพท์เสริม
      questionKey: "", // docid ของข้อมูลใน practicepool_draft
      dataTemp: [], //ข้อมูลชั่วคราวเพื่อรอการเก็บ data
      extra: {
        vocabulary: "",
        partOfSpeech: "ไม่ระบุ",
        meaning: ""
      }, //สำหรับ input คำศัพท์เสริม
      partOfSpeechOpt: [], //partofspeech ของคำศัพท์เสริม
      dataExtraVocab: [], //ข้อมูลคำศัพท์เสริม
      addVocabMode: true, //mode สำหรับการเพิ่มคำศัพท์เสริม
      multipleChoiceData: {
        order: "",
        question: "",
        choice: [],
        correctAnswer: 0,
        description: ""
      }, //เก็บข้อมูลคำถาม multiple choice
      choiceTemp1: "",
      choiceTemp2: "",
      choiceTemp3: "",
      choiceTemp4: "", //ข้อมูลคำตอบเก็บชั่วคราวรอใส่ array
      checkClick: true
    };
  },
  methods: {
    //บันทึกโจทย์คำถาม
    saveQuestionBtn() {
      //กรณีเป็น fill in the blank
      this.checkClick = false;
      if (this.type == 1) {
        if (this.question.order == "" || this.question.question == "") {
          this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
          this.checkClick = true;
          return;
        }
        if (this.$route.name == "readingadd") {
          this.dataTemp = {
            practicekey: this.docKey,
            practicetype: "readingfillin",
            order: this.question.order,
            question: this.question.question,
            description: this.question.description,
            status: "added",
            level: this.level,
            unit: this.unit,
            refer: []
          };
        } else {
          this.dataTemp = {
            practicekey: this.docKey,
            practicetype: "readingfillin",
            order: this.question.order,
            question: this.question.question,
            description: this.question.description,
            status: "added",
            level: this.level,
            unit: this.unit
          };
        }
      } else {
        if (
          this.multipleChoiceData.order == "" ||
          this.multipleChoiceData.question == "" ||
          this.choiceTemp1 == "" ||
          this.choiceTemp2 == ""
        ) {
          this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
          this.checkClick = true;
          return;
        }
        //กรณีที่เป็น multiple choice
        let choiceTempData = [];
        choiceTempData[0] = this.choiceTemp1;
        if (this.choiceTemp2.length) {
          choiceTempData[1] = this.choiceTemp2;
        }
        if (this.choiceTemp3.length) {
          choiceTempData[2] = this.choiceTemp3;
        }
        if (this.choiceTemp4.length) {
          choiceTempData[3] = this.choiceTemp4;
        }

        if (this.$route.name == "readingadd") {
          this.dataTemp = {
            practicekey: this.docKey,
            practicetype: "readingmulti",
            order: this.multipleChoiceData.order,
            question: this.multipleChoiceData.question,
            description: this.multipleChoiceData.description,
            status: "added",
            level: this.level,
            unit: this.unit,
            choice: choiceTempData,
            correctAnswer: this.multipleChoiceData.correctAnswer,
            refer: []
          };
        } else {
          this.dataTemp = {
            practicekey: this.docKey,
            practicetype: "readingmulti",
            order: this.multipleChoiceData.order,
            question: this.multipleChoiceData.question,
            description: this.multipleChoiceData.description,
            status: "added",
            level: this.level,
            unit: this.unit,
            choice: choiceTempData,
            correctAnswer: this.multipleChoiceData.correctAnswer
          };
        }
      }
      //กรณีที่ยังไม่มีการบันทึกมาก่อน
      if (this.questionKey == "") {
        db.collection("practicepool_draft")
          .add(this.dataTemp)
          .then(doc => {
            this.questionKey = doc.id;
            this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
            this.$router.push(
              "/landing/" +
                this.docKey +
                "/" +
                this.questionKey +
                "/" +
                this.level +
                "/" +
                this.unit +
                "/2/" +
                this.type
            );
          });
      } else {
        db.collection("practicepool_draft")
          .doc(this.questionKey)
          .update(this.dataTemp)
          .then(() => {
            this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
            this.$router.push(
              "/landing/" +
                this.docKey +
                "/" +
                this.questionKey +
                "/" +
                this.level +
                "/" +
                this.unit +
                "/2/" +
                this.type
            );
          });
      }
    },

    //บันทึกอ้างอิง
    saveReferBtn() {
      this.checkClick = false;
      if (this.refertemp1 == "") {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        this.checkClick = true;
        return;
      }

      let referTempData = [];
      referTempData[0] = this.refertemp1;
      if (this.refertemp2.length) {
        referTempData[1] = this.refertemp2;
      }

      if (this.refertemp3.length) {
        referTempData[2] = this.refertemp3;
      }

      db.collection("practicepool_draft")
        .doc(this.questionKey)
        .update({ refer: referTempData })
        .then(() => {
          db.collection("practicepool_draft")
            .doc(this.questionKey)
            .update({
              status: "added"
            });
          this.notifyGreen("บันทึกการอ้างอิงเรียบร้อยแล้ว");
          this.$router.push(
            "/landing/" +
              this.docKey +
              "/" +
              this.questionKey +
              "/" +
              this.level +
              "/" +
              this.unit +
              "/3/" +
              this.type
          );
        });
    },

    //บันทึกคำศัพท์เสริม
    saveExtraVocabBtn() {
      if (this.extra.vocabulary == "" || this.extra.meaning == "") {
        this.notifyRed("กรุณากรอกข้อมูลข้อมูลให้ครบ้วน");
        return;
      }
      this.loadingShow();
      if (this.addMode) {
        db.collection("practicepool_draft")
          .doc(this.questionKey)
          .collection("extraVocab")
          .add(this.extra)
          .then(doc => {
            db.collection("practicepool_draft")
              .doc(this.questionKey)
              .update({
                status: "added"
              });

            this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
            this.loadingHide();
            this.dialogExtra = false;
            this.clearExtraVocab();
            this.loadExtraVocab();
          });
      } else {
        db.collection("practicepool_draft")
          .doc(this.questionKey)
          .collection("extraVocab")
          .doc(this.vocabExtraKey)
          .set(this.extra)
          .then(doc => {
            db.collection("practicepool_draft")
              .doc(this.questionKey)
              .update({
                status: "added"
              });
            this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
            this.loadingHide();
            this.dialogExtra = false;
            this.clearExtraVocab();
            this.loadExtraVocab();
          });
      }
    },

    //ล้างข้อมูลในหน้ากรอกคำศัพท์เสริม
    clearExtraVocab() {
      this.extra.vocabulary = "";
      this.extra.partOfSpeech = "ไม่ระบุ";
      this.extra.meaning = "";
    },

    //ยกเลิกในหน้ากรอกคำศัพท์เสริม
    cancelExtraVocabBtn() {
      this.dialogExtra = false;
      this.clearExtraVocab();
    },

    //กลับสู่หน้าหลัก
    backToMain() {
      this.$router.push(
        "/practice/reading/" + this.docKey + "/" + this.type + "/2"
      );
    },

    //load เนื้อเรื่องจาก readingcontent_draft
    loadContent() {
      db.collection("readingcontent_draft")
        .where("practicekey", "==", this.docKey)
        .get()
        .then(doc => {
          if (doc.size > 0) {
            this.contentRefer.title = doc.docs[0].data().titleEng;
            this.contentRefer.contentEng = doc.docs[0]
              .data()
              .contentEng.replace(/&nbsp;/g, " ")
              .replace(
                /\[tab\]/g,
                "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
              );
          }
        });
    },

    //โหลด part of speech
    loadPartOfSpeech() {
      db.collection("partofspeech")
        .get()
        .then(doc => {
          this.partOfSpeechOpt = [];
          doc.forEach(element => {
            let dataKey = {
              value: element.data().partofspeech,
              label: element.data().des
            };

            this.partOfSpeechOpt.push(dataKey);
          });
          this.partOfSpeechOpt.sort((a, b) => {
            return a.label < b.label ? -1 : 1;
          });
          this.partOfSpeechOpt = this.partOfSpeechOpt.filter(x => {
            return x.label != "ไม่ระบุ";
          });
          this.partOfSpeechOpt.unshift({
            label: "ไม่ระบุ",
            value: "ไม่ระบุ"
          });
        });
    },

    //load question
    loadQuestion() {
      db.collection("practicepool_draft")
        .doc(this.questionKey)
        .get()
        .then(data => {
          if (this.type == 1) {
            this.question.order = data.data().order;
            this.question.question = data.data().question;
            this.question.description = data.data().description;
            if (data.data().refer.length > 0) {
              this.refertemp1 = data.data().refer[0];
            }
            if (data.data().refer.length > 1) {
              this.refertemp2 = data.data().refer[1];
            }
            if (data.data().refer.length > 2) {
              this.refertemp3 = data.data().refer[2];
            }
          } else {
            this.multipleChoiceData.order = data.data().order;
            this.multipleChoiceData.question = data.data().question;
            this.multipleChoiceData.description = data.data().description;
            if (data.data().choice.length > 0) {
              this.choiceTemp1 = data.data().choice[0];
            }
            if (data.data().choice.length > 1) {
              this.choiceTemp2 = data.data().choice[1];
            }
            if (data.data().choice.length > 2) {
              this.choiceTemp3 = data.data().choice[2];
            }
            if (data.data().choice.length > 3) {
              this.choiceTemp4 = data.data().choice[3];
            }
            if (data.data().refer.length > 0) {
              this.refertemp1 = data.data().refer[0];
            }
            if (data.data().refer.length > 1) {
              this.refertemp2 = data.data().refer[1];
            }
            if (data.data().refer.length > 2) {
              this.refertemp3 = data.data().refer[2];
            }
            this.multipleChoiceData.correctAnswer = data.data().correctAnswer;
          }
        });
    },

    //load คำศัพท์เสริม
    loadExtraVocab() {
      this.dataExtraVocab = [];
      db.collection("practicepool_draft")
        .doc(this.questionKey)
        .collection("extraVocab")
        .get()
        .then(doc => {
          doc.forEach(data => {
            let temp = {
              key: data.id
            };
            let dataFinal = { ...temp, ...data.data() };
            this.dataExtraVocab.push(dataFinal);
          });
          this.dataExtraVocab.sort((a, b) => {
            return a.vocabulary > b.vocabulary ? 1 : -1;
          });

          // console.log(this.dataExtraVocab);
          return;
        });
    },

    //เปลี่ยนหน้า page
    loadPage() {
      if (this.page == 1) {
        this.tab = "question";
      } else if (this.page == 2) {
        this.tab = "refer";
      } else {
        this.tab = "extra";
      }
    },

    //ลบคำศัพท์เสริม
    deleteExtraVocabBtn(key) {
      this.$q
        .dialog({
          title: "คุณต้องการลบข้อมูลนี้ใช่หรือไม่",
          dark: true,
          cancel: "ยกเลิก",
          ok: "ตกลง"
        })
        .onOk(() => {
          this.loadingShow();
          db.collection("practicepool_draft")
            .doc(this.questionKey)
            .collection("extraVocab")
            .doc(key)
            .delete()
            .then(() => {
              db.collection("practicepool_draft")
                .doc(this.questionKey)
                .update({
                  status: "added"
                });
              this.loadingHide();
              this.loadExtraVocab();
            });
        });
    },

    //แก้ไขคำศัพท์เสริม
    editExtraVocabBtn(key) {
      this.addMode = false;
      this.dialogExtra = true;
      this.vocabExtraKey = key;
      db.collection("practicepool_draft")
        .doc(this.questionKey)
        .collection("extraVocab")
        .doc(key)
        .get()
        .then(data => {
          db.collection("practicepool_draft")
            .doc(this.questionKey)
            .update({
              status: "added"
            });
          this.extra = data.data();
        });
    }
  },

  mounted() {
    this.loadContent();
    this.loadPartOfSpeech();
    //กรณีแก้ไขข้อมูล
    if (this.$route.name == "readingedit") {
      this.questionKey = this.$route.params.practicekey;
      this.addVocabMode = false;
      this.page = this.$route.params.page;
      this.loadPage();
      this.loadQuestion();
      this.loadExtraVocab();
    }
  },
  computed: {
    textHightlight() {
      let textContent = this.contentRefer.contentEng;
      let textHight1 = this.refertemp1;
      let textHight2 = this.refertemp2;
      let textHight3 = this.refertemp3;

      let res = textContent
        .replace(
          textHight1,
          "<span class='bg-green-7 text-white'>" + textHight1 + "</span>"
        )
        .replace(
          textHight2,
          "<span class='bg-green-7 text-white'>" + textHight2 + "</span>"
        )
        .replace(
          textHight3,
          "<span class='bg-green-7 text-white'>" + textHight3 + "</span>"
        );

      return res;
    }
  }
};
</script>

<style scoped>
</style>