<template>
  <div class="bg6">
    <div id="printBtn">
      <q-toolbar class="bg-black text-white">
        <q-toolbar-title></q-toolbar-title>
        <q-btn
          class="q-mr-md"
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-print"
          @click="printBtn()"
        />
        <q-btn
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-times"
          @click="closeBtn()"
        />
      </q-toolbar>
    </div>
    <div class="q-pb-sm" align="center">
      <div class="printMe shadow-1 paper-a4 q-my-lg cl2">
        <div class="q-pa-lg">
          <!-- หัวกระดาษ -->
          <div class="box q-pa-md row rounded-borders">
            <div class="col-4">
              <img align="left" style="width:200px" src="../../statics/image/logowinner.png" />
            </div>

            <div class="col-8 items-center row">
              <div class="text-h6 items-center col-12" align="center">
                <span>Reading | L{{level}} U{{unit}}</span>
                <hr style="width: 300px" />
                <span v-if="type == '1'">Fill in the blank</span>
                <span v-else>Multiple Chioce</span>
              </div>
            </div>
          </div>
          <!-- เนื้อหา -->
          <div class="q-py-md">
            <table class="text-h6" style="width:100%; border-collapse: collapse;">
              <thead>
                <tr style="height: 30px;"></tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <!-- เนื้อเรื่อง -->
                    <div v-html="dataContent.titleEng" class="text-h5" align="center"></div>
                    <div class="q-py-md" align="center">
                      <img :src="dataContent.imageURL" style="width: 700px; height: 218px; " alt />
                    </div>
                    <div v-html="dataContent.contentEng" style="text-align: justify;"></div>
                    <div v-html="dataContent.titleThai" class="text-h5 q-py-md" align="center"></div>
                    <div v-html="dataContent.contentThai" style="text-align: justify;"></div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <!-- คำศัพท์เสริมเนื้อเรื่อง -->
                    <hr />
                    <div align="center">คำศัพท์เสริมเนื้อเรื่อง</div>
                    <div class="row" v-for="(i, index) in dataContentExtra" :key="index">
                      <div class="col-3">{{i.vocabulary}}</div>
                      <div class="col-2">({{i.partOfSpeech}})</div>
                      <div class="col-3">{{i.meaning}}</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <!-- ประโยคฝึกพูด -->
                    <hr />
                    <div align="center">ประโยคฝึกพูด</div>
                    <div v-for="(j,index) in dataContentSpeak" :key="index">
                      <div>{{j.no}}. {{j.sentenceEng}}</div>
                      <div>&nbsp;&nbsp;&nbsp;{{j.sentenceThai}}</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <hr />
                    <div align="center" class="q-mt-md">{{dataInstruction.eng}}</div>
                    <div align="center" class="q-mb-md">{{dataInstruction.th}}</div>
                    <!-- คำถาม fill in -->
                    <div
                      v-show="dataQuestionFillIn.length > 0"
                      v-for="(quesfillin,index) in dataQuestionFillIn"
                      :key="index"
                    >
                      <div class="row">
                        <div
                          class="col-2 q-pa-sm"
                          style="width: 30px; border: 1px solid black; border-right: 0px solid black"
                          align="center"
                        >{{quesfillin.no}}</div>
                        <div class="col q-pa-sm" style="border: 1px solid black">
                          <div v-html="quesfillin.question"></div>
                          <div v-html="quesfillin.description"></div>
                          <br />
                          <div
                            v-for="(refer, index2) in quesfillin.refer"
                            :key="index2"
                          >อ้างอิง#{{index2+1}} {{refer}}</div>
                          <div class="q-px-sm" v-if="quesfillin.extra.length > 0">
                            <hr />
                          </div>
                          <div
                            class="row"
                            v-for="(extra, index2) in quesfillin.extra"
                            :key="index2"
                          >
                            <div class="col-3">{{extra.vocabulary}}</div>
                            <div class="col-2">({{extra.partOfSpeech}})</div>
                            <div class="col-3">{{extra.meaning}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- คำถาม multi -->
                    <div
                      v-show="dataQuestionMultiple.length > 0"
                      v-for="(quesmulti,index) in dataQuestionMultiple"
                      :key="index"
                      class="row"
                    >
                      <div
                        class="col-2 q-pa-sm"
                        style="width: 30px; border: 1px solid black; border-right: 0px solid black"
                        align="center"
                      >{{quesmulti.no}}</div>
                      <div class="col q-pa-sm" style="border: 1px solid black">
                        <div v-html="quesmulti.question"></div>
                        <br />
                        <div v-for="(choice , index2) in quesmulti.choice" :key="index2">
                          <span
                            :class="{'bg-green-4' :  quesmulti.correctAnswer == index2}"
                          >{{index2+1}}) {{choice}}</span>
                        </div>
                        <br />
                        <div
                          v-for="(refer, index2) in quesmulti.refer"
                          :key="index2"
                        >อ้างอิง#{{index2+1}} {{refer}}</div>
                        <div class="q-px-sm" v-if="quesmulti.extra.length > 0">
                          <hr />
                        </div>
                        <div class="row" v-for="(extra, index2) in quesmulti.extra" :key="index2">
                          <div class="col-3">{{extra.vocabulary}}</div>
                          <div class="col-2">({{extra.partOfSpeech}})</div>
                          <div class="col-3">{{extra.meaning}}</div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dataContent: this.$route.params.dataContent,
      dataContentExtra: this.$route.params.dataContentExtra,
      dataContentSpeak: this.$route.params.dataContentSpeak,
      dataQuestionFillIn: this.$route.params.dataQuestionFillIn,
      dataQuestionMultiple: this.$route.params.dataQuestionMultiple,
      dataInstruction: this.$route.params.dataInstruction,
      type: this.$route.params.type,
      key: this.$route.params.key,
      level: this.$route.params.level,
      unit: this.$route.params.unit
    };
  },
  methods: {
    closeBtn() {
      this.$router.go(-1);
    },
    printBtn() {
      window.print();
    }
  },
  mounted() {
    if (this.level == undefined) {
      this.$router.go(-1);
    }
  }
};
</script>

<style scoped>
.brtop {
  border-top: 1px solid;
}
.box {
  border: 1px solid #5c5c5c;
}
.paper-a4 {
  background: #ffffff;
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}
@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }

  #printBtn {
    display: none;
  }
  .bg6 {
    background: #ffffff;
  }
}
@page {
  margin: 4mm 1mm;
  width: 210mm;
  height: 297mm;
  /* size: landscape; portrait */
}
</style>