<template>
  <div class="q-pa-md">
    <div class="text-h5 q-py-sm" align="center">เสียง</div>
    <div class="row justify-center">
      <div class="col-2 q-px-sm">
        <q-select
          label="Level"
          color="amber-13"
          v-model="level"
          dark
          emit-value
          map-options
          :options="levelOption"
          @input="changeLevel()"
        />
      </div>
      <div class="col-2 q-px-sm">
        <q-select
          label="Unit เริ่มต้น"
          color="amber-13"
          v-model="unitStart"
          dark
          emit-value
          map-options
          :options="unitStartOption"
        />
      </div>
      <div class="col-2 q-px-sm">
        <q-select
          label="Unit สุดท้าย"
          color="amber-13"
          v-model="unitEnd"
          dark
          emit-value
          map-options
          :options="unitEndOption"
        />
      </div>
      <div class="col-2 q-px-sm">
        <q-select
          label="แบบฝึกหัด"
          color="amber-13"
          v-model="practice"
          dark
          emit-value
          map-options
          :options="practiceOption"
        />
      </div>
      <div class="col-2 q-pt-md">
        <q-btn @click="runBtn()" label="ประมวลผล" style="width:170px" class="bg1 text-black"></q-btn>
      </div>
    </div>
    <div class="row q-pa-lg justify-center">
      <div class="col-12">
        <div>
          <div class="bg4 text-h6 q-py-sm row" align="center">
            <div class="col-1"></div>
            <div class="col self-center">
              <span>ผลลัพธ์</span>
            </div>
            <div class="col-2" align="right">
              <q-btn @click="copyBtn()" round class="cl2 bg1 q-mr-md" icon="fas fa-copy" />
              <a target="__blank" href="https://api.winner-english.com/soundgen2/" class="cl1">
                <q-btn round class="cl2 bg1 q-mr-md" icon="fas fa-share-square" />
              </a>
            </div>
          </div>
          <div class="boxDetail">
            <textarea
              dark
              readonly
              class="full-width text-white"
              filled
              id="resultMain"
              style="background-color:#121212"
              v-model="resultMain"
              rows="20"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      levelOption: this.$q.localStorage.getItem("levelList"),
      unitStartOption: [],
      unitEndOption: [],
      practiceOption: [
        "Flashcard",
        "Reading",
        // "Translation", // ตอนนี้ translation ยังไม่มีตัวออกเสียงคำเลยเอาออกก่อน
        "Phonics & Listening"
      ],
      level: 1,
      levelName: "1",
      unitStart: "1",
      unitEnd: "1",
      practice: "Flashcard",

      resultMain: ""
    };
  },
  methods: {
    // โหลด unit ที่สอดคล้องกับ level ที่เลือก
    changeLevel() {
      this.unitStartOption = [];
      this.unitEndOption = [];
      this.unitStart = 1;
      this.unitEnd = 1;
      db.collection("level")
        .doc(this.level)
        .get()
        .then(data => {
          for (let i = 1; i <= data.data().unit; i++) {
            this.levelName = data.data().level;
            this.unitStartOption.push(i);
            this.unitEndOption.push(i);
          }
        });
    },
    //ประมวลผล
    async runBtn() {
      if (this.unitStart > this.unitEnd) {
        this.notifyRed("Unit เริ่มต้น ต้องน้อยกว่าหรือเท่ากับ Unit สุดท้าย");
        return;
      }
      this.resultMain = "";
      let db1 = db.collection("practicepool_draft");
      db1 = db1.where("level", "==", this.levelName);

      //กรณีเป็น flashcard
      if (this.practice == "Flashcard") {
        db1 = db1.where("practicetype", "==", "flashcard");

        //กรณีวนแต่ละ unit
        for (
          let unitCount = this.unitStart;
          unitCount <= this.unitEnd;
          unitCount++
        ) {
          let db2 = db1.where("unit", "==", unitCount.toString());

          db2.get().then(doc => {
            this.resultMain +=
              "--- Level " + this.levelName + " Unit " + unitCount + " ---\n";
            doc.forEach(data => {
              let temp = {
                fileName: data.id,
                vocab: data.data().vocabulary
              };

              this.resultMain +=
                temp.fileName + ".txt *** " + temp.vocab + "\n";
              this.resultMain +=
                temp.fileName +
                "-spell.txt *** " +
                temp.vocab.split("").join("..") +
                "... " +
                temp.vocab +
                "\n";
            });
          });
        }
      }
      //กรณีเป็น Phonic & listening (Multiple choices)
      else if (this.practice == "Phonics & Listening") {
        //Multiple question sound

        let db1a = db1.where(
          "practicetype",
          "==",
          "multiplechoice(questionsound)"
        );

        for (
          let unitCount = this.unitStart;
          unitCount <= this.unitEnd;
          unitCount++
        ) {
          let db2 = db1a.where("unit", "==", unitCount.toString());

          db2.get().then(doc => {
            if (doc.size) {
              this.resultMain +=
                "--- Level " +
                this.levelName +
                " Unit " +
                unitCount +
                " (Question Sound) ---\n";

              doc.forEach(data => {
                let temp = {
                  fileName: data.id,
                  data: data.data().question
                };

                this.resultMain +=
                  temp.fileName + ".txt *** " + temp.data + "\n";
              });
            }
          });
        }

        // Multiple answer sound
        let db1b = db1.where(
          "practicetype",
          "==",
          "multiplechoice(answersound)"
        );

        for (
          let unitCount = this.unitStart;
          unitCount <= this.unitEnd;
          unitCount++
        ) {
          let db3 = db1b.where("unit", "==", unitCount.toString());

          db3.get().then(doc => {
            console.log(doc.size);

            if (doc.size) {
              this.resultMain +=
                "--- Level " +
                this.levelName +
                " Unit " +
                unitCount +
                " (Answer Sound) ---\n";

              doc.forEach(data => {
                let temp = {
                  fileName: data.id,
                  data: data.data().choices[0]
                };

                this.resultMain +=
                  temp.fileName + "-1.txt *** " + temp.data + "\n";

                temp = {
                  fileName: data.id,
                  data: data.data().choices[1]
                };

                this.resultMain +=
                  temp.fileName + "-2.txt *** " + temp.data + "\n";

                if (data.data().choices[2]) {
                  temp = {
                    fileName: data.id,
                    data: data.data().choices[2]
                  };

                  this.resultMain +=
                    temp.fileName + "-3.txt *** " + temp.data + "\n";
                }

                if (data.data().choices[3]) {
                  temp = {
                    fileName: data.id,
                    data: data.data().choices[3]
                  };

                  this.resultMain +=
                    temp.fileName + "-4.txt *** " + temp.data + "\n";
                }
              });
            }
          });
        }
        //กรณีเป็น Translation
      } else if (this.practice == "Translation") {
        this.loadingShow();
        db1 = db1.where("practicetype", "==", "translation");
        let tempResult = [];
        //กรณีวนแต่ละ unit
        for (
          let unitCount = this.unitStart;
          unitCount <= this.unitEnd;
          unitCount++
        ) {
          let db2 = db1.where("unit", "==", unitCount.toString());

          await db2.get().then(doc => {
            doc.forEach(data => {
              tempResult = tempResult.concat(data.data().showWords);
            });
          });
        }

        tempResult = tempResult.map(x => x.toLowerCase());
        tempResult = [...new Set(tempResult)];
        tempResult.sort((a, b) => {
          return a > b ? 1 : -1;
        });
        this.resultMain += "--- Translation ---\n";
        tempResult.forEach(x => {
          if (x == "?") {
            x = "question mark";
          } else if (x == ".") {
            x = "full stop";
          } else if (x == ",") {
            x = "comma";
          }
          this.resultMain += x + ".txt *** " + x + "\n";
        });
        this.loadingHide();
      } else if (this.practice == "Reading") {
        //กรณี Reading
        this.loadingShow();
        let dblist = db
          .collection("practicelist")
          .where("level", "==", this.levelName.toString())
          .where("skill", "==", "Reading");
        for (
          let unitCount = this.unitStart;
          unitCount <= this.unitEnd;
          unitCount++
        ) {
          dblist
            .where("unit", "==", unitCount.toString())
            .get()
            .then(doc => {
              doc.forEach(data => {
                db.collection("readingcontent_draft")
                  .where("practicekey", "==", data.id)
                  .get()
                  .then(doc2 => {
                    if (doc2.size > 0) {
                      doc2.forEach(data2 => {
                        db.collection("readingcontent_draft")
                          .doc(data2.id)
                          .collection("speakPractice")
                          .get()
                          .then(doc3 => {
                            this.resultMain +=
                              "--- Level " +
                              this.levelName +
                              " Unit " +
                              unitCount +
                              " ---\n";
                            doc3.forEach(data3 => {
                              let temp = {
                                key: data3.id,
                                sentenceEng: data3.data().sentenceEng
                              };
                              this.resultMain +=
                                temp.key +
                                ".txt *** " +
                                temp.sentenceEng +
                                "\n";
                            });
                          });
                      });
                    }
                  });
              });
            });
        }

        this.loadingHide();
      }
    },

    copyBtn() {
      var copyText = document.getElementById("resultMain");
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      document.execCommand("copy");
    }
  },
  mounted() {
    this.level = this.levelOption[0].value;
    this.changeLevel();
  }
};
</script>

<style scoped></style>
