<template>
  <div>
    <div class="row q-pa-md q-px-lg">
      <div class="q-pt-sm">
        <toggle-button
          :value="true"
          :labels="{ checked: 'แบบร่าง', unchecked: 'เซิฟเวอร์' }"
          :height="40"
          :width="120"
          :color="{
          checked: ['#909090'],
          unchecked: ['#388E3C']
        }"
          :font-size="16"
          v-model="status"
          @change="loadData()"
        />
      </div>
      <div class="col text-center relative-position">
        <!-- <div class="absolute-center text-h5">Translation | {{practicename}} | L{{level}} U{{unit}}</div> -->
        <div class="absolute-center text-h5">Translation | L{{level}} U{{unit}}</div>
      </div>
      <div class="row">
        <div class="q-pa-sm">
          <sync-button :practiceKey="practiceKey" :status="status"></sync-button>
        </div>
        <div class="q-pa-sm">
          <q-btn
            @click="printBtn()"
            round
            icon="fas fa-print"
            :class="{'cl2 bg1':status , 'cl2 bg5' : !status}"
            :disable="!status"
          />
          <!-- <q-btn round class="cl2 bg5" icon="fas fa-print" v-show="!status" /> -->
        </div>
        <!-- <div class="q-pa-sm">
          <q-btn
            @click="helpBtn()"
            round
            icon="far fa-file-video"
            :class="{'cl2 bg1':status , 'cl2 bg5' : !status}"
            :disable="!status"
          />
        </div>-->
        <div class="q-pa-sm">
          <q-btn
            @click="addBtn()"
            round
            icon="fas fa-plus"
            :class="{'cl2 bg1':status , 'cl2 bg5' : !status}"
            :disable="!status"
          />
        </div>
      </div>
    </div>

    <div class="q-pa-md" v-if="isLoading">
      <q-table
        :pagination.sync="pagination"
        hide-bottom
        :data="data"
        :columns="columns"
        dark
        row-key="name"
        binary-state-sort
      >
        <template v-slot:header-cell="props">
          <q-th :props="props">{{ props.col.label }}</q-th>
        </template>
        <template v-slot:body="props">
          <q-tr :props="props">
            <!-- order -->
            <q-td key="no" :props="props">
              <div class="q-py-sm">{{ props.row.no }}</div>
            </q-td>
            <!-- data -->
            <q-td key="practice" :props="props">
              <div class="q-px-md">
                <div v-html="props.row.questionThai"></div>
                <div v-html="props.row.questionEng"></div>
                <div class="row" v-show="props.row.except == false">
                  <div
                    class="q-py-sm q-pr-sm"
                    v-for="(words,index) in props.row.showWords"
                    :key="index"
                  >
                    <div class="q-px-md q-py-xs bg5 cl2">{{ words }}</div>
                  </div>
                </div>
                <!-- <div v-show="props.row.help!=''">
                  <hr />
                  <span>ช่วยเหลือ : {{ translationVdoTemp.filter(x => { return x.key == props.row.help }).map(e => { return e.name})[0] }}</span>
                </div>-->
              </div>
            </q-td>
            <!-- order -->
            <q-td key="order" :props="props ">
              <div>{{ props.row.order }}</div>
            </q-td>
            <!-- delete -->
            <q-td v-if=" props.row.status != 'delete'" key="delete" :props="props">
              <q-icon
                @click="deleteOnBtn(props.row.key)"
                class="cl1 cursor-pointer"
                size="20px"
                name="fas fa-trash-alt"
                v-show="status"
              />
              <q-icon class="cl5" size="20px" name="fas fa-trash-alt" disable v-show="!status " />
            </q-td>
            <!-- edit -->
            <q-td v-if=" props.row.status != 'delete'" key="edit" :props="props">
              <div>
                <q-icon
                  @click="editBtn(props.row.key, props.row.no-1)"
                  class="cl1 cursor-pointer"
                  size="20px"
                  name="fas fa-edit"
                  v-show="status "
                />
                <q-icon round class="cl5" size="20px" name="fas fa-edit" disable v-show="!status " />
              </div>
            </q-td>
            <!-- delete big -->
            <q-td
              colspan="2"
              style="width: 14%"
              v-if=" props.row.status == 'delete'"
              align="center"
            >
              <q-btn
                @click="deleteOffBtn(props.row.key)"
                color="amber-13"
                text-color="black"
              >ยกเลิกการลบ</q-btn>
            </q-td>
          </q-tr>
        </template>
      </q-table>
      <!-- ยืนยันการลบข้อมูล -->
      <q-dialog v-model="confirm" persistent>
        <q-card dark>
          <q-card-section class="row items-center">
            <span>คูณต้องการลบข้อมูลหรือไม่</span>
          </q-card-section>

          <q-card-actions class align="center">
            <q-btn class="bg7 cl2 btnCard" flat label="ยกเลิก" v-close-popup />
            <q-btn @click="deleteOn()" class="bg1 cl2 btnCard" flat label="ยืนยัน" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
    <!-- <div class="q-pa-sm">
      <q-btn @click="testBtn()" class="cl2 bg1" round icon="fas fa-copy" />
    </div>-->
  </div>
</template>

<script>
import { db } from "../../router/index.js";
import syncButton from "../../components/syncButton.vue";

export default {
  components: {
    syncButton
  },
  data() {
    return {
      practiceKey: this.$route.params.key,
      isSync: false,
      status: true,
      syncData: true,
      practicename: "",
      practicenameth: "",
      level: "",
      unit: "",
      confirm: false,
      pagination: {
        rowsPerPage: 0
      },
      columns: [
        {
          name: "no",
          required: true,
          label: "ลำดับ",
          align: "center",
          field: "no",
          style: "width: 6%; max-width: 100px"
        },
        {
          name: "practice",
          align: "left",
          label: "แบบฝึกหัด",
          field: "practice"
        },
        {
          name: "order",
          label: "รหัสลำดับ",
          align: "center",
          field: "order",
          style: "width: 10%; max-width: 100px"
        },
        {
          name: "delete",
          label: "ลบ",
          align: "center",
          style: "width: 7%; max-width: 100px;"
        },
        {
          name: "edit",
          label: "แก้ไข",
          align: "center",
          style: "width: 7%; max-width: 100px"
        }
      ],
      data: [],
      isLoading: false,
      translationVdoTemp: []
    };
  },
  methods: {
    // เพิ่มข้อมูล ปุ่มชั่วคราว
    // async testBtn() {
    //   let c = 0;
    //   // console.log("amm");
    //   // db.collection("practicelist")
    //   //   .where("practicetype", "==", "translation")
    //   //   .get()
    //   //   .then(pracKeyTran => {
    //   //     pracKeyTran.forEach(element => {
    //   //       // console.log("practicekey : ");
    //   //       // console.log(element.id);
    //   //       db.collection("practicepool_server")
    //   //         .where("practicekey", "==", element.id)
    //   //         .get()
    //   //         .then(pracnum => {
    //   //           pracnum.forEach(prackeynum => {
    //   //             c++;
    //   //             // console.log("amm");
    //   //             // console.log(prackeynum.id);
    //   //             db.collection("practicepool_server")
    //   //               .doc(prackeynum.id)
    //   //               .update({ practicetype: "translation" })
    //   //               .then(() => {
    //   //                 console.log("complete");
    //   //               });
    //   //           });
    //   //           // console.log(element.data().level, element.data().unit);
    //   //           // console.log(c);
    //   //         });
    //   //     });
    //   //   });

    //   let test1 = await db
    //     .collection("practicepool_draft")
    //     .where("practicetype", "==", "translation")
    //     .get();

    //   let test2 = await db
    //     .collection("practicepool_server")
    //     .where("practicetype", "==", "translation")
    //     .get();

    //   console.log(test1.size, test2.size);
    // },
    // ---------ปุ่มเพิ่ม----------------
    addBtn() {
      // ไปหน้าเพิ่มข้อมูล
      this.$router.push("/practice/translationadd/" + this.$route.params.key);
    },
    // ---------ปุ่มแก้ไข----------------
    editBtn(key, index) {
      // ไปยังหน้าแก้ไขข้อมูล
      this.$q.localStorage.set("translationData", this.data[index]);
      this.$router.push(
        "/practice/translationedit/" + this.$route.params.key + "/" + key
      );
    },

    deleteOnBtn(key) {
      // console.log("deleteOn");
      this.$q
        .dialog({
          title: "คุณต้องการลบข้อมูลใช่หรือไม่",
          dark: true,
          cancel: "ยกเลิก",
          ok: "ตกลง"
        })
        .onOk(() => {
          db.collection("practicepool_draft")
            .doc(key)
            .update({ status: "delete" });
        });
    },
    deleteOffBtn(key) {
      // console.log("deleteOff");
      db.collection("practicepool_draft")
        .doc(key)
        .update({ status: "added" });
    },
    // ------------ปุ่มปริ้น------------
    printBtn() {
      // this.$router.push("/practice/translation/print");
      this.$router.push({
        name: "translationprint",
        params: {
          data: this.data,
          level: this.level,
          unit: this.unit,
          practicename: this.practicename,
          practicenameth: this.practicenameth,
          key: this.$route.params.key,
          name: this.translationVdoTemp
        }
      });
    },
    // ----------- ปุ่ม Help เพิ่ม VDO --------------
    helpBtn() {
      this.$router.push("/practice/translationvdo/" + this.$route.params.key);
    },

    // --------- โหลดข้อมูลของ translation ----------
    loadData() {
      // โหลดข้อมูลแบบฝึกหัดมาโชว์
      this.loadingShow();
      this.loadDataName();
      let collectionName = "practicepool_draft";
      if (!this.status) {
        collectionName = "practicepool_server";
      }
      this.isLoading = false;
      db.collection(collectionName)
        .where("practicekey", "==", this.$route.params.key)
        .onSnapshot(doc => {
          let dataTemp = [];
          doc.forEach(async element => {
            let namevdo = "";
            let key = { key: element.id, name: namevdo };
            let final = { ...element.data(), ...key };

            dataTemp.push(final);
            dataTemp.sort((a, b) => {
              return a.order - b.order;
            });
            dataTemp.forEach((element, index) => {
              element.no = index + 1;
            });
          });

          db.collection("vdotranslation")
            .get()
            .then(tran => {
              let tranTemp = [];
              tran.forEach(element => {
                let dataFinal = { key: element.id, ...element.data() };
                tranTemp.push(dataFinal);
              });

              this.translationVdoTemp = tranTemp;
              this.data = dataTemp;
              this.isLoading = true;
              this.loadingHide();
            });
        });
    },
    loadDataName() {
      // console.log("amm");
      let key = this.$route.params.key;
      db.collection("practicelist")
        .doc(key)
        .get()
        .then(doc => {
          // console.log(doc.data().level);
          // console.log(doc.data().unit);
          // console.log(doc.data().skill);
          this.level = doc.data().level;
          this.unit = doc.data().unit;
          db.collection("practiceListName")
            .where("level", "==", doc.data().level.toString())
            .where("unit", "==", doc.data().unit.toString())
            .where("skill", "==", doc.data().skill)
            .get()
            .then(doc2 => {
              // console.log(doc2.docs[0].data().name);
              this.practicename = doc2.docs[0].data().name;
              this.practicenameth = doc2.docs[0].data().nameth;
            });
        });
    }
  },

  mounted() {
    this.$q.localStorage.remove("translationData");
    this.loadData();
  }
};
</script>

<style scoped>
</style>