<template>
  <div>
    <div align="center ">
      <div class="row col-12 relative-position q-px-sm">
        <div class="q-pa-md f24 absolute-center">Translation Help</div>
        <div class="q-pa-lg col-12" align="right">
          <q-btn @click="addBtn()" round class="cl2 bg1" icon="fas fa-plus" />
        </div>
      </div>

      <div class="q-pa-md q-mx-lg bg3" style>
        <q-table
          drak
          grid
          :data="vdoHelp"
          :columns="columns"
          row-key="name"
          :filter="filter"
          hide-header
          :pagination.sync="pagination"
          :rows-per-page-options="[0]"
        >
          <template v-slot:item="props">
            <div class="q-pa-sm col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <q-card class="bg4">
                <div class="q-pa-md brx" align="center">
                  <div class="q-pb-sm">{{props.row.order}} - {{props.row.name}}</div>
                  <div
                    @click="vdoClick(props.row.no-1)"
                    class="cursor-pointer"
                    style="width: 320px; height: 180px"
                  >
                    <q-img
                      style="width: 320px; height: 180px; object-fit:scale-down"
                      :src="props.row.imageURL"
                      alt
                    >
                      <div class="absolute-center bg-transparent">
                        <q-icon
                          class="far fa-play-circle text-black"
                          style="opacity: 0.6"
                          size="100px"
                        />
                      </div>
                    </q-img>
                  </div>

                  <div class="col-12 q-pa-sm row justify-end">
                    <div>
                      <q-btn
                        @click="deleteBtn(props.row.key)"
                        size="md"
                        color="amber-13"
                        round
                        icon="fas fa-trash-alt"
                        class="text-black"
                      />
                    </div>
                    <div class="q-pl-md">
                      <q-btn
                        @click="editBtn(props.row.no-1)"
                        size="md"
                        color="amber-13"
                        round
                        icon="fas fa-edit"
                        class="text-black"
                      />
                    </div>
                  </div>
                </div>
              </q-card>
            </div>
          </template>
        </q-table>
      </div>
      <q-dialog v-model="vdoShow" persistent>
        <q-card class="bg4" style="width:500px">
          <q-card-section class="row items-center">
            <div class="text-h6">วีดีโอ</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section>
            <video style="width: 100%;" controls :poster="vdoPoster">
              <source :src="vdo" type="video/mp4" />
            </video>
          </q-card-section>
        </q-card>
      </q-dialog>
      <q-dialog v-model="vdoUse" persistent>
        <q-card class="bg4" style="width:500px">
          <q-card-section class="row items-center">
            <div class="text-h6">วีดีโอมีการถูกใช้งานอยู่</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section>
            <div class="row">
              <div class="col-6">โหมดแบบร่าง</div>
              <div class="col-6">โหมดเซิฟเวอร์</div>
              <div class="col-6">
                <div
                  v-for="(item, index) in levelUnitUseDraft"
                  :key="index"
                >L{{item.level}} / U{{item.unit}}</div>
              </div>
            </div>
            <div class="col-6">
              <div
                v-for="(item, index) in levelUnitUseServer"
                :key="index"
              >L{{item.level}} / U{{item.unit}}</div>
            </div>
          </q-card-section>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
import { st } from "../../router/index.js";
export default {
  data() {
    return {
      vdoHelp: [],
      pagination: {
        rowsPerPage: 6
      },
      filter: "",
      columns: [],
      selected: [],
      vdoShow: false,
      vdoUse: false,
      vdo: "",
      vdoPoster: "",
      levelUnitUseDraft: [],
      levelUnitUseServer: []
    };
  },
  methods: {
    addBtn() {
      this.$router.push(
        "/practice/translationvdoadd/" + this.$route.params.key
      );
    },
    loadData() {
      // console.log("load data");
      db.collection("vdotranslation").onSnapshot(doc => {
        let dataTemp = [];
        doc.forEach(element => {
          // console.log(element);
          let key = { key: element.id };
          let final = { ...element.data(), ...key };
          dataTemp.push(final);
        });
        dataTemp.sort((a, b) => {
          return a.order - b.order;
        });
        dataTemp.forEach((element, index) => {
          element.no = index + 1;
        });
        this.vdoHelp = dataTemp;
        // console.log(this.vdoHelp);
      });
    },
    editBtn(index) {
      // console.log(this.vdoHelp[index]);
      this.$q.localStorage.set("translationVDO", this.vdoHelp[index]);
      this.$router.push(
        "/practice/translationvdoedit/" +
          this.$route.params.key +
          "/" +
          this.vdoHelp[index].key
      );
    },
    deleteBtn(key) {
      this.$q
        .dialog({
          title: "คุณต้องการลบวีดีโอนี้ใช่หรือไม่",
          dark: true,
          cancel: "ยกเลิก",
          ok: "ตกลง"
        })
        .onOk(async () => {
          console.log("ลบ");
          this.loadingShow();

          let dataDraft = await db
            .collection("practicepool_draft")
            .where("help", "==", key)
            .get();
          let dataServer = await db
            .collection("practicepool_server")
            .where("help", "==", key)
            .get();

          if (dataDraft.size > 0 || dataServer.size > 0) {
            this.vdoUse = true;
            // ประกาศตัวแปลใช้ด้านใน

            let draftUse = [];
            let draft;
            let serverUse = [];
            let server;

            // ----------------------เปิดดราฟ
            if (dataDraft.size > 0) {
              dataDraft.forEach(element => {
                // console.log(element.id);

                let data = {
                  level: element.data().level,
                  unit: element.data().unit
                };
                let final = { ...data };
                draftUse.push(final);
                draft = draftUse.filter(x => {
                  return x.level == element.data().level;
                });
              });

              draft = draft.filter(
                (thing, index, self) =>
                  index ===
                  self.findIndex(
                    t => t.level === thing.level && t.unit === thing.unit
                  )
              );

              this.levelUnitUseDraft = draft;
            }
            //-------------------จบของดราฟ
            //-------------------เปิดเซิฟเวอร์
            if (dataServer > 0) {
              dataServer.forEach(element => {
                console.log(element.id);

                let data = {
                  level: element.data().level,
                  unit: element.data().unit
                };
                let final = { ...data };
                serverUse.push(final);
                server = serverUse.filter(x => {
                  return x.level == element.data().level;
                });
              });
              server = server.filter(
                (thing, index, self) =>
                  index ===
                  self.findIndex(
                    t => t.level === thing.level && t.unit === thing.unit
                  )
              );

              this.levelUnitUseServer = server;
            }
            //-------------------จบเซิฟเวอร์

            db.collection("practicelist").get();

            this.loadingHide();
          } else {
            // ลบวีดีโอ ถ้าไม่ถูกเรียกใช
            st.child("/vdo/vdotranslation/" + key + ".mp4")
              .delete()
              .then(() => {
                //ลบรูป
                st.child("/image/vdotranslation/" + key + ".jpg")
                  .delete()
                  .then(() => {
                    //ลบข้อมูล
                    db.collection("vdotranslation")
                      .doc(key)
                      .delete()
                      .then(() => {
                        this.loadingHide();
                        this.notifyGreen("ลบข้อมูลเสร็จสิ้น");
                      });
                  });
              });
          }
        });
    },

    vdoClick(no) {
      this.vdoShow = true;
      this.vdo = this.vdoHelp[no].vdoURL;
      this.vdoPoster = this.vdoHelp[no].imageURL;
    }
  },

  mounted() {
    this.loadData();
  }
};
</script>

<style scoped>
</style>