<template>
  <div class="bg6">
    <div id="printBtn">
      <q-toolbar class="bg-black text-white">
        <q-toolbar-title>
          <!-- <span>แบบฝึกหัด Translation</span> -->
        </q-toolbar-title>
        <q-btn
          class="q-mr-md"
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-print"
          @click="printBtn()"
        />
        <q-btn
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-times"
          @click="closeBtn()"
        />
      </q-toolbar>
    </div>

    <div class="q-pb-sm" align="center">
      <div class="printMe shadow-1 paper-a4 q-my-lg cl2">
        <div class="q-pa-md">
          <!-- หัวกระดาษ -->
          <div class="box q-pa-md row rounded-borders">
            <div class="col-4 relative-position">
              <div class="absolute-center">
                <img src="../../statics/image/logowinner.png" alt style="width: 200px" />
              </div>
            </div>
            <div class="col-8 items-center row">
              <div class="text-h6 items-center col-12" align="center">
                <span>Translation | L{{level}} U{{unit}}</span>
                <hr style="width: 300px" />
                <span>Writing</span>
              </div>
            </div>
          </div>
          <!-- เนื้อหาในกระดาษ -->
          <div class="q-py-md">
            <span class="text-h6 q-py-sm">{{practicename}}</span>
            <br />
            <span class="text-h6 q-py-sm">{{practicenameth}}</span>
            <table class="text-h6" style="width:100%; border-collapse: collapse;">
              <thead>
                <tr style="height: 20px;"></tr>
              </thead>
              <tbody>
                <tr v-for="(x,index) in this.data" :key="index">
                  <td class="brtop box" style="width:40px" align="center">{{x.no}}</td>
                  <td class="brtop box q-pa-sm">
                    <span class="fonten" v-html="x.questionThai"></span>

                    <br v-show="!x.except" />
                    <div class="row" v-show="!x.except">
                      <div
                        class="q-py-sm q-pr-sm"
                        v-for="(words,index) in x.showWords"
                        :key="index"
                      >
                        <div class="q-px-md q-py-xs bg-grey-5">{{ words }}</div>
                      </div>
                    </div>
                    <br v-show="x.except" />
                    <span class="fonten" v-html="x.questionEng"></span>
                    <br v-show="!x.except" />

                    <!-- <span
                      v-show="!x.except"
                    >ช่วยเหลือ : {{name.filter(a => { return a.key == x.help }).map(e => { return e.name})[0] }}</span>-->
                    <br v-show="x.status == 'delete'" />
                    <span v-show="x.status == 'delete'">สถานะ : รอการลบ</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: this.$route.params.name,
      data: this.$route.params.data,
      // classData: this.$route.params.classData,
      level: this.$route.params.level,
      unit: this.$route.params.unit,
      practicename: this.$route.params.practicename,
      practicenameth: this.$route.params.practicenameth
    };
  },
  methods: {
    closeBtn() {
      this.$router.go(-1);
    },
    printBtn() {
      window.print();
    }
  },
  mounted() {
    if (this.level == undefined) {
      this.$router.go(-1);
    }
  }
};
</script>

<style scoped>
.fonten {
  font-size: 18px;
}
.brtop {
  border-top: 1px solid;
}
.box {
  border: 1px solid #5c5c5c;
}
.paper-a4 {
  background: #ffffff;
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}
@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }

  #printBtn {
    display: none;
  }
  .bg6 {
    background: #ffffff;
  }
}
@page {
  margin: 0mm;
  width: 210mm;
  height: 297mm;
  /* size: landscape; portrait */
}
</style>