<template>
  <div>
    <div align="center">
      <div class="q-pa-md f24">Translation | {{practicename}} | L{{data.level}} U{{data.unit}}</div>
      <div class="row" style="width: 900px;">
        <div class="col-12 q-py-sm">
          <q-input
            color="amber-13"
            dark
            square
            outlined
            v-model="data.order"
            type="number"
            label="รหัสลำดับ"
            :rules="[val => val != '']"
            hide-bottom-space
          />
        </div>
        <div class="col-12 q-py-sm text-left">
          <!-- <q-input
            color="amber-13"
            dark
            square
            outlined
            v-model="data.questionThai"
            label="โจทย์ภาษาไทย"
            :rules="[val => val != '']"
            hide-bottom-space
          />-->
          <div>โจทย์ภาษาไทย</div>
          <q-editor
            class="box"
            dark
            v-model.trim="data.questionThai"
            :rules="[val => val != '']"
            :toolbar="[
              ['bold', 'italic', 'underline'],
            ]"
          />
        </div>
        <div class="col-12 q-py-sm text-left">
          <div>ประโยคที่ถูกต้อง *ต้องใช้ตัวขีดเส้นใต้สำหรับแบบฝึกหัด</div>
          <q-editor
            class="box"
            dark
            v-model.trim="data.questionEng"
            :toolbar="[
              ['bold', 'italic', 'underline'],
            ]"
          />
        </div>
        <div class="col-12 q-py-sm" align="left">
          <q-checkbox color="amber-13" dark v-model="data.except" @input="changeExcept()" />ประโยคละเว้น
        </div>
        <div class="col-12 row" v-show="data.except == false">
          <div class="col-12 q-py-sm">
            <q-input
              color="amber-13"
              dark
              square
              outlined
              v-model="data.questionExtra"
              label="คำหลอกในประโยค"
            />
          </div>
          <!-- <div class="col-12 q-py-sm">
            <q-select
              color="amber-13"
              dark
              square
              outlined
              emit-value
              map-options
              v-model="data.help"
              :options="vdoHelp"
              label="วีดีโอช่วยเหลือ"
            />
          </div>-->

          <div class="col-12 q-py-sm" v-show="resultWord">
            <div class="row">
              <div class="col-12" align="center">ผลลัพธ์</div>
              <div class="col-12 row">
                <div class="q-pa-sm" v-for="(words,index) in resultWord" :key="index">
                  <div class="q-pa-sm bg-white text-black">{{ words }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row col-12 q-py-sm justify-center">
          <div class="q-pa-sm">
            <q-btn class="bg7 cl3" label="ยกเลิก" style="width:120px" @click="cancelBtn()" />
          </div>
          <div class="q-pa-sm">
            <q-btn
              class="bg1 cl3"
              label="บันทึก"
              style="width:120px"
              @click="saveBtn()"
              :disable="isDulpicate"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      data: {
        order: "",
        questionThai: "",
        questionEng: "",
        except: false,
        questionExtra: "",
        help: "", // เก็บเป็นชื่อคีย์ไฟล์
        level: this.$q.localStorage
          .getItem("practicemainLevelCurrent")
          .label.toString(),
        unit: this.$q.localStorage
          .getItem("practicemainUnitCurrent")
          .toString(),
        practicekey: this.$route.params.key,
        practicetype: "translation"
      },
      orderOld: "",
      vdoHelp: [],
      practicename: this.$q.localStorage.getItem("practiceName"),
      isDulpicate: false
    };
  },
  methods: {
    changeExcept() {
      if (this.data.except) {
        if (this.data.questionExtra) {
          this.$q
            .dialog({
              title: "คุณต้องการให้เป็นประโยคละเว้นใช่หรือไม่",
              message: "ข้อมูลที่อยู่ในคำหลอกประโยคจะถูกรีเซ็ท",
              ok: "ตกลง",
              cancel: "ยกเลิก",
              dark: true
            })
            .onOk(() => {
              (this.data.questionExtra = ""), (this.data.help = "");
            })
            .onCancel(() => {
              this.data.except = false;
            });
        }
      }
    },
    checkText() {
      // console.clear();
      if (this.data.questionExtra.length > 0) {
        let extractWord = this.data.questionEng.match(
          /<\s*u[^>]*>(.*?)<\s*\/\s*u>/g
        );
        let underlineWords = [];
        if (extractWord) {
          for (let i = 0; i < extractWord.length; i++) {
            let word = extractWord[i].replace(/(<([^>]+)>)/gi, "");
            word = word.replace(/&nbsp;/g, " ");
            underlineWords.push(word);
          }
        }
        let newWord = this.data.questionExtra.split(" ");
        let checkWord = "";

        // console.log(underlineWords);
        for (let z = 0; z < newWord.length; z++) {
          checkWord = underlineWords.filter(x => {
            return x == newWord[z];
          });
          // console.log(checkWord);
          // console.log(newWord[z]);
          if (checkWord == newWord[z] && checkWord.length > 0) {
            this.notifyRed("คำหลอกซ้ำกับประโยคคำถาม");
            this.isDulpicate = true;
            break;
          } else {
            this.isDulpicate = false;
          }
        }
      }
    },

    async saveBtn() {
      // console.clear();
      this.loadingShow();

      // เช็คการกรอกข้อมูล  รหัสลำดับ/โจทย์ภาษาไทย/ประโยคที่ถูกต้อง
      if (this.data.order == "") {
        this.notifyRed("กรุณากรอกเลขลำดับ");
        this.loadingHide();
        return;
      }
      if (this.data.questionThai == "") {
        this.notifyRed("กรุณากรอกโจทย์ภาษาไทย");
        this.loadingHide();
        return;
      }

      if (this.data.questionEng == "") {
        this.notifyRed("กรุณากรอกประโยคที่ถูกต้อง");
        this.loadingHide();
        return;
      }

      this.checkText();
      if (this.isDulpicate) {
        this.loadingHide();
        this.isDulpicate = false;
        return;
      }
      this.isDulpicate = true;
      let extractWord = this.data.questionEng.match(
        /<\s*u[^>]*>(.*?)<\s*\/\s*u>/g
      );

      if (this.data.except == true) {
        if (extractWord != null) {
          this.$q.notify({
            position: "top",
            color: "negative",
            message:
              'หากต้องการให้ข้อนี้เป็น "ประโยคละเว้น" ต้องไม่มีการขีดเส้นใต้ใน "ประโยคที่ถูกต้อง"',
            timeout: 4000
          });
          this.loadingHide();
          return;
        }
      } else {
        if (extractWord == null) {
          this.$q.notify({
            position: "top",
            color: "negative",
            message:
              'หากต้องการให้ข้อนี้เป็น "แบบฝึกหัด" ต้องมีการขีดเส้นใต้ใน "ประโยคที่ถูกต้อง"',
            timeout: 4000
          });
          this.loadingHide();
          this.isDulpicate = false;
          return;
        }
      }

      if (this.data.except) {
        this.data.questionExtra = "";
        this.data.help = "";
      }

      // เช็คซ้ำ
      let checkData = await db
        .collection("practicepool_draft")
        .where("practicekey", "==", this.$route.params.key)
        .where("order", "==", this.data.order)
        .get();
      this.data.status = "added";
      // this.loadingShow();
      if (this.$route.name == "translationadd") {
        // หน้าเพิ่มแบบฝึกหัด
        if (checkData.size > 0) {
          this.notifyRed("รหัสลำดับซ้ำ");
          this.loadingHide();
          this.isDulpicate = false;
          return;
        }

        this.data.level = this.data.level;
        // console.log(this.data.level);
        // เพิ่มข้อมูลเข้าดาต้าเบส
        db.collection("practicepool_draft")
          .add(this.data)
          .then(() => {
            this.notifyGreen("บันทึกข้อมูลสำเร็จ");
            this.loadingHide();
            this.$router.push("/practice/translation/" + this.data.practicekey);
          });
      } else {
        // หน้าแก้ไขข้อมูล
        if (this.data.order == this.orderOld) {
          // รหัสลำดับเดิม
          db.collection("practicepool_draft")
            .doc(this.$route.params.translationkey)
            .update(this.data)
            .then(() => {
              this.notifyGreen("บันทึกข้อมูลสำเร็จ");
              this.loadingHide();
              this.$router.push(
                "/practice/translation/" + this.data.practicekey
              );
            });
        } else {
          // รหัสลำดับใหม่
          if (checkData.size > 0) {
            this.notifyRed("รหัสลำดับซ้ำ");
            this.loadingHide();
            this.isDulpicate = false;
            return;
          }
          db.collection("practicepool_draft")
            .doc(this.$route.params.translationkey)
            .update(this.data)
            .then(() => {
              this.notifyGreen("บันทึกข้อมูลสำเร็จ");
              this.loadingHide();
              this.$router.push(
                "/practice/translation/" + this.data.practicekey
              );
            });
        }
      }
    },
    cancelBtn() {
      this.$router.push("/practice/translation/" + this.data.practicekey);
    },
    loadVdoHelp() {
      db.collection("vdotranslation")
        .get()
        .then(doc => {
          doc.forEach(element => {
            // console.log(element.id);

            let data = {
              value: element.id,
              label: element.data().name
            };
            this.vdoHelp.push(data);
          });
          if (this.$route.name == "translationedit") {
            this.data.help = this.$q.localStorage.getItem(
              "translationData"
            ).help;
          } else {
            this.data.help = this.vdoHelp[0].value;
          }
        });
    }
  },

  mounted() {
    this.loadVdoHelp();

    if (this.$route.name == "translationedit") {
      this.data.order = this.$q.localStorage.getItem("translationData").order;
      this.orderOld = this.$q.localStorage.getItem("translationData").order;
      this.data.questionThai = this.$q.localStorage.getItem(
        "translationData"
      ).questionThai;
      this.data.questionEng = this.$q.localStorage.getItem(
        "translationData"
      ).questionEng;
      this.data.except = this.$q.localStorage.getItem("translationData").except;
      this.data.questionExtra = this.$q.localStorage.getItem(
        "translationData"
      ).questionExtra;
      this.help = this.$q.localStorage.getItem("translationData").help;
    }
  },
  computed: {
    resultWord() {
      if (this.data.questionEng.length) {
        let extractWord = this.data.questionEng.match(
          /<\s*u[^>]*>(.*?)<\s*\/\s*u>/g
        );
        let underlineWords = [];
        if (extractWord) {
          for (let i = 0; i < extractWord.length; i++) {
            let word = extractWord[i].replace(/(<([^>]+)>)/gi, "");
            word = word.replace(/&nbsp;/g, " ");
            underlineWords.push(word);
          }
        }

        // console.log(underlineWords);
        let newQuestionEng;
        let copyQuestion = this.data.questionEng;
        copyQuestion = copyQuestion.replace(/<[^>]*>/g, "");
        // ลบ HTML Tags
        if (underlineWords.length) {
          for (let j = 0; j < underlineWords.length; j++) {
            // console.log(underlineWords[j]);
            if (underlineWords[j] != "?" && underlineWords[j] != "!") {
              let reg = new RegExp("\\b" + underlineWords[j].trim());
              copyQuestion = copyQuestion.replace(reg, "");
            } else {
              console.log("ammmm");
              // let reg = new RegExp(underlineWords[j].trim());
              copyQuestion = copyQuestion.replace(underlineWords[j], "");
            }
          }
        }

        newQuestionEng = copyQuestion.replace(/&nbsp;/g, " ");
        newQuestionEng = newQuestionEng.replace(/\./g, " .");
        newQuestionEng = newQuestionEng.replace(/\?/g, " ?");
        newQuestionEng = newQuestionEng.replace(/\!/g, " !");

        // console.log(newQuestionEng);
        newQuestionEng = newQuestionEng.split(" ");
        let newQuestionEngArr = newQuestionEng.filter(x => {
          return x != "";
        });
        let freakWords = this.data.questionExtra;

        let freakWordsArr = freakWords.split(" ");
        freakWordsArr = freakWordsArr.filter(x => {
          return x != "";
        });

        // อาเรย์ที่ได้จากการตัดคำของช่องประโยคที่ถูกต้อง ผสมกับ อาเรย์ที่ได้จากการตัดคำหลอก
        let mergeArr = [
          ...freakWordsArr,
          // ...newQuestionEngArr,
          ...underlineWords
        ];

        this.shuffle(mergeArr);
        this.data.showWords = mergeArr;
        return mergeArr;
      }
    }
  }
};
</script>

<style scoped>
</style>