<template>
  <div class>
    <div align="center">
      <div class="row justify-center">
        <div class="q-pa-lg f24">{{titleName}}</div>
      </div>
      <div class style="width: 800px">
        <div class="q-pb-sm">
          <q-input
            color="amber-13"
            dark
            square
            outlined
            v-model="data.order"
            label="รหัสลำดับ"
            :rules="[val => val != '']"
            hide-bottom-space
          />
        </div>
        <div class="q-py-sm">
          <q-input
            color="amber-13"
            dark
            square
            outlined
            v-model="data.name"
            label="ชื่อเรื่อง"
            :rules="[val => val != '']"
            hide-bottom-space
          />
        </div>
        <div class="q-py-sm">
          <div class="q-pa-md rounded-borders" style="max-width: 500px; border: 1px solid #909090">
            <img
              v-if="data.imageURL == ''"
              class
              src="../../statics/image/noimage.jpg"
              alt
              style="width: 320px; height:180px"
            />
            <img
              v-else
              :src="data.imageURL"
              style="max-width: 320px; width: 100%; height:180px object-fit:scale-down "
              controls
            />
            <br />
            <div class="row" v-show="data.imageURL == ''">
              <div class="q-px-md">
                <span class>รูปภาพหน้าปก&nbsp;</span>
              </div>
              <div class>
                <q-input
                  v-model="fileImage"
                  accept="image/jpeg"
                  class
                  dark
                  @input="val => { file = val[0] }"
                  filled
                  type="file"
                  style="width: 300px; height: 40px"
                />
              </div>
            </div>
            <div v-show="data.imageURL != ''">
              <q-btn
                class="bg1 cl2 q-my-sm"
                style="width: 150px"
                label="ลบรูปภาพ"
                @click="deleteImage()"
              />
            </div>
          </div>
        </div>
        <div class="q-py-sm">
          <div class="q-pa-md rounded-borders" style="max-width: 500px; border: 1px solid #909090">
            <img v-if="data.vdoURL == ''" class src="../../statics/image/novideo.jpg" alt />
            <video
              v-else
              :src="data.vdoURL"
              style="max-width: 320px; width: 100%; height:180px"
              controls
            />
            <br />
            <div v-show="data.vdoURL == ''" class="row" align="center">
              <span class="q-px-md">วีดีโอ&nbsp;</span>
              <q-input
                v-model="fileVdo"
                accept="video/mp4"
                dark
                @input="val => { file = val[0] }"
                filled
                type="file"
                style="height: 50px"
              />
            </div>
            <div v-show="data.vdoURL != ''">
              <q-btn
                class="bg1 cl2 q-my-sm"
                style="width: 150px"
                label="ลบวีดีโอ"
                @click="deleteVDO()"
              />
            </div>
            <div></div>
          </div>
        </div>
        <div class="row col-12 q-py-sm justify-center">
          <div class="q-pa-sm">
            <q-btn class="bg7 cl3" label="ยกเลิก" style="width:120px" @click="cancelBtn()" />
          </div>
          <div class="q-pa-sm">
            <q-btn class="bg1 cl3" label="บันทึก" style="width:120px" @click="saveBtn()" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
import { st } from "../../router/index.js";
import { async } from "q";
export default {
  data() {
    return {
      titleName: "",
      data: {
        order: "",
        name: "",
        imageURL: "",
        vdoURL: ""
      },
      fileImage: "",
      fileVdo: "",
      orderOld: "",
      nameOld: ""
    };
  },
  methods: {
    async saveBtn() {
      //เช็คการกรอกข้อมูล

      if (this.data.order == "") {
        this.notifyRed("กรุณากรอกรหัสลำดับ");
        return;
      }
      if (this.data.name == "") {
        this.notifyRed("กรุณากรอกชื่อเรื่อง");
        return;
      }

      let imageHave = this.fileImage.length;
      let vdoHave = this.fileVdo.length;
      let page = this.$route.name;

      let checkOrder = await db
        .collection("vdotranslation")
        .where("order", "==", this.data.order)
        .get();
      let checkName = await db
        .collection("vdotranslation")
        .where("name", "==", this.data.name)
        .get();

      this.loadingShow();

      if (page == "translationvdoadd") {
        // เช็ครหัสซ้ำ
        if (checkOrder.size > 0) {
          this.notifyRed("รหัสลำดับซ้ำ");
          this.loadingHide();
          return;
        }
        if (checkName.size > 0) {
          this.notifyRed("ชื่อซ้ำ");
          this.loadingHide();
          return;
        }
        if (imageHave <= 0) {
          this.notifyRed("ไม่ได้เลือกรูปภาพ");
          this.loadingHide();
          return;
        }
        if (vdoHave <= 0) {
          this.notifyRed("ไม่ได้เลือกวีดีโอ");
          this.loadingHide();
          return;
        }

        //เพิ่มข้อมูล
        let vdotranslation = await db
          .collection("vdotranslation")
          .add(this.data);

        let getImage = await st
          .child("image/vdotranslation/" + vdotranslation.id + ".jpg")
          .put(this.fileImage[0]);

        let getImageURL = await getImage.ref.getDownloadURL();

        await db
          .collection("vdotranslation")
          .doc(vdotranslation.id)
          .update({
            imageURL: getImageURL
          });

        let getVdo = await st
          .child("vdo/vdotranslation/" + vdotranslation.id + ".mp4")
          .put(this.fileVdo[0]);

        let getVdoURL = await getVdo.ref.getDownloadURL();

        await db
          .collection("vdotranslation")
          .doc(vdotranslation.id)
          .update({
            vdoURL: getVdoURL
          });

        this.loadingHide();
        this.notifyGreen("บันทึกข้อมูลสำเร็จ");
        this.$router.push("/practice/translationvdo/" + this.$route.params.key);
      } else {
        // แก้ไข
        if (this.data.imageURL == "" && imageHave <= 0) {
          this.notifyRed("ไม่ได้เลือกรูปภาพ");
          this.loadingHide();
          return;
        }
        if (this.data.vdoURL == "" && vdoHave <= 0) {
          this.notifyRed("ไม่ได้เลือกวีดีโอ");
          this.loadingHide();
          return;
        }
        let vdoKey = this.$route.params.vdokey;

        if (this.data.order == this.orderOld) {
          if (checkName.size > 0) {
            this.notifyRed("ชื่อซ้ำ");
            this.loadingHide();
            return;
          }
          if (imageHave > 0) {
            // บันทึกภาพ
            let getImage = await st
              .child("image/vdotranslation/" + vdoKey + ".jpg")
              .put(this.fileImage[0]);

            let getImageURL = await getImage.ref.getDownloadURL();

            await db
              .collection("vdotranslation")
              .doc(vdoKey)
              .update({
                imageURL: getImageURL
              });
          }

          if (vdoHave > 0) {
            // บันทึกวีดีโอ
            let getVdo = await st
              .child("vdo/vdotranslation/" + vdoKey + ".mp4")
              .put(this.fileVdo[0]);

            let getVdoURL = await getVdo.ref.getDownloadURL();

            await db
              .collection("vdotranslation")
              .doc(vdoKey)
              .update({
                vdoURL: getVdoURL
              });
          }

          await db
            .collection("vdotranslation")
            .doc(this.$route.params.vdokey)
            .update({
              name: this.data.name
            });

          this.notifyGreen("บันทึกข้อมูลสำเร็จ");
          this.loadingHide();
          this.$router.push(
            "/practice/translationvdo/" + this.$route.params.key
          );
        } else if (this.data.name == this.nameOld) {
          if (checkOrder.size > 0) {
            this.notifyRed("รหัสลำดับซ้ำ");
            this.loadingHide();
            return;
          }

          if (imageHave > 0) {
            // บันทึกภาพ
            let getImage = await st
              .child("image/vdotranslation/" + vdoKey + ".jpg")
              .put(this.fileImage[0]);

            let getImageURL = await getImage.ref.getDownloadURL();

            await db
              .collection("vdotranslation")
              .doc(vdoKey)
              .update({
                imageURL: getImageURL
              });
          }

          if (vdoHave > 0) {
            // บันทึกวีดีโอ
            let getVdo = await st
              .child("vdo/vdotranslation/" + vdoKey + ".mp4")
              .put(this.fileVdo[0]);

            let getVdoURL = await getVdo.ref.getDownloadURL();

            await db
              .collection("vdotranslation")
              .doc(vdoKey)
              .update({
                vdoURL: getVdoURL
              });
          }

          await db
            .collection("vdotranslation")
            .doc(this.$route.params.vdokey)
            .update({
              name: this.data.name
            });

          this.notifyGreen("บันทึกข้อมูลสำเร็จ");
          this.loadingHide();
          this.$router.push(
            "/practice/translationvdo/" + this.$route.params.key
          );
        } else {
          if (checkOrder.size > 0) {
            this.notifyRed("รหัสลำดับซ้ำ");
            this.loadingHide();
            return;
          }
          if (checkName.size > 0) {
            this.notifyRed("ชื่อซ้ำ");
            this.loadingHide();
            return;
          }

          if (imageHave > 0) {
            // บันทึกภาพ
            let getImage = await st
              .child("image/vdotranslation/" + vdoKey + ".jpg")
              .put(this.fileImage[0]);

            let getImageURL = await getImage.ref.getDownloadURL();

            await db
              .collection("vdotranslation")
              .doc(vdoKey)
              .update({
                imageURL: getImageURL
              });
          }

          if (vdoHave > 0) {
            // บันทึกวีดีโอ
            let getVdo = await st
              .child("vdo/vdotranslation/" + vdoKey + ".mp4")
              .put(this.fileVdo[0]);

            let getVdoURL = await getVdo.ref.getDownloadURL();

            await db
              .collection("vdotranslation")
              .doc(vdoKey)
              .update({
                vdoURL: getVdoURL
              });
          }

          await db
            .collection("vdotranslation")
            .doc(this.$route.params.vdokey)
            .update({
              order: this.data.order,
              name: this.data.name
            });

          this.notifyGreen("บันทึกข้อมูลสำเร็จ");
          this.loadingHide();
          this.$router.push(
            "/practice/translationvdo/" + this.$route.params.key
          );
        }
      }
    },
    cancelBtn() {
      this.$router.push("/practice/translationvdo/" + this.$route.params.key);
    },
    deleteImage() {
      // console.log("ลบภาพ");
      this.$q
        .dialog({
          title: "คุณต้องการรูปภาพใช่หรือไม่",
          dark: true,
          cancel: "ยกเลิก",
          ok: "ตกลง"
        })
        .onOk(() => {
          // db.collection("vdotranslation")
          //   .doc(this.$route.params.vdokey)
          //   .update({ imageURL: "" });
          this.data.imageURL = "";
        });
    },
    deleteVDO() {
      // console.log("ลบวีดีโอ");
      this.$q
        .dialog({
          title: "คุณต้องการวีดีโอใช่หรือไม่",
          dark: true,
          cancel: "ยกเลิก",
          ok: "ตกลง"
        })
        .onOk(() => {
          // db.collection("vdotranslation")
          //   .doc(this.$route.params.vdokey)
          //   .update({ imageURL: "" });
          this.data.vdoURL = "";
        });
    }

    // test(test) {
    //   let reader = new FileReader();
    //   let image = document.querySelector("input");

    //   console.log("amm");
    //   // reader.onload = function(e) {

    //   // };
    //   // image.src = e.target.result;

    //   var canvas = document.createElement("canvas");
    //   //var canvas = $("<canvas>", {"id":"testing"})[0];
    //   var ctx = canvas.getContext("2d");
    //   ctx.drawImage(image, 0, 0);

    //   var MAX_WIDTH = 400;
    //   var MAX_HEIGHT = 400;
    //   var width = image.width;
    //   var height = image.height;
    //   console.log(image.width);

    //   // console.log(image.width);
    // }
  },

  mounted() {
    this.titleName = "เพิ่มวีดีโอ Translation";

    if (this.$route.name == "translationvdoedit") {
      this.titleName = "แก้ไขวีดีโอ Translation";
      this.data = this.$q.localStorage.getItem("translationVDO");
      this.orderOld = this.$q.localStorage.getItem("translationVDO").order;
      this.nameOld = this.$q.localStorage.getItem("translationVDO").name;
    }
  }
};
</script>

<style scoped>
</style>