<template>
  <div>
    <div
      class="text-h5 q-ma-md"
      align="center"
    >Grammar lesson | L{{$q.localStorage.getItem("practicemainLevelCurrent").label}} U{{$q.localStorage.getItem("practicemainUnitCurrent")}}</div>
    <div class align="center">
      <div class="q-ma-md q-mt-lg" style="width:600px">
        <q-input
          v-model="addGrammar.order"
          type="number"
          color="amber-13"
          label="รหัสลำดับ"
          square
          outlined
          dark
        />
      </div>
      <div class="q-ma-md" style="width:600px">
        <q-input
          v-model.trim="addGrammar.slideName"
          color="amber-13"
          label="ชื่อสไลด์"
          square
          outlined
          dark
        />
      </div>
      <div style="width:623px" align="left">
        <q-checkbox v-model="addGrammar.isNew" dark color="amber-13" label="เนื้อหาใหม่" />
      </div>
      <div class="q-ma-md">
        <div class style="width:560px" align="left">รูปภาพสไลด์</div>
      </div>
      <div class="brk" style="width:350px">
        <!-- image input -->
        <div class="q-pt-md">
          <!-- show image -->
          <img
            v-if="addGrammar.imgURL == ''"
            class
            src="../../statics/image/noimage.jpg"
            alt
            style="width: 320px; height:180px"
          />
          <img
            v-else
            :src="addGrammar.imgURL"
            style="max-width: 320px; width: 100%; height:180px object-fit:scale-down "
            controls
          />
        </div>
        <!-- input image -->
        <div v-show="addGrammar.imgURL == ''">
          <div class="row justify-center">
            <span class="q-pa-xs">รูปภาพ</span>
            <q-input
              style="width:250px"
              class="q-px-md"
              borderless
              dark
              v-model="fileImage"
              @input="val => { file = val[0] }"
              type="file"
              accept="image/jpeg"
            />
          </div>
        </div>
        <div v-show="addGrammar.imgURL != ''">
          <q-btn
            class="bg1 cl2 q-my-sm"
            style="width: 150px"
            label="ลบรูปภาพ"
            @click="deleteImage()"
          />
        </div>
      </div>
      <div class="q-ma-md">
        <div class style="width:560px" align="left">วิดีโอ</div>
      </div>
      <div class="brk" style="width:350px">
        <!-- video input -->
        <div class="q-pt-md">
          <!-- show video -->
          <img v-if="addGrammar.vdoURL == ''" class src="../../statics/image/novideo.jpg" alt />
          <video
            v-else
            :src="addGrammar.vdoURL"
            style="max-width: 320px; width: 100%; height:180px"
            controls
          />
        </div>
        <div class="row justify-center items-center" align="center">
          <!-- input video -->
          <div v-show="addGrammar.vdoURL == ''">
            <div class="row justify-center">
              <span class="q-pa-xs">วีดีโอ</span>
              <q-input
                style="width:250px"
                class="q-px-md"
                borderless
                dark
                v-model="fileVdo"
                @input="val => { file = val[0] }"
                type="file"
                accept="video/mp4"
              />
            </div>
          </div>
          <div v-show="addGrammar.vdoURL != ''">
            <q-btn
              class="bg1 cl2 q-my-sm"
              style="width: 150px"
              label="ลบวีดีโอ"
              @click="deleteVDO()"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-center q-ma-lg">
      <div>
        <q-btn class="bg7 cl3 q-mx-md" label="ยกเลิก" style="width:120px" @click="cancelBtn()" />
      </div>
      <div>
        <q-btn class="bg1 cl3 q-mx-md" label="บันทึก" style="width:120px" @click="saveBtn()" />
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
import { st } from "../../router/index.js";
export default {
  data() {
    return {
      addGrammar: {
        order: "", // รหัสลำดับ
        slideName: "", // ชื่อสไลด์
        imgURL: "", // เลือกไฟล์รูป
        vdoURL: "", // เลือกไฟล์วิดีโอ
        isNew: false, // ข้อเสนอแนะ
        status: "",
        practicekey: this.$route.params.key,
        level: this.$q.localStorage
          .getItem("practicemainLevelCurrent")
          .label.toString(),
        unit: this.$q.localStorage
          .getItem("practicemainUnitCurrent")
          .toString(),
        practicetype: "grammarlesson"
      },
      closeDel: true, //ปิดดับเบิ้ลคลิก
      fileImage: "",
      fileVdo: "",
      orderOld: "",
      slideNameOld: ""
    };
  },
  methods: {
    cancelBtn() {
      this.$router.push("/practice/vdogrammar/" + this.$route.params.key);
    },
    async saveBtn() {
      // this.addGrammar.practicekey = this.$route.params.key;

      this.loadingShow();
      if (this.addGrammar.order == "") {
        this.notifyRed("กรุณากรอกรหัสลำดับ");
        this.closeDel = true;
        this.loadingHide();
        return;
      }
      if (this.addGrammar.slideName == "") {
        this.notifyRed("กรุณากรอกชื่อสไลด์");
        this.closeDel = true;
        this.loadingHide();
        return;
      }

      let imageHave = this.fileImage.length;
      let vdoHave = this.fileVdo.length;

      let checkOrder = await db
        .collection("practicepool_draft")
        .where("order", "==", this.addGrammar.order)
        .where("practicekey", "==", this.addGrammar.practicekey)
        .get();
      let checkName = await db
        .collection("practicepool_draft")
        .where("slideName", "==", this.addGrammar.slideName)
        .where("practicekey", "==", this.addGrammar.practicekey)
        .get();
      this.addGrammar.status = "added";

      if (this.$route.name == "vdogrammaradd") {
        // add data
        // if (!this.closeDel) {
        //   return;
        // }

        if (checkOrder.size > 0) {
          this.notifyRed("รหัสลำดับซ้ำ");
          // this.closeDel = true;
          this.loadingHide();
          return;
        }
        if (checkName.size > 0) {
          this.notifyRed("ชื่อซ้ำ");
          // this.closeDel = true;
          this.loadingHide();
          return;
        }
        if (imageHave <= 0) {
          this.notifyRed("ไม่ได้เลือกรูปภาพ");
          // this.closeDel = true;
          this.loadingHide();
          return;
        }
        if (vdoHave <= 0) {
          this.notifyRed("ไม่ได้เลือกวีดีโอ");
          // this.closeDel = true;
          this.loadingHide();
          return;
        }
        this.closeDel = false; //ปิดดับเบิ้ลคลิก

        //เพิ่มข้อมูล
        let vdogrammar = await db
          .collection("practicepool_draft")
          .add(this.addGrammar);

        let getImage = await st
          .child("image/vdogrammar/" + vdogrammar.id + ".jpg")
          .put(this.fileImage[0]);

        let getImageURL = await getImage.ref.getDownloadURL();

        await db
          .collection("practicepool_draft")
          .doc(vdogrammar.id)
          .update({
            imgURL: getImageURL
          });

        let getVdo = await st
          .child("vdo/vdogrammar/" + vdogrammar.id + ".mp4")
          .put(this.fileVdo[0]);

        let getVdoURL = await getVdo.ref.getDownloadURL();

        await db
          .collection("practicepool_draft")
          .doc(vdogrammar.id)
          .update({
            vdoURL: getVdoURL
          });

        // db.collection("practicepool_draft")
        //   .add(this.addGrammar)
        //   .then(() => {
        this.loadingHide();
        this.closeDel = true; //ปิดดับเบิ้ลคลิก
        this.notifyGreen("บันทึกข้อมูลสำเสร็จ");
        this.$router.push("/practice/vdogrammar/" + this.$route.params.key);

        // });
      } else {
        // edit data
        // if (!this.closeDel) {
        //   return;
        // }

        if (this.addGrammar.imgURL == "" && imageHave <= 0) {
          this.notifyRed("ไม่ได้เลือกรูปภาพ");
          this.loadingHide();
          return;
        }
        if (this.addGrammar.vdoURL == "" && vdoHave <= 0) {
          this.notifyRed("ไม่ได้เลือกวีดีโอ");
          this.loadingHide();
          return;
        }
        this.closeDel = false; //ปิดดับเบิ้ลคลิก

        let vdoKey = this.$route.params.vdokey;

        // console.log(this.addGrammar.order);
        // console.log(this.orderOld);
        // return;

        if (
          this.addGrammar.order == this.orderOld &&
          this.addGrammar.slideName == this.slideNameOld
        ) {
          if (imageHave > 0) {
            // บันทึกภาพ
            let getImage = await st
              .child("image/vdogrammar/" + vdoKey + ".jpg")
              .put(this.fileImage[0]);

            let getImageURL = await getImage.ref.getDownloadURL();

            await db
              .collection("practicepool_draft")
              .doc(vdoKey)
              .update({
                imgURL: getImageURL
              });
          }

          if (vdoHave > 0) {
            // บันทึกวีดีโอ
            let getVdo = await st
              .child("vdo/vdogrammar/" + vdoKey + ".mp4")
              .put(this.fileVdo[0]);

            let getVdoURL = await getVdo.ref.getDownloadURL();

            await db
              .collection("practicepool_draft")
              .doc(vdoKey)
              .update({
                vdoURL: getVdoURL
              });
          }

          await db
            .collection("practicepool_draft")
            .doc(vdoKey)
            .update({
              order: this.addGrammar.order,
              slideName: this.addGrammar.slideName,
              isNew: this.addGrammar.isNew,
              status: this.addGrammar.status,
              practicetype: "grammarlesson"
            });

          this.notifyGreen("บันทึกข้อมูลสำเร็จ");
          this.loadingHide();
          this.$router.push("/practice/vdogrammar/" + this.$route.params.key);
        } else if (this.addGrammar.order == this.orderOld) {
          if (checkName.size > 0) {
            this.notifyRed("ชื่อซ้ำ");
            this.closeDel = true;
            this.loadingHide();
            return;
          }

          if (imageHave > 0) {
            // บันทึกภาพ
            let getImage = await st
              .child("image/vdogrammar/" + vdoKey + ".jpg")
              .put(this.fileImage[0]);

            let getImageURL = await getImage.ref.getDownloadURL();

            await db
              .collection("practicepool_draft")
              .doc(vdoKey)
              .update({
                imgURL: getImageURL
              });
          }

          if (vdoHave > 0) {
            // บันทึกวีดีโอ
            let getVdo = await st
              .child("vdo/vdogrammar/" + vdoKey + ".mp4")
              .put(this.fileVdo[0]);

            let getVdoURL = await getVdo.ref.getDownloadURL();

            await db
              .collection("practicepool_draft")
              .doc(vdoKey)
              .update({
                vdoURL: getVdoURL
              });
          }

          await db
            .collection("practicepool_draft")
            .doc(vdoKey)
            .update({
              order: this.addGrammar.order,
              slideName: this.addGrammar.slideName,
              isNew: this.addGrammar.isNew,
              status: this.addGrammar.status,
              practicetype: "grammarlesson"
            });

          this.notifyGreen("บันทึกข้อมูลสำเร็จ");
          this.loadingHide();
          this.$router.push("/practice/vdogrammar/" + this.$route.params.key);
        } else if (this.addGrammar.slideName == this.slideNameOld) {
          if (checkOrder.size > 0) {
            this.notifyRed("รหัสลำดับซ้ำ");
            this.closeDel = true;
            this.loadingHide();
            return;
          }

          if (imageHave > 0) {
            // บันทึกภาพ
            let getImage = await st
              .child("image/vdogrammar/" + vdoKey + ".jpg")
              .put(this.fileImage[0]);

            let getImageURL = await getImage.ref.getDownloadURL();

            await db
              .collection("practicepool_draft")
              .doc(vdoKey)
              .update({
                imgURL: getImageURL
              });
          }

          if (vdoHave > 0) {
            // บันทึกวีดีโอ
            let getVdo = await st
              .child("vdo/vdogrammar/" + vdoKey + ".mp4")
              .put(this.fileVdo[0]);

            let getVdoURL = await getVdo.ref.getDownloadURL();

            await db
              .collection("practicepool_draft")
              .doc(vdoKey)
              .update({
                vdoURL: getVdoURL
              });
          }

          await db
            .collection("practicepool_draft")
            .doc(vdoKey)
            .update({
              order: this.addGrammar.order,
              slideName: this.addGrammar.slideName,
              isNew: this.addGrammar.isNew,
              status: this.addGrammar.status,
              practicetype: "grammarlesson"
            });

          this.notifyGreen("บันทึกข้อมูลสำเร็จ");
          this.loadingHide();
          this.$router.push("/practice/vdogrammar/" + this.$route.params.key);
        } else {
          if (checkOrder.size > 0) {
            this.notifyRed("รหัสลำดับซ้ำ");
            this.closeDel = true;
            this.loadingHide();
            return;
          }
          if (checkName.size > 0) {
            this.notifyRed("ชื่อซ้ำ");
            this.closeDel = true;
            this.loadingHide();
            return;
          }

          if (imageHave > 0) {
            // บันทึกภาพ
            let getImage = await st
              .child("image/vdogrammar/" + vdoKey + ".jpg")
              .put(this.fileImage[0]);

            let getImageURL = await getImage.ref.getDownloadURL();

            await db
              .collection("practicepool_draft")
              .doc(vdoKey)
              .update({
                imgURL: getImageURL
              });
          }

          if (vdoHave > 0) {
            // บันทึกวีดีโอ
            let getVdo = await st
              .child("vdo/vdogrammar/" + vdoKey + ".mp4")
              .put(this.fileVdo[0]);

            let getVdoURL = await getVdo.ref.getDownloadURL();

            await db
              .collection("practicepool_draft")
              .doc(vdoKey)
              .update({
                vdoURL: getVdoURL
              });
          }

          await db
            .collection("practicepool_draft")
            .doc(vdoKey)
            .update({
              order: this.addGrammar.order,
              slideName: this.addGrammar.slideName,
              isNew: this.addGrammar.isNew,
              status: this.addGrammar.status,
              practicetype: "grammarlesson"
            });

          this.notifyGreen("บันทึกข้อมูลสำเร็จ");
          this.loadingHide();
          this.$router.push("/practice/vdogrammar/" + this.$route.params.key);
        }
        return;

        db.collection("practicepool_draft")
          .doc(this.$route.params.vdokey)
          .update(this.addGrammar)
          .then(() => {
            this.closeDel = true; //ปิดดับเบิ้ลคลิก
            this.notifyGreen("แก้ไขข้อมูลสำเสร็จ");
            this.$router.push("/practice/vdogrammar/" + this.$route.params.key);
            this.loadingHide();
          });
      }
    },
    loadGrammarData() {
      db.collection("practicepool_draft")
        .doc(this.$route.params.vdokey)
        .onSnapshot(doc => {
          this.addGrammar = doc.data();
          this.orderOld = doc.data().order;
          this.slideNameOld = doc.data().slideName;
          // doc.forEach(element => {
          //   let dataKey = { key: element.id };
          //   let dataFinal = { ...element.data(), ...dataKey };
          //   this.showData.push(dataFinal);
          // });
        });
    },
    deleteImage() {
      this.$q
        .dialog({
          title: "คุณต้องการรูปภาพใช่หรือไม่",
          dark: true,
          cancel: "ยกเลิก",
          ok: "ตกลง"
        })
        .onOk(() => {
          // หลอก
          // db.collection("vdotranslation")
          //   .doc(this.$route.params.vdokey)
          //   .update({ imageURL: "" });
          this.addGrammar.imgURL = "";
        });
    },
    deleteVDO() {
      this.$q
        .dialog({
          title: "คุณต้องการลบวิดีโอใช่หรือไม่",
          dark: true,
          cancel: "ยกเลิก",
          ok: "ตกลง"
        })
        .onOk(() => {
          // หลอก
          // db.collection("vdotranslation")
          //   .doc(this.$route.params.vdokey)
          //   .update({ imageURL: "" });
          this.addGrammar.vdoURL = "";
        });
    }
  },
  mounted() {
    if (this.$route.name == "vdogrammaredit") {
      this.loadGrammarData();
    }
  }
};
</script>

<style lang="scss" scoped>
.brk {
  border: solid 1px darkgray;
}
</style>


<i class="far fa-image"></i>