<template>
  <div>
    <div class="q-mx-md q-pt-md row items-center justify-between">
      <!-- ปุ่มสถานะ -->
      <div>
        <toggle-button
          :sync="true"
          :labels="{ checked: 'แบบร่าง', unchecked: 'เซิฟเวอร์' }"
          :height="40"
          :width="120"
          :color="{
          checked: ['#909090' ],
          unchecked: ['#388E3C']
        }"
          :font-size="16"
          v-model="status"
          @change="loadGrammarData()"
        />
      </div>

      <div class="text-h5">Grammar lesson | L{{level}} U{{unit}}</div>

      <div class="row">
        <div>
          <sync-button :practiceKey="practiceKey" :status="status"></sync-button>
        </div>
        <div class="q-px-md">
          <q-btn
            @click="printBtn()"
            :disable="!status"
            :class="{'bg5':status==false,'bg-amber-13':status}"
            round
            text-color="black"
            icon="fas fa-print"
          />
        </div>
        <!-- ปุ่มบวก -->
        <div>
          <q-btn
            @click="addSlide()"
            :disable="!status"
            :class="{'bg5':status==false,'bg-amber-13':status}"
            round
            text-color="black"
            icon="fas fa-plus"
          />
        </div>
      </div>
    </div>
    <!-- ตารางหลัก -->
    <div class="q-pa-md q-mb-xl">
      <q-table
        dark
        :data="showData"
        :columns="columns"
        row-key="name"
        :pagination.sync="pagination"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <!-- ลำดับ -->
            <q-td style="vertical-align:top" key="index" :props="props">
              <div class="q-mt-md">{{ props.row.no}}</div>
            </q-td>
            <!-- ชื่อสไลด์ -->
            <q-td style="vertical-align:top" key="slideName" :props="props">
              <div class="q-mt-md">{{ props.row.slideName}}</div>
            </q-td>
            <!-- รูปภาพ -->
            <q-td key="imgURL" :props="props">
              <div @click="vdoClick(props.row.no-1)">
                <img
                  style="width: 300px"
                  :src="props.row.imgURL !='' ? props.row.imgURL : '../../statics/image/noimage.jpg'"
                  alt
                />
                <div class="absolute-center bg-transparent">
                  <q-icon class="far fa-play-circle text-black" style="opacity: 0.6" size="100px" />
                </div>
              </div>
            </q-td>

            <q-td style="vertical-align:top" key="isNew" :props="props">
              <q-badge
                outline
                color="amber-13"
                label="เนื้อหาใหม่"
                v-show="props.row.isNew  == true "
                class="q-mt-md"
              />
              <q-badge
                outline
                color="grey-7"
                v-show="props.row.isNew  == false "
                label="เนื้อหาใหม่"
                class="q-mt-md"
              />
            </q-td>
            <!-- รหัสลำดับ -->
            <q-td style="vertical-align:top" key="order" :props="props">
              <div class="q-mt-md" align="center">{{ props.row.order }}</div>
            </q-td>
            <!-- ยกเลิกการลบ -->
            <q-td
              style="vertical-align:top; width:200px;"
              colspan="2"
              v-if="props.row.status == 'delete'"
            >
              <q-btn
                @click="redoDelete(props.row.key)"
                label="ยกเลิกการลบ"
                color="amber"
                text-color="black"
                class="q-mt-sm q-ml-md"
              ></q-btn>
            </q-td>
            <!-- ถังขยะลบ -->
            <q-td
              style="vertical-align:top; width:100px;"
              v-if="props.row.status !== 'delete'"
              key="delete"
              :props="props"
            >
              <!-- ถังขยะลบ -->
              <q-icon
                @click="deleteData(props.row.key)"
                class="cursor-pointer q-mt-md cl1"
                size="18px"
                name="fas fa-trash-alt"
                v-show="status"
              />
              <q-icon
                class="cl5 q-mt-md"
                size="18px"
                name="fas fa-trash-alt"
                v-show="!status"
                disabled
              />
            </q-td>
            <q-td
              style="vertical-align:top;  width:100px;"
              v-if="props.row.status !== 'delete'"
              key="edit"
              :props="props"
            >
              <!-- ดินสอแก้ไข -->
              <q-icon
                @click="editData(props.row.key)"
                class="cursor-pointer q-mt-md q-ml-xs cl1"
                size="18px"
                name="fas fa-edit"
                v-show="status"
              />
              <q-icon
                class="cl5 q-mt-md q-ml-xs"
                size="18px"
                name="fas fa-edit"
                v-show="!status"
                disabled
              />
            </q-td>
          </q-tr>
        </template>
      </q-table>
      <q-dialog v-model="vdoShow" persistent>
        <q-card class="bg4" style="width:500px">
          <q-card-section class="row items-center">
            <div class="text-h6">วีดีโอ</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section>
            <video style="width: 100%;" controls :poster="vdoPoster">
              <source :src="vdo" type="video/mp4" />
            </video>
          </q-card-section>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
import syncButton from "../../components/syncVdoButton.vue";
export default {
  components: {
    syncButton
  },
  data() {
    return {
      pagination: {
        rowsPerPage: 0
      },
      statusSync: true,
      status: true,
      showData: [],
      practiceKey: this.$route.params.key,
      practicename: "",
      level: "",
      unit: "",
      vdoShow: false,
      vdo: "",
      vdoPoster: "",
      columns: [
        {
          name: "index",
          label: "ลำดับ",
          align: "center",
          field: row => row.name,
          format: val => `${val}`,
          style: "width:100px"
        },
        {
          name: "slideName",
          align: "left",
          label: "ชื่อสไลด์",
          field: "slideName"
        },
        {
          name: "imgURL",
          align: "center",
          label: "วิดีโอ",
          field: "imgURL",
          style: "width:210px"
        },
        // {
        //   name: "vdoURL",
        //   align: "center",
        //   label: "วิดีโอ",
        //   field: "vdoURL",
        //   style: "width:210px"
        // },
        {
          name: "isNew",
          align: "center",
          label: "เนื้อหาใหม่",
          field: "isNew",
          style: "width:300px"
        },
        {
          name: "order",
          align: "center",
          label: "รหัสลำดับ",
          field: "order",
          style: "width:100px"
        },
        {
          name: "delete",
          align: "center",
          label: "ลบ"
        },
        {
          name: "edit",
          align: "center",
          label: "แก้ไข"
        }
      ],
      snaploaddata: []
    };
  },
  methods: {
    // โหลดตารางข้อมูล
    loadGrammarData() {
      this.showData = [];
      this.loadingShow();
      let dataFrom = "practicepool_draft";
      if (!this.status) {
        dataFrom = "practicepool_server";
      }
      // console.log(dataFrom);
      // this.snaploaddata();
      this.snaploaddata = db
        .collection(dataFrom)
        .where("practicekey", "==", this.$route.params.key)
        .onSnapshot(doc => {
          // console.log(doc.size);
          let dataTemp = [];
          doc.forEach(element => {
            let dataKey = { key: element.id };
            let dataFinal = { ...element.data(), ...dataKey };
            dataTemp.push(dataFinal);
            dataTemp.sort((a, b) => {
              return a.order - b.order;
            });
            dataTemp.forEach((element, index) => {
              element.no = index + 1;
            });
            this.showData = dataTemp;
          });
          this.loadDataName();
          this.loadingHide();
        });
    },
    // ปุ่มบวกเพิ่มข้อมูล
    addSlide() {
      this.$router.push("/practice/vdogrammaradd/" + this.$route.params.key);
    },
    // ยกเลิกการลบ
    redoDelete(key) {
      this.loadingShow();
      db.collection("practicepool_draft")
        .doc(key)
        .update({ status: "added" })
        .then(() => {
          this.notifyGreen("ยกเลิกการลบสำเร็จ");
          this.loadingHide();
        });
    },
    // ลบเนื้อหาสไลด์
    deleteData(key) {
      // console.log(key);
      this.$q
        .dialog({
          title: "ต้องการลบข้อมูลนี้หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก",
          dark: true
        })
        .onOk(() => {
          this.loadingShow();
          db.collection("practicepool_draft")
            .doc(key)
            .update({ status: "delete" })
            .then(() => {
              // this.notifyGreen("ลบสำเร็จ");
              this.loadingHide();
            });
        });
    },
    // แก้ไขสไลด์
    editData(key) {
      this.$router.push(
        "/practice/vdoGrammaredit/" + this.$route.params.key + "/" + key
      );
    },
    printBtn() {
      this.$router.push({
        name: "vdogrammarprint",
        params: {
          data: this.showData,
          level: this.level,
          unit: this.unit,
          key: this.$route.params.key
        }
      });
    },
    vdoClick(no) {
      this.vdoShow = true;
      this.vdo = this.showData[no].vdoURL;
      this.vdoPoster = this.showData[no].imgURL;
    },
    loadDataName() {
      // console.log("amm");
      let key = this.$route.params.key;
      db.collection("practicelist")
        .doc(key)
        .get()
        .then(doc => {
          // console.log(doc.data().level);
          // console.log(doc.data().unit);
          // console.log(doc.data().skill);
          this.level = doc.data().level;
          this.unit = doc.data().unit;
          db.collection("practiceListName")
            .where("level", "==", doc.data().level.toString())
            .where("unit", "==", doc.data().unit.toString())
            .where("skill", "==", doc.data().skill)
            .get()
            .then(doc2 => {
              // console.log(doc2.docs[0].data().name);
              this.practicename = doc2.docs[0].data().name;
            });
        });
    }
  },
  mounted() {
    this.loadGrammarData();
  },
  beforeDestroy() {
    this.snaploaddata();
  }
};
</script>

<style lang="scss" scoped>
</style>


