<template>
  <div class="bg6">
    <div id="printBtn">
      <q-toolbar class="bg-black text-white">
        <q-toolbar-title>
          <!-- <span>แบบฝึกหัด Grammar lesson</span> -->
        </q-toolbar-title>
        <q-btn
          class="q-mr-md"
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-print"
          @click="printBtn()"
        />
        <q-btn
          dark
          round
          size="12px"
          color="amber-13"
          text-color="black"
          icon="fas fa-times"
          @click="closeBtn()"
        />
      </q-toolbar>
    </div>

    <div align="center">
      <div class="bg7 shadow-1 printMe paper-a4 q-my-lg cl2">
        <div class="q-pa-md">
          <!-- หัวกระดาษ -->
          <div class="box q-pa-md row rounded-borders">
            <div class="col-4 relative-position">
              <div class="absolute-center">
                <img align="left" style="width:200px" src="../../statics/image/logowinner.png" />
              </div>
            </div>
            <div class="col-8 items-center row">
              <div class="text-h6 items-center col-12" align="center">
                <span>Grammar lesson&nbsp;</span>
                <span>| L{{level}}&nbsp;</span>
                <span>U{{unit}}</span>
                <hr style="width: 300px" />
                <div>{{$q.localStorage.getItem("practiceName")}}</div>
              </div>
            </div>
          </div>
        </div>
        <!-- เนิ้อหาบนกระดาษ -->
        <div class="q-pa-md">
          <span class="text-h6 q-py-sm"></span>
          <table class="text-h6" style="width:100%; border-collapse: collapse;">
            <thead>
              <tr>
                <td>
                  <div class="q-pt-md"></div>
                </td>
              </tr>
              <tr style="height: 30px;">
                <td class="box" align="center" style="width:60px">ลำดับ</td>
                <td class="box">
                  <div class="q-ml-md">ชื่อสไลด์</div>
                </td>
                <td class="box" align="center" style="width:100px">เนื้อหาใหม่</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item,index) in data" :key="index">
                <td
                  style="vertical-align:top;width:25px"
                  align="center"
                  class="box q-pt-md"
                >{{index+1}}</td>
                <td class="col box q-pa-md">
                  <!-- ชื่อสไลด์ -->
                  <div>
                    <span class="q-pr-md">{{item.slideName}}</span>
                  </div>
                  <!-- รูปภาพ -->
                  <div>
                    <q-img :src="item.imgURL" style=" width: 605px;height:340px">
                      <template v-slot:error>
                        <div>
                          <img src="../../statics/image/noimage-flashcard.jpg" alt />
                        </div>
                      </template>
                    </q-img>
                  </div>
                </td>
                <td class="col box q-ma-md" style="vertical-align:top">
                  <!-- เนื้อหาใหม่ -->
                  <div align="center">
                    <span>
                      <q-icon class="q-mt-md" name="fas fa-check" v-show="item.isNew  == true " />
                    </span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: this.$route.params.data,
      level: this.$route.params.level,
      unit: this.$route.params.unit
    };
  },
  methods: {
    printBtn() {
      window.print();
    },

    closeBtn() {
      //   this.$router.go(-1);
      this.$router.push("/practice/vdogrammar/" + this.$route.params.key);
    }
  },
  mounted() {
    if (this.$route.params.data == undefined) {
      this.$router.go(-1);
    }
  }
};
</script>

<style scoped>
.box {
  border: 1px solid #5c5c5c;
}
.paper-a4 {
  background: #ffffff;
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }
  .paper-a4 {
    background: #ffffff;
    width: 210mm;
    height: fit-content;
  }

  .bg6 {
    background-color: #ffffff;
  }

  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  width: 210mm;
  height: 297mm;
  /* size: landscape; portrait */
}
</style>