<template>
  <q-layout view="lHh Lpr lFf">
    <q-header class="bg3 cl6" elevated>
      <q-toolbar>
        <q-btn
          class="cl7"
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />

        <q-toolbar-title class="cl7 row">
          <div v-if="$route.name == 'monitor'">ระบบติดตาม</div>
          <div v-if="$route.name == 'level'">ระดับการเรียน</div>
          <div v-if="$route.name == 'practice'">แบบฝึกหัด</div>

          <div v-if="$route.name == 'userprofile'">แก้ไขข้อมูลส่วนตัว</div>
          <!-- start translation -->
          <div v-if="$route.name == 'translation'">
            <router-link class="cl7" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            <span class="cl7">translation</span>
          </div>
          <div v-if="$route.name == 'translationadd'">
            <router-link class="cl7" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            <router-link class="cl7" :to="'/practice/translation/' + $route.params.key">translation</router-link>&nbsp;>
            <span class="cl7">เพิ่ม Translation</span>
          </div>
          <div v-if="$route.name == 'translationedit'">
            <router-link class="cl7" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            <router-link class="cl7" :to="'/practice/translation/' + $route.params.key">translation</router-link>&nbsp;>
            <span class="cl7">แก้ไข Translation</span>
          </div>
          <div v-if="$route.name == 'translationvdo'">
            <router-link class="cl7" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            <router-link class="cl7" :to="'/practice/translation/' + $route.params.key">translation</router-link>&nbsp;>
            <span class="cl7">VDO</span>
          </div>
          <div v-if="$route.name == 'translationvdoadd'">
            <router-link class="cl7" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            <router-link class="cl7" :to="'/practice/translation/' + $route.params.key">translation</router-link>&nbsp;>
            <router-link class="cl7" :to="'/practice/translationvdo/' + $route.params.key">VDO</router-link>&nbsp;>
            <span class="cl7">เพิ่มวีดีโอ Translation</span>
          </div>
          <div v-if="$route.name == 'translationvdoedit'">
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            <router-link class="cl7" :to="'/practice/translation/' + $route.params.key">translation</router-link>&nbsp;>
            <router-link class="cl7" :to="'/practice/translationvdo/' + $route.params.key">VDO</router-link>&nbsp;>
            <span class="cl7">แก้ไขวีดีโอ Translation</span>
          </div>
          <!-- start flashCard -->
          <div v-if="$route.name == 'flashcard'">
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            flashcard
          </div>
          <div v-if="$route.name == 'flashcardadd'">
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            <router-link
              class="text-white"
              :to="'/practice/flashcard/' + $route.params.key"
            >flashcard</router-link>&nbsp;>
            เพิ่มคำศัพท์
          </div>
          <div v-if="$route.name == 'flashcardedit'">
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            <router-link
              class="text-white"
              :to="'/practice/flashcard/' + $route.params.key"
            >flashcard</router-link>&nbsp;>
            แก้ไขคำศัพท์
          </div>
          <!-- vdo Grammar -->
          <div v-if="$route.name == 'vdogrammar'">
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            Grammar lesson
          </div>
          <div v-if="$route.name == 'vdogrammaradd'">
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            <router-link
              class="text-white"
              :to="'/practice/vdogrammar/' + $route.params.key"
            >Grammar lesson</router-link>&nbsp;> เพิ่มวิดีโอ
          </div>
          <div v-if="$route.name == 'vdogrammaredit'">
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            <router-link
              class="text-white"
              :to="'/practice/vdogrammar/' + $route.params.key"
            >Grammar lesson</router-link>&nbsp;> แก้ไขวิดีโอ
          </div>
          <!-- multiplechoice -->
          <div v-if="$route.name == 'multiplechoicemain'">
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            Multiple choices
          </div>
          <div v-if="$route.name == 'multiplechoiceadd' ">
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            <router-link
              class="text-white"
              :to="'/practice/multiplechoice/' + $route.params.key + '/' + $route.params.type "
            >Multiple choices</router-link>&nbsp;>
            เพิ่ม
          </div>
          <div v-if="$route.name == 'multiplechoiceedit' ">
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            <router-link
              class="text-white"
              :to="'/practice/multiplechoice/'+ $route.params.practicekey + '/' + $route.params.type  "
            >Multiple choices</router-link>&nbsp;>
            แก้ไข
          </div>

          <div v-if="$route.name == 'sound'">เสียง</div>
          <!-- Grammar Fill in the blank -->
          <div v-if="$route.name == 'fillinmain'">
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            Fill in the blank
          </div>
          <div v-if="$route.name == 'fillinadd' ">
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            <router-link
              class="text-white"
              :to="'/practice/fillin/' + this.$route.params.key"
            >Fill in the blank</router-link>&nbsp;>
            เพิ่มแบบฝึกหัด
          </div>
          <div v-if="$route.name == 'fillinedit' ">
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            <router-link
              class="text-white"
              :to="'/practice/fillin/' + this.$route.params.practicekey"
            >Fill in the blank</router-link>&nbsp;>
            แก้ไขแบบฝึกหัด
          </div>
          <!-- phonics -->
          <div v-if="$route.name == 'phonicsmain'">
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            Phonics lesson
          </div>
          <div v-if="$route.name == 'phonicsadd' ">
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            <router-link
              class="text-white"
              :to="'/practice/phonics/' + this.$route.params.key"
            >Phonics lesson</router-link>&nbsp;>
            เพิ่มแบบฝึกหัด
          </div>
          <div v-if="$route.name == 'phonicsedit' ">
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            <router-link
              class="text-white"
              :to="'/practice/phonics/' + this.$route.params.practicekey"
            >Phonics lesson</router-link>&nbsp;>
            แก้ไขแบบฝึกหัด
          </div>

          <!-- reading -->
          <div v-if="$route.name == 'readingmain'">
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            Reading
          </div>
          <div v-if="$route.name == 'readingadd' ">
            <!-- /practice/reading/:key/:type/:page -->
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            <router-link
              class="text-white"
              :to="'/practice/reading/' + this.$route.params.key + '/' +this.$route.params.type + '/2'"
            >Reading</router-link>&nbsp;>
            เพิ่มแบบฝึกหัด
          </div>
          <div v-if="$route.name == 'readingedit' ">
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            <router-link
              class="text-white"
              :to="'/practice/reading/' + this.$route.params.key + '/' +this.$route.params.type + '/2'"
            >Reading</router-link>&nbsp;>
            แก้ไขแบบฝึกหัด
          </div>
          <!-- Languagetips -->
          <div v-if="$route.name == 'languagetips'">
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            Language tips
          </div>
          <div v-if="$route.name == 'languagetipsedit' ">
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            <router-link
              class="text-white"
              :to="'/practice/languagetips/' + this.$route.params.key"
            >Language tips</router-link>&nbsp;>
            แก้ไขแบบฝึกหัด
          </div>
          <div v-if="$route.name == 'languagetipsadd' ">
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            <router-link
              class="text-white"
              :to="'/practice/languagetips/' + this.$route.params.key"
            >Language tips</router-link>&nbsp;>
            เพิ่มแบบฝึกหัด
          </div>
          <!-- Speaking Practice -->
          <div v-if="$route.name == 'conversationmain'">
            <router-link class="text-white" to="/practice">แบบฝึกหัด</router-link>&nbsp;>
            Speaking practice
          </div>

          <!-- คลังข้อสอบ -->
          <div v-if="$route.name == 'exam'">คลังข้อสอบ</div>
          <div v-if="$route.name == 'examadd'">
            <router-link to="/exam" class="text-white">คลังข้อสอบ</router-link>&nbsp;>
            เพิ่มข้อสอบ
          </div>
          <div v-if="$route.name == 'examedit'">
            <router-link to="/exam" class="text-white">คลังข้อสอบ</router-link>&nbsp;>
            แก้ไขข้อสอบ
          </div>
          <div v-if="$route.name == 'examsync'">
            <router-link to="/exam" class="text-white">คลังข้อสอบ</router-link>&nbsp;>
            แสดงข้อมูลซิงค์
          </div>

          <!-- วัดระดับ -->
          <div v-if="$route.name == 'placement'">วัดระดับ</div>
          <div v-if="$route.name == 'placementadd'">
            <router-link to="/placement" class="text-white">วัดระดับ</router-link>&nbsp;>
            เพิ่มข้อสอบวัดระดับ
          </div>
          <div v-if="$route.name == 'placementedit'">
            <router-link to="/placement" class="text-white">วัดระดับ</router-link>&nbsp;>
            แก้ไขข้อสอบวัดระดับ
          </div>

          <!-- แบบสอบถาม -->
          <div v-if="$route.name == 'questionnaire'">แบบสอบถาม</div>

          <!-- โรงเรียน -->
          <div v-if="$route.name == 'school'">โรงเรียน</div>
          <div v-if="$route.name == 'schooladd'">
            <router-link to="/school" class="text-white">โรงเรียน</router-link>&nbsp;> เพิ่มโรงเรียน
          </div>
          <div v-if="$route.name == 'schooledit'">
            <router-link to="/school" class="text-white">โรงเรียน</router-link>&nbsp;> แก้ไขโรงเรียน
          </div>

          <!-- นักเรียน -->
          <div v-if="$route.name == 'student'">นักเรียน</div>
          <div v-if="$route.name == 'studentaddcheck'">
            <router-link to="/student" class="text-white">นักเรียน</router-link>&nbsp;>
            เพิ่มนักเรียน
          </div>
          <div v-if="$route.name == 'studentadd'">
            <router-link to="/student" class="text-white">นักเรียน</router-link>&nbsp;>
            เพิ่มนักเรียน
          </div>

          <!-- คุณครู -->
          <div v-if="$route.name == 'teacher'">คุณครู</div>
          <div v-if="$route.name == 'teacheradd'">
            <router-link to="/teacher" class="text-white">คุณครู</router-link>&nbsp;> เพิ่ม
          </div>
          <div v-if="$route.name == 'teacheredit'">
            <router-link to="/teacher" class="text-white">คุณครู</router-link>&nbsp;> แก้ไข
          </div>

          <!-- ผู้ดูแลระบบ -->
          <div v-if="$route.name == 'user'">ผู้ดูแลระบบ</div>
          <div v-if="$route.name == 'useradd'">
            <router-link class="text-white" to="/user">ผู้ดูแลระบบ</router-link>&nbsp;> เพิ่ม
          </div>
          <div v-if="$route.name == 'useredit'">
            <router-link class="text-white" to="/user">ผู้ดูแลระบบ</router-link>&nbsp;> แก้ไข
          </div>
          <div v-if="$route.name == 'logout'">ออกจากระบบ</div>
          <div class="col text-right">
            <span class="text-body2 box q-px-sm">ปีการศึกษา {{termYear.term}}/{{termYear.year}}</span>
          </div>
        </q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-drawer class="cl7" v-model="leftDrawerOpen" show-if-above content-class="bg3">
      <q-list>
        <div class="relative-position">
          <div
            class="text-center text-h5 q-pt-sm cl2 bg1"
            style=" height:49px;width:100%"
          >Winner Adventures</div>
          <div style="height:1px ; width:100%" class="hr2"></div>
          <div class="q-pl-md q-pt-sm row f20 justify-between" style="height:65px;width:100%; ">
            <div class="text-center q-pt-sm col">{{ userData.name }}</div>
            <div class="q-pr-md q-pt-xs">
              <q-btn @click="openProfile()" size="md" round class="bg1 cl2">
                <q-icon size="md" name="fas fa-cog" />
              </q-btn>
            </div>
          </div>
        </div>
        <div style="height:1px ; width:100%" class="hr2"></div>
        <q-item clickable active-class="cl1" to="/monitor">
          <q-item-section avatar>
            <q-icon name="fas fa-desktop" />
          </q-item-section>
          <q-item-section>
            <q-item-label>ระบบติดตาม</q-item-label>
          </q-item-section>
        </q-item>
        <div style="height:1px ; width:100%" class="hr2"></div>

        <q-item
          v-show="userData.permissions.includes('menulevel')"
          clickable
          active-class="cl1"
          to="/level"
        >
          <q-item-section avatar>
            <q-icon name="fas fa-signal" />
          </q-item-section>
          <q-item-section>
            <q-item-label>ระดับการเรียน</q-item-label>
          </q-item-section>
        </q-item>
        <div style="height:1px ; width:100%" class="hr2"></div>
        <q-item
          v-show="userData.permissions.includes('menupractice')"
          clickable
          active-class="cl1"
          to="/practice"
        >
          <q-item-section avatar>
            <q-icon name="fas fa-book" />
          </q-item-section>
          <q-item-section>
            <q-item-label>แบบฝึกหัด</q-item-label>
          </q-item-section>
        </q-item>

        <q-item
          v-show="userData.permissions.includes('menusound')"
          clickable
          active-class="cl1"
          to="/sound"
        >
          <q-item-section avatar>
            <q-icon name="fas fa-volume-up" />
          </q-item-section>
          <q-item-section>
            <q-item-label>เสียง</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          v-show="userData.permissions.includes('menuexam')"
          clickable
          active-class="cl1"
          to="/exam"
        >
          <q-item-section avatar>
            <q-icon name="fas fa-file-alt" />
          </q-item-section>
          <q-item-section>
            <q-item-label>คลังข้อสอบ</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          v-show="userData.permissions.includes('menuplacement')"
          clickable
          active-class="cl1"
          to="/placement"
        >
          <q-item-section avatar>
            <q-icon name="fas fa-chart-line" />
          </q-item-section>
          <q-item-section>
            <q-item-label>วัดระดับ</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          v-show="userData.permissions.includes('menuquestionnaire')"
          clickable
          active-class="cl1"
          to="/questionnaire"
        >
          <q-item-section avatar>
            <q-icon name="fas fa-list" />
          </q-item-section>
          <q-item-section>
            <q-item-label>แบบสอบถาม</q-item-label>
          </q-item-section>
        </q-item>
        <div style="height:1px ; width:100%" class="hr2"></div>
        <q-item
          v-show="userData.permissions.includes('menuschool')"
          clickable
          active-class="cl1"
          to="/school"
        >
          <q-item-section avatar>
            <q-icon name="fas fa-school" />
          </q-item-section>
          <q-item-section>
            <q-item-label>โรงเรียน</q-item-label>
          </q-item-section>
        </q-item>
        <div style="height:1px ; width:100%" class="hr2"></div>
        <q-item
          v-show="userData.permissions.includes('menustudent')"
          clickable
          active-class="cl1"
          to="/student"
        >
          <q-item-section avatar>
            <q-icon name="fas fa-user-graduate" />
          </q-item-section>
          <q-item-section>
            <q-item-label>นักเรียน</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          v-show="userData.permissions.includes('menuteacher')"
          clickable
          active-class="cl1"
          to="/teacher"
        >
          <q-item-section avatar>
            <q-icon name="fas fa-chalkboard-teacher" />
          </q-item-section>
          <q-item-section>
            <q-item-label>คุณครู</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          v-show="userData.permissions.includes('menuadmin')"
          clickable
          active-class="cl1"
          to="/user"
        >
          <q-item-section avatar>
            <q-icon name="fas fa-user" />
          </q-item-section>
          <q-item-section>
            <q-item-label>ผู้ดูแลระบบ</q-item-label>
          </q-item-section>
        </q-item>
        <div style="height:1px ; width:100%" class="hr2"></div>

        <div class="fixed-bottom">
          <div class="hr2" style="height:1px ; width:100% "></div>
          <q-item clickable active-class="cl1" to="/logout">
            <q-item-section avatar>
              <q-icon name="fas fa-sign-out-alt" />
            </q-item-section>
            <q-item-section>
              <q-item-label>ออกจากระบบ</q-item-label>
            </q-item-section>
          </q-item>
          <div class="hr2" style="height:1px ; width:100% "></div>
        </div>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { db } from "../router/index.js";
export default {
  name: "MyLayout",

  data() {
    return {
      leftDrawerOpen: false,
      userData: this.$q.localStorage.getItem("userData"),
      levelData: [],
      termYear: this.$q.localStorage.getItem("termYear"),
      snapTermYear: null,
      snapLogOut: null
    };
  },
  methods: {
    loadlevel() {
      db.collection("level")
        .orderBy("level")
        .get()
        .then(doc => {
          doc.forEach(element => {
            let dataKey = {
              key: element.id
            };
            let final = {
              ...dataKey,
              ...element.data()
            };
            this.levelData.push(final);
            this.$q.localStorage.set("levelData", this.levelData);
            this.level();
          });
        });
    },
    checklogoutall() {
      let dataKey = "";
      db.collection("user")
        .where("userKey", "==", this.userData.userKey)
        .get()
        .then(doc => {
          doc.forEach(element => {
            dataKey = element.data().userKey;
          });
          if (this.userData.userKey != dataKey) {
            this.$q.localStorage.set("userData", "");
            this.$router.push("/");
          }
        });
    },
    level() {
      let final = [];
      this.levelData.forEach(element => {
        let temp = {
          label: element.level,
          value: element.key
        };
        final.push(temp);
        final.sort((a, b) => {
          return Number(a.label) - Number(b.label);
        });
        this.$q.localStorage.set("levelList", final);
      });
    },
    openProfile() {
      this.$router.push("/user/profile");
    },

    loadTermYear() {
      this.snapTermYear = db
        .collection("term")
        .doc("data")
        .onSnapshot(data => {
          this.$q.localStorage.set("termYear", data.data());
          this.termYear = this.$q.localStorage.getItem("termYear");
        });
    },

    checkVersion() {
      this.snapLogOut = db
        .collection("version")
        .doc("backend")
        .onSnapshot({ includeMetadataChanges: true }, doc => {
          if (doc.data().version != this.version) {
            window.location.reload(true);
          }
        });
    },

    checkExistUser() {
      if (!this.$q.localStorage.has("userData")) {
        this.$q.localStorage.clear();
        this.$router.push("/");
        return;
      }
      let userDataKey = this.$q.localStorage.getItem("userData").key;
      db.collection("user")
        .doc(userDataKey)
        .onSnapshot(data => {
          if (!data.exists) {
            this.$q.localStorage.set("userData", "");
            this.$router.push("/");
          }
        });
    }
  },
  mounted() {
    if (this.userData == "" || this.userData == null) {
      console.clear();
      this.$router.push("/");
      return;
    }
    this.checklogoutall();
    this.checkExistUser();
    this.loadTermYear();
    this.loadlevel();
    this.checkVersion();
  },
  beforeDestroy() {
    this.snapTermYear();
    this.snapLogOut();
  }
};
</script>
<style scoped>
.hr2 {
  background-color: #5c5c5c;
}
.box {
  border: 1px solid white;
}
</style>
